Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Use relative URLs for client app to enable context-based deployments
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
Labels: theme: angular, theme: react

change api-docs and management api docs include patterns default values to take into account the application context-path
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Use relative base href in index.html
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: theme: angular

Remove quotes around management api doc include pattern default value
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Revert base-href to absolute path
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
Labels: theme: angular, theme: react

Use relative path for Swagger UI in react client
  generators/client/templates/react/src/main/webapp/app/modules/administration/docs/docs.tsx.ejs
Labels: theme: react

Use relative paths in Vue client
  generators/client/templates/vue/webpack/webpack.common.js.ejs
Labels: none

Revert "change jhipster dependency to 7.0.0-SNAPSHOT"
  generators/generator-constants.js
Labels: theme: jhipster-internals

add context-path property to eureka and consul metadata map
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
Labels: theme: java

Add dependency on pipeline-pipe.
  package.json
Labels: theme: dependencies

Add configOptions to EnvironmentBuilder
  cli/environment-builder.js
Labels: theme: cli

Update dependencies
  package.json
Labels: theme: dependencies

Migrate to yeoman-generator@5
  cli/program.js
  generators/app/index.js
  generators/bootstrap/index.js
  generators/client/index.js
  generators/entities/index.js
  generators/entity/index.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/server/index.js
  test/app/composing.js
  test/cli/cli.spec.js
  test/entities/composing.js
  test/generator-base.spec.js
Labels: theme: cli, theme: front, theme: jhipster-internals, theme: java

Add unique feature to the generators.
  generators/app/index.js
  generators/client/index.js
  generators/common/index.js
  generators/cypress/index.js
  generators/database-changelog/index.js
  generators/entities/index.js
  generators/languages/index.js
  generators/page/index.js
  generators/server/index.js
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java

fix bad rebase
  generators/client/templates/vue/webpack/webpack.common.js.ejs
Labels: none

Update package-lock.json
  package-lock.json
Labels: theme: dependencies

Update generators/generator-constants.js
  generators/generator-constants.js
Labels: theme: jhipster-internals

Re-add Beta tag to Neo4j
  generators/server/prompts.js
Labels: theme: java

use some constant in generator-base-private
  generators/generator-base-private.js
  jdl/jhipster/database-types.js
  jdl/jhipster/field-types.js
Labels: theme: jhipster-internals

Bump npm version to 7.6.1
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/generator-constants.js
  test-integration/scripts/10-install-jhipster.sh
  test/generator-constants.spec.js
Labels: theme: CI Builds, theme: jhipster-internals

group constants on generator-private
  generators/generator-base-private.js
Labels: theme: jhipster-internals

set build constants
  generators/generator-base-private.js
Labels: theme: jhipster-internals

remove unsused imports
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Filter out page/sort/size as field names
  generators/entity/prompts.js
  jdl/jhipster/reserved-keywords.js
  jdl/jhipster/reserved-keywords/paging.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
Labels: theme: jhipster-internals

fixed some unit tests, use constants in app and aws generators
  generators/app/index.js
  generators/app/prompts.js
  generators/aws-containers/index.js
  generators/aws-containers/prompts.js
  generators/aws/index.js
  generators/aws/lib/s3.js
  generators/utils.js
  test/blueprint/entity-blueprint.spec.js
  test/blueprint/spring-controller-blueprint.spec.js
Labels: theme: jhipster-internals, theme: aws

Fix JS formating
  jdl/jhipster/reserved-keywords/paging.js
  jdl/validators/jdl-with-application-validator.js
Labels: none

Use "#!/usr/bin/env bash" for integration shell scripts for a better portability
  test-integration/generate-sample.sh
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/01-display-configuration.sh
  test-integration/scripts/02-display-tools.sh
  test-integration/scripts/03-system.sh
  test-integration/scripts/04-git-config.sh
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
  test-integration/scripts/12-generate-project.sh
  test-integration/scripts/13-replace-version-generated-project.sh
  test-integration/scripts/14-jhipster-info.sh
  test-integration/scripts/20-docker-compose.sh
  test-integration/scripts/20-no-memory-limit-elasticsearch.sh
  test-integration/scripts/21-tests-backend.sh
  test-integration/scripts/22-tests-frontend.sh
  test-integration/scripts/23-package.sh
  test-integration/scripts/24-tests-e2e.sh
  test-integration/scripts/25-sonar-analyze.sh
Labels: none

Fix test case too
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  test/jdl/test-files/realistic_sample.jdl
Labels: none

handle swagger with compression in gateway
  generators/server/templates/src/main/java/package/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/server/templates/src/test/java/package/web/filter/ModifyServersOpenApiFilterTest.java.ejs
Labels: theme: java

Prettify .yo-rc.json even if not modified.
  generators/bootstrap/index.js
  generators/info/index.js
Labels: none

Forward features parameter to the Generator class.
  generators/generator-base-blueprint.js
  generators/generator-base-docker.js
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Prettify .yo-rc.json from every folder. Fixes docker-compose.
  generators/bootstrap/index.js
Labels: none

Add prettier-plugin-packagejson to destination dependencies.
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/index.js
  generators/server/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java

Remove yo information
  generators/info/index.js
Labels: none

Use npm ci instead of npm install for building Docker image
  Dockerfile
Labels: none

add log error + refactoring for ModifyServersOpenApiFilter and ModifyServersOpenApiFilterTest
  generators/server/templates/src/main/java/package/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/server/templates/src/test/java/package/web/filter/ModifyServersOpenApiFilterTest.java.ejs
Labels: theme: java

Update index.js
  generators/page/index.js
Labels: none

Update index.js
  generators/page/index.js
Labels: none

Make skip-commit option hidden from help.
  generators/info/index.js
Labels: none

Apply suggestions from code review
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
