Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

correct expected application configuration
  test/jdl/converters/json-to-jdl-converter.spec.js
Labels: none

Add microfrontends to allowed-origins
  cli/import-jdl.js
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: cli, theme: java

correct expected application configuration
  test/jdl/jdl-importer.spec.js
Labels: none

Revert old watch script and add build-watch
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
Labels: theme: angular

generate gradle enterprise configuration (#14802)
  generators/ci-cd/templates/github-actions.yml.ejs
  generators/generator-base.js
  generators/generator-defaults.js
  generators/server/index.js
  generators/server/prompts.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  jdl/validators/application-validator.js
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/application-options.spec.js
Labels: theme: jhipster-internals, theme: java

exclude dependabot from changelist
  .github/release-drafter.yml
Labels: none

Improve microfrontend allowed-origins
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

Don't pass through gateway for standalone microservice i18n
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/application-config.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
Labels: theme: angular

Generate jwtSecretKey for gateways.
  generators/server/index.js
Labels: theme: java

Add JHIPSTER_SLEEP to jhipster-registry at docker app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Adjust to docker:app:up.
  generators/server/index.js
Labels: theme: java

Make readme more complete.
  generators/client/templates/common/README.md.jhi.client.ejs
Labels: none

Fix ident.
  generators/client/templates/angular/src/main/webapp/app/core/config/application-config.service.ts.ejs
Labels: theme: angular

Update generators/client/templates/common/README.md.jhi.client.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
Labels: none

Migrate to Eclipse Temurin
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/azure-app-service/templates/github/workflows/azure-app-service.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
  generators/ci-cd/templates/github-actions.yml.ejs
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: CI Builds

feat [CI] : Docker Image Build CI for Push image to github registry
  .github/workflows/docker-image-publish-github-registry.yml
Labels: theme: CI Builds

Use JDK 17
  generators/generator-constants.js
  test-integration/scripts/01-configure-azure.sh
Labels: theme: jhipster-internals

Release v7.2.0
  package-lock.json
  package.json
Labels: theme: dependencies

Allow Java 17 to be used
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

exclude dependabot from changelist (#16274)
  .github/release-drafter.yml
Labels: none

remove dead link
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
Labels: theme: java

enabled build cache when gradle enterprise is selected
  generators/server/templates/settings.gradle.ejs
Labels: theme: java

remove dead link (#16297)
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
