Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

more types
  jdl/models/jdl-field.ts
Labels: none

baby step in JDL to generator types matching
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.jhipster/Country.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.jhipster/Department.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.yo-rc.json
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-converter.ts
Labels: none

prettier
  jdl/__test-files__/json_to_jdl_converter/app_with_entities/.yo-rc.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.yo-rc.json
Labels: none

modeled JSONGeneratorJhipsterContent
  jdl/__test-files__/json_to_jdl_converter/app_with_entities/.yo-rc.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.yo-rc.json
  jdl/converters/types.ts
Labels: none

removing yo-rc.entities vs .jhipster file desync false positive error
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.jhipster/Country.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.jhipster/Department.json
  jdl/__test-files__/json_to_jdl_converter/app_with_inconsistent_information/.yo-rc.json
  jdl/converters/json-to-jdl-converter.ts
Labels: none

typesafe for json to jdl
  jdl/converters/types.ts
Labels: none

use some constants
  generators/java/support/checks/check-java.spec.ts
  generators/spring-boot/command.ts
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/types.ts
  testing/helpers.ts
Labels: none

typesafety on parsed-jdl-to-jdl-object
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/deployment-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/entity-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/types.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.ts
  jdl/jhipster/binary-options.ts
  jdl/jhipster/json-entity.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-entity.ts
  jdl/models/jdl-enum-value.spec.ts
  jdl/models/jdl-enum-value.ts
  jdl/models/jdl-enum.spec.ts
  jdl/models/jdl-enum.ts
  jdl/models/jdl-field.ts
  jdl/models/jdl-object.spec.ts
  jdl/models/jdl-object.ts
Labels: none

remove unneeded type attribute
  testing/helpers.ts
Labels: none

use grade 8.8-rc-1
  generators/gradle/templates/gradle/wrapper/gradle-wrapper.properties
Labels: theme: gradle

Update jdl/models/jdl-object.spec.ts
  jdl/models/jdl-object.spec.ts
Labels: none

Update jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
Labels: none

Update jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
Labels: none

Update jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
Labels: none

Update jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
Labels: none

Update jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
Labels: none

Apply suggestions from code review
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
Labels: none

adjusts for daily-builds
  .blueprint/generate-sample/command.mts
  .blueprint/generate-sample/generator.mjs
  test-integration/daily-builds/ng-mysql-es-noi18n-mapsid/.yo-rc.json
Labels: none

update spring-boot-dependencies bom to v3.3.0-RC1
  generators/spring-boot/resources/spring-boot-dependencies.pom
Labels: none

drop metrics-core dependency from pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: java, theme: maven

drop metrics-core from build.gradle
  generators/server/templates/build.gradle.ejs
Labels: theme: java

switch infinispan dependencies
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/internal/dependencies.ts
Labels: none

replace micrometer-registry-prometheus-simpleclient
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java, theme: maven

switch cassandra package to org.apache.cassandra
  generators/spring-data-cassandra/generator.js
Labels: none

adjusts for daily-builds (#26204)
  .blueprint/generate-sample/command.mts
  .blueprint/generate-sample/generator.mjs
  test-integration/daily-builds/ng-mysql-es-noi18n-mapsid/.yo-rc.json
Labels: none

configure JwtAuthenticationConverter using properties
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

add repository to update-spring-boot-dependencies workflow
  .github/workflows/update-spring-boot-dependencies.yml
Labels: theme: CI Builds

add ROLE_ to in memory credentials
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: none

Upgrade to Angular 18
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

Upgrade CLI to 18.0.0-rc.3
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

Revert tslib downgrade
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

override sub dependencies
  generators/angular/templates/package.json.ejs
Labels: theme: angular

add more overrides
  generators/angular/templates/package.json.ejs
Labels: theme: angular

add more overrides
  generators/angular/templates/package.json.ejs
Labels: theme: angular

fix overrides
  generators/angular/templates/package.json.ejs
Labels: theme: angular

Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body (#26210)
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: none

Sonar: Rename 'user' which hides the field declared at line 80
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Sonar: Rename 'user' which hides the field declared at line 80 (#26225)
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

don't delete User in DomainUserDetailsServiceITs
  generators/server/templates/src/test/java/_package_/security/DomainUserDetailsServiceIT.java.ejs
Labels: theme: java

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
