Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

set profiles for bootRun command
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

Disable coverage at json files
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

Update jest.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

Revert vue jest.
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

Add out of service value to angular only.
  generators/languages/templates/src/main/webapp/i18n/en/health.json.ejs
Labels: theme: i18n

Improvements to generate-blueprint (#18528)
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

update gradle git properties to get rid of slf4j warnings
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

update gradle git properties to get rid of slf4j warnings (#18535)
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Set cypress downloads and videos folders.
  generators/cypress/templates/cypress.json.ejs
Labels: none

Update generators/cypress/templates/cypress.json.ejs
  generators/cypress/templates/cypress.json.ejs
Labels: none

Increase name limit for oracle to 128
  generators/entity/prompts.js
Labels: theme: front, theme: java

Increase name limit for oracle to 128
  generators/entity/index.js
  generators/entity/prompts.js
  generators/generator-base.js
Labels: theme: front, theme: jhipster-internals, theme: java

Increase name limit for oracle to 128
  generators/entity/index.js
  generators/entity/prompts.js
  generators/generator-base.js
Labels: theme: front, theme: jhipster-internals, theme: java

Increase name limit for oracle to 128
  generators/generator-base.js
Labels: theme: jhipster-internals

Increase name limit for oracle to 128
  generators/generator-base.js
Labels: theme: jhipster-internals

Reduce vue branch threshold to 57 for microfrontends.
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

Update jest.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

Consider the translation option while generating the User entity response header alert message.
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: theme: java

Correctly prepare DELETE endpoint response
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: theme: java

fix admin menu not being shown until after a navigation
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
Labels: theme: vue

remove useless filter formatMillis
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs
Labels: theme: vue

Fallback swagger to default api
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

Blur date component to trigger validation.
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: theme: front

Add java:docker:arm64 script to build m1 compatible image at gradle
  generators/server/index.js
  generators/server/templates/gradle/docker.gradle.ejs
Labels: theme: java

Run prettier:format
  generators/entity/index.js
  generators/entity/prompts.js
Labels: theme: front, theme: java

Removed vars not used
  generators/entity/prompts.js
Labels: theme: front, theme: java

Use constant for Oracle
  generators/entity/prompts.js
Labels: theme: front, theme: java

Validate for Postgresql if table name limit is 63 character
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix user deleteAll for imperative sql.
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Simplify the condition.
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Refactor getConstraintNameWithLimit and fix constraint length
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix tests
  test/generator-base.spec.js
Labels: none

Update UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Update UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Add arm64 docker command to README
  generators/common/templates/README.md.jhi.ejs
Labels: theme: front, theme: java

Update generators/common/templates/README.md.jhi.ejs
  generators/common/templates/README.md.jhi.ejs
Labels: theme: front, theme: java

For Oracle, calculate constraint with 128 bytes
  generators/generator-base.js
Labels: theme: jhipster-internals

Tweaks for reactive-ms sample. (#18572)
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/server/index.js
  generators/server/templates/gradle/docker.gradle.ejs
Labels: theme: front, theme: java

Fix tests
  test/generator-base.spec.js
Labels: none

Use randomAlphanumeric instead of random for password in tests codes (#18530)
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java
