Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

move static dependency to the end of list
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

implemented suggested chages
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: java

Revert package-lock.json changes
  package-lock.json
Labels: theme: dependencies

Define variable for awaitility gradle version
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Rename variable for awaitility maven version
  generators/server/templates/pom.xml.ejs
Labels: theme: java

fix param name
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java

merged newer logic form main
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java

Update generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java

Prettier changes.
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Add Modular Needles RFC
  rfcs/5-jhipster-rfc-modular-needles.md
Labels: none

make husky script executable
  generators/common/index.js
Labels: theme: front, theme: java

Update r2dbc tc url
  generators/generator-base-private.js
Labels: theme: jhipster-internals

use testcontainers
  generators/generator-base-private.js
  generators/server/cleanup-h2.js
  generators/server/cleanup-sql.js
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test-integration/scripts/21-tests-backend.sh
Labels: theme: jhipster-internals, theme: java

testcontainers for sql and unit tests passing
  generators/generator-base-private.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/index.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/utils/expected-files.js
Labels: theme: jhipster-internals, theme: java

fix gradle implementation for testcontainer sql
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

remove webservletconfigurer tests
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/utils/expected-files.js
Labels: theme: java

align server port with h2mem configuration
  generators/generator-base-private.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application-prod.yml.ejs
  utils/liquibase.js
Labels: theme: jhipster-internals, theme: java

raise memory for integration tests
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MsSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/PostgreSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  package-lock.json
Labels: theme: dependencies, theme: java

mailtests compatible with dirtiescontext
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
Labels: theme: java

use springcontextcustomizer for sql testcontainers bootstrap
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-constants.js
  generators/server/cleanup-sql.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/ReactiveSqlTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedSQL.java.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MsSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/PostgreSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/SqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/resources/config/application-dev.yml.ejs
  generators/server/templates/src/test/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/generator-base-private.spec.js
  test/utils/expected-files.js
Labels: theme: jhipster-internals, theme: java

remove testcontainer disposablebean properties
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MsSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/PostgreSqlTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

refactor mailserviceIt
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/AsyncSyncConfiguration.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
Labels: theme: java

add mail templates in tests to avoir relative url issue
  generators/server/files.js
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/AsyncSyncConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/test/resources/config/application-testprod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/test/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/test/resources/templates/mail/passwordResetEmail.html.ejs
Labels: theme: java

add mail template creation to blockhound exceptions
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

add a sync async configuration
  generators/server/templates/src/test/java/package/config/AsyncSyncConfiguration.java.ejs
Labels: theme: java

renamed test profiles
  generators/server/files.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/AsyncConfiguration.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/AsyncSyncConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/test/resources/config/application-testprod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

move kafka binding to avoid test breakage
  generators/generator-base-private.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/templates/src/main/java/package/config/AsyncConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/test/resources/config/application-testdev.yml.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/generator-base-private.spec.js
  test/utils/expected-files.js
  utils/liquibase.js
Labels: theme: jhipster-internals, theme: java

use mariadb instead of mysql in blogstore jdl 'till error persist
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/resources/config/application-testdev.yml.ejs
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
Labels: theme: java

reorder gradle dependencies
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
Labels: theme: java

resync with main
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/templates/build.gradle.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: java

lowers ram for mysql & maria containers
  generators/server/files.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/config/mariadb/my.cnf
  generators/server/templates/src/main/docker/config/mysql/my.cnf
  generators/server/templates/src/main/docker/mariadb.yml.ejs
  generators/server/templates/src/main/docker/mysql.yml.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/src/test/resources/testcontainers/mysql/my.cnf
Labels: theme: java

rebased with main
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Change common generator to use writeFiles instead of writeFilesToDisk.
  generators/common/files.js
Labels: theme: front, theme: java

Switch microservice test to MongoDB
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: none

Remove running chmod against the husky script
  generators/common/index.js
Labels: theme: front, theme: java

Make husky script executable (#18748)
  generators/common/files.js
Labels: theme: front, theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

starts docker compose after backend tests, switch back to mongo and mariad on ms-mf
  .github/workflows/angular.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/server/templates/src/main/docker/config/mariadb/my.cnf
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/src/test/resources/testcontainers/mariadb/my.cnf
  test-integration/scripts/24-docker-compose.sh
Labels: theme: CI Builds, theme: java

fix: remove constraint for login function
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: none

refines some userdetails service methods
  generators/server/templates/src/main/docker/config/mariadb/my.cnf
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/resources/testcontainers/mariadb/my.cnf
Labels: theme: java
