Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

remove parseCommonRuntimeOptions and loadRuntimeOptions
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/support/config.mts
  generators/base-core/generator.mts
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/command.mts
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/base/shared-data.mts
  generators/base/types.d.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/generator.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/entities/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/languages/generator.mjs
  generators/page/generator.mjs
  generators/server/generator.mjs
  generators/workspaces/generator.mjs
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java

drop unused docker-cli
  generators/base-docker/docker-cli.mjs
Labels: none

implement base-workspaces
  generators/base-application/generator.mts
  generators/base-core/generator.mts
  generators/base-workspaces/generator.mts
  generators/base-workspaces/index.mts
  generators/base/shared-data.mts
  generators/workspaces/command.mts
  generators/workspaces/generator.mjs
  test/support/helpers.mts
Labels: theme: jhipster-internals

execute sample generation with skip-checks
  .blueprint/generate-sample/support/generate-sample.js
Labels: none

export entire .yo-rc.json file at info
  .blueprint/from-issue/generator.mjs
  generators/info/generator.mts
  generators/info/support/index.mts
  generators/info/support/utils.mts
Labels: none

more info adjusts
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/info/generator.mts
Labels: theme: jhipster-internals

use base-workspaces apis at workspaces
  generators/base-core/generator.mts
  generators/base-workspaces/generator.mts
  generators/jdl/generator.mts
  generators/workspaces/generator.mjs
Labels: none

rename applicationFolders to appsFolders to match deployments
  generators/base-workspaces/generator.mts
  generators/workspaces/command.mts
  generators/workspaces/generator.mjs
Labels: none

cleanup base-docker and deployments
  generators/base-docker/docker-base.mjs
  generators/base-docker/generator.mjs
  generators/base-workspaces/internal/docker-dependencies.mts
  generators/base-workspaces/internal/index.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/support/check-docker.mjs
  generators/docker/support/index.mts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/generator.mjs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/generator.mjs
Labels: theme: docker :whale:, theme: kubernetes

reorganize base-docker
  generators/base-docker/utils.mjs
  generators/docker/generator.mjs
  generators/docker/support/docker-compose-file.mjs
  generators/docker/support/docker-compose-file.spec.mts
  generators/docker/support/index.mts
Labels: none

rework base-docker apis
  generators/aws/generator.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/cloudfoundry/generator.mjs
  generators/heroku/generator.mjs
  generators/server/internal/build-application.mjs
  generators/server/internal/index.mts
Labels: theme: java, theme: aws, theme: Heroku

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

continue base-docker removal
  generators/base-docker/docker-base.mjs
  generators/base-docker/docker-prompts.mjs
  generators/base-docker/generator.mjs
  generators/base-workspaces/internal/deployments.mts
  generators/base-workspaces/internal/index.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/generator.mjs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/generator.mjs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/generator.mjs
  jdl/jhipster/deployment-options.spec.ts
  jdl/jhipster/deployment-options.ts
Labels: theme: docker :whale:, theme: kubernetes

continue base-docker removal
  generators/base-docker/generator.mjs
  generators/base-workspaces/generator.mts
  generators/base-workspaces/internal/docker-base.mjs
  generators/docker-compose/docker-prompts.mjs
  generators/docker-compose/generator.mjs
  generators/gae/generator.mjs
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes-base.mjs
  generators/kubernetes/prompts.mjs
  generators/openshift/generator.mjs
  generators/openshift/prompts.mjs
Labels: theme: docker :whale:, theme: kubernetes

drop base-docker
  generators/base-docker/generator.mjs
  generators/base-docker/index.mts
  generators/base-workspaces/command.mts
  generators/base-workspaces/generator.mts
  generators/docker-compose/generator.mjs
  generators/docker/support/docker-compose-file.spec.mts
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/openshift/generator.mjs
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: docker :whale:, theme: kubernetes

improvements to workspaces and docker-compose
  generators/docker-compose/generator.mjs
  generators/workspaces/generator.mjs
Labels: theme: docker :whale:

simplify docker-compose implementation
  generators/base-workspaces/generator.mts
  generators/base-workspaces/index.mts
  generators/base-workspaces/internal/deployments.mts
  generators/base-workspaces/internal/docker-dependencies.mts
  generators/base/shared-data.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/command.mts
  generators/docker-compose/docker-compose.spec.mts
  generators/docker-compose/docker-prompts.mjs
  generators/docker-compose/files.mjs
  generators/docker-compose/generator.mjs
  generators/docker-compose/index.mts
Labels: theme: jhipster-internals, theme: docker :whale:

docker-compose derived properties
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

adjusts
  generators/base-workspaces/internal/docker-prompts.mjs
  generators/docker-compose/generator.mjs
  generators/gae/generator.mjs
  generators/kubernetes/prompts.mjs
  generators/openshift/prompts.mjs
Labels: theme: docker :whale:, theme: kubernetes

adjusts
  generators/base-workspaces/generator.mts
  generators/base-workspaces/internal/deployments.mts
  generators/base/generator-base-todo.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/generator.mjs
  generators/docker-compose/templates/prometheus-conf/prometheus.yml.ejs
  generators/server/support/config.mts
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:

more adjusts
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

adjust test
  jdl/models/jdl-deployment.spec.ts
Labels: none

add workspaces priorities.
  generators/base-workspaces/generator.mts
  generators/base-workspaces/priorities.mts
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

more adjusts
  generators/base-workspaces/generator.mts
Labels: none

implement bootstrap-workspaces
  generators/base-core/generator.mts
  generators/base-workspaces/command.mts
  generators/base-workspaces/generator.mts
  generators/base/shared-data.mts
  generators/bootstrap-workspaces/command.mts
  generators/bootstrap-workspaces/generator.mts
  generators/bootstrap-workspaces/index.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/docker-compose.spec.mts
  generators/docker-compose/generator.mjs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/workspaces/generator.mjs
  test/support/helpers.mts
  test/support/tests.mjs
Labels: theme: jhipster-internals, theme: docker :whale:, theme: kubernetes

adjusts
  generators/base-workspaces/generator.mts
  generators/bootstrap-workspaces/generator.mts
  generators/docker-compose/generator.mjs
Labels: theme: jhipster-internals, theme: docker :whale:

update snapshot
  test/__snapshots__/api.spec.mjs.snap
Labels: none

fix jhipster-registry adminPassword
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

fix loading of angular dependencies version.
  generators/workspaces/generator.mjs
Labels: none

pass reproducible to bootstrap-application
  generators/base-workspaces/generator.mts
Labels: none

Fix workspaces with memcached
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

fix typo
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

drop --with-entities option
  .blueprint/from-issue/generator.mjs
  .blueprint/generate-sample/support/generate-sample.js
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/generator-generate-blueprint.yml
  CONTRIBUTING.md
  generators/app/composing.spec.mts
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/command.mts
  generators/base/types.d.mts
  generators/liquibase/incremental-liquibase.spec.mts
  generators/project-name/generator.mjs
  generators/spring-data-cassandra/database-changelog.spec.mts
  generators/upgrade/generator.mjs
  test-integration/scripts/12-generate-project.sh
Labels: theme: CI Builds, theme: jhipster-internals, theme: upgrade

bump p-queue from 7.3.4 to 7.4.1
  package-lock.json
  package.json
Labels: theme: dependencies

drop generator-base-todo
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-workspaces/internal/docker-base.mjs
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/ci-cd/generator.mjs
  generators/cloudfoundry/generator.mjs
  generators/docker-compose/generator.mjs
  generators/entity/generator.mjs
  generators/gae/generator.mjs
  generators/heroku/generator.mjs
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/openapi-client/generator.mjs
  generators/openshift/generator.mjs
  generators/server/support/config.mts
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:, theme: Heroku, theme: kubernetes

rework devBlueprintPath
  cli/environment-builder.mjs
  cli/program.mjs
Labels: theme: cli

adjusts to argument parsing
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/jdl/generator.mts
Labels: none

fix build
  generators/base/generator.mts
  generators/client/support/config.mts
  generators/server/support/config.mts
Labels: theme: front, theme: jhipster-internals, theme: java

drop forceNoFiltering option
  generators/jdl/command.mts
  generators/jdl/generator.mts
  jdl/exporters/jhipster-entity-exporter.spec.ts
  jdl/exporters/jhipster-entity-exporter.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
Labels: none

update snapshot
  generators/jdl/__snapshots__/generator.spec.mts.snap
Labels: none

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
