Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

improve modularity
  generators/generator-defaults.js
  package-lock.json
Labels: theme: dependencies, theme: jhipster-internals

lint
  package-lock.json
Labels: theme: dependencies

Improve Maven Sub Generator
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-list.js
  generators/maven/config.js
  generators/maven/index.js
  generators/maven/templates/pom.xml.ejs
Labels: theme: jhipster-internals

Polish maven spec
  test/maven.spec.js
Labels: none

Fix default package name
  generators/maven/config.js
  generators/maven/index.js
  test/maven.spec.js
Labels: none

Polish by removing unused import
  generators/maven/index.js
Labels: none

[Vue] Clean code
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
Labels: none

[React] Clean code
  generators/client/templates/react/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/footer/footer.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
Labels: theme: react

[React] Improve migration to Jest 27
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
Labels: theme: react

Revert "chore(deps): bump commander from 7.2.0 to 8.0.0"
  package-lock.json
  package.json
Labels: theme: dependencies

Split init generator.
  cli/commands.js
  generators/config.js
  generators/generator-base.js
  generators/generator-list.js
  generators/init/index.js
  generators/init/options.js
  generators/options.js
  generators/project-name/config.js
  generators/project-name/index.js
  generators/project-name/options.js
Labels: theme: cli, theme: jhipster-internals

Move init.spec.js/snapshot into init folder.
  test/init/__snapshots__/init.spec.js.snap
  test/init/init.spec.js
  test/project-name/project-name.spec.js
Labels: none

Mark init and project-name as alpha.
  cli/commands.js
Labels: theme: cli

Adjusts to maven generator
  cli/commands.js
  generators/maven/config.js
  generators/maven/index.js
  test/maven.spec.js
  test/maven/maven.spec.js
Labels: theme: cli

Split maven generator.
  cli/commands.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-list.js
  generators/java-package-name/config.js
  generators/java-package-name/index.js
  generators/java-package-name/options.js
  test/java-package-name/project-name.spec.js
Labels: theme: cli, theme: jhipster-internals

Fix typo.
  test/generator-base.spec.js
  test/init/__snapshots__/init.spec.js.snap
  test/init/init.spec.js
  test/page.spec.js
  test/project-name/project-name.spec.js
Labels: none

Cleanup.
  generators/maven/index.js
Labels: none

Move java-package-name showPrompts to prompting.
  generators/java-package-name/index.js
Labels: none

downgrade gradle to 7.0.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

downgrade gradle to 7.0.1 (#15576)
  generators/generator-constants.js
Labels: theme: jhipster-internals

Rename child to fragment.
  utils/multi-step-transform/template-data.js
  utils/multi-step-transform/template-file-fs.js
  utils/multi-step-transform/template-file.js
Labels: none

Update generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
Labels: none

Fixed syntax error when parsing ingressType option
  jdl/parsing/validator.js
  test/jdl/grammar/validator.spec.js
Labels: none

Rename partials to fragments
  generators/client/templates/angular/README.md.jhi.client.angular.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.elastic_search.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.hibernate_cache.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_validation.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_cassandra.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_mongodb.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_neo4j.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_reactive.ejs
  utils/multi-step-transform/template-file.js
Labels: theme: angular, theme: java

Update Readme to new syntax and fixes.
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/common/templates/README.md.jhi.ejs
  utils/multi-step-transform/template-data.js
  utils/multi-step-transform/template-file-fs.js
  utils/multi-step-transform/template-file.js
Labels: none

Adjusts and typos.
  generators/common/templates/README.md.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  utils/multi-step-transform/index.js
Labels: theme: java

Update snapshots
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/__snapshots__/generator-base.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: none

Drop partial from sections.
  generators/client/templates/angular/README.md.jhi.client.angular.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.elastic_search.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.hibernate_cache.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_validation.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_cassandra.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_mongodb.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_neo4j.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_reactive.ejs
Labels: theme: angular, theme: java

Add sub-fragment example.
  generators/client/templates/angular/README.md.jhi.client.angular.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  utils/multi-step-transform/template-data.js
Labels: theme: angular

Simplify condition.
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
Labels: theme: java

Fallback to jhi at rewriteFile and replaceContent (needles).
  generators/utils.js
Labels: theme: jhipster-internals

Create a fragment object for children to check flags.
  generators/client/templates/angular/README.md.jhi.client.angular.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.elastic_search.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.hibernate_cache.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_validation.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_cassandra.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_mongodb.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_neo4j.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_reactive.ejs
  utils/multi-step-transform/template-data.js
Labels: theme: angular, theme: java

Fix dependabot p-queue ignored version
  .github/dependabot.yml
Labels: none

Ignore root dependabot updates at gh action, enable at azure.
  .github/workflows/angular.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Replace deprecated API for Kafka testcontainer
  generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT.java.ejs
Labels: theme: java

Fixed syntax error when parsing ingressType option (#15600)
  jdl/parsing/validator.js
  test/jdl/grammar/validator.spec.js
Labels: none

Temporarily use personal repository for tests
  .github/actions/setup/action.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Update to Spring Boot 2.5.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update to the latest Elasticsearch version
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update Cassandra dependencies
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
