Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Update postgres docker image version to 12.3
  generators/server/templates/src/main/docker/postgresql.yml.ejs
Labels: theme: java

Update test/cli/jdl.js
  test/cli/jdl.js
Labels: none

Upgrade @openapitools/openapi-generator-cli from 1.0.12-4.3.0 to 1.0.13-4.3.1
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/server/templates/package.json.ejs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: angular, theme: react, theme: java

Refine zh-tw localization.
  generators/languages/templates/src/main/webapp/i18n/zh-tw/audits.json
  generators/languages/templates/src/main/webapp/i18n/zh-tw/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/home.json
  generators/languages/templates/src/main/webapp/i18n/zh-tw/register.json
Labels: theme: i18n

Simplified and hopefully fixed e2e test
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

rework register page with vuelidate
  generators/client/templates/vue/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.vue.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
Labels: none

make sure gradle package works in gitlab ci for non docker environments out of box
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: none

add bootstrap-vue calendar in entity
  generators/client/templates/vue/src/main/webapp/app/shared/config/config-bootstrap-vue.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
Labels: none

add bootstrap-vue calendar in entity
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
Labels: none

Fix duplicate created method
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

Fix protactor format LocalDate
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: none

Define readinessProbe
  generators/kubernetes-knative/templates/service.yml.ejs
Labels: theme: kubernetes

Define livenessProbe
  generators/kubernetes-knative/templates/service.yml.ejs
Labels: theme: kubernetes

Define readinessProbe
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Define livenessProbe
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Define SERVER_SHUTDOWN graceful
  generators/kubernetes-knative/templates/service.yml.ejs
Labels: theme: kubernetes

Define SERVER_SHUTDOWN graceful
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Change kubernetes probes and define graceful shutdown
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Change kubernetes probes
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Define graceful shutdown
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Change kubernetes probes
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Define graceful shutdown
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Enforced the authenticationType to always be uaa when the appType is uaa
  jdl/bundling/generated/generated-serialized-grammar.js
  jdl/jhipster/default-application-options.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

Added chevrotain dep
  package-lock.json
  package.json
Labels: theme: dependencies

Added other dependencies
  package-lock.json
  package.json
Labels: theme: dependencies

refactor: remove dependencies
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

remove uxplanet bronze sponsor
  README.md
Labels: none

fix remove uxplanet bronze sponsor
  README.md
Labels: none

remove vpngorilla bronze sponsor
  README.md
Labels: none

remove manwoman bronze sponsor
  README.md
Labels: none

fix edubirdie bronze sponsor
  README.md
Labels: none

put back uxplanet bronze sponsor
  README.md
Labels: none

update redis to 6.0.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Generate the code of search option only when searchEngine option is present
  generators/entity/index.js
Labels: theme: jhipster-internals

Remove pager from react templates
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Upgrade to jhipster-dependencies 3.8.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to release of jhipster-dependencies
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

When prettier transform fails, print the file that failed.
  generators/generator-transforms.js
Labels: theme: jhipster-internals

change test condition notation to get searchEngine option
  generators/entity/index.js
Labels: theme: jhipster-internals

Update jboss/keycloak docker image verstion to 10.0.1
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/generator-constants.js
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:
