Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

workaround for neo4j with elasticsearch
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/repository/RepositoryMarker.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/search/SearchRepositoryMarker.java.ejs
Labels: theme: java

allow elasticsearch also for reactive application
  generators/server/prompts.js
  generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
Labels: theme: java

use component scan filter instead of marker classes
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/repository/RepositoryMarker.java.ejs
  generators/server/templates/src/main/java/package/repository/search/SearchRepositoryMarker.java.ejs
Labels: theme: java

Update jib version to 2.2.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

use component scan filter instead of marker classes
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Update kafka version to 5.5.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mongo version to 4.2.6
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update memcached version to 1.6.5-alpine
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update redis version to 5.0.9
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/prometheus version to v2.17.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update grafana/grafana version to 6.7.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update quay.io/coreos/prometheus-operator version to v0.38.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

add repository annotation again
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Update netty-common version to 4.1.49.Final
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update netty-common version to 4.1.49.Final
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Allow e2e credentials to be configured (#11448)
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
Labels: theme: angular, theme: react

fix for null constraint violation error introduced in 448d48ec (#11594)
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Updates dependencies (#11634)
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Add OSSRH snapshots repository to get jhipster lib snapshots
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Introduce new constants for SpringBoot and JhiDependencies version
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Neo4j & Elastic working with reactive (#11612)
  generators/entity/index.js
  generators/server/files.js
  generators/server/prompts.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistenceAuditEventRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

Remove useless success callback.
  cli/import-jdl.js
  cli/run-yeoman-process.js
Labels: theme: cli

Remove newErrorHandler for now.
  cli/utils.js
Labels: theme: cli

Remove success handlers when no auditing
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
Labels: theme: java

Remove unused imports
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
Labels: theme: java

Fix AccountResourceIT for reactive + session + nodb
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

Temporarily disable BlockHound to fix unstable webflux integration tests (#11600)
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix following update to Couchmove 2.0
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Fix following update to Couchmove 2.0 (#11640)
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Remove AuditEventService from SecurityConfig for reactive and no databaseType (#11623)
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  test-integration/samples/webflux-nodb-oauth2/.yo-rc.json
Labels: theme: java

use correct couchabse reactive repository base class
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

add missing commons codec dependency for couchbase
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

remove obsolete import
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

Enable couchbase entities in webflux tests
  .github/workflows/webflux.yml
Labels: theme: CI Builds

clean build.gradle and pom.xml from doubled codec dependency
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

fix audit event repository test to not check data attributes for neo4j
  generators/server/templates/src/test/java/package/repository/CustomAuditEventRepositoryIT.java.ejs
Labels: theme: java

fix audit event repository test to not check data attributes for neo4j (#11642)
  generators/server/templates/src/test/java/package/repository/CustomAuditEventRepositoryIT.java.ejs
Labels: theme: java

Change this.env.error to throw error
  generators/generator-base.js
Labels: theme: jhipster-internals

Print stacktrace with error message.
  cli/utils.js
Labels: theme: cli

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
