Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Update grafana/grafana docker image version to 8.1.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix Pageable in Couchbase Reactive
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

Add gradle-modernizer-plugin to detect legacy/deprecated API usage
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: java

Applied changes suggested
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/webpack/proxy.conf.js.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
Labels: theme: angular

Fix snapshots
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/03-psql/src/main/docker/postgresql.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/05-cassandra/src/main/docker/cassandra-cluster.yml
  test/templates/compose/05-cassandra/src/main/docker/cassandra.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/kafka.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
  test/templates/compose/11-mssql/src/main/docker/mssql.yml
Labels: none

authority check in SecurityUtils support array parameter
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
Labels: theme: java

Update archunit-junit5 version to 0.21.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update archunit-junit5 version to 0.21.0
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update maven-javadoc-plugin version to 3.3.1
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update checkstyle version to 9.0
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update nohttp-checkstyle version to 0.0.9
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: java

Install npm@7 at Dockerfile
  Dockerfile
Labels: none

Enable browser sync for microfrontend.
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/server/index.js
Labels: theme: angular, theme: java

Fix watch script
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Cleanup gateway config.
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_cassandra.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

Adjust gateway security rules.
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

Update index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
Labels: none

Adjusts.
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

Upgrade jhipster dependencies to 7.2.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to release of jhipster dependencies
  .github/actions/setup/action.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Don't overwrite .yo-rc.json at blueprint.
  generators/app/index.js
Labels: theme: jhipster-internals

Upgrade jhipster-registry to v7.0.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update snapshots with jhipster-registry v7.0.0
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: none

generate gradle enterprise configuration
  generators/generator-base.js
  generators/generator-defaults.js
  generators/server/index.js
  generators/server/prompts.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
Labels: theme: jhipster-internals, theme: java

support jdl import with gradle enterprise option
  generators/ci-cd/templates/github-actions.yml.ejs
  generators/generator-base.js
  generators/generator-defaults.js
  generators/server/index.js
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  jdl/validators/application-validator.js
Labels: theme: jhipster-internals, theme: java

fix gradle enterprise url handling
  generators/generator-base.js
Labels: theme: jhipster-internals

make gradle enterprise an experimental prompt
  generators/server/prompts.js
Labels: theme: java

update gradle enterprise plugin version
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Add arm64 build script. (#16211)
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
  generators/workspaces/index.js
Labels: theme: java

Upgrade to axios 0.21.4
  package-lock.json
  package.json
Labels: theme: dependencies

fix test assertation for new gradle enterprise properties
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jhipster/application-options.spec.js
Labels: none

Fixed #16244 load data issue for date columns
  utils/liquibase.js
Labels: none

Fixed code style
  utils/liquibase.js
Labels: none

Allow entities to define an entityPackage.
  generators/entity-server/files-couchbase.js
  generators/entity-server/files.js
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/couchbase/src/main/resources/config/couchmove/changelog/entity.fts.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/BaseEntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/repository/search/EntitySearchRepositoryMockConfiguration.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/server/index.js
  generators/server/needle-api/needle-server-cache.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
Labels: theme: jhipster-internals, theme: java

Add custom-package test entity.
  test-integration/samples/jdl-entities/custom-domain.jdl
Labels: none

fix test assertation for new gradle enterprise properties
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none

correct option name in github action template
  generators/ci-cd/templates/github-actions.yml.ejs
Labels: none

fix expected application contents
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none
