Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update generators/languages/templates/src/main/webapp/i18n/az-Latn-az/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/health.json.ejs
Labels: theme: i18n

fixing dayjs locale
  generators/languages/support/languages.mts
Labels: theme: i18n

fixing dayjs locale
  generators/languages/support/languages.mts
Labels: theme: i18n

move maven-failsafe-plugin out of profiles
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

[react] Add key attribute to fix translation
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

fixes to BaseApplication types
  generators/base-application/generator.mts
Labels: theme: jhipster-internals

Improve Pulsar tests
  generators/pulsar/__snapshots__/generator.spec.mts.snap
  generators/pulsar/files.mts
  generators/pulsar/templates/src/test/java/package/broker/PulsarIT.java.ejs
  generators/pulsar/templates/src/test/java/package/config/BrokerConfiguration.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

implement new gradle needle api
  generators/base/generator-base-todo.mjs
  generators/gae/generator.mjs
  generators/gradle/cleanup.mts
  generators/gradle/generator.mts
  generators/gradle/internal/needles.mts
  generators/gradle/needles.spec.mts
  generators/gradle/types.d.mts
  generators/heroku/generator.mjs
  generators/needle-api.mjs
  generators/openapi-client/files.mjs
  generators/server/needle-api/needle-server-gradle.mts
  test/needle-api/needle-server-gradle.spec.mts
Labels: theme: jhipster-internals, theme: java, theme: gradle, theme: Heroku

drop java IgnoreUnrecognizedVMOptions option
  generators/server/templates/pom.xml.ejs
Labels: theme: java

drop useOldISOCodes option
  .github/actions/setup/action.yml
  test-integration/scripts/01-configure-azure.sh
Labels: theme: CI Builds

[react] Add key attribute to fix translation
  generators/react/support/translate-react.mjs
Labels: theme: react

print profiles at banner
  generators/server/templates/src/main/resources/banner-no-color.txt
  generators/server/templates/src/main/resources/banner.txt
  generators/server/templates/src/main/resources/banner_react.txt
  generators/server/templates/src/main/resources/banner_vue.txt
Labels: theme: java

add missing environment to react-maven-h2mem-memcached sample
  test-integration/workflow-samples/react.json
Labels: none

use enableLiquibase variable
  generators/server/templates/pom.xml.ejs
Labels: theme: java

additional fixes to cache workflow
  .github/workflows/cache.yml
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
Labels: theme: CI Builds

use spring-boot 3 at open-api
  generators/server/templates/pom.xml.ejs
Labels: theme: java

additional fixes to cache workflow (#21659)
  .github/workflows/cache.yml
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
Labels: theme: CI Builds

Update generators/react/support/translate-react.mjs
  generators/react/support/translate-react.mjs
Labels: theme: react

[react] Add key attribute to fix translation
  generators/react/support/translate-react.mjs
Labels: theme: react

reimplement liquibase needles support
  generators/base/generator-base-todo.mjs
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/entities/generator.spec.mts
  generators/entity/single-entity.spec.mts
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/generator.mts
  generators/liquibase/internal/needles.mts
  generators/liquibase/needles.spec.mts
  generators/liquibase/types.d.mts
  generators/needle-api.mjs
  generators/server/needle-api/needle-server-liquibase.mts
  generators/server/types.d.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
Labels: theme: jhipster-internals, theme: java

fix maven properties with dots.
  generators/maven/__snapshots__/needles.spec.mts.snap
  generators/maven/needles.spec.mts
  generators/maven/support/pom-store.mts
Labels: theme: maven

add maven needle support to arrays
  generators/maven/generator.mts
  generators/maven/needles.spec.mts
  generators/maven/types.d.mts
Labels: theme: maven

Bump typescript from 4.9.5 to 5.0.3
  generators/info/generator.mts
  generators/sql/files.mts
  package-lock.json
  package.json
Labels: theme: dependencies

modularize pom.xml
  generators/cassandra/generator.mjs
  generators/couchbase/generator.mjs
  generators/elasticsearch/generator.mjs
  generators/kafka/generator.mts
  generators/maven/types.d.mts
  generators/mongodb/generator.mjs
  generators/neo4j/generator.mts
  generators/pulsar/generator.mts
  generators/server/templates/pom.xml.ejs
  generators/spring-cache/generator.mts
  generators/sql/generator.mts
Labels: theme: java, theme: maven

move more jdl tests
  jdl/bundle_test.html
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/__snapshots__/option-converter.spec.ts.snap
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/deployment-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/entity-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/field-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/exporters/applications/jhipster-application-exporter.spec.ts
  jdl/integration-test.spec.ts
  jdl/linters/issues/entity-issue.spec.ts
  jdl/linters/issues/enum-issue.spec.ts
  jdl/linters/issues/field-issue.spec.ts
  jdl/linters/issues/issues.spec.ts
  jdl/linters/issues/relationship-issue.spec.ts
  jdl/linters/jdl-linter.spec.ts
  jdl/linters/rule.spec.ts
  jdl/linters/rules.spec.ts
  jdl/parsing/dsl-api.spec.ts
  jdl/parsing/grammar.spec.ts
  jdl/parsing/lexer/lexer.spec.ts
  jdl/parsing/validator.spec.ts
Labels: none

Use "DEV" instead of "UNKNOWN" for default version
  generators/vue/templates/webpack/config.js.ejs
Labels: theme: vue

apply prettier
  jdl/__test-files__/jhipster_app/.jhipster/CassBankAccount.json
  jdl/__test-files__/jhipster_app/.jhipster/Country.json
  jdl/__test-files__/jhipster_app/.jhipster/Department.json
  jdl/__test-files__/jhipster_app/.jhipster/Employee.json
  jdl/__test-files__/json_to_jdl_converter/app_with_entities/.jhipster/JobHistory.json
  jdl/__test-files__/json_to_jdl_converter/with_authority/.jhipster/TestEntity.json
  jdl/__test-files__/json_to_jdl_converter/with_user/.jhipster/TestEntity.json
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/readers/json-reader.spec.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  jdl/validators/jdl-without-application-validator.spec.ts
Labels: none

Update generators/client/types.d.mts
  generators/client/types.d.mts
Labels: theme: front

cleanup one todo method (#21617)
  generators/base/generator-base-todo.mjs
  generators/client/generator.mjs
  generators/client/needle-api/needle-client.mts
  generators/client/needle-client.spec.mts
  generators/client/types.d.mts
Labels: theme: front, theme: jhipster-internals

add source object mocking.
  generators/base/generator-base.mts
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/entities/generator.spec.mts
  generators/entity/__snapshots__/single-entity.spec.mts.snap
  generators/entity/single-entity.spec.mts
  test/support/helpers.mts
Labels: theme: jhipster-internals

drop infinispan bom.
  generators/server/templates/pom.xml.ejs
Labels: theme: java

drop infinispan-bom from gradle
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: none

version is mandatory at annotation processors.
  generators/maven/support/pom-store.mts
  generators/maven/types.d.mts
Labels: theme: maven

reorganize constant versions
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/cassandra/generator.mjs
  generators/generator-constants.mts
  generators/openapi-client/files.mjs
  generators/server/generator.mjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  test-integration/scripts/00-init-env.sh
Labels: theme: jhipster-internals, theme: java

update .prettierignore
  .prettierignore
Labels: none

improvements to package-info transform
  generators/bootstrap-application-server/generator.mts
  generators/java/generator.mts
  generators/java/support/package-info-transform.mts
  generators/java/types.d.mts
  generators/kafka/generator.mts
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

readd test folder to mocha
  package.json
Labels: theme: dependencies

update snapshots
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
Labels: theme: jhipster-internals, theme: java

version is mandatory at annotation processors.
  generators/maven/support/pom-store.mts
  generators/maven/types.d.mts
Labels: theme: maven
