Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Removed other shared variable
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fixed selector
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Added missing parenthesis
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Added wait for toaster disappearance
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Reverted last two changes
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Waited on toaster to display for e2e test
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Simplified and hopefully fixed e2e test
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

fix: flaky react protractor test
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Update jib version to 2.4.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update neo4j docker image version to 4.0.5
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update redis docker image version to 6.0.5
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update jboss/keycloak docker image version to 10.0.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/prometheus docker image version to v2.19.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update grafana/grafana docker image version to 7.0.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update maven-war-plugin version to 3.3.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update spring-nohttp-checkstyle version to 0.0.5.RELEASE
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update liquibase plugin version to 2.0.4
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update jboss/keycloak docker image version to 10.0.2
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: java, theme: docker :whale:

fix: add a wait before checking for entity-menu
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fix failing react tests for infinite-scroll pagination
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Refactor and fix Azure pipeline
  generators/ci-cd/templates/azure-pipelines.yml.ejs
Labels: none

add basic react support for authority relationships
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/shared/model/authority.model.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

fix relations attribute access in react
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Integration tests: use zoneId from configuration instead of hard coded UTC
  generators/server/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
Labels: theme: java

fix gradle docker-push for non-docker environments
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: none

Revert "Update maven-war-plugin version to 3.3.0"
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update consul docker image version to 1.7.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Revert "Update spring-nohttp-checkstyle version to 0.0.5.RELEASE"
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-war-plugin version to 3.3.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update spring-boot version to 2.2.8.RELEASE
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.17.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update docker.elastic.co/elasticsearch/elasticsearch docker image version to 6.8.10
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to specific branch
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Login: add new login module and remove modal dialog
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access-service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/login/login-modal.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-login-modal.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/test.module.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

Angular: Fix test error
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
Labels: theme: angular

Angular: Fix build package error
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
Labels: theme: angular

restore EnableGlobalMethodSecurity for apps using UAA auth
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

Increment mocha timeout from 30000 to 60000 for languages tests
  package.json
Labels: theme: dependencies

Update Spring Boot version to 2.3.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.17.Final
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java
