Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Update prompts.js
  generators/openapi-client/prompts.js
Labels: none

Replace sync request with async request. (#12447)
  generators/openapi-client/prompts.js
Labels: none

fix linting and prettier problems
  generators/openapi-client/prompts.js
Labels: none

Use constant for images
  test/templates/compose/01-gateway/src/main/docker/app.yml
  test/templates/compose/02-mysql/src/main/docker/app.yml
  test/templates/compose/03-psql/src/main/docker/app.yml
  test/templates/compose/04-mongo/src/main/docker/app.yml
  test/templates/compose/05-cassandra/src/main/docker/app.yml
  test/templates/compose/06-uaa/src/main/docker/app.yml
  test/templates/compose/07-mariadb/src/main/docker/app.yml
  test/templates/compose/08-monolith/src/main/docker/app.yml
  test/templates/compose/09-kafka/src/main/docker/app.yml
  test/templates/compose/11-mssql/src/main/docker/app.yml
Labels: none

Fix logo placement on left for React applications
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
Labels: theme: react

correct the typo in CONTRIBUTING.md
  CONTRIBUTING.md
  jdl/bundling/dist/jdl-core.min.js
Labels: none

Fix unused FontAwesomeIcon import in account menu
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
Labels: theme: react

import removed
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
Labels: theme: java

Added test watcher for the JDL stuff
  package.json
Labels: theme: dependencies

Another request sync -> async api change.
  generators/openapi-client/prompts.js
Labels: none

Add use and for option tokens
  jdl/parsing/lexer/option-tokens.js
Labels: none

Remove unused files
  generators/docker-compose/files.js
  generators/docker-compose/templates/consul.yml.ejs
  generators/docker-compose/templates/kafka.yml.ejs
  generators/docker-compose/templates/keycloak.yml.ejs
  generators/docker-compose/templates/prometheus.yml.ejs
  generators/docker-compose/templates/traefik.yml.ejs
  test/docker-compose.spec.js
Labels: theme: docker :whale:

Add specialUnaryOptionDeclaration
  jdl/parsing/jdl-parser.js
Labels: none

Remove jhipster-registry.yml.ejs
  generators/docker-compose/files.js
  generators/docker-compose/templates/jhipster-registry.yml.ejs
  test/docker-compose.spec.js
Labels: theme: docker :whale:

Fix duration displayed in current locale
  generators/client/templates/react/src/main/webapp/app/shared/DurationFormat.tsx.ejs
Labels: theme: react

12471 remove unused validators import
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

12471 remove empty line
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

Add refresh button on user management listing
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

fix unused CachingHttpHeadersFilter import in WebConfigurerTest
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Add Refresh List button for entities with pagination
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

WiP
  cli/import-jdl.js
  jdl/converters/json-to-jdl-converter.js
  jdl/converters/json-to-jdl-option-converter.js
  jdl/readers/json-reader.js
  jdl/validators/new-business-error-checker.js
  test/jdl/converters/json-to-jdl-option-converter.spec.js
  test/jdl/models/jdl-object-merger.spec.js
  test/jdl/models/jdl-object.spec.js
  test/jdl/validators/business-error-checker.spec.js
Labels: theme: cli

Implemented the use-option in the AST builder
  jdl/parsing/ast-builder.js
  jdl/parsing/jdl-parser.js
  test/jdl/jdl-importer.spec.js
Labels: none

Fixed failing test
  test/jdl/grammar/dsl-api.spec.js
Labels: none

Added option values
  jdl/parsing/ast-builder.js
Labels: none

12471 special cases
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

Fix fontawesome icons menu for Vue
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
Labels: none

12471 retour PR
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

fix vuejs webpack logs level
  generators/client/templates/vue/package.json.ejs
Labels: none

Fix fontawesome icons menu for angular
  generators/client/templates/angular/src/main/webapp/app/core/icons/font-awesome-icons.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
Labels: theme: angular

Fix fontawesome icons menu for react
  generators/client/templates/react/src/main/webapp/app/config/icon-loader.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
Labels: theme: react

WIP: implementing map to binary options
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/jhipster/binary-options.js
  test/jdl/jdl-importer.spec.js
Labels: none

Add handleSyncList method for infinite scroll
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Fixed tests
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.js
  jdl/parsing/ast-builder.js
  test/jdl/converters/parsedJDLToJDLObject/application-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/option-converter.spec.js
  test/jdl/grammar/grammar.spec.js
Labels: none

Add handleSyncList method for no paginated entities
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Optimize code for sync lists
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

12471 required dependancies
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

--wip-- [skip ci]
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/jhipster/binary-options.js
Labels: none

Change User method getActivated -> isActivated
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Rewritten test
  test/jdl/jdl-importer.spec.js
Labels: none

Removed console statements
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
