Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

set pom profile id and activation order
  generators/maven/internal/pom-project-sort.ts
Labels: theme: maven

don't sort pom in pomStore
  generators/maven/generator.ts
Labels: theme: maven

clarify config default
  generators/base/api.d.ts
  lib/internal/config-def.ts
Labels: theme: jhipster-internals

adjusts
  generators/java/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/maven/__snapshots__/generator.spec.ts.snap
  generators/maven/__snapshots__/needles.spec.ts.snap
  generators/maven/command.ts
  generators/maven/generator.ts
  generators/maven/internal/pom-sort.ts
  generators/maven/support/pom-file-sort.ts
  generators/maven/support/pom-store.ts
Labels: theme: maven

update snapshot
  generators/app/__snapshots__/generator.spec.ts.snap
Labels: theme: jhipster-internals

sort build.gradle dependencies
  generators/gradle/generator.ts
  generators/gradle/internal/needles.ts
Labels: theme: gradle

sort catalog dependencies
  generators/gradle/generator.ts
  generators/gradle/internal/needles.ts
  generators/gradle/types.d.ts
Labels: theme: gradle

change needle position
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

don't sort maven pom imports
  generators/maven/internal/pom-sort.ts
Labels: theme: maven

add jhipster 7 behavior change
  generators/base/support/jhipster7-context.js
Labels: theme: jhipster-internals

Correct issue with invalid contraint being generated
  generators/liquibase/__snapshots__/incremental-liquibase.spec.ts.snap
  generators/liquibase/incremental-liquibase.spec.ts
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
Labels: none

update eslint to v9
  .eslintignore
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.js
  lib/eslint/recommended.js
  package-lock.json
  package.json
  test-integration/scripts/99-write-matrix.js
  tsconfig.spec.json
Labels: theme: CI Builds, theme: dependencies

rework eslint exported config.
  lib/eslint/base.js
  lib/eslint/index.js
  lib/eslint/recommended.js
  package.json
Labels: theme: dependencies

change prettier imports
  generators/bootstrap/generator.ts
  generators/bootstrap/support/prettier-support.ts
  generators/bootstrap/support/prettier-worker.js
Labels: theme: jhipster-internals

move eslint-worker to eslint v9
  generators/bootstrap/generator.ts
  generators/bootstrap/support/eslint-transform.spec.ts
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/eslint-worker.js
Labels: theme: jhipster-internals

eslint adjusts
  eslint.config.js
  lib/eslint/base.js
  package-lock.json
  package.json
  tsconfig.eslint.json
  tsconfig.spec.json
Labels: theme: dependencies

manual eslint fixes
  .blueprint/generate-sample/support/copy-jdl-entity-samples.js
  .blueprint/generate-sample/support/generate-sample.js
  .blueprint/update-vscode/generator.mjs
  .mocharc.cjs
  cli/environment-builder.mjs
  cli/program.mjs
  generators/base-application/support/prepare-field.js
  generators/base-core/generator.ts
  generators/base/internal/blueprint.js
  generators/base/support/faker.ts
  generators/base/support/jhipster7-context.js
  generators/bootstrap-application-base/generator.spec.ts
  generators/client/prompts.js
  generators/cypress/index.ts
  generators/info/generator.ts
  generators/java/generators/domain/generator.spec.ts
  generators/java/generators/openapi-generator/generator.ts
  generators/kubernetes-helm/generator.js
  generators/kubernetes-knative/generator.js
  generators/kubernetes/generator.js
  generators/kubernetes/prompts.js
  generators/server/types.d.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/jhipster/field-types.ts
  jdl/parsing/self-checks/parsing-system-checker.ts
  jdl/readers/json-reader.ts
  jdl/utils/format-utils.spec.ts
  test-integration/scripts/99-write-matrix.js
  test/integration-test.spec.ts
  testing/helpers.ts
Labels: theme: cli, theme: front, theme: jhipster-internals, theme: java, theme: kubernetes

fix test
  test/needle-api/needle-client-react-generator.spec.ts
Labels: none

use dependency fixed version
  package-lock.json
  package.json
Labels: theme: dependencies

Upgrade org.liquibase.gradle 3.0.0
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/liquibase/generator.ts
  generators/server/resources/gradle/libs.versions.toml
  generators/spring-boot/templates/settings.gradle.ejs
Labels: theme: jhipster-internals, theme: java, theme: gradle

Upgrade org.liquibase.gradle 3.0.0 (v2)
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/liquibase/generator.ts
  generators/server/resources/gradle/libs.versions.toml
Labels: theme: jhipster-internals, theme: java, theme: gradle

don't parse xml tag value when parsing
  generators/maven/internal/xml-store.ts
  generators/maven/support/dependabot-maven.spec.ts
  generators/maven/support/dependabot-maven.ts
Labels: theme: maven

add sort-imports to eslint base config
  lib/eslint/base.js
Labels: none

add more eslint rules to base
  lib/eslint/base.js
Labels: none

drop deprecated rules
  eslint.config.js
Labels: none

apply prettier
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway-route.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/headers.ts.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/problem-details.ts.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/domain/AssertUtils.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: theme: front, theme: angular

drop non required type
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
Labels: theme: angular

drop curly rule
  lib/eslint/base.js
Labels: none

adjust cypress eslint config
  generators/cypress/files.ts
  generators/cypress/generator.ts
  generators/cypress/templates/eslint.config.js.jhi.cypress.ejs
  generators/cypress/templates/src/test/javascript/cypress/.eslintrc.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/management.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/navbar.ts.ejs
Labels: none

update snapshot
  generators/cypress/__snapshots__/generator.spec.ts.snap
Labels: none

fix cypress
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
Labels: none

execute frontend test on cypress changes
  test-integration/scripts/99-build-changes.sh
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

fix non array argument
  generators/base-core/generator.ts
Labels: none

add ESLintPool and PrettierPool
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/eslint-worker.js
  generators/bootstrap/support/java-unused-imports-transform.ts
  generators/bootstrap/support/prettier-support.ts
Labels: theme: jhipster-internals

apply eslint/prettier to angular templates
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/config/translation.config.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front, theme: angular

react eslint adjusts
  generators/react/templates/eslint.config.js.jhi.react.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
Labels: theme: react

apply eslint/prettier to react templates
  generators/react/templates/jest.conf.js.ejs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/config/error-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/register/register.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/react/templates/src/main/webapp/app/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/DurationFormat.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/user-management.spec.ts.ejs
Labels: theme: react

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
