Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Fix rebase
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  test/jdl/jdl-importer.spec.js
Labels: none

Remove duplicate
  jdl/jhipster/application-options.js
Labels: none

migrate angularX to angular config value
  generators/client/index.js
Labels: theme: front

Rename ANGULAR_X by ANGULAR
  generators/generator-base.js
  generators/generator-constants.js
  jdl/jhipster/application-options.js
  jdl/jhipster/client-framework-types.js
  jdl/jhipster/default-application-options.js
  test/app-client-custom-path.spec.js
  test/app.spec.js
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/multiple-app-blueprints.spec.js
  test/blueprint/multiple-blueprints.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/client.spec.js
  test/cypress.spec.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
Labels: theme: jhipster-internals

Update blog-store.jdl
  test-integration/jdl-samples/ms-react-consul-jwt-cassandra-redis/blog-store.jdl
Labels: none

bump jest/expect stack and mocha.
  package-lock.json
  package.json
Labels: theme: dependencies

Fix #19267 Force a full user update
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

export icons directly from import.
  generators/client/templates/angular/src/main/webapp/app/config/font-awesome-icons.ts.ejs
Labels: theme: angular

Update liquibase version to 4.16.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update sql-constants.js
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/sql-constants.js
  test-integration/samples/vue-gradle-ws-session/.yo-rc.json
  test-integration/samples/vue-ws-theme/.yo-rc.json
  test/generator-base.spec.js
Labels: theme: jhipster-internals, theme: java

rework getDBCUrl
  generators/generator-base-private.js
Labels: theme: jhipster-internals

make database url calculation more dynamic.
  generators/generator-base-private.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/sql-constants.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals, theme: java

Update vue.json
  test-integration/workflow-samples/vue.json
Labels: none

[React] Profile menus labels are not updated after login using react
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
Labels: theme: react

Initial config of build npm script
  .gitignore
  package.json
  tsconfig.json
Labels: theme: dependencies

Init tsconfig.json
  tsconfig.json
Labels: none

Configure TS support in eslint
  .eslintrc.json
  package-lock.json
  package.json
Labels: theme: dependencies

Ignore some eslint rules
  .eslintrc.json
Labels: none

Set allowSyntheticDefaultImports to true
  tsconfig.json
Labels: none

Add dist folder to .eslintignore
  .eslintignore
Labels: none

Add include field to tsconfig.json
  tsconfig.json
Labels: none

Fix quotation in .eslintrc.json
  .eslintrc.json
Labels: none

Add dist folder to .prettierignore
  .prettierignore
Labels: none

Add npm script to copy files
  package-lock.json
  package.json
Labels: theme: dependencies

Add copy-files to build script
  package.json
Labels: theme: dependencies

Configure package.json "bin" to use build output
  package-lock.json
  package.json
Labels: theme: dependencies

Configure package.json "files" to use build output
  package.json
Labels: theme: dependencies

Configure package.json "main" to use build output
  package.json
Labels: theme: dependencies

Copy package.json to dist in build script
  package.json
Labels: theme: dependencies

Update application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

drop blueprint tests from test folder, they are tested modulary.
  test/blueprint/client-blueprint.spec.js
  test/blueprint/common-blueprint.spec.js
  test/blueprint/entity-blueprint.spec.js
  test/blueprint/entity-client-blueprint.spec.js
  test/blueprint/entity-i18n-blueprint.spec.js
  test/blueprint/entity-server-blueprint.spec.js
  test/blueprint/languages-blueprint.spec.js
  test/blueprint/server-blueprint.spec.js
  test/blueprint/spring-controller-blueprint.spec.js
  test/blueprint/spring-service-blueprint.spec.js
Labels: none

implement tasks typings.
  generators/bootstrap-application-client-server/types.d.ts
  generators/bootstrap-application-client/types.d.ts
  generators/bootstrap-application-server/types.d.ts
  generators/bootstrap-application/generator.mjs
  generators/bootstrap-application/types.d.ts
  generators/client/index.js
  generators/generator-base-blueprint.js
  generators/generator-base-entities.cjs
  generators/server/index.js
  package.json
  test/support/index.cjs
  types/application.d.ts
  types/tasks.d.ts
Labels: theme: dependencies, theme: front, theme: jhipster-internals, theme: java

update password reset page to use only react-form capabilities
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
Labels: theme: react

use new ValidatedTextInput element from react-jhipster
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

all react-client using the new ValidatedTextInput
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
Labels: theme: react

use the same data-cy handle for email in the reset password form
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
Labels: theme: angular, theme: vue

register form using validatetextinput
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
Labels: theme: react

update reset password using validatedinputform
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: theme: react

use react form for all react-cli account related forms
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
Labels: theme: react
