Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

Enable and Fix keycloak User Registration Config along with defaulting to 'User' group for newly registered users (#24765)
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/docker/realm-config/jhipster-realm.json.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/files.js
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
Labels: theme: docker :whale:, theme: kubernetes

Use rejectWithValue
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
Labels: theme: react

Update _entityFile_.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
Labels: theme: react

more params to devcontainer
  .devcontainer/devcontainer.json
Labels: none

more devcontainer properties
  .devcontainer/devcontainer.json
Labels: none

add few typesafe params
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/json-to-jdl-option-converter.ts
  jdl/converters/types.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-entity.ts
  jdl/models/jdl-field.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-options.ts
  jdl/models/jdl-unary-option.ts
Labels: none

amend typesafety
  jdl/converters/types.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-entity.ts
Labels: none

change tsconfig.app.json.ejs to properly find imports
  generators/vue/templates/tsconfig.app.json.ejs
Labels: theme: vue

fix bidirectional question
  generators/entity/prompts.js
Labels: none

move preparing to postPreparing
  generators/entity/generator.js
Labels: none

adjusts for composingComponent
  generators/base-application/priorities.js
  generators/base/priorities.js
Labels: theme: jhipster-internals

add alternative prompts snapshot
  generators/app/generator.spec.ts
Labels: theme: jhipster-internals

change tsconfig.app.json.ejs to properly find imports (#26098)
  generators/vue/templates/tsconfig.app.json.ejs
Labels: theme: vue

more types
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-entity.ts
  jdl/models/jdl-field.ts
  jdl/readers/json-reader.ts
Labels: none

type safety fix
  generators/info/generator.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-field.ts
Labels: none

Type safety - Incremental step 1 (#26096)
  .devcontainer/devcontainer.json
  generators/info/generator.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/json-to-jdl-option-converter.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-entity.ts
  jdl/models/jdl-field.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-options.ts
  jdl/models/jdl-unary-option.ts
  jdl/readers/json-reader.ts
Labels: none

add few typesafe params
  jdl/converters/types.ts
  jdl/models/jdl-field.ts
Labels: none

amend typesafety
  jdl/converters/types.ts
Labels: none

more types
  jdl/models/jdl-field.ts
Labels: none

more type safety
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/readers/json-reader.ts
Labels: none

bump execa from 8.0.1 to 9.0.0
  generators/info/generator.ts
  package-lock.json
  package.json
Labels: theme: dependencies

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

more type safety
  generators/base-application/support/entity.ts
  generators/base-application/support/relationship.ts
  generators/base/shared-data.ts
  generators/bootstrap-application-base/support/export-jdl-transform.ts
  generators/info/generator.ts
  generators/server/support/relationship.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/types.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration.ts
  jdl/models/jdl-application-definition.ts
  jdl/models/jdl-application-entities.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-deployment.ts
  jdl/models/string-jdl-application-configuration-option.ts
  jdl/readers/json-reader.ts
Labels: theme: jhipster-internals, theme: java

more type safety
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/types.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-binary-option.spec.ts
  jdl/models/jdl-unary-option.spec.ts
Labels: none

moving the jdl json objects elsewhere
  jdl/converters/types.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/parsing/jdl-parsing-types.d.ts
Labels: none

Sonar: Add a 'onKeyPress|onKeyDown|onKeyUp' attribute to this <span> tag
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.html.ejs
Labels: theme: angular

Type safety - Incremental step 2 (#26110)
  generators/base-application/support/relationship.ts
  generators/base/shared-data.ts
  generators/bootstrap-application-base/support/export-jdl-transform.ts
  generators/info/generator.ts
  generators/server/support/relationship.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/types.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration.ts
  jdl/models/jdl-application-definition.ts
  jdl/models/jdl-application-entities.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-binary-option.spec.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-unary-option.spec.ts
  jdl/models/string-jdl-application-configuration-option.ts
  jdl/parsing/jdl-parsing-types.d.ts
  jdl/readers/json-reader.ts
Labels: theme: jhipster-internals, theme: java

add few typesafe params
  jdl/models/jdl-field.ts
Labels: none

more types
  jdl/models/jdl-field.ts
Labels: none

more type safety
  jdl/converters/json-to-jdl-entity-converter.ts
Labels: none

more type safety - breaking jdl export
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/models/abstract-jdl-option.spec.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/boolean-jdl-application-configuration-option.ts
  jdl/models/integer-jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration.ts
  jdl/models/jdl-application.spec.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-enum-value.ts
  jdl/models/jdl-enums.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-options.spec.ts
  jdl/models/jdl-options.ts
  jdl/models/jdl-relationships.ts
  jdl/models/jdl-unary-option.ts
  jdl/models/jdl-validation.ts
  jdl/models/list-jdl-application-configuration-option.ts
  jdl/models/string-jdl-application-configuration-option.ts
  jdl/utils/array-utils.ts
  jdl/utils/set-utils.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  jdl/validators/jdl-with-application-validator.ts
  jdl/validators/jdl-without-application-validator.ts
Labels: none

Sonar: Add a 'onKeyPress|onKeyDown|onKeyUp' attribute to this <span> tag (#26107)
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.html.ejs
Labels: theme: angular

retrocompatibility on export jdl + typesafety
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/types.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-deployment.spec.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-enum.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-options.ts
  jdl/models/list-jdl-application-configuration-option.ts
  jdl/utils/array-utils.ts
Labels: none

more typesafety in JDL
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/types.ts
  jdl/jhipster/field-types.ts
  jdl/models/jdl-binary-option.ts
  jdl/validators/jdl-without-application-validator.ts
Labels: none

[Angular] style broken on the threads dump modal
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
Labels: theme: angular

Type safety - Incremental step 3 (#26111)
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/types.ts
  jdl/jhipster/field-types.ts
  jdl/models/abstract-jdl-option.spec.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/boolean-jdl-application-configuration-option.ts
  jdl/models/integer-jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-configuration-option.ts
  jdl/models/jdl-application-configuration.ts
  jdl/models/jdl-application.spec.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-deployment.spec.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-enum-value.ts
  jdl/models/jdl-enum.ts
  jdl/models/jdl-enums.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-options.spec.ts
  jdl/models/jdl-options.ts
  jdl/models/jdl-relationships.ts
  jdl/models/jdl-unary-option.ts
  jdl/models/jdl-validation.ts
  jdl/models/list-jdl-application-configuration-option.ts
  jdl/models/string-jdl-application-configuration-option.ts
  jdl/utils/array-utils.ts
  jdl/utils/set-utils.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  jdl/validators/jdl-with-application-validator.ts
  jdl/validators/jdl-without-application-validator.ts
Labels: none

more types
  jdl/models/jdl-field.ts
Labels: none

add few typesafe params
  jdl/models/jdl-field.ts
Labels: none

more type safety - breaking jdl export
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/list-jdl-application-configuration-option.ts
Labels: none

retrocompatibility on export jdl + typesafety
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/list-jdl-application-configuration-option.ts
Labels: none

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
