Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*

rework dtos
  generators/base-application/support/prepare-entity.ts
  generators/base-application/types/entity.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/java/generator.ts
  generators/server/support/build-specification-mapper.ts
  generators/server/support/index.ts
  generators/server/support/templates/field-values.js
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/mapper/_entityClass_Mapper.java.ejs
  generators/server/templates/src/main/java/_package_/service/dto/UserDTO.java.ejs
  generators/server/types.d.ts
Labels: theme: jhipster-internals, theme: java

dtos and non-dtos cannot be mixed
  test-integration/incremental-changelog-samples/liquibase-jdl-rename-field-post/app.jdl
  test-integration/incremental-changelog-samples/liquibase-jdl-rename-field/app.jdl
Labels: none

move spring-boot templates to specific generator
  generators/server/entity-files.js
  generators/server/files.js
  generators/server/generator.js
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/entity-cleanup.js
  generators/spring-boot/entity-files.js
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/_global_partials_entity_/it_patch_update.partial.java.ejs
  generators/spring-boot/templates/_global_partials_entity_/save_template.ejs
  generators/spring-boot/templates/reactive/_global_partials_entity_/save_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/delete_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_stream_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_filtered_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/inject_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/patch_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/search_stream_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/search_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/repository/UserRepository.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/_entityClass_QueryService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/_entityClass_Service.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/criteria/_entityClass_Criteria.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/impl/_entityClass_ServiceImpl.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/PublicUserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-data-relational/__snapshots__/sql-entities.spec.ts.snap
Labels: theme: java

fix check
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/mapper/_entityClass_Mapper.java.ejs
Labels: theme: java

build(deps): bump mysql from 8.2.0 to 8.3.0 in /generators/server/resources
  generators/server/resources/Dockerfile
Labels: theme: java

drop skip-host-cache option
  generators/docker/templates/docker/config/mysql/my.cnf
Labels: theme: docker :whale:

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

mysql 8.3.0
  generators/server/resources/Dockerfile
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-data-relational/internal/dependencies.ts
Labels: theme: java, theme: gradle

FakerJS 8.4.0: faker.number.float({ precision }) is deprecated
  generators/base-application/support/prepare-field.js
Labels: theme: jhipster-internals

FakerJS 8.4.0: faker.number.float({ precision }) is deprecated (#24981)
  generators/base-application/support/prepare-field.js
Labels: theme: jhipster-internals

[Angular] The signature '(error: any): Observable<never>' of 'throwError' is deprecated
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.spec.ts.ejs
Labels: theme: angular

Enable heartbeat in Consul discovery
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Add ip-address configuration for Consul discovery
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java

Prettier 3.2.4
  .prettierrc
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/templates/.prettierrc.ejs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: front, theme: java

Revert "build(deps): bump mysql from 8.2.0 to 8.3.0 in /generators/server/resources"
  generators/server/resources/Dockerfile
Labels: theme: java

refactor: add German translation keys for cache metrics
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/de/metrics.json
Labels: theme: i18n

refactor: add German translation keys for cache metrics (#24994)
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/de/metrics.json
Labels: theme: i18n

move key-store to java
  generators/java/support/index.ts
  generators/java/support/key-store.ts
  generators/server/cleanup-oauth2.ts
  generators/server/support/index.ts
Labels: theme: java

add parseCurrentJHipsterCommand
  generators/base-core/generator.ts
Labels: none

add type inference methods
  generators/base-application/support/index.ts
  generators/base-application/support/task-type-inference.ts
Labels: theme: jhipster-internals

move writing priority from server to spring-boot
  generators/server/cleanup.ts
  generators/server/command.ts
  generators/server/entity-files.js
  generators/server/files.js
  generators/server/generator.js
  generators/server/generator.spec.js
  generators/server/index.ts
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/cleanup-oauth2.ts
  generators/spring-boot/cleanup.ts
  generators/spring-boot/command.ts
  generators/spring-boot/entity-files.js
  generators/spring-boot/files.ts
  generators/spring-boot/generator.ts
  test/support/check-enforcements.ts
Labels: theme: java

drop v8 from stale exempt labels.
  .github/workflows/stale.yml
Labels: theme: CI Builds

ignore not relevant fields at model
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.model.ts.ejs
Labels: theme: angular

[Angular] Use Deferrable Views for logs page
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for UserManagementComponent
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for UserManagementComponent (#25032)
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

[Angular] Remove duplicated condition
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for JvmMemoryComponent
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
Labels: theme: angular

simplify list component
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

[Angular] Remove duplicated condition (#25040)
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for JvmMemoryComponent (#25041)
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for PasswordResetInitComponent
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
Labels: theme: angular

[Angular] Simplify template for PasswordResetInitComponent (#25042)
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
Labels: theme: angular

move authority to admin-entities folder.
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/bootstrap-application-base/utils.js
Labels: theme: angular, theme: jhipster-internals

add signal based sort components
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/files-angular.js
  generators/angular/templates/src/main/webapp/app/shared/sort/index.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-state.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.ts.ejs
Labels: theme: angular

[angular] add admin menus at to top
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
Labels: theme: angular

[angular] fix service name
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
Labels: theme: angular

[angular] generate user-management with entities
  generators/angular/entity-files-angular.ts
  generators/angular/files-angular.js
Labels: theme: angular

use sort signal at entity list
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

fix ng-zone warning
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular
