Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Revert inclusion of jhipster-framework for Liquibase
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update liquibase version to 4.10.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix Liquibase with MySQL and MariaDB
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix Gradle
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

Update docker.elastic.co/elasticsearch/elasticsearch docker image version to 7.17.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Use MariaDB testcontainers for reactive MySQL
  generators/server/files-sql.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

Substitute dev.miku:r2dbc-mysql reative MySql driver by r2dbc-mariadb
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

Update spring-boot version to 2.7.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.6.9.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

r2dbc:mysql connection uri should start by r2dbc:mariadb://
  generators/sql-constants.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Update liquibase version to 4.11.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Revert Liquibase to 4.6.1 because of issues with MariaDB
  generators/generator-constants.js
Labels: theme: jhipster-internals

Revert to mssql
  generators/sql-constants.js
Labels: theme: jhipster-internals

add mac-aarch64 profile
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Try Liquibase 4.11.0 again
  generators/generator-constants.js
Labels: theme: jhipster-internals

More testcontainers and MariaDB fixes
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

Use Liquibase 4.6.1 for all database except for H2
  generators/server/templates/build.gradle.ejs
Labels: theme: java

add reactive mariadb blocking call
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

Liquibase version adjustments for Maven
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

replace mysql r2dbc url with mariadb
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

Revert "Revert MySQL testcontainer changes."
  generators/server/files-sql.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

Use mysql-8.0.29-oracle for aarch64/arm64
  generators/generator-constants.js
Labels: theme: jhipster-internals

revert mysql image
  generators/generator-constants.js
Labels: theme: jhipster-internals

Revert "Revert "Revert MySQL testcontainer changes.""
  generators/server/files-sql.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

Add additional logic to fix ms-mf-vue-consul-oauth2-mysql-memcached tests
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Revert MySQL testcontainer changes.
  generators/server/files-sql.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

readd h2 dialect.
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

Workaound r2dbc failing with empty entities.
  generators/entity-client/index.js
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: theme: front

Update snapshots
  test/__snapshots__/docker-compose.spec.js.snap
Labels: none

revert mariadb-java-client is used by liquibase
  generators/server/templates/pom.xml.ejs
Labels: theme: java

drop org.testcontainers:r2dbc dependency
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

revert h2 to 1.4.200
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Update snapshots
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
Labels: none

remove fixedH2Dialect again
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

downgrade h2-r2dbc
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

test without elasticsearch
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
Labels: none

improve liquibase version.
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

switch mysql docker image to oracle variant.
  generators/generator-constants.js
  generators/server/templates/sql/common/src/main/docker/mysql.yml.ejs
Labels: theme: jhipster-internals, theme: java

switch MySQL docker image to main variant
  generators/generator-constants.js
Labels: theme: jhipster-internals

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
