Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

remove i18n dependencies when translation is disabled
  generators/vue/templates/package.json.ejs
Labels: theme: vue

remove double spaces from template
  generators/vue/support/convert-translation.mts
Labels: theme: vue

fix: added cypress record script.
  generators/angular/templates/package.json.ejs
  generators/react/templates/package.json.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: vue

fix: added missing comma.
  generators/angular/templates/package.json.ejs
  generators/react/templates/package.json.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: vue

Use authenticationUsesCsrf
  generators/angular/files-angular.mjs
  generators/angular/templates/src/main/webapp/app/login/login.service.ts.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/gatling/templates/src/test/java/gatling/simulations/_EntityClass_GatlingTest.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
Labels: theme: front, theme: angular, theme: vue, theme: java

rework vue cookies implementation
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
Labels: theme: dependencies, theme: vue

Update tracker.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
Labels: theme: vue

Update login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
Labels: theme: vue

populate user fields and relationships
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.ts
Labels: none

merge User.json at user entity
  generators/bootstrap-application-base/generator.mts
Labels: theme: jhipster-internals

improve import-jdl debug
  cli/import-jdl.mjs
Labels: theme: cli

fix logger enablement
  generators/base/support/logger.mts
Labels: theme: jhipster-internals

don't export entity's default config to json.
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/jdl-importer.spec.ts
  jdl/jhipster/json-entity.spec.ts
  jdl/jhipster/json-entity.ts
Labels: none

add test
  generators/bootstrap-application/generator.spec.mts
Labels: theme: jhipster-internals

cleanup unused variables
  cli/cli.spec.mts
  cli/environment-builder.spec.mts
  generators/angular/generator.spec.mts
  generators/app/cleanup.mjs
  generators/aws/generator.mjs
  generators/aws/lib/eb.mjs
  generators/aws/lib/s3.mjs
  generators/base-application/generator.mts
Labels: theme: cli, theme: angular, theme: jhipster-internals, theme: aws

add changelogDate to User
  generators/bootstrap-application/generator.spec.mts
Labels: theme: jhipster-internals

fixed dry run issues (#10)
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/storage-class.yml.ejs
  package.json
Labels: theme: dependencies, theme: kubernetes

Added Support for Elastic Cloud with logging configurations in services (#9)
  generators/base/generator-base-todo.mjs
  generators/kubernetes/files.mjs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/eck/filebeat.yml.ejs
  generators/server/prompts.mjs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  jdl/jhipster/application-options.ts
  jdl/jhipster/default-application-options.ts
  jdl/jhipster/index.mts
  jdl/jhipster/log-management-types.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/validator.ts
  jdl/validators/application-validator.ts
  package-lock.json
  package.json
Labels: theme: dependencies, theme: jhipster-internals, theme: java, theme: kubernetes

Fix/dry run issues (#11)
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: theme: kubernetes

remove non translated content
  generators/vue/generator.mjs
  generators/vue/generator.spec.mts
  generators/vue/support/translate-vue.mjs
  generators/vue/support/translate-vue.mts
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/support/translate-vue.spec.mts
Labels: theme: vue

replace deprecated slot tag
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/app.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
Labels: theme: vue

rework LoginService and provided services
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/router/index.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/finish/reset-password-finish.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/entities-menu.spec.ts.ejs
Labels: theme: vue

replace vue2 infinite loading with a vueuse implementation
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/sort/sorts.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
Labels: theme: dependencies, theme: vue

fix i18n at translation
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
Labels: theme: vue

updated deployment file compatable with go (#12)
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Fixes for keycloak health check and added app logs pv (#14)
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: theme: kubernetes

fix token name
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  test-integration/samples/vue-default/.yo-rc.json
Labels: theme: vue

21969: fix spelling mistake in ColumnConverter_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/rowmapper/ColumnConverter_reactive.java.ejs
Labels: none

21969: fix spelling mistake in ColumnConverter_reactive.java.ejs (#21970)
  generators/sql/templates/src/main/java/package/repository/rowmapper/ColumnConverter_reactive.java.ejs
Labels: none

fixes for microservice and eck (#16)
  generators/base-docker/docker-base.mjs
  generators/kubernetes/files.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/templates/eck/filebeat.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kubectl-delete.sh.ejs
  generators/server/templates/pom.xml.ejs
  generators/sql/files.mjs
Labels: theme: java, theme: kubernetes

changes and edits
  generators/client/files-common.mjs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
Labels: theme: front, theme: react

translate vue applications
  generators/languages/translation-data.mjs
  generators/vue/generator.mjs
  generators/vue/generator.spec.mts
  generators/vue/support/translate-vue.mts
  generators/vue/support/translate-vue.spec.mts
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.vue.ejs
  test/support/helpers.mts
Labels: theme: vue, theme: i18n

rework validation
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/composables/index.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/composables/validation.ts.ejs
Labels: theme: vue

cleanup store usage
  generators/languages/languages.spec.mjs
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/support/update-languages.mts
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/locale/translation.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/languages.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/store/translation-store.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/gateway/gateway.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/entities-menu.spec.ts.ejs
Labels: theme: vue, theme: i18n

migrate from vuex to pinia
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/store/account-store.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/store/translation-store.ts.ejs
  generators/vue/templates/src/main/webapp/app/store.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/ribbon/ribbon.component.spec.ts.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: dependencies, theme: vue

reduce branches coverage
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

fix version reference
  generators/vue/templates/package.json.ejs
Labels: theme: vue

drop vue-template-compiler
  generators/vue/templates/package.json.ejs
Labels: theme: vue

drop fork-ts-checker-webpack-plugin
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/webpack/webpack.prod.js.ejs
Labels: theme: dependencies, theme: vue

use test-utils stubs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/gateway/gateway.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/entities-menu.spec.ts.ejs
Labels: theme: vue
