Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

update husky to 7.0.2
  generators/client/index.js
  generators/client/templates/react/package.json.ejs
  generators/common/files.js
  generators/common/index.js
  generators/common/templates/.husky/pre-commit
  generators/common/templates/.huskyrc.ejs
  generators/common/templates/package.json
  generators/init/__snapshots__/generator.spec.cjs.snap
  generators/init/files.cjs
  generators/init/index.cjs
  generators/init/templates/.husky/pre-commit
  generators/init/templates/.huskyrc.ejs
  generators/init/templates/package.json
  generators/java/__snapshots__/generator.spec.cjs.snap
  generators/server/index.js
  generators/spring-boot/__snapshots__/generator.spec.cjs.snap
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: front, theme: react, theme: jhipster-internals, theme: java

[Vue] Upgrade Typescript 4.4.2
  generators/client/templates/vue/package.json
Labels: none

[Vue] Fix 'npm start' (webpack-dev-server 4.0.0)
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: none

Revert Spring Cloud data commons dependency as fixed in jhipster bom
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Fix incremental changelog for relationships.
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  test-integration/incremental-changelog-samples/liquibase-jdl-rename-field-post/app.jdl
Labels: none

No Database selection project compilation issue fix
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java

Adjusts
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java

Fix generated source for no database (#15978)
  generators/generator-base.js
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: jhipster-internals, theme: java

Update application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java

store mono repository option for later use
  generators/generator-base.js
Labels: theme: jhipster-internals

Fallback prodDatabaseType and devDatabaseType to databaseType at prompt.
  generators/server/prompts.js
Labels: theme: java

Revert server configuring task.
  generators/generator-base.js
  generators/server/index.js
Labels: theme: jhipster-internals, theme: java

Move back some derived properties.
  generators/generator-base.js
  generators/server/index.js
Labels: theme: jhipster-internals, theme: java

Update snapshot.
  test/client/__snapshots__/angular.spec.js.snap
Labels: none

Remove duplicated skip-commit-hooks option.
  generators/app/index.js
Labels: theme: jhipster-internals

Skip husky at project generation.
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Force skipCommitHook for monorepository and add dependencies at common postWriting.
  generators/common/index.js
Labels: theme: jhipster-internals

Cleanup
  generators/client/index.js
  generators/common/index.js
  generators/init/index.cjs
  generators/server/index.js
Labels: theme: front, theme: jhipster-internals, theme: java

Husky is handled by common generator now.
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Husky is handled by common generator now.
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Husky is handled by common generator now.
  generators/client/templates/vue/package.json.ejs
Labels: none

Husky is handled by common generator now.
  generators/server/templates/package.json.ejs
Labels: theme: java

Move package.json to common expected files
  test/utils/expected-files.js
Labels: none

Lint
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
Labels: theme: java

Update .github/workflows/webflux.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Reimplement client languages/i18n files. (#16015)
  generators/client/index.js
  generators/entity-i18n/files.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/languages/files.js
  generators/languages/index.js
  test/blueprint/entity-blueprint.spec.js
  test/languages.spec.js
Labels: theme: front, theme: jhipster-internals, theme: i18n

Fix incremental changelog for relationships. (#16081)
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  test-integration/incremental-changelog-samples/liquibase-jdl-rename-field-post/app.jdl
Labels: none

Readd server configuration task. (#16104)
  generators/generator-base.js
  generators/server/index.js
  generators/server/prompts.js
  test/client/__snapshots__/angular.spec.js.snap
Labels: theme: jhipster-internals, theme: java

update husky to 7.0.2 (#16055)
  generators/app/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/files.js
  generators/common/index.js
  generators/common/templates/.husky/pre-commit
  generators/common/templates/.huskyrc.ejs
  generators/common/templates/package.json
  generators/generator-base-private.js
  generators/generator-base.js
  generators/init/__snapshots__/generator.spec.cjs.snap
  generators/init/files.cjs
  generators/init/index.cjs
  generators/init/templates/.husky/pre-commit
  generators/init/templates/.huskyrc.ejs
  generators/init/templates/package.json
  generators/java/__snapshots__/generator.spec.cjs.snap
  generators/server/templates/package.json.ejs
  generators/spring-boot/__snapshots__/generator.spec.cjs.snap
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java

Use vue version for vue-template-compiler
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: none

Skip blocked dependencies.
  .github/dependabot.yml
Labels: none

Remove ora and find-up dependencies
  package-lock.json
  package.json
Labels: theme: dependencies

Minor Auth0 improvements
  generators/common/templates/README.md.jhi.ejs
Labels: none

Add full environment variables for Cypress
  generators/common/templates/README.md.jhi.ejs
Labels: none

Fix Couchbase tests
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/N1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0__create_indexes.n1ql.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Revert "Disable couchbase tests."
  .github/workflows/angular.yml
Labels: theme: CI Builds

Use N1QL queries for Couchbase Search
  generators/cleanup.js
  generators/entity-server/templates/src/main/java/package/common/search_stream_template.ejs
  generators/entity-server/templates/src/main/java/package/common/search_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_couchbase.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/repository/CustomCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/CustomReactiveCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/N1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/search/SearchCouchbaseRepository.java.ejs
  generators/server/templates/src/test/java/package/repository/N1qlCouchbaseRepositoryTest.java.ejs
  test/utils/expected-files.js
Labels: theme: jhipster-internals, theme: java

Upgrade to Couchbase 7.0.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Add consistency to search requests
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_couchbase.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

Wait for Couchbase to start before running E2E tests
  generators/server/index.js
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
