Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Build project in prepare npm script
  package.json
Labels: theme: dependencies

Don't build before installing
  test-integration/scripts/10-install-jhipster.sh
Labels: none

Remove commented out tsconfig options
  tsconfig.json
Labels: none

Set up TypeScript (#19559)
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  cli/environment-builder.js
  package-lock.json
  package.json
  tsconfig.json
Labels: theme: cli, theme: dependencies

Cleanup missing priorities api. (#19751)
  generators/app/index.js
  generators/client/index.js
  generators/client/needle-api/needle-client.js
  generators/common/index.js
  generators/cypress/index.js
  generators/entity-client/index.js
  generators/entity-i18n/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base-blueprint.js
  generators/languages/index.js
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/index.js
  generators/server/needles.spec.mjs
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/multiple-app-blueprints.spec.js
  test/blueprint/multiple-blueprints.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/generator-base-blueprint.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-i18n.spec.js
  test/needle-api/needle-client-react.spec.js
  test/needle-api/needle-client-vue.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/needle-api/needle-client.spec.js
  test/needle-api/needle-server-cache.spec.js
  test/needle-api/needle-server-gradle.spec.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/needle-server-logback-spring.spec.js
  test/needle-api/needle-server-maven.spec.js
  test/templates/blueprint-cli/generators/foo/index.js
  test/templates/blueprints/generator-jhipster-prettier-transform/generators/common/index.js
  test/templates/blueprints/generator-jhipster-throwing-constructor/generators/server/index.js
  test/templates/fake-blueprint/generators/app/index.js
  test/templates/fake-blueprint/generators/server/index.js
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java

Remove production install
  Dockerfile
Labels: theme: docker :whale:

Remove production install (#19763)
  Dockerfile
Labels: theme: docker :whale:

move entities preparation to utils and cleanup entity generators
  generators/bootstrap-application/generator.spec.mjs
  generators/bootstrap/index.js
  generators/entity-client/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base.js
  utils/entity.js
  utils/field.js
Labels: theme: front, theme: jhipster-internals, theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Add `npm ci` before `npm install`
  Dockerfile
Labels: theme: docker :whale:

fix react, unique constraint and microservice api
  generators/bootstrap-application/generator.spec.mjs
  generators/entity-client/index.js
  generators/entity/index.js
  utils/entity.js
  utils/field.js
Labels: theme: front, theme: java

fix model filtering
  generators/entity/index.js
Labels: theme: front, theme: java

Update index.js
  generators/entity-client/index.js
Labels: theme: front

try to fix derived id
  utils/field.js
Labels: none

[Angular] Setting page titles natively with the Angular router
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/tracker/tracker.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/template-page-title-strategy.ts.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: front, theme: angular

move derived primary key back to entity-server
  generators/entity-server/index.js
  utils/field.js
Labels: theme: java

update replacePageTitles logic
  generators/client/transform-angular.cjs
Labels: theme: front, theme: angular

Replace Neo4j Migrations with Liquibase for Neo4j
  generators/generator-base.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/neo4j/Neo4jMigrations.java.ejs
  generators/server/templates/src/main/java/package/config/neo4j/package-info.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/templates/src/main/resources/config/neo4j/migrations/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/neo4j/migrations/user__user.json.ejs
  test/app.spec.js
  test/utils/expected-files.js
Labels: theme: jhipster-internals, theme: java

[Angular] Setting page titles natively with the Angular router (fix)
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.route.ts.ejs
Labels: theme: angular

[Angular] Setting page titles natively with the Angular router (update transform-angular.spec.mjs)
  generators/client/transform-angular.spec.mjs
Labels: theme: front, theme: angular

update test
  generators/client/transform-angular.spec.mjs
Labels: theme: front, theme: angular

move entities preparation to utils and cleanup entity generators (#19764)
  generators/bootstrap-application/generator.spec.mjs
  generators/bootstrap/index.js
  generators/entity-client/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base.js
  utils/entity.js
  utils/field.js
Labels: theme: front, theme: jhipster-internals, theme: java

use this for generator's members at templates 2
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

use this for generator's members at templates 5
  generators/bootstrap-application/generator.mjs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/files.js
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/AdminUserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/vm/ManagedUserVM.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  utils/user.js
Labels: theme: java

use this for generator's members at templates 6
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
Labels: theme: java

add base folders to SpringBootApplication
  generators/bootstrap-application-server/types.d.ts
  generators/generator-base.js
Labels: theme: jhipster-internals

use this for generator's members at templates 3
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base.js
Labels: theme: jhipster-internals, theme: java

stop using generator as data at entity-server
  generators/entity-server/files-couchbase.js
  generators/entity-server/files.js
  test/entity.spec.js
Labels: theme: java

stop relying on generator as data holder
  generators/bootstrap-application/generator.mjs
  generators/bootstrap-application/generator.spec.mjs
  generators/bootstrap/index.js
  generators/entity-server/files.js
  generators/entity/index.js
  generators/generator-base.js
  test/utils-field.spec.js
  utils/entity.js
  utils/user.js
Labels: theme: front, theme: jhipster-internals, theme: java

adjusts
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/client/templates/vue/webpack/webpack.microfrontend.js.jhi.vue.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
  generators/entity-server/files-couchbase.js
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_neo4j.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/generator-base.js
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  test/entity.spec.js
  utils/field.js
Labels: theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

Upgrade to Spring Boot 3.0 M4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch branches for CI
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Update Java versions
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update jhipster-registry version to 7.4.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: jhipster-internals

[Angular] Rename TemplatePageTitleStrategy to AppPageTitleStrategy
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/app-page-title-strategy.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: front, theme: angular

update templates to don't use generator as template data (common)
  generators/common/templates/.lintstagedrc.js.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/common/templates/gitignore.ejs
  generators/common/templates/sonar-project.properties.ejs
Labels: theme: front, theme: java

add enableI18nRTL
  generators/generator-base.js
Labels: theme: jhipster-internals

update templates to don't use generator as template data (server)
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/war.gradle.ejs
  generators/server/templates/package.json.ejs
  generators/server/templates/src/main/java/package/web/rest/KafkaResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/KafkaResource_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT_reactive.java.ejs
Labels: theme: java

update templates to don't use generator as template data (client)
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/README.md.jhi.client.angular.ejs
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/entity-navbar-items.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.model.ts.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/angular/webpack/webpack.microfrontend.js.ejs
  generators/client/templates/common/.eslintignore.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/client/templates/common/src/main/webapp/index.html.ejs
  generators/client/templates/common/src/main/webapp/manifest.webapp.ejs
  generators/client/templates/react/.eslintrc.json.ejs
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/tsconfig.test.json.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/client/templates/vue/.eslintrc.js.ejs
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/vue/tsconfig.e2e.json.ejs
  generators/client/templates/vue/tsconfig.json.ejs
  generators/client/templates/vue/tsconfig.spec.json.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: front, theme: angular, theme: react, theme: vue

update templates to don't use generator as template data (entity-client)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.service.ts.ejs
Labels: theme: angular, theme: react, theme: vue
