Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Migrate vue to webpack 5.
  generators/client/templates/vue/config/index.js.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/webpack/vue.utils.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/webpack/webpack.prod.js.ejs
Labels: none

Migrate react to webpack 5.
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: theme: react

Use fixed version for path-browserify
  generators/client/templates/react/package.json
Labels: theme: react

Fix javadoc for reactive
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs
Labels: theme: java

Bump reactstrap to 8.9.0
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
Labels: theme: react

upgrade to cypress 6.3.0
  generators/client/templates/common/package.json
Labels: none

Add null checks and public access modifier
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

[angular] Update WebSocket dependencies
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Bump zone.js from 0.10.3 to 0.11.3
  generators/client/templates/angular/package.json
Labels: theme: angular

angular: add robots.txt to assets
  generators/client/templates/angular/angular.json.ejs
Labels: theme: angular

[angular] Check field and method order with lint
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Change dayjs locale when language is changed for React Angualr and Vue (#13575)
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/locale/translation.service.ts.ejs
Labels: theme: angular, theme: react

support okta with cypress tests
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: theme: angular, theme: react

correctly guard oauth specific functions/utils
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: react

append login/logout paths correctly to baseUrl
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

use keycloak api and only pupeteer when using okta
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Remove redundant method toArrayString
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/generator-base-private.js
Labels: theme: angular, theme: jhipster-internals

fix oauth2 data creation
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

add missing keycloakLogin function
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

Fix Sonar analyze: Add at least one assertion to this test case
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Prettier in template
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Fix import for assertThatCode
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Rename tests in WebConfigurerTest
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

[angular] Improve entities SBS support
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Align EditorConfig with Prettier
  .editorconfig
Labels: none

Improve .editorconfig
  .editorconfig
Labels: none

Fix entity suffix for Test file
  generators/entity-server/files.js
Labels: theme: java

Fix name for generated csv file with incremental changelog option
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: none

update commands usage
  cli/commands.js
Labels: theme: cli

update descriptions
  cli/commands.js
Labels: theme: cli

Fix EntityTest class name with entitySuffix
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
Labels: theme: java

Apply suggestions from code review
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

Fix vulnerable dependencies
  package-lock.json
Labels: theme: dependencies

SpringDataMongo3Driver to SpringDataMongoV3Driver
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_mongodb.java.ejs
Labels: theme: java

[angular] Make entity list component sort() method protected
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

Run npm audit fix
  package-lock.json
Labels: theme: dependencies

Update transitive dependencies to fix vulnerabilities
  package-lock.json
Labels: theme: dependencies

Fix deprecated media type
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

Fix CORS test setup data
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Fix Sonar code smell about assertThat
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
Labels: theme: java
