Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Misc fixes (#18308)
  generators/app/prompts.js
  generators/client/prompts.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
Labels: theme: front, theme: jhipster-internals, theme: java

Fix user package when server generator is not used (#18295)
  generators/bootstrap-application/generator.spec.mjs
  generators/server/index.js
  utils/entity.js
Labels: theme: java

fine tune release drafter such that all PRs are contained
  .github/release-drafter.yml
Labels: theme: CI Builds

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update ClientForwardControllerTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/ClientForwardControllerTest.java.ejs
Labels: theme: java

Update link to documentation archive in template
  generators/common/templates/README.md.jhi.ejs
Labels: theme: front, theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix Croatian translation for global.entity.action.view
  generators/languages/templates/src/main/webapp/i18n/hr/global.json.ejs
Labels: theme: i18n

Update templates to get translations using new API
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/modal/health-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/tracker/tracker.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/footer/footer.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/pagination/item-count.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: angular

Fix translations for keys containing dots
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
Labels: theme: angular

Add dumb function for getting client translations in entity client
  generators/entity-client/index.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: front, theme: angular

Add TODO comments to translations that need attention
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: angular

implements elastic tests on testcontainers
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/test/java/package/repository/search/EntitySearchRepositoryMockConfiguration.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-constants.js
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedCassandra.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedKafka.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedMongo.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/repository/search/UserSearchRepositoryMockConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

remove spybean for ES
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/SpringBootTestClassOrderer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/resources/junit-platform.properties.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: java

tests pass with interdependent relationships
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files-couchbase.js
  generators/server/files.js
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

do not stop containers during tests anymore
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

couchbase using spring factorycustomizer
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/files-couchbase.js
  generators/server/files.js
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/couchbase/src/test/java/package/config/EmbeddedCouchbase.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
Labels: theme: java

update tests relative to ES
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  test/utils/expected-files.js
Labels: theme: java

add cleanup files
  generators/entity-server/cleanup.js
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedElasticsearch.java.ejs
Labels: theme: java

set couchbase limit to strict minimum
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

remove commons-collections version
  generators/server/templates/build.gradle.ejs
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Set testcontainer at react + es test
  test-integration/workflow-samples/react.json
Labels: none

tune couchbase wait timeout
  generators/entity-server/cleanup.js
  generators/entity-server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/settings.gradle.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/SpringBootTestClassOrderer.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

cleanup cassandratestcontainer after run
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

Update react.json
  test-integration/workflow-samples/react.json
Labels: none

configures retries backoff in couchbase
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

add timeout in couchbase test
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

add a sqlfull test
  test-integration/workflow-samples/react.json
Labels: none

disable blockhound integration for elasticsearch
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/.mvn/jvm.config
  generators/server/templates/build.gradle.ejs
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/config/KafkaTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

increase the searchengine timeout
  generators/server/templates/couchbase/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

add a blocking call on es reactive support
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

remove sqlfull for es-mapsid
  test-integration/workflow-samples/react.json
Labels: none

Update messages_de.properties.ejs
  generators/languages/templates/src/test/resources/i18n/messages_de.properties.ejs
Labels: theme: i18n

Update spring-boot version to 2.6.7
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.6.8.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to jhipster bom snapshot version
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Update jacoco version to 0.8.8
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update maven-clean-plugin version to 3.2.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-site-plugin version to 3.12.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-javadoc-plugin version to 3.4.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
