Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Apply suggestions from code review
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
Labels: theme: kubernetes

update kubernetes test snapshot
  test/__snapshots__/kubernetes.spec.mts.snap
Labels: none

workaround session error
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

new needles
  generators/server/needles.mjs
  lib/support/needles.mts
  lib/support/needles.spec.mts
Labels: theme: java

remove needles
  generators/react/generator.mjs
  generators/react/support/index.mts
  generators/react/support/needles.mjs
  generators/vue/generator.mjs
  generators/vue/support/index.mts
  generators/vue/support/needles.mjs
Labels: theme: react, theme: vue

cleanup utils
  cli/environment-builder.mjs
  cli/program.mjs
  generators/angular/needle-api/needle-client-angular.mts
  generators/base/api.d.mts
  generators/base/generator-base-blueprint.mjs
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/support/hipster.mts
  generators/base/support/namespace.mts
  generators/base/support/needles.mts
  generators/base/support/needles.spec.mts
  generators/base/support/string.mts
  generators/base/support/string.spec.mts
  generators/base/types.d.mts
  generators/bootstrap-application-base/faker.mts
  generators/client/needle-api/needle-client-vue.mts
  generators/cypress/generator.mts
  generators/docker-compose/generator.mjs
  generators/docker/generator.mjs
  generators/entities/generator.spec.mts
  generators/languages/generator.mjs
  generators/needle-base.mts
  generators/page/files-vue.mjs
  generators/page/page.spec.mts
  generators/page/support/index.mts
  generators/page/support/needles.mts
  generators/project-name/generator.mjs
  generators/server/needles.mjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/settings.gradle.ejs
  generators/utils.mjs
  test/entity/database-changelog.spec.mts
  test/entity/single-entity.spec.mts
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
  test/support/get-generator.mts
  test/support/helpers.mts
  test/support/index.mts
  test/utils.spec.mjs
Labels: theme: cli, theme: front, theme: angular, theme: jhipster-internals, theme: i18n, theme: java, theme: docker :whale:

Karakalpak lang (#20946)
  generators/languages/support/languages.mts
  generators/languages/templates/entity/i18n/entity_kr-Latn-kr.json.ejs
  generators/languages/templates/src/main/resources/i18n/messages_kr_Latn_KR.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/configuration.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/error.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/gateway.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/home.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/login.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/logs.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/metrics.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/password.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/register.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/sessions.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/settings.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/tracker.json
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/user-management.json
  generators/languages/templates/src/test/resources/i18n/messages_kr_Latn_KR.properties.ejs
  test-integration/samples/ng-default/.yo-rc.json
Labels: theme: i18n

fix jhipster info test and check application.
  generators/info/generator.mts
  test/cli/environment-builder.spec.mts
Labels: none

#20987 Fix Cors policy for external UI
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

#20987 Fix import for HttpMethod.OPTIONS when !applicationTypeMicroservice
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

fix session authentication
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

move entity to base-application (#20957)
  generators/base-application/generator-ts.mts
  generators/base-application/generator.mjs
  generators/base-application/support/entities.mts
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/bootstrap-application-base/utils.mjs
  generators/entities/generator.mjs
  generators/entity/generator.mjs
  generators/info/generator.mts
  test/cli/environment-builder.spec.mts
Labels: theme: jhipster-internals

use utilities
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

export client resource for microfrontends.
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

rework doc formating
  generators/base-application/support/doc.mts
  generators/base-application/support/enum.mjs
  generators/base/support/index.mts
  generators/base/support/needles-utils.mjs
  generators/base/support/templates/doc-formatters.mjs
  generators/liquibase-changelogs/support/formatting.mjs
  generators/liquibase-changelogs/support/formatting.spec.mts
  generators/server/generator.mjs
  generators/server/support/doc.mjs
  generators/server/support/doc.spec.mts
  generators/server/support/index.mts
  generators/upgrade/upgrade.spec.mts
  test/generator-base-private.spec.mjs
  test/utils.spec.mjs
Labels: theme: jhipster-internals, theme: java, theme: upgrade

move utils/blueprint to generator/base/internal
  cli/environment-builder.mjs
  generators/base/generator-base-blueprint.mjs
  generators/base/internal/blueprint.mjs
  generators/base/internal/blueprint.spec.mts
  generators/base/internal/index.mts
  generators/upgrade/generator.mjs
Labels: theme: cli, theme: jhipster-internals, theme: upgrade

move utils/liquibase to generators/liquibase/support/prepare-field
  generators/bootstrap-application-server/generator.mts
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/support/index.mts
  generators/liquibase/support/prepare-field.mjs
Labels: theme: jhipster-internals

reorganize base support
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/support/configuration-helpers/sequences.mjs
  generators/base/support/contents.mts
  generators/base/support/contents.spec.mts
  generators/base/support/jhipster7-context.mjs
  generators/base/support/needles.mts
  generators/base/support/path.mts
  generators/base/support/timestamp.mts
  generators/base/support/timestamp.spec.mts
  generators/base/support/write-files.mts
  generators/base/support/write-files.spec.mts
  generators/base/ts-utils.mts
  generators/bootstrap/generator.mts
  generators/server/generator.mjs
  test/generator-base-private.spec.mjs
  utils/entity.mjs
Labels: theme: jhipster-internals, theme: java

rename unset to nullish
  generators/base-docker/docker-base.mjs
  generators/base/generator-base.mjs
  generators/base/support/config.mts
  generators/base/support/config.spec.mts
  generators/entity/generator.mjs
Labels: theme: jhipster-internals

move secret-utils to generators/base/support/secret
  generators/base-docker/docker-base.mjs
  generators/base-docker/docker-prompts.mjs
  generators/base/support/index.mts
  generators/base/support/secret.mts
  generators/server/generator.mjs
  lib/utils/secret-utils.mjs
Labels: theme: jhipster-internals, theme: java

update snapshots
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/generator-base.spec.mts
  test/integration-test.spec.mts
  test/utils-entity.spec.mts
  test/utils-field.spec.mts
Labels: none

Add SpaWebFilter test
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
Labels: theme: java

Polishing
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

Use admin role for /v3/api-docs test
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

Change api URL to /api/account so it's not dependent on authn type
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

move util/* to the appropriate generator
  generators/base-application/support/debug.mts
  generators/base-application/support/index.mts
  generators/base-application/support/prepare-entity.mjs
  generators/base-application/support/prepare-entity.spec.mts
  generators/base-application/support/prepare-field.mjs
  generators/base-application/support/prepare-field.spec.mts
  generators/base-application/support/prepare-relationship.mjs
  generators/base/generator-base.mjs
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-base/utils.mjs
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/client/support/index.mts
  generators/client/support/prepare-entity.mjs
  generators/client/support/prepare-field.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/server/generator.mjs
  generators/server/support/database.mts
  generators/server/support/index.mts
  generators/server/support/prepare-entity.mjs
  generators/server/support/prepare-field.mjs
  generators/server/support/string.mts
  utils/db.mjs
Labels: theme: front, theme: jhipster-internals, theme: java

Try to fix micros
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

use new helpers apis
  generators/ci-cd/ci-cd.spec.mts
  generators/docker-compose/docker-compose.spec.mts
  generators/languages/languages.spec.mjs
  generators/page/page.spec.mts
  test/app/composing.spec.mts
  test/app/prompts.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mts
  test/heroku.spec.mts
  test/knative.spec.mts
  test/kubernetes.helm.spec.mts
  test/kubernetes.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-server-cache.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/openapi-client.spec.mts
  test/openshift.spec.mts
  test/spring-controller.spec.mts
  test/spring-service.spec.mts
  test/support/helpers.mts
  test/support/tests.mjs
Labels: theme: i18n, theme: docker :whale:

switch from yeoman-test to custom helpers
  test/app/database-changelog.spec.mts
  test/app/prompts.spec.mts
  test/blueprint/app-blueprint.spec.mts
  test/blueprint/constructor-error-blueprint.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mts
  test/blueprint/multiple-blueprints.spec.mts
  test/blueprint/scoped-blueprint.spec.mts
  test/cli/cli.spec.mts
  test/cli/environment-builder.spec.mts
  test/export-jdl.spec.mts
  test/generator-base-blueprint.spec.mjs
  test/generator-base.spec.mts
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
  test/needle-api/needle-client.spec.mts
  test/needle-api/needle-server-cache.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/spring-controller.spec.mts
  test/spring-service.spec.mts
Labels: none

Don't test API unless user management
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

Add javadoc to SpaWebFilter [skip-ci]
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
Labels: theme: java

cleanup ClientForwardController
  generators/server/cleanup.mts
Labels: theme: java

Add more expectations for forwarded URL
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

Don't test /v3/api-docs in a microservice
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

split generators/cleanup
  generators/angular/cleanup.mjs
  generators/angular/files-angular.mjs
  generators/angular/generator.mjs
  generators/app/cleanup.mjs
  generators/app/generator.mjs
  generators/cleanup.mjs
  generators/react/cleanup.mjs
  generators/react/files-react.mjs
  generators/react/generator.mjs
  generators/server/cleanup.mts
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/generator.mjs
Labels: theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

Use Spring Security 6's authorizeHttpRequests (#20107)
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/cleanup.mts
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
  generators/server/templates/src/main/java/package/web/rest/ClientForwardController.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/ClientForwardControllerTest.java.ejs
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
Labels: theme: java

drop generator-defaults
  generators/base-application/support/prepare-entity.mjs
  generators/base-application/support/prepare-entity.spec.mts
  generators/generator-defaults.mjs
Labels: theme: jhipster-internals

drop client constants used only at cleanup
  generators/angular/cleanup.mjs
  generators/angular/entity-files-angular.mjs
  generators/entity/generator.mjs
  generators/generator-constants.mjs
  generators/react/cleanup.mjs
  generators/vue/cleanup.mjs
Labels: theme: angular, theme: react, theme: vue, theme: jhipster-internals

cleanup client support
  generators/base-application/support/prepare-entity.mjs
  generators/client/support/template-utils.mjs
  generators/client/support/template-utils.spec.mjs
  generators/client/support/types-utils.spec.mjs
  generators/server/support/database.spec.mts
  test/fixtures/renderContent/common/all.ejs
  test/fixtures/renderContent/common/common.ejs
  test/fixtures/renderContent/include.ejs
  test/fixtures/renderContent/include_common.ejs
  test/fixtures/renderContent/specific/all.ejs
  test/generator-base-private.spec.mjs
Labels: theme: front, theme: jhipster-internals, theme: java

adjusts to SpaWebFilter.
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
