Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Polish app config spacing
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application-tls.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
Labels: theme: java

Add detail field in angular alert component
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
Labels: theme: angular

Handle missing translations in i18n apps error alerts[angular]
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
Labels: theme: angular

Improve translations
  generators/entity-i18n/templates/i18n/entity_et.json.ejs
  generators/entity-i18n/templates/i18n/entity_ru.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/error.json
  generators/languages/templates/src/main/webapp/i18n/et/gateway.json
  generators/languages/templates/src/main/webapp/i18n/et/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/register.json
  generators/languages/templates/src/main/webapp/i18n/et/user-management.json
  generators/languages/templates/src/main/webapp/i18n/ru/error.json
  generators/languages/templates/src/main/webapp/i18n/ru/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/metrics.json
  generators/languages/templates/src/main/webapp/i18n/ru/register.json
  generators/languages/templates/src/main/webapp/i18n/ru/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/settings.json
  generators/languages/templates/src/main/webapp/i18n/ru/user-management.json
Labels: theme: i18n

After review
  generators/cleanup.js
  generators/client/files-react.js
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/src/main/webapp/app/setup-tests.ts.ejs
  generators/entity-client/index.js
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-management-detail.spec.ts.ejs
Labels: theme: front, theme: react, theme: jhipster-internals

[angular] Update Protractor related and Node types dependencies
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Display translation key alert if key and message missing
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.ts.ejs
Labels: theme: angular

Add default language to translationService in test [angular]
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
Labels: theme: angular

Include converter for monolith, gateway and microservice
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

Broken Swagger with Microservices
  generators/server/templates/src/main/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilter.java.ejs
  generators/server/templates/src/test/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilterTest.java.ejs
Labels: theme: java

Allow ElasticSearch to start in Kubernetes using single-node discovery mode (#13433)
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
Labels: theme: kubernetes

Add custom claim converter in a microservice with oauth2 (#12609)
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: java

Use @IntegrationTest
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: java

Fix indentation in templates
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
Labels: theme: java

Creating a Vue app with a relationship to Users fails to display users
  generators/client/files-vue.js
  generators/client/templates/vue/src/main/webapp/app/entities/user/user.oauth2.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
Labels: none

[Vue] Add workbox webpack plugin to add service worker
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/webpack/webpack.prod.js.ejs
Labels: none

fixed kubernetes manifest generation for reactive database
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

removed empty line
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

Fix reactive tests by assigning @NotNull a default message
  generators/entity-server/templates/src/main/java/package/common/field_validators.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
Labels: theme: java

Fix @NotNull message for testing reactive
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorTestController.java.ejs
Labels: theme: java

Fix default message logic for @NotNull
  generators/entity-server/templates/src/main/java/package/common/field_validators.ejs
Labels: theme: java

Generate proper R2DBC configuration for Reactive apps running in Kubernetes (#13482)
  generators/kubernetes/templates/deployment.yml.ejs
Labels: theme: kubernetes

[Vue] Add workbox webpack plugin to add service worker (#13478)
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/webpack/webpack.prod.js.ejs
Labels: none

Creating a Vue app with a relationship to Users fails to display users (#13476)
  generators/client/files-vue.js
  generators/client/templates/vue/src/main/webapp/app/entities/user/user.oauth2.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
Labels: none

Fix R2DBC with OAuth
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Fix conflict
  generators/server/files.js
Labels: theme: java

Fix merge commit
  generators/server/files.js
Labels: theme: java

Vue: clean old token at successful login
  generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
Labels: none

[vue] Update Vue dependencies for Vue Project
  generators/client/templates/vue/package.json.ejs
Labels: none

[vue] Update Jest depenencies for Vue
  generators/client/templates/vue/package.json.ejs
Labels: none

[vue] Update some dependencies for Vue Project
  generators/client/templates/vue/package.json.ejs
Labels: none

[vue] Update Sass & Postcss dependencies for Vue Project
  generators/client/templates/vue/package.json.ejs
Labels: none

Remove Transactional when using no db
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: java

[vue] Update Eslint dependencies for Vue Project
  generators/client/templates/vue/package.json.ejs
Labels: none

Update Husky version to 4.3.7
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update NPM version to 6.14.11
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update JIB version to 2.7.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update checkstyle version to 8.39
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update frontend-maven-plugin version to 1.11.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update gradle-Node-Plugin version to 3.0.0-rc6
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
