Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

downgrade module federation utils
  generators/react/resources/package.json
Labels: theme: dependencies, theme: react

downgrade module federation utils
  generators/vue/resources/package.json
Labels: theme: dependencies, theme: vue

ignore module federation utils at dependabot config
  .github/dependabot.yml
Labels: theme: CI Builds

Update dependabot.yml
  .github/dependabot.yml
Labels: theme: CI Builds

Update dependabot.yml
  .github/dependabot.yml
Labels: theme: CI Builds

Resolve deprecation warning for convention-based annotation attribute overrides
  generators/feign-client/templates/src/main/java/_package_/client/AuthorizedFeignClient.java.ejs
Labels: none

add feign-client to build changes
  test-integration/scripts/99-build-changes.sh
Labels: none

downgrade module federation utils (#25533)
  .github/dependabot.yml
  generators/react/resources/package.json
  generators/vue/resources/package.json
Labels: theme: CI Builds, theme: dependencies, theme: react, theme: vue

switch download command to use axios
  cli/download.mts
Labels: theme: cli

Replace with
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/generator.js
  generators/init/generator.js
Labels: theme: front, theme: java

switch to node 20
  generators/generator-constants.js
Labels: theme: jhipster-internals

Apply suggestions from code review
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/generator.js
  generators/init/generator.js
Labels: theme: front, theme: java

Update devserver.yml
  .github/workflows/devserver.yml
Labels: theme: CI Builds

Update 99-build-changes.sh
  test-integration/scripts/99-build-changes.sh
Labels: none

Update @openapitools/openapi-generator-cli version to 2.13.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Revert "build(deps): bump mongo from 7.0.6 to 7.0.7 in /generators/server/resources"
  generators/server/resources/Dockerfile
Labels: theme: java

Ignore Mongo Docker > 7.0.6
  .github/dependabot.yml
Labels: theme: CI Builds

Replace `husky install` with `husky` (#25545)
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/generator.js
  generators/init/generator.js
Labels: theme: front, theme: java

Fix imports for micro frontends with Angular
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
Labels: theme: angular

adjust builtIn entities for microfrontends
  generators/base-application/support/prepare-entity.ts
Labels: theme: jhipster-internals

switch to node 20 (#25546)
  .github/workflows/devserver.yml
  generators/generator-constants.js
  test-integration/scripts/99-build-changes.sh
Labels: theme: CI Builds, theme: jhipster-internals

adjust builtIn entities for microfrontends (#25552)
  generators/base-application/support/prepare-entity.ts
Labels: theme: jhipster-internals

don't generate rest api and client resources for authority
  generators/angular/entity-files-angular.ts
  generators/base-application/types/entity.d.ts
  generators/bootstrap-application-base/utils.js
  generators/client/generator.js
  generators/cypress/generator.ts
Labels: theme: front, theme: angular, theme: jhipster-internals

don't generate rest api and client resources for authority (#25556)
  generators/angular/entity-files-angular.ts
  generators/base-application/types/entity.d.ts
  generators/bootstrap-application-base/utils.js
  generators/client/generator.js
  generators/cypress/generator.ts
Labels: theme: front, theme: angular, theme: jhipster-internals

Update setup actions to v4 for Node and Java
  .github/actions/setup-default-node-java/action.yml
  generators/ci-cd/__snapshots__/ci-cd.spec.ts.snap
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: theme: CI Builds

Fix Snyk CLI download
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
Labels: none

Update snapshots
  generators/ci-cd/__snapshots__/ci-cd.spec.ts.snap
Labels: none

Update setup actions to v4 for Node and Java (#25561)
  .github/actions/setup-default-node-java/action.yml
  generators/ci-cd/__snapshots__/ci-cd.spec.ts.snap
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: theme: CI Builds

release 8.2.0
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Release v8.2.0
  package-lock.json
  package.json
Labels: theme: dependencies

add prebuild script
  package.json
Labels: theme: dependencies

add prebuild script (#25563)
  package.json
Labels: theme: dependencies

Release v8.2.1
  package-lock.json
  package.json
Labels: theme: dependencies

fix vue websocket
  generators/angular/templates/src/main/webapp/app/admin/tracker/tracker.component.html.ejs
  generators/cypress/templates/src/test/javascript/cypress/e2e/administration/administration.cy.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/tracker/tracker.tsx.ejs
  generators/vue/resources/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.vue.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/vite.config.mts.ejs
Labels: theme: dependencies, theme: angular, theme: react, theme: vue

add postbuild script
  package.json
Labels: theme: dependencies

send activity
  generators/angular/templates/src/main/webapp/app/admin/tracker/tracker.component.ts.ejs
Labels: theme: angular

expose sendActivity
  generators/angular/templates/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
Labels: theme: angular

add postbuild script (#25567)
  package.json
Labels: theme: dependencies

Update tracker.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
Labels: theme: angular

rework spring-cache dependencies
  .github/dependabot.yml
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/java/types.d.ts
  generators/liquibase/incremental-liquibase.spec.ts
  generators/server/resources/pom.xml
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/generator.ts
  generators/spring-cache/internal/dependencies.ts
  generators/spring-cache/resources/gradle/libs.versions.toml
Labels: theme: CI Builds, theme: jhipster-internals, theme: java, theme: maven, theme: gradle

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
