Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Fix tsconfig.json.ejs
  generators/client/templates/vue/tsconfig.json.ejs
Labels: none

[angular] Avoid conflicts between Cypress and Jest libraries.
  generators/client/templates/angular/.eslintignore.ejs
  generators/client/templates/angular/tsconfig.base.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
Labels: theme: angular

Add npm Cypress run script to package.json
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

[Account] Reset initiate/finish page (with Angular)
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login-modal.component.html.ejs
  generators/e2e/files.js
  generators/e2e/templates/src/test/javascript/cypress/integration/account/reset_password_page_spec.ts.ejs
  generators/e2e/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: theme: angular

Move .eslintignore.ejs to the new file-common writer
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/templates/common/.eslintignore.ejs
  generators/client/templates/react/.eslintignore.ejs
  generators/client/templates/vue/.eslintignore.ejs
Labels: theme: front, theme: angular, theme: react

fix click in Cypress + add chrome browser by default
  generators/client/templates/angular/package.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/navbar.ts.ejs
  test-integration/scripts/24-tests-e2e.sh
Labels: theme: angular

Run headless mode when using Chrome browser
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Add clearCookies to clear state correctly
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
Labels: none

Fix data-cy values
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset_password_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: theme: angular, theme: react

Preserve cookies for session authentication's type
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
Labels: none

Improve package.json scripts and use generic JHI_E2E variable in CI
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  test-integration/scripts/24-tests-e2e.sh
Labels: theme: CI Builds, theme: angular, theme: react

Mark Protractor label as deprecated
  generators/app/prompts.js
Labels: theme: jhipster-internals

fix indentation
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
Labels: none

Move CLIENT_DIST_DIR to default priority
  generators/cypress/index.js
Labels: none

Add npm test for cypress files
  test/cypress.spec.js
  test/utils/expected-files.js
Labels: none

Rework register tests
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
Labels: none

keep at least one Angular build with Protractor
  .github/workflows/angular.yml
  test-integration/samples/ngx-psql-es-noi18n-mapsid/.yo-rc.json
Labels: theme: CI Builds

Add Chrome browser option with react and vue
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: react

Rename e2e folder and compose from client subGen insteadOf app
  generators/app/index.js
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/cypress.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/fixtures/users/user.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset_password_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings_page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/navbar.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/utils.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/tsconfig.json.ejs
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals

Remove unused code
  generators/cypress/index.js
Labels: none

camel case convention for data-cy remove after/afterEach
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/configuration/configuration.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/health/health.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/logs/logs.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/health/health.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/app.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
Labels: theme: angular, theme: react

Replace filename _spec by .spec name
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/cypress.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  test/utils/expected-files.js
Labels: none

Add webdriver dependency if cypressTests
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Fix typo
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings_page_spec.ts.ejs
Labels: none

Rework login page tests
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
Labels: none

Fix method order
  generators/cypress/index.js
Labels: none

Fix test login
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
Labels: none

Fix npm tests
  test/client.spec.js
  test/utils/expected-files.js
Labels: none

Fix indentation
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page.spec.ts.ejs
Labels: none

Fix settings test
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
Labels: none

Avoid to add oauth2 specific code in common case
  generators/cypress/files.js
  generators/cypress/templates/cypress.json.ejs
Labels: none

Upgrade Cypress to 4.12.1
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Improve Cypress TS files
  generators/client/templates/vue/src/main/webapp/app/router/admin.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: none

Move all Webflux samples from protractor to Cypress
  .github/workflows/webflux.yml
Labels: theme: CI Builds

rename Cypress test files
  generators/cypress/files.js
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
Labels: none

rename kc to keycloack
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
Labels: none

Fix vue Cypress failing
  generators/client/templates/vue/tsconfig.json.ejs
Labels: none

Add consistency for vue component url
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/router/admin.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
Labels: none

Make e2e script to be able to launch both Protractor and Cypress
  test-integration/scripts/24-tests-e2e.sh
Labels: none

Fix sub generator name in index.js
  generators/cypress/index.js
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
