Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Continue refactoring
  generators/entity/index.js
Labels: theme: jhipster-internals

Fixes
  generators/entity/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Remove setupEntityOptions from test blueprints
  test/blueprint/entity-blueprint.spec.js
  test/blueprint/languages-blueprint.spec.js
  test/needle-api/needle-client-i18n.spec.js
  test/needle-api/needle-client-react.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/needle-api/needle-client.spec.js
Labels: none

Continuing entity refactoring
  generators/entity/index.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-defaults.js
Labels: theme: jhipster-internals

Fix force jpaMetamodelFiltering
  generators/entity/index.js
Labels: theme: jhipster-internals

Relationship refactoring.
  generators/entity/index.js
Labels: theme: jhipster-internals

More adjusts
  generators/entity/index.js
Labels: theme: jhipster-internals

Fixes to angularJSSuffix
  generators/entity/index.js
Labels: theme: jhipster-internals

Fixes to relationships
  generators/entity/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix entity
  test-integration/samples/.jhipster/TestManyToOne.json
Labels: none

Entity refactoring: Fixes for the prompt.
  generators/entity/index.js
  generators/entity/prompts.js
Labels: theme: jhipster-internals

Remove console.log from test/utils.
  test/utils/utils.js
Labels: none

Remove prettier Java option
  generators/app/index.js
Labels: theme: jhipster-internals

Remove prettier Java setting in jhipsterConfig
  generators/generator-base.js
Labels: theme: jhipster-internals

Remove prettierJava call in generator-base
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Remove prettierJava in tests
  test/generator-transform.spec.js
  test/needle-api/needle-server-cache.spec.js
Labels: none

Remove prettierJava references in template files
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/templates/.prettierrc.ejs
  generators/server/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: java

Avoid to apply toList when using no searchEngine
  generators/entity-server/templates/src/main/java/package/common/search_stream_template.ejs
Labels: theme: java

Remove prettierJava in defaults
  generators/generator-defaults.js
Labels: theme: jhipster-internals

Update server cache tests with Prettier formatting
  test/needle-api/needle-server-cache.spec.js
Labels: none

Rename generator to processor
  cli/import-jdl.js
Labels: theme: cli

Migrate importJdl to proxyquire
  cli/import-jdl.js
  test/cli/import-jdl.spec.js
Labels: theme: cli

Fix e2e without fields for Vue app
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: none

Add more tests in CI for Vue: sqlfull
  .github/workflows/vue.yml
Labels: theme: CI Builds

Fixed 763 of 765 vulnerabilities in dependencies
  package-lock.json
Labels: theme: dependencies

Fix update user for neo4j and fix neo4j e2e
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

fix: update to es-link 7.5.0
  generators/aws-containers/index.js
  generators/aws-containers/lib/cloudFormation.js
Labels: theme: aws

add RajBet new bronze sponsor
  README.md
Labels: none

Remove useless parenthesis
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
Labels: theme: angular, theme: react

fix SwaggerBasePathRewritingFilter compilation
  generators/server/templates/src/main/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilter.java.ejs
  generators/server/templates/src/test/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilterTest.java.ejs
Labels: theme: java

Update Spring Boot version to 2.3.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

do not use dynamic property source in junit callbacks
  generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs
Labels: theme: java

update gradle plugins
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Fix git message.
  generators/app/index.js
Labels: theme: jhipster-internals

Drop default empty clientRootFolder from jdl.
  jdl/jhipster/json-entity.js
  test/jdl/converters/JDLToJSON/jdl-to-json-basic-entity-information-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none

Create clientRootFolder for gateway applications.
  generators/entity/index.js
Labels: theme: jhipster-internals

Use chromedriver based on chrome version
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: CI Builds, theme: angular, theme: react

Clean code vue-js
  generators/client/templates/vue/src/main/webapp/app/account/activate/activate.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/login.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/error/error.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/ribbon/ribbon.vue.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: none

:white_check_mark: remove deprecated methods [breaking changes]
  generators/client/index.js
  generators/common/index.js
  generators/statistics.js
Labels: theme: front, theme: jhipster-internals

Fix i18n in settings for Vue
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
