Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

extract all option in their dedicated constant files
  generators/app/prompts.js
  generators/aws-containers/index.js
  generators/aws/lib/s3.js
  generators/azure-app-service/index.js
  generators/azure-spring-cloud/index.js
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
  generators/bootstrap/index.js
  generators/ci-cd/index.js
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-constants.js
  jdl/jhipster/application-options.js
  jdl/jhipster/authentication-types.js
  jdl/jhipster/build-tool-types.js
  jdl/jhipster/cache-types.js
  jdl/jhipster/client-framework-types.js
  jdl/jhipster/default-application-options.js
  jdl/jhipster/search-engine-types.js
  jdl/jhipster/service-discovery-types.js
  jdl/jhipster/test-framework-types.js
  jdl/parsing/lexer/application-tokens.js
  test/jdl/validators/application-validator.spec.js
Labels: theme: jhipster-internals, theme: aws

Tests improvements.
  generators/ci-cd/index.js
  generators/database-changelog-liquibase/index.js
  generators/entity/index.js
  generators/generator-base.js
  test/app.spec.js
  test/app/application-with-entities.js
  test/app/composing.js
  test/cli/import-jdl.spec.js
  test/cli/jdl-fork.spec.js
  test/client.spec.js
  test/entity.spec.js
  test/page.spec.js
  test/utils/utils.js
Labels: theme: jhipster-internals

db types
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
  generators/bootstrap/index.js
  generators/ci-cd/index.js
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/github-actions.yml.ejs
  generators/client/files-angular.js
  generators/client/index.js
  generators/generator-list.js
  jdl/jhipster/application-options.js
  jdl/jhipster/websocket-types.js
Labels: theme: front, theme: angular, theme: jhipster-internals

Dockerfile: Execute npm ci with --production.
  Dockerfile
Labels: none

Introduce constants for the API endpoints in the EntityResourceIT
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix compilation for Cassandra and the two calls in patch-update
  generators/entity-server/templates/partials/it_patch_update.partial.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Remove empty line
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Minor correction for clarity
  generators/entity/prompts.js
Labels: theme: jhipster-internals

add firstName and lastName to UserDTO and IUser
  generators/bootstrap/index.js
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.model.ts.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
Labels: theme: angular, theme: java

fix e2e command
  generators/client/index.js
Labels: theme: front

fix cypress select util
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
Labels: none

Update jib-maven-plugin version to 2.8.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase version to 4.3.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase-hibernate5 version to 4.3.1
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update mysql docker image version to 8.0.23
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mariadb docker image version to 10.5.9
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update postgres docker image version to 13.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mongo docker image version to 4.4.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update cassandra docker image version to 3.11.10
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mcr.microsoft.com/mssql/server docker image version to 2019-CU9-ubuntu-16.04
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update neo4j docker image version to 4.2.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hazelcast/management-center docker image version to 4.2021.03
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update redis docker image version to 6.2.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update docker.elastic.co/elasticsearch/elasticsearch docker image version to 7.9.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update sonarqube docker image version to 8.7.0-community
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update consul docker image version to 1.9.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/prometheus docker image version to v2.25.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update grafana/grafana docker image version to 7.4.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Remove traefik from jdl deployment gateway option
  jdl/jhipster/deployment-options.js
Labels: none

Remove traefik from generator constants
  generators/generator-constants.js
Labels: theme: jhipster-internals

Remove traefik from server generator
  generators/generator-base-docker.js
  generators/server/index.js
Labels: theme: jhipster-internals, theme: java

Remove traefik from docker-compose generator
  generators/docker-compose/files.js
  generators/docker-compose/index.js
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/traefik/traefik.toml.ejs
  generators/docker-prompts.js
Labels: theme: docker :whale:

additional fields generated by demand
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.model.ts.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
Labels: theme: angular, theme: java

Set the JWT token automatically with the JHipster dev/prod value
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Change the default Logging file path when we start the app with Docker
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Reduce logs in Consul
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/consul.yml.ejs
Labels: theme: java, theme: docker :whale:

downgrade and pin org.springframework.data:spring-data-neo4j to 6.0.3
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Enable caches and liquibase exposure when it makes sense
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Set relatedByRelationship at fields used as label.
  utils/relationship.js
Labels: none

Add builtIn to implemented user fields by default.
  generators/bootstrap/index.js
Labels: none
