Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

fix token for session.
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
Labels: theme: vue

[react] change sort icons for entity
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
Labels: theme: react

blacklist node 18.14.x and 18.15.x
  package.json
Labels: theme: dependencies

[react] change sort icons for user management
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

update snapshots
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
Labels: theme: kubernetes

add keycloak to k8s for ingress gke (#20869)
  generators/base-docker/docker-base.mjs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/files.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/cert-manager/letsencrypt-staging-ca-secret.yml.ejs
  generators/kubernetes/templates/cert-manager/letsencrypt-staging-issuer.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak-postgresql.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
Labels: theme: kubernetes

bump consul docker image
  generators/server/templates/Dockerfile
Labels: theme: java

fix websocket unhandled exception
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
Labels: theme: vue

fix generate sample
  test-integration/scripts/12-generate-sample.js
Labels: none

Update jest.conf.js.ejs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

allow to customize resources folders
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base-application/types.d.mts
  generators/bootstrap-application/generator.mts
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/StaticResourcesWebConfiguration.java.ejs
Labels: theme: jhipster-internals, theme: java

change addWebpackConfig needle
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/needle-api/needle-client-webpack.mts
  generators/react/templates/webpack/webpack.common.js.ejs
Labels: theme: front, theme: angular, theme: react

migrate to vue-cli
  generators/base/support/jhipster7-context.mjs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/StaticResourcesWebConfiguration.java.ejs
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/generator.mjs
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/externals.d.ts.ejs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
  generators/vue/templates/tsconfig.json.ejs
  generators/vue/templates/vue.commands.js.ejs
  generators/vue/templates/vue.config.js.ejs
  generators/vue/templates/webpack/config.js.ejs
  generators/vue/templates/webpack/vue.utils.js.ejs
  generators/vue/templates/webpack/webpack.common.js.ejs
  generators/vue/templates/webpack/webpack.dev.js.ejs
  generators/vue/templates/webpack/webpack.prod.js.ejs
Labels: theme: dependencies, theme: vue, theme: jhipster-internals, theme: java

modularize microfrontend customization
  generators/angular/generator.mts
  generators/client/generator.mjs
  generators/client/templates/webpack/webpack.microfrontend.js.jhi.ejs
  generators/react/generator.mjs
  generators/vue/generator.mjs
Labels: theme: front, theme: angular, theme: react, theme: vue

drop wrong v-model
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
Labels: theme: vue

enable neo4j+gateway at test sample.
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
Labels: none

fix generate sample
  test-integration/scripts/12-generate-sample.js
Labels: none

try to avoid modal race condition.
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: vue

drop wrong v-model
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
Labels: theme: vue

try to avoid modal race condition.
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: vue

adjusts to content-type
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
Labels: theme: java

try to improve build performance
  generators/vue/templates/webpack/webpack.common.js.ejs
Labels: theme: vue

add readme and improve test
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
Labels: theme: kubernetes

update snapshots after merge
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
Labels: theme: kubernetes

add keycloak to k8s for ingress nginx
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/files.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  jdl/jhipster/index.mts
Labels: theme: kubernetes

Apply suggestions from code review
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: vue

fix existing project detection on multiples project-name composing
  generators/project-name/generator.mjs
Labels: none

add @GeneratedByJHipster to @inteface.
  generators/java/support/generated-annotation-transform.mts
  generators/java/support/generated-annotation-transform.spec.mts
Labels: none

Run tests in random rather than alphabetical order
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

prettier fix
  generators/java/support/generated-annotation-transform.spec.mts
Labels: none

[react] Removed ternary-into-ternary code
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
Labels: theme: react

Update generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
Labels: theme: react

resolved review comments
  README-internal.md
  generators/base-docker/docker-utils.mjs
  generators/docker-compose/generator.mjs
Labels: theme: docker :whale:

resolved merge conflicts
  generators/base-docker/docker-utils.mjs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
Labels: theme: kubernetes

Update app.tsx.ejs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
Labels: theme: react

Update tsconfig.json.ejs
  generators/react/templates/tsconfig.json.ejs
Labels: theme: react

Update tsconfig.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/tsconfig.json.ejs
Labels: none

fix configureServer with --defaults
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

[react] Removed ternary-into-ternary code
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react
