Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Drop eslint-config-jhipster dependency.
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/.eslint.common.js.ejs
  generators/client/templates/react/.eslint.react.js.ejs
  generators/client/templates/react/.eslintrc.json.ejs
  generators/client/templates/react/package.json.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: react

Fix react eslint config.
  generators/client/files-react.js
Labels: theme: react

Remove .eslint.common.js from test. Rules doesn't applies for this file.
  test/utils/expected-files.js
Labels: none

Remove duration
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

Remove webdriver dependency for cypress.
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  test-integration/samples/ms-react-gateway-consul-oauth2/.yo-rc.json
  test-integration/samples/webflux-mariadb-gradle/.yo-rc.json
Labels: theme: CI Builds, theme: angular, theme: react

Angular: update codelyzer and tslint
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Revert "Bump zone.js from 0.10.3 to 0.11.1 in /generators/client/templates/angular"
  generators/client/templates/angular/package.json
Labels: theme: angular

Disable e2e at ms-react-gateway-consul-oauth2 test.
  azure-pipelines.yml
Labels: theme: CI Builds

Implement tests.
  .eslintignore
  .prettierignore
  test/fixtures/renderContent/common/all.ejs
  test/fixtures/renderContent/common/common.ejs
  test/fixtures/renderContent/include.ejs
  test/fixtures/renderContent/include_common.ejs
  test/fixtures/renderContent/specific/all.ejs
  test/fixtures/writeFilesToDisk/templates/common/all.ejs
  test/fixtures/writeFilesToDisk/templates/common/common.ejs
  test/fixtures/writeFilesToDisk/templates/specific/all.ejs
  test/fixtures/writeFilesToDisk/templates/specific/specific.ejs
  test/fixtures/writeFilesToDisk/templates_override/specific/all.ejs
  test/generator-base.spec.js
  test/utils.spec.js
Labels: none

Add support to transparent side by side blueprint.
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/common/files.js
  generators/common/index.js
  generators/cypress/files.js
  generators/entity-client/files.js
  generators/entity-server/files.js
  generators/generator-base-blueprint.js
  generators/generator-base.js
  generators/page/files-vue.js
  generators/server/files.js
  generators/utils.js
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Remove --profile option from webpack scripts
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Change webpack option env.stats to stats
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Update webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
Labels: theme: angular

Change cypress to load authentication data from server.
  generators/cypress/files.js
  generators/cypress/templates/cypress.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/utils.ts.ejs
Labels: none

Remove duplicated config.
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Update cypress entities.
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Remove cypress utils from expectedFiles.
  test/utils/expected-files.js
Labels: none

Reenable ms-react-gateway-consul-oauth2 e2e.
  azure-pipelines.yml
Labels: theme: CI Builds

Release v6.10.4
  package-lock.json
  package.json
Labels: theme: dependencies

[react] Fix default values in entity form
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

[react] Enable e2e at ms-react-gateway-consul-oauth2 test
  azure-pipelines.yml
Labels: theme: CI Builds

GitHub Actions: update 'stale' label to 'area: stale' [skip ci]
  .github/workflows/stale.yml
Labels: theme: CI Builds

Fix jsdoc order.
  cli/import-jdl.js
Labels: theme: cli

Comment e2e test for gateway applications.
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/circle.yml.ejs
  generators/ci-cd/templates/github-ci.yml.ejs
  generators/ci-cd/templates/travis.yml.ejs
Labels: none

tried to add inheritance to java entities
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity/prompts.js
Labels: theme: jhipster-internals, theme: java

Fix angular enum with nullable value
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
Labels: theme: angular

feat: Manage dayjs version in common package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

fix: react webpack dependency
  generators/client/templates/react/package.json.ejs
Labels: theme: react

fix: Remove dayjs from devDependencies
  generators/client/templates/common/package.json
Labels: none

Replaced moment by dayjs, and date-fns too
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/date/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/duration.pipe.ts.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/DurationFormat.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/date-utils.ts.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/app/app.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/dayjs.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.service.spec.ts.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-constants.js
  generators/languages/index.js
  test/utils/expected-files.js
  test/vue.spec.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: i18n

Fix(lang): pt-BR
  generators/languages/templates/src/main/resources/i18n/messages_pt_BR.properties.ejs
Labels: theme: i18n

Login.route: Fix build error - add missed import for Route
  generators/client/templates/angular/src/main/webapp/app/login/login.route.ts.ejs
Labels: theme: angular

update gradle to latest version 6.7
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
Labels: theme: jhipster-internals, theme: java

Revert "Bump css-loader from 3.6.0 to 5.0.0 in /generators/client/templates/angular"
  generators/client/templates/angular/package.json
Labels: theme: angular

[jdl] Stop setting default locales.
  jdl/jhipster/application-options.js
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
  test/jdl/test-files/application.jdl
  test/jdl/test-files/application_wrong_basename.jdl
  test/jdl/test-files/applications.jdl
Labels: none

[jdl] Stop setting nativeLanguage
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/validators/application-validator.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
  test/jdl/test-files/json_to_jdl_converter/app_with_entities/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app1/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app2/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app3/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/only_app/.yo-rc.json
  test/jdl/validators/application-validator.spec.js
Labels: none

fix: check for skip-generated-flag in runtime
  generators/generator-base.js
  generators/generator-transforms.js
Labels: theme: jhipster-internals

chore: move docker prompts to async
  generators/docker-prompts.js
Labels: theme: docker :whale:

chore: fixing lint issues
  generators/docker-prompts.js
Labels: theme: docker :whale:

chore: fix aws prompts to use async
  generators/aws/prompts.js
Labels: theme: aws

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
