Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update npm version to 8.5.4
  generators/common/templates/package.json
Labels: theme: dependencies, theme: front, theme: java

17488 - improve serach interface and indexing
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  test/entity.spec.js
Labels: theme: java

17488 - rebased to newest version
  package-lock.json
Labels: theme: dependencies

Sonar: Remove this unused import
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
Labels: theme: java

Deprecate _getJoinColumnName
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Fix issue: Replace any occurrences of 'ts-jest/utils' with just 'ts-jest'
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: angular, theme: vue

Update GitHub Actions to v3 and rename workflow
  generators/ci-cd/index.js
  generators/ci-cd/templates/main.yml.ejs
Labels: none

Update snapshots and tests
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/ci-cd.spec.js.snap
  test/ci-cd.spec.js
Labels: none

Fix issue: Replace any occurrences of 'ts-jest/utils' with just 'ts-jest' (#18100)
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: angular, theme: vue

Calculate joinColumnNames derived property (#18096)
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: theme: java

Replace deprecated Mono.subscriberContext by Mono.contextWrite
  generators/server/templates/src/main/java/package/security/jwt/JWTFilter.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JWTFilterTest.java.ejs
Labels: theme: java

Fix Unchecked assignment: 'io.jsonwebtoken.jackson.io.JacksonSerializer' to 'io.jsonwebtoken.io.Serializer<java.util.Map<java.lang.String,?>>'
  generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs
Labels: theme: java

Adjusts
  generators/server/templates/devcontainer/devcontainer.json.ejs
Labels: theme: java

Make inject_template easier to read
  generators/entity-server/templates/src/main/java/package/common/inject_template.ejs
Labels: theme: java

Reimplement entity mapper
  generators/bootstrap-application/generator.spec.mjs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  utils/field.js
  utils/relationship.js
Labels: theme: java

Update snapshots
  test/__snapshots__/ci-cd.spec.js.snap
Labels: none

Revert "Drop error handling"
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
Labels: theme: react

Fix generator ci-cd tests
  test/ci-cd.spec.js
Labels: none

Add .devcontainer (#17792)
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/devcontainer/Dockerfile.ejs
  generators/server/templates/devcontainer/devcontainer.json.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: java

Convert EntitiesMenu to a component.
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
Labels: theme: react

Cast ErrorLoading component
  generators/client/templates/react/src/main/webapp/app/shared/error/error-loading.tsx.ejs
Labels: theme: react

Bump simple-git to 3.3.0 to fix high severity issue
  package.json
Labels: theme: dependencies

Don't use version ranges
  package-lock.json
  package.json
Labels: theme: dependencies

Downgrade os-locale to 5.0.0
  package-lock.json
  package.json
Labels: theme: dependencies

Downgrade p-queue to 6.6.2
  package-lock.json
  package.json
Labels: theme: dependencies

Revert to original name for github-actions.yml file
  generators/ci-cd/index.js
  generators/ci-cd/templates/github-actions.yml.ejs
Labels: none

Downgrade sort-keys to 4.2.0
  package-lock.json
  package.json
Labels: theme: dependencies

Bump simple-git to 3.3.0 to fix high severity issue (#18104)
  package-lock.json
  package.json
Labels: theme: dependencies

Fix react microfrontend delete
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
Labels: theme: react

Fix react microfrontend webpack config
  generators/client/templates/react/webpack/webpack.prod.js.ejs
Labels: theme: react

Update snapshot
  test/__snapshots__/app.spec.js.snap
Labels: none

Update GitHub Actions to v3 and rename workflow (#18101)
  generators/ci-cd/index.js
  generators/ci-cd/templates/github-actions.yml.ejs
  test/__snapshots__/ci-cd.spec.js.snap
  test/ci-cd.spec.js
Labels: none

Fix gateway entities.
  generators/client/needle-api/needle-client-react.js
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: front, theme: react

Use named chunkIds for microfrontend
  generators/client/templates/common/webpack/webpack.microfrontend.js.jhi.ejs
Labels: theme: front

Fix microservices references
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
Labels: theme: react

Add error handling to microservice routes.
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

17488 - improve serach interface and indexing
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  test/entity.spec.js
Labels: theme: java

17488 - improve serach interface and indexing
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java

17488 - rebased to newest version for 4th time
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java
