Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Update hibernate version to 5.4.22.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update r2dbc-mariadb version to 0.8.4-rc
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update junit-platform-launcher version to 1.7.0
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update caffeine version to 2.8.6
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update typesafe version to 1.4.1
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update checkstyle version to 8.36.2
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update frontend-maven-plugin version to 1.10.3
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Implement an earlier .prettierrc commit.
  generators/common/index.js
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Update mysql docker image version to 8.0.22
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update memcached docker image version to 1.6.8-alpine
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update redis docker image version to 6.0.9
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update grafana/grafana docker image version to 7.3.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update spring-boot version to 2.3.5.RELEASE
  generators/generator-constants.js
Labels: theme: jhipster-internals

Recreate package-lock.json for an updated mem-fs-editor.
  package-lock.json
Labels: theme: dependencies

Implement preConflicts priority.
  generators/generator-base-private.js
  generators/generator-base.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Fix tests.
  test/app.spec.js
  test/vue.spec.js
Labels: none

Improve composing workflow.
  generators/app/index.js
Labels: theme: jhipster-internals

Move registerForceEntitiesTransform to generator-base.
  generators/app/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Make preConflicts .yoresolve aware.
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Remove .editorconfig from react, it's written at common generator.
  generators/client/files-react.js
  generators/client/templates/react/.editorconfig
Labels: theme: react

Remove .huskyrc from vue, it's written at common.
  generators/client/files-vue.js
  generators/client/templates/vue/.huskyrc.ejs
Labels: none

Switch back to jhipster-bom main branch
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Remove old values about metrics
  generators/docker-compose/files.js
  generators/docker-compose/index.js
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/docker-compose/templates/central-server-config/gateway.yml.ejs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
Labels: theme: docker :whale:, theme: kubernetes

Clean Angular
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/ng_validators.ejs
Labels: theme: angular

[angular] Use standard Angular pipe keyvalue instead of ng-jhipster keys
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
Labels: theme: angular

Exit jhipster process on unhandledRejection.
  cli/cli.js
Labels: theme: cli

Use user primaryKeyType instead of a default type.
  generators/client/index.js
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/server/index.js
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: front, theme: angular, theme: java

Create shared entity for built in user management entities.
  generators/app/index.js
  generators/entities/index.js
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Create shared user management entities at client and server for tests.
  generators/client/index.js
  generators/server/index.js
Labels: theme: front, theme: java

Use sharedEntities at database-changelog-liquibase.
  generators/database-changelog-liquibase/index.js
Labels: none

Use user's entityTableName.
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
Labels: theme: java

Calculate primaryKeyType and load otherEntityPrimaryKeyType.
  generators/entity/index.js
  generators/generator-base-private.js
  utils/entity.js
  utils/relationship.js
Labels: theme: jhipster-internals

Make user entity available to templates.
  generators/client/index.js
  generators/entities-client/index.js
  generators/entity/index.js
  generators/server/index.js
Labels: theme: front, theme: jhipster-internals, theme: java

Fix ignoreOtherSideProperty.
  generators/entity-server/index.js
Labels: theme: java

Fix test.
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Apply suggestions from code review
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: none

auth-expired.interceptor - fix merge conflict
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
Labels: theme: angular

Fix test error
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
Labels: theme: angular

[angular] Add livenessState and readinessState to HealthKey type
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.service.ts.ejs
Labels: theme: angular

Remove codelyzer from package.json
  generators/client/templates/angular/package.json
Labels: theme: angular

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
