Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update jhipster-bom version to 8.0.0-beta.1
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Release v8.0.0-beta.1
  package-lock.json
  package.json
Labels: theme: dependencies

Update jhipster-react version to main
  generators/react/resources/package.json
Labels: theme: dependencies, theme: react

Update jhipster-bom version to 8.0.0-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.mts
Labels: theme: CI Builds, theme: jhipster-internals

fix blueprint test with v8 releases
  generators/base/blueprints.spec.mts
Labels: theme: jhipster-internals

Update generators/base/blueprints.spec.mts
  generators/base/blueprints.spec.mts
Labels: theme: jhipster-internals

allow jhipster prereleases at checks.
  generators/base/generator-base-blueprint.mts
Labels: theme: jhipster-internals

Revert "Update generators/base/blueprints.spec.mts"
  generators/base/blueprints.spec.mts
Labels: theme: jhipster-internals

don't override base config.
  generators/app/generator.mjs
  generators/base-docker/generator.mjs
  generators/entities/generator.mjs
  generators/page/generator.mjs
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
  generators/upgrade/generator.mjs
Labels: theme: jhipster-internals, theme: upgrade

adjusts to upgrade
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/upgrade/generator.mjs
Labels: theme: jhipster-internals, theme: upgrade

bump environment to v4
  package.json
Labels: theme: dependencies

update package-lock
  package-lock.json
Labels: theme: dependencies

Removed override of protocolSuffixfor for r2dbc since it is same as jdbc
  generators/spring-data-relational/support/database-data.mts
Labels: none

Update git-commit-id-maven-plugin version property
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/resources/pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Migrate to jackson-datatype-hibernate6-jakarta
  generators/server/templates/build.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: java

Migrate to jackson-datatype-hibernate6-jakarta
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
Labels: theme: java

drop r2dbc-mysql version
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/resources/pom.xml
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: jhipster-internals, theme: java

change mysql -> mariadb
  generators/docker/templates/src/main/docker/mariadb.yml.ejs
Labels: none

Update mariadb.yml.ejs
  generators/docker/templates/src/main/docker/mariadb.yml.ejs
Labels: none

fix mariadb url at test container
  generators/spring-data-relational/templates/src/test/java/package/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
Labels: none

fix jackson-datatype-hibernate6 dependency
  generators/server/templates/build.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: java

comment OffsetTime test
  generators/spring-data-relational/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
Labels: none

disable readiness for db in reactive applications
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

move mongodb databaseName to url
  generators/docker/templates/src/main/docker/app.yml.ejs
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java, theme: kubernetes

update snapshots
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/openshift/__snapshots__/openshift.spec.mts.snap
Labels: theme: docker :whale:, theme: kubernetes

add ExtendWith to AuthorizationHeaderUtilTest
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
Labels: theme: java

adjust AuthorizationHeaderUtilTest
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
Labels: theme: java

adjust AuthorizationHeaderUtilTest
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
Labels: theme: java

improve OffsetTime comment
  generators/spring-data-relational/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
Labels: none

try to add blocking call to mariadb
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

try to add another blocking call
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

disable mariadb reactive backend test
  test-integration/workflow-samples/react.json
Labels: none

Revert "try to add another blocking call"
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

Revert "try to add blocking call to mariadb"
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

adjusts to commit
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

modernizer-maven-plugin 2.6.0
  generators/server/resources/pom.xml
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

polish jdl
  generators/jdl/generator.mts
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

drop test comment
  generators/spring-data-relational/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
Labels: none

revert hibernate to v6.1.7.Final
  generators/generator-constants.mts
  generators/spring-cache/internal/dependencies.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: jhipster-internals
