Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Drop tabtab dependency
  package-lock.json
  package.json
Labels: theme: dependencies

[angular] Fix routing module with microservice
  generators/client/needle-api/needle-client-angular.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-routing.module.ts.ejs
  test/needle-api/needle-client-angular.spec.js
Labels: theme: angular

remove last Travis CI marks
  .prettierignore
  test-integration/scripts/00-init-env.sh
Labels: none

Reduce client frameworks package.json differences.
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Integrate scripts blueprint.
  generators/client/index.js
  generators/client/templates/common/package.json
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
Labels: theme: front, theme: java

Fix e2e script
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Use generated scripts for ci.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI Builds

Test containers.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/server/index.js
Labels: theme: CI Builds, theme: java

simplify integration tests by replaced long and repetitive annotations
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/files.js
  generators/server/templates/src/test/java/package/IntTest.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/spring-controller/templates/src/test/java/package/web/rest/ResourceIT.java.ejs
Labels: theme: java

restore faUserPlus import, align register icon across clients
  generators/client/templates/angular/src/main/webapp/app/core/icons/font-awesome-icons.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/icon-loader.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
Labels: theme: angular, theme: react

Fix UserResourceIT test.
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Cassandra always uses testcontainers.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI Builds

Bump @types/enzyme to 3.10.7 for React apps
  generators/client/templates/react/package.json.ejs
Labels: theme: react

fix(Server Configuration): Rectify content type for serving JSON files
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

prettier format needle-server-liquibase.spec
  test/needle-api/needle-server-liquibase.spec.js
Labels: none

feat: change sync-request library to then-request
  generators/openapi-client/prompts.js
  package-lock.json
  package.json
Labels: theme: dependencies

set STOMP protocol
  generators/client/templates/angular/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/websocket-middleware.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
Labels: theme: angular, theme: react

Update jib version to 2.6.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

add RTL support for vue
  generators/client/templates/vue/src/main/webapp/app/locale/translation.service.ts.ejs
Labels: none

Fix Okta login failure message and add Okta CLI to docs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/common/templates/README.md.ejs
Labels: theme: angular, theme: react

Remove console log when generating an app with OAuth 2.0
  generators/server/index.js
Labels: theme: java

fix RTL styles and merge all copies of rtl.scss
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/templates/common/src/main/webapp/content/scss/rtl.scss.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/src/main/webapp/app/rtl.scss.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-footer/jhi-footer.vue.ejs
  generators/client/templates/vue/src/main/webapp/content/scss/rtl.scss.ejs
Labels: theme: angular, theme: react

add google analytics to allowed CSP policy
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
Labels: theme: java

document option --skip-jhipster-dependencies when using cloned version of generator-jhipster
  CONTRIBUTING.md
Labels: none

fix typo
  CONTRIBUTING.md
Labels: none

[webflux] remove unused functions
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Enable webflux tests for backend
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Implement github actions caching.
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Implement stale workflow.
  .github/workflows/stale.yml
Labels: theme: CI Builds

Implement .yo-resolve.
  cli/cli.js
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: cli, theme: jhipster-internals

Add .yo-resolve dependencies.
  package-lock.json
  package.json
Labels: theme: dependencies

Keep minimatch and find-up dependencies fixed.
  package.json
Labels: theme: dependencies

JDL: fixed user management flag passing
  jdl/jdl-importer.js
  jdl/models/jdl-application-entities.js
  jdl/models/jdl-application.js
  jdl/models/jdl-field.js
  jdl/validators/business-error-checker.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  test/jdl/models/jdl-field.spec.js
  test/jdl/validators/business-error-checker.spec.js
  test/jdl/validators/jdl-with-application-validator.spec.js
  test/jdl/validators/jdl-without-application-validator.spec.js
Labels: none

Update sonarqube docker image version to 8.5.0-community
  generators/generator-constants.js
Labels: theme: jhipster-internals

Renamed variable
  jdl/jdl-importer.js
Labels: none

Simplified the JDL parsing workflow
  jdl/parsing/api.js
  jdl/parsing/jdl-ast-builder-visitor.js
Labels: none

Used standard es instead of lodash functions
  jdl/parsing/jdl-ast-builder-visitor.js
Labels: none

Apply suggestions from code review
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/server/index.js
Labels: theme: front, theme: angular, theme: react, theme: java

Fixes to scripts.
  generators/server/index.js
Labels: theme: java

Wait for cassandra to start.
  generators/server/index.js
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
