Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update com.gradle.common-custom-user-data-gradle-plugin version to 1.7.2
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

chore: Support prettier transformation of svelte files
  generators/generator-base.js
Labels: theme: jhipster-internals

Update mapstruct version to 1.5.1.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Sonar: Replace the type specification in this constructor call with the diamond operator
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

[React] Update React version to 18
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/menu-item.tsx.ejs
Labels: theme: dependencies, theme: react

revert autoprefixer version
  generators/client/templates/react/package.json
Labels: theme: dependencies, theme: react

chore: Support prettier transformation of svelte files (#18821)
  generators/generator-base.js
Labels: theme: jhipster-internals

Add missing import
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
Labels: theme: react

Remove last usages of ErrorBoundaryRoute
  generators/client/templates/react/src/main/webapp/app/modules/account/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  test/needle-api/needle-client-react.spec.js
Labels: theme: react

Remove prop
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
Labels: theme: react

Make microfrontends work with react router 6.3.0
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

Bump react router version to 6.3.0
  generators/client/templates/react/package.json
Labels: theme: dependencies, theme: react

Fix LoginRedirect component
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
Labels: theme: react

Make pagination work with react router 6.3.0
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Improve test description
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-routes.spec.tsx.ejs
Labels: theme: react

Make entities work with react router 6.3.0
  generators/client/needle-api/needle-client-react.js
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
Labels: theme: front, theme: react

Fix typo
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.spec.tsx.ejs
Labels: theme: react

Add ErrorBoundaryRoutes component
  generators/cleanup.js
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-routes.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-routes.tsx.ejs
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  test/__snapshots__/app.spec.js.snap
  test/client/__snapshots__/react.spec.js.snap
Labels: theme: front, theme: react, theme: jhipster-internals

Use ErrorBoundaryRoutes component
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
  test/client.spec.js
Labels: theme: react

Remove @types/react-router-dom from generated package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Remove confusing alias
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
Labels: theme: react

Remove ErrorBoundaryRoute component
  generators/cleanup.js
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-route.tsx.ejs
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  test/__snapshots__/app.spec.js.snap
  test/client/__snapshots__/react.spec.js.snap
Labels: theme: front, theme: react, theme: jhipster-internals

Change the AppRoutes paths from absolute to relative
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

Initial changes to use react router 6.3.0
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.spec.tsx.ejs
Labels: theme: react

Adapt user management to react router 6.3.0
  generators/client/templates/react/src/main/webapp/app/modules/account/activate/activate.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-delete-dialog.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

Fix client generation tests
  test/client.spec.js
Labels: none

Use constant for repeated value
  test/client.spec.js
Labels: none

Remove unused imports
  generators/client/templates/react/src/main/webapp/app/modules/account/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/index.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
Labels: theme: react

Move closing tag to the right position
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
Labels: theme: react

Fix remote microfrontend routes
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

Refactor PrivateRoute component
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
Labels: theme: react

Sonar: Replace the type specification in this constructor call with the diamond operator (#18822)
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

[React] Upgrade jest
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: dependencies, theme: react

[React] Upgrade jest (#18842)
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: dependencies, theme: react

Fix redirect when not authenticated test
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
Labels: theme: react

Simplify expression
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

[Vue] Upgrade jest
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: dependencies, theme: vue

[Vue] Upgrade jest (#18841)
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: dependencies, theme: vue

fix: cleanup .yo-rc.json entities config
  generators/generator-base.js
Labels: theme: jhipster-internals

Revert changing filename in cleanup
  generators/cleanup.js
Labels: theme: jhipster-internals
