Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

fix r2dbc-h2 condition
  generators/server/templates/pom.xml.ejs
Labels: theme: java

fix h2-r2dbc condition (#19388)
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update BOM version to 7.9.3-SNAPSHOT
  generators/generator-constants.js
Labels: theme: jhipster-internals

Use default bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

neo4j cascades and loads relationships by default
  generators/entity/index.js
Labels: theme: front, theme: java

add docker-compose script
  generators/workspaces/index.js
Labels: none

fix npmw.cmd failing to set the local node.js up
  generators/server/templates/npmw.cmd
Labels: theme: java

[Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Dispatch Entity Before Load Modal
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
Labels: theme: react

[react] dispatch entity before load modal
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
Labels: theme: react

mark log as safe
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: java

[Vue] Revert: Reduce vue branch threshold to 57 for microfrontends
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

[Vue] Revert: Reduce vue branch threshold to 57 for microfrontends
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

[Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

[Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

ignore field new at persistable interface
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_persistable.ejs
Labels: theme: java

improve elasticsearch test configuration and cleanup elastic repository at afterEach
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup-elasticsearch.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/config/ElasticsearchTestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
Labels: theme: java

improve templates formatting
  generators/entity-server/templates/src/main/java/package/common/delete_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

revert change
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

[Vue] Increase Vue code coverage (#19408)
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

cleanup UserResource
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: theme: java

fix elasticsearch url for microfrontends
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
Labels: theme: angular

remove unnecessary optional property
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  package-lock.json
Labels: theme: dependencies, theme: angular

remove unnecessary optional property
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

[Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
Labels: theme: vue

[Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: vue

fix vue cache
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: theme: vue

Revert "remove unnecessary optional property"
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

fix npmw.cmd failing to set the local node.js up (#19404)
  generators/server/templates/npmw.cmd
Labels: theme: java

disable dependency review workflow at forks
  .github/workflows/depsreview.yml
Labels: theme: CI Builds

fix some sonar issues.
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/BadRequestAlertException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/EmailAlreadyUsedException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/InvalidPasswordException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/LoginAlreadyUsedException.java.ejs
Labels: theme: java

[angular] improve filter implementation
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.ts.ejs
Labels: theme: angular

[angular] add support to multiples values for each filter
  generators/client/templates/angular/src/main/webapp/app/core/request/request-util.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[angular] improve filter component
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

fix test file extension
  test/app-required-config.spec.js
Labels: none

add support to local blueprint
  cli/environment-builder.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/generator-base-blueprint.js
  generators/server/templates/package.json.ejs
  test/blueprint/local-blueprint.spec.js
  test/utils-blueprint.spec.js
  utils/blueprint.js
Labels: theme: cli, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

replace arm64 workaround for gradle node download
  generators/server/templates/build.gradle.ejs
Labels: theme: java

replace arm64 workaround for gradle node download (#19452)
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Fix claims from Keycloak 18
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java
