Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Polishing
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  test/vue.spec.js
Labels: theme: java

Fix typo
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  test/vue.spec.js
Labels: theme: front, theme: angular

Fix quotes
  test/vue.spec.js
Labels: none

prepare user at bootstrap-application-server
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-base/types.d.ts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.spec.mts
Labels: none

fix skipChecks
  generators/app/index.js
Labels: theme: jhipster-internals

add resetEntitiesFakeData to base-application
  generators/base-application/generator.cjs
Labels: none

change server generator to use shared application.
  generators/server/files-couchbase.js
  generators/server/files-sql.js
  generators/server/files.js
  generators/server/index.js
  generators/server/needles.spec.mjs
Labels: theme: java

simplify entity i18n template
  generators/entity-i18n/templates/i18n/entity_en.json.ejs
Labels: theme: i18n

change client generator to use shared application
  generators/bootstrap-application-client/types.d.ts
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
Labels: theme: front, theme: angular, theme: react, theme: vue

drop protractor test and fixes for serviceDiscovery=no
  generators/docker-compose/files.js
  generators/docker-prompts.js
  generators/kubernetes-helm/files.js
  generators/kubernetes/files.js
  generators/server/files.js
  test/__snapshots__/app.spec.js.snap
  test/app.spec.js
  test/languages.spec.js
  test/page.spec.js
  test/templates/all-languages/.yo-rc.json
  test/templates/ngx-blueprint/.yo-rc.json
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:, theme: kubernetes

add backendType to types and set Java at server
  generators/bootstrap-application-base/types.d.ts
  generators/bootstrap-application-server/generator.mts
Labels: none

change common generator to use shared application
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/files.js
  generators/common/generator.spec.mjs
  generators/common/index.js
  test/common.spec.js
Labels: theme: front, theme: java

rename backendName to backendType at templates
  generators/client/index.js
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/core/home/home.vue.ejs
  generators/common/templates/README.md.jhi.ejs
  test/enforcements.spec.js
Labels: theme: front, theme: angular, theme: react, theme: vue, theme: java

add JHipsterOptions type
  generators/base/api.d.ts
  generators/generator-base.js
Labels: theme: jhipster-internals

move prettier transform test to common generator
  generators/common/generator.spec.mjs
  generators/common/index.js
  generators/common/templates/.prettierrc.ejs
  test/generator-transform.spec.js
Labels: theme: front, theme: java

fix to JHipsterOption type
  generators/base/api.d.ts
Labels: theme: jhipster-internals

cleanup client
  generators/client/index.js
Labels: theme: front

Remove distinct from Hibernate queries
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

change client generator tests to mts.
  generators/client/__snapshots__/angular.spec.mts.snap
  generators/client/__snapshots__/react.spec.mts.snap
  generators/client/__snapshots__/vue.spec.mts.snap
  generators/client/angular.spec.mts
  generators/client/generator.spec.mts
  generators/client/react.spec.mts
  generators/client/vue.spec.mts
Labels: theme: front

add dependency on yeoman-test types.
  package-lock.json
  package.json
Labels: theme: dependencies

improve ts configuration
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.spec.json
Labels: theme: dependencies

misc improvements.
  generators/base-application/generator.cjs
  generators/bootstrap-application-server/generator.mts
  generators/client/__snapshots__/angular.spec.mts.snap
  generators/client/__snapshots__/react.spec.mts.snap
  generators/client/__snapshots__/vue.spec.mts.snap
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/cypress/__snapshots__/generator.spec.mts.snap
  generators/server/index.js
  lib/support/shared-data.cjs
Labels: theme: front, theme: java

add server tests with matrix.
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/__test-support/elastic-search-matcher.mts
  generators/server/__test-support/service-discovery-matcher.mts
  generators/server/cassandra.spec.mts
  generators/server/couchbase.spec.mts
  generators/server/mongodb.spec.mts
  generators/server/neo4j.spec.mts
  generators/server/sql.spec.mts
  test/support/application-samples.mts
  test/support/client-samples.mts
  test/support/entity-samples.mts
  test/support/index.mjs
  test/support/index.mts
  test/support/matcher.mts
  test/support/matrix-utils.mts
  test/support/server-samples.mts
Labels: theme: java

Fix fetching a single entity with relationships
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

Use primary key name for parameter
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

allow to customize client src and test dir.
  generators/base-application/generator.cjs
  generators/base/api.d.ts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/client/__snapshots__/angular.spec.mts.snap
  generators/client/__snapshots__/react.spec.mts.snap
  generators/client/__snapshots__/vue.spec.mts.snap
  generators/client/angular.spec.mts
  generators/client/react.spec.mts
  generators/client/vue.spec.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/cypress/__snapshots__/generator.spec.mts.snap
  generators/cypress/generator.spec.mts
  generators/generator-base.js
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/cassandra.spec.mts
  generators/server/couchbase.spec.mts
  generators/server/mongodb.spec.mts
  generators/server/neo4j.spec.mts
  generators/server/sql.spec.mts
  test/support/client-samples.mts
  test/support/matrix-utils.mts
  test/support/server-samples.mts
Labels: theme: front, theme: jhipster-internals, theme: java

drop and rename old tests.
  generators/generator-base.js
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/app-client-custom-path.spec.js
  test/app-required-config.spec.js
  test/app.spec.js
  test/app/application-with-entities.js
  test/app/composing.spec.js
  test/app/prompts.spec.js
  test/bootstrap/bootstrap.spec.js
  test/cli/jdl.spec.js
  test/client.spec.js
  test/entities/composing.spec.js
  test/server.spec.js
Labels: theme: jhipster-internals

fixes
  generators/client/angular.spec.mts
  generators/client/react.spec.mts
  generators/client/vue.spec.mts
  generators/server/cassandra.spec.mts
  generators/server/couchbase.spec.mts
  generators/server/mongodb.spec.mts
  generators/server/neo4j.spec.mts
  test/support/client-samples.mts
  test/support/matrix-utils.mts
  test/support/server-samples.mts
Labels: theme: front, theme: java

replace getPrettierExtensions with application property
  generators/bootstrap-application-base/types.d.ts
  generators/bootstrap-application-client/types.d.ts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/templates/.lintstagedrc.js.ejs
  generators/generator-base.js
  generators/generator-constants.js
  generators/generator-transforms.js
  generators/server/templates/package.json.ejs
Labels: theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

Update 3-jhipster-rfc-unambiguous-priorities.md
  rfcs/3-jhipster-rfc-unambiguous-priorities.md
Labels: none

add skipPriorities option and improve entities option
  generators/base-application/generator.cjs
  generators/base-application/generator.spec.mts
  generators/base/generator.cjs
  generators/base/generator.spec.mjs
  generators/base/generator.spec.mts
Labels: theme: jhipster-internals

move entities test to the generator directory
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/entities/generator.cjs
  generators/entities/generator.spec.mjs
  generators/entities/generator.spec.mts
  generators/entities/index.mjs
  test/entities/only-entities.spec.js
Labels: none

drop unused index at lib
  lib/index.js
Labels: none

make entity-client and entity-server dumb
  generators/entities-client/generator.spec.mjs
  generators/entities-client/index.js
  generators/entities-client/index.mjs
  generators/entities/generator.cjs
  generators/entity-client/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.js
  generators/generator-list.mjs
  test/enforcements.spec.js
  test/needle-api/needle-client-vue.spec.js
Labels: theme: front, theme: jhipster-internals, theme: java

drop entities composing test
  test/entities/composing.js
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

rework incremental changelog test
  generators/database-changelog-liquibase/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/database-changelog-liquibase/incremental-liquibase.spec.mts
Labels: none

fix prepareReact
  generators/entity/index.js
Labels: theme: front, theme: java

fix prepareReact
  generators/entity/index.js
Labels: theme: front, theme: java

fix postWritingEntities priority
  lib/constants/priorities.cjs
Labels: none

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
