Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*

Upgrade to Angular 18.0.0
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

move UserMapperTest to correct class
  generators/server/templates/src/main/java/_package_/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: java

update spring-boot-dependencies bom to v3.3.0
  generators/spring-boot/resources/spring-boot-dependencies.pom
Labels: none

adjust test application.yml
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

adjust application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

adjust application.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Update generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
Labels: theme: java

fix variable
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
Labels: theme: java

Sonar: Rename 'user' which hides the field declared at line 80
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Sonar: Rename 'user' which hides the field declared at line 25
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
Labels: theme: java

Sonar: Rename 'user' which hides the field declared at line 80 (#26241)
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Sonar: Rename 'user' which hides the field declared at line 25 (#26246)
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
Labels: theme: java

don't delete all users in some integration tests
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: none

don't delete all Users in AccountResourceIT
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body (#26258)
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: none

don't deleteAll in entities tests.
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

add org.openapi.generator to libs.versions.toml
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/server/resources/gradle/libs.versions.toml
  generators/server/templates/gradle.properties.ejs
Labels: theme: jhipster-internals, theme: java, theme: gradle

add gradle sample with enableSwaggerCodegen
  test-integration/jdl-samples/stack-vue-no-db/stack.jdl
  test-integration/samples/ng-gradle-fr/.yo-rc.json
Labels: none

Apply suggestions from code review
  generators/server/templates/src/test/java/_package_/config/CRLFLogConverterTest.java.ejs
Labels: theme: java

bump maven wrapper to v3.3.2
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
Labels: theme: maven

randomize node and java versions
  test-integration/scripts/99-write-matrix.js
  test-integration/workflow-samples/angular.json
  test-integration/workflow-samples/react.json
  test-integration/workflow-samples/vue.json
Labels: none

change seed for node and java
  test-integration/scripts/99-write-matrix.js
Labels: none

Sonar: Remove this unused 'databaseSizeBeforeCreate' local variable
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

more types on functions
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/field-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/types.ts
  jdl/models/jdl-field.ts
Labels: none

type safety on exportes
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/deployment-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/field-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/types.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.ts
  jdl/converters/types.ts
  jdl/exporters/config.ts
  jdl/exporters/export-utils.spec.ts
  jdl/exporters/export-utils.ts
  jdl/exporters/jhipster-deployment-exporter.spec.ts
  jdl/exporters/jhipster-deployment-exporter.ts
  jdl/models/jdl-deployment.spec.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-field.spec.ts
  jdl/models/jdl-field.ts
  jdl/validators/deployment-validator.ts
Labels: none

Sonar: This block of commented-out lines of code should be removed
  generators/gatling/README.md
  generators/gatling/templates/src/test/java/gatling/simulations/_entityClass_GatlingTest.java.ejs
Labels: none

Update generators/gatling/README.md
  generators/gatling/README.md
Labels: none

Update generators/gatling/README.md
  generators/gatling/README.md
Labels: none

add typechecking
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/types.d.ts
  jdl/exporters/config.ts
  jdl/exporters/export-utils.ts
  jdl/exporters/jhipster-deployment-exporter.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
Labels: none

enforce non empty parameter
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/enum-converter.ts
  jdl/exporters/applications/jhipster-application-formatter.ts
  jdl/exporters/jhipster-deployment-exporter.spec.ts
  jdl/exporters/jhipster-deployment-exporter.ts
  jdl/models/jdl-deployment.spec.ts
  jdl/models/jdl-deployment.ts
Labels: none

Sonar: This block of commented-out lines of code should be removed
  generators/gatling/templates/src/test/java/gatling/simulations/_entityClass_GatlingTest.java.ejs
Labels: none

cleanup cache in tests
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
Labels: none

more type checking
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/json-to-jdl-application-converter.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/field-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/types.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.ts
  jdl/converters/types.d.ts
  jdl/exporters/applications/jhipster-application-formatter.ts
  jdl/exporters/jdl-exporter.ts
  jdl/exporters/jhipster-entity-exporter.ts
  jdl/exporters/types.d.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
Labels: none

Update generator.ts
  generators/spring-boot/generator.ts
Labels: none

Update generator.ts
  generators/spring-boot/generator.ts
Labels: none

Update generator.ts
  generators/spring-boot/generator.ts
Labels: none

Update generator.ts
  generators/spring-boot/generator.ts
Labels: none

Update UserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none
