Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

fix unused Validators import in entity management update component
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

Change LoginVM rememberMe Type Boolean -> boolean
  generators/server/templates/src/main/java/package/web/rest/UserJWTController.java.ejs
  generators/server/templates/src/main/java/package/web/rest/vm/LoginVM.java.ejs
Labels: theme: java

Renamed specialOptions to useOptions
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/jhipster/binary-options.js
  jdl/parsing/ast-builder.js
  test/jdl/converters/parsedJDLToJDLObject/application-converter.spec.js
  test/jdl/grammar/grammar.spec.js
Labels: none

fix useless usage of String wrapper in duration.pipe.ts, now using primitive string
  generators/client/templates/angular/src/main/webapp/app/shared/duration.pipe.ts.ejs
Labels: theme: angular

Renamed ELASTIC_SEARCH to ELASTICSEARCH
  jdl/jhipster/binary-options.js
  test/jdl/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/option-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
Labels: none

Renamed specialOptionKey to optionValueKey
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
Labels: none

Changed e2e npm script so cypress does not run headless. e2e tests scripts now use command npm run e2e:headless
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  test-integration/scripts/24-tests-e2e.sh
Labels: theme: angular, theme: react

change the hover and focus properties of dropdown-item in css and scss
  generators/client/templates/vue/src/main/webapp/content/css/global.css.ejs
  generators/client/templates/vue/src/main/webapp/content/scss/global.scss.ejs
Labels: none

Slightly improved loop performance
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/jhipster/binary-options.js
Labels: none

12449 Add vue banner
  generators/server/files.js
  generators/server/templates/src/main/resources/banner-vue.txt
Labels: theme: java

Add refresh button on user management page for angular
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
Labels: theme: angular

fix bad parsing of duration for Vue.js projects
  generators/client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs
Labels: none

use toast instead of Alert
  generators/client/files-vue.js
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/alert/alert.mixin.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/store/alert-store.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/alert-page.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.component.spec.ts.ejs
  test/vue.spec.js
Labels: none

[angular] improve view entities
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
Labels: theme: angular

[WIP] jhipsterignore
  generators/generator-base.js
  generators/utils.js
Labels: theme: jhipster-internals

Change Entity Boolean method isField -> getField
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Taking review
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react

Implement disableBusinessErrorChecker and disableBuiltInEntitiesFiltering in jdl
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.js
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
  jdl/jdl-importer.js
Labels: none

Implement disable-jdl-validation option
  cli/commands.js
  cli/import-jdl.js
Labels: theme: cli

Add more tests to jdl and neo4j relationships.
  test/jdl/jdl-importer.spec.js
Labels: none

Remove unused angularXAppName prefix
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
Labels: theme: angular

Change mongock property name (see https://www.mongock.io/standalone#configuration)
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Define lock properties in SpringDataMongo3Driver constructor
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Use static method to create SpringDataMongo3Driver
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Update package name to com.github.cloudyrock.spring.v5
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Change mongock property name (see https://www.mongock.io/standalone#configuration)
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Use static method to create SpringDataMongo3Driver and define lock properties
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Switch back to jhipster lib master branch
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Switch to specific jhipster lib branch
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Update package name to com.github.cloudyrock.spring.v5
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Change mongock property name (see https://www.mongock.io/standalone#configuration)
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Use static method to create SpringDataMongo3Driver and define lock properties
  generators/server/templates/src/main/java/package/config/CloudDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Switch back to jhipster lib master branch
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Use then-request Instead of sync-request (#12446)
  generators/openapi-client/prompts.js
  package-lock.json
  package.json
Labels: theme: dependencies

Java: clean AccountResourceIT
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

Improved test running execution time
  package.json
Labels: theme: dependencies

Removed webpack and the bundling stuff
  jdl/bundling/dist/jdl-core.min.js
  jdl/bundling/generated/generated-serialized-grammar.js
  jdl/bundling/scripts/bundle.js
  jdl/bundling/scripts/changed-generated-jdl-files-committer.js
  jdl/bundling/scripts/serialize-grammar.js
  jdl/bundling/webpack.config.js
  package-lock.json
  package.json
  scripts/commit-changed-generated-jdl-files.js
Labels: theme: dependencies

Removed failing and now useless test
  test/jdl/bundling/scripts/commit-changed-generated-jdl-files.test.js
Labels: none

Allow to refresh list on entity listing with pagination
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
Labels: theme: angular

Add refresh list action on entities with inifinite scroll for angular
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
Labels: theme: angular
