Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

react: fix eslint upgrade
  generators/client/templates/react/.eslintrc.json.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/locale.tsx.ejs
Labels: theme: react

fix generator unit tests
  test/app-client-custom-path.spec.js
  test/app.spec.js
Labels: none

[webflux] Disable webflux-mariadb-gradle test.
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Update .github/workflows/webflux.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

[Angular] Remove date pipe to fix strict type checking
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/shared/date/duration.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-date.pipe.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium.pipe.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  test/utils/expected-files.js
Labels: theme: angular

[angular] Change delete dialog component to receive event name to broadcast
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
Labels: theme: angular

[angular] Clean and fix alert service and components
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/util/alert.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
Labels: theme: angular

[angular] Remove skipLibCheck from tsConfig
  generators/client/templates/angular/tsconfig.json.ejs
Labels: theme: angular

[angular] Move emitDecoratorMetadata from tsConfig to tsConfig.spec
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
Labels: theme: angular

fix: remove system and anonymoususer
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/Constants.java.ejs
  generators/server/templates/src/main/java/package/config/dbmigrations/InitialSetupMigration.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/security/SpringSecurityAuditorAware.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__anonymoususer.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__system.json.ejs
  generators/server/templates/src/main/resources/config/cql/changelog/insert_default_users.cql.ejs
  generators/server/templates/src/main/resources/config/liquibase/data/user.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/data/user_authority.csv.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  test/utils/expected-files.js
Labels: theme: java

[angular] Fix Protractor tests in Angular
  generators/client/templates/angular/tsconfig.json.ejs
Labels: theme: angular

[Angular] Rename format-medium.pipe.ts into format-medium-datetime.pipe.ts
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium.pipe.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  test/utils/expected-files.js
Labels: theme: angular

[Angular] Fix entity-management-detail.component.html with pipes
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
Labels: theme: angular

fix entity query to use unflattened DTO
  generators/generator-base-private.js
Labels: theme: jhipster-internals

disable react eslint rule
  generators/client/templates/react/.eslintrc.json.ejs
Labels: theme: react

Only show changelogDate fallback for exiting entities.
  generators/entity/index.js
  generators/entity/prompts.js
Labels: theme: jhipster-internals

Handle error at prettier transform.
  generators/generator-transforms.js
Labels: theme: jhipster-internals

Drop setup*Options().
  generators/generator-base.js
Labels: theme: jhipster-internals

[angular] Add comment why need skipLibCheck if using Protractor
  generators/client/templates/angular/tsconfig.json.ejs
Labels: theme: angular

Remove setupServerOptions and setupClientOptions usages.
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/blueprint/server-blueprint.spec.js
  test/blueprint/spring-controller-blueprint.spec.js
  test/blueprint/spring-service-blueprint.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-vue.spec.js
  test/needle-api/needle-server-cache.spec.js
  test/needle-api/needle-server-gradle.spec.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/needle-server-logback-spring.spec.js
  test/needle-api/needle-server-maven.spec.js
  test/templates/fake-blueprint/generators/server/index.js
Labels: none

[angular] Remove core.module
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

[angular] Remove deprecated functionality
  generators/client/templates/angular/src/test/javascript/spec/app/shared/translate.directive.spec.ts.ejs
Labels: theme: angular

Remove lint-staged warning about git add
  generators/common/templates/.lintstagedrc.js.ejs
Labels: none

[angular] Add multiple subscription feature to event manager
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-manager.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/event-manager/event-manager.service.spec.ts.ejs
Labels: theme: angular

replaced 31 with getClass().hashCode() for Entity hashCode
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: theme: java

Remove lint-staged warning about git add
  generators/common/templates/.lintstagedrc.js.ejs
Labels: none

[angular] Clean app.module
  generators/client/files-angular.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

Change github actions caching
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

[angular] Fix WebSockets in Browsersync
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
Labels: theme: angular

[angular] The order of global and vendor scss files is incorrect in angular.json
  generators/client/templates/angular/angular.json.ejs
Labels: theme: angular

neo4j add eager find all without pageable
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
Labels: theme: java

neo4j find all with eager relationships uses outgoing instead of incoming relations
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
Labels: theme: java

[angular] Clean up csrf.service
  generators/cleanup.js
Labels: theme: jhipster-internals

[angular] Fix csrf.service cleanup
  generators/cleanup.js
Labels: theme: jhipster-internals

Add logger at unhandled rejection.
  cli/cli.js
Labels: theme: cli

Fix: Add either an 'id' or a 'scope' attribute to this <th> tag.
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-request/metrics-request.component.html.ejs
Labels: theme: angular

Replace the type specification in this constructor call with the diamond operator
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
Labels: theme: java

Add a description to this table
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-request/metrics-request.component.html.ejs
Labels: theme: angular

[angular] Reduce event manager importance and add stricter types
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-with-content.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/event-manager.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/util/event-manager.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

[angular] Move away from event manager in user delete
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
Labels: theme: angular

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
