Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

use old trailingComma default
  .prettierrc
Labels: none

format with prettier 3.0.0
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
  generators/base/generator-base-blueprint.mts
  generators/server/types.d.mts
  test/support/helpers.mts
Labels: theme: jhipster-internals, theme: java

await prettier.format()
  generators/bootstrap/support/prettier-support.mjs
Labels: theme: jhipster-internals

update eslint-plugin-prettier
  generators/vue/resources/package.json
Labels: theme: dependencies, theme: vue

[Angular] typescript-eslint/eslint-plugin 6.0.0
  generators/angular/resources/package.json
  generators/angular/templates/.eslintrc.json.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/route/_entityFile-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-form.service.spec.ts.ejs
Labels: theme: dependencies, theme: angular

fix @vue/eslint-config-prettier dependency
  generators/vue/templates/package.json.ejs
  generators/workspaces/generator.mjs
Labels: theme: vue

define plugins to load for prettier
  .prettierrc
  generators/bootstrap/support/prettier-support.mjs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/.prettierrc.ejs
Labels: theme: front, theme: jhipster-internals, theme: java

Fakerjs 8: commerce.color is deprecated
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

Update swagger.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
Labels: theme: java

bump @typescript-eslint/eslint-plugin from 5.61.0 to 6.1.0
  package-lock.json
  package.json
Labels: theme: dependencies

integrate eslint
  generators/bootstrap/generator.mts
  generators/bootstrap/support/eslint-transform.mts
  generators/bootstrap/support/eslint-transform.spec.mts
  generators/bootstrap/support/index.mts
  generators/generate-blueprint/generator.mjs
  lib/index.mts
  package-lock.json
  package.json
Labels: theme: dependencies, theme: jhipster-internals

Update generator.mts
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

ignore gatling tests at sonar.
  generators/common/templates/sonar-project.properties.ejs
Labels: theme: front, theme: java

fix sonar issue
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

configure no-duplicates and order eslint rules.
  .eslintrc.json
  cli/environment-builder.mjs
  generators/base-application/generator.mts
  generators/base-core/generator-base.mts
  generators/base/generator-base-todo.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/eslint-transform.mts
  generators/client/support/template-utils.mjs
  generators/spring-controller/spring-controller.spec.mts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/integration-test.spec.ts
  jdl/jdl-importer.spec.ts
  jdl/linters/jdl-linter.spec.ts
  jdl/readers/jdl-reader.spec.ts
  jdl/readers/json-reader.spec.ts
  jdl/utils/files-utils.spec.ts
  package-lock.json
  package.json
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
Labels: theme: cli, theme: dependencies, theme: front, theme: jhipster-internals

add .devcontainer to gitignore. allow customizations without having a dirty tree
  .gitignore
Labels: none

comment devcontainer config that doesn't work out of the box
  .devcontainer/devcontainer.json
Labels: none

allow upgrade to use node 16.
  cli/cli.mjs
  generators/upgrade/generator.mjs
Labels: theme: cli, theme: upgrade

Fix typo
  generators/languages/templates/src/main/webapp/i18n/bn/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/da/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/en/reset.json.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
Labels: theme: react, theme: vue, theme: i18n

[Angular] Sonar: '@angular/router' import is duplicated
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
Labels: theme: angular

drop --legacy-peer-deps from upgrade execution
  generators/upgrade/generator.mjs
Labels: theme: upgrade

fix dependencies
  generators/generate-blueprint/generator.mjs
Labels: none

Sonar: 'dayjs/esm/locale/en' import is duplicated
  generators/client/support/update-languages.mts
Labels: theme: front

Update pom.xml
  generators/server/resources/pom.xml
Labels: theme: java

Update swagger.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
Labels: theme: java

Sonar: 'dayjs/esm/locale/en' import is duplicated (#22923)
  generators/client/support/update-languages.mts
Labels: theme: front

rework sonar-project.properties.ejs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/sonar-project.properties.ejs
Labels: theme: front, theme: java

apply prettier to sonar-project.properties
  generators/base/priorities.mjs
  generators/bootstrap/generator.mts
  generators/bootstrap/support/prettier-support.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/common/generator.spec.mjs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: front, theme: jhipster-internals, theme: java

Update spring-boot version to 3.1.2
  generators/generator-constants.mts
Labels: theme: jhipster-internals

drop vue dependency workarounds
  generators/workspaces/generator.mjs
Labels: none

drop vue dependency workarounds.
  generators/vue/templates/package.json.ejs
Labels: theme: vue

Fix sonar issue.
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Update ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
