Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

add this to getAllSupportedLanguageOptions
  generators/client/templates/react/src/main/webapp/app/config/translation.ts.ejs
Labels: theme: react

drop styleSheetExt from templates
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/docs/docs.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/footer/footer.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/password/password-strength-bar.tsx.ejs
Labels: theme: react

modularize client tests
  generators/client/__snapshots__/angular.spec.mjs.snap
  generators/client/__snapshots__/react.spec.mjs.snap
  generators/client/__snapshots__/vue.spec.mjs.snap
  generators/client/angular.spec.mjs
  generators/client/generator.spec.mjs
  generators/client/index.js
  generators/client/react.spec.mjs
  generators/client/vue.spec.mjs
  test/client.spec.js
  test/client/__snapshots__/angular.spec.js.snap
  test/client/__snapshots__/react.spec.js.snap
  test/client/__snapshots__/vue.spec.js.snap
  test/client/angular.spec.js
  test/client/composing.js
  test/client/react.spec.js
  test/client/vue.spec.js
  test/support/index.mjs
  test/utils/expected-files.js
  test/vue.spec.js
Labels: theme: front

pass clientFramework to generateEntityClientEnumImports
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.test-samples.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.service.spec.ts.ejs
Labels: theme: angular, theme: react, theme: vue

stop using generator as data at entity-i18n generator
  generators/entity-i18n/files.js
  generators/entity-i18n/index.js
Labels: theme: i18n

remove snap files from enforcements
  test/enforcements.spec.js
Labels: none

Change PostgreSQL dialect to default
  generators/heroku/templates/pom-profile.xml.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/sql/common/src/test/resources/config/application-testprod.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java, theme: Heroku

Remove Java 11 support
  generators/ci-cd/templates/travis.yml.ejs
  generators/generator-constants.js
  generators/server/templates/devcontainer/Dockerfile.ejs
  generators/server/templates/devcontainer/devcontainer.json.ejs
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/01-configure-azure.sh
  test/heroku.spec.js
Labels: theme: jhipster-internals, theme: java

Update snapshots
  test/__snapshots__/ci-cd.spec.js.snap
  test/__snapshots__/heroku.spec.js.snap
Labels: none

Remove unnecessary if [ci skip]
  generators/ci-cd/templates/travis.yml.ejs
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

improve client tests
  generators/client/__snapshots__/angular.spec.mjs.snap
  generators/client/__snapshots__/react.spec.mjs.snap
  generators/client/__snapshots__/vue.spec.mjs.snap
  generators/client/angular.spec.mjs
  generators/client/react.spec.mjs
  generators/client/vue.spec.mjs
  test/support/index.mjs
Labels: theme: front

stop using generator as data at client generator
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/needle-api/needle-client-webpack.js
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
  generators/client/transform-angular.cjs
  generators/client/transform-angular.spec.mjs
  generators/client/transform-react.cjs
  generators/client/transform-react.spec.mjs
  generators/client/transform-vue.cjs
  generators/client/transform-vue.spec.mjs
  generators/generator-base.js
Labels: theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals

adjust entity-client with updated transform
  generators/entity-client/files-angular.cjs
  generators/entity-client/files-react.cjs
  generators/entity-client/files-vue.cjs
  generators/entity-client/files.js
Labels: theme: front, theme: angular, theme: react, theme: vue

Update package.json
  package.json
Labels: theme: dependencies

improve generator-base-application and move to base-application dir
  .eslintrc.json
  generators/base-application/generator.cjs
  generators/base-application/generator.spec.mjs
  generators/base-application/index.mjs
  generators/base/generator.cjs
  generators/base/index.mjs
  generators/bootstrap-application/generator.mjs
  generators/client/index.js
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generator-base-blueprint.js
  generators/generator-base.js
  generators/generator-list.js
  generators/java/index.cjs
  generators/server/index.js
  lib/index.js
  lib/support/mixin.cjs
  test/__snapshots__/api.spec.mjs.snap
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/multiple-app-blueprints.spec.js
  test/blueprint/multiple-blueprints.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-react.spec.js
  test/needle-api/needle-client-vue.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/needle-api/needle-client.spec.js
  test/needle-api/needle-server-cache.spec.js
  test/needle-api/needle-server-gradle.spec.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/needle-server-logback-spring.spec.js
  test/needle-api/needle-server-maven.spec.js
  test/templates/fake-blueprint/generators/server/index.js
Labels: theme: front, theme: jhipster-internals, theme: java

update template to don't use generator as data.
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
Labels: none

formatDateForChangelog metodunda okunurluk arttırıldı.
  utils/liquibase.js
Labels: none

spelling correction
  utils/liquibase.js
Labels: none

Update generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
Labels: none

dump commit to test ci
  generators/server/templates/devcontainer/devcontainer.json.ejs
Labels: theme: java

[Angular] Sonar: atob is deprecated
  generators/client/templates/angular/src/main/webapp/app/core/util/data-util.service.ts.ejs
Labels: theme: angular

[Angular] Warnings: tilde imports is deprecated
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
Labels: theme: angular

javax to jakarta for annotations API
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: java

stop using generator as template at entity-client
  generators/client/needle-api/needle-client-i18n.js
  generators/entity-client/files-angular.cjs
  generators/entity-client/files-cypress.cjs
  generators/entity-client/files-react.cjs
  generators/entity-client/files-vue.cjs
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/entity-client/index.mjs
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
  generators/generator-base.js
Labels: theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals

fix microservice entity i18n
  generators/entity/index.js
Labels: theme: front, theme: java

stop using generator as data at entity generator
  generators/entity/index.js
Labels: theme: front, theme: java

fix angular menu with jhiPrefix
  generators/entity-client/files-angular.cjs
  generators/generator-base.js
Labels: theme: front, theme: angular, theme: jhipster-internals

Switch generator to specific branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Switch bom to specific branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Update docker.elastic.co/elasticsearch/elasticsearch docker image version to 7.17.6
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.6.11.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update spring-boot version to 2.7.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update snapshots
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: none

Rename in to id for Indonesian i18n
  generators/generator-constants.js
  generators/languages/templates/src/main/resources/i18n/messages_id.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/id/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/configuration.json
  generators/languages/templates/src/main/webapp/i18n/id/error.json
  generators/languages/templates/src/main/webapp/i18n/id/gateway.json
  generators/languages/templates/src/main/webapp/i18n/id/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/home.json
  generators/languages/templates/src/main/webapp/i18n/id/login.json
  generators/languages/templates/src/main/webapp/i18n/id/logs.json
  generators/languages/templates/src/main/webapp/i18n/id/metrics.json
  generators/languages/templates/src/main/webapp/i18n/id/password.json
  generators/languages/templates/src/main/webapp/i18n/id/register.json
  generators/languages/templates/src/main/webapp/i18n/id/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/sessions.json
  generators/languages/templates/src/main/webapp/i18n/id/settings.json
  generators/languages/templates/src/main/webapp/i18n/id/tracker.json
  generators/languages/templates/src/main/webapp/i18n/id/user-management.json
  generators/languages/templates/src/test/resources/i18n/messages_id.properties.ejs
Labels: theme: jhipster-internals, theme: i18n

migrate liquibase generator to writeFiles
  generators/database-changelog-liquibase/files.js
  generators/database-changelog-liquibase/index.js
  test/needle-api/needle-server-liquibase.spec.js
Labels: none

drop method from templates writeFiles definitions
  generators/client/files-common.js
  generators/gradle/files.cjs
  generators/init/files.cjs
  generators/maven/files.cjs
Labels: theme: front, theme: maven, theme: gradle

migrate common generator to writeFiles
  generators/common/index.js
Labels: theme: front, theme: java

migrate workspaces generator to writeFiles
  generators/workspaces/generator.cjs
Labels: none

fix react needles
  generators/client/needle-api/needle-client-react.js
  generators/entity-client/files-react.cjs
Labels: theme: front, theme: react
