Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Revert "Fixes to suggestion"
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Revert "Apply suggestions from code review"
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Drop updateForm test.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] Use ngOnInit for component initialization instead of workaround
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] Restructure entity update tests
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] Use ngOnInit instead of updateForm in entity update save tests
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] Make updateForm protected in entity update
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Update mapstruct version to 1.4.2.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Allow some options to set empty values.
  generators/generator-base.js
Labels: theme: jhipster-internals

Split ngx-default test.
  .github/workflows/angular.yml
Labels: theme: CI Builds

Change subscribeToSaveResponse to use finalize for cleaning isSaving.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Update Cypress to the 6.4.0 version
  generators/client/templates/common/package.json
Labels: none

generate random password for initial okta login with heroku
  generators/heroku/index.js
Labels: none

Add back bootstrap-aws
  generators/aws-containers/index.js
  generators/aws-containers/templates/bootstrap-aws.yml.ejs
Labels: theme: aws

Add back bootstrap-azure
  generators/azure-spring-cloud/index.js
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/bootstrap-azure.yml.ejs
Labels: none

Add back bootstrap-heroku
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/bootstrap-heroku.yml.ejs
  test/heroku.spec.js
Labels: none

Remove the property spring.config.import
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java

Add back bootstrap files for Gateway
  generators/server/files.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/src/main/resources/config/bootstrap-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  generators/server/templates/src/test/resources/config/bootstrap.yml.ejs
  test/utils/expected-files.js
Labels: theme: java

Add spring-cloud-starter-bootstrap dependency
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Apply suggestions from code review
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] rework update save method.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Don't import fakeAsync and tick
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Upgrade Protractor to v7 for React and Vue
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: react

Update NPM version to 7.5.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update NPM version to 7.5.2
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Upgrade Protractor to v7 for React and Vue (#13811)
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: react

fix password prompt and display of login at the end
  generators/heroku/index.js
Labels: none

remove identity provider from prompt
  generators/heroku/index.js
Labels: none

generate random password for initial okta login with heroku (#13798)
  generators/heroku/index.js
Labels: none

Fix Sonar Analysis for initializing HttpHeaders
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java

Rename variable in Security Utils Unit Test
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
Labels: theme: java

Add vue in editorconfig
  generators/common/templates/editorconfig.ejs
Labels: none

Display Angular CLI link only for Angular app
  generators/common/templates/README.md.ejs
Labels: none

[react] Enable use of custom id fields for react - not 100% finished
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-reducer.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/generator-base-private.js
Labels: theme: react, theme: jhipster-internals

update startingEntitiesCount at beginning of create e2e test
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Implement reviewer suggestions
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-reducer.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/generator-base-private.js
Labels: theme: react, theme: jhipster-internals

Change the entity-detail screen too
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
Labels: theme: react

Fixes to frontend-maven-plugin
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Use fieldTranslationKey and make the id field readonly, if it's generated by JPA
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

AvField is always needed - because of the id field
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react
