Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Fix valueReference.
  utils/relationship.js
Labels: none

Implement @Cascade relationships.
  generators/entity-client/files.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail-modal.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-shared.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update-modal.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update-nested.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update-route.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity/index.js
  generators/generator-base-private.js
  test-integration/samples/jdl-entities/relationships.jdl
Labels: theme: front, theme: angular, theme: jhipster-internals, theme: java

Bump yeoman-test to 4.0.0
  package-lock.json
  package.json
Labels: theme: dependencies

Register transformers at generator-base instead of on each generator.
  generators/app/index.js
  generators/aws-containers/index.js
  generators/aws/index.js
  generators/azure-app-service/index.js
  generators/azure-spring-cloud/index.js
  generators/ci-cd/index.js
  generators/cloudfoundry/index.js
  generators/docker-compose/index.js
  generators/entity/index.js
  generators/gae/index.js
  generators/generator-base-docker.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/heroku/index.js
  generators/openapi-client/index.js
  generators/server/index.js
  test/client.spec.js
  test/languages.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-vue.spec.js
  test/needle-api/needle-client.spec.js
  test/needle-api/needle-server-cache.spec.js
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:, theme: aws

Add null as allowed value to non required fields in entity model
  generators/client/templates/angular/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
Labels: theme: angular, theme: jhipster-internals

Use type safe equality operator in entity update .ts file in Angular
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Remove unnecessary method
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

[angular] Refactor user model and service
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

Fix vue protractor e2e.
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: none

Fix cleanup for 7.0.0-beta.0 -> 7.0.0-beta.1.
  generators/cleanup.js
Labels: theme: jhipster-internals

Update entity.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: none

Change from 'idx in' to 'item of' for fields and relationships at angular templates
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: angular

Change from 'idx in' to 'item of' for fields and relationships at server templates.
  generators/entity-server/templates/src/main/java/package/common/get_all_stream_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_filtered_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/domain/relationship_validators.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
Labels: theme: java

replace deprecated StringUtils.isEmpty() by ObjectUtils.isEmpty()
  generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs
Labels: theme: java

add TokenProvider tests to cover the definition of its field 'key'
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
Labels: theme: java

fix race condition during react protractor e2e tests
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
Labels: theme: react

Fix type for 'Refresh' in User listing page [angular]
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

fix race condition during react protractor e2e tests (#13387)
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
Labels: theme: react

Fix Vue entities translation keys create, update, delete
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  utils/entity.js
Labels: none

Use RestTemplateBuilder instead of RestTemplate
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

Sonar: remove unused import
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java

Sonar: Remove this public modifier
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
Labels: theme: java

fix Swagger UI for reactive applications
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

Delete properties client in .yo-rc.json for microservice
  generators/generator-base.js
  generators/generator-defaults.js
  jdl/jhipster/default-application-options.js
Labels: theme: jhipster-internals

Cypress: Replace all cy.server() and cy.route() by cy.intercept()
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page.spec.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Typo update [skip ci]
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
Labels: theme: java

Fix double slash, missing space, links and Angular Gradle input
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/common/templates/README.md.ejs
  generators/server/index.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: angular, theme: java

update gradle to 6.7.1, gradle node plugin to latest RC
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Fix Vue entities translation keys create, update, delete (#13393)
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  utils/entity.js
Labels: none

[Angular] Use webapp instead of webpack everywhere
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
Labels: theme: front, theme: angular

Polish Cypress related logic
  .github/workflows/incremental-changelog.yml
  generators/client/templates/angular/tsconfig.json.ejs
  generators/cypress/templates/cypress.json.ejs
Labels: theme: CI Builds, theme: angular

Use webapp instead of webpack everywhere in React and Vue
  generators/client/index.js
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: front, theme: react

[angular] Sync tsconfig files with ones generated by Angular CLI
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
Labels: theme: angular

Tests next to the files they are testing in React
  generators/cleanup.js
  generators/client/files-react.js
  generators/client/index.js
  generators/client/templates/common/.eslintignore.ejs
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/activate/activate.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/sessions/sessions.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-route.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.spec.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/application-profile.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/user-management.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/entity-utils.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/account/sessions/sessions.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/utils.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/icons-mock.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/storage-mock.ts.ejs
  generators/entity-client/files.js
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-management-detail.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-reducer.spec.ts.ejs
Labels: theme: front, theme: react, theme: jhipster-internals

temp fix for elasticsearch
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
Labels: theme: kubernetes

[angular] Remove redundant ActivatedRoute provider from infinite scroll test
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
Labels: theme: angular

[angular] Polish entity detail view
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
Labels: theme: angular

Use humanized app name in Webpack notifier and in no i18n page title and remove double https
  generators/client/index.js
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
Labels: theme: front, theme: angular, theme: react

[react] Fix tests ts-jest warnings
  generators/client/templates/react/tsconfig.test.json.ejs
Labels: theme: react

Ensure /websocket/tracker/ cant bypass AuthoritiesConstants.ADMIN restriction
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs
Labels: theme: java
