Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*

allow to don't generate user registration and password reset
  generators/angular/files-angular.js
  generators/angular/templates/src/main/webapp/app/account/account.route.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.html.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/support/config.ts
  generators/base-application/types.d.ts
Labels: theme: angular, theme: jhipster-internals

add warning about non-dto user relationship
  generators/spring-boot/generator.ts
Labels: none

Update generator.ts
  generators/spring-boot/generator.ts
Labels: none

add tests for java keywords for entities, fields and relationships
  generators/java/generators/domain/generator.ts
Labels: none

Fix: bump io.gatling.gradle from 3.10.5.1 to 3.11.1
  generators/gatling/__snapshots__/generator.spec.ts.snap
  generators/gatling/templates/buildSrc/src/main/groovy/jhipster.gatling-conventions.gradle.ejs
  generators/server/resources/gradle/libs.versions.toml
Labels: theme: java, theme: gradle

warning adjusts
  generators/java/generators/domain/generator.ts
Labels: none

add warning about non-dto entity relationship with user (#25959)
  generators/spring-boot/generator.ts
Labels: none

add tests for java keywords for entities, fields and relationships (#25961)
  generators/java/generators/domain/generator.ts
Labels: none

add warning about dto and non-dto relationships
  generators/spring-boot/generator.ts
Labels: none

Update generators/spring-boot/generator.ts
  generators/spring-boot/generator.ts
Labels: none

add warning about dto and non-dto relationships (#25963)
  generators/spring-boot/generator.ts
Labels: none

https is deprecated so --ssl is now passing a server type
  generators/angular/templates/webpack/webpack.custom.js.ejs
Labels: theme: angular

Update generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
Labels: theme: angular

https is deprecated so --ssl is now passing a server type (#25969)
  generators/angular/templates/webpack/webpack.custom.js.ejs
Labels: theme: angular

drop unused _I18N_RESOURCES_PREFIX variable
  generators/react/templates/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: react, theme: vue

add reserved words for h2
  generators/server/generator.js
  generators/spring-data-relational/support/h2-reserved-keywords.ts
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix(generator): default the maven-resources-plugin definition to the spring-boot-parent definition
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
Labels: theme: java, theme: maven, theme: gradle

Codec Update: SerializationCodec for Redis Fix
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: none

Update generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: none

Codec Update: SerializationCodec for Redis Fix (#25988)
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: none

Codec Update: SerializationCodec for Redis Fix
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: none

move syncUserWithIdp to bootstrap-application-base
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/app/support/config.ts
  generators/base-application/types.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/server/generator.js
  generators/spring-boot/command.ts
  generators/vue/__snapshots__/generator.spec.ts.snap
Labels: theme: angular, theme: vue, theme: jhipster-internals, theme: java

remove LocaleConfiguration
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/support/__snapshots__/needles.spec.ts.snap
  generators/server/templates/src/main/java/_package_/config/LocaleConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/LocaleConfiguration_reactive.java.ejs
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/cleanup.ts
  generators/spring-boot/files.ts
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: java

remove LocaleConfiguration (#23818)
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/support/__snapshots__/needles.spec.ts.snap
  generators/server/templates/src/main/java/_package_/config/LocaleConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/LocaleConfiguration_reactive.java.ejs
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/cleanup.ts
  generators/spring-boot/files.ts
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: java

Update jhipster-bom to 8.4.0
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Release v8.4.0
  package-lock.json
  package.json
Labels: theme: dependencies

Release v8.5.0
  package-lock.json
  package.json
Labels: theme: dependencies

Revert 8.5.0 release
  package-lock.json
  package.json
Labels: theme: dependencies

Fix formatting
  .github/actions/setup/action.yml
Labels: theme: CI Builds

replace setup-generator-jhipster-jit
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI Builds

ajusts
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.model.ts.ejs
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/server/generator.js
  test-integration/samples/.jhipster/DocumentBankAccount.json
  test-integration/samples/.jhipster/EmbeddedOperation.json
Labels: theme: angular, theme: java

adjusts for embedded entities
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
  generators/base-application/support/prepare-relationship.js
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
  generators/server/generator.js
  generators/server/support/prepare-entity.js
  generators/server/support/relationship.ts
  test-integration/samples/.jhipster/DocumentBankAccount.json
  test-integration/samples/.jhipster/EmbeddedOperation.json
Labels: theme: angular, theme: jhipster-internals, theme: java

linked-issue adjusts
  .github/workflows/linked-issue-check.yml
Labels: theme: CI Builds

fix jdl option converter
  generators/server/jdl/application-definition.ts
Labels: theme: java

improve jdl serialization and types
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/export-jdl/__snapshots__/export-jdl.spec.ts.snap
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/integration-test.spec.ts
  jdl/models/jdl-object.spec.ts
  jdl/models/jdl-object.ts
  jdl/models/jdl-relationships.ts
  jdl/parsing/lexer/lexer.ts
  jdl/validators/jdl-with-application-validator.ts
Labels: theme: jhipster-internals

add reactive, serverPort, serviceDiscoveryType to command config
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/server/command.ts
  generators/spring-boot/command.ts
  generators/spring-boot/prompts.js
Labels: theme: jhipster-internals, theme: java

add authenticationType to command config
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/server/command.ts
  generators/spring-boot/command.ts
  generators/spring-boot/prompts.js
Labels: theme: jhipster-internals, theme: java

Update jhipster-bom to 8.4.1-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

add support to quotedList
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-definition.ts
  jdl/models/list-jdl-application-configuration-option.ts
  jdl/parsing/jdl-ast-builder-visitor.ts
  jdl/parsing/jdl-parser.ts
  jdl/parsing/validator.ts
  jdl/utils/set-utils.ts
Labels: none
