Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

apply prettier to java templates
  generators/liquibase/templates/src/main/java/_package_/config/LiquibaseConfiguration.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/repository/UserRepository.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/Constants.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/DomainUserDetailsService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/SecurityUtils.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/mapper/UserMapper.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/ErrorConstants.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/ExceptionTranslator.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/management/SecurityMetersServiceTests.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/SecurityUtilsUnitTest_imperative.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
Labels: none

replace v-bind
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

replace v-on:
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

adjusts
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
Labels: theme: react

revert maxThreads to 1, there is no notable speed gain
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/java-unused-imports-transform.ts
Labels: theme: jhipster-internals

test adjust
  generators/react/generator.spec.ts
Labels: theme: react

replace v-on:
  generators/vue/templates/src/main/webapp/app/account/activate/activate.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

update tests
  generators/vue/support/translate-vue.spec.ts
  generators/vue/support/translate-vue.ts
Labels: theme: vue

disable vue/attributes-order rule
  generators/vue/templates/eslint.config.js.jhi.vue.ejs
Labels: theme: vue

replace v-bind
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

apply prettier/eslint to vue templates
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/arrays.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/test-setup.ts.ejs
  generators/vue/templates/src/main/webapp/content/scss/global.scss.ejs
  generators/vue/templates/vite.config.mts.ejs
  generators/vue/templates/webpack/vue.utils.js.ejs
  generators/vue/templates/webpack/webpack.common.js.ejs
  generators/vue/templates/webpack/webpack.prod.js.ejs
Labels: theme: vue

fix : issue 26946 - compilation issue when using elastic search as search engine
  generators/spring-boot/templates/_global_partials_entity_/save_template.ejs
Labels: none

add mavenDefinition to addJavaDefinition
  generators/java/generators/build-tool/generator.ts
  generators/java/types.d.ts
  generators/spring-data-relational/generator.ts
Labels: none

add addJavaDependencies api to sources
  generators/java/generators/build-tool/generator.ts
  generators/java/types.d.ts
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/generator.ts
  generators/spring-data-relational/generator.ts
  testing/helpers.ts
Labels: none

use addJavaDefinitions api
  generators/cucumber/generator.ts
  generators/java/generators/openapi-generator/__snapshots__/generator.spec.ts.snap
  generators/java/generators/openapi-generator/generator.ts
  generators/spring-boot/generator.ts
  generators/spring-data-neo4j/generator.ts
Labels: none

[Angular] Angular 18.2.0 migrate dependency injection
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
Labels: theme: angular

[Angular] Angular 18.2.0 migrate route-lazy-loading
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/error/error.route.ts.ejs
Labels: theme: angular

Update angular workflow
  .github/workflows/angular.yml
Labels: theme: CI Builds

Remove typo
  .github/workflows/angular.yml
Labels: theme: CI Builds

fix compat configuration
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: vue

bum vue to v3.4.38
  generators/vue/resources/package.json
Labels: theme: dependencies, theme: vue

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

[Angular] NG8112 @let xxx is declared but its value is never read
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.html.ejs
Labels: theme: angular

Add SonarQube Analysis for PRs
  .github/actions/sonar/action.yml
  .github/workflows/angular.yml
Labels: theme: CI Builds

Resolve SCM issue by introducing git repository
  .github/actions/sonar/action.yml
Labels: theme: CI Builds

Fix formatting
  .github/actions/sonar/action.yml
Labels: theme: CI Builds

fix h2 console data
  generators/spring-data-relational/templates/src/main/resources/.h2.server.properties.ejs
Labels: none

fix npm execution with default buildTool
  generators/server/generator.js
Labels: theme: java

[Angular] typescript-eslint 8.2.0
  generators/angular/resources/package.json
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
Labels: theme: dependencies, theme: angular

drop js-yaml direct dependency
  generators/docker-compose/generator.js
  package-lock.json
  package.json
Labels: theme: dependencies, theme: docker :whale:

adjust dependencies
  package-lock.json
  package.json
Labels: theme: dependencies

drop winston package
  jdl/utils/objects/logger.ts
  package.json
Labels: theme: dependencies

fix sonar issues
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

update package-lock
  package-lock.json
Labels: theme: dependencies

update snapshot
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
Labels: theme: docker :whale:

Use Docker Compose to Start SonarQube and Add PAT for PR Comments
  .github/actions/sonar/action.yml
  .github/workflows/angular.yml
  test-integration/sonar-pr/docker-compose.yml
Labels: theme: CI Builds

Fix formatting of docker compose file
  test-integration/sonar-pr/docker-compose.yml
Labels: none

Fix docker compose command
  .github/actions/sonar/action.yml
Labels: theme: CI Builds

Update command stopping container
  .github/actions/sonar/action.yml
Labels: theme: CI Builds

incorporate https://github.com/jhipster/generator-jhipster/pull/27004
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
