Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Allow fields and relationships labels to be customized by jdl.
  generators/entity/index.js
Labels: theme: jhipster-internals

Implement basic support for i18nVariant
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
  generators/entity/index.js
Labels: theme: jhipster-internals, theme: i18n

Dependabot adjustments
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Dependabot adjustments (#11988)
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

fix: mistakes in logic concerning dependabot CI exclusions
  .github/workflows/gradle-wrapper-validation.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Enable code scanning using CodeQL
  .github/workflows/codeql-analysis.yml
Labels: theme: CI Builds

Revert "Enable code scanning using CodeQL"
  .github/workflows/codeql-analysis.yml
Labels: theme: CI Builds

update neo4j image to 4.1.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

update jib plugins to 2.4.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Improve PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Upgrade angular and associated library dependencies
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: theme: angular

Bump yeoman-generator to 4.11.0
  package-lock.json
  package.json
Labels: theme: dependencies

Use new solution style tsconfig and remove duplicate base href
  generators/client/files-angular.js
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/client/templates/angular/tsconfig.base.json.ejs
  generators/client/templates/angular/tsconfig.e2e.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/webpack/utils.js.ejs
  test/utils/expected-files.js
Labels: theme: angular

Fix unit tests
  test/app-client-custom-path.spec.js
Labels: none

Fix angular unit tests. Revert change from react tests
  test/app-client-custom-path.spec.js
  test/app.spec.js
Labels: none

Update ng-jhipster dependency
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Add prettier check step to generator
  .github/dependabot.yml
  .github/workflows/generator.yml
  azure-pipelines.yml
  package.json
Labels: theme: CI Builds, theme: dependencies

Allow to skipClient just for an entity
  generators/entity/index.js
Labels: theme: jhipster-internals

Bump jhipster-core to 7.3.4
  package-lock.json
  package.json
Labels: theme: dependencies

Upgrade to jhipster-registry v6.3.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Upgrade to jhipster-dependencies 3.9.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to release of jhipster-dependencies
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

fix: use system variable for azure pipeline skip for dependabot
  azure-pipelines.yml
Labels: theme: CI Builds

:white_check_mark: convert if's into declarative statements
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: java

Release v6.10.0
  package-lock.json
  package.json
Labels: theme: dependencies

Upgrade to generator-jhipster@6.10.0 and jhipster-core@7.3.4 (#634)
  package-lock.json
  package.json
Labels: theme: dependencies

Fix error with undefined testFrameworks
  generators/page/index.js
Labels: none

Fix prettier-java dependencies
  generators/client/templates/vue/package.json.ejs
Labels: none

feat: support custom instance and RDS types
  generators/aws/index.js
  generators/aws/prompts.js
Labels: theme: aws

Remove Superkredits from sponsors
  README.md
Labels: none

Remove unscramblex from sponsors
  README.md
Labels: none

remove banksecrets sponsor
  README.md
Labels: none

Remove top-web-design-agencies sponsor
  README.md
Labels: none

Remove uxplanet sponsor
  README.md
Labels: none

clear cache if exists
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

add PapersOwl sponsor
  README.md
Labels: none

Add jhipster6 compatibility mixin.
  utils/jhipster6-mixin.js
Labels: none

Remove getAllJhipsterConfig
  cli/import-jdl.js
  generators/ci-cd/index.js
  generators/client/index.js
  generators/cloudfoundry/index.js
  generators/docker-base.js
  generators/entity/index.js
  generators/gae/index.js
  generators/generator-base.js
  generators/heroku/index.js
  generators/languages/index.js
  generators/server/index.js
  generators/spring-controller/index.js
  generators/spring-service/index.js
  generators/utils.js
  test/templates/ngx-blueprint/.yo-rc.json
  test/utils.spec.js
Labels: theme: cli, theme: front, theme: jhipster-internals, theme: i18n, theme: java, theme: docker :whale:

Fix prettier-java rule
  .prettierrc
Labels: none

Add id fluent setter
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
