Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Update generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Remove duplicate code
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Add back Couchbase custom @Field key specification
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: theme: java

Remove ejs error
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Change version to 7.1.1
  package.json
Labels: theme: dependencies

Update generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
Labels: theme: java

Update generators/server/templates/build.gradle.ejs
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Update generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Update package.json
  package.json
Labels: theme: dependencies

Update generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
Labels: theme: java

Update generators/cleanup.js
  generators/cleanup.js
Labels: theme: jhipster-internals

Update generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Update generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Revert users initialization to snake_case
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
Labels: theme: java

Refactor PersistentTokenRepository
  generators/server/files.js
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository_couchbase.java.ejs
Labels: theme: java

Update generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
Labels: theme: java

Fix typo Lighthoyse -> Lighthouse
  generators/cypress/templates/src/test/javascript/cypress/integration/lighthouse.audits.ts.ejs
Labels: none

Remove wait time from EntityResourceIT
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Revert "Revert users initialization to snake_case"
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
Labels: theme: java

Revert "Add back Couchbase custom @Field key specification"
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: theme: java

Remove custom key from all Couchbase fields (change to camelCase)
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
Labels: theme: java

Remove Couchbase code from PersistentTokenRepository
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
Labels: theme: java

Cleanup
  generators/languages/files.js
  generators/languages/index.js
Labels: theme: i18n

Switch from async `for of` to map/Promise.all.
  generators/entity-i18n/files.js
Labels: theme: i18n

Adjust to enum clientRootFolder
  generators/entity-i18n/files.js
Labels: theme: i18n

Refactor EntityRepository to EntityRepository_couchbase
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_couchbase.java.ejs
Labels: theme: java

Lint fix.
  generators/entity-server/files.js
  generators/server/files.js
Labels: theme: java

Don't set default language.
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

Fixup EntityRepository/couchbase
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_couchbase.java.ejs
Labels: theme: java

Disable couchbase tests.
  .github/workflows/angular.yml
Labels: theme: CI Builds

Update snapshot.
  generators/server/__snapshots__/generator.spec.mjs.snap
Labels: theme: java
