Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

templates adjusts
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
Labels: theme: vue

convert page to composition api
  generators/page/templates/vue/src/main/webapp/app/pages/page.component.ts.ejs
Labels: none

drop vue-class-component and vue-property-decorator dependencies
  generators/vue/templates/package.json.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: vue

rework jhi-item-count
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.vue.ejs
Labels: theme: react, theme: vue

Apply suggestions from code review
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
Labels: theme: vue

fix: aborted if user not log in.
  generators/heroku/generator.mjs
Labels: theme: Heroku

fix: clear local heroku app name if create heroku app failed.
  generators/heroku/generator.mjs
Labels: theme: Heroku

feat: handle heroku addons info.
  generators/heroku/generator.mjs
Labels: theme: Heroku

build: lint fix.
  generators/heroku/generator.mjs
Labels: theme: Heroku

add cypress tip
  generators/cypress/generator.mts
Labels: none

drop vue2-filters
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: vue

cleanup vue dependabot package.json
  generators/vue/templates/package.json
Labels: theme: dependencies, theme: vue

implement filterBy and orderBy
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/arrays.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/index.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
Labels: theme: vue

services adjusts
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
Labels: theme: vue

fix injection name
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
Labels: theme: vue

add setup to make sure axios is never called.
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
  generators/vue/templates/src/test/javascript/spec/setup.js.ejs
Labels: theme: vue

fix refresh with infinite scroll
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/list/_entityFile.component.ts.ejs
Labels: theme: angular

clear axios interceptors
  generators/vue/templates/src/test/javascript/spec/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: vue

Fix npm install command on Windows (#21877)
  generators/server/generator.mjs
Labels: theme: java

refactor: prefer async/await instead of events.
  generators/heroku/generator.mjs
Labels: theme: Heroku

fix: need return to abort.
  generators/heroku/generator.mjs
Labels: theme: Heroku

fix: removed CYPRESS_ENABLE_RECORD from package json config templates.
  generators/angular/templates/package.json.ejs
  generators/cypress/generator.mts
  generators/react/templates/package.json.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: vue

fix: use await execCmd.
  generators/heroku/generator.mjs
Labels: theme: Heroku

migrate to vuelidate v2
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/webpack/webpack.common.js.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: dependencies, theme: vue

convert alertService into a singleton
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/app.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

fixes
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
Labels: theme: vue

don't redirect i18n to index.
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_imperative.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
Labels: theme: java

ignore warnings
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
Labels: theme: vue

convert to vue-i18n-bridge
  generators/vue/generator.mjs
  generators/vue/support/convert-translation.mts
  generators/vue/support/update-languages.mts
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
Labels: theme: vue

convert to useI18n
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/app.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-footer/jhi-footer.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.component.ts.ejs
Labels: theme: vue

share vue-i18n-bridge
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: vue

replace $t with t$
  generators/vue/generator.spec.mts
  generators/vue/support/translate-vue.mjs
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/templates/src/main/webapp/app/account/activate/activate.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/app.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-footer/jhi-footer.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.vue.ejs
Labels: theme: vue

update snapshots
  generators/vue/__snapshots__/generator.spec.mts.snap
Labels: theme: vue

remove formatter
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/templates/src/main/webapp/app/shared/config/formatter.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/config/formatter.spec.ts.ejs
Labels: theme: vue

user-management uses the login to edit users
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: theme: vue

add vue-i18n-bridge to dependabot
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
Labels: theme: dependencies, theme: vue

added java:docker:dev:arm64
  generators/server/generator.mjs
  generators/workspaces/generator.mjs
Labels: theme: java

Update package-lock
  package-lock.json
Labels: theme: dependencies

Remove unused imports and variables
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/kubernetes-base.mjs
  generators/kubernetes/prompts.mjs
Labels: theme: kubernetes

add keycloak to k8s for ingress nginx (#21447)
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/files.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes-base.mjs
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/prompts.mjs
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  jdl/jhipster/index.mts
Labels: theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
