Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Adjust jdl workflow for new cache strategy.
  .github/workflows/jdl.yml
Labels: theme: CI Builds

[Vue] Fix: 'Replace this trivial promise with Promise.resolve'
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
Labels: none

[Vue] Fix: 'Expected a for-of loop instead of a for loop with this simple iteration'
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
Labels: none

[Vue] Fix: 'Extract this nested ternary operation into an independent statement'
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/formatter.ts.ejs
Labels: none

Update maven wrapper version to 3.8.1
  generators/server/templates/.mvn/wrapper/maven-wrapper.properties
Labels: theme: java

Update spring-boot version to 2.4.5
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.30.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase version to 4.3.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase-hibernate5 version to 4.3.3
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update blockhound-junit-platform version to 1.0.6.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update archunit-junit5 version to 0.18.0
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update nohttp-checkstyle version to 0.0.6.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update jib-maven-plugin to 3.0.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update com.gorylenko.gradle-git-properties plugin version to 2.3.0
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update missing translations.
  generators/languages/templates/src/main/webapp/i18n/es/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/health.json.ejs
Labels: theme: i18n

use constants in entity-server
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
  generators/entity/index.js
  utils/entity.js
  utils/field.js
Labels: theme: jhipster-internals, theme: java

Update generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Sonar: use 'var'
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: java

Add "sh" for npm call in Jenkinsfile
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
Labels: none

Upgrade to Gradle 7.0
  generators/generator-constants.js
  generators/server/templates/gradle/wrapper/gradle-wrapper.jar
  generators/server/templates/gradlew
  generators/server/templates/gradlew.bat
Labels: theme: jhipster-internals, theme: java

use single entity type for PK UUID
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity/index.js
  utils/entity.js
  utils/field.js
Labels: theme: jhipster-internals, theme: java

Skip derived properties when primary keys does not exist
  generators/entity/index.js
Labels: theme: jhipster-internals

simplify DTO toString template logic
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
Labels: theme: java

change urls for stackoverflow tag from http to https
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/server/templates/src/main/resources/static/microservices_index.html.ejs
Labels: theme: angular, theme: react, theme: java

mshima mybad ^^ - dto tostring method
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
Labels: theme: java

Upgrade to Gradle 7.0 (#14734)
  generators/generator-constants.js
  generators/server/templates/gradle/wrapper/gradle-wrapper.jar
  generators/server/templates/gradlew
  generators/server/templates/gradlew.bat
Labels: theme: jhipster-internals, theme: java

Add eslint to cypress.
  generators/client/templates/common/.eslintignore.ejs
  generators/client/templates/common/package.json
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/.eslintrc.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
Labels: none

Improve faker seed for better reproducibility.
  generators/bootstrap/index.js
  generators/database-changelog-liquibase/index.js
  generators/entity-client/files.js
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-server/files.js
  generators/utils.js
  test/entity.spec.js
Labels: theme: front, theme: jhipster-internals, theme: java

Change Maven Docker build command to be `package`
  generators/docker-base.js
Labels: theme: docker :whale:

using constants on entity test classes
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base-private.js
  utils/entity.js
Labels: theme: jhipster-internals, theme: java

using derived constants in entityresourceit
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  utils/entity.js
  utils/field.js
Labels: theme: java

do not generate id in gatling test for post, use constant in gae
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/export-jdl/index.js
  generators/gae/index.js
  generators/gae/templates/application-prod-gae.yml.ejs
  generators/gae/templates/pom-profile.xml.ejs
  generators/generator-base.js
  generators/generator-list.js
  package-lock.json
Labels: theme: dependencies, theme: jhipster-internals, theme: java

cleanup some unused template variable
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

[angular] Fix sorting errors if search is used
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/pagination-template.ejs
Labels: theme: angular

[angular] Improve sort.directive test coverage
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
Labels: theme: angular

[Angular] Externalyze method filterNaN
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/operators.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/operators.ts.ejs
Labels: theme: angular

use generateJavaKey
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base-private.js
Labels: theme: jhipster-internals, theme: java

fix bug where 401 errors trigger a notification
  generators/client/templates/react/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: theme: react

[Angular] Use enum ThreadState
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts.ejs
Labels: theme: angular

Replace sort callback with sortChange event
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
