Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*

Sonar: Rename this field to match the regular expression
  generators/gatling/templates/src/test/java/gatling/simulations/_entityClass_GatlingTest.java.ejs
Labels: none

Sonar: Add a nested comment
  generators/server/templates/src/test/java/_package_/web/rest/errors/ExceptionTranslatorTestController.java.ejs
Labels: theme: java

add javascript/husky generator
  generators/generate-blueprint/generator.js
  generators/init/__snapshots__/generator.spec.ts.snap
  generators/init/config.js
  generators/init/files.js
  generators/init/generator.js
  generators/javascript/generators/husky/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/husky/command.ts
  generators/javascript/generators/husky/generator.spec.ts
  generators/javascript/generators/husky/generator.ts
  generators/javascript/generators/husky/index.ts
  generators/javascript/generators/husky/templates/.husky/pre-commit.ejs
  generators/javascript/generators/husky/templates/.lintstagedrc.cjs.ejs
  generators/javascript/resources/package.json
Labels: theme: dependencies

add javascript:prettier generator
  generators/base-application/types.d.ts
  generators/base/api.d.ts
  generators/client/types.d.ts
  generators/init/__snapshots__/generator.spec.ts.snap
  generators/init/command.ts
  generators/init/generator.js
  generators/javascript/generators/prettier/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/prettier/command.ts
  generators/javascript/generators/prettier/generator.spec.ts
  generators/javascript/generators/prettier/generator.ts
  generators/javascript/generators/prettier/index.ts
  generators/javascript/generators/prettier/templates/.prettierignore.jhi.ejs
  generators/javascript/generators/prettier/templates/.prettierrc.yml.jhi.ejs
  generators/javascript/types.d.ts
Labels: theme: front, theme: jhipster-internals

fix fromMatrix for a single config
  testing/support/matrix-utils.ts
Labels: none

add javascript/resources/ to dependabot
  .github/dependabot.yml
Labels: theme: CI Builds

add comment about .prettierIgnore
  generators/javascript/generators/prettier/generator.ts
Labels: none

Sonar: Remove this unused private field
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Sonar: Remove this unused 'DEFAULT_LOGIN' private field.
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
Labels: none

Sonar: Add a nested comment
  generators/server/templates/src/test/java/_package_/config/WebConfigurerTestController.java.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Sonar: Remove this unused 'longCount' private field.
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

Sonar: Add a nested comment
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
Labels: none

Sonar: Add a nested comment
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
Labels: none

Sonar: Add a nested comment
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
Labels: none

Sonar: Remove this unused 'random' private field
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

Sonar: Remove this unused method parameter 'em'
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: none

Sonar: Immediately return this expression instead of assigning it to the temporary variable
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

add withMockedNodeDependencies to test helpers
  testing/helpers.ts
Labels: none

rename exceptFilter to filter
  test/support/tests.js
  testing/helpers.ts
Labels: none

add filterBasicServerGenerators
  generators/server/__test-support/index.ts
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-cassandra/generator.spec.ts
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/generator.spec.ts
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/generator.spec.ts
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/generator.spec.ts
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/generator.spec.ts
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/generator.spec.ts
Labels: theme: java

fix override type
  generators/base/api.d.ts
Labels: theme: jhipster-internals

improve withMockedJHipsterGenerators api
  test/support/tests.js
  testing/helpers.ts
Labels: none

add example to fromMatrix and extendMatrix
  testing/support/matrix-utils.ts
Labels: none

cleanup init
  generators/init/templates/.eslintignore.jhi.ejs
Labels: none

drop mockedGenerators
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/__test-support/index.ts
  generators/server/generator.spec.js
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/generator.spec.ts
  generators/spring-data-relational/sql-entities.spec.ts
Labels: theme: java

add javascript:bootstrap generator
  generators/client/types.d.ts
  generators/init/__snapshots__/generator.spec.ts.snap
  generators/init/generator.js
  generators/init/generator.spec.ts
  generators/javascript/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/bootstrap/command.ts
  generators/javascript/generators/bootstrap/generator.spec.ts
  generators/javascript/generators/bootstrap/generator.ts
  generators/javascript/generators/bootstrap/index.ts
  generators/javascript/generators/bootstrap/templates/package.json.ejs
  generators/javascript/types.d.ts
Labels: theme: front

enable queueCommandTasks by default for builtin generators
  generators/base/generator.ts
Labels: theme: jhipster-internals

drop command related custom tasks
  .blueprint/code-workspace/generator.mjs
  .blueprint/from-issue/generator.mts
  .blueprint/update-vscode/generator.mjs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.js
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application/generator.ts
  generators/ci-cd/generator.js
  generators/client/generator.js
  generators/client/generators/common/generator.ts
  generators/common/generator.js
  generators/docker-compose/generator.js
  generators/entities/generator.js
  generators/entity/generator.js
  generators/generate-blueprint/generator.js
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
  generators/git/generator.ts
  generators/gradle/generator.ts
  generators/init/generator.js
  generators/java/generator.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/build-tool/generator.ts
  generators/java/generators/code-quality/generator.ts
  generators/java/generators/domain/generator.ts
  generators/java/generators/jib/generator.ts
  generators/java/generators/node/generator.ts
  generators/jdl/generator.ts
  generators/languages/generator.js
  generators/liquibase/generator.ts
  generators/maven/generator.ts
  generators/maven/generators/code-quality/generator.ts
  generators/maven/generators/frontend-plugin/generator.ts
  generators/maven/generators/jib/generator.ts
  generators/project-name/generator.js
  generators/server/generator.js
  generators/spring-boot/generator.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-data-relational/generator.ts
  generators/upgrade/generator.js
  generators/workspaces/generator.js
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle

fix ci-cd generator
  generators/ci-cd/generator.js
  generators/ci-cd/index.ts
Labels: none

fix java generators
  generators/java/generator.ts
Labels: none

Unnecessary SuppressWarning annotations in generated code
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
Labels: theme: java

Revert "Sonar: Immediately return this expression instead of assigning it to the temporary variable"
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: none

add javascript:eslint generator
  generators/generate-blueprint/__snapshots__/generator.spec.js.snap
  generators/generate-blueprint/files.js
  generators/generate-blueprint/generator.js
  generators/generate-blueprint/templates/eslint.config.js.jhi.blueprint.ejs
  generators/init/generator.js
  generators/init/generator.spec.ts
  generators/javascript/generators/eslint/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/eslint/command.ts
  generators/javascript/generators/eslint/generator.spec.ts
  generators/javascript/generators/eslint/generator.ts
  generators/javascript/generators/eslint/index.ts
  generators/javascript/generators/eslint/templates/eslint.config.js.jhi.ejs
  generators/javascript/resources/package.json
  generators/javascript/types.d.ts
Labels: theme: dependencies

set blueprint as module type
  generators/generate-blueprint/generator.js
Labels: none

config default should be applied at loading priority instead of in command definition.
  generators/init/__snapshots__/generator.spec.ts.snap
  lib/internal/config-def.ts
Labels: none

fix customLifecycle
  generators/base-core/generator.ts
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Sonar: Rename UserManagementResolve function to match the regular expression
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: angular

Deprecated @Cucumber
  generators/cucumber/templates/src/test/java/_package_/cucumber/CucumberIT.java.ejs
Labels: none
