Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Update Japanese localization
  generators/languages/templates/entity/i18n/entity_ja.json.ejs
  generators/languages/templates/src/main/resources/i18n/messages_ja.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/error.json
  generators/languages/templates/src/main/webapp/i18n/ja/gateway.json
  generators/languages/templates/src/main/webapp/i18n/ja/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/home.json
  generators/languages/templates/src/main/webapp/i18n/ja/login.json
  generators/languages/templates/src/main/webapp/i18n/ja/metrics.json
  generators/languages/templates/src/main/webapp/i18n/ja/register.json
  generators/languages/templates/src/main/webapp/i18n/ja/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/user-management.json
Labels: theme: i18n

Fix react pagination translation
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

[Angular] Sonar: Use the 'RegExp.exec()' method instead
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.ts.ejs
Labels: theme: angular

Sonar: Prefer using an optional chain expression instead
  generators/client/templates/src/main/webapp/index.html.ejs
Labels: theme: front

revert hibernate to v6.1.7 at gradle
  generators/server/templates/build.gradle.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/internal/dependencies.mts
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: java

[Angular] CanActivate is deprecated
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
Labels: theme: angular

unlock node18 types
  .github/dependabot.yml
Labels: theme: CI Builds

upgrade hardcoded node version to v18
  .github/actions/build-matrix/action.yml
  .github/workflows/lock-maintenance.yml
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: theme: CI Builds

don't install npm and yo at docker
  Dockerfile
Labels: theme: docker :whale:

force hibernate v6.1.7 at gradle
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

[Angular] Resolve is deprecated
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: angular

Sonar: Remove this unused import 'org.springframework.validation.BindingResult'
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Sonar: Remove this unused private getAlertParameters method
  generators/server/templates/src/main/java/package/web/rest/errors/BadRequestAlertException.java.ejs
Labels: theme: java

Sonar: Replace this usage of 'Stream.collect(Collectors.toList())' with 'Stream.toList()'
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
Labels: theme: java

Update generators/generator-constants.mts
  generators/generator-constants.mts
Labels: theme: jhipster-internals

Update bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

content can be null
  generators/base/support/write-files.mts
Labels: theme: jhipster-internals

handle null at editFile
  generators/base/generator-base.mts
Labels: theme: jhipster-internals

Revert "content can be null"
  generators/base/support/write-files.mts
Labels: theme: jhipster-internals

drop version from context-propagation
  generators/server/templates/pom.xml.ejs
Labels: theme: java

rework micrometer context-propagation
  generators/server/templates/pom.xml.ejs
Labels: theme: java

add context-propagation to dependabot
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/resources/pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

fix async/await usage in createAsyncThunk calls
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/activate/activate.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password/password.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/register/register.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/sessions/sessions.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/settings/settings.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/application-profile.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.ts.ejs
Labels: theme: react

create spring.factories file
  generators/server/generator.mjs
Labels: theme: java

update snapshots
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
Labels: theme: docker :whale:

[Angular] Resolve is deprecated (remove service)
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: angular

[Angular] CanActivate is deprecated (remove service)
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
Labels: theme: angular

[Angular] Resolve is deprecated (#22588)
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: angular

[Angular] CanActivate is deprecated (#22585)
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
Labels: theme: angular

move core implementation to generators/base-core
  generators/base-application/generator.mts
  generators/base-core/generator-base.mts
  generators/base-core/index.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.mts
  generators/base/support/needles.mts
  generators/client/needle-api/needle-client-webpack.mts
  generators/needle-base.mts
Labels: theme: front, theme: jhipster-internals

fix missing export
  package.json
Labels: theme: dependencies

add tsconfig to generate-blueprint for ui autocomplete support
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/files.mjs
  generators/generate-blueprint/templates/tsconfig.json.ejs
Labels: none

Switch to specific bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Update spring-boot version to 3.1.1
  generators/generator-constants.mts
Labels: theme: jhipster-internals

Update @openapitools/openapi-generator-cli version to 2.6.0
  generators/generator-constants.mts
Labels: theme: jhipster-internals

Update nodejs version to 18.16.1
  .github/workflows/generator.yml
  generators/generator-constants.mts
  generators/init/constants.mjs
Labels: theme: CI Builds, theme: jhipster-internals

Remove Datastax from Gold Sponsor
  README.md
Labels: none

Update snapshots
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
Labels: none

Switch back to generic bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

adjusts to integration test samples
  test-integration/daily-builds/gradle-ms-micro-consul-oauth2/.yo-rc.json
  test-integration/daily-builds/gradle-ms-micro-consul/.yo-rc.json
  test-integration/daily-builds/gradle-ms-micro-eureka-oauth2/.yo-rc.json
  test-integration/daily-builds/gradle-ms-micro-eureka/.yo-rc.json
  test-integration/daily-builds/ms-micro-consul-oauth2/.yo-rc.json
  test-integration/daily-builds/ms-micro-consul/.yo-rc.json
  test-integration/daily-builds/ms-micro-eureka-oauth2/.yo-rc.json
  test-integration/daily-builds/ms-micro-eureka/.yo-rc.json
  test-integration/samples/ms-micro-consul/.yo-rc.json
  test-integration/samples/ms-micro-eureka/.yo-rc.json
  test/integration-test.spec.mts
Labels: none

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
