Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Update sonarqubePlugin version to 3.1
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

[vue] Move dependencies for Vue Project
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: none

Revert "Update sonarqubePlugin version to 3.1"
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

enable more actuator endpoint
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Ensure /websocket/tracker/ cant bypass AuthoritiesConstants.ADMIN restriction
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs
Labels: theme: java

[Vue] Add tests
  generators/client/templates/vue/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
Labels: none

[Vue] Add tests (#13492)
  generators/client/templates/vue/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
Labels: none

Fix R2DBC with OAuth
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
Labels: theme: java

Don't override warning from generator.
  generators/docker-base.js
  generators/docker-compose/index.js
  generators/docker-utils.js
  generators/kubernetes-helm/index.js
  generators/kubernetes-knative/index.js
  generators/kubernetes/index.js
  generators/openshift/index.js
Labels: theme: docker :whale:, theme: kubernetes

Misc fixes
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  utils/relationship.js
Labels: theme: java

Remove generateEntityQueries
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
Labels: theme: angular, theme: jhipster-internals

Change if statement to `user.primaryKey.type`
  generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
Labels: theme: java

PWA Polishing
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/client/templates/vue/src/main/webapp/index.html.ejs
Labels: theme: angular, theme: react

[vue] Protractor dependecies stay in package.json.ejs for Vue Project
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: none

Fix manifest for Angular PWA
  generators/client/templates/angular/src/main/webapp/index.html.ejs
Labels: theme: angular

Fix line break
  generators/client/templates/angular/src/main/webapp/index.html.ejs
Labels: theme: angular

remove shutdown endpoint
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Sonar: unused StreamSupprt class
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

filter when using reactive and r2dbc
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
Labels: theme: java

add where clause from data jpa criteria when reactive
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
Labels: theme: java

Change reactive template to use precedence.
  generators/entity-server/files.js
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity-server/templates/reactive/partials/save_template.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/generator-base.js
Labels: theme: jhipster-internals, theme: java

add table alias in where clause for reactive
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: theme: java

Customize dependabot labels
  .github/dependabot.yml
Labels: none

Change save template to use precedence. (#12802)
  generators/entity-server/files.js
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity-server/templates/reactive/partials/save_template.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/generator-base.js
Labels: theme: jhipster-internals, theme: java

Revert "chore(deps-dev): bump css-loader from 3.5.3 to 5.0.1 in /generators/client/templates/vue (#13504)"
  generators/client/templates/vue/package.json
Labels: none

fix-protractor-okta
  generators/client/templates/vue/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/vue/src/test/javascript/protractor.conf.js.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: none

Little improvements to vue package.json
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: none

Fix Protractor tests so they work with Okta
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: angular, theme: react

Fix typo
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
Labels: theme: react

Fix error: Prefer using nullish coalescing operator () instead of a logical or ()
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: angular, theme: react

Fix typo for Vue
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
Labels: none

Fix database URL for R2DBC
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Swap conditional arguments as recommended by @qmonmert
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
Labels: theme: java

Fix Protractor tests so they work with Okta {angular, react, vue} (#13530)
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/vue/src/test/javascript/protractor.conf.js.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: angular, theme: react, theme: java

Update spring-boot version to 2.3.8.RELEASE
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.27.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update sonar-maven-plugin version to 3.8.0.2131
  generators/server/templates/pom.xml.ejs
Labels: theme: java

React dependencies need updating
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Upgrade Axios to fix security vulnerability
  generators/client/templates/react/package.json
Labels: theme: react

remove mlabs and graphene addons from heroku configuration
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
Labels: none
