Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Ident
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

Update index.js
  generators/entity-client/index.js
Labels: theme: front

move h2 deps to dev profile for gradle (#18452)
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

fix for unique constraint incremental changelog
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
Labels: none

Remove TODO comments from fixed translations
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
Labels: theme: angular

Change experimentalSessionSupport to experimentalSessionAndOrigin
  generators/cypress/templates/cypress.json.ejs
Labels: none

Add OUT_OF_SERVICE to translations.
  generators/languages/templates/src/main/webapp/i18n/en/health.json.ejs
Labels: theme: i18n

Fix OUT_OF_SERVICE
  generators/languages/templates/src/main/webapp/i18n/en/health.json.ejs
Labels: theme: i18n

Apply suggestions from code review
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
Labels: theme: angular

Update index.js
  generators/entity-client/index.js
Labels: theme: front

chore(deps): Included dependency review (#18447)
  .github/workflows/depsreview.yml
Labels: theme: CI Builds

fix for unique constraint incremental changelog (#18485)
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
Labels: none

Update jaxb-runtime version to 2.3.6
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update node version to 16.15.0
  .github/workflows/generator.yml
Labels: theme: CI Builds

Update node version to 16
  .github/actions/build-matrix/action.yml
  .github/workflows/lock-maintenance.yml
Labels: theme: CI Builds

Update github actions setup-node to v3
  .github/actions/build-matrix/action.yml
Labels: theme: CI Builds

Update node version to 16
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: none

Update node version to 16.15.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update snapshots
  test/__snapshots__/ci-cd.spec.js.snap
Labels: none

Update github actions setup-node to v3
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: none

Update github actions checkout to v3
  generators/azure-app-service/templates/github/workflows/azure-app-service.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: none

Update github actions setup-java to v3
  generators/azure-app-service/templates/github/workflows/azure-app-service.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
Labels: none

Update github actions cache to v3
  generators/azure-app-service/templates/github/workflows/azure-app-service.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
Labels: none

Replace all random with randomAlphanumeric
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Revert UserResourceIT to confirm failing build
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Fix prepareFakeData with recursive relationships
  generators/database-changelog-liquibase/index.js
Labels: none

Make fakeDataCount writable (#18514)
  generators/database-changelog-liquibase/index.js
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Apply suggestions from code review
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: angular

Add enable-translation option
  generators/app/index.js
Labels: theme: jhipster-internals

Load enableTranslation option
  generators/generator-base.js
Labels: theme: jhipster-internals

Make sure insight is not called at mocha using parallel tests
  generators/statistics.js
Labels: theme: jhipster-internals

Update EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
Labels: theme: java

Update get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
Labels: theme: java

Update get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
Labels: theme: java

generate-blueprint should skip commit hooks by default
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/generator.mjs
Labels: none

Update blueprint github workflow
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: none

Fix _isPriorityMissing with taskPrefix
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

Fix randomAlphanumeric issue - continue
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Update generator-base-blueprint.js
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals
