Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*

[Angular] Reorganize imports
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
Labels: theme: angular

[Angular] Use single quotes
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.spec.ts.ejs
Labels: theme: angular

[Angular] Referencing the conditional expression's result
  generators/angular/templates/src/main/webapp/app/layouts/error/error.component.html.ejs
Labels: theme: angular

[Angular] Unexpected duplicate selector
  generators/angular/templates/src/main/webapp/content/scss/global.scss.ejs
Labels: theme: angular

[Angular] Refactor this code to not nest functions more than 4 levels deep
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
Labels: theme: angular

[Angular] Refactor this code to not nest functions more than 4 levels deep
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
Labels: theme: angular

Remove unnecessary SuppressWarning(unused)
  generators/spring-data-mongodb/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_Repository.java.ejs
Labels: none

[Angular] Referencing the conditional expression's result
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
Labels: theme: angular

[Angular] Referencing the conditional expression's result
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.html.ejs
Labels: theme: angular

add prettier to monorepository root
  generators/workspaces/generator.js
Labels: none

add java:openapi-generator generator
  generators/java/generators/openapi-generator/README.md
  generators/java/generators/openapi-generator/__snapshots__/generator.spec.ts.snap
  generators/java/generators/openapi-generator/command.ts
  generators/java/generators/openapi-generator/generator.spec.ts
  generators/java/generators/openapi-generator/generator.ts
  generators/java/generators/openapi-generator/index.ts
  generators/java/generators/openapi-generator/templates/README.md.jhi.openapi-generator.ejs
  generators/java/generators/openapi-generator/templates/buildSrc/src/main/groovy/jhipster.openapi-generator-conventions.gradle.ejs
  generators/java/generators/openapi-generator/templates/src/main/resources/swagger/api.yml.ejs
  generators/server/templates/README.md.jhi.spring-boot.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  generators/spring-boot/files.ts
  generators/spring-boot/generator.ts
Labels: theme: java, theme: maven

java:openapi-generator adjusts
  generators/java/generators/openapi-generator/__snapshots__/generator.spec.ts.snap
  generators/java/generators/openapi-generator/generator.spec.ts
  generators/java/generators/openapi-generator/generator.ts
Labels: none

add addOpenapiGeneratorPlugin to java:openapi-generator
  generators/java/generators/openapi-generator/command.ts
  generators/java/generators/openapi-generator/generator.ts
  generators/java/types.d.ts
Labels: none

Upgrade org.openapi.generator from 7.7.0
  generators/server/resources/gradle/libs.versions.toml
  generators/server/templates/build.gradle.ejs
Labels: theme: java, theme: gradle

add addOpenapiGeneratorPlugin to matrix
  generators/java/generators/openapi-generator/__snapshots__/generator.spec.ts.snap
  generators/java/generators/openapi-generator/generator.spec.ts
Labels: none

adjusts to generate-sample command
  .blueprint/generate-sample/generator.mjs
Labels: none

replace ModifyServersOpenApiFilter with ServerBaseUrlCustomizer
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/spring-boot/files.ts
  generators/spring-boot/templates/src/main/java/_package_/config/SpringDocConfiguration.java.ejs
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/generators/gateway/templates/src/main/java/_package_/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/spring-cloud/generators/gateway/templates/src/test/java/_package_/web/filter/ModifyServersOpenApiFilterTest.java.ejs
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Upgrade Prettier 3.3.3
  generators/base-application/support/prepare-entity.ts
  generators/client/support/files.ts
  generators/cypress/generator.ts
  generators/java/support/files.ts
  generators/jdl/generator.ts
  generators/spring-data-relational/support/database-data.ts
  generators/upgrade/generator.js
  package-lock.json
  package.json
Labels: theme: dependencies, theme: front, theme: jhipster-internals, theme: upgrade

[Angular] let syntax
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
Labels: theme: angular

[Angular] let syntax and if as
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/angular/templates/src/main/webapp/app/home/home.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
Labels: theme: angular

[Angular] let syntax and if as
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
Labels: theme: angular

[Angular] let syntax (entities)
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.html.ejs
Labels: theme: angular

check if roles are passed to jwt microservices
  test-integration/jdl-samples/mf-ng-eureka-jwt-psql-ehcache/blog-store.jdl
Labels: none

check if roles are passed to oauth2 microservices
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
  test-integration/jdl-samples/ms-ng-oauth2-mongodb-caffeine/blog-store.jdl
Labels: none

readd jwtAuthenticationConverter
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/_package_/security/oauth2/JwtGrantedAuthorityConverter.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/cleanup.ts
  generators/spring-boot/files.ts
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: java

cleanup
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

add custom filter to imperative gateway
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: front, theme: java

add gateway controller to imperative gateway
  generators/angular/files-angular.js
  generators/angular/generator.spec.ts
  generators/angular/templates/src/main/webapp/app/admin/admin.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud/generators/gateway/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/generators/gateway/templates/src/main/java/_package_/web/rest/GatewayResource_imperative.java.ejs
  generators/spring-cloud/generators/gateway/templates/src/main/java/_package_/web/rest/GatewayResource_reactive.java.ejs
  generators/spring-cloud/generators/gateway/types.d.ts
Labels: theme: angular, theme: jhipster-internals

adjusts
  generators/angular/generator.spec.ts
Labels: theme: angular

add gateway ui for imperative gateway, react and vue
  generators/bootstrap-application/generator.ts
  generators/react/files-react.js
  generators/react/generator.spec.ts
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/vue/files-vue.js
  generators/vue/generator.spec.ts
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/router/admin.ts.ejs
Labels: theme: react, theme: vue, theme: jhipster-internals

update snapshot
  generators/app/__snapshots__/generator.spec.ts.snap
Labels: theme: jhipster-internals

add support to typescriptEslint
  generators/base-application/support/task-type-inference.ts
  generators/base-core/generator.ts
  generators/client/support/files.ts
  generators/generate-blueprint/generator.spec.js
  generators/generate-blueprint/templates/eslint.config.js.jhi.blueprint.ejs
  generators/javascript/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/bootstrap/command.ts
  generators/javascript/generators/eslint/command.ts
  generators/javascript/generators/eslint/generator.ts
  generators/javascript/generators/eslint/templates/eslint.config.js.jhi.ejs
Labels: theme: front, theme: jhipster-internals

migrate react eslint to flat config
  .github/dependabot.yml
  generators/client/files-common.js
  generators/client/templates/webpack/webpack.microfrontend.js.jhi.ejs
  generators/cypress/files.ts
  generators/cypress/templates/eslint.config.js.jhi.cypress.ejs
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/files-react.js
  generators/react/generator.js
  generators/react/resources/package.json
  generators/react/templates/.eslintrc.json.ejs
  generators/react/templates/eslint.config.js.jhi.react.ejs
  generators/react/templates/jest.conf.js.ejs
  generators/react/templates/package.json.ejs
  generators/react/templates/webpack/environment.js.ejs
  generators/react/templates/webpack/utils.js.ejs
  generators/react/templates/webpack/webpack.common.js.ejs
  generators/react/templates/webpack/webpack.dev.js.ejs
  generators/react/templates/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: CI Builds, theme: dependencies, theme: front, theme: react, theme: vue

add generate-generator dev blueprint command
  .blueprint/generate-generator/command.mts
  .blueprint/generate-generator/generator.mjs
  .blueprint/generate-generator/index.mjs
  .blueprint/generate-generator/templates/command.ts.ejs
  .blueprint/generate-generator/templates/generator.spec.ts.ejs
  .blueprint/generate-generator/templates/generator.ts.ejs
  .blueprint/generate-generator/templates/index.ts.ejs
Labels: none

switch apps to javascript:prettier generator
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/command.ts
  generators/common/files.js
  generators/common/generator.js
  generators/common/templates/.prettierrc.ejs
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/build-tool/__snapshots__/generator.spec.ts.snap
  generators/java/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/prettier/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/react/generator.js
  generators/workspaces/generator.js
  generators/workspaces/templates/.prettierignore.jhi.workspaces.ejs
Labels: theme: front, theme: react, theme: jhipster-internals, theme: java

revert husky to 9.0.11
  generators/javascript/resources/package.json
Labels: theme: dependencies

add javascript generator to build changes
  test-integration/scripts/99-build-changes.sh
Labels: none

add writeEslintClientRootConfigFile
  generators/javascript/generators/eslint/support/index.ts
  generators/javascript/generators/eslint/support/tasks.ts
  generators/react/generator.js
Labels: theme: react

add eslint.config.js.jhi.docker file
  generators/docker/files.js
  generators/docker/templates/eslint.config.js.jhi.docker.ejs
Labels: theme: docker :whale:
