Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

remove deprecated method call
  generators/server/templates/src/main/java/package/config/OAuth2Configuration.java.ejs
Labels: theme: java

fixes to requestMatchers
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

remove deprecated method call (#23178)
  generators/server/templates/src/main/java/package/config/OAuth2Configuration.java.ejs
Labels: theme: java

Remove Okta as a sponsor
  README.md
  cli/utils.mjs
Labels: theme: cli

fix duplicated jdlSamples
  .blueprint/generate-sample/support/generate-sample.js
Labels: none

fix SecurityMetersService
  generators/server/templates/src/main/java/package/config/SecurityJwtConfiguration.java.ejs
Labels: theme: java

revert r2dbc-mariadb to 1.1.3
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: java

allow searchEngine with falsy value at entities
  generators/server/support/prepare-entity.mjs
Labels: theme: java

adjust angular entity for searchEngineAny
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.ts.ejs
Labels: theme: angular

replace entity searchEngine `true` with value from application
  generators/base-application/support/prepare-entity.mts
Labels: theme: jhipster-internals

pass this context to loadRequiredConfigIntoEntity
  generators/bootstrap-application-server/generator.mts
Labels: theme: jhipster-internals

adjusts to types and exports
  generators/index.ts
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  jdl/index.mts
  jdl/index.ts
  jdl/jdl-importer.ts
  package.json
  tsconfig.types.json
Labels: theme: dependencies, theme: jhipster-internals

fix vue translation
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
Labels: theme: vue

fix swagger base
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

fix force r2dbc-mariadb version
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

change way of caching OAuth2 JWTs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

fix vue translation (#23193)
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
Labels: theme: vue

Revert "fix force r2dbc-mariadb version"
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

Revert "revert r2dbc-mariadb to 1.1.3"
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-data-relational/internal/dependencies.mts
Labels: theme: java

remove netty-resolver-dns-native-macos
  generators/server/templates/pom.xml.ejs
Labels: theme: java

adjust mariadb r2dbc blockhound
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

change way of caching OAuth2 JWTs (#23199)
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

test replace mariadb with mysql at reactive
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: none

Upgrade to Gradle 8.3
  generators/gradle/constants.mjs
Labels: theme: gradle

use any matcher
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

Update SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

Revert "remove netty-resolver-dns-native-macos"
  generators/server/templates/pom.xml.ejs
Labels: theme: java

request matchers adjusts.
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

adjust to antMatcher
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

swagger-ui fix
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

springdoc pattern fix
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

url matcher adjusts
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

fix error related to importing Buffer
  generators/angular/resources/package.json
  generators/angular/templates/package.json.ejs
  generators/angular/templates/tsconfig.json.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
Labels: theme: dependencies, theme: angular, theme: jhipster-internals

fix error related to importing Buffer (#23216)
  generators/angular/resources/package.json
  generators/angular/templates/package.json.ejs
  generators/angular/templates/tsconfig.json.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
Labels: theme: dependencies, theme: angular, theme: jhipster-internals

Sonar: Remove useless curly braces
  generators/server/templates/entity/src/main/java/package/common/patch_template.ejs
Labels: theme: java

Apply suggestions from code review
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: theme: java

Apply suggestions from code review
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: none

Apply suggestions from code review
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Update spring-boot version to 3.1.2 (#22933)
  .blueprint/generate-sample/support/generate-sample.js
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/generator-constants.mts
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: theme: front, theme: jhipster-internals, theme: java
