Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Remove StorageService and use router.getCurrentNavigation()
  generators/client/templates/angular/src/main/webapp/app/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
Labels: theme: angular

do not use dynamic property source in junit callbacks
  generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs
Labels: theme: java

CI: add keyword to trigger specific builds [angular][react][vue]
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Add reminder for swagger profile
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Add JHCC docker-compose in README
  generators/common/templates/README.md.ejs
Labels: none

Add JHipster Control Center Docker Compose file
  generators/generator-base-docker.js
  generators/generator-constants.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: jhipster-internals, theme: java

Change localhost to host.docker.internal for DNS resolution in containers.
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Improve JHCC docker-compose to match with project configuration
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Add JHipster Control Center Docker Compose file in tests
  test/utils/expected-files.js
Labels: none

Add jhipster-control-center keycloack realm
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: java

Improve yam file with static mode as default and documentation for other modes
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Add documentation for host.docker.internal purpose
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Add ip route command to resolve host.docker.internal
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
Labels: theme: java

Update r2dbc-h2 version to 0.8.4.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update r2dbc-mysql version to 0.8.2.RELEASE
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update r2dbc-mysql version to 0.8.2.RELEASE
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update r2dbc-mssql version to 0.8.4.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update r2dbc-postgresql version to 0.8.4.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update blockhound-junit-platform version to 1.0.4.RELEASE
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update blockhound-junit-platform version to 1.0.4.RELEASE
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update netty-common version to 4.1.51.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update caffeine version to 2.8.5
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-failsafe-plugin version to 3.0.0-M5
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-surefire-plugin version to 3.0.0-M5
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-war-plugin version to 3.3.1
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update checkstyle version to 8.35
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update spring-nohttp-checkstyle version to 0.0.5.RELEASE
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update git-commit-id-plugin version to 4.0.1
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix POM definition
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix POM definition
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix POM definition
  test/templates/ci-cd/maven-ngx-yarn/pom.xml
Labels: none

Changed checkstyle definition for whitelist property
  generators/server/templates/checkstyle.xml.ejs
Labels: theme: java

[vue] fix
  generators/client/templates/vue/src/main/webapp/app/account/login.service.ts.ejs
Labels: none

[react] clean code
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/logs/logs.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/page-not-found.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.ts.ejs
Labels: theme: react

Update JDL Liquibase update with jhipster-core merged
  cli/import-jdl.js
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/entity/index.js
  generators/entity/prompts.js
  jdl/converters/json-to-jdl-converter.js
  jdl/jdl-importer.js
Labels: theme: cli, theme: jhipster-internals, theme: java

Move entity and page composing to default priority.
  generators/app/index.js
Labels: theme: jhipster-internals

Don't trigger entity file rewrite for jhipster:info
  generators/generator-base.js
Labels: theme: jhipster-internals

Compare base generation with merge generation.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  test-integration/scripts/10-install-jhipster.sh
Labels: theme: CI Builds

[vue] apply prettier on vue files
  generators/client/templates/vue/src/main/webapp/app/account/activate/activate.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/docs/docs.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/health/health-modal.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/health/health.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/app.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/error/error.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/home/home.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-footer/jhi-footer.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/ribbon/ribbon.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/jhi-item-count.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/sort/jhi-sort-indicator.vue.ejs
Labels: none

set the user to 1000 for jib docker build on maven and gradle
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java
