Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Harmonized the behavior of enum value generations
  generators/entity-client/templates/angular/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/entity-i18n/templates/i18n/enum.json.ejs
  generators/entity-server/files.js
  generators/utils.js
  test/utils.spec.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java

Fixed react enum template
  generators/entity-client/templates/react/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
Labels: theme: react

fix: fix mistake in adding dind support for GitLab CI with Gradle
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: none

fix: fix mistake in adding dind support for GitLab CI with Gradle (#11614)
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: none

fix: adds Testcontainers as a test dependency for Gradle + Redis configuration
  generators/server/templates/build.gradle.ejs
Labels: theme: java

fix: adds Testcontainers as a test dependency for Gradle + Redis configuration (#11616)
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Integration test for webflux and R2DBC (#11570)
  .github/workflows/webflux.yml
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  test-integration/samples/webflux-psql/.yo-rc.json
Labels: theme: CI Builds, theme: java

Fixed i18n enum values
  generators/entity-i18n/templates/i18n/enum.json.ejs
Labels: theme: i18n

remove es2015 from Webpack configuration (#11580)
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: theme: angular

Don't run lookup without blueprints.
  cli/utils.js
Labels: theme: cli

Revert "remove es2015 from Webpack configuration (#11580)"
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: theme: angular

update consul-config-loader to v0.3.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Don't run lookup without blueprints. (#11618)
  cli/utils.js
Labels: theme: cli

Bump yeoman-environment to 2.9.5 and yeoman-generator to 4.8.3
  package-lock.json
  package.json
Labels: theme: dependencies

Enable audit service for neo4j
  generators/server/files.js
Labels: theme: java

Remove AuditEventService from SecurityConfig for reactive and databaseType=no
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
Labels: theme: java

Enable audit service for neo4j (#11622)
  generators/server/files.js
Labels: theme: java

add missing property annotations
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
Labels: theme: java

Add test case
  .github/workflows/webflux.yml
  test-integration/samples/webflux-nodb-oauth2/.yo-rc.json
Labels: theme: CI Builds

Fix userRepository with reactive and 'no' databaseType
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
Labels: theme: java

Remove webflux nodb from tests.
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Update PersistentAuditEvent.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
Labels: theme: java

Neo4j: add missing property annotations for PersistentAuditEvent (#11626)
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
Labels: theme: java

add JBossUserMarshaller to infinispan configuration
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

Update generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
Labels: theme: java

Update generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
Labels: theme: java

Update generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
Labels: theme: java

Revert "Remove webflux nodb from tests."
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Enable e2e
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Remove no database test.
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Fix enums (#11588)
  generators/entity-client/files.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/entity-i18n/files.js
  generators/entity-i18n/templates/i18n/enum.json.ejs
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base.js
  generators/utils.js
  test-integration/samples/.jhipster/FieldTestEnumWithValue.json
  test-integration/samples/jdl-default/app.jdl
  test-integration/scripts/11-generate-entities.sh
  test/entity.spec.js
  test/generator-base.spec.js
  test/templates/enums/.jhipster/A.json
  test/templates/enums/.yo-rc.json
  test/utils.spec.js
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java

Bumped chevrotain to v7.0.1
  dist/jdl-core.min.js
  lib/dsl/gen/generated_serialized_grammar.js
  package-lock.json
  package.json
Labels: theme: dependencies

Updated dependencies (patch & minor)
  package-lock.json
  package.json
Labels: theme: dependencies

Fixed vulnerability issues (audit fix)
  package-lock.json
Labels: theme: dependencies

Fix otherEntityRelationshipName initialization (#11523)
  generators/entity/index.js
Labels: theme: jhipster-internals

add manwoman bronze sponsor
  README.md
Labels: none

add JBossUserMarshaller to infinispan configuration (#11631)
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

Add verification of the namespace.
  cli/utils.js
Labels: theme: cli

Remove @Repository for NoSQL databases
  generators/server/templates/src/main/java/package/repository/PersistenceAuditEventRepository.java.ejs
Labels: theme: java

Attempt to get Neo4j working with reactive
  generators/entity/index.js
  generators/server/templates/src/main/java/package/repository/PersistenceAuditEventRepository.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
