Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

fix export/import of otherModules property (#13714)
  jdl/converters/json-to-jdl-converter.js
  jdl/exporters/applications/jhipster-application-formatter.js
  jdl/parsing/validator.js
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/test-files/json_to_jdl_converter/only_app/.yo-rc.json
Labels: none

Wait for jhipster-registry to start.
  generators/server/index.js
Labels: theme: java

Fix string template
  generators/server/index.js
Labels: theme: java

Try re-enabling testcontainers.
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Add a option to disable prettier.
  generators/generator-base.js
  test/app.spec.js
Labels: theme: jhipster-internals

Move prettier import to generator-transform.
  generators/generator-base-private.js
  generators/generator-transforms.js
Labels: theme: jhipster-internals

Register registerCommitPriorityFilesTask after others transforms.
  generators/generator-base.js
Labels: theme: jhipster-internals

Promisify writeFilesToDisk and move needles to postWriting.
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/common/files.js
  generators/common/index.js
  generators/cypress/files.js
  generators/database-changelog-liquibase/index.js
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/page/files-vue.js
  generators/page/index.js
  generators/server/files.js
  generators/utils.js
  test/needle-api/needle-server-liquibase.spec.js
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Don't show skip-prettier at jhipster help
  generators/generator-base.js
Labels: theme: jhipster-internals

Wait jhipster-registry to settle.
  generators/server/index.js
Labels: theme: java

Try to use jhipster-registry health.
  generators/server/index.js
Labels: theme: java

Try waiting 5 seconds instead of two in Protractor e2e
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
Labels: theme: angular

Fix tests.
  test/generator-base.spec.js
Labels: none

Try waiting 5 seconds instead of 2 in Protractor e2e (#13732)
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
Labels: theme: angular

Fix deprecated media type
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

[Protractor] Sleep and wait for all admin pages to load
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
Labels: theme: angular

[Protractor] Sleep and wait for all admin pages to load
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
Labels: theme: angular

Revert change to media type
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

[Protractor] Sleep and wait for all admin pages to load (#13734)
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
Labels: theme: angular

replace deprecated waitFor with waitforSelector
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
Labels: none

update react dependencies
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: react

update react dev dependencies
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json
Labels: theme: react

make server side HTML templates similar to Prettier formatted ones
  generators/server/templates/src/main/resources/templates/error.html.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
Labels: theme: java

polish client common templates
  generators/client/templates/common/src/main/webapp/content/scss/rtl.scss.ejs
Labels: none

polish common templates
  generators/common/templates/.lintstagedrc.js.ejs
  generators/common/templates/README.md.ejs
Labels: none

Revert change to media type
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

[Protractor] Sleep for metrics page with React too
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: react

Fix deprecated media type
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

add new r2dbc classes
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/ColumnConverter.java.ejs
Labels: theme: java

fix EntityManager to work with new r2dbc classes
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
Labels: theme: java

fix reactive EntityRepository to work with new r2dbc classes
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: theme: java

Remove sleep because React doesn't need it
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: react

Try browser.sleep() again for metrics (works fine locally)
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: react

Add await to browser.sleep()
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: react

[Protractor] Remove sleep because React doesn't need it (#13740)
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: react

support okta with cypress tests (#13611)
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: react

Add prettier:check
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/server/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: java

Update react-jhipster version to 0.14.0
  generators/client/templates/react/package.json
Labels: theme: react

Revert "update cypress version to 6.3.0"
  generators/client/templates/common/package.json
Labels: none

Move swagger resources to common
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/templates/common/src/main/webapp/swagger-ui/dist/images/throbber.gif
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/dist/images/throbber.gif
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/dist/images/throbber.gif
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular, theme: react

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
