Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update build.gradle.ejs
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Apply suggestions from code review
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

bump liquibase to 4.12.0 (#18939)
  generators/entity-server/index.js
  generators/generator-base-private.js
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Remove redundant check on RequestContextHolder#getRequestAttributes (#18984)
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java

angular: fix lint warnings
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
Labels: theme: angular

Use latest version in liquibase xsd changelog
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_migrate.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
Labels: theme: java

Define LIQUIBASE_DTD_VERSION constant with latest value
  generators/generator-constants.js
Labels: theme: jhipster-internals

Add comment to remove constant variable in V8
  generators/database-changelog-liquibase/index.js
  generators/generator-constants.js
  generators/server/index.js
Labels: theme: jhipster-internals, theme: java

Delete generator-constants.spec.js tests
  test/generator-constants.spec.js
Labels: none

angular: fix lint warnings (#19027)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
Labels: theme: angular

implement getTypescriptType
  generators/generator-base-private.js
  test/generator-base-private.spec.js
  utils/field.js
Labels: theme: jhipster-internals

angular: when creating, routing should resolve to null
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

angular: remove typescript class
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

angular: improve services types.
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  test/entity.spec.js
Labels: theme: angular

cypress: fix lint warnings
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
Labels: none

cypress: add test for edit entity
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
Labels: none

cypress: add compilerOptions target
  generators/cypress/templates/src/test/javascript/cypress/tsconfig.json.ejs
Labels: none

calculate enumFileName
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/generator-base-private.js
  utils/field.js
Labels: theme: front, theme: jhipster-internals

syntax error fix for react administration.reducer
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  test/__snapshots__/app.spec.js.snap
  test/app.spec.js
Labels: theme: react

improve reducer fix
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
Labels: theme: react

fixup
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
Labels: theme: react

cleanup
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
Labels: theme: react

syntax error fix for react administration.reducer (#19044)
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  test/__snapshots__/app.spec.js.snap
  test/app.spec.js
Labels: theme: react

conditionally skip test
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
Labels: none

skip test for jpaMetamodelFiltering
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
Labels: none

angular: implement formService
  generators/entity-client/files-angular.cjs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: front, theme: angular

fix config directories in app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Leave list unsorted if non-sortable field is used
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

Also correct the filter function
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

review fixes
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
Labels: theme: angular

improve tests
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
Labels: theme: angular

LocalDate fields should not be converted.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
Labels: theme: angular

fix config directories in app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

fix config directories in app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Update entity-form.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
Labels: theme: angular

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix config directories in app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Update package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: vue

Update package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: vue

Update package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: vue
