Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Polishing
  azure-pipelines.yml
  generators/heroku/index.js
  generators/server/templates/src/main/resources/config/application.yml.ejs
  test/heroku.spec.js
Labels: theme: CI Builds, theme: java

Fix Prettier
  test/heroku.spec.js
Labels: none

Fix Heroku sub-generator
  generators/heroku/index.js
Labels: none

Remove UAA in server files
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_uaa.java.ejs
Labels: theme: java

Fix lint when removing UAA
  test/app.spec.js
Labels: none

Remove UAA in pom.xml for Maven
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Remove UAA from test folder
  test/app.spec.js
  test/docker-compose.spec.js
  test/jdl/grammar/validator.spec.js
  test/jdl/jhipster/default-application-options.spec.js
  test/jdl/validators/application-validator.spec.js
  test/templates/compose/01-gateway/src/main/docker/app.yml
  test/templates/compose/02-mysql/src/main/docker/app.yml
  test/templates/compose/03-psql/src/main/docker/app.yml
  test/templates/compose/04-mongo/src/main/docker/app.yml
  test/templates/compose/05-cassandra/src/main/docker/app.yml
  test/templates/compose/06-uaa/.yo-rc.json
  test/templates/compose/06-uaa/src/main/docker/app.yml
  test/templates/compose/06-uaa/src/main/docker/mysql.yml
  test/templates/compose/06-uaa/target/jib-cache/.gitkeep
  test/templates/compose/07-mariadb/src/main/docker/app.yml
  test/templates/compose/10-couchbase/src/main/docker/app.yml
  test/templates/compose/11-mssql/src/main/docker/app.yml
  test/templates/uaaserver/uaa/.yo-rc.json
  test/utils/expected-files.js
Labels: none

Remove UAA link from Daily builds
  README.md
Labels: none

Remove UAA in Gradle properties and build
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Azure Pipelines: remove uaa
  azure-pipelines.yml
  test-integration/samples/ms-ngx-gateway-eureka-uaa/.yo-rc.json
Labels: theme: CI Builds

Remove UAA in prompts and index for server
  generators/server/index.js
  generators/server/prompts.js
Labels: theme: java

Fix tests
  jdl/validators/application-validator.js
Labels: none

Remove UAA in CI scripts and samples
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  test-integration/generate-sample.sh
  test-integration/samples/README.md
  test-integration/samples/ms-ngx-gateway-uaa/.yo-rc.json
  test-integration/samples/uaa/.yo-rc.json
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/01-display-configuration.sh
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
  test-integration/scripts/12-generate-project.sh
  test-integration/scripts/13-replace-version-generated-project.sh
  test-integration/scripts/21-tests-backend.sh
  test-integration/scripts/23-package.sh
  test-integration/scripts/24-tests-e2e.sh
Labels: theme: CI Builds

Remove UAA in docker-compose files
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/jhipster-registry.yml.ejs
  generators/server/templates/src/main/docker/prometheus/prometheus.yml.ejs
Labels: theme: java

Delete class files related to UAA
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaProperties.java.ejs
  generators/server/templates/src/main/java/package/config/UaaWebSecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/config/oauth2/OAuth2AuthenticationConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/oauth2/OAuth2JwtAccessTokenConverter.java.ejs
  generators/server/templates/src/main/java/package/config/oauth2/OAuth2Properties.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CookieCollection.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CookieTokenExtractor.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CookiesHttpServletRequestWrapper.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2AuthenticationService.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2CookieHelper.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2Cookies.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2SignatureVerifierClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2TokenEndpointClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuth2TokenEndpointClientAdapter.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaSignatureVerifierClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaTokenEndpointClient.java.ejs
  generators/server/templates/src/main/java/package/web/filter/RefreshTokenFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/RefreshTokenFilterConfigurer.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AuthResource.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/OAuth2TestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/SecurityBeanOverrideConfiguration.java.ejs
  generators/server/templates/src/test/java/package/security/OAuth2TokenMockUtil.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/OAuth2AuthenticationServiceTest.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/OAuth2CookieHelperTest.java.ejs
Labels: theme: java

Remove UAA in java templates
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/client/OAuth2InterceptedFeignConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/LoggingConfiguration.java.ejs
Labels: theme: java

Remove class related to UAA and properties for Spring Boot
  generators/server/templates/src/main/java/package/gateway/TokenRelayFilter.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CookieTokenExtractorTest.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

Fix lint in server when removing UAA
  generators/server/files.js
  generators/server/prompts.js
Labels: theme: java

Remove UAA in app sub generator
  generators/app/index.js
  generators/app/prompts.js
Labels: theme: jhipster-internals

Remove UAA in some files in client sub gen
  generators/client/files-angular.js
  generators/client/index.js
  generators/client/prompts.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
Labels: theme: front, theme: angular

Remove UAA in client sub gen
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/activate/activate.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/user-management.ts.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular, theme: react

Remove UAA in JDL
  jdl/jhipster/application-options.js
  jdl/jhipster/application-types.js
  jdl/jhipster/default-application-options.js
  jdl/models/jdl-application-factory.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
Labels: none

Remove UAA in entities sub gen
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs
  generators/entity-server/index.js
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity/index.js
Labels: theme: react, theme: jhipster-internals, theme: java

Remove UAA in base code, generator and docker
  generators/docker-base.js
  generators/docker-prompts.js
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals, theme: docker :whale:

Remove UAA in remaining files
  generators/common/templates/README.md.ejs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
  generators/openapi-client/files.js
  generators/openshift/templates/deployment.yml.ejs
  test/jdl/jhipster/application-types.spec.js
  test/jdl/models/jdl-application-factory.spec.js
Labels: theme: docker :whale:, theme: kubernetes

Fix lint in generator-base when removing UAA
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix template in generated README
  generators/common/templates/README.md.ejs
Labels: none

Add --client-package-manager option
  generators/app/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Bump npm to 7.4.3
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Fix deprecated media type
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Wahoo! I fixed it. 😃
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

Fix csv data for incremental changelog
  .github/workflows/incremental-changelog.yml
  cli/import-jdl.js
  generators/app/index.js
  generators/database-changelog-liquibase/index.js
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/generator-base.js
  test/cli/import-jdl.spec.js
Labels: theme: cli, theme: CI Builds, theme: jhipster-internals

Fix Elasticsearch configuration
  generators/server/templates/src/main/java/package/config/ElasticsearchConfiguration.java.ejs
Labels: theme: java

Apply change after review from @mshima
  generators/common/templates/README.md.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix diff with npm 7
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Fix Spring milestone and RC logic
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Register generator-base at Environment as jhipster:base
  generators/base/index.js
  test/base/base.spec.js
Labels: none

Fix profile activation
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Fix profile activation for gateway
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

Revert Gradle activation profile changes
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java
