Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Group workflow by branch except main.
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Enable webpack cache at production builds.
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/webpack/webpack.prod.js.ejs
Labels: theme: react

update openapi generator to version 5.1.1
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

allow javadoc comments before and after enum values
  jdl/parsing/jdl-parser.js
  test/jdl/grammar/grammar.spec.js
Labels: none

Cancel PR builds on close.
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Use generate-resources phase to calculate checksum
  generators/server/templates/pom.xml.ejs
Labels: theme: java

use constant in kubernetes
  generators/docker-compose/index.js
  generators/generator-base-docker.js
  generators/heroku/templates/Procfile.ejs
  generators/kubernetes-helm/index.js
  generators/kubernetes-knative/index.js
  generators/kubernetes/index.js
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  package-lock.json
  test/templates/all-languages/.yo-rc.json
  test/templates/compose/01-gateway/.yo-rc.json
  test/templates/compose/02-mysql/.yo-rc.json
  test/templates/compose/03-psql/.yo-rc.json
  test/templates/compose/04-mongo/.yo-rc.json
  test/templates/compose/05-cassandra/.yo-rc.json
  test/templates/compose/07-mariadb/.yo-rc.json
  test/templates/compose/10-couchbase/.yo-rc.json
  test/templates/compose/11-mssql/.yo-rc.json
  test/templates/compose/12-oracle/.yo-rc.json
  test/templates/default-microservice/.yo-rc.json
Labels: theme: dependencies, theme: jhipster-internals, theme: docker :whale:, theme: kubernetes

allow javadoc comments before and after enum values (#15202)
  jdl/parsing/jdl-parser.js
  test/jdl/grammar/grammar.spec.js
Labels: none

Use setup action at others workflows.
  .github/workflows/cache.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Implement setup github actions.
  .github/actions/setup/action.yml
  .github/workflows/angular.yml
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/01-display-configuration.sh
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
  test-integration/scripts/12-generate-project.sh
Labels: theme: CI Builds

Fix jdl workflow.
  .github/workflows/jdl.yml
Labels: theme: CI Builds

Use fixed chromedriver version.
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular

Use fixed chromedriver version. (#15227)
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular

Publish test results on Azure pipeline generator
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  test/__snapshots__/ci-cd.spec.js.snap
Labels: none

Make group name generic
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Adjusts to diff.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  test-integration/scripts/11-generate-config.sh
Labels: theme: CI Builds

Display variables is executed at setup step.
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Add keycloak docker config to script.
  .github/workflows/jdl.yml
  test-integration/scripts/03-system.sh
Labels: theme: CI Builds

Allow jhipster-bom repository to set jhipster-bom branch.
  .github/actions/setup/action.yml
  test-integration/scripts/10-install-jhipster.sh
Labels: none

Publish test results on Azure pipeline generator (#15225)
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  test/__snapshots__/ci-cd.spec.js.snap
Labels: none

protractor: fix react pattern
  generators/entity-client/templates/react/src/main/webapp/app/entities/react_validators.ejs
Labels: theme: react

Revert "Use fixed chromedriver version. (#15227)"
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular

protractor: drop input value test from angular and vue tests.
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: angular

[angular] Bump dependencies to jest 27
  generators/client/templates/angular/package.json
Labels: theme: angular

[angular] migrate from jasmine to jest.
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/translate.directive.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[angular] use pathsToModuleNameMapper from ts-jest
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

[angular] use tsconfig baseUrl.
  generators/client/templates/angular/jest.conf.js.ejs
Labels: theme: angular

[angular] fix tests types.
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

[vue] migrate to jest 27
  generators/client/templates/vue/package.json
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: none

[vue] migrate jasmine api to jest.
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.component.spec.ts.ejs
Labels: none

Fixed the kubernetesStorageClassName option
  jdl/jhipster/deployment-options.js
  jdl/parsing/validator.js
  test/jdl/exporters/jhipster-deployment-exporter.spec.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/deployment-options.spec.js
  test/jdl/test-files/deployments.jdl
Labels: none

Forbid reactive JDL apps with websockets
  jdl/validators/application-validator.js
  test/jdl/validators/application-validator.spec.js
Labels: none

fix mssql and r2dbc integration
  generators/generator-base-private.js
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  test/generator-base.spec.js
Labels: theme: jhipster-internals, theme: java

[angular] fix non existing function error.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.spec.ts.ejs
Labels: theme: angular

Added missing JDL deployment options (#14945)
  jdl/jhipster/deployment-options.js
  jdl/parsing/lexer/deployment-tokens.js
  jdl/parsing/validator.js
  jdl/validators/deployment-validator.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/exporters/jhipster-deployment-exporter.spec.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/deployment-options.spec.js
  test/jdl/models/jdl-deployment.spec.js
  test/jdl/test-files/deployments.jdl
  test/jdl/validators/deployment-validator.spec.js
Labels: none

Update generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
Labels: theme: java

replace 3rd party liquibase mssql extension with core extensions
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
Labels: theme: java

supress detailed debug logging of handler mappings for reactive apps
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

fix tests for liquibase mssql changelog
  test/app.spec.js
Labels: none

Update generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
Labels: theme: java
