Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update SpaWebFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
Labels: theme: java

Update SpaWebFilter_reactive.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
Labels: theme: java

adjusts to SpaWebFilter. (#21015)
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

feat: add microservices to admin log view
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
Labels: theme: angular

adjust to types
  generators/base-application/generator-ts.mts
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
  generators/base-application/types.d.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator.mts
  generators/base/tasks.d.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/index.mts
  generators/client/types.d.mts
  generators/common/index.mts
  generators/common/types.d.mts
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/cypress/index.mts
  generators/cypress/types.d.mts
  generators/info/generator.mts
  generators/liquibase/generator.mts
  generators/server/cleanup-cache-provider.mts
  generators/server/cleanup-oauth2.mts
  generators/server/cleanup.mts
  generators/server/generator.mjs
  generators/server/index.mts
  generators/server/types.d.mts
Labels: theme: front, theme: jhipster-internals, theme: java

fix condition and update tests and snapshots
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/bootstrap-application/generator.mts
  test/enforcements.spec.mjs
Labels: theme: jhipster-internals

integrate generator-ts.mts
  generators/base-application/generator-ts.mts
  generators/base-application/generator.mts
Labels: theme: jhipster-internals

reorganize generators/base
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-definitions.mjs
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/index.mts
  generators/client/support/update-languages.mts
  generators/gradle/cleanup.mts
  generators/maven/cleanup.mts
  generators/server/cleanup-cache-provider.mts
  generators/server/cleanup-cucumber.mts
  generators/server/cleanup-oauth2.mts
  generators/server/cleanup-sql.mts
  generators/server/cleanup.mts
Labels: theme: front, theme: jhipster-internals, theme: java, theme: maven, theme: gradle

adjusts
  generators/base-application/types.d.mts
  generators/server/cleanup.mts
Labels: theme: jhipster-internals, theme: java

fix missing types
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
Labels: theme: jhipster-internals

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

cleanup unused imports
  generators/base-application/types.d.mts
  generators/client/types.d.mts
  generators/common/types.d.mts
  generators/cypress/types.d.mts
  generators/server/types.d.mts
Labels: theme: front, theme: jhipster-internals, theme: java

add sourceType to types.
  generators/base-application/tasks.d.mts
  generators/base/tasks.d.mts
  generators/client/index.mts
  generators/common/index.mts
  generators/cypress/generator.mts
  generators/liquibase/generator.mts
  generators/server/index.mts
Labels: theme: front, theme: jhipster-internals, theme: java

pass source to postWritingEntities priority
  generators/base-application/generator.mts
  generators/base-application/generator.spec.mts
Labels: theme: jhipster-internals

(feat): Update key files to include restResources option
  generators/base-application/support/prepare-entity.mjs
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/jhipster/json-entity.ts
  jdl/jhipster/unary-options.ts
  jdl/parsing/lexer/option-tokens.ts
Labels: theme: jhipster-internals

(test): Update existing tests to use restResources/noRestResources option
  generators/bootstrap-application/generator.spec.mts
  test/jdl/converters/JDLToJSON/jdl-to-json-basic-entity-information-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-to-json-option-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.ts
  test/jdl/exporters/jhipster-entity-exporter.spec.ts
  test/jdl/jdl-importer.spec.ts
  test/jdl/jhipster/json-entity.spec.ts
  test/jdl/jhipster/unary-options.spec.ts
Labels: theme: jhipster-internals

(test): Add JDL-to-JDL object converter test for noRestResources option
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.ts
Labels: none

(test): Add JDL-to-JDL object converter test for noRestResources test data
  test/jdl/test-files/rest_resources.jdl
  test/jdl/test-files/rest_resources2.jdl
Labels: none

(feat): Add business logic to exclude restFiles
  generators/server/entity-files.mjs
Labels: theme: java

Revert "Bump docker/build-push-action from 3.3.0 to 4.0.0"
  .github/workflows/docker-image-publish-github-registry.yml
Labels: theme: CI Builds

Update .github/actions/build-matrix/action.yml
  .github/actions/build-matrix/action.yml
Labels: theme: CI Builds

create SpaWebFilterIT for reactive app
  generators/server/files.mjs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
Labels: theme: java

change generator for SpaWebFilterIT
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
Labels: theme: java

fix typo
  generators/server/__snapshots__/sql.spec.mts.snap
Labels: theme: java

Fix merge
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

fix NoSuchTypeException
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix code formatting changes
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

Fix code formatting changes
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

convert jdl/import-jdl to async/await
  cli/commands.mjs
  cli/import-jdl.mjs
  cli/jdl.mjs
  test/cli/import-jdl.spec.mts
  test/cli/jdl-fork.spec.mts
Labels: theme: cli

drop fork
  cli/environment-builder.mjs
  cli/import-jdl.mjs
  cli/jdl.mjs
  cli/utils.mjs
  test/cli/cli-utils.spec.mts
  test/cli/import-jdl.spec.mts
Labels: theme: cli

move server/needles to server/support/needles and convert to typescript
  generators/server/index.mts
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/server/support/index.mts
  generators/server/support/needles.mts
  generators/server/support/needles.spec.mts
Labels: theme: java

drop fieldsIsReactAvField and i18nToLoad
  generators/base-application/support/prepare-entity.mjs
  generators/bootstrap-application/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.tsx.ejs
Labels: theme: react, theme: jhipster-internals

use destinationPath at message
  generators/base/generator-base-todo.mjs
  test/generator-base.spec.mts
Labels: theme: jhipster-internals

update templates
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.test-samples.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/list/_entityFile.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-form.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-update.component.ts.ejs
  generators/cassandra/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_cassandra.ejs
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-detail.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityModel.model.ts.ejs
  generators/server/templates/entity/src/main/java/package/domain/_PersistClass_.java.jhi.ejs
  generators/server/templates/entity/src/main/java/package/domain/_PersistClass_.java.jhi.jakarta_persistence.ejs
  generators/server/templates/entity/src/main/java/package/domain/_PersistClass_.java.jhi.jakarta_validation.ejs
  generators/server/templates/entity/src/main/java/package/repository/_EntityClass_RepositoryInternalImpl_reactive.java.ejs
  generators/server/templates/entity/src/main/java/package/repository/_EntityClass_RepositoryWithBagRelationships.java.ejs
  generators/server/templates/entity/src/main/java/package/repository/_EntityClass_RepositoryWithBagRelationshipsImpl.java.ejs
  generators/server/templates/entity/src/main/java/package/repository/rowmapper/_EntityClass_RowMapper.java.ejs
  generators/server/templates/entity/src/main/java/package/service/dto/_DtoClass_.java.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.service.spec.ts.ejs
Labels: theme: angular, theme: react, theme: vue, theme: java

types improvements
  generators/angular/cleanup.mts
  generators/angular/entity-files-angular.mts
  generators/angular/files-angular.mjs
  generators/angular/generator.mts
  generators/angular/needle-api/needle-client-angular.mts
  generators/angular/support/index.mts
  generators/angular/support/needles.mts
  generators/angular/support/transform-angular.mjs
  generators/angular/support/transform-angular.spec.mts
  generators/base-application/generator.mts
  generators/base-application/index.mts
  generators/base-application/support/prepare-entity.mts
  generators/base-application/tasks.d.mts
  generators/base-application/types/entity.d.mts
  generators/base-application/types/field.d.mts
  generators/base-application/types/index.d.mts
  generators/base-application/types/relationship.d.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/support/jhipster7-context.mjs
  generators/base/support/needles.mts
  generators/base/tasks.d.mts
  generators/base/types.d.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/client/index.mts
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/liquibase-changelogs/files.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/generator.mts
  generators/liquibase/support/index.mts
  generators/liquibase/support/post-prepare-entity.mts
  generators/needle-base.mts
  generators/server/generator.mjs
  generators/server/index.mts
  generators/server/support/needles.spec.mts
  test/needle-api/needle-client-angular-generator.spec.mts
Labels: theme: front, theme: angular, theme: jhipster-internals, theme: java

Apply suggestions from code review
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.model.ts.ejs
  generators/liquibase-changelogs/files.mjs
Labels: theme: angular

chore: fix config and usage instructions for local sonar setup and code coverage
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/README.md.jhi.ejs
  generators/docker/templates/src/main/docker/sonar.yml.ejs
  package-lock.json
Labels: theme: dependencies, theme: front, theme: java

(feat): Add clientInterface option and remove restResources option
  generators/base-application/support/prepare-entity.mjs
  generators/bootstrap-application/generator.spec.mts
  generators/entity/prompts.mjs
  generators/server/entity-files.mjs
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/jhipster/binary-options.ts
  jdl/jhipster/entity-options.ts
  jdl/jhipster/json-entity.ts
  jdl/jhipster/unary-options.ts
  jdl/parsing/lexer/option-tokens.ts
Labels: theme: jhipster-internals, theme: java

(test): Replace restResources test with clientInterface tests
  test/jdl/converters/JDLToJSON/jdl-to-json-basic-entity-information-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-to-json-option-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.ts
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.ts
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.ts
  test/jdl/exporters/jhipster-entity-exporter.spec.ts
  test/jdl/jdl-importer.spec.ts
  test/jdl/jhipster/binary-options.spec.ts
  test/jdl/jhipster/json-entity.spec.ts
  test/jdl/jhipster/unary-options.spec.ts
Labels: none

add postgres for keycloak k8s
  generators/kubernetes/files.mjs
  generators/kubernetes/templates/keycloak/keycloak-postgresql.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  test/__snapshots__/kubernetes.spec.mts.snap
  test/kubernetes.spec.mts
Labels: theme: kubernetes
