Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Apply suggestions from code review
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
Labels: none

Add unit tests for AuthorizationHeaderUtil
  generators/server/files.js
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
Labels: theme: java

Reformat files to align with default prettier configuration
  generators/server/files.js
Labels: theme: java

[jdl] Export otherEntityField for every relationship (to side). (#12552)
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  test/jdl/converters/JDLToJSON/jdl-to-json-relationship-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.js
Labels: none

Remove isFieldWithContentType function
  generators/entity-server/templates/src/main/java/package/common/patch_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/generator-base.js
  utils/field.js
Labels: theme: jhipster-internals, theme: java

Automatically click all try it out buttons
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular, theme: react

Update generators/entity-server/index.js
  generators/entity-server/index.js
Labels: theme: java

Add spring-boot-starter-data-mongodb for reactive
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Add spring-boot-starter-data-mongodb for reactive
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Fix comments in Gradle build
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Update generators/server/templates/build.gradle.ejs
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Update generators/server/templates/pom.xml.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update dependencies, kick off [webflux] builds (#12536)
  .github/workflows/webflux.yml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  package-lock.json
  package.json
Labels: theme: CI Builds, theme: dependencies, theme: java

Move angular dependencies to package.json for dependabot.
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Allow JHipster to be run with Java 15
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Edited entity Integration tests
  generators/entity-server/templates/src/test/java/package/common/patch_test_template.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Edited entity Integration tests
  generators/entity-server/templates/partials/it_patch_update.partial.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Added renderContent options
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/utils.js
Labels: theme: jhipster-internals, theme: java

Translate refreshListLabel into Chinese.
  generators/languages/templates/src/main/webapp/i18n/zh-tw/user-management.json
Labels: theme: i18n

Fix(lang): pt-BR
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
Labels: theme: i18n

Fix enableHibernateCache in prompt
  generators/server/prompts.js
Labels: theme: java

Run prettier:format
  generators/server/prompts.js
  package.json
Labels: theme: dependencies, theme: java

Double negate should convert undefined to false
  generators/server/prompts.js
Labels: theme: java

Fix enableHibernateCache in prompt (#12592)
  generators/server/prompts.js
  package.json
Labels: theme: dependencies, theme: java

Update mapstruct version to 1.4.0.Final
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update mapstruct version to 1.4.0.Final
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

docker jenkins image based on java 11
  generators/generator-constants.js
Labels: theme: jhipster-internals

Add domain support
  generators/app/index.js
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/BaseEntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/resources/config/couchmove/changelog/entity.fts.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/repository/search/EntitySearchRepositoryMockConfiguration.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  test-integration/samples/.jhipster/SuperMegaLargeTestEntity.json
Labels: theme: jhipster-internals, theme: java

Print the file with prettier error.
  generators/generator-transforms.js
Labels: theme: jhipster-internals

Add domain config.
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/config/DomainConfiguration.java.ejs
Labels: theme: java

Change domain package structure.
  generators/entity-server/index.js
Labels: theme: java

fixed turkish character problem
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Start working on Spring Boot 2.4 upgrade
  generators/generator-constants.js
Labels: theme: jhipster-internals

CI: switch JHI_LIB_BRANCH to spring-boot-2.4 branch
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Add generated annotation with transform
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-transforms.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/GeneratedByJHipster.java.ejs
  test/app.spec.js
  test/utils/expected-files.js
Labels: theme: jhipster-internals, theme: java

Add custom claim converter
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: java

Prettier
  generators/server/files.js
Labels: theme: java

FIx bug that generated annotation is added twice
  generators/generator-transforms.js
Labels: theme: jhipster-internals

Clear old tokens after successful login
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
Labels: theme: angular

Do not add the files for a reactive project
  generators/server/files.js
Labels: theme: java
