Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

remove doubled database addon creation
  generators/heroku/index.js
Labels: none

set explicit plan for bonsai addon
  generators/heroku/index.js
Labels: none

Provide memcached and redis support for heroku (#11712)
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

Fix for missing e2e files
  generators/client/files-react.js
Labels: theme: react

Fix for class usage before declaration
  generators/client/templates/react/src/test/javascript/e2e/page-objects/administration-page.ts.ejs
Labels: theme: react

Fix for missing protractor
  generators/client/templates/react/src/test/javascript/e2e/util/utils.ts.ejs
Labels: theme: react

Bug fix
  generators/client/templates/react/src/test/javascript/e2e/page-objects/settings-page.ts.ejs
Labels: theme: react

Admin Menu links e2e test update
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
Labels: theme: react

Fix for missing import
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
Labels: theme: react

Update to Fix for missing import
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
Labels: theme: react

Toast display of translated text for changed password e2e test
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
Labels: theme: react

fix: adjust dependabot.yml to skip ci and remove maven config
  .github/dependabot.yml
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

set default private license as it is required by multiple other tools and should be set as the private license is in place in most countries anyway. This way it is more transparent
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

fix: add support to skip azure builds on dependabot
  azure-pipelines.yml
Labels: theme: CI Builds

fix: do check based on the record count
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

fix: check the validation based on the count
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

#11805 updates
  generators/client/templates/react/src/test/javascript/e2e/page-objects/alert-page.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Push changes
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Attempt to fix missing entities for e2e tests
  generators/client/templates/react/src/test/javascript/e2e/page-objects/alert-page.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
Labels: theme: react

Attempt to fix missing entities for e2e tests
  generators/client/templates/react/src/test/javascript/e2e/util/utils.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Reset due to merge conflict issues
  generators/client/templates/react/src/test/javascript/e2e/util/utils.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fix for merge changes
  generators/client/templates/react/src/test/javascript/e2e/page-objects/alert-page.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fix for missing AlertPage
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
Labels: theme: react

Toast text test update
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Improve commander parsing.
  cli/cli.js
Labels: theme: cli

Change another options log from info to debug
  cli/run-yeoman-process.js
Labels: theme: cli

:white_check_mark: remove unnecessary bean name declaration
  generators/server/templates/src/main/java/package/config/LocaleConfiguration.java.ejs
Labels: theme: java

:white_check_mark: add public modifier for consistency with other bean definitions
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
Labels: theme: java

feat: add microservice support for GAE sub-generator
  generators/gae/index.js
  generators/gae/templates/application-prod-gae.yml.ejs
  generators/gae/templates/dispatch.yaml.ejs
Labels: none

E2E translation checks for toast display
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Create entity e2e test update
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fix to test String pattern
  generators/entity-client/files.js
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: front, theme: react

fix: typo in generators/clien/index.js
  generators/client/index.js
Labels: theme: front

fix: typo of occured
  generators/client/templates/vue/src/main/webapp/app/account/sessions/sessions.vue.ejs
Labels: none

fix: typos across project
  generators/client/templates/vue/src/main/webapp/app/core/ribbon/ribbon.vue.ejs
  generators/client/templates/vue/src/main/webapp/index.html.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/page/index.js
Labels: none

fix: mistakes in logic concerning dependabot CI exclusions
  .github/dependabot.yml
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

#11805 Tests updates
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

update to unlicensed to be consistent
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

View entity e2e test update
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-details-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

add a default license
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java
