Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Update git-commit-id-plugin version to 4.0.3
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Switch back to main bom branch
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

[react] Fix condition
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

[react] Fix routes.tsx
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: theme: react

[react] update login-redirect.tsx
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
Labels: theme: react

[react] npm run lint-fix
  generators/client/files-react.js
Labels: theme: react

fix heroku reprompting for app name when not found
  generators/heroku/index.js
Labels: none

fix: add hibernate fail pagination option in test config as well
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

[react] Handle redirection URL after login
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/url-utils.ts.ejs
Labels: theme: react

Login redirect doesn't work in OAuth2 and React (#13028)
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/url-utils.ts.ejs
Labels: theme: react

Converted uppercase-first JDL annotations to lowercase-first ones
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/test-files/capitalized_annotations.jdl
Labels: none

Start working on Spring Boot 2.4 upgrade
  generators/generator-constants.js
Labels: theme: jhipster-internals

Configuration properties changes with Spring Boot 2.4
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Update spring-boot to version 2.4.0-RC1
  generators/generator-constants.js
Labels: theme: jhipster-internals

CI: switch JHI_LIB_BRANCH to spring-boot-2.4 branch
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

CORS configuration: Spring 5.3 now requires an explicit declaration of specific domains to allow via allowedOrigins when allowCredentials is set to true now
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: theme: java

Update spring-boot to 2.4.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

[Vue] Login redirect doesn't work in OAuth2 and Vue
  generators/client/templates/vue/src/main/webapp/app/account/login.service.ts.ejs
Labels: none

[Vue] Add tests
  generators/client/templates/vue/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
Labels: none

fix: do not break logo during generation
  generators/client/files-react.js
Labels: theme: react

[Vue] Fix CSS bug in the nav menu
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
Labels: none

fix: width in admin menu
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
Labels: theme: react

Login redirect doesn't work in OAuth2 and Vue (#13046)
  generators/client/templates/vue/src/main/webapp/app/account/login.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
Labels: none

Revert "[webflux] Re-enable blockhound and whitelist BoundedElasticScheduler.schedule"
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/resources/META-INF/services/reactor.blockhound.integration.BlockHoundIntegration.ejs
Labels: theme: java

Update webflux.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Revert "[webflux] Change sqlfull from MariaDB to Postgresql"
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Generate only the native language when using prompt.
  generators/languages/prompts.js
Labels: theme: i18n

Move reactive prompt to server generator.
  generators/app/prompts.js
  generators/generator-defaults.js
  generators/server/prompts.js
Labels: theme: jhipster-internals, theme: java

Fix regeneration with skipServer option.
  generators/app/index.js
Labels: theme: jhipster-internals

fix heroku reprompting for app name when not found
  generators/heroku/index.js
Labels: none

Don't set default config for every generator.
  generators/generator-base.js
Labels: theme: jhipster-internals

Revert "Don't set default config for every generator."
  generators/generator-base.js
Labels: theme: jhipster-internals

[angular] Use config similar to Angular strict mode
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-system/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/client/templates/angular/tsconfig.json.ejs
Labels: theme: angular

[angular] Angular 11
  generators/client/templates/angular/package.json
Labels: theme: angular

[Angular] Fix metrics-modal-threads.component.html
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
Labels: theme: angular

[Angular] Rename entry to thread & fix indentation
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
Labels: theme: angular

fix entity with field account not working
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
Labels: theme: java

Use ESLint Webpack plugin instead of loader
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
Labels: theme: angular, theme: react

react: upgrade to ESLint 7
  generators/client/templates/angular/package.json
  generators/client/templates/react/.eslintrc.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/locale.tsx.ejs
Labels: theme: angular, theme: react

Update Angular README
  generators/common/templates/README.md.ejs
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
