Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Remove getPluralColumnName
  generators/generator-base.js
Labels: theme: jhipster-internals

Rename renameFile to gitMove
  generators/cleanup.js
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Remove contains()
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Improvements to prepareTempDir api.
  test/cli/cli.spec.js
  test/cli/environment-builder.spec.js
  test/utils/utils.js
Labels: none

Fix gitExec test.
  test/utils.spec.js
Labels: none

Move entity-* composing to default priority.
  generators/entity/index.js
Labels: theme: jhipster-internals

[react] Remove errors printed (icons) when frontend tests execute
  generators/client/files-react.js
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/react/src/test/javascript/spec/icons-mock.ts.ejs
Labels: theme: react

Drop getPluralColumnName test.
  test/generator-base.spec.js
Labels: none

Use entityClassHumanized at global translation
  generators/client/needle-api/needle-client-i18n.js
  generators/generator-base-private.js
  test/needle-api/needle-client-i18n.spec.js
Labels: theme: jhipster-internals

Use entityClassHumanized at needles
  generators/client/needle-api/needle-client-angular.js
  generators/client/needle-api/needle-client-i18n.js
  generators/client/needle-api/needle-client-react.js
  generators/client/needle-api/needle-client-vue.js
  generators/entity-client/files.js
  generators/generator-base.js
Labels: theme: front, theme: jhipster-internals

Use correct variable
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Fix formatting via prettier
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Croatian language
  generators/entity-i18n/templates/i18n/entity_hr.json.ejs
  generators/generator-constants.js
  generators/languages/templates/src/main/resources/i18n/messages_hr.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/configuration.json
  generators/languages/templates/src/main/webapp/i18n/hr/error.json
  generators/languages/templates/src/main/webapp/i18n/hr/gateway.json
  generators/languages/templates/src/main/webapp/i18n/hr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/home.json
  generators/languages/templates/src/main/webapp/i18n/hr/login.json
  generators/languages/templates/src/main/webapp/i18n/hr/logs.json
  generators/languages/templates/src/main/webapp/i18n/hr/metrics.json
  generators/languages/templates/src/main/webapp/i18n/hr/password.json
  generators/languages/templates/src/main/webapp/i18n/hr/register.json
  generators/languages/templates/src/main/webapp/i18n/hr/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/sessions.json
  generators/languages/templates/src/main/webapp/i18n/hr/settings.json
  generators/languages/templates/src/main/webapp/i18n/hr/tracker.json
  generators/languages/templates/src/main/webapp/i18n/hr/user-management.json
  generators/languages/templates/src/test/resources/i18n/messages_hr.properties.ejs
  jdl/bundling/dist/jdl-core.min.js
  test/templates/all-languages/.yo-rc.json
Labels: theme: jhipster-internals, theme: i18n

Blueprint fix.
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

Print jdl stack trace.
  cli/import-jdl.js
Labels: theme: cli

Faker refactoring.
  generators/entity-client/files.js
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/utils.js
  test/entity.spec.js
  test/liquibase-utils.spec.js
  test/templates/reproducible/.jhipster/Foo.json
  test/utils-faker.spec.js
  utils/entity.js
  utils/faker.js
  utils/field.js
  utils/liquibase.js
Labels: theme: front, theme: jhipster-internals, theme: java

Extract languageToJavaLanguage.
  generators/cleanup.js
  generators/generator-base-private.js
  generators/utils.js
Labels: theme: jhipster-internals

Rename jdl option to fakerTemplate
  utils/field.js
Labels: none

Extract fakeStringTemplateForFieldName
  utils/field.js
Labels: none

Remove getRecentDateForLiquibase and cleanups.
  generators/entity/index.js
  test/utils-faker.spec.js
  utils/entity.js
  utils/faker.js
  utils/field.js
Labels: theme: jhipster-internals

Update NPM version to 6.14.8
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update cassandra-driver version to 4.6.1
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update gradle.properties.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Add documentation to new common method [skip ci]
  generators/generator-base-private.js
Labels: theme: jhipster-internals

[react] Remove errors printed (infinite loop) when frontend tests execute
  generators/client/templates/react/src/test/javascript/spec/app/shared/auth/private-route.spec.tsx.ejs
Labels: theme: react

Remove Matchbanker and Papersowl sponsors
  README.md
Labels: none

[react] React v17.0 First Release Candidate
  generators/client/templates/react/package.json.ejs
Labels: theme: react

[angular] Update @angular/cli @angular/core
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

[vuejs] Fix option in select
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
Labels: none

fixed german translations
  generators/languages/templates/src/main/webapp/i18n/de/register.json
Labels: theme: i18n

Print snapshot version
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: java

Bump bootstrap to 4.5.2
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Bump @ng-bootstrap/ng-bootstrap to 7.0.0
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Fix #12250 : use validation annotations on the method parameter
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: theme: java

Move Heroku PORT to profile so it works in Docker (#12237)
  generators/heroku/templates/Procfile.ejs
  generators/heroku/templates/application-heroku.yml.ejs
Labels: none

prevent implementation details leakage via problem details (#12239)
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

minor improvements in German translation
  generators/languages/templates/src/main/webapp/i18n/de/register.json
Labels: theme: i18n

[vuejs] Fix errors when entities are generated
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
Labels: none

[vuejs] Fix warnings in front end tests
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: none

Fix required relationship with filtering
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  test-integration/samples/.jhipster/JpaFilteringOtherSide.json
  test-integration/samples/.jhipster/JpaFilteringRelationship.json
  test-integration/scripts/11-generate-entities.sh
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
