Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Switch from replacing dependencies version post generation to preload.
  .github/dependabot.yml
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/index.js
  generators/common/templates/package.json
  generators/generator-base.js
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/package.json.ejs
  test/needle-api/needle-server-cache.spec.js
  test/server.spec.js
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Load prettier and prettier-plugin-java from generator-jhipster package.json into packageJson versions.
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/index.js
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/package.json.ejs
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Fix prettier version source.
  generators/common/index.js
Labels: theme: jhipster-internals

Allow http://localhost:8100 for CORS by default (#13858)
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

Remove LOGOUT_URL for session authentication.
  generators/client/templates/angular/src/main/webapp/app/login/login.service.ts.ejs
Labels: theme: angular

fix case where many to one broke because of missing injected field
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
Labels: none

Update generators/common/templates/package.json
  generators/common/templates/package.json
Labels: none

Switch from replacing dependencies version post generation to preload. (#13888)
  .github/dependabot.yml
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/index.js
  generators/common/templates/package.json
  generators/generator-base.js
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/package.json.ejs
  test/needle-api/needle-server-cache.spec.js
  test/server.spec.js
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Add Okta as a Platinum sponsor
  README.md
Labels: none

Adjust width of Okta logo
  README.md
Labels: none

Add Okta message after generation as part of platinum sponsorship
  cli/utils.js
Labels: theme: cli

Add Okta message after generation as part of platinum sponsorship (#13942)
  cli/utils.js
Labels: theme: cli

Fix import for h2 + microservices applications
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java

Fix template for Reactive with H2
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
Labels: theme: react

Update generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
Labels: theme: react

update gradle node plugin to 3.0.1
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
Labels: theme: jhipster-internals, theme: java

activate api-docs profile in dev mode by default
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Remove compile in gitlab-ci (#13859)
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: none

update gradle node plugin to 3.0.1 (#13950)
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
Labels: theme: jhipster-internals, theme: java

correct neo4j uri
  generators/kubernetes/templates/deployment.yml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
Labels: theme: java, theme: kubernetes

Allow User entity to be imported from non skipUserManagement application
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.js
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
  jdl/converters/json-to-jdl-entity-converter.js
  test/jdl/converters/JDLToJSON/jdl-to-json-basic-entity-information-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.js
  test/jdl/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none

Improve support for single entities
  generators/database-changelog-liquibase/index.js
  generators/database-changelog/index.js
  generators/entities/index.js
  generators/entity/index.js
  test/app/incremental-changelog.spec.js
  test/entities/composing.js
  test/entities/only-entities.spec.js
  test/entity/single-entity.spec.js
  test/templates/.jhipster/Simple2.json
  test/templates/.jhipster/Simple3.json
Labels: theme: jhipster-internals

Add support to customize User id using config file.
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Change .gitignore for VS Code (#13836)
  generators/common/templates/gitignore.ejs
Labels: none

chore(deps-dev): bump html-webpack-plugin from 4.5.1 to 5.1.0
  generators/client/templates/vue/package.json
Labels: none

Move HtmlWebpackPlugin from webpack.common to webpack.dev.
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: none

Bump html-webpack-plugin from 4.5.1 to 5.1.0.
  generators/client/templates/vue/package.json
Labels: none

Bump webpack from 5.21.2 to 5.22.0
  generators/client/templates/vue/package.json
Labels: none

vue: Fix conflicting HtmlWebpackPlugin between webpack.common and webpack.prod. (#13988)
  generators/client/templates/vue/package.json
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: none

Adopt User id field type using User.json.
  generators/generator-base-private.js
  generators/generator-base.js
  test/app/application-with-entities.js
Labels: theme: jhipster-internals

add DataStax as gold sponsor
  README.md
Labels: none

Unknown field "replica" - typo
  generators/kubernetes/templates/monitoring/jhipster-prometheus-cr.yml.ejs
Labels: theme: kubernetes

downgrade husky due to change of license #13940
  generators/common/templates/package.json
Labels: none

Force enable hibernate cache to false, for Gateway with JDL
  jdl/jhipster/default-application-options.js
  test/jdl/jdl-importer.spec.js
Labels: none

Fix npm test
  generators/server/files.js
  test/app.spec.js
  test/jdl/jdl-importer.spec.js
  test/utils/expected-files.js
Labels: theme: java

Update configuration for Gateway, without cacheProvider and disable hibernate cache
  test-integration/samples/ms-ngx-gateway-consul/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-jwt/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-oauth2/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-jwt/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-oauth2/.yo-rc.json
Labels: none

Force reactive for Gateway
  generators/server/prompts.js
  jdl/jhipster/default-application-options.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: theme: java

Fix npm test for default application options with Gateway
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

Remove RateLimitingFilter
  generators/server/files.js
Labels: theme: java

Update configuration in CI to force the use of reactive with Gateway
  test-integration/samples/ms-ngx-gateway-consul/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-jwt/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-oauth2/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-jwt/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-oauth2/.yo-rc.json
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
