Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: Heroku, theme: kubernetes

fix skip-*-tests matrix
  test-integration/scripts/99-write-matrix.js
Labels: none

add support to manually configured routes.
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/bootstrap-application-server/generator.ts
  generators/server/jdl/application-definition.ts
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/types.d.ts
  generators/spring-cloud/generators/gateway/command.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/generators/gateway/jdl/jdl-routes-option.spec.ts
  generators/spring-cloud/generators/gateway/jdl/jdl-routes-option.ts
  generators/spring-cloud/generators/gateway/types.d.ts
Labels: theme: jhipster-internals, theme: java

add spring-cloud-starter-loadbalancer to imperative gateways
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java, theme: maven

add imperative gateway oauth2 sample with manual route
  test-integration/jdl-samples/ms-ng-oauth2-mongodb-caffeine/blog-store.jdl
  test-integration/workflow-samples/angular.json
Labels: none

Update linked-issue-check.yml
  .github/workflows/linked-issue-check.yml
Labels: theme: CI Builds

Update linked-issue-check.yml
  .github/workflows/linked-issue-check.yml
Labels: theme: CI Builds

MySQL 8.4.0
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker/templates/docker/mysql.yml.ejs
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: java, theme: docker :whale:, theme: kubernetes

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update lexer.ts
  jdl/parsing/lexer/lexer.ts
Labels: none

add parameters support to addJavaAnnotation
  generators/java/support/add-java-annotation.spec.ts
  generators/java/support/add-java-annotation.ts
  generators/java/support/generated-annotation-transform.spec.ts
  generators/java/support/generated-annotation-transform.ts
  generators/java/support/index.ts
Labels: none

add isVersionLessThan
  generators/base-core/generator.ts
Labels: none

add cjs/mjs/cts/mts files to prettier
  generators/init/generator.js
Labels: none

bump blueprint's yeoman-test
  generators/generate-blueprint/generator.js
Labels: none

bump blueprint's ecmaVersion
  generators/generate-blueprint/templates/.eslintrc.json.ejs
Labels: none

drop unused import for blueprint
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
Labels: none

add all option to generate-sample
  generators/generate-blueprint/templates/.blueprint/generate-sample/command.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
Labels: none

add githubWorkflows option to generate-blueprint
  generators/generate-blueprint/command.ts
  generators/generate-blueprint/files.js
  generators/generate-blueprint/generator.js
  generators/generate-blueprint/templates/.blueprint/cli/commands.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/github-build-matrix/build-matrix.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/github-build-matrix/generator.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/github-build-matrix/index.mjs.ejs
Labels: none

rework react error handling
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/generators/common/__snapshots__/generator.spec.ts.snap
  generators/client/generators/common/command.ts
  generators/client/generators/common/generator.spec.ts
  generators/client/generators/common/generator.ts
  generators/client/generators/common/index.ts
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/headers.ts.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/problem-details.ts.ejs
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/generator.js
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/config/store.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: front, theme: angular, theme: react, theme: java

add missing setupFiles to vitest.config.ts
  generators/generate-blueprint/templates/vitest.config.ts.ejs
Labels: none

bump blueprints to es2022
  generators/generate-blueprint/templates/.eslintrc.json.ejs
Labels: none

some more use of constants instead of string
  generators/base-application/support/prepare-relationship.js
  generators/entity/prompts.js
  generators/languages/generator.js
  generators/server/support/config.ts
  generators/server/support/prepare-entity.js
  generators/server/support/relationship.ts
Labels: theme: jhipster-internals, theme: i18n, theme: java

proof of concept regarding relationships constants
  generators/base-application/support/prepare-relationship.js
  generators/entity/support/index.ts
  generators/entity/support/relationships.ts
Labels: theme: jhipster-internals

rename relationships types
  generators/entity/prompts.js
  generators/entity/support/relationships.ts
Labels: none

move sampleName prompt to configs
  generators/generate-blueprint/templates/.blueprint/generate-sample/command.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
Labels: none

Fix typos in questions
  generators/client/command.ts
  generators/java/generators/build-tool/command.ts
  generators/spring-boot/prompts.js
Labels: theme: front

blueprint README adjusts
  generators/generate-blueprint/command.ts
  generators/generate-blueprint/generator.js
  generators/generate-blueprint/templates/README.md.ejs
Labels: none

fully replaced relationship strings with constants
  generators/base-application/support/prepare-entity.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-base/utils.js
  generators/client/support/entity-definition.js
  generators/entity/prompts.js
  generators/entity/support/relationships.ts
  generators/liquibase/support/relationship.ts
  generators/server/generator.js
  generators/server/support/relationship.ts
  generators/spring-data-relational/generator.ts
  jdl/basic-types/relationships.ts
  jdl/jhipster/relationship-types.spec.ts
  jdl/jhipster/relationship-types.ts
Labels: theme: front, theme: jhipster-internals, theme: java

Fix typos in questions (#26076)
  generators/client/command.ts
  generators/java/generators/build-tool/command.ts
  generators/spring-boot/prompts.js
Labels: theme: front

fix missing type
  generators/entity/support/relationships.ts
  jdl/basic-types/relationships.ts
Labels: none

more constants
  generators/bootstrap-application-base/generator.ts
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
Labels: theme: jhipster-internals

Update generator.js
  generators/generate-blueprint/generator.js
Labels: none

use OAS sdk requiredMode instead of deprecated api
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
Labels: theme: java

Revert "build(deps-dev): bump octokit from 4.0.1 to 4.0.2"
  package-lock.json
  package.json
Labels: theme: dependencies

more params to devcontainer
  .devcontainer/devcontainer.json
Labels: none

more devcontainer properties
  .devcontainer/devcontainer.json
Labels: none

more params to devcontainer (#26090)
  .devcontainer/devcontainer.json
Labels: none

add COMPOSING_COMPONENT
  generators/app/generator.js
  generators/base-core/generator.ts
  generators/base/generator.ts
  generators/base/priorities.js
  generators/common/generator.js
Labels: theme: front, theme: jhipster-internals, theme: java

adjust skipPriorities
  generators/base-application/generator.ts
Labels: theme: jhipster-internals

add test for questions order
  generators/app/generator.spec.ts
Labels: theme: jhipster-internals

rework react error handling (#26059)
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/generators/common/__snapshots__/generator.spec.ts.snap
  generators/client/generators/common/command.ts
  generators/client/generators/common/generator.spec.ts
  generators/client/generators/common/generator.ts
  generators/client/generators/common/index.ts
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/headers.ts.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/problem-details.ts.ejs
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/generator.js
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/config/store.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: front, theme: angular, theme: react, theme: java

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - changed-files:
      - any-glob-to-any-file:
          - cli/*

'theme: CI Builds':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - azure-pipelines.yml

'theme: dependencies':
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - '**/package.json'
          - package-lock.json

'theme: front':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/client/**

'theme: angular':
  - changed-files:
      - any-glob-to-any-file:
          - generators/angular/**

'theme: react':
  - changed-files:
      - any-glob-to-any-file:
          - generators/react/**

'theme: vue':
  - changed-files:
      - any-glob-to-any-file:
          - generators/vue/**

'theme: jhipster-internals':
  - changed-files:
      - any-glob-to-any-file:
          - generators/*.*
          - generators/app/**
          - generators/base/**
          - generators/base-application/**
          - generators/bootstrap/**
          - generators/bootstrap-*/**

'theme: i18n':
  - changed-files:
      - any-glob-to-any-file:
          - generators/languages/**/*

'theme: java':
  - changed-files:
      - any-glob-to-any-file:
          - generators/common/**
          - generators/server/**/*

'theme: upgrade':
  - changed-files:
      - any-glob-to-any-file:
          - generators/upgrade/**/*

'theme: docker :whale:':
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - generators/docker/**/*
          - generators/docker-compose/**/*

'theme: maven':
  - changed-files:
      - any-glob-to-any-file:
          - generators/maven/**/*
          - '**/pom.xml*'

'theme: gradle':
  - changed-files:
      - any-glob-to-any-file:
          - generators/gradle/**/*
          - '**/*.gradle'
          - '**/gradle/**/*'

'theme: Heroku':
  - changed-files:
      - any-glob-to-any-file:
          - generators/heroku/**/*

'theme: kubernetes':
  - changed-files:
      - any-glob-to-any-file:
          - generators/kubernetes/**/*
          - generators/kubernetes-helm/**/*
          - generators/kubernetes-knative/**/*
