Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Fixed option entity list parsing
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.js
Labels: none

Updated the JCore dep to v7.3.1 (#11808)
  package-lock.json
  package.json
Labels: theme: dependencies

Added missing spring imports for neo4j tests
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
Labels: theme: java

Added missing static keyword
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
Labels: theme: java

spring-boot-starter-cloud-connectors is not supported by Spring Boot anymore
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Start working on Spring-Boot 2.3 support
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: CI Builds, theme: jhipster-internals, theme: java

Update Spring Boot version to 2.3.0.RC1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Dedicated jhipster lib version for Spring Boot 2.3 dev
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to SpringBoot 2.3.0 release
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: jhipster-internals, theme: java

Add spring-boot-properties-migrator
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Improve template logic
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

Cassandra: remove home-made health indicator
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/metrics/CassandraHealthIndicator.java.ejs
  generators/server/templates/src/main/java/package/config/metrics/JHipsterHealthIndicatorConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/metrics/package-info.java.ejs
Labels: theme: jhipster-internals, theme: java

Cassandra: move CassandraConfiguration in main config directory
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/CassandraConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/cassandra/package-info.java.ejs
Labels: theme: jhipster-internals, theme: java

Cassandra: update to Spring Data Cassandra 3.0 and DataStax Driver 4.6
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/CassandraConfiguration.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs
  generators/server/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraConfigurationIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: jhipster-internals, theme: java

Cassandra: reactive changes for update to Spring Data Cassandra 3.0 and DataStax Driver 4.6
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Release v6.9.0
  package-lock.json
  package.json
Labels: theme: dependencies

Revert "Merge pull request from GHSA-8w7w-67mw-r5p7"
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/main/java/package/validation/constraints/ValidLogin.java.ejs
  generators/server/templates/src/main/java/package/validation/constraints/ValidLoginValidator.java.ejs
  generators/server/templates/src/test/java/package/validation/constraints/ValidLoginValidatorTest.java.ejs
Labels: theme: java

Add release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: theme: CI Builds

Upgrade generator-jhipster@6.9.0 and jhipster-core@7.3.1
  package-lock.json
  package.json
Labels: theme: dependencies

Use jhipster dependencies master 3.8.0-SNAPSHOT
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

use login regex from main generator (#616)
  generators/client/templates/vue/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
Labels: none

fix: Angular locale module name
  generators/generator-constants.js
Labels: theme: jhipster-internals

Tried to fix failing react test for entities
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Removed other shared variable
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Fixed TS error
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

Added wait-for-display statement
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

enables relationships to 'Authority' in entity-server
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
Labels: theme: java

fixes Many-to-Many relationship issue
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: theme: java

minor angular fixes
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

fix wrong import in entity update component
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

fix more angular compile errors + liquibase migration
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/user/authority.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/generator-base-private.js
Labels: theme: angular, theme: jhipster-internals, theme: java

adding test for authority feature
  generators/entity/prompts.js
  test/entity.spec.js
Labels: theme: jhipster-internals

fix other-entity-id for authorities in component template
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
Labels: theme: angular

respect custom relationship names, fix multi-relations in angular
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
Labels: theme: angular, theme: java

Release v1.8.0
  package-lock.json
  package.json
Labels: theme: dependencies

fixes reviewed code
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/entity/index.js
  generators/entity/prompts.js
  generators/generator-base-private.js
  test/entity.spec.js
Labels: theme: angular, theme: jhipster-internals, theme: java

fix failing test for authority-relationship
  test/entity.spec.js
  test/templates/authority-relationship/.jhipster/Foo.json
  test/templates/authority-relationship/.yo-rc.json
Labels: none

fix base generator test + frontend tests in generated app
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

Apply suggestions from code review
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
Labels: theme: angular, theme: java

:children_crossing: remove shortcut as this link type is non-conforming & ignored
  generators/client/templates/angular/src/main/webapp/404.html.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/404.html.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/server/templates/src/main/resources/templates/error.html.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
Labels: theme: angular, theme: react, theme: java
