Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Apply suggestions from code review
  jdl/exporters/jhipster-entity-exporter.js
  test/jdl/jdl-importer.spec.js
Labels: none

Move baseNames to before callback.
  test/jdl/exporters/jhipster-application-exporter.spec.js
Labels: none

Change import-jdl to save config files.
  cli/import-jdl.js
Labels: theme: cli

Add import-jdl fork option
  cli/commands.js
  cli/import-jdl.js
  cli/run-yeoman-process.js
  test/cli/import-jdl.spec.js
Labels: theme: cli

Add empty getOptionAsArgs test
  test/cli/cli-utils.spec.js
Labels: none

Load eslint chai plugin
  .eslintrc.json
  package-lock.json
  package.json
Labels: theme: dependencies

[vue] Clean npm test logs output
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
Labels: none

Initial incremental liquibase feature.
  generators/app/index.js
  generators/generator-base.js
  generators/server/files.js
  test/app/incremental-changelog.spec.js
Labels: theme: jhipster-internals, theme: java

Bump yeoman-test to 3.0.0
  package-lock.json
  package.json
Labels: theme: dependencies

Drop wrong test.
  test/cli/cli-utils.spec.js
Labels: none

[vue] Fix code smells
  generators/client/templates/vue/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/login.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: none

[angular] Quick fix #12202
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

Add Entando as new Gold Sponsor [skip ci]
  README.md
Labels: none

Add integration test reproducibility test.
  generators/generator-base.js
  test/integration-test-reproducibility.spec.js
  utils/liquibase.js
Labels: theme: jhipster-internals

[angular] Fix: Using Event as an entity name results in a compile error
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

[angular] Fix: Using Event as an entity name results in a compile error (#12212)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: theme: angular

Translated keys in error file section in global json for Russian and Uzbek locales;
  generators/languages/templates/src/main/webapp/i18n/ru/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Cyrl-uz/global.json
  generators/languages/templates/src/main/webapp/i18n/uz-Cyrl-uz/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Latn-uz/global.json.ejs
Labels: theme: i18n

Removed deprecated functions previously from JCore
  jdl/exporters/applications/jhipster-application-exporter.js
  jdl/exporters/jhipster-entity-exporter.js
  jdl/jhipster/entity-table-name-creator.js
  jdl/jhipster/json-entity.js
  jdl/linters/entity-linter.js
  jdl/models/jdl-entity.js
  jdl/readers/json-file-reader.js
  jdl/utils/format-utils.js
  test/jdl/jhipster/entity-table-name-creator.spec.js
  test/jdl/readers/json-file-reader.spec.js
  test/jdl/utils/format-utils.spec.js
Labels: none

Moved the JHipsterApplicationExporter to a dedicated folder
  jdl/exporters/applications/jhipster-application-exporter.js
  jdl/jdl-importer.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
Labels: none

Split the jhipster app exporter
  jdl/exporters/applications/jhipster-application-exporter.js
  jdl/exporters/applications/jhipster-application-formatter.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
Labels: none

[react] Fix Sonar smells
  generators/client/templates/react/src/main/webapp/app/config/axios-interceptor.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

[react] Review
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

[angular] Update @angular/cli @angular/core rxjs
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Implement composeWithJHipster.
  generators/app/index.js
  generators/client/index.js
  generators/entity/index.js
  generators/generator-base.js
  generators/server/index.js
  test/app/composing.js
Labels: theme: front, theme: jhipster-internals, theme: java

Use applicationWithEntities from options.
  generators/app/index.js
  generators/generator-base.js
  test/app/application-with-entities.js
Labels: theme: jhipster-internals

Update consul docker image version to 1.8.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update JIB version to 2.5.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

[angular] Fix polish file
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
Labels: theme: angular

Refactor dbcUrl methods
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Use getR2DBC method in templates
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java

Use getDBCURL methods instead of hardcoding URLs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

Fixed JSdoc
  jdl/exporters/applications/jhipster-application-exporter.js
Labels: none

Moved the app formatting call to the importer
  jdl/exporters/applications/jhipster-application-exporter.js
  jdl/jdl-importer.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
Labels: none

Update NPM version to 6.14.7
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mysql docker image version to 8.0.21
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mongo docker image version to 4.4.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update cassandra docker image version to 3.11.7
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mcr.microsoft.com/mssql/server docker image version to 2019-CU6-ubuntu-16.04
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update redis docker image version to 6.0.6
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update traefik docker image version to 1.7.26
  generators/generator-constants.js
Labels: theme: jhipster-internals
