Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

updates from review
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/static/index_microservices.html.ejs
  test-integration/jdl-samples/ms-ng-consul-oauth2-mongodb-caffeine/blog-store.jdl
  test-integration/workflow-samples/angular.json
Labels: theme: java, theme: docker :whale:

convert templates files to esm
  generators/app/composing.spec.mts
  generators/app/prompts.spec.mts
  generators/cassandra/database-changelog.spec.mts
  test/blueprint/app-blueprint.spec.mts
  test/blueprint/constructor-error-blueprint.spec.mts
  test/cli/cli.spec.mts
  test/cli/environment-builder.spec.mts
  test/support/temp-dir.mts
  test/templates/blueprints/fake-blueprint/generators/app/index.js
  test/templates/blueprints/fake-blueprint/generators/server/index.js
  test/templates/blueprints/fake-blueprint/package.json
  test/templates/blueprints/generator-jhipster-prettier-transform/generators/common/index.js
  test/templates/blueprints/generator-jhipster-prettier-transform/package.json
  test/templates/blueprints/generator-jhipster-throwing-constructor/generators/server/index.js
  test/templates/blueprints/generator-jhipster-throwing-constructor/package.json
  test/templates/cli/blueprint-cli-shared/cli/commands.js
  test/templates/cli/blueprint-cli-shared/cli/sharedOptions.js
  test/templates/cli/blueprint-cli-shared/generators/bar/index.js
  test/templates/cli/blueprint-cli-shared/generators/foo/index.js
  test/templates/cli/blueprint-cli-shared/package.json
  test/templates/cli/blueprint-cli/cli/commands.js
  test/templates/cli/blueprint-cli/cli/sharedOptions.js
  test/templates/cli/blueprint-cli/generators/foo/index.js
  test/templates/cli/blueprint-cli/package.json
Labels: theme: dependencies, theme: jhipster-internals

add application definition
  cli/program.mjs
  generators/base/api.d.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/internal/index.mts
  generators/base/internal/meta.mts
  generators/bootstrap-application-server/generator.mts
  generators/server/application.mts
  generators/server/generator.mjs
  generators/server/index.mts
Labels: theme: cli, theme: jhipster-internals, theme: java

update test snapshots
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
Labels: theme: docker :whale:

Correct generate-blueprint package.json merge
  generators/generate-blueprint/generator.mjs
Labels: none

Correct generate-blueprint package.json merge (#21203)
  generators/generate-blueprint/generator.mjs
Labels: none

fix kubernetes test
  test/kubernetes.spec.mts
Labels: none

enable test and update snapshot
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/app-blueprint.spec.mts
Labels: none

use jit at jhipster workflows
  .github/workflows/generator-generate-blueprint.yml
  .gitignore
  bin/jhipster.mjs
  cli/import-jdl.mjs
  package-lock.json
  package.json
  test-integration/scripts/10-install-jhipster.sh
  test/cli/cli.spec.mts
  test/support/temp-dir.mts
Labels: theme: cli, theme: CI Builds, theme: dependencies

adjusts to scripts.
  .github/actions/compare-base/action.yml
  .github/actions/setup/action.yml
  .gitignore
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-project.sh
Labels: theme: CI Builds

add bin/jhipster.mjs command that runs jit from source. (#21208)
  .github/actions/compare-base/action.yml
  .github/actions/setup/action.yml
  .github/workflows/generator-generate-blueprint.yml
  bin/jhipster.mjs
  cli/import-jdl.mjs
  package-lock.json
  package.json
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-project.sh
  test/cli/cli.spec.mts
  test/support/temp-dir.mts
Labels: theme: cli, theme: CI Builds, theme: dependencies

fix projectVersion log and make logs prettier
  generators/server/generator.mjs
Labels: theme: java

move sponsor message to success message.
  cli/utils.mjs
Labels: theme: cli

drop message from app generator
  generators/app/generator.mjs
Labels: theme: jhipster-internals

log adjusts
  generators/git/generator.mts
Labels: none

cleanup logs.
  generators/app/generator.mjs
  generators/aws/generator.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-docker/docker-base.mjs
  generators/base-docker/docker-prompts.mjs
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/support/needles.mts
  generators/ci-cd/generator.mjs
  generators/client/generator.mjs
  generators/cloudfoundry/generator.mjs
  generators/cloudfoundry/prompts.mjs
  generators/docker-compose/generator.mjs
  generators/entity/generator.mjs
  generators/entity/prompts.mjs
  generators/export-jdl/generator.mts
  generators/gae/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/git/generator.mts
  generators/heroku/generator.mjs
  generators/info/generator.mts
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/languages/generator.mjs
  generators/openapi-client/files.mjs
  generators/openapi-client/generator.mjs
  generators/openshift/generator.mjs
  generators/page/generator.mjs
  generators/server/generator.mjs
  generators/spring-controller/generator.mjs
  generators/upgrade/generator.mjs
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: Heroku, theme: kubernetes

log cleanups
  cli/utils.mjs
  generators/angular/generator.mts
  generators/base-application/support/prepare-relationship.mjs
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap/support/multi-step-transform/index.mts
  generators/client/generator.mjs
  generators/common/generator.mjs
  generators/git/generator.mts
  generators/react/generator.mjs
  generators/server/generator.mjs
  generators/vue/generator.mjs
Labels: theme: cli, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

move git initialization to end priority
  generators/git/generator.mts
Labels: none

rework keytool execution.
  generators/base/generator-base-todo.mjs
  generators/server/command.mts
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/support/index.mts
  generators/server/support/key-store.mts
Labels: theme: jhipster-internals, theme: java

rename CheckResult to ValidationResult
  generators/base/api.d.mts
  generators/base/generator-base.mts
  generators/server/generator.mjs
  generators/server/support/checks/check-java.mts
Labels: theme: jhipster-internals, theme: java

execute git at once
  generators/git/generator.mts
Labels: none

don’t fail on git commit
  generators/git/generator.mts
Labels: none

update test result
  generators/server/support/checks/check-java.spec.mts
Labels: theme: java

change base compare to use jit
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

Update action.yml
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

fix option
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

change base compare to use jit (#21211)
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

rework logger (#21189)
  cli/index.mts
  cli/jhipster-command.mjs
  cli/program.mjs
  cli/utils.mjs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/api.d.mts
  generators/base/command.mts
  generators/base/generator-base-definitions.mjs
  generators/base/generator-base.mts
  generators/base/generator.spec.mts
  generators/base/support/index.mts
  generators/base/support/logger.mts
  generators/base/support/logging.mjs
  generators/bootstrap/command.mts
  generators/git/generator.mts
  generators/init/__snapshots__/generator.spec.mts.snap
  test/generator-base.spec.mts
  test/support/tests.mjs
Labels: theme: cli, theme: jhipster-internals

move tests near the generator
  generators/entity/database-changelog.spec.mts
  generators/entity/single-entity.spec.mts
  generators/heroku/__snapshots__/heroku.spec.mts.snap
  generators/heroku/heroku.spec.mts
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/knative.spec.mts
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/openshift.spec.mts
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-service/spring-service.spec.mts
Labels: theme: Heroku, theme: kubernetes

consul update and test fix
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  test/__snapshots__/kubernetes.spec.mts.snap
  test/kubernetes.spec.mts
Labels: theme: kubernetes

Extend mysql dependency management to new Maven identifier Related with https://github.com/jhipster/jhipster-bom/pull/1111
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Fix search locations for JHipster Registry in Docker
  generators/docker/templates/src/main/docker/jhipster-registry.yml.ejs
Labels: none

Add tip about ARM64 when generating Docker Compose files
  generators/base-docker/docker-base.mjs
Labels: none

Add additional arguments needed for ARM64
  generators/base-docker/docker-base.mjs
Labels: none

Polishing
  generators/base-docker/docker-base.mjs
Labels: none

Fix search locations for JHipster Registry in Docker (#21246)
  generators/docker/templates/src/main/docker/jhipster-registry.yml.ejs
Labels: none

Update snapshots
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
Labels: none

Use string template
  generators/base-docker/docker-base.mjs
Labels: none

bump mem-fs-editor to v9.7.0
  package-lock.json
  package.json
Labels: theme: dependencies

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
