Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

chore: fix node import error
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
Labels: theme: react

Rename some reactive entity templates to follow pattern TargetFilename_${option} naming
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/common/save_template_reactive.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

Move getJDBCUrl and getR2DBCUrl method from generator-base-private to generator-base
  generators/generator-base-private.js
  generators/generator-base.js
  test/generator-base-private.spec.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Fix npm test related to localeId
  generators/generator-defaults.js
Labels: theme: jhipster-internals

chore[react]: update dependencies
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Move hibernateSnakeCase to utils/db
  generators/generator-base-private.js
  generators/generator-base.js
  utils/db.js
Labels: theme: jhipster-internals

Entity: improve templates
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Replace logic on database types by logic on primaryKey types
  generators/entity-server/templates/partials/it_patch_update.partial.java.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

chore[react]: update dependencies
  generators/client/templates/react/package.json.ejs
Labels: theme: react

chore: upgrade reactstrap to 8.6.0
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Add JDL WITH_ADMIN_UI support
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
  test/jdl/grammar/validator.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

Add debug to environment.run args.
  cli/program.js
Labels: theme: cli

Add languages options.
  generators/app/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

When --native-language is passed without a language, try to detect it using locale.
  generators/generator-base.js
Labels: theme: jhipster-internals

Implement detectLanguage.
  generators/languages/prompts.js
  utils/language.js
Labels: theme: i18n

Allow --native-language without a value to auto-detect native-language.
  cli/jhipster-command.js
  generators/app/index.js
  generators/generator-base.js
Labels: theme: cli, theme: jhipster-internals

Add -n alias to --native-language and -l alias to --language.
  generators/app/index.js
Labels: theme: jhipster-internals

Add 'e' alias to with-entities.
  generators/app/index.js
Labels: theme: jhipster-internals

Fix rewrite when needle is not found
  generators/utils.js
Labels: theme: jhipster-internals

use 'to.be.true' instead of 'to.equal(true)'.
  test/generator-base-private.spec.js
  test/generator-base.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

[angular] migrate metrics from ng-jhipster
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/jvm-memory.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/jvm-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-cache.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-datasource.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-endpoints-requests.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-garbagecollector.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-modal-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/jvm-memory/jvm-memory.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/jvm-memory/jvm-memory.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/jvm-threads/jvm-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/jvm-threads/jvm-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-cache/metrics-cache.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-datasource/metrics-datasource.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-endpoints-requests/metrics-endpoints-requests.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-garbagecollector/metrics-garbagecollector.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-request/metrics-request.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-request/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-system/metrics-system.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-system/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/font-awesome-icons.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

Change order for testing frameworks by priority
  generators/app/prompts.js
Labels: theme: jhipster-internals

Change order for authentication type with JWT and OAuth2
  generators/server/prompts.js
Labels: theme: java

Move JHipster Registry question before other options
  generators/server/prompts.js
Labels: theme: java

Rename to Gateway application, to not being confuse with Microservice
  generators/app/prompts.js
Labels: theme: jhipster-internals

Add technologies at the start of answer, instead of in the middle
  generators/server/prompts.js
Labels: theme: java

Put clearly deprecated for Protractor
  generators/app/prompts.js
Labels: theme: jhipster-internals

[angular] migrate event-manager from ng-jhipster
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-manager.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-with-content.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/event-manager/event-manager.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/no-pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

Prettier format
  generators/server/prompts.js
Labels: theme: java

[angular] migrate away from jhi-boolean
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/boolean.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/boolean.component.spec.ts.ejs
Labels: theme: angular

let dependabot manage some vue dependencies
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/generator-constants.js
Labels: theme: jhipster-internals

remove the sample Swagger UI request body if present fix #12412
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular, theme: react

Fallback to generic language.
  utils/language.js
Labels: none

remove blank space
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
Labels: theme: angular, theme: react

Use literal Regexp instead of new Regexp()
  test/jdl/grammar/validator.spec.js
Labels: none

Update generators/server/prompts.js
  generators/server/prompts.js
Labels: theme: java

[angular] migrate item count component from ng-jhipster
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/item-count.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/item-count.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  test/utils/expected-files.js
Labels: theme: angular

let husky and lint-staged be managed by dependabot
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/generator-constants.js
Labels: theme: angular, theme: react, theme: jhipster-internals

refactor: rename master branch to main in the 6.x maintenance branch
  .github/MAINTAINERS_REPLY_TEMPLATES/GUIDELINES_NOT_FOLLOWED.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/release-drafter.yml
  .github/workflows/webflux.yml
  CONTRIBUTING.md
  azure-pipelines.yml
  generators/azure-app-service/templates/github/workflows/azure-app-service.yml.ejs
  generators/azure-spring-cloud/templates/github/workflows/azure-spring-cloud.yml.ejs
  generators/ci-cd/templates/github-ci.yml.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/heroku/index.js
  generators/server/templates/src/main/docker/config/git2consul.json.ejs
  generators/server/templates/src/main/resources/config/bootstrap-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/25-sonar-analyze.sh
  test/heroku.spec.js
  test/upgrade.spec.js
Labels: theme: CI Builds, theme: angular, theme: react, theme: java

refactor: rename master branch to main in the the heroku sub-generator
  generators/heroku/index.js
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
