Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

drop globals.d.ts
  lib/global.d.ts
  tsconfig.json
Labels: none

rework composeWith api
  generators/app/generator.mjs
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.mts
  generators/base/generator-base.mts
  generators/client/needle-client.spec.mts
  generators/entities/generator.mjs
  generators/entity/generator.mjs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/jdl/generator.mts
  generators/languages/generator.mjs
  generators/liquibase/generator.mts
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
  generators/workspaces/generator.mjs
  test/needle-api/needle-client-i18n.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
Labels: theme: front, theme: jhipster-internals, theme: i18n

bump ng-bootstrap
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

drop ng-bootstrap overrides
  generators/angular/templates/package.json.ejs
Labels: theme: angular

bump angular builders jest to beta.3
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

adjust generate-blueprint for new log
  generators/generate-blueprint/templates/test/utils.mjs.ejs
  package.json
  test/support/helpers.mts
Labels: theme: dependencies

fix import
  generators/generate-blueprint/templates/test/utils.mjs.ejs
  package.json
Labels: theme: dependencies

fix test
  test/needle-api/needle-client-angular-generator.spec.mts
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix adjust enum field code generation to use key type
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.model.ts.ejs
  generators/client/support/entity-definition.mjs
  generators/client/support/template-utils.mjs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.service.spec.ts.ejs
Labels: theme: front, theme: angular, theme: vue

bump p-transform to v4.0.3
  generators/angular/support/translate-angular.mjs
  generators/bootstrap/generator.mts
  generators/bootstrap/support/auto-crlf-transform.mts
  generators/bootstrap/support/index.mts
  generators/bootstrap/support/multi-step-transform/index.mts
  generators/bootstrap/support/prettier-support.mjs
  generators/java/support/generated-annotation-transform.mts
  generators/java/support/generated-annotation-transform.spec.mts
  generators/java/support/package-info-transform.mts
  generators/react/support/translate-react.mjs
  generators/vue/support/convert-translation.mts
  generators/vue/support/translate-vue.mts
  package-lock.json
  package.json
Labels: theme: dependencies, theme: angular, theme: react, theme: vue, theme: jhipster-internals

do send 0 (number) query param values to backend
  generators/angular/templates/src/main/webapp/app/core/request/request-util.ts.ejs
Labels: theme: angular

support any node 18 lts
  package-lock.json
  package.json
Labels: theme: dependencies

bump node to 16.20.0
  .github/workflows/generator.yml
  generators/generator-constants.mts
Labels: theme: CI Builds, theme: jhipster-internals

bump @angular-builders to v16 final
  generators/angular/resources/package.json
Labels: theme: dependencies, theme: angular

drop ngx-webstorage dependency
  generators/angular/resources/package.json
  generators/angular/templates/package.json.ejs
  generators/angular/templates/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/app-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/state-storage.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/microfrontend/index.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/entity-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/tsconfig.json.ejs
  generators/angular/templates/tsconfig.spec.json.ejs
  generators/angular/templates/webpack/webpack.microfrontend.js.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/client/templates/.eslintignore.ejs
Labels: theme: dependencies, theme: front, theme: angular, theme: jhipster-internals

Fix logback shutdown hook class name
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

Use crlf for conversion
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

fix remote type
  generators/angular/templates/src/main/webapp/app/core/microfrontend/index.ts.ejs
Labels: theme: angular

Polishing
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

drop node 16 from supported node versions
  .github/workflows/generator.yml
  generators/generator-constants.mts
  package-lock.json
  package.json
Labels: theme: CI Builds, theme: dependencies, theme: jhipster-internals

microfrontend/index.ts should be generated for gateways only
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/angular/files-angular.mjs
  generators/angular/templates/src/main/webapp/app/app-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/microfrontend/index.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/entity-navbar-items.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/entity-routing.module.ts.ejs
Labels: theme: angular

Define only console appender. File appender example is available as an example for a production configuration
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

Add rool level for CONSOLE by default
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

Replace hyphen by ascii code (double/tripple hyphen cannot be used in comments)
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

add CRLFLogConverter.java javadoc
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: java

add color information
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: java

add CRLFLogConverter.java javadoc (#22407)
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix: api/gateway/routes/ seems to not be accepted anymore (#21858)
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway-routes.service.ts.ejs
Labels: theme: angular

prevent leakage of user information via api
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
Labels: theme: java

Fix generation of incorrect code for enums where key equals value.
  generators/server/templates/entity/src/main/java/package/domain/enumeration/Enum.java.ejs
  test-integration/samples/.jhipster/FieldTestEnumWithValue.json
Labels: theme: java

ESLint 8.42.0
  generators/bootstrap/support/prettier-support.mjs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: jhipster-internals

ESLint 8.42.0 (#22413)
  generators/bootstrap/support/prettier-support.mjs
  package-lock.json
  package.json
Labels: theme: dependencies, theme: jhipster-internals

Update jhipster-react version to 0.24.0
  generators/react/resources/package.json
Labels: theme: dependencies, theme: react

Update jhipster-bom version to 8.0.0-beta.1
  generators/generator-constants.mts
Labels: theme: jhipster-internals

Update jhipster-react version to 0.24.0
  generators/react/resources/package.json
  generators/react/templates/src/main/webapp/app/modules/login/login-modal.tsx.ejs
Labels: theme: dependencies, theme: react

cast error type
  generators/react/templates/src/main/webapp/app/modules/login/login-modal.tsx.ejs
Labels: theme: react

Update maven version to 3.9.2
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
Labels: theme: maven

Fix colored logging
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java
