Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Add refresh list action on entities with no pagination for angular
  generators/entity-client/templates/angular/src/main/webapp/app/entities/no-pagination-template.ejs
Labels: theme: angular

[vue] fix protractor tests with toast
  generators/client/files-vue.js
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/alert-page.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: none

Remove useless style on React templates
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Fix indentation issues
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
Labels: theme: angular

Added a custom test script
  .mocharc.js
  package.json
  scripts/launch-tests.js
Labels: theme: dependencies

Removed failing test (not needed anymore)
  test/jdl/bundling/scripts/commit-changed-generated-jdl-files.test.js
Labels: none

Renamed the new grammar rule for consistency
  jdl/parsing/ast-builder.js
  jdl/parsing/jdl-parser.js
Labels: none

Added grammar tests
  test/jdl/grammar/grammar.spec.js
Labels: none

Added tests for the option converter
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  test/jdl/converters/parsedJDLToJDLObject/option-converter.spec.js
Labels: none

Enabled the use-options in the applications
  jdl/parsing/ast-builder.js
  jdl/parsing/jdl-parser.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none

doc: add reminder to update jhipster-online
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

JDL: Implement use XXX options (#12512)
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/jhipster/binary-options.js
  jdl/parsing/ast-builder.js
  jdl/parsing/jdl-parser.js
  jdl/parsing/lexer/option-tokens.js
  test/jdl/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/application-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/option-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/grammar/dsl-api.spec.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/jdl-importer.spec.js
Labels: none

use of yeoman conflictor to skip jhipster ignore files
  generators/app/index.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/utils.js
Labels: theme: jhipster-internals

remove extra lines in readme code blocks
  generators/common/templates/README.md.ejs
Labels: none

Added the NONE option value for the database type options
  jdl/jhipster/application-options.js
  jdl/jhipster/database-types.js
  jdl/jhipster/default-application-options.js
  jdl/jhipster/field-types.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/field-types.spec.js
Labels: none

Made 'no' be converted to 'none' for database type options
  jdl/jhipster/default-application-options.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

Update spring-boot version to 2.3.4.RELEASE
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.21.Final
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to specific BOM branch
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Fix imports
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Remove JPA annotations
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Handle Duration on H2
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: theme: java

Call block after the save is called
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix EntityResourceIT for reactive
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Reactive filtering checks
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix annotation on the Entity
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Fix entity annotations
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Improve the custom repository implementation
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
Labels: theme: java

r2dbc.Criteria added to the base repo
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
Labels: theme: java

Half working Repository
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

Entity annotation and fine tuning
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

Initial entity generator for reactive sql
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/entity/index.js
Labels: theme: jhipster-internals, theme: java

Add eager-all and pageable methods
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

Fix repository
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

address review feedbacks
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity/index.js
  generators/generator-base.js
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: java

Fix the generated javadoc
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/server/templates/src/main/java/package/repository/rowmapper/UserRowMapper.java.ejs
Labels: theme: java

Fix compilation error coming from the 'findAllWhere...IsNull' service method
  generators/entity-server/templates/src/main/java/package/common/get_filtered_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
Labels: theme: java

Improve the get_all_stream_template - less compilation error
  generators/entity-server/templates/src/main/java/package/common/get_all_stream_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_filtered_template.ejs
Labels: theme: java

Add MariaDB to the supported R2DBC solutions - currently we need autoincrement fields
  generators/generator-constants.js
  generators/server/prompts.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

Enable testcontainers on reactive
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java
