Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

cleanup LiquibaseConfiguration
  generators/liquibase/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
Labels: none

rename enableLiquibase to databaseMigrationLiquibase
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/base/support/jhipster7-context.mjs
  generators/liquibase/generator.mts
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/types.d.mts
Labels: theme: jhipster-internals, theme: java

add generateInMemoryUserCredentials and others adjusts
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/generator.spec.mts
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/vue/__snapshots__/generator.spec.mts.snap
Labels: theme: angular, theme: vue, theme: jhipster-internals, theme: java

modularize Neo4jTestContainersSpringContextCustomizerFactory
  generators/neo4j/cleanup.mts
  generators/neo4j/files.mts
  generators/neo4j/generator.mts
  generators/neo4j/templates/src/test/java/package/config/Neo4jTestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

add databaseMigration option
  generators/server/jdl/application-definition.mts
  generators/server/options/database-migration.mts
  generators/server/options/database-migration.spec.ts
  generators/server/options/message-broker.spec.ts
Labels: theme: java

add neo4j support to liquibase
  generators/docker/templates/src/main/docker/app.yml.ejs
  generators/liquibase/files.mts
  generators/liquibase/generator.mts
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
  generators/liquibase/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_neo4j.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/neo4j/files.mts
  generators/neo4j/generator.mts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

add liquibase to neo4j stack
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
Labels: none

update snapshot
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
Labels: none

add features and disable jhipster 7 context by default
  cli/environment-builder.mjs
  generators/base/api.d.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
Labels: theme: cli, theme: jhipster-internals

change version to 7.10.0
  package.json
Labels: theme: dependencies

add skip-install to generate-blueprint workflow
  .github/workflows/generator-generate-blueprint.yml
Labels: theme: CI Builds

fix snapshots
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.spec.mts
Labels: theme: jhipster-internals

add overrides at workspaces if angular is used
  generators/workspaces/generator.mjs
Labels: none

add overrides at workspaces if angular is used (#21795)
  generators/workspaces/generator.mjs
Labels: none

Organize launch by workflow
  .vscode/launch.json
  test-integration/scripts/12-generate-sample.js
  test-integration/scripts/99-update-vscode.js
  test-integration/scripts/lib/get-workflow-samples.js
Labels: none

test integration
  test/integration-test.spec.mts
Labels: none

allow to generate a daily build sample
  .vscode/launch.json
  test-integration/scripts/12-generate-sample.js
  test-integration/scripts/99-update-vscode.js
  test-integration/scripts/lib/get-workflow-samples.js
  test-integration/workflow-samples/daily-ms-oauth2.json
Labels: none

Update template-file-fs.mjs
  generators/bootstrap/support/multi-step-transform/template-file-fs.mjs
Labels: theme: jhipster-internals

implement persistable interface at User if needed
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/sql/entity-files.mjs
Labels: theme: java

fix daily-build webflux-neo4j sample
  .vscode/launch.json
  generators/server/templates/entity/src/main/java/package/common/get_all_stream_template.ejs
  generators/server/templates/entity/src/main/java/package/common/get_filtered_template.ejs
  test-integration/scripts/lib/get-workflow-samples.js
  test-integration/workflow-samples/daily-neo4j.json
Labels: theme: java

add safe entries to CRLFLogConverter
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: java

adjusts to jwt authentication
  generators/server/templates/src/main/java/package/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JwtAuthenticationTestUtils.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
Labels: theme: java

angular with no service discovery
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
Labels: theme: angular

fixes to no database
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/docker/generator.mjs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.spec.mjs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityInMemoryConfiguration.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JwtAuthenticationTestUtils.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
Labels: theme: jhipster-internals, theme: java

add no db stack sample
  .vscode/launch.json
  test-integration/jdl-samples/stack-vue-no-db/stack.jdl
  test-integration/scripts/99-update-vscode.js
  test-integration/workflow-samples/vue.json
Labels: none

fix angular axios path
  generators/angular/templates/webpack/webpack.custom.js.ejs
Labels: theme: angular

rename print-matrix to write-matrix
  .github/actions/build-matrix/action.yml
  test-integration/scripts/99-write-matrix.js
Labels: theme: CI Builds

add --skip-jhipster-dependencies to 12-generate-project script
  .github/actions/compare-base/action.yml
  .github/actions/generate/action.yml
  .github/workflows/angular.yml
  .github/workflows/cache.yml
  .github/workflows/devserver.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/generator-generate-blueprint.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  test-integration/scripts/12-generate-project.sh
Labels: theme: CI Builds

add matrix defaults as write-matrix
  .github/workflows/devserver.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/client/__workflow/devserver-angular.json
  generators/client/__workflow/devserver-vue.json
  test-integration/scripts/99-write-matrix.js
  test-integration/workflow-samples/angular.json
Labels: theme: CI Builds, theme: front

workaround some definitions
  generators/bootstrap-application-client/generator.mts
  generators/client/index.mts
  generators/cypress/generator.mts
  generators/liquibase/generator.mts
  generators/liquibase/support/post-prepare-entity.mts
Labels: theme: front, theme: jhipster-internals

convert executables from esm to cjs
  .github/actions/compare-base/action.yml
  bin/jhipster.cjs
  bin/jhipster.mjs
  cli/cli.mjs
  cli/cli.spec.mts
  cli/jhipster.cjs
  cli/jhipster.mjs
  cli/program.mjs
  generators/generate-blueprint/generator.mjs
  generators/upgrade/upgrade.spec.mts
  package-lock.json
  package.json
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-sample.js
Labels: theme: cli, theme: CI Builds, theme: dependencies, theme: upgrade

fix package name on windows
  generators/java/support/package-info-transform.mts
Labels: none

Update maven version to 3.9.1
  generators/maven/templates/.mvn/wrapper/maven-wrapper.jar
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/mvnw
  generators/maven/templates/mvnw.cmd
Labels: theme: maven

start reducing eslint warnings.
  .eslintrc.json
  generators/gatling/files.mts
  generators/gradle/generator.mts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/integration-test.spec.ts
  package.json
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/support/check-enforcements.mts
  test/support/client-samples.mts
  test/support/helpers.mts
  test/support/server-samples.mts
Labels: theme: dependencies, theme: gradle

Fix/single app in sub dir (#7)
  cli/import-jdl.mjs
Labels: theme: cli

add withAdminUi cli option
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/common/command.mts
Labels: theme: front, theme: jhipster-internals, theme: java

move tsconfig to src/test/javascript/spec
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/templates/.eslintrc.js.ejs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
  generators/vue/templates/src/test/javascript/spec/tsconfig.json.ejs
Labels: theme: vue

implement useStore for migration purpose.
  generators/page/page.spec.mts
  generators/page/support/needles.mts
  generators/page/templates/vue/src/test/javascript/spec/app/pages/page.component.spec.ts.ejs
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/generator.spec.mts
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config-bootstrap-vue.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/store.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/gateway/gateway.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/ribbon/ribbon.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

convert activate to composition api
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
Labels: theme: vue

convert ribbon to composition api
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/ribbon/ribbon.component.spec.ts.ejs
Labels: theme: vue
