Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Fail to get jwt token
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular

Revert "[Vue] Remove condition to import bootstrap-variables"
  generators/client/templates/vue/src/main/webapp/content/scss/vendor.scss.ejs
Labels: none

Fix bootstrap variables for Vue
  generators/client/templates/vue/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
Labels: none

Update WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java

remove linebreak caused by templating error
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
Labels: none

Test to see if JHipster gets #AllTestsGreenOnJDK16
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  package-lock.json
Labels: theme: CI Builds, theme: dependencies

[Vue] Use clientThemeNone
  generators/client/templates/vue/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
  generators/client/templates/vue/src/main/webapp/content/scss/vendor.scss.ejs
Labels: none

Add unidirectional support to the generator.
  generators/entity/index.js
Labels: theme: jhipster-internals

Add support to unidirectional relationships.
  cli/commands.js
  cli/import-jdl.js
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.js
  jdl/jdl-importer.js
  jdl/models/jdl-relationship.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  jdl/validators/relationship-validator.js
  test/jdl/jdl-importer.spec.js
  test/jdl/models/jdl-relationship.spec.js
Labels: theme: cli

Rename unidirectional to unilateral
  cli/commands.js
  cli/import-jdl.js
  generators/entity/index.js
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.js
  jdl/jdl-importer.js
  jdl/models/jdl-relationship.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  jdl/validators/relationship-validator.js
  test/jdl/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/models/jdl-relationship.spec.js
Labels: theme: cli, theme: jhipster-internals

JDL: Enabled the parsing of the rememberMeKey option
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  test/jdl/grammar/validator.spec.js
  test/jdl/test-files/applications_with_and_without_entities.jdl
Labels: none

Fix jsdoc.
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
Labels: none

Fix comment
  generators/entity/index.js
Labels: theme: jhipster-internals

Rename convertOptions to conversionOptions
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
Labels: none

disable generator method call when using blueprint
  generators/database-changelog-liquibase/index.js
Labels: none

Revert to unidirectional.
  cli/commands.js
  cli/import-jdl.js
  generators/entity/index.js
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.js
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.js
  jdl/jdl-importer.js
  jdl/models/jdl-relationship.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  jdl/validators/relationship-validator.js
  test/jdl/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/models/jdl-relationship.spec.js
Labels: theme: cli, theme: jhipster-internals

remove mysql root user setting
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/mariadb.yml.ejs
  test/templates/compose/01-gateway/src/main/docker/app.yml
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/app.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/07-mariadb/src/main/docker/app.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
  test/templates/compose/08-monolith/src/main/docker/app.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/app.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
Labels: theme: java, theme: kubernetes

[Vue] npm start doesn't refresh correctly
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: none

Update liquibase version to 4.3.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase-hibernate5 version to 4.3.2
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Add prefer-global option.
  cli/jhipster.js
  cli/program.js
Labels: theme: cli

Fix write file at install and end priorities.
  generators/bootstrap/index.js
  generators/entity/index.js
  test/bootstrap/bootstrap.spec.js
  test/cli/jdl-fork.spec.js
Labels: theme: jhipster-internals

Allow CORS settings for frontend server
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Update entity-management-detail.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.ts.ejs
Labels: theme: angular

Update entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
Labels: theme: angular

Add trailing / to h2-console link
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
Labels: theme: angular, theme: react

Create and use devDatabaseTypeH2Any property
  generators/generator-base.js
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: jhipster-internals, theme: java

Add comment why spring.h2.console.enabled is disabled.
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

feat: add support for force-insights option
  cli/program.js
Labels: theme: cli

fix: retrieve users authorities in user management page (reactive)
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

Fix h2-console not accessible from menu. (#14487)
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/generator-base.js
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java

[React] Entity listing table has an extra column for id
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Change JSON.parse at swagger-ui index.
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
Labels: none

reactive: improve UserResource tests
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

reactive: fix user edit
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

[angular] Fix @typescript-eslint/no-unused-vars in entity service test
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
Labels: theme: angular

fix: small fixes needed for composite key
  generators/entity-server/index.js
  utils/field.js
  utils/relationship.js
Labels: theme: java

Fix: fail to get jwt token (#14443)
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular

Add watch build script for angular frontend
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/server/index.js
Labels: theme: angular, theme: java

Faker: use faker.datatype instead of deprecated faker.random
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.service.spec.ts.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  utils/faker.js
  utils/field.js
Labels: theme: angular, theme: java
