Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Reimplement tests.
  generators/generator-base.js
  generators/init/index.js
  test/__snapshots__/init.spec.js.snap
  test/init.spec.js
  test/utils/utils.js
Labels: theme: jhipster-internals

skip-prompts is added in generator-base.
  generators/init/index.js
Labels: none

Externalise options config.
  generators/generator-base.js
  generators/init/index.js
  generators/init/options.js
  test/init.spec.js
Labels: theme: jhipster-internals

Add skip-commit-hook option
  generators/generator-base.js
  generators/generator-defaults.js
  generators/init/options.js
  test/__snapshots__/init.spec.js.snap
  test/init.spec.js
Labels: theme: jhipster-internals

Adjusts to default config.
  generators/generator-defaults.js
  generators/init/index.js
  test/__snapshots__/init.spec.js.snap
Labels: theme: jhipster-internals

Keep configs in the generator folder.
  generators/generator-defaults.js
  generators/init/config.js
  generators/init/index.js
Labels: theme: jhipster-internals

Add comment to camelcase function.
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix typos
  test/init.spec.js
Labels: none

Reimplement git support.
  generators/init/index.js
  package-lock.json
  package.json
  test/init.spec.js
Labels: theme: dependencies

Set default baseName value.
  generators/init/index.js
Labels: none

Update snapshots.
  test/__snapshots__/init.spec.js.snap
  test/init.spec.js
Labels: none

Fix reproducibility.
  test/init.spec.js
Labels: none

Fix reproducility again.
  generators/init/options.js
  test/__snapshots__/init.spec.js.snap
Labels: none

Force git to use `LANG=en`
  generators/init/index.js
  package-lock.json
  package.json
  test/init.spec.js
Labels: theme: dependencies

Fix initDefaultConfig source.
  generators/generator-base.js
  generators/init/index.js
  test/init.spec.js
Labels: theme: jhipster-internals

Fix column name for not null constraint (#15465)
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
Labels: none

extract gatling simulation to dedicated generator
  generators/entity-gatling/files.js
  generators/entity-gatling/index.js
  generators/entity-gatling/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: none

extract gatling into own subgenerator/blueprint
  generators/entity-gatling/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity/index.js
Labels: theme: jhipster-internals

fix linting errors
  generators/entity-gatling/files.js
  generators/entity-gatling/index.js
  generators/entity/index.js
Labels: theme: jhipster-internals

Be clear writeFilesToDisk is an async function.
  generators/init/index.js
Labels: none

Extract gatling to dedicated sub generator
  generators/entity-gatling/index.js
  generators/entity-gatling/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity-server/files.js
  generators/entity/index.js
  generators/generator-list.js
Labels: theme: jhipster-internals, theme: java

correct first unauthenticated status check
  generators/entity-gatling/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: none

Implement default options.
  generators/init/index.js
  generators/options.js
  test/init.spec.js
Labels: none

adapt api path for gateway applications
  generators/entity-gatling/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: none

Apply suggestions from code review
  generators/entity-gatling/files.js
  generators/entity-gatling/index.js
Labels: none

use gatling files instead of write files
  generators/entity-gatling/index.js
Labels: none

remove migration helper
  generators/entity-gatling/index.js
Labels: none

Add init to generator-list.
  generators/generator-list.js
  generators/init/index.js
Labels: theme: jhipster-internals

Fix loading of blueprints.
  generators/init/index.js
Labels: none

Add Gradle badge
  README.md
Labels: none

update to gradle 7.1.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

add default kubernetes values
  generators/docker-base.js
  generators/generator-base.js
  generators/generator-defaults.js
  generators/heroku/templates/Procfile.ejs
  generators/kubernetes-base.js
  generators/kubernetes-helm/index.js
  generators/kubernetes-helm/templates/app/helpers.tpl.ejs
  generators/kubernetes-helm/templates/app/requirements.yml.ejs
  generators/kubernetes-helm/templates/app/values.yml.ejs
  generators/kubernetes-helm/templates/csvc/helpers.tpl.ejs
  generators/kubernetes-helm/templates/csvc/requirements.yml.ejs
  generators/kubernetes-helm/templates/csvc/values.yml.ejs
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  generators/kubernetes-knative/index.js
  generators/kubernetes/index.js
  package-lock.json
  test/__snapshots__/heroku.spec.js.snap
  test/kubernetes.helm.spec.js
  test/templates/compose/08-monolith/.yo-rc.json
Labels: theme: dependencies, theme: jhipster-internals, theme: docker :whale:, theme: kubernetes

update to gradle 7.1.1 (#15538)
  generators/generator-constants.js
Labels: theme: jhipster-internals

improve property persistance, update snapshots
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
Labels: none

Make Entity.java modular and improvements to templating system.
  generators/entity-server/files.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.elastic_search.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_persistence.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.javax_validation.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_cassandra.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_mongodb.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_neo4j.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_reactive.ejs
  generators/entity/index.js
  generators/generator-base-private.js
  generators/generator-transforms.js
  test/blueprint/entity-blueprint.spec.js
  utils/multi-step-transform/template-data.js
  utils/multi-step-transform/template-file-fs.js
  utils/multi-step-transform/template-file.js
Labels: theme: jhipster-internals, theme: java

Drop legacy-peer-deps from angular.
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/.npmrc.ejs
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

format pom.xml with 4 spaces in maven sub generator
  generators/maven/templates/pom.xml.ejs
Labels: none

Use separate files for maven sub gen
  generators/maven/files.js
  generators/maven/index.js
Labels: none

Add maven sub generator
  cli/commands.js
  generators/maven/index.js
  generators/maven/prompts.js
  generators/maven/templates/.mvn/wrapper/MavenWrapperDownloader.java
  generators/maven/templates/.mvn/wrapper/maven-wrapper.jar
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/mvnw
  generators/maven/templates/mvnw.cmd
  generators/maven/templates/pom.xml.ejs
  test/maven.spec.js
Labels: theme: cli

improve modularity
  generators/generator-defaults.js
  generators/kubernetes-base.js
  generators/kubernetes/index.js
  generators/kubernetes/kubernetes-constants.js
Labels: theme: jhipster-internals, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
