Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

replace spring-cloud-hystrix with spring-cloud-resilience4j
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

Revert "chore(deps-dev): bump copy-webpack-plugin from 6.4.1 to 7.0.0 in /generators/client/templates/angular"
  generators/client/templates/angular/package.json
Labels: theme: angular

angular: impove auth jwt service coverage
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.spec.ts.ejs
  package-lock.json
  test/utils/expected-files.js
Labels: theme: dependencies, theme: angular

Fix sonar analyse using ngx-default-additional profile
  .github/workflows/angular.yml
Labels: theme: CI Builds

Update Cassandra field types for entity prompt
  generators/entity/prompts.js
Labels: theme: jhipster-internals

[Vue] Fix: bump typescript from 4.1.5 to 4.2.2
  generators/client/templates/vue/src/main/webapp/app/router/index.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
Labels: none

Workaround for cypress tests failings when enum are last fields entered
  test-integration/samples/.jhipster/CassTestEntity.json
  test-integration/samples/.jhipster/CassTestMapstructEntity.json
  test-integration/samples/.jhipster/CassTestServiceClassEntity.json
  test-integration/samples/.jhipster/CassTestServiceImplEntity.json
Labels: none

No need to spam the tests with JSON path debug messages
  generators/server/templates/src/test/resources/logback.xml.ejs
Labels: theme: java

Move EntityCriteria into a separate package
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Add fluent methods to the criteria
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
Labels: theme: java

Fix JDL validator for SpringCloudGateway value
  jdl/parsing/validator.js
  test/jdl/grammar/validator.spec.js
Labels: none

fix #14097
  generators/ci-cd/index.js
Labels: none

add swagger for reactive gateway - refactoring + fix filter for consul - fix npm test - add condition on service discovery type - add reactive condition + merge generated files
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/server/templates/src/test/java/package/web/filter/ModifyServersOpenApiFilterTest.java.ejs
  test/utils/expected-files.js
Labels: theme: java

Fix Swagger for Reactive Gateway
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/config/apidocs/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/test/java/package/config/apidocs/GatewaySwaggerResourcesProviderTest.java.ejs
  test/utils/expected-files.js
Labels: theme: java

Add custom sort with priority to default and management for Gateway
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
Labels: none

prettier format
  generators/server/templates/src/main/java/package/config/apidocs/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/test/java/package/config/apidocs/GatewaySwaggerResourcesProviderTest.java.ejs
Labels: theme: java

Unify Cassandra blob JDL types with common-databases JDL types
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity/index.js
  jdl/jhipster/field-types.js
  test-integration/samples/.jhipster/CassBankAccount.json
  test-integration/samples/.jhipster/CassTestEntity.json
  test-integration/samples/.jhipster/CassTestMapstructEntity.json
  test-integration/samples/.jhipster/CassTestServiceClassEntity.json
  test-integration/samples/.jhipster/CassTestServiceImplEntity.json
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
  test/jdl/jhipster/field-types.spec.js
  test/jdl/validators/jdl-with-application-validator.spec.js
  test/jdl/validators/jdl-without-application-validator.spec.js
Labels: theme: jhipster-internals, theme: java

Fix TextBlob for Cassandra
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
Labels: theme: java

Disable testcontainers for webflux-psql job
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Disable testcontainers for webflux-psql job (#14122)
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Force reactive when applicationType is gateway
  generators/server/index.js
Labels: theme: java

Works on my machine :)
  generators/app/index.js
  generators/server/index.js
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: jhipster-internals, theme: java

Remove conditional that doesn't do anything
  generators/app/index.js
Labels: theme: jhipster-internals

Implement json data generation and change angular to use it.
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity/index.js
  generators/generator-base-private.js
  test/generator-base-private.spec.js
  test/utils-entity.spec.js
  utils/entity.js
  utils/field.js
  utils/index.js
  utils/relationship.js
Labels: theme: angular, theme: jhipster-internals, theme: java

Use only first id.
  utils/entity.js
Labels: none

Move entity.idFields to entity.primaryKey.ownFields.
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity/index.js
  utils/entity.js
  utils/relationship.js
Labels: theme: jhipster-internals, theme: java

[Angular] Rename ConfigService to ApplicationConfigService
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway-routes.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-session.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/application-config.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/application-config.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/auth.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

Fix: cleanup - create generator.isJhipsterVersionLessThan('7.0.0-beta.2')
  generators/cleanup.js
Labels: theme: jhipster-internals

Rename dependabot controlled packageJson to dependabotPackageJson.
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/index.js
  generators/generator-base.js
  generators/server/templates/package.json.ejs
Labels: theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: java

Postpone processEntityFields to preparingRelationships so derived fields will be available.
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  utils/entity.js
Labels: theme: jhipster-internals, theme: java

Page should not extend base blueprint
  generators/page/index.js
Labels: none

Fix React + MongoDB
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Update after review
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Add missing german translation
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
Labels: theme: i18n

Rephrase not image translation
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
Labels: theme: i18n

Add missing German translation (#14144)
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
Labels: theme: i18n

Fix #14133
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

Fix: OneToMany id bug in react entity validation form
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Specifies maven "start-class" property in pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Renames isCurrentUserInRole method
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
Labels: theme: java

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
