Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

[vue] Fix admin routes in Protractor tests for Vue applications
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
Labels: none

expose docker compose containers only on local
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/cassandra-cluster.yml.ejs
  generators/server/templates/src/main/docker/cassandra.yml.ejs
  generators/server/templates/src/main/docker/consul.yml.ejs
  generators/server/templates/src/main/docker/couchbase-cluster.yml.ejs
  generators/server/templates/src/main/docker/couchbase.yml.ejs
  generators/server/templates/src/main/docker/elasticsearch.yml.ejs
  generators/server/templates/src/main/docker/hazelcast-management-center.yml.ejs
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
  generators/server/templates/src/main/docker/jhipster-registry.yml.ejs
  generators/server/templates/src/main/docker/kafka.yml.ejs
  generators/server/templates/src/main/docker/keycloak.yml.ejs
  generators/server/templates/src/main/docker/mariadb.yml.ejs
  generators/server/templates/src/main/docker/memcached.yml.ejs
  generators/server/templates/src/main/docker/mongodb-cluster.yml.ejs
  generators/server/templates/src/main/docker/mongodb.yml.ejs
  generators/server/templates/src/main/docker/monitoring.yml.ejs
  generators/server/templates/src/main/docker/mssql.yml.ejs
  generators/server/templates/src/main/docker/mysql.yml.ejs
  generators/server/templates/src/main/docker/neo4j.yml.ejs
  generators/server/templates/src/main/docker/postgresql.yml.ejs
  generators/server/templates/src/main/docker/redis-cluster.yml.ejs
  generators/server/templates/src/main/docker/redis.yml.ejs
  generators/server/templates/src/main/docker/sonar.yml.ejs
  generators/server/templates/src/main/docker/swagger-editor.yml.ejs
Labels: theme: java

Fix vue.js constants usage for outputPathCustomizer
  generators/client/files-vue.js
  generators/utils.js
Labels: theme: jhipster-internals

JDL-related code cleaning (#12214)
  jdl/exporters/applications/jhipster-application-exporter.js
  jdl/exporters/applications/jhipster-application-formatter.js
  jdl/exporters/jhipster-entity-exporter.js
  jdl/jdl-importer.js
  jdl/jhipster/entity-table-name-creator.js
  jdl/jhipster/json-entity.js
  jdl/linters/entity-linter.js
  jdl/models/jdl-entity.js
  jdl/readers/json-file-reader.js
  jdl/utils/format-utils.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
  test/jdl/jhipster/entity-table-name-creator.spec.js
  test/jdl/readers/json-file-reader.spec.js
  test/jdl/utils/format-utils.spec.js
Labels: none

Remove mkdirp on file-*
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/files-vue.js
Labels: theme: angular, theme: react

Remove unused import
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/files-vue.js
Labels: theme: angular, theme: react

Fix others usages of CLIENT_MAIN_SRC_DIR
  generators/utils.js
Labels: theme: jhipster-internals

fix also CLIENT_TEST_SRC_DIR
  generators/utils.js
Labels: theme: jhipster-internals

[webflux ]Fix webflux builds
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

fix: gcloud sql command replace format option by double quotes
  generators/gae/index.js
Labels: none

fix: fix prettier-plugin-java version
  package-lock.json
  package.json
Labels: theme: dependencies

Update sonarqube docker image version to 8.4.2-community
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix typo in method description in entity-utils.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/entity-utils.ts.ejs
Labels: theme: react

Fix typo in method description in entity-utils.ts.ejs (#12362)
  generators/client/templates/react/src/main/webapp/app/shared/util/entity-utils.ts.ejs
Labels: theme: react

Adds databaseType check for transational annotation import in resources
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

remove Rajbet sponsor
  README.md
Labels: none

remove Fair laan sponsor
  README.md
Labels: none

Make blueprintConfig a storage proxy to match jhipsterConfig.
  generators/generator-base-blueprint.js
  test/client.spec.js
Labels: theme: jhipster-internals

Add --forbid-only to npm test.
  package.json
Labels: theme: dependencies

Fix reproducible tests.
  test/entity.spec.js
Labels: none

[webflux] Enable testcontainer support for MariaDB too, and add converter from BitSet to Boolean which is needed by the MariaDB driver Check the pull request title too for [webflux]
  .github/workflows/webflux.yml
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/test/java/package/ReactiveSqlTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: CI Builds, theme: jhipster-internals, theme: java

Bump yeoman-generator to 4.12.0
  package-lock.json
  package.json
Labels: theme: dependencies

Bump prettier-plugin-java to 0.8.2
  package-lock.json
  package.json
Labels: theme: dependencies

Install the base version globally too.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Update screenshot references
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Compare base generation with merge.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  test-integration/scripts/00-init-env.sh
Labels: theme: CI Builds

Change 12-generate-project.sh to forward options
  test-integration/scripts/12-generate-project.sh
Labels: none

Add continue-on-error to merge checkout.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Add branches skip_ci* to branches-ignore.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Bump @fortawesome/fontawesome-svg-core
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Colorify and reverse diff order.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

[react] 17.0.0-rc.1
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Explicit hazelcast versions to match JHipster bom
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Use merge @~1 instead of base sha. Base sha can be outdated.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Remove runtime dependency to resolve conflicting libraries
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

CI: Re-add couchbase matrix configuration, commented
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Fix formatting with prettier
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Drop old icons.
  generators/client/files-common.js
  generators/client/templates/common/src/main/webapp/content/images/hipster192.png
  generators/client/templates/common/src/main/webapp/content/images/hipster256.png
  generators/client/templates/common/src/main/webapp/content/images/hipster384.png
  generators/client/templates/common/src/main/webapp/content/images/hipster512.png
  test/utils/expected-files.js
Labels: none

Update generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

Adjusts to compare jobs.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds
