Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

(Angular) Fix embedded entities
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity/index.js
Labels: theme: front, theme: angular, theme: java

Fix AccountResourceIT tests
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

Update 13-replace-version-generated-project.sh
  test-integration/scripts/13-replace-version-generated-project.sh
Labels: none

EJS ident to improve readability.
  generators/entity-server/templates/couchbase/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
Labels: theme: java

[Couchbase] Wait for N1QL indexes to be built
  generators/server/files-couchbase.js
  generators/server/index.js
  generators/server/templates/couchbase/src/test/java/package/config/DatabaseConfigurationIT.java.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
Labels: theme: java

Enable dtoSuffix and entitySuffix at reactive sql
  test-integration/jdl-samples/mf-ngx-eureka-jwt-psql-ehcache/blog-store.jdl
  test-integration/jdl-samples/mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
Labels: none

Switch mongodb workflow to mongodb.
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: none

Update generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
Labels: theme: java

Switch mongodb workflow to mongodb. (#17981)
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Fixes to reactive entitySuffix
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  test-integration/jdl-samples/mf-ngx-eureka-jwt-psql-ehcache/blog-store.jdl
Labels: theme: java

Update EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: theme: java

Bump react-jhipster to 0.19.0
  generators/client/templates/react/package.json
Labels: theme: dependencies, theme: react

Bump jhipster-registry to 7.3.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: jhipster-internals

Another fix
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

edit email.test.title edit email.test.title in generators/languages/templates/src/test/resources/i18n/messages_fr.propertises.ejs so the integration test can pass without failures
  generators/languages/templates/src/test/resources/i18n/messages_fr.properties.ejs
  package-lock.json
Labels: theme: dependencies, theme: i18n

Bump jhipster dependencies to 7.7.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to release of jhipster dependencies
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Update link in generated README
  generators/common/templates/README.md.jhi.ejs
Labels: theme: front, theme: java

Clean package lock
  package-lock.json
Labels: theme: dependencies

Release v7.7.0
  package-lock.json
  package.json
Labels: theme: dependencies

Revert "Switch to release of jhipster dependencies"
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Use jhipster-dependencies 7.7.1-SNAPSHOT
  generators/generator-constants.js
Labels: theme: jhipster-internals

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Disable pagination with relationships
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
Labels: none

Add microservice with vue and couchbase test sample
  .github/workflows/jdl.yml
  generators/entity-server/templates/couchbase/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
Labels: theme: CI Builds, theme: java

Drop vue-gateway test
  .github/workflows/vue.yml
Labels: theme: CI Builds

Always extract docker logs
  .github/workflows/jdl.yml
Labels: theme: CI Builds

Add implementsEagerLoadApis variable so it's easier to track eager load
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
Labels: theme: front, theme: java

Update to Apache Maven Wrapper 3.1.0 and Maven 3.8.4
  generators/server/templates/.mvn/wrapper/MavenWrapperDownloader.java
  generators/server/templates/.mvn/wrapper/maven-wrapper.jar
  generators/server/templates/.mvn/wrapper/maven-wrapper.properties
  generators/server/templates/mvnw
  generators/server/templates/mvnw.cmd
  generators/server/templates/pom.xml.ejs
Labels: theme: java

resolve merge conflicts'
  generators/common/templates/devcontainer/devcontainer.json.ejs
Labels: theme: front, theme: java

typo
  generators/common/templates/devcontainer/devcontainer.json.ejs
Labels: theme: front, theme: java

Apply suggestions from code review
  generators/common/templates/devcontainer/devcontainer.json.ejs
Labels: theme: front, theme: java

fix typo
  generators/common/templates/devcontainer/devcontainer.json.ejs
Labels: theme: front, theme: java

move .devcontainer to server
  generators/common/files.js
  generators/server/files.js
  generators/server/templates/devcontainer/Dockerfile.ejs
  generators/server/templates/devcontainer/devcontainer.json.ejs
Labels: theme: front, theme: java

Update snapshots
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/docker-compose.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: none

Update snapshots
  test/__snapshots__/docker-compose.spec.js.snap
Labels: none

[Couchbase] Fix JOIN pagination
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
  test-integration/samples/.jhipster/Place.json
Labels: theme: java

Update maven generator
  generators/generator-transforms.js
  generators/java/__snapshots__/generator.spec.mjs.snap
  generators/maven/__snapshots__/generator.spec.cjs.snap
  generators/maven/files.cjs
  generators/maven/templates/.mvn/wrapper/MavenWrapperDownloader.java
  generators/maven/templates/.mvn/wrapper/maven-wrapper.jar
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/mvnw
  generators/maven/templates/mvnw.cmd
  generators/maven/templates/pom.xml.jhi.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/spring-boot/__snapshots__/generator.spec.cjs.snap
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
Labels: theme: jhipster-internals, theme: java, theme: maven

[Couchbase] Fix JOIN pagination
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
Labels: none
