Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

fix tests to match with session authenticate endPoint
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
Labels: none

reword common file
  generators/client/files-common.js
Labels: none

fix removing "allowJs"
  generators/client/templates/vue/tsconfig.json.ejs
Labels: none

Launch either Cypress or Protractor
  test-integration/scripts/24-tests-e2e.sh
Labels: none

Expect 401 when login fail in session authentication's type
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
Labels: none

Fix indentation
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration_spec.ts.ejs
Labels: none

Remove line not used in login tests
  generators/cypress/templates/src/test/javascript/cypress/integration/account/login-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/reset-password-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/account/settings-page_spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: none

Add tests for entity-client part
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/navbar.ts.ejs
  generators/entity-client/files.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-details.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: theme: front, theme: angular, theme: react

Add oauth2 condition to commands file
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
Labels: none

Fix random text in entity tests
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Remove data-cy entityTableColumnId
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: theme: angular, theme: react

Add beforeEach step for oauth2 case
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Add readOnly condition to entity tests
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Fix indentations and comments
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: theme: angular, theme: react

fix indent
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Lint fix
  test/app/prompts.js
  test/client/composing.js
Labels: none

Fix react deletion tests
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Refactor cypress tests.
  generators/client/index.js
  test/app/prompts.js
  test/client/composing.js
  test/cypress.spec.js
Labels: theme: front

Fix entity tests
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Fix load details and edit entity instance
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Add insertion and deletion entity tests
  generators/cypress/files.js
  generators/cypress/templates/src/test/javascript/cypress/fixtures/integration-test.png
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/files.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-client/templates/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: theme: front, theme: angular, theme: react

Client generator should compose with common.
  test/client.spec.js
Labels: none

fix DataAccessException import when no using db
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

[angular] Update @angular/cli @angular/core
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Improvements to page generator.
  generators/app/index.js
  generators/client/index.js
  generators/generator-base.js
  generators/page/files-vue.js
  generators/page/index.js
  generators/utils.js
  test/page.spec.js
Labels: theme: front, theme: jhipster-internals

Remove functions for some fields + use faker
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

fix DataAccessException import when no using db (#12282)
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java

Fix generateFakeData
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  utils/field.js
Labels: theme: angular, theme: react

Import faker from files.js + fixes
  generators/cypress/files.js
  generators/cypress/templates/src/test/javascript/cypress/integration/account/register-page.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  utils/field.js
Labels: none

Fix imports in files.js
  generators/cypress/files.js
Labels: none

Upgrade to Ubuntu 20.04
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  Dockerfile
  azure-pipelines.yml
Labels: theme: CI Builds

[vue] Upgrade version of Vue and dependencies
  generators/client/templates/vue/package.json.ejs
Labels: none

Upgrade to Node.js 12.18.3 LTS
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  Dockerfile
  azure-pipelines.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

format durations for react templates
  generators/client/templates/react/src/main/webapp/app/shared/DurationFormat.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

use custom angular duration pipe
  generators/client/templates/angular/src/main/webapp/app/shared/duration.pipe.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
Labels: theme: angular

add angular pipe filter to format durations
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/shared/duration.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
Labels: theme: angular

format durations in vue templates
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-details.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.vue.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.vue.ejs
Labels: none

add react duration format to be generated
  generators/client/files-react.js
Labels: theme: react

adapt expected files to new duration pipe
  test/utils/expected-files.js
Labels: none

align fontawesome versions
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
Labels: theme: angular, theme: react

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
