Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Extract rejectExtraArgs.
  cli/cli.js
Labels: theme: cli

Create buildCommands.
  cli/cli.js
  cli/program.js
  test/cli/cli.spec.js
  test/cli/jdl.js
Labels: theme: cli

Add test to jdl + fork.
  test/cli/jdl-fork.spec.js
Labels: none

Implement runJHipster to simplify tests.
  cli/cli.js
  cli/commands.js
  cli/import-jdl.js
  cli/program.js
  generators/entities/index.js
  test/cli/cli.spec.js
  test/cli/import-jdl.spec.js
  test/cli/jdl.js
Labels: theme: cli

Change relationship table name.
  generators/app/index.js
  generators/generator-base.js
  test-integration/samples/jdl-default/app.jdl
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Only change table name if required.
  generators/generator-base.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Create calculateDbNameWithLimit to fix db name.
  generators/generator-base.js
Labels: theme: jhipster-internals

Update bom version to 7.0.0-SNAPSHOT
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix tests.
  generators/generator-base.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals

Rename legacy-relationship-table-name option to legacy-db-names
  generators/app/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Missing fix
  test/generator-base.spec.js
Labels: none

Move files from ng-jhipster to correct location in generator-jhipster
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/jvm-memory.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/jvm-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-cache.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-datasource.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-endpoints-requests.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-garbagecollector.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-modal-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/components/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/alert.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/missing-translation.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/data-util.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-manager.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-with-content.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/http/parse-links.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/boolean.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/item-count.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/translate.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/alert.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/data-util.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/event-manager/event-manager.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/http/parse-links.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/boolean.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/item-count.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/sort/sort.directive.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/translate.directive.spec.ts.ejs
Labels: theme: angular

Use Hibernate SEQUENCE strategy with MariaDB since sequences are support since MariaDB 10.3
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/test/java/package/repository/timezone/DateTimeWrapper.java.ejs
Labels: theme: java

entity: replace `reactiveRepositories` variable by `reactive`
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  utils/entity.js
Labels: theme: java

[angular] Migrate sort directives from ng-jhipster and fix them
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/sort/sort.directive.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  test/utils/expected-files.js
Labels: theme: angular

WiP
  cli/import-jdl.js
  jdl/validators/new-business-error-checker.js
Labels: theme: cli

Implement entities generator.
  cli/import-jdl.js
  test/cli/import-jdl.spec.js
Labels: theme: cli

angular: manage auto unsubscriptions
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.directive.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

improve consistency reusing properties
  generators/generator-constants.js
  generators/generator-defaults.js
  jdl/jhipster/application-options.js
  jdl/jhipster/binary-options.js
  jdl/jhipster/default-application-options.js
  jdl/jhipster/json-entity.js
  jdl/jhipster/reserved-keywords.js
  jdl/jhipster/unary-options.js
Labels: theme: jhipster-internals

rebased
  generators/generator-base.js
  generators/generator-constants.js
  generators/generator-defaults.js
  jdl/jhipster/application-options.js
  jdl/jhipster/binary-options.js
  jdl/jhipster/default-application-options.js
  jdl/jhipster/unary-options.js
  test/blueprint/client-blueprint-custom-path.spec.js
  test/jdl/jdl-importer.spec.js
Labels: theme: jhipster-internals

rebased with main
  generators/generator-constants.js
  test/app.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/client.spec.js
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/languages.spec.js
Labels: theme: jhipster-internals

destructuring generator-defaults
  generators/generator-defaults.js
Labels: theme: jhipster-internals

lint
  generators/generator-constants.js
  generators/generator-defaults.js
Labels: theme: jhipster-internals

destructurize generator-constants
  generators/generator-constants.js
  test/jdl/jdl-importer.spec.js
Labels: theme: jhipster-internals

pass customOptions on different configurations
  jdl/jhipster/default-application-options.js
  jdl/jhipster/reserved-keywords.js
Labels: none

removed some merge conflicts
  cli/import-jdl.js
Labels: theme: cli

Split DatabaseConfiguration template
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/database/cassandraDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/database/couchbaseDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/database/mongodbDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/database/neo4jDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/database/sqlDatabaseConfiguration.java.ejs
Labels: theme: java

removed some merge conflicts
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.directive.spec.ts.ejs
Labels: theme: angular

removed no more used files
  jdl/validators/new-business-error-checker.js
  test/utils/expected-files.js
Labels: none

add import on Subscription
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
Labels: theme: angular

Lint
  jdl/jhipster/reserved-keywords.js
Labels: none

Split AccountResourceIT template
  generators/server/files.js
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
Labels: theme: java

Rollback on one unwanted feature
  cli/import-jdl.js
Labels: theme: cli

Improve calculateDbNameWithLimit api.
  generators/generator-base.js
Labels: theme: jhipster-internals

Move calculateDbNameWithLimit to `utils/db`.
  generators/generator-base.js
  utils/db.js
Labels: theme: jhipster-internals

Improve api of calculateDbNameWithLimit.
  utils/db.js
Labels: none

chore: upgrade ts-jest lib for react
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
Labels: theme: react

Split UAA SecurityConfiguration in a distinct template
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_uaa.java.ejs
Labels: theme: java

Rename DatabaseConfiguration templates to follow pattern TargetFilename_${option} naming
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_cassandra.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_mongodb.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_neo4j.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
Labels: theme: java

Move couchbase reactive repositories to their target directory
  generators/server/files.js
  generators/server/templates/src/main/java/package/repository/CustomReactiveN1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/ReactiveN1qlCouchbaseRepository.java.ejs
Labels: theme: java
