Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

support different java versions when deploying to heroku
  generators/heroku/USAGE
  generators/heroku/index.js
  generators/heroku/templates/system.properties.ejs
Labels: none

core: fix: remove warning about uuid
  generators/aws/lib/eb.js
  generators/statistics.js
Labels: theme: jhipster-internals, theme: aws

core: fix: remove warning about uuid (#11705)
  generators/aws/lib/eb.js
  generators/statistics.js
Labels: theme: jhipster-internals, theme: aws

Upgrade to react-jhipster@0.11.0
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Upgrade to jhipster-registry v6.2.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix warning version on yeoman-environment 2.9.0
  generators/generator-base.js
Labels: theme: jhipster-internals

prevent potential log forging
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
Labels: theme: java

neo4j:docker: update neo4j docker image to 4.0.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

sonar:docker update sonar image to 8.3-community
  generators/generator-constants.js
Labels: theme: jhipster-internals

refactor: upgrade template node version to 12.16.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

neo4j:docker: update neo4j docker image to 4.0.4 (#11709)
  generators/generator-constants.js
Labels: theme: jhipster-internals

sonar:docker update sonar image to 8.3-community (#11710)
  generators/generator-constants.js
Labels: theme: jhipster-internals

Upgrade to react-jhipster@0.11.0 (#11706)
  generators/client/templates/react/package.json.ejs
Labels: theme: react

Implement blueprint auto-install.
  cli/cli.js
  cli/utils.js
  generators/generator-base-private.js
Labels: theme: cli, theme: jhipster-internals

Add tests.
  test/cli/cli-utils.spec.js
Labels: none

fix
  test/cli/cli-utils.spec.js
Labels: none

fixes
  test/cli/cli-utils.spec.js
Labels: none

Update mysql docker image version to 8.0.20
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mariadb docker image version to 10.5.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update couchbase docker image version to 6.5.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/prometheus docker image version to v2.18.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update caffeine version to 2.8.2
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update caffeine version to 2.8.2
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update checkstyle version to 8.32
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update checkstyle version to 8.32
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update frontend-maven-plugin version to 1.10.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

gradle: update gradle to latest version 6.4
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update spring-boot version to 2.2.7.RELEASE
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update docker.elastic.co/elasticsearch/elasticsearch docker image version to 6.8.8
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update hibernate version to 5.4.14.Final
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update hibernate version to 5.4.14.Final
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

fix (cache-backend) : append classpath to make locations more consistent in each environment
  generators/server/templates/src/main/java/package/config/StaticResourcesWebConfiguration.java.ejs
Labels: theme: java

Try to load config from mem-fs so it can load current working version.
  generators/utils.js
Labels: theme: jhipster-internals

fix(sonar): Remove unused import
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
Labels: theme: java

Update hibernate version to 5.4.15.Final
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update hibernate version to 5.4.15.Final
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

add - suffix to avoid <service name> conflict
  cli/commands.js
  generators/kubernetes-helm/files.js
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  test/kubernetes.helm.spec.js
Labels: theme: cli, theme: kubernetes

update helm and knative gen
  generators/kubernetes-helm/files.js
  generators/kubernetes-helm/templates/csvc/Chart.yml.ejs
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  generators/kubernetes-knative/files.js
  generators/kubernetes-knative/templates/helm-apply.sh.ejs
  generators/kubernetes-knative/templates/helm-upgrade.sh.ejs
  generators/kubernetes-knative/templates/kubectl-apply.sh.ejs
  generators/kubernetes/files.js
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  test/knative.spec.js
  test/kubernetes.helm.spec.js
  test/kubernetes.spec.js
Labels: theme: kubernetes

few helm3 update reg Chart.yaml extension
  generators/kubernetes-helm/files.js
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-knative/files.js
  generators/kubernetes-knative/templates/helm-apply.sh.ejs
  test/knative.spec.js
  test/kubernetes.helm.spec.js
Labels: theme: kubernetes

fixup prettier
  cli/commands.js
  generators/kubernetes-helm/files.js
  test/knative.spec.js
  test/kubernetes.helm.spec.js
  test/kubernetes.spec.js
Labels: theme: cli, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
