Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Sonar: Remove this unused 'xxxRepository' private field
  generators/server/templates/entity/src/main/java/package/common/inject_template.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
Labels: theme: java

reenable enableSwaggerCodegen at gradle sample (#22658)
  generators/server/resources/pom.xml
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
Labels: theme: java

Sonar: Remove this unused 'xxxRepository' private field (not just for reactive)
  generators/server/templates/entity/src/main/java/package/common/inject_template.ejs
Labels: theme: java

Switch to specific bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Use MvcRequestMatcher in SecurityFilterChain
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

React template: Add missing link for login in the register page
  generators/react/templates/src/main/webapp/app/modules/account/register/register.tsx.ejs
Labels: theme: react

Add missing import
  generators/react/templates/src/main/webapp/app/modules/account/register/register.tsx.ejs
Labels: theme: react

Fakerjs: deprecated method
  generators/base-application/support/prepare-field.mjs
  generators/base/support/faker.mts
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
Labels: theme: jhipster-internals

don’t encode field value.
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
Labels: none

Escape ' char from samples
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
Labels: none

fix escaping
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
Labels: none

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Sonar: Invoke method only conditionally
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: java

revert spring-boot to spring-boot.
  generators/generator-constants.mts
Labels: theme: jhipster-internals

fix cucumber execution.
  generators/cucumber/generator.mts
Labels: none

prettier fix
  generators/cucumber/generator.mts
Labels: none

[Angular] French JHipster generation failed
  generators/angular/support/translate-angular.mjs
Labels: theme: angular

[Angular] French JHipster generation failed (#23008)
  generators/angular/support/translate-angular.mjs
Labels: theme: angular

fix export jdl with nullish configs
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-converter.ts
Labels: none

add one-to-one back reference for sql only
  generators/server/support/relationship.mts
Labels: theme: java

Add entity to entities list
  generators/entity/generator.mjs
Labels: none

Make sure yeoman-generator will not throw on empty tasks
  generators/base-core/generator-base.mts
Labels: none

adjust comment
  generators/base-core/generator-base.mts
Labels: none

switch coverage to v8
  generators/vue/templates/package.json.ejs
Labels: theme: vue

switch vue coverage to v8
  generators/vue/templates/vitest.config.ts.ejs
Labels: theme: vue

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Changed usePreparedStatements to false for Liquibase to work properly
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
  test_proj/package-lock.json
Labels: none

Changed usePreparedStatements to false for Liquibase to work properly
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
Labels: none

remove unwanted mock user
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
Labels: theme: java

add startWith to liquibase if field is liquibaseAutoIncrement due to faker
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
Labels: none

workaround h2 issue with some samples
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

fix api-docs test timeout
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
Labels: theme: java

update test samples
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
Labels: none

feat: Upgrade Keycloak to 22.0.1
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: java, theme: docker :whale:, theme: kubernetes

adjusts to cucumber
  generators/cucumber/__snapshots__/generator.spec.mts.snap
  generators/cucumber/generator.mts
  generators/cucumber/templates/src/test/java/package/cucumber/stepdefs/UserStepDefs.java.ejs
Labels: none

disable spotless removeUnusedImports
  generators/server/templates/pom.xml.ejs
Labels: theme: java

disable spotless from gradle
  generators/server/templates/build.gradle.ejs
Labels: theme: java

move to hibernate 6.2.x
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/generator-constants.mts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/spring-data-relational/support/database-data.mts
  generators/spring-data-relational/support/database-url.spec.mts
  generators/spring-data-relational/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/spring-data-relational/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/spring-data-relational/templates/src/test/resources/config/application-testprod.yml.ejs
Labels: theme: jhipster-internals, theme: java, theme: docker :whale:, theme: kubernetes

Update spring-boot version to 3.1.2
  generators/generator-constants.mts
Labels: theme: jhipster-internals

Update hibernate version to 6.2.6.Final
  generators/generator-constants.mts
Labels: theme: jhipster-internals
