Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Remove const from enums making them useful at runtime
  generators/entity-client/templates/common/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
Labels: none

Add common to dependabot.
  .github/dependabot.yml
Labels: none

Add client common to dependabot. (#12618)
  .github/dependabot.yml
Labels: none

fix: don't generate liquibase changelogs for microservice entities on gateway
  generators/database-changelog-liquibase/index.js
  utils/entity.js
Labels: none

feat: add support svelte
  generators/client/prompts.js
  generators/generator-constants.js
Labels: theme: front, theme: jhipster-internals

fix: some application.yml were still using secret rather than the recommended base64-secret key
  generators/server/templates/src/main/docker/config/consul-config/application.yml.ejs
  generators/server/templates/src/main/docker/config/docker-config/application.yml.ejs
  generators/server/templates/src/main/docker/config/localhost-config/application.yml.ejs
Labels: theme: java

Update consul-config-loader version to 0.4.1
  generators/generator-constants.js
Labels: theme: jhipster-internals

Use AuthoritiesConstants instead of literal strings
  generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
Labels: theme: java

[angular] Fix enum not nullable.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
Labels: theme: angular

Improve pt-br translation.
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-br/user-management.json
Labels: theme: i18n

Print file with prettier error.
  generators/generator-transforms.js
Labels: theme: jhipster-internals

[jdl] Support annotation with array value at entities.
  jdl/parsing/ast-builder.js
  jdl/parsing/jdl-parser.js
  test/jdl/jdl-importer.spec.js
  test/jdl/test-files/annotations.jdl
Labels: none

Export jdl with primary and secondary in relationship definition.
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
Labels: none

Remove None label from enum null value
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
Labels: theme: angular

Fix pt-br female translation.
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
Labels: theme: i18n

Fix UI for checkbox (Angular)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
Labels: theme: angular

simplify integration tests by replaced long and repetitive annotations
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/spring-controller/templates/src/test/java/package/web/rest/IntegrationTest.java.ejs
  generators/spring-controller/templates/src/test/java/package/web/rest/ResourceIT.java.ejs
Labels: theme: java

include .vue files in prettier script
  generators/generator-base.js
Labels: theme: jhipster-internals

GitHub Actions: improve triage
  .github/workflows/triage.yml
Labels: theme: CI Builds

make '.vue' files inclusion conditional
  generators/generator-base.js
Labels: theme: jhipster-internals

Replace hard coded server port by variable in gatling simulation files
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: theme: java

Format prettier
  generators/generator-base.js
Labels: theme: jhipster-internals

Add generated annotation to inner classes too
  generators/generator-transforms.js
Labels: theme: jhipster-internals

Fix cypress tests for microservices
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: none

Put postgresql by default for prodDatabaseType in JDL
  jdl/jhipster/default-application-options.js
Labels: none

GitHub Actions: concisely in triage
  .github/workflows/triage.yml
Labels: theme: CI Builds

Fix npm test for jdl, with postgresql by default
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: none

feat: GitHub Actions Improve triage (#12641)
  .github/workflows/triage.yml
Labels: theme: CI Builds

chore : use `--no-install-recommends` flag to `apt-get` in dockerfile to save space
  Dockerfile
Labels: none

update opencollective bronze sponsor section
  README.md
Labels: none

try to fix backer section
  README.md
Labels: none

revert to use image in readme
  README.md
Labels: none

try different size for readme image
  README.md
Labels: none

Remove resolutions from package.json
  package.json
Labels: theme: dependencies

Drop test dependency.
  package-lock.json
  package.json
Labels: theme: dependencies

Remove mkdirp uses.
  generators/server/files.js
Labels: theme: java

Drop mkdirp dependency
  package.json
Labels: theme: dependencies

Drop js-object-pretty-print uses
  cli/import-jdl.js
Labels: theme: cli

Drop js-object-pretty-print
  package-lock.json
  package.json
Labels: theme: dependencies

Remove tabtab uses.
  cli/cli.js
  cli/completion.js
Labels: theme: cli

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
