Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

update build.gradle
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Revert "disable infinispan tests"
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
Labels: none

adjusts to infinispan
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

Revert "disable infinispan at integration tests."
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
Labels: none

enable proxyTargetClass
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: none

disable infinispan tests
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
Labels: none

adjusts to infinispan cache
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

add dependency on infinispan-component-annotations
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

switch to skip_ci-infinispan bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

use revert-1121-skip_ci-infinispan branch
  .github/actions/setup/action.yml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: CI Builds, theme: java

Remove inexistent methods
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: none

fix prettier
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
Labels: none

fix infinispan-spring-boot-starter-embedded dependency
  generators/server/templates/build.gradle.ejs
Labels: theme: java

add infinispan bom
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

fixes
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
  generators/base/tasks.d.mts
  generators/common/index.mts
  generators/cypress/generator.mts
  generators/liquibase/generator.mts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: front, theme: jhipster-internals, theme: java

Revert "fixes"
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
  generators/base/tasks.d.mts
  generators/common/index.mts
  generators/cypress/generator.mts
  generators/liquibase/generator.mts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: front, theme: jhipster-internals, theme: java

revert bom branch
  .github/actions/setup/action.yml
Labels: theme: CI Builds

revert app configs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

revert proxyTargetClass
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: none

change infinispan to spring-boot3
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

modularize gradle cache support.
  generators/server/templates/build.gradle.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/files.mts
  generators/spring-cache/generator.spec.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

fixes
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/files.mts
  generators/spring-cache/generator.spec.mts
Labels: none

adjusts
  generators/base-application/generator.mts
  generators/gradle/generator.mjs
  generators/server/index.mts
  generators/server/templates/build.gradle.ejs
  generators/spring-cache/generator.mts
Labels: theme: jhipster-internals, theme: java, theme: gradle

adjusts
  generators/server/templates/build.gradle.ejs
  generators/spring-cache/generator.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

add gradle to dependabot
  .github/dependabot.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/bootstrap-application-server/generator.mts
  generators/server/support/dependabot-gradle.mts
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/libs.versions.toml
  package-lock.json
  package.json
Labels: theme: CI Builds, theme: dependencies, theme: jhipster-internals, theme: java

prettier
  generators/server/templates/build.gradle.ejs
Labels: theme: java

fix dependency name
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

fix dependency version
  generators/server/templates/gradle/libs.versions.toml
Labels: theme: java

add gradle to dependabot (#21501)
  .github/dependabot.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/bootstrap-application-server/generator.mts
  generators/server/support/dependabot-gradle.mts
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/libs.versions.toml
  package-lock.json
  package.json
Labels: theme: CI Builds, theme: dependencies, theme: jhipster-internals, theme: java

add infinispan TODO
  generators/server/templates/pom.xml.ejs
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

Revert "disable mariadb/mysql webflux tests (#20351)"
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
Labels: none

bump r2dbc-mariadb version
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/files.mjs
  generators/sql/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
Labels: theme: jhipster-internals, theme: java

bump consul
  generators/server/templates/Dockerfile
Labels: theme: java

change npm dependabot to daily
  .github/dependabot.yml
Labels: theme: CI Builds

add others gradle dependencies to dependabot.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/libs.versions.toml
Labels: theme: jhipster-internals, theme: java

version 1.1.4 is not available at maven central
  generators/server/templates/pom.xml
Labels: theme: java

reinstate couchbase support
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  test-integration/workflow-samples/angular.json
  test-integration/workflow-samples/vue.json
Labels: theme: java

fix package-info generator
  generators/java/support/package-info-transform.mts
Labels: none

sb3: reinstate infinispan support (#20398)
  generators/base-application/generator.mts
  generators/gradle/generator.mjs
  generators/server/index.mts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/files.mts
  generators/spring-cache/generator.mts
  generators/spring-cache/generator.spec.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
Labels: theme: jhipster-internals, theme: java, theme: gradle

[react] change sort icons for entity (#21384)
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
