Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Fix invalid-id selection for Strings
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix formatting
  generators/entity/index.js
  utils/entity.js
Labels: theme: jhipster-internals

Fix comment in build.gradle
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Change to put the unescaped value
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix comment in build.gradle (#13769)
  generators/server/templates/build.gradle.ejs
Labels: theme: java

Attempt to fix Couchbase CI failure
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Revert to getId() for Couchbase
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Add version for com.couchbase.client.encryption.
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Add version to Couchbase java-client
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update imports for Spring Data Couchbase
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: theme: java

Update primaryKey logic based on code review
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Update primaryKey logic based on code review
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Clear security context after tests
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
Labels: theme: java

Fix otherEntity primary key
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Update class for Spring Data Couchbase
  generators/server/templates/src/main/java/package/repository/N1qlCouchbaseRepository.java.ejs
Labels: theme: java

Fix imports
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/templates/src/main/java/package/repository/N1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/ReactiveN1qlCouchbaseRepository.java.ejs
Labels: theme: java

Reduce entity’s name size
  test-integration/samples/jdl-entities/custom-id.jdl
Labels: none

Make sure we are not adding false to the set
  generators/entity/index.js
Labels: theme: jhipster-internals

Lint fix
  generators/entity/index.js
Labels: theme: jhipster-internals

Replace useJPADerivedIdentifier with id
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/entity/prompts.js
  test-integration/samples/.jhipster/MapsIdChildEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdChildEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdUserProfileWithDTO.json
  utils/entity.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java

Handle custom primary key names in entity filtering (#13767)
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  test-integration/samples/jdl-entities/custom-id.jdl
Labels: theme: jhipster-internals, theme: java

Move fields processing to after entity fields preparing.
  generators/entity/index.js
  utils/entity.js
  utils/field.js
Labels: theme: jhipster-internals

Remove encryption version since it's managed by jhipster-bom.
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Remove workarounds for Spring Data Couchbase
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update based on @murdos' spring-boot-2.3-couchbase branch
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
Labels: theme: java

Polishing after testing
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/config/database/CouchbaseDatabaseConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

Fix Docker image
  generators/server/templates/src/test/java/package/CouchbaseTestContainerExtension.java.ejs
Labels: theme: java

Fix typo in test
  test/app.spec.js
Labels: none

Fix tests by adding @ScanConsistency to findAll() methods
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

Add @ScanConsistency to all findAll*() methods
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

[angular] Fix Angular CLI 11.1 camel case arguments has been deprecated warning
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular

Add selected value to the select options if value doesn't exists.
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/util/operators.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/operators.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
  test/utils/expected-files.js
  utils/entity.js
  utils/field.js
Labels: theme: angular, theme: jhipster-internals

Protractor: change presenceOf to sleep
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
Labels: theme: angular, theme: react

Protractor: activate metrics tests
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
Labels: theme: angular, theme: react

Rework update component test adding ActivatedRoute change.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Protractor: change presenceOf to sleep for Vue
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
Labels: none

Fix collection name.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Fix Couchbase + reactive so it compiles and runs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/repository/CustomCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/CustomReactiveCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/test/java/package/repository/CustomCouchbaseRepositoryTest.java.ejs
  test/utils/expected-files.js
Labels: theme: java

Apply suggestions from code review
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Fixes to suggestion
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular
