Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Bump jest to 29.0.0
  generators/client/templates/react/package.json
Labels: theme: dependencies, theme: react

fix for no primaryKey
  generators/entity/index.js
Labels: theme: front, theme: java

add blueprint scope for jhipsterOptions
  generators/generator-base.js
Labels: theme: jhipster-internals

fixes for transient field
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
Labels: theme: java

pass entities to base-entities at default priority
  generators/generator-base-entities.cjs
Labels: theme: jhipster-internals

add renameTo support to blocks
  generators/generator-base.js
Labels: theme: jhipster-internals

test with legacy mode
  generators/sql-constants.js
Labels: theme: jhipster-internals

skip tests of autoGenerate fields.
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

adjust test
  test/generator-base.spec.js
Labels: none

fix jest-sonar
  generators/client/templates/angular/jest.conf.js.ejs
Labels: theme: angular

Configure TS support in eslint
  .eslintrc.json
  package-lock.json
  package.json
Labels: theme: dependencies

Initial config of build npm script
  .gitignore
  package.json
  tsconfig.json
Labels: theme: dependencies

Init tsconfig.json
  tsconfig.json
Labels: none

Convert some utils to TS
  jdl/utils/array-utils.ts
  jdl/utils/deprecation-utils.ts
  jdl/utils/format-utils.ts
  jdl/utils/set-utils.ts
  jdl/utils/string-utils.ts
Labels: none

Convert reversed-keywords modules to TS
  jdl/jhipster/reserved-keywords/angular.ts
  jdl/jhipster/reserved-keywords/cassandra.ts
  jdl/jhipster/reserved-keywords/couchbase.ts
  jdl/jhipster/reserved-keywords/java.ts
  jdl/jhipster/reserved-keywords/jhipster.ts
  jdl/jhipster/reserved-keywords/mssql.ts
  jdl/jhipster/reserved-keywords/mysql.ts
  jdl/jhipster/reserved-keywords/neo4j.ts
  jdl/jhipster/reserved-keywords/oracle.ts
  jdl/jhipster/reserved-keywords/paging.ts
  jdl/jhipster/reserved-keywords/postgresql.ts
  jdl/jhipster/reserved-keywords/typescript.ts
Labels: none

Convert file-utils.js to TS
  jdl/utils/file-utils.ts
Labels: none

Move @types/lodash to devDependencies
  package-lock.json
  package.json
Labels: theme: dependencies

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Add include field to tsconfig.json
  tsconfig.json
Labels: none

improve jest/sonar integration. (#19531)
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/common/files.js
  generators/common/templates/sonar-project.properties.ejs
  generators/generator-base.js
Labels: theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: java

Ignore Security hot spots as identified by Sonar
  generators/client/templates/angular/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

Convert jdl/linters to TS
  jdl/linters/entity-linter.ts
  jdl/linters/enum-linter.ts
  jdl/linters/field-linter.ts
  jdl/linters/issues/abstract-issue.ts
  jdl/linters/issues/entity-issue.ts
  jdl/linters/issues/enum-issue.ts
  jdl/linters/issues/field-issue.ts
  jdl/linters/issues/issues.ts
  jdl/linters/issues/relationship-issue.ts
  jdl/linters/jdl-linter.ts
  jdl/linters/relationship-linter.ts
  jdl/linters/rule-levels.ts
  jdl/linters/rule.ts
  jdl/linters/rules.ts
Labels: none

add extendsSection to entity and allow to override fields declaration and methods using multi step templates
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
Labels: theme: java

improve jsdoc
  generators/generator-base-blueprint.js
  generators/generator-base-entities.cjs
  generators/generator-base.js
  lib/index.js
Labels: theme: jhipster-internals

make AbstractAuditingEntity generic
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: theme: java

[Angular] Sonar: Assertions should be complete
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'PAGE_HEADER'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'ITEM_DELETED_EVENT'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'filter'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'filter' (#19564)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'ITEM_DELETED_EVENT' (#19563)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Remove this unused import of 'PAGE_HEADER' (#19562)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Assertions should be complete (#19561)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
Labels: theme: angular

Update user-management.json
  generators/languages/templates/src/main/webapp/i18n/el/user-management.json
Labels: theme: i18n

Fixing typos in Greek translations
  generators/languages/templates/src/main/webapp/i18n/el/activate.json.ejs
Labels: theme: i18n

Fixing typos in Greek translations
  generators/languages/templates/src/main/webapp/i18n/el/tracker.json
Labels: theme: i18n

Fixing typos in Greek translations
  generators/languages/templates/src/main/webapp/i18n/el/register.json
Labels: theme: i18n

Fixing typos in Greek translations
  generators/languages/templates/src/main/webapp/i18n/el/password.json
Labels: theme: i18n

Fixing typos in Greek translations (#19581)
  generators/languages/templates/src/main/webapp/i18n/el/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/el/password.json
  generators/languages/templates/src/main/webapp/i18n/el/register.json
  generators/languages/templates/src/main/webapp/i18n/el/tracker.json
  generators/languages/templates/src/main/webapp/i18n/el/user-management.json
Labels: theme: i18n

Fix Auth0 login
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
