Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

User absolute import path.
  generators/client/templates/react/src/main/webapp/app/index.tsx.ejs
Labels: theme: react

Lazy load entities menu
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
Labels: theme: front, theme: react

Lazy load gateway stores
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/index.ts.ejs
Labels: theme: react

Reorder imports
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: theme: react

Fixes to microfrontend webpack config.
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
Labels: theme: react

Reduce sleep for mysql and mariadb startup
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

Update snapshot
  test/client/__snapshots__/react.spec.js.snap
Labels: none

Throw error for unsupported microfrontends.
  generators/client/index.js
Labels: theme: front

Cleanup removed file
  generators/client/files-react.js
Labels: theme: front, theme: react

Configure injectableStore if needed.
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
Labels: theme: react

Update store.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
Labels: theme: react

Update store.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
Labels: theme: react

Update menu.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
Labels: theme: react

Use entityApi
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs
Labels: theme: react

Rename addSourcePrefix to addTranslationSourcePrefix
  generators/client/templates/react/src/main/webapp/app/config/translation-middleware.ts.ejs
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.ts.ejs
Labels: theme: react

Fix microservice with more than 1 mariadb databases.
  generators/docker-compose/index.js
Labels: theme: docker :whale:

Switch store application at react microfrontend to mariadb
  test-integration/jdl-samples/mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: none

Update docker-compose snapshot
  test/__snapshots__/docker-compose.spec.js.snap
Labels: none

Update react-jhipster api
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.ts.ejs
Labels: theme: dependencies, theme: react

Casting is not needed anymore at routes.tsx
  generators/client/templates/react/src/main/webapp/app/entities/routes.tsx.ejs
Labels: theme: react

Simplify translation update
  generators/client/templates/react/src/main/webapp/app/entities/menu.tsx.ejs
Labels: theme: react

Bump npm to 8.5.x and fixes to workspaces support. (#17910)
  .github/workflows/jdl.yml
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/vue/tsconfig.json.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/common/templates/package.json
  generators/workspaces/index.js
Labels: theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: java

--remove-orphans removes every orphan docker image, we probably should not do this.
  generators/server/index.js
  generators/workspaces/index.js
Labels: theme: java

Always dump docker logs
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Drop non necessary teardown steps from workflows
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/generate-blueprint.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Proxy dev backend to the gateway
  generators/client/templates/react/webpack/webpack.dev.js.ejs
Labels: theme: react

Skip cypress test if entity has a required relationship with a derived primary key.
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: theme: front

fix test when nested jpaDerivedIdentifier is used
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

add integration test case which uses nested maps id
  test-integration/samples/.jhipster/MapsIdGrandchildEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdGrandchildEntityWithoutDTO.json
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
Labels: none

unify entityTableName naming in MapsId integration tests
  test-integration/samples/.jhipster/MapsIdChildEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdChildEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdGrandchildEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdGrandchildEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdParentEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdParentEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdUserProfileWithDTO.json
Labels: none

Implement auto-merge workflow
  .github/workflows/auto-merge.yml
Labels: theme: CI Builds

Update .github/workflows/auto-merge.yml
  .github/workflows/auto-merge.yml
Labels: theme: CI Builds

Move workflow samples to an external file
  .github/actions/build-matrix/action.yml
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  test-integration/workflow-samples/angular.json
  test-integration/workflow-samples/react.json
  test-integration/workflow-samples/vue.json
Labels: theme: CI Builds

use cassandra-test-container
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs
  generators/server/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
  generators/server/templates/src/test/resources/META-INF/spring.factories.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: java

kill testcontainer after test context initialization, use the testcontainer reuse flag
  generators/server/files.js
  generators/server/templates/src/test/java/package/config/CassandraTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/resources/testcontainers.properties.ejs
Labels: theme: java

change testcontainer behavior on local and ci
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/JhipsterIntegrationTestProperties.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: java

optimize maven time to build with jvm options
  .github/workflows/vue.yml
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/.mvn/jvm.config
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: CI Builds, theme: java

use threads for maven builds with np
  generators/server/index.js
Labels: theme: java

variabilize container reuse flag on testcontainers and set it to false on CI
  generators/server/index.js
Labels: theme: java

add logs on containers
  generators/server/templates/src/test/java/package/config/CassandraTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java
