Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Revert "Fix OpenApiConfiguration to not use google.guava.predicates - which is not referred by directly anymore"
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Revert "Fix OpenApiConfiguration to not use google.guava.predicates - which is not referred by directly anymore" (#11674)
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Unit tests for BaseGenerator.getJDBCUrl
  generators/generator-base-private.js
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  test/generator-base-private.spec.js
Labels: theme: jhipster-internals, theme: java

core: fix template formatting
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

Use springFox3 for reactive gateway/monolith
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Polish the OpenApiConfig generation, and enable on the webflux-psql sample too
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
  test-integration/samples/webflux-psql/.yo-rc.json
Labels: theme: java

Remove Paperowl
  README.md
Labels: none

Remove empty line
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Polish the OpenApiConfig generation, and enable on the webflux-psql sample too
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
  test-integration/samples/webflux-psql/.yo-rc.json
Labels: theme: java

Remove empty line
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Use springFox3 for reactive gateway/monolith
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
Labels: theme: java

Refactor calculation of idValue field
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Refactor the Transactional annotation generation
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

repositorySave -> saveMethod
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

remove repetititve save and saveAndFlush checks
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix line ending for transactionalAnnotation
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Use primaryKeyType instead of a more complex conditions
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fixed more tests and files
  jdl/converters/parsed-jdl-to-jdl-object/field-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/validation-converter.js
  jdl/domain/jdl-relationship.js
  jdl/domain/jdl-validation.js
  test/jdl/spec/converters/parsedJDLToJDLObject/field-converter.spec.js
  test/jdl/spec/converters/parsedJDLToJDLObject/option-converter.spec.js
  test/jdl/spec/converters/parsedJDLToJDLObject/relationship-converter.spec.js
  test/jdl/spec/converters/parsedJDLToJDLObject/validation-converter.spec.js
Labels: none

Fixed more tests and files
  jdl/converters/json-to-jdl-application-converter.js
  jdl/converters/json-to-jdl-converter.js
  jdl/converters/json-to-jdl-entity-converter.js
  jdl/converters/json-to-jdl-option-converter.js
  jdl/exporters/jhipster-entity-exporter.js
  jdl/linters/jdl-linter.js
  jdl/readers/file-reader.js
  jdl/readers/jdl-reader.js
  jdl/readers/json-file-reader.js
  jdl/readers/json-reader.js
  test/jdl/spec/converters/json-to-jdl-application-converter.spec.js
  test/jdl/spec/converters/json-to-jdl-converter.spec.js
  test/jdl/spec/converters/json-to-jdl-entity-converter.spec.js
  test/jdl/spec/converters/json-to-jdl-option-converter.spec.js
Labels: none

use git hash or build information to prefix cache keys
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

Fixed more tests and files
  test/jdl/spec/core/jhipster/application-options.spec.js
  test/jdl/spec/core/jhipster/application-types.spec.js
  test/jdl/spec/core/jhipster/binary-options.spec.js
  test/jdl/spec/core/jhipster/database-types.spec.js
  test/jdl/spec/core/jhipster/default-application-options.spec.js
  test/jdl/spec/core/jhipster/deployment-options.spec.js
  test/jdl/spec/core/jhipster/entity_table_name_creator.spec.js
  test/jdl/spec/core/jhipster/field_types.spec.js
  test/jdl/spec/core/jhipster/json_entity.spec.js
  test/jdl/spec/core/jhipster/relationship-options.spec.js
  test/jdl/spec/core/jhipster/relationship-types.spec.js
  test/jdl/spec/core/jhipster/reserved-keywords.spec.js
  test/jdl/spec/core/jhipster/unary-options.spec.js
  test/jdl/spec/core/jhipster/validations.spec.js
Labels: none

Use primaryKeyType instead of a more complex conditions
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

repositorySave -> saveMethod
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Refactor the Transactional annotation generation
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

remove repetititve save and saveAndFlush checks
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Fix line ending for transactionalAnnotation
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Refactor calculation of idValue field
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

add testcontainers for sql databases
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/gradle/testcontainers.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
  test/utils/expected-files.js
Labels: theme: java

enable testcontainers flag for testing
  .github/workflows/angular.yml
  .github/workflows/react.yml
  azure-pipelines.yml
  test-integration/scripts/21-tests-backend.sh
Labels: theme: CI Builds

cleanup
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
Labels: theme: java

change ci tests running with testcontainers
  .github/workflows/angular.yml
  .github/workflows/react.yml
Labels: theme: CI Builds

add logging levels for testcontainers
  generators/server/templates/src/test/resources/logback.xml.ejs
Labels: theme: java

remove org.testcontainer:testcontainers dependency
  generators/server/templates/gradle/testcontainers.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

document additional steps for sql server and oracle db
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
Labels: theme: java

fix gradle configuration
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  test/app.spec.js
Labels: theme: java

restore mysql dialect due to error
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
Labels: theme: java

restore all dialects in application-testcontainers.yml.ejs
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
Labels: theme: java

better pom.xml.ejs formatting for testcontainers dependencies
  generators/server/templates/pom.xml.ejs
Labels: theme: java

remove useless dialect reference in testcontainer properties
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
Labels: theme: java

remove separate gradle configuration
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/testcontainers.gradle.ejs
  test/app.spec.js
  test/utils/expected-files.js
Labels: theme: java
