Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Add support to run modules using jhipster command
  cli/commands.js
  cli/environment-builder.js
  cli/jhipster-command.js
  cli/program.js
  test/cli/cli.spec.js
  test/templates/blueprint-cli/generators/foo/index.js
Labels: theme: cli

Merging main to feature
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

adding DATE_TIME_FORMAT just when needed
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Adding FormBuilder to tests
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
Labels: theme: angular

moving away from static methods
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Fixing method signatures and test imports.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Fixes #10198
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

Bump npm to 7.6.0
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Drop .npmrc from angular.
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/.npmrc.ejs
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals

Fix fake data for required unique relationships.
  generators/database-changelog-liquibase/index.js
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/generator-base-private.js
  utils/relationship.js
Labels: theme: jhipster-internals

replace deprecated eviction configuration methods
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

remove unused import
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

remove default cache name configuration
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: java

use bom branch
  .github/workflows/angular.yml
Labels: theme: CI Builds

use bom branch (on azure pipelines)
  azure-pipelines.yml
Labels: theme: CI Builds

restore ci config
  .github/workflows/angular.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Update to spring-boot 2.4.3 and other dependencies (#14043)
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: CI Builds, theme: jhipster-internals, theme: java

Fix repos and branches to defaults
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: theme: CI Builds

Fix: bump typescript from 4.1.5 to 4.2.3 in /generators/client/templates/vue
  generators/client/templates/vue/package.json
  generators/generator-base-private.js
Labels: theme: jhipster-internals

avoid shadowing names
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Upgrade to Mongock 4.3.7
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Add suggestion from @dieppa https://github.com/jhipster/generator-jhipster/pull/14043#issuecomment-791256604
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

Fix other entity primaryKey reference
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
Labels: theme: java

Giddyup
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

fix entity relationship drowdown
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Update generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Update generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Update generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

Extract FormControl utility methods.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

unflatten criteria class fixes: #13133
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/common/inject_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityCriteriaService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/generator-base.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/service/UserCriteriaService.java.ejs
  generators/server/templates/src/main/java/package/service/criteria/UserCriteria.java.ejs
  utils/entity.js
Labels: theme: jhipster-internals, theme: java

Upgrade to Mongock 4.3.7 (#14179)
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: CI Builds, theme: java

Change branch from mongock-4.3.7 to main
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI Builds

Remove the unused EntityQueryService from the ResourceIT
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Disable Couchbase and move WebFlux, Neo4j, and Infinispan out of beta
  generators/server/prompts.js
Labels: theme: java

Update es translation [skip ci]
  generators/entity-i18n/templates/i18n/entity_es.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/register.json
  generators/languages/templates/src/main/webapp/i18n/es/user-management.json
Labels: theme: i18n

verify with secondLetter isn't empty #14189
  generators/generator-base-private.js
Labels: theme: jhipster-internals

verify if secondLetter isn't empty
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Don't rely on process.cwd() for absolute path.
  generators/entity/index.js
  generators/utils.js
Labels: theme: jhipster-internals

Fix Docker image with npm install
  Dockerfile
Labels: none

use constants in generator-base
  generators/generator-base.js
  package-lock.json
Labels: theme: dependencies, theme: jhipster-internals
