Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

CI-CD: add back Circle CI tests
  test/ci-cd.spec.js
Labels: none

CI-CD: add back GitHub Actions full options tests
  test/ci-cd.spec.js
  test/templates/ci-cd/maven-ngx-npm/pom.xml
Labels: none

CI-CD: add back Jenkins full tests
  test/ci-cd.spec.js
Labels: none

CI-CD: add back GitLab CI full tests
  test/ci-cd.spec.js
Labels: none

CI-CD: add back Travis CI full tests
  test/ci-cd.spec.js
Labels: none

CI-CD: add back Azure Pipelines autoconfigure test
  test/ci-cd.spec.js
Labels: none

Move Neo4J and reactivedatabase annotations to IntegrationTest
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

Fix missing bracket in EJS
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Include missing annotation for EntityResourceIT
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Improve standalone 11-generate-config.sh
  test-integration/scripts/11-generate-config.sh
Labels: none

CI-CD: fix syntax with run
  generators/ci-cd/templates/circle.yml.ejs
Labels: none

CI-CD: always comment e2e part as it doesn't work with CircleCI
  generators/ci-cd/templates/circle.yml.ejs
Labels: none

CI-CD: allow the use of Docker in Docker
  generators/ci-cd/templates/circle.yml.ejs
Labels: none

CI-CD: use Docker image jhipster/jhipster for building with CircleCI
  generators/ci-cd/templates/circle.yml.ejs
Labels: none

CI-CD: use Ubuntu 20.04 for Azure Pipelines
  generators/ci-cd/templates/azure-pipelines.yml.ejs
Labels: none

Adjust to 11-generate-config
  test-integration/scripts/11-generate-config.sh
Labels: none

[angular] fixes for custom ids
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

CI-CD: rename AngularX to Angular in tests [skip ci]
  test/ci-cd.spec.js
Labels: none

Change Sonar deprecated property to non deprecated one
  generators/common/templates/sonar-project.properties.ejs
Labels: none

CI-CD: fix CircleCI build (#13254)
  generators/ci-cd/templates/circle.yml.ejs
Labels: none

CI-CD: rename github-ci to github-actions
  generators/ci-cd/index.js
  generators/ci-cd/templates/github-actions.yml.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for Jenkins
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for GitHub Actions
  generators/ci-cd/prompts.js
  generators/ci-cd/templates/github-actions.yml.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for GitLab CI
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for CircleCI
  generators/ci-cd/templates/circle.yml.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for Azure Pipelines
  generators/ci-cd/prompts.js
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  test/ci-cd.spec.js
Labels: none

CI-CD: add Snyk support for Travis CI
  generators/ci-cd/templates/travis.yml.ejs
  test/ci-cd.spec.js
Labels: none

Fix some sonar analysis: Call Optional#isPresent() before accessing the value
  generators/entity-server/templates/src/main/java/package/common/patch_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
Labels: theme: java

[angular] Add test for trackBy and getSelected.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
Labels: theme: angular

Rename <AppName>IntegrationTest annotation to IntegrationTest
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/files.js
  generators/server/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/server/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/spring-controller/templates/src/test/java/package/web/rest/ResourceIT.java.ejs
Labels: theme: java

Improvements to id calculation
  generators/entity/index.js
  utils/field.js
Labels: theme: jhipster-internals

Add custom id test cases
  test-integration/samples/jdl-entities/custom-id.jdl
Labels: none

Don't remove id fields for liquibase.
  generators/database-changelog-liquibase/index.js
Labels: none

Don't remove id fields for backend.
  generators/entity-server/index.js
Labels: theme: java

Reduce e2e backend log level.
  generators/server/index.js
Labels: theme: java

Add support to custom id at backend.
  generators/entity-server/index.js
  generators/entity-server/templates/partials/it_patch_update.partial.java.ejs
  generators/entity-server/templates/src/main/java/package/common/patch_template.ejs
  generators/entity-server/templates/src/main/java/package/common/save_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Add support to custom id at liquibase
  generators/database-changelog-liquibase/index.js
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Drop built in id from cql
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
Labels: theme: java

Add more test cases
  test-integration/samples/jdl-entities/custom-id.jdl
Labels: none

More fixes to webflux
  utils/entity.js
  utils/field.js
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
