Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

improve mariadb memory usage
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/server/templates/src/main/docker/config/mariadb/my.cnf
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/server/templates/src/test/resources/testcontainers/mariadb/my.cnf
Labels: theme: java

Generate base application using base sample
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

Update action.yml
  .github/actions/compare-base/action.yml
Labels: theme: CI Builds

Update blog-store.jdl
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: none

modify webflux-maria to webflux-h2mem
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
  test-integration/workflow-samples/angular.json
Labels: none

fix: use correct env variable for Java options
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
Labels: theme: kubernetes

aligns memory usage for tests on maven and gradle
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  package-lock.json
Labels: theme: dependencies, theme: java

enforce compatible es version when deploying to heroku
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/heroku.gradle.ejs
Labels: theme: Heroku

Updates snapshots
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/needles.spec.mjs
Labels: theme: java

Revert
  generators/server/needles.spec.mjs
Labels: theme: java

enforce es version for maven when deploying to heroku
  generators/heroku/index.js
  generators/heroku/templates/heroku.gradle.ejs
  generators/heroku/templates/pom-profile.xml.ejs
Labels: theme: Heroku

Change MySQL image to follow Spring Native
  generators/generator-constants.js
  generators/server/templates/sql/common/src/main/docker/mysql.yml.ejs
  test/__snapshots__/docker-compose.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
Labels: theme: jhipster-internals, theme: java

Update snapshots
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: none

Define specific mysql image as compatible for testcontainers mysql image
  generators/server/index.js
  generators/server/templates/sql/common/src/test/java/package/config/MysqlTestContainer.java.ejs
Labels: theme: java

Update mysql/mysql-server docker image version to 8.0.29
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
Labels: theme: jhipster-internals

Define specific mysql image as compatible for testcontainers mysql image
  generators/server/index.js
  generators/server/templates/sql/common/src/test/java/package/config/MysqlTestContainer.java.ejs
Labels: theme: java

adapt snapshot to change heroku specific properties
  test/__snapshots__/heroku.spec.js.snap
Labels: none

enable mariadb+reactive test samples.
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: none

use testcontainersspringcontextcustomizer for redis
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup-cacheProvider.js
  generators/server/cleanup-sql.js
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedRedis.java.ejs
  generators/server/templates/src/test/java/package/config/RedisTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  test/utils/expected-files.js
Labels: theme: java

avoid regression when no database is selected
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup-cache-provider.js
  generators/server/cleanup.js
  generators/server/files.js
  package-lock.json
Labels: theme: dependencies, theme: java

Update package-lock.json
  package-lock.json
Labels: theme: dependencies

Set docker:db:await script for mysql.
  generators/server/index.js
Labels: theme: java

spring-controller subgenerator to load derived serverConfig
  generators/spring-controller/index.js
  test/blueprint/spring-controller-blueprint.spec.js
  test/spring-controller.spec.js
Labels: none

Update index.js
  generators/server/index.js
Labels: theme: java

define bonsai elasticsearch version as pom property in profile
  generators/heroku/templates/pom-profile.xml.ejs
Labels: theme: Heroku

define version in gradle file for enforced es version
  generators/heroku/templates/heroku.gradle.ejs
  generators/heroku/templates/pom-profile.xml.ejs
Labels: theme: Heroku

Update index.js
  generators/server/index.js
Labels: theme: java

Update index.js
  generators/server/index.js
Labels: theme: java

Revert "chore(deps-dev): bump lint-staged from 12.4.3 to 13.0.0 in /generators/common/templates"
  generators/common/templates/package.json
Labels: theme: dependencies, theme: front, theme: java

Update index.js
  generators/server/index.js
Labels: theme: java

Update index.js
  generators/server/index.js
Labels: theme: java

Update index.js
  generators/server/index.js
Labels: theme: java

Add Modular Needles RFC (#18742)
  rfcs/5-jhipster-rfc-modular-needles.md
Labels: none

hipster-registry depends on Keycloak
  generators/server/index.js
Labels: theme: java

Update index.js
  generators/server/index.js
Labels: theme: java

Migrate angular to writeFiles/transform
  generators/client/files-angular.js
  generators/client/index.js
  generators/client/transform-angular.cjs
  generators/client/transform-angular.spec.mjs
  generators/entity-client/files-angular.cjs
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/generator-base.js
Labels: theme: front, theme: angular, theme: jhipster-internals

fixes daily-build regressions related to npm scripts migration (#18780)
  generators/server/index.js
Labels: theme: java

Replace title tag
  generators/client/transform-angular.cjs
  generators/client/transform-angular.spec.mjs
Labels: theme: front, theme: angular

Ignore enforcementes at test files.
  test/enforcements.spec.js
Labels: none

Remove writeFilesToDisk test for angular
  test/__snapshots__/generator-base.spec.js.snap
  test/generator-base.spec.js
Labels: none

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
