Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

Update com.gradle.enterprise version to 3.9
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update com.gradle.common-custom-user-data-gradle-plugin version to 1.6.5
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

[Angular] Sonar: Rename it to _index to make intention explicit
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

[Angular] Sonar: Rename unused parameter
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

Don't reload entity as this breaks tests.
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
Labels: theme: java

[Angular] Sonar: Rename unused parameter (#18260)
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

Replace elasticsearch mocks from save to index
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Set permissions for GitHub actions
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/generator.yml
  .github/workflows/generators.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-maintenance.yml
  .github/workflows/react.yml
  .github/workflows/release-drafter.yml
  .github/workflows/vue.yml
Labels: theme: CI Builds

Bump jhipster dependencies to 7.8.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Switch to release of jhipster dependencies
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Bump react-jhipster to 0.20.0
  generators/client/templates/react/package.json
Labels: theme: dependencies, theme: react

Release v7.8.0
  package-lock.json
  package.json
Labels: theme: dependencies

Fix prettier
  .github/workflows/labeler.yml
  .github/workflows/lock-maintenance.yml
  .github/workflows/release-drafter.yml
Labels: theme: CI Builds

Revert "Switch to release of jhipster dependencies"
  .github/actions/setup/action.yml
Labels: theme: CI Builds

Use jhipster-dependencies 7.8.1-SNAPSHOT
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update EntityResourceIT.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: theme: java

Switch to searchRepository index at update
  generators/entity-server/templates/partials/update_template.ejs
Labels: theme: java

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Revert "Revert "Update maven version to 3.8.5""
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/pom.xml.jhi.ejs
  generators/server/templates/.mvn/wrapper/maven-wrapper.properties
  generators/server/templates/pom.xml.ejs
Labels: theme: java, theme: maven

Update open-api version
  generators/common/templates/README.md.jhi.ejs
  generators/generator-constants.js
  generators/openapi-client/files.js
  generators/openapi-client/index.js
  generators/server/templates/pom.xml.ejs
Labels: theme: front, theme: jhipster-internals, theme: java

Removed unused vars
  generators/openapi-client/files.js
Labels: theme: front

Add note about security policy in ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: theme: CI Builds

Add note about security policy in ISSUE_TEMPLATE (#18288)
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: theme: CI Builds

use conditions instead of criteria as workaround
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/templates/src/main/java/package/repository/EntityManager.java.ejs
Labels: theme: java

Fix user package when server generator is not used
  generators/bootstrap-application/generator.spec.mjs
  generators/server/index.js
  utils/entity.js
Labels: theme: java

Allow env vars to be populated by secret files Closes #17943
  generators/server/templates/src/main/docker/jib/entrypoint.sh.ejs
Labels: theme: java

Update conditions to take where into consideration
  generators/server/templates/src/main/java/package/repository/EntityManager.java.ejs
Labels: theme: java

remove unwanted method
  generators/server/templates/src/main/java/package/repository/EntityManager.java.ejs
Labels: theme: java

polish
  generators/server/templates/src/main/java/package/repository/EntityManager.java.ejs
Labels: theme: java

bumb jhipster-bom version to 7.8.1
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Add note to repository about BagRelationships class.
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
Labels: theme: java

Fix marketplace
  generators/app/prompts.js
Labels: theme: jhipster-internals

Fix spring data description
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
Labels: theme: java

Halt client generator if NO client framework is selected.
  generators/client/prompts.js
Labels: theme: front

Revert result order
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
Labels: theme: java

Add support to additional sub generators at generate-blueprint
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/cli/commands.cjs.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generator-base-private.js
  generators/project-name/index.cjs
  test-integration/generate-blueprint-samples/default/.yo-rc.json
Labels: theme: jhipster-internals

Release v7.8.1
  package-lock.json
  package.json
Labels: theme: dependencies

Update README.md
  README.md
Labels: none

adapt release drafter config to have smaller github release notes
  .github/release-drafter.yml
Labels: theme: CI Builds

adapt release drafter config to have smaller github release notes (#18320)
  .github/release-drafter.yml
Labels: theme: CI Builds

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*
