Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/entity/**
  - generators/*client/*
  - generators/*client/needle-api/**
  - generators/*client/templates/common/**

'theme: angular':
  - generators/**/*-angular.*
  - generators/*client/templates/angular/**/*

'theme: react':
  - generators/**/*-react.*
  - generators/*client/templates/react/**/*

'theme: vue':
  - generators/**/*-vue.*
  - generators/*client/templates/vue/**/*

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/bootstrap/**

'theme: i18n':
  - generators/languages/**/*
  - generators/entity-i18n/**/*

'theme: java':
  - generators/common/**
  - generators/entity/**
  - generators/server/**/*
  - generators/entity-server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*
'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*
'theme: aws':
  - generators/aws/**/*
'theme: Heroku':
  - generators/heroku/**/*
'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

Update maven-failsafe-plugin version to 3.0.0-M6
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update maven-surefire-plugin version to 3.0.0-M6
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Update com.gradle.enterprise version to 3.10
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Reduce a generated code changes.
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
Labels: theme: angular

Add template support to _getClientTranslation.
  generators/client/index.js
Labels: theme: front

Update messages_de.properties.ejs (#18432)
  generators/languages/templates/src/test/resources/i18n/messages_de.properties.ejs
Labels: theme: i18n

define boot dev tools only in main gradle
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

define boot dev tools only in main gradle (#18434)
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

Resolve translate values using new template support
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: angular

Update mariadb docker image version to 10.7.3
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update mongo docker image version to 4.4.13
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update neo4j docker image version to 4.4.6
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update memcached docker image version to 1.6.15-alpine
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update sonarqube docker image version to 9.4.0-community
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update consul docker image version to 1.12.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/prometheus docker image version to v2.35.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update prom/alertmanager docker image version to v0.24.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update grafana/grafana docker image version to 8.5.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

Fix typo in generated readme
  generators/common/templates/README.md.jhi.ejs
Labels: theme: front, theme: java

Update docker files
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
Labels: none

Update snapshots
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: none

Copy _getClientTranslation from client generator.
  generators/entity-client/index.js
Labels: theme: front

Adjusts.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

Update entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
Labels: theme: angular

Move loadNativeLanguage to default priority
  generators/entity-client/index.js
Labels: theme: front

Update index.js
  generators/entity-client/index.js
Labels: theme: front

Update index.js
  generators/entity-client/index.js
Labels: theme: front

Update index.js
  generators/entity-client/index.js
Labels: theme: front

chore(deps): Included dependency review
  .github/workflows/depsreview.yml
Labels: theme: CI Builds

split server cleanup in multiple files
  generators/server/cleanup-angular.js
  generators/server/cleanup-cassandra.js
  generators/server/cleanup-cucumber.js
  generators/server/cleanup-elasticsearch.js
  generators/server/cleanup-gradle.js
  generators/server/cleanup-h2.js
  generators/server/cleanup-hazelcast.js
  generators/server/cleanup-kafka.js
  generators/server/cleanup-maven.js
  generators/server/cleanup-mongodb.js
  generators/server/cleanup-oauth2.js
  generators/server/cleanup-postgresql.js
  generators/server/cleanup-reactive.js
  generators/server/cleanup.js
Labels: theme: angular, theme: java

added RFC on inclusive properties
  rfcs/5-jhipster-rfc-inclusive-property-in-generator.md
Labels: none

Apply @mshima suggested changes to inclusive properties RC
  rfcs/5-jhipster-rfc-inclusive-property-in-generator.md
Labels: none

fix format with prettier
  rfcs/5-jhipster-rfc-inclusive-property-in-generator.md
Labels: none

add correct springdoc dependency version depending on reactive/webmvc
  generators/server/templates/build.gradle.ejs
Labels: theme: java

use testcontextCustomizer for neo4j tests
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedNeo4j.java.ejs
  generators/server/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  test/utils/expected-files.js
Labels: theme: java

Change ZonedDateTimelocal to datetimelocal
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
Labels: theme: angular

Load derived entity for derived fields.
  generators/entity-client/index.js
Labels: theme: front

move h2 deps to dev profile for gradle
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

use testcontextCustomizer for neo4j tests (#18451)
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedNeo4j.java.ejs
  generators/server/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  test/utils/expected-files.js
Labels: theme: java
