Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

Lint fix
  utils/liquibase.js
Labels: none

Update license url
  generators/maven/templates/.mvn/wrapper/MavenWrapperDownloader.java
  generators/maven/templates/mvnw
  generators/maven/templates/mvnw.cmd
  generators/server/templates/.mvn/wrapper/MavenWrapperDownloader.java
  generators/server/templates/mvnw
  generators/server/templates/mvnw.cmd
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: java

Rename skipPrompts to shouldSkipPrompts.
  generators/generator-base.js
Labels: theme: jhipster-internals

Adjusts to jhi templates.
  generators/bootstrap/index.js
  utils/multi-step-transform/index.js
  utils/multi-step-transform/template-data.js
  utils/multi-step-transform/template-file-fs.js
Labels: none

Implement add command.
  cli/commands.js
  generators/add/index.cjs
  generators/generator-list.js
Labels: theme: cli, theme: jhipster-internals

Add support to choices at command.
  cli/jhipster-command.js
Labels: theme: cli

Add support to cjs generators and tests.
  .mocharc.js
  generators/generator-base.js
  test/support/index.js
Labels: theme: jhipster-internals

Add test with configure option.
  test/support/index.js
Labels: none

Improvements to common options.
  generators/generator-base.js
  generators/options.js
Labels: theme: jhipster-internals

Limit lookup to generators/*/index
  cli/environment-builder.js
Labels: theme: cli

Implement mixin support.
  .eslintrc.json
  lib/support/index.cjs
  package.json
Labels: theme: dependencies

Use camelCase option name to register jhipsterOptions.
  generators/generator-base.js
Labels: theme: jhipster-internals

Add support to modular tests.
  .npmignore
  package.json
Labels: theme: dependencies

Implement shouldSkipFiles and shouldComposeModular
  generators/generator-base.js
Labels: theme: jhipster-internals

Convert init generator files to jhi templates.
  generators/init/files.js
  generators/init/templates/.editorconfig.jhi.ejs
  generators/init/templates/.eslintignore.jhi.ejs
  generators/init/templates/.gitattributes.jhi.ejs
  generators/init/templates/.gitignore.jhi.ejs
  generators/init/templates/.prettierignore.jhi.ejs
  generators/init/templates/.prettierrc.yml.jhi.ejs
Labels: none

Change test/support to cjs
  test/support/index.cjs
Labels: none

Rename java-package-name to java and implementations.
  cli/commands.js
  generators/config.js
  generators/generator-base.js
  generators/generator-list.js
  generators/gradle/__snapshots__/generator.spec.cjs.snap
  generators/gradle/constants.cjs
  generators/gradle/files.cjs
  generators/gradle/generator.spec.cjs
  generators/gradle/index.cjs
  generators/gradle/templates/.eslintignore.jhi.gradle.ejs
  generators/gradle/templates/.gitignore.jhi.gradle.ejs
  generators/gradle/templates/.prettierignore.jhi.gradle.ejs
  generators/gradle/templates/build.gradle.jhi.ejs
  generators/gradle/templates/gradle.properties.jhi.ejs
  generators/gradle/templates/settings.gradle.jhi.ejs
  generators/init/index.cjs
  generators/java-package-name/index.js
  generators/java/__snapshots__/generator.spec.cjs.snap
  generators/java/config.cjs
  generators/java/constants.cjs
  generators/java/files.cjs
  generators/java/generator.spec.cjs
  generators/java/index.cjs
  generators/java/mixin.cjs
  generators/java/options.cjs
  generators/java/templates/.editorconfig.jhi.java.ejs
  generators/java/templates/.gitignore.jhi.java.ejs
  generators/java/templates/.prettierrc.yml.jhi.java.ejs
  generators/maven/__snapshots__/generator.spec.cjs.snap
  generators/maven/constants.cjs
  generators/maven/files.cjs
  generators/maven/generator.spec.cjs
  generators/maven/index.cjs
  generators/maven/templates/.eslintignore.jhi.maven.ejs
  generators/maven/templates/.gitignore.jhi.maven.ejs
  generators/maven/templates/.prettierignore.jhi.maven.ejs
  generators/maven/templates/pom.xml.jhi.ejs
  test/java-package-name/java-package-name.spec.js
  test/maven/__snapshots__/maven.spec.js.snap
  test/maven/maven.spec.js
Labels: theme: cli, theme: jhipster-internals

Migrate project-name and init to mixin.
  generators/generator-base.js
  generators/init/__snapshots__/generator.spec.cjs.snap
  generators/init/config.cjs
  generators/init/constants.cjs
  generators/init/files.cjs
  generators/init/generator.spec.cjs
  generators/init/index.cjs
  generators/init/mixin.cjs
  generators/init/options.cjs
  generators/init/templates/.editorconfig.jhi.ejs
  generators/init/templates/.eslintignore.jhi.ejs
  generators/init/templates/.gitattributes.jhi.ejs
  generators/init/templates/.gitignore.jhi.ejs
  generators/init/templates/.prettierignore.jhi.ejs
  generators/init/templates/.prettierrc.yml.jhi.ejs
  generators/init/templates/package.json.ejs
  generators/project-name/config.cjs
  generators/project-name/constants.cjs
  generators/project-name/generator.spec.cjs
  generators/project-name/index.cjs
  generators/project-name/mixin.cjs
  generators/project-name/options.cjs
  test/project-name/project-name.spec.js
Labels: theme: jhipster-internals

Cleanup common config and options.
  generators/config.js
  generators/generator-base-private.js
  generators/options.js
Labels: theme: jhipster-internals

Initial spring-boot generator.
  cli/commands.js
  generators/generator-list.js
  generators/spring-boot/__snapshots__/generator.spec.cjs.snap
  generators/spring-boot/config.cjs
  generators/spring-boot/constants.cjs
  generators/spring-boot/files.cjs
  generators/spring-boot/generator.spec.cjs
  generators/spring-boot/index.cjs
  generators/spring-boot/mixin.cjs
  generators/spring-boot/options.cjs
  generators/spring-boot/templates/build.gradle.jhi.spring-boot.ejs
  generators/spring-boot/templates/pom.xml.jhi.spring-boot.ejs
  generators/spring-boot/templates/src/main/java/package/Application.java.jhi.ejs
  generators/spring-boot/templates/src/main/resources/application.properties.jhi.ejs
  generators/spring-boot/templates/src/test/java/package/ApplicationTests.java.jhi.ejs
Labels: theme: cli, theme: jhipster-internals

[React] Clean code
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/configuration/configuration.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/health/health-modal.tsx.ejs
Labels: theme: react

Update generator-constants.js
  generators/generator-constants.js
Labels: theme: jhipster-internals

Use specific bom branch
  .github/actions/setup/action.yml
Labels: none

Use specific bom branch
  azure-pipelines.yml
Labels: theme: CI Builds

Update liquidate version to 4.4.2
  generators/generator-constants.js
Labels: theme: jhipster-internals

Update liquibase-hibernate5 version to 4.4.2
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

Update liquibase-hibernate5 version to 4.4.2
  generators/server/templates/pom.xml.ejs
Labels: theme: java

Revert "Use specific bom branch"
  .github/actions/setup/action.yml
Labels: none

Revert "Use specific bom branch"
  azure-pipelines.yml
Labels: theme: CI Builds

Implement methods helpers for generator chains.
  generators/gradle/index.cjs
  generators/init/constants.cjs
  generators/init/index.cjs
  generators/init/mixin.cjs
  generators/java/index.cjs
  generators/maven/index.cjs
  generators/project-name/index.cjs
  generators/spring-boot/index.cjs
  lib/support/index.cjs
Labels: none

Rename MixedGenerator to MixedChain
  generators/gradle/index.cjs
  generators/init/index.cjs
  generators/java/index.cjs
  generators/maven/index.cjs
  generators/project-name/index.cjs
  generators/spring-boot/index.cjs
  lib/support/index.cjs
Labels: none

Enable prettier for cjs files.
  package.json
Labels: theme: dependencies

Remove jhipsterBomVersion and add property section to gradle.properties
  generators/gradle/templates/gradle.properties.jhi.ejs
Labels: none

Don't generate spring-boot at gradle generator
  generators/gradle/templates/build.gradle.jhi.ejs
Labels: none

Enable eslint for cjs files
  .eslintrc.json
  generators/spring-boot/index.cjs
  lib/support/index.cjs
  package.json
Labels: theme: dependencies

Drop JHIPSTER_BOM_VERSION from java generator
  generators/java/constants.cjs
  generators/java/mixin.cjs
Labels: none

Write build.gradle.jhi.spring-boot file
  generators/spring-boot/files.cjs
Labels: none

Use SPRING_BOOT_VERSION from generator-constants for now.
  generators/spring-boot/constants.cjs
Labels: none

Improvements to spring-boot
  generators/spring-boot/config.cjs
  generators/spring-boot/constants.cjs
  generators/spring-boot/mixin.cjs
  generators/spring-boot/templates/pom.xml.jhi.spring-boot.ejs
Labels: none

Improve common tests
  test/support/index.cjs
Labels: none

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*
