Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: vue, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: maven, theme: gradle, theme: aws, theme: Heroku, theme: kubernetes

.github/labeler.yml:

#
# Copyright the original author or authors from the JHipster project.
#
# This file is part of the JHipster project, see https://www.jhipster.tech/
# for more information.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

'theme: cli':
  - cli/*

'theme: CI Builds':
  - .github/**/*
  - azure-pipelines.yml

'theme: dependencies':
  - package.json
  - '**/package.json'
  - package-lock.json

'theme: front':
  - generators/common/**
  - generators/client/**

'theme: angular':
  - generators/angular/**

'theme: react':
  - generators/react/**

'theme: vue':
  - generators/vue/**

'theme: jhipster-internals':
  - generators/*.*
  - generators/app/**
  - generators/base/**
  - generators/base-application/**
  - generators/bootstrap/**
  - generators/bootstrap-*/**

'theme: i18n':
  - generators/languages/**/*

'theme: java':
  - generators/common/**
  - generators/server/**/*

'theme: upgrade':
  - generators/upgrade/**/*

'theme: docker :whale:':
  - Dockerfile
  - generators/docker*.js
  - generators/docker-compose/**/*

'theme: maven':
  - generators/maven/**/*

'theme: gradle':
  - generators/gradle/**/*

'theme: aws':
  - generators/aws/**/*

'theme: Heroku':
  - generators/heroku/**/*

'theme: kubernetes':
  - generators/kubernetes/**/*
  - generators/kubernetes-helm/**/*
  - generators/kubernetes-knative/**/*

cleanups
  generators/app/generator.mjs
  generators/base/api.d.mts
  generators/base/generator-base.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/generator.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/docker/generator.mjs
  generators/entities/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/info/generator.mts
  generators/languages/generator.mjs
  generators/liquibase/generator.mts
  generators/maven/generator.mjs
  generators/server/generator.mjs
Labels: theme: front, theme: jhipster-internals, theme: i18n, theme: java, theme: maven

move application destination info to bootstrap-application-base
  generators/app/generator.mjs
  generators/base/generator-base-todo.mjs
  generators/bootstrap-application-base/generator.mts
  generators/client/generator.mjs
  generators/server/generator.mjs
  test/generator-base.spec.mts
Labels: theme: front, theme: jhipster-internals, theme: java

drop configOptions.sharedEntities
  cli/environment-builder.mjs
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
Labels: theme: cli, theme: jhipster-internals

cleanup
  generators/app/generator.mjs
  generators/base/generator-base-todo.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/generator.mts
  generators/server/files.mjs
Labels: theme: jhipster-internals, theme: java

Use YAML block sequence syntax
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

bump yeoman-environment
  package-lock.json
  package.json
Labels: theme: dependencies

convert some generators options to new command definitions
  generators/app/generator.mjs
  generators/base/command.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/bootstrap/command.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/index.mts
  generators/generate-blueprint/command.mts
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/generator.mjs
  generators/git/command.mts
  generators/git/generator.mts
  generators/git/index.mts
  generators/init/__snapshots__/generator.spec.mts.snap
  generators/init/command.mts
  generators/init/generator.mjs
  generators/init/generator.spec.mts
  generators/init/index.mts
  generators/project-name/command.mts
  generators/project-name/generator.mjs
  generators/project-name/index.mts
Labels: theme: jhipster-internals

rework cli
  cli/cli-command.d.ts
  cli/download.mts
  cli/jdl.mjs
  cli/jhipster-command.mjs
  cli/program.mjs
  generators/base/api.d.mts
  generators/init/__snapshots__/generator.spec.mts.snap
  test/cli/cli-utils.spec.mts
  test/cli/cli.spec.mts
  test/support/tests.mjs
Labels: theme: cli, theme: jhipster-internals

register workspaces options at jdl command
  cli/program.mjs
Labels: theme: cli

Bump transitional dependencies
  package-lock.json
Labels: theme: dependencies

fix generate-blueprint
  generators/generate-blueprint/index.mts
Labels: none

(test): Update snapshots and samples
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/react/__snapshots__/generator.spec.mts.snap
  generators/vue/__snapshots__/generator.spec.mts.snap
  test/support/entity-samples.mts
Labels: theme: angular, theme: react, theme: vue

(feat): Handle clientInterface option
  generators/angular/entity-files-angular.mjs
  generators/react/entity-files-react.mjs
  generators/server/entity-files.mjs
  generators/vue/entity-files-vue.mjs
Labels: theme: angular, theme: react, theme: vue, theme: java

(test): Add clientInterface-related tests
  generators/angular/generator.spec.mts
  generators/react/generator.spec.mts
  generators/vue/generator.spec.mts
Labels: theme: angular, theme: react, theme: vue

(feat): Add clientInterface to entity type
  generators/base-application/types/entity.d.mts
Labels: theme: jhipster-internals

(chore): Fix linting errors
  generators/angular/entity-files-angular.mts
  generators/react/entity-files-react.mjs
  generators/server/entity-files.mjs
  generators/vue/entity-files-vue.mjs
Labels: theme: angular, theme: react, theme: vue, theme: java

(test): Fix clientInterface tests
  generators/angular/generator.spec.mts
  generators/react/generator.spec.mts
  generators/vue/generator.spec.mts
Labels: theme: angular, theme: react, theme: vue

(fix): Ensure that client interfaces are on by default
  generators/entity/prompts.mjs
Labels: none

fix bootstrap method order
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

don't use global faker instance.
  generators/cypress/generator.mts
  generators/docker-compose/generator.mjs
  generators/docker/generator.mjs
Labels: theme: docker :whale:

move createFaker to base.
  generators/base-application/support/prepare-entity.mts
  generators/base/support/faker.mts
  generators/base/support/index.mts
  generators/bootstrap-application-base/generator.mts
  generators/cypress/generator.mts
  generators/docker-compose/generator.mjs
  generators/docker/generator.mjs
Labels: theme: jhipster-internals, theme: docker :whale:

Update faker.mts
  generators/base/support/faker.mts
Labels: theme: jhipster-internals

remove force yo-rc prettier
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

(test): Fix Vue and React generator tests
  generators/react/generator.spec.mts
  generators/vue/generator.spec.mts
Labels: theme: react, theme: vue

update snapshots
  test/__snapshots__/openapi-client.spec.mts.snap
Labels: none

drop comment
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

Update package-info.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/package-info.java.ejs
Labels: theme: java

move multistep transform to a dedicated priority
  generators/base-application/priorities.mjs
  generators/base/priorities.mjs
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

Bump lint-staged from 13.1.0 to 13.1.1 in /generators/common/templates
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/package.json
Labels: theme: dependencies, theme: front, theme: java

Update dependabot.yml
  .github/dependabot.yml
Labels: theme: CI Builds

convert options to new format
  cli/environment-builder.mjs
  cli/program.mjs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/command.mts
  generators/app/generator.mjs
  generators/app/generator.spec.mts
  generators/app/index.mts
  generators/base-docker/generator.mjs
  generators/base/api.d.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap/generator.mts
  generators/client/command.mts
  generators/client/generator.mjs
  generators/client/index.mts
  generators/common/command.mts
  generators/common/generator.mjs
  generators/common/index.mts
  generators/entities/generator.mjs
  generators/init/__snapshots__/generator.spec.mts.snap
  generators/server/command.mts
  generators/server/generator.mjs
  generators/server/index.mts
  generators/server/prompts.mjs
  generators/upgrade/generator.mjs
Labels: theme: cli, theme: front, theme: jhipster-internals, theme: java, theme: upgrade

update clients for consul support
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/gateway/gateway.tsx.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
Labels: theme: angular, theme: react, theme: vue

make consul default in generator
  generators/server/prompts.mjs
Labels: theme: java

make consul default in JDL
  jdl/jhipster/default-application-options.ts
Labels: none

update wordings for service discovery
  generators/server/prompts.mjs
Labels: theme: java

update the consul configuration for Kubernetes
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/registry/consul-config-loader.yml.ejs
  generators/kubernetes/templates/registry/consul.yml.ejs
  generators/server/templates/Dockerfile
Labels: theme: java, theme: kubernetes

fix client side gateway broken styles
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.vue.ejs
Labels: theme: angular, theme: vue

fix client side gateway routes
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
Labels: theme: angular, theme: vue

Bump lint-staged from 13.1.0 to 13.1.1 in /generators/common/templates (#21084)
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/package.json
Labels: theme: dependencies, theme: front, theme: java

update test snapshots
  generators/kubernetes/templates/registry/consul.yml.ejs
  package.json
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/jdl/__snapshots__/jdl-importer.spec.ts.snap
  test/jdl/jhipster/default-application-options.spec.ts
  test/support/mock-config.mts
Labels: theme: dependencies, theme: kubernetes
