Repository jhipster/generator-jhipster, changes with the labels that .github/labeler.yml gives for each.
All labels: theme: cli, theme: CI Builds, theme: dependencies, theme: front, theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: java, theme: upgrade, theme: docker :whale:, theme: aws, theme: kubernetes

.github/labeler.yml:

"theme: cli":
    - cli/*

"theme: CI Builds":
    - .github/workflows/*
    - azure-pipelines.yml

"theme: dependencies":
    - package.json
    - package-lock.json

"theme: front":
    - generators/client/index.js
    - generators/client/prompts.js
    - generators/needle-api/*
    - generators/entity-client/*

"theme: angular":
    - generators/client/files-angular.js
    - generators/client/templates/angular/**/*
    - generators/entity-client/templates/angular/**/*

"theme: react":
    - generators/client/files-react.js
    - generators/client/templates/react/**/*
    - generators/entity-client/templates/react/**/*

"theme: jhipster-internals":
    - generators/generator-*.js
    - generators/statistics.js
    - generators/utils.js
    # client/server common
    - generators/app/**/*.js
    - generators/common/**/*.js
    - generators/needle-*.js
    - generators/cleanup.js
    - generators/entity/**/*

"theme: i18n":
    - generators/languages/**/*
    - generators/entity-i18n/**/*

"theme: java":
    - generators/server/**/*
    - generators/entity-server/**/*

"theme: upgrade":
    - generators/upgrade/**/*

"theme: docker :whale:":
    - generators/docker*.js
    - generators/docker-compose/**/*

"theme: aws":
    - generators/aws/**/*
    - generators/aws-containers/**/*

"theme: kubernetes":
    - generators/kubernetes/**/*
    - generators/kubernetes-helm/**/*
    - generators/kubernetes-knative/**/*

Fix languages for Vue application
  generators/generator-base-private.js
  generators/generator-base.js
  generators/languages/index.js
  test/languages.spec.js
  test/templates/vuejs-default/.yo-rc.json
  test/templates/vuejs-default/src/main/resources/i18n/messages_en.properties
  test/templates/vuejs-default/src/main/webapp/app/shared/config/store/translation-store.ts
  test/templates/vuejs-default/src/main/webapp/i18n/en/activate.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/audits.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/configuration.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/error.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/global.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/health.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/home.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/login.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/logs.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/metrics.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/password.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/register.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/reset.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/sessions.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/settings.json
  test/templates/vuejs-default/src/main/webapp/i18n/en/user-management.json
  test/templates/vuejs-default/webpack/webpack.common.js
Labels: theme: jhipster-internals, theme: i18n

Move vuejs samples into correct folder for CI
  test-integration/samples/vuejs-couchbase/.yo-rc.json
  test-integration/samples/vuejs-default/.yo-rc.json
  test-integration/samples/vuejs-fulli18n-es/.yo-rc.json
  test-integration/samples/vuejs-gateway/.yo-rc.json
  test-integration/samples/vuejs-gradle-session/.yo-rc.json
  test-integration/samples/vuejs-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/vuejs-noi18n/.yo-rc.json
  test-integration/samples/vuejs-oauth2/.yo-rc.json
  test-integration/samples/vuejs-session-cassandra-fr/.yo-rc.json
  test-integration/samples/vuejs-ws-theme/.yo-rc.json
Labels: none

Update some configuration for Vue application for CI
  test-integration/samples/vuejs-default/.yo-rc.json
  test-integration/samples/vuejs-fulli18n-es/.yo-rc.json
  test-integration/samples/vuejs-gateway/.yo-rc.json
  test-integration/samples/vuejs-gradle-session/.yo-rc.json
  test-integration/samples/vuejs-oauth2/.yo-rc.json
  test-integration/samples/vuejs-session-cassandra-fr/.yo-rc.json
Labels: none

Fix languages skip prompts.
  generators/app/index.js
Labels: theme: jhipster-internals

Update entities generation for Vue application
  generators/client/needle-api/needle-client-vue.js
  generators/client/templates/vue/src/main/webapp/app/router/entities.ts.ejs
  generators/entity-client/files.js
  generators/generator-base.js
  generators/needle-api.js
Labels: theme: front, theme: jhipster-internals

Fix entities generation for Vue application
  generators/client/needle-api/needle-client-vue.js
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix lint
  generators/client/needle-api/needle-client-vue.js
  generators/generator-base-private.js
  test-integration/samples/vuejs-default/.yo-rc.json
  test-integration/samples/vuejs-fulli18n-es/.yo-rc.json
  test-integration/samples/vuejs-gateway/.yo-rc.json
  test-integration/samples/vuejs-gradle-session/.yo-rc.json
  test-integration/samples/vuejs-oauth2/.yo-rc.json
  test-integration/samples/vuejs-session-cassandra-fr/.yo-rc.json
  test/generator.spec.js
  test/languages.spec.js
  test/vuejs.spec.js
Labels: theme: jhipster-internals

Fix entities generation for Vue application
  generators/client/needle-api/needle-client-vue.js
  generators/entity-client/files.js
  generators/generator-base.js
Labels: theme: front, theme: jhipster-internals

Clean code
  generators/generator-base.js
Labels: theme: jhipster-internals

Fix npm test for vuejs
  test/vuejs.spec.js
Labels: none

Prevented commit additions when no JDL dist file have changed
  jdl/bundling/scripts/changed-generated-jdl-files-committer.js
  package-lock.json
  package.json
  scripts/commit-changed-generated-jdl-files.js
  test/jdl/bundling/scripts/commit-changed-generated-jdl-files.test.js
Labels: theme: dependencies

Update vue configuration
  test-integration/samples/vuejs-default/.yo-rc.json
  test-integration/samples/vuejs-fulli18n-es/.yo-rc.json
  test-integration/samples/vuejs-gateway/.yo-rc.json
  test-integration/samples/vuejs-gradle-session/.yo-rc.json
  test-integration/samples/vuejs-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/vuejs-noi18n/.yo-rc.json
  test-integration/samples/vuejs-oauth2/.yo-rc.json
  test-integration/samples/vuejs-session-cassandra-fr/.yo-rc.json
  test-integration/samples/vuejs-ws-theme/.yo-rc.json
Labels: none

Fix generated field validate for modified string in protractor tests for Vue app
  generators/entity-client/files.js
Labels: theme: front

Fix entities with no i18n for Vue app
  generators/entity-client/files.js
Labels: theme: front

Update Vue couchbase configuration for CI
  test-integration/samples/vuejs-couchbase/.yo-rc.json
Labels: none

Fix default jhiPrefix value.
  generators/app/index.js
  generators/generator-defaults.js
  test/app-required-config.js
Labels: theme: jhipster-internals

Apply suggestions from code review
  test/app-required-config.js
Labels: none

Fix page sub generator for Vue app
  cli/commands.js
  generators/client/templates/vue/src/main/webapp/app/router/pages.ts.ejs
  generators/page/index.js
  generators/utils.js
  test/templates/vuejs-default/.yo-rc.json
Labels: theme: cli, theme: jhipster-internals

Fix lint and format with Prettier
  generators/entity-client/files.js
  generators/page/index.js
  test-integration/samples/vuejs-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/vuejs-noi18n/.yo-rc.json
  test/vuejs.spec.js
Labels: theme: front

Add npm tests for needle-client-vue
  generators/client/files-vuejs.js
  generators/client/needle-api/needle-client-vue.js
  test/needle-api/needle-client-vue.spec.js
Labels: none

Do now allow using sub generator page for another app than Vue
  generators/page/index.js
Labels: none

Rename Vue.js to Vue
  .github/workflows/vue.yml
  generators/client/files-vue.js
  generators/client/index.js
  generators/page/files.js
  generators/utils.js
  rfcs/2-jhipster-rfc-jhipster-control-center.md
  test-integration/samples/vue-couchbase/.yo-rc.json
  test-integration/samples/vue-default/.yo-rc.json
  test-integration/samples/vue-fulli18n-es/.yo-rc.json
  test-integration/samples/vue-gateway/.yo-rc.json
  test-integration/samples/vue-gradle-session/.yo-rc.json
  test-integration/samples/vue-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/vue-noi18n/.yo-rc.json
  test-integration/samples/vue-oauth2/.yo-rc.json
  test-integration/samples/vue-session-cassandra-fr/.yo-rc.json
  test-integration/samples/vue-ws-theme/.yo-rc.json
  test-integration/scripts/10-install-jhipster-vuejs.sh
  test-integration/scripts/12-generate-project-vuejs.sh
  test/page.spec.js
  test/templates/ngx-blueprint/HelloVue.html.ejs
  test/vue.spec.js
Labels: theme: CI Builds, theme: front, theme: jhipster-internals

Fix lint and format with Prettier
  generators/client/files-vue.js
  generators/page/index.js
  test/needle-api/needle-client-vue.spec.js
Labels: none

Add condition in client for angular files, and do nothing by default
  generators/client/index.js
Labels: theme: front

Rename page to vue-page
  cli/commands.js
  generators/vue-page/files.js
  generators/vue-page/index.js
  generators/vue-page/prompts.js
  generators/vue-page/templates/vue/src/main/webapp/app/pages/page.component.ts.ejs
  generators/vue-page/templates/vue/src/main/webapp/app/pages/page.service.ts.ejs
  generators/vue-page/templates/vue/src/main/webapp/app/pages/page.vue.ejs
  generators/vue-page/templates/vue/src/test/javascript/e2e/pages/page.page-object.ts.ejs
  generators/vue-page/templates/vue/src/test/javascript/e2e/pages/page.spec.ts.ejs
  generators/vue-page/templates/vue/src/test/javascript/spec/app/pages/page.component.spec.ts.ejs
  generators/vue-page/templates/vue/src/test/javascript/spec/app/pages/page.service.spec.ts.ejs
  test/vue-page.spec.js
Labels: theme: cli

Changes to server-blueprint test
  test/blueprint/server-blueprint.spec.js
Labels: none

Change EnvironmentBuilder to use mergeBlueprints
  cli/environment-builder.js
  test/cli/environment-builder.spec.js
Labels: theme: cli

Make parseBluePrints always return a array.
  generators/utils.js
  test/utils.spec.js
Labels: theme: jhipster-internals

Export parseBlueprintInfo
  generators/utils.js
Labels: theme: jhipster-internals

Change blueprint compose.
  generators/app/index.js
  generators/generator-base-blueprint.js
  generators/generator-base-private.js
  generators/generator-base.js
  test/blueprint/app-blueprint.spec.js
  test/blueprint/constructor-error-blueprint.spec.js
  test/blueprint/scoped-blueprint.spec.js
  test/templates/throwing-blueprint/generators/server/index.js
  test/templates/throwing-blueprint/package.json
Labels: theme: jhipster-internals

Changes to cli tests
  test/cli/cli.spec.js
Labels: none

Stop setting blueprint version to latest due to version precedence.
  generators/utils.js
  test/utils.spec.js
Labels: theme: jhipster-internals

Move blueprint functions from generator-jhipster-private to blueprint.
  generators/generator-base-blueprint.js
  generators/generator-base-private.js
Labels: theme: jhipster-internals

Implement mergeBlueprints
  generators/utils.js
  test/utils.spec.js
Labels: theme: jhipster-internals

Changes to test utils
  test/utils/utils.js
Labels: none

Use jhipster dependencies master 3.10.0-SNAPSHOT
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: theme: CI Builds, theme: jhipster-internals

Update application options in JDL with vue
  jdl/jhipster/application-options.js
Labels: none

Make generator-base-blueprint functions private.
  generators/app/index.js
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

Changes from reviews.
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

Remove audit from generated backend
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/audit/AuditEventConverter.java.ejs
  generators/server/templates/src/main/java/package/config/audit/package-info.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
  generators/server/templates/src/main/java/package/repository/CustomAuditEventRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistenceAuditEventRepository.java.ejs
  generators/server/templates/src/main/java/package/service/AuditEventService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AuditResource.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0__create_indexes.n1ql.ejs
  generators/server/templates/src/test/java/package/repository/CustomAuditEventRepositoryIT.java.ejs
  generators/server/templates/src/test/java/package/service/AuditEventServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AuditResourceIT.java.ejs
  test/utils/expected-files.js
Labels: theme: java
