Repository jhipster/generator-jhipster, pull requests merged in 2018-06, with the labels that each got.

#7728 Use openapi-generator for API-first option
  generators/server/templates/README.md.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: v5

#7713 Fixed application generation (partially)
  generators/entity/index.js
  generators/generator-base.js
  generators/import-jdl/index.js
  package-lock.json
  package.json
  test/templates/import-jdl/.yo-rc.json
  test/templates/import-jdl/search.jdl
  yarn.lock
Labels: JDL

#7759 feat (react): support error boundaries
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/app.css.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary-route.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/error/error-boundary-route.spec.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/error/error-boundary.spec.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
  generators/generator-base.js
Labels: React, ready-to-merge

#7761 polish Kubernetes subgen
  generators/kubernetes/files.js
  generators/kubernetes/index.js
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/_kubectl-apply.sh.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  test/kubernetes.spec.js
Labels: ready-to-merge

#7815 Extract i18n bundles and enable component test cases in react
  generators/client/files-react.js
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/config/translation.ts.ejs
  generators/client/templates/react/src/test/javascript/enzyme-setup.ts.ejs
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/src/test/javascript/storage-mock.ts.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
Labels: needs-testing

#7541 feat(code splitting): add code splitting with react-loadable
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
Labels: React, needs-testing

#7847 Travis: add OAuth2 Microservices
  .travis.yml
  travis/samples/ms-ngx-gateway-eureka-oauth2/.yo-rc.json
Labels: Travis CI

#7874 Skip gway pages when skip service discovery
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/index.js
  generators/client/templates/angular/src/main/webapp/app/admin/admin.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/index.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/admin.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/languages/index.js
  test/app.spec.js
  test/languages.spec.js
  test/utils/expected-files.js
Labels: ready-to-merge
