Repository jhipster/generator-jhipster, pull requests merged in 2018-10, with the labels that each got.

#8435 update openapi gradle plugin to be
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.jar
Labels: gradle

#8451 use gradles build in up-to-date checking
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: gradle

#8011 Improved Jest service tests Angular and update form
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
Labels: needs-testing

#8493 Clean eslint oriented instructions in tests, declare global mocha env
  .eslintrc.json
  test/app.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/entity-blueprint.spec.js
  test/blueprint/server-blueprint.spec.js
  test/ci-cd.spec.js
  test/client.spec.js
  test/docker-compose.spec.js
  test/ejslint.js
  test/entity.spec.js
  test/export-jdl.spec.js
  test/generator-base-private.spec.js
  test/generator-base.spec.js
  test/heroku.spec.js
  test/kubernetes.spec.js
  test/languages.spec.js
  test/load.spec.js
  test/openshift.spec.js
  test/rancher-compose.spec.js
  test/server.spec.js
  test/service.spec.js
  test/spring-controller.spec.js
  test/utils.spec.js
  test/utils/utils.js
Labels: ready-to-merge-on-ci-pass

#8402 Chunk Order Fix
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: ready-to-merge-on-ci-pass

#8512 Angular: use default parameter in CSRF service
  generators/client/templates/angular/src/main/webapp/app/core/auth/csrf.service.ts.ejs
Labels: angular-X

#8527 Client: Angular: make resourceUrl public
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/templates/angular/.huskyrc.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.service.ts.ejs
  generators/client/templates/react/.huskyrc.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
Labels: ready-to-merge-on-ci-pass

#8529 React: Fix user management data prefilling issue
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/model/user.model.ts.ejs
Labels: ready-to-merge-on-ci-pass

#8545 Fix git commit with microservices
  generators/app/index.js
  generators/server/index.js
Labels: needs-testing

#8562 follow redirects in gatling test manually when using oauth
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: bug-fix, ready-to-merge-on-ci-pass

#8620 check if error element is still in dom
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
Labels: bug-fix, ready-to-merge-on-ci-pass

#8567 replace validation placeholders for React when i18n disabled
  generators/utils.js
Labels: needs-testing

#8596 Remove deps in favor of injectable for http interceptors
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/errorhandler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts.ejs
Labels: needs-review, needs-testing

#8615 Feature/clean code
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIntTest.java.ejs
Labels: needs-review, needs-testing, work-in-progress

#8640 Move package.json for microservice from app to server generator
  generators/app/index.js
  generators/generator-base.js
  generators/server/files.js
  generators/server/templates/package.json.ejs
  test/server.spec.js
Labels: needs-testing

#8623 New subgenerator: common
  generators/app/index.js
  generators/common/files.js
  generators/common/index.js
  generators/common/templates/README.md.ejs
  generators/common/templates/editorconfig.ejs
  generators/common/templates/gitattributes.ejs
  generators/common/templates/gitignore.ejs
  generators/server/files.js
  generators/server/index.js
  test/app.spec.js
  test/blueprint/common-blueprint.spec.js
  test/client.spec.js
  test/common.spec.js
  test/server.spec.js
  test/utils/expected-files.js
Labels: needs-testing

#8667 ensure date value is a Moment object before calling isValid
  generators/client/templates/angular/src/main/webapp/app/shared/util/datepicker-adapter.ts.ejs
Labels: ready-to-merge-on-ci-pass

#8594 add location pathname in url for login (oauth2)
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
Labels: needs-review, needs-testing
