Repository jhipster/generator-jhipster, pull requests merged in 2018-11, with the labels that each got.

#8694 upgrade to ng-bootstrap 4.0.0, to be fully compatible with Angular 7
  generators/client/templates/angular/package.json.ejs
Labels: needs-testing

#8714 resolve: Failed to execute goal maven-surefire #8693
  generators/server/templates/pom.xml.ejs
Labels: bug-fix, ready-to-merge-on-ci-pass

#8646 fix(port): makes h2 DB to take a port within the range)
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
Labels: needs-change

#8730 Use Prettier for Json for lint-staged
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
Labels: ready-to-merge-on-ci-pass

#8613 Change the jwt secret property to the base64 secret where it was missing
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  generators/openshift/templates/registry/jhipster-registry.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: needs-review, needs-testing

#8675 Remove keycloak.yml inclusion for micoservices with oauth2
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: needs-review

#8749 fix maven elasticsearch missing dependencies
  generators/server/templates/pom.xml.ejs
Labels: bug-fix

#8770 fix issue with skipClient
  generators/generator-base.js
Labels: ready-to-merge-on-ci-pass

#8774 init jhipster module in app to have only one alert listener
  generators/client/templates/angular/src/main/webapp/app/admin/admin.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared-libs.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  test-integration/scripts/23-package.sh
Labels: angular-X, bug-fix, ready-to-merge-on-ci-pass

#8797 Core: Deployment jdl support
  .gitignore
  cli/commands.js
  cli/import-jdl.js
  cli/utils.js
  cli/wait-until.js
  generators/aws-containers/prompts.js
  generators/docker-base.js
  generators/docker-compose/index.js
  generators/docker-compose/prompts.js
  generators/docker-prompts.js
  generators/docker-utils.js
  generators/generator-base-docker.js
  generators/kubernetes/files.js
  generators/kubernetes/index.js
  generators/kubernetes/prompts.js
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/index.js
  generators/openshift/prompts.js
  generators/openshift/templates/deployment.yml.ejs
  generators/openshift/templates/monitoring/jhipster-monitoring.yml.ejs
  generators/rancher-compose/index.js
  generators/rancher-compose/prompts.js
  generators/rancher-compose/templates/docker-compose.yml.ejs
  generators/rancher-compose/templates/rancher-compose.yml.ejs
  generators/server/index.js
  generators/server/prompts.js
  generators/utils.js
  package-lock.json
  package.json
  test-integration/scripts/25-sonar-analyze.sh
  test/cli/cli-utils.spec.js
  test/cli/import-jdl.spec.js
  test/cli/wait-until.spec.js
  test/docker-compose.spec.js
  test/kubernetes.spec.js
  test/openshift.spec.js
  test/rancher-compose.spec.js
  test/templates/import-jdl/apps-and-entities-and-deployments.jdl
  test/templates/import-jdl/deployments.jdl
  test/templates/import-jdl/single-app-only.jdl
Labels: ready-to-merge-on-ci-pass

#8827 Improve npm/yarn scripts to run jest tests
  generators/ci-cd/index.js
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/circle.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/ci-cd/templates/travis.yml.ejs
  generators/client/templates/react/package.json.ejs
  test-integration/scripts/22-tests-frontend.sh
Labels: ready-to-merge-on-ci-pass

#8513 Angular: Unify Principal and Account Service
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/principal.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access-service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/index.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/language/language.helper.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-account.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-principal.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/test.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/no-pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
  test/utils/expected-files.js
Labels: needs-change

#8857 CI: add websocket to Azure builds
  azure-pipelines.yml
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
Labels: bug-fix

#8864 Fix JIB integration www folder issue
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/common/templates/README.md.ejs
  generators/docker-base.js
  generators/docker-utils.js
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: ready-to-merge-on-ci-pass
