Repository jhipster/generator-jhipster, pull requests merged in 2018-12, with the labels that each got.

#8919 exclude .h2.server.properties from devtools restart
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: ready-to-merge-on-ci-pass

#8907 Upgrade spring-boot version to 2.0.7.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: ready-to-merge-on-ci-pass

#8879 The docker image for elasticsearch 5.6.5 seems to be not available on…
  generators/generator-constants.js
Labels: ready-to-merge-on-ci-pass

#8901 Fix NPE when map users without Authorities - Improve UserMapper
  generators/server/files.js
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIntTest.java.ejs
Labels: needs-testing

#8948 Bumped yarn version
  generators/generator-constants.js
Labels: ready-to-merge-on-ci-pass

#8958 Fix regression with prettier transform after the move to common subgen in 5.7.1
  generators/common/files.js
  generators/common/index.js
  test/app.spec.js
Labels: bug-fix, major :star:

#8931 Pass 'client-hook' option to common blueprint
  generators/common/index.js
Labels: blueprint :paw_prints:

#8979 change APP_LOCAL_DATETIME_FORMAT constant
  generators/client/templates/react/src/main/webapp/app/config/constants.ts.ejs
Labels: needs-review, needs-testing

#8865 Use table name for constraints and join tables
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
Labels: needs-testing
