Repository jhipster/generator-jhipster, pull requests merged in 2018-05, with the labels that each got.

#7416 change dbtype from timestamp to datetime for mysql
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: needs-testing

#7564 React: refactor header
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/account.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/entities.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/index.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/menus/locale.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/header/menus/account.spec.tsx.ejs
  generators/generator-base.js
Labels: React, needs-testing

#7587 fix admin menu in case of not using h2
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
Labels: ready-to-merge

#7584 Remove useless Moment locales from production build
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/generator-base-private.js
  generators/languages/index.js
Labels: angular-X

#7538 Add redirect for Ionic and custom URL scheme
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/server/templates/README.md.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: ready-to-merge

#7406 Fix routing issues in admin module (user management, audit)
  generators/client/templates/angular/src/main/webapp/app/admin/admin.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/audits/audits.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: needs-testing

#7642 React: remove (to-be) deprecated lifecycle functions
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/logout.tsx.ejs
Labels: needs-testing
