Repository jhipster/generator-jhipster, pull requests merged in 2018-02, with the labels that each got.

#7057 Cache evict and email login
  generators/server/templates/src/main/java/package/repository/_UserRepository.java
  generators/server/templates/src/main/java/package/security/_DomainUserDetailsService.java
  generators/server/templates/src/main/java/package/service/_UserService.java
  generators/server/templates/src/test/java/package/security/_DomainUserDetailsServiceIntTest.java
Labels: v5

#6970 upgrading consul to 1.0.2
  generators/generator-constants.js
Labels: microservice, v5

#6805 Use Pageable in many-to-many relationship
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/_EntityRepository.java
  generators/entity-server/templates/src/main/java/package/service/_EntityService.java
  generators/entity-server/templates/src/main/java/package/service/impl/_EntityServiceImpl.java
  generators/entity-server/templates/src/main/java/package/web/rest/_EntityResource.java
  generators/entity-server/templates/src/test/java/package/web/rest/_EntityResourceIntTest.java
Labels: needs-unit-tests

#7134 Enable fullTemplateTypeCheck for angular compiler
  generators/client/templates/angular/_package.json
  generators/client/templates/angular/_tsconfig-aot.json
Labels: angular-X, v5

#7148 Log an error in browser console when access to route is denied
  generators/client/templates/angular/src/main/webapp/app/core/auth/_user-route-access-service.ts
Labels: angular-X, enhancement, v5

#7026 add grafana with pre-configured dashboard view and few refactoring updates
  generators/docker-prompts.js
  generators/generator-constants.js
  generators/kubernetes/files.js
  generators/kubernetes/index.js
  generators/kubernetes/prompts.js
  generators/kubernetes/templates/_README-KUBERNETES.md
  generators/kubernetes/templates/_apply.sh
  generators/kubernetes/templates/_deployment.yml
  generators/kubernetes/templates/monitoring/_jhipster-grafana-dashboard.yml
  generators/kubernetes/templates/monitoring/_jhipster-grafana.yml
  generators/kubernetes/templates/monitoring/_jhipster-prometheus-cr.yml
  generators/kubernetes/templates/monitoring/_jhipster-prometheus-crd.yml
  generators/kubernetes/templates/monitoring/_jhipster-prometheus-sm.yml
  test/kubernetes.spec.js
Labels: v5
