Repository jhipster/generator-jhipster, pull requests merged in 2018-08, with the labels that each got.

#8068 Fix native language for MongoDB and Couchbase
  generators/server/templates/src/main/java/package/config/dbmigrations/InitialSetupMigration.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__anonymoususer.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__system.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
Labels: bug-fix

#7981 React: refactor the way relations are handled
  generators/client/templates/react/src/main/webapp/app/shared/util/entity-utils.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/util/entity-utils.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: needs-testing

#8069 Move to Terser plugin instead of UglifyJS
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
Labels: needs-testing

#8061 update css to match new SonarQube css rules
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar.css.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.css.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.css.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.css.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.scss.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/password/password-strength-bar.css.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/password/password-strength-bar.scss.ejs
Labels: bounty, needs-change

#8058 Fix missing parameter when skipping server
  generators/app/index.js
  generators/client/index.js
Labels: bounty

#8101 add faSortUp and faSortDown icons
  generators/client/templates/angular/src/main/webapp/app/vendor.ts.ejs
Labels: ready-to-merge-on-ci-pass

#8098 fix ##8052 remove prometheus and graphite reporter dependencies
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/graphite.gradle.ejs
  generators/server/templates/gradle/prometheus.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: bounty-request

#8112 Webpack polish
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
Labels: React, angular-X

#8081 update gradle prod profile with h2 testCompile dependency
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: bounty-request

#8178 set default clientRootFolder for microservice entities
  generators/entity/index.js
Labels: bounty-request

#8187 add missing constraint for oauth apps
  generators/server/files.js
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/users_authorities.csv.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIntTest.java.ejs
Labels: bounty-request

#8053 Update spring-boot to 1.5.15.RELEASE (spring-platform Brussels-SR12)
  generators/server/templates/_gradle.properties
  generators/server/templates/_pom.xml
Labels: v4

#8171 replace custom liquibase integration with official liquibase gradle plugin
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/liquibase.gradle.ejs
  test/utils/expected-files.js
Labels: gradle

#8082 Fix oauth redirect issue
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/auth/private-route.spec.tsx.ejs
Labels: React, bounty-request

#8110 Create delete method in protractor test
  generators/client/templates/react/src/test/javascript/e2e/util/utils.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: work-in-progress
