Repository jhipster/generator-jhipster, pull requests merged in 2019-04, with the labels that each got.

#9094 Add automated travis test for @MapsId
  .travis.yml
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/data/table.csv.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  test-integration/samples/.jhipster/MapsIdChildEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdChildEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdParentEntityWithDTO.json
  test-integration/samples/.jhipster/MapsIdParentEntityWithoutDTO.json
  test-integration/samples/.jhipster/MapsIdUserProfileWithDTO.json
  test-integration/samples/ngx-psql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/ngx-psql-es-noi18n/.yo-rc.json
  test-integration/scripts/11-generate-entities.sh
Labels: enhancement, needs-testing

#9525 Update to Gradle 5.3.1
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.jar
  generators/server/templates/gradle/wrapper/gradle-wrapper.properties
  generators/server/templates/gradlew
  generators/server/templates/gradlew.bat
Labels: gradle

#9530 angular: fix async tests
  generators/client/templates/angular/src/test/javascript/spec/app/admin/audits/audits.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
Labels: angular, bug-fix

#9365 Uniformize Kubernetes api versions
  generators/docker-prompts.js
  generators/generator-constants.js
  generators/kubernetes-base.js
  generators/kubernetes-helm/files.js
  generators/kubernetes-helm/index.js
  generators/kubernetes-helm/templates/app/Chart.yml.ejs
  generators/kubernetes-helm/templates/csvc/Chart.yml.ejs
  generators/kubernetes/index.js
  generators/kubernetes/templates/console/jhipster-console.yml.ejs
  generators/kubernetes/templates/console/jhipster-dashboard-console.yml.ejs
  generators/kubernetes/templates/console/jhipster-elasticsearch.yml.ejs
  generators/kubernetes/templates/console/jhipster-logstash.yml.ejs
  generators/kubernetes/templates/console/jhipster-zipkin.yml.ejs
  generators/kubernetes/templates/console/logstash-config.yml.ejs
  generators/kubernetes/templates/db/couchbase.yml.ejs
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
  generators/kubernetes/templates/db/mariadb.yml.ejs
  generators/kubernetes/templates/db/mongodb.yml.ejs
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/istio/destination-rule.yml.ejs
  generators/kubernetes/templates/istio/gateway.yml.ejs
  generators/kubernetes/templates/istio/virtual-service.yml.ejs
  generators/kubernetes/templates/messagebroker/kafka.yml.ejs
  generators/kubernetes/templates/monitoring/jhipster-grafana-dashboard.yml.ejs
  generators/kubernetes/templates/monitoring/jhipster-grafana.yml.ejs
  generators/kubernetes/templates/monitoring/jhipster-prometheus-cr.yml.ejs
  generators/kubernetes/templates/monitoring/jhipster-prometheus-crd.yml.ejs
  generators/kubernetes/templates/namespace.yml.ejs
  generators/kubernetes/templates/registry/application-configmap.yml.ejs
  generators/kubernetes/templates/registry/consul-config-loader.yml.ejs
  generators/kubernetes/templates/registry/consul.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  generators/kubernetes/templates/secret/jwt-secret.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
  generators/openshift/index.js
  generators/openshift/templates/db/cassandra.yml.ejs
  generators/openshift/templates/db/couchbase.yml.ejs
  generators/openshift/templates/db/elasticsearch.yml.ejs
  generators/openshift/templates/db/mariadb.yml.ejs
  generators/openshift/templates/db/mongodb.yml.ejs
  generators/openshift/templates/db/mysql.yml.ejs
  generators/openshift/templates/db/postgresql.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/openshift/templates/messagebroker/kafka.yml.ejs
  generators/openshift/templates/monitoring/jhipster-metrics.yml.ejs
  generators/openshift/templates/monitoring/jhipster-monitoring.yml.ejs
  generators/openshift/templates/registry/application-configmap.yml.ejs
  generators/openshift/templates/registry/consul.yml.ejs
  generators/openshift/templates/registry/jhipster-registry.yml.ejs
  generators/openshift/templates/scc/scc-config.yml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  test/templates/compose/03-psql/src/main/docker/app.yml
Labels: $100, kubernetes

#9532 Bump angular dependencies
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/angular/tslint.json.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
Labels: angular

#9582 Update to Gradle 5.4
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.properties
  generators/server/templates/gradlew
Labels: gradle

#9581 Gradle - Remove workaround for long paths at Windows
  generators/server/templates/build.gradle.ejs
Labels: gradle

#9539 Switch to OpenJDK11
  .travis.yml
  Dockerfile
  azure-pipelines.yml
Labels: Continuous Integration, on-hold

#9596 Fix UAA for noi18n gateway
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
Labels: bug-fix, ready-to-merge-on-ci-pass

#9565 Fix Regex with escaped content is stripped #9559
  generators/entity-client/templates/react/src/main/webapp/app/entities/react_validators.ejs
Labels: bug-fix, ready-to-merge-on-ci-pass

#8480 Improve Feign experience
  generators/aws/lib/s3.js
  generators/client/prompts.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/FeignConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AuditResourceIT.java.ejs
Labels: needs-review, on-hold

#9574 Enable blueprint to define custom subgenerator
  cli/commands.js
  cli/utils.js
  test/cli/cli.spec.js
Labels: blueprint :paw_prints:, enhancement

#9607 Prevent error while looking for custom command within blueprint
  cli/commands.js
  test/cli/cli.spec.js
Labels: blueprint :paw_prints:, ready-to-merge-on-ci-pass

#9599 React: fix label for, to allow focus
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: bug-fix, react

#9621 fix decimal fake-data column type
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: ready-to-merge-on-ci-pass

#9628 k8s: fix PostgreSQL username
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
Labels: kubernetes

#9633 Fix skipUserManagement tests on monolith
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: bug-fix

#9637 use junit platform
  generators/server/templates/build.gradle.ejs
Labels: gradle

#9636 update gradle to 5.4.1
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.jar
  generators/server/templates/gradle/wrapper/gradle-wrapper.properties
  generators/server/templates/gradlew
  generators/server/templates/gradlew.bat
Labels: gradle
