Repository jhipster/generator-jhipster, pull requests merged in 2019-05, with the labels that each got.

#9644 Improve OAuth2 user tests
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: ready-to-merge-on-ci-pass

#9519 Liquibase 3.6.3
  generators/server/templates/pom.xml.ejs
Labels: ready-to-merge-on-ci-pass

#9673 Fix postinstall for webdriver-manager with Windows
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
Labels: bug-fix

#9668 OAuth2: fix getCurrentUserLogin
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest.java.ejs
Labels: bug-fix

#9674 Fix session auth with skipUserManagement
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: bug-fix

#9688 Remove deprecated Dockerfile and migrate Jenkins and Gitlzb pipelines to jib
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/server/files.js
  generators/server/templates/src/main/docker/.dockerignore.ejs
  generators/server/templates/src/main/docker/Dockerfile.ejs
  generators/server/templates/src/main/docker/entrypoint.sh.ejs
  test/utils/expected-files.js
Labels: ready-to-merge-on-ci-pass

#9695 Override default hibernate version of liquibase-maven plugin
  generators/server/templates/pom.xml.ejs
Labels: bug-fix

#9669 generated java tests now passes with unique validation
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
  test-integration/samples/jdl-default/app.jdl
Labels: bug-fix, ready-to-merge-on-ci-pass

#9341 Add support for Couchbase relations
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity/prompts.js
  test/cli/import-jdl.spec.js
  test/templates/couchbase-with-relations/.yo-rc.json
  test/templates/documents-with-relations/orders-model.jdl
Labels: needs-change

#9705 Sync home page label with title for Myanmar language
  generators/languages/templates/src/main/webapp/i18n/my/home.json
Labels: ready-to-merge-on-ci-pass

#9711 Remove dead links in login modal for skipUserManagement
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
Labels: bug-fix

#9715 Elasticsearch: remove health check in dev
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: pr: bug-fix

#9725 Upgrade to Consul 1.5.0.
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#9724 angular: remove vendors chunk
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
Labels: pr: bug-fix, theme: angular

#9717 Upgrade jib to 1.2.0
  generators/common/templates/README.md.ejs
  generators/generator-constants.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/war.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: needs-review

#9730 fix react display of translated properties in option
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass

#9732 update gradle sonar plugin to 2.7.1
  generators/server/templates/build.gradle.ejs
Labels: pr: ready-to-merge-on-ci-pass, theme: gradle

#9731 add classpath jar creation for windows os
  generators/server/templates/build.gradle.ejs
Labels: pr: bug-fix, theme: gradle

#9734 Upgrade jacoco plugin to version 0.8.4
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#9737 Upgrade spring-boot version to 2.1.5.RELEASE
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#9648 Add no database option for Oauth2/OIDC apps
  generators/server/files.js
  generators/server/prompts.js
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: $100

#9744 Handle errors
  cli/utils.js
  generators/app/index.js
  generators/aws/index.js
  generators/entity/index.js
  generators/generator-base.js
  generators/languages/index.js
  generators/server/index.js
  package-lock.json
Labels: pr: bug-fix, status: major :star:

#9747 angular: fix toast alert
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass, theme: angular

#9704 Load fake blob data correctly
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/data/blob/hipster.png
  generators/entity-server/templates/src/main/resources/config/liquibase/data/blob/hipster.txt.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/data/table.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
Labels: pr: bug-fix, pr: needs-review

#9749 Updated the JCore dep to v3.6.14
  package-lock.json
  package.json
Labels: pr: ready-to-merge-on-ci-pass

#9741 Fix entities with mongo and elastic mapping, avoinding no associated …
  generators/server/templates/src/main/java/package/config/ElasticsearchConfiguration.java.ejs
Labels: pr: bug-fix, pr: needs-review, pr: needs-testing

#9585 Add possibility to also authenticate by Basic auth on JWT monoliths
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: needs-review

#9766 generate jacoco report for all test tasks
  generators/server/templates/gradle/sonar.gradle.ejs
Labels: theme: gradle

#9678 replace table with a message if table is empty in entities
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/audits/audits.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-i18n/templates/i18n/entity_al.json.ejs
  generators/entity-i18n/templates/i18n/entity_ar-ly.json.ejs
  generators/entity-i18n/templates/i18n/entity_bn.json.ejs
  generators/entity-i18n/templates/i18n/entity_by.json.ejs
  generators/entity-i18n/templates/i18n/entity_ca.json.ejs
  generators/entity-i18n/templates/i18n/entity_cs.json.ejs
  generators/entity-i18n/templates/i18n/entity_da.json.ejs
  generators/entity-i18n/templates/i18n/entity_de.json.ejs
  generators/entity-i18n/templates/i18n/entity_el.json.ejs
  generators/entity-i18n/templates/i18n/entity_en.json.ejs
  generators/entity-i18n/templates/i18n/entity_es.json.ejs
  generators/entity-i18n/templates/i18n/entity_et.json.ejs
  generators/entity-i18n/templates/i18n/entity_fa.json.ejs
  generators/entity-i18n/templates/i18n/entity_fr.json.ejs
  generators/entity-i18n/templates/i18n/entity_gl.json.ejs
  generators/entity-i18n/templates/i18n/entity_hi.json.ejs
  generators/entity-i18n/templates/i18n/entity_hu.json.ejs
  generators/entity-i18n/templates/i18n/entity_hy.json.ejs
  generators/entity-i18n/templates/i18n/entity_in.json.ejs
  generators/entity-i18n/templates/i18n/entity_it.json.ejs
  generators/entity-i18n/templates/i18n/entity_ja.json.ejs
  generators/entity-i18n/templates/i18n/entity_ko.json.ejs
  generators/entity-i18n/templates/i18n/entity_mr.json.ejs
  generators/entity-i18n/templates/i18n/entity_my.json.ejs
  generators/entity-i18n/templates/i18n/entity_nl.json.ejs
  generators/entity-i18n/templates/i18n/entity_pl.json.ejs
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
  generators/entity-i18n/templates/i18n/entity_pt-pt.json.ejs
  generators/entity-i18n/templates/i18n/entity_ro.json.ejs
  generators/entity-i18n/templates/i18n/entity_ru.json.ejs
  generators/entity-i18n/templates/i18n/entity_sk.json.ejs
  generators/entity-i18n/templates/i18n/entity_sr.json.ejs
  generators/entity-i18n/templates/i18n/entity_sv.json.ejs
  generators/entity-i18n/templates/i18n/entity_ta.json.ejs
  generators/entity-i18n/templates/i18n/entity_te.json.ejs
  generators/entity-i18n/templates/i18n/entity_th.json.ejs
  generators/entity-i18n/templates/i18n/entity_tr.json.ejs
  generators/entity-i18n/templates/i18n/entity_ua.json.ejs
  generators/entity-i18n/templates/i18n/entity_uz-Cyrl-uz.json.ejs
  generators/entity-i18n/templates/i18n/entity_uz-Latn-uz.json.ejs
  generators/entity-i18n/templates/i18n/entity_vi.json.ejs
  generators/entity-i18n/templates/i18n/entity_zh-cn.json.ejs
  generators/entity-i18n/templates/i18n/entity_zh-tw.json.ejs
Labels: area: enhancement :wrench:

#9776 Improving and adding missing translations
  generators/languages/templates/src/main/webapp/i18n/es/global.json.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9789 JAXB runtime must always be present in maven-compiler-plugin config when using JPA
  generators/server/templates/pom.xml.ejs
Labels: pr: bug-fix, theme: uaa

#9784 ignore collection helper method in DTO mapper
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
Labels: pr: bug-fix

#9783 Refactor command suggestion logic
  cli/utils.js
Labels: pr: needs-testing

#9765 Only show health details for admin user
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: pr: needs-testing

#9768 Angular relation required validation
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/errorhandler.interceptor.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
  package-lock.json
Labels: theme: angular

#9755 remove unused and confusing import
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
Labels: pr: needs-testing, theme: angular

#9800 angular: Improve login redirect handling
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access-service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.html.ejs
Labels: area: enhancement :wrench:, theme: angular

#9816 Update Node to 10.16.0
  .travis.yml
  Dockerfile
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#9828 Update traefik docker image to 1.7.12
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass
