Repository jhipster/generator-jhipster, pull requests merged in 2019-03, with the labels that each got.

#9355 Update Node to 10.15.2
  .travis.yml
  Dockerfile
  azure-pipelines.yml
  generators/generator-constants.js
Labels: ready-to-merge-on-ci-pass

#9385 Use Gradle 5 native BOM support
  generators/generator-base.js
  generators/server/needle-api/needle-server-gradle.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  test/needle-api/needle-server-gradle.spec.js
Labels: enhancement, gradle, v6

#9388 Convert gradle scripts to use only double quotes for consistency
  generators/gae/templates/gae.gradle.ejs
  generators/heroku/templates/heroku.gradle.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
  generators/server/templates/settings.gradle.ejs
Labels: gradle, v6

#9397 Change configuration of BOM import to platform to allow version overriding
  generators/server/templates/build.gradle.ejs
Labels: gradle, v6

#9389 Switch gradle node plugin and fix webpackBuildDev task to not execute if no client file has changed
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: gradle, v6

#9359 several relationship fixes for Angular forms
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/data/table.csv.ejs
Labels: angular

#9406 Change ts compilation target to es6 as default
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/tsconfig-aot.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/tsconfig.json.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
Labels: angular, react, v6, work-in-progress

#9445 fixing: I18n Placehoder key makes object from field key #9305
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.html.ejs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/languages/templates/src/main/webapp/i18n/al/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ar-ly/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/bn/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/by/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ca/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/cs/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/da/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/de/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/el/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/en/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fa/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/gl/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hi/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hu/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hy/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/it/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ko/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/mr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/my/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/nl/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pl/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-br/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-pt/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ro/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sk/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sv/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ta/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/th/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/tr/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ua/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-lat/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/vi/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-cn/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/global.json.ejs
Labels: angular, enhancement, react

#9449 Format logs in Json
  generators/server/templates/src/main/java/package/config/LoggingConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: enhancement, kubernetes, ready-to-merge-on-ci-pass, v6

#8389 Move react menus to layout folder
  generators/client/files-react.js
  generators/client/needle-api/needle-client-react.js
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/index.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/locale.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/menu-components.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/menu-item.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/menus/account.spec.tsx.ejs
  test/needle-api/needle-client-react.spec.js
Labels: react, v6

#9478 Remove AUTH2 classes not used.
  generators/cleanup.js
Labels: upgrade

#9464 change action from `dismiss` to `close`
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-active-modal.service.ts.ejs
Labels: angular

#9479 Fix lazy init bean with Gateway application
  generators/server/templates/src/main/java/package/config/lazy/LazyInitBeanFactoryPostProcessor.java.ejs
Labels: bug-fix, microservice

#9461 update helm generator for istio changes
  generators/kubernetes-helm/files.js
  generators/kubernetes-helm/templates/app/requirements.yml.ejs
  generators/kubernetes-helm/templates/app/values.yml.ejs
  generators/kubernetes-helm/templates/csvc/requirements.yml.ejs
  generators/kubernetes-helm/templates/csvc/values.yml.ejs
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  generators/kubernetes/files.js
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/istio/gateway/jhipster-console-gateway.yml.ejs
  generators/kubernetes/templates/istio/gateway/jhipster-grafana-gateway.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
Labels: kubernetes

#9423 Sonar properties
  generators/common/files.js
  generators/common/index.js
  generators/common/templates/README.md.ejs
  generators/common/templates/sonar-project.properties.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: work-in-progress

#9468 make eclipse remember the generated source folder
  generators/server/templates/build.gradle.ejs
Labels: gradle

#9481 disable lazy bean init to make hot reload via dev tools working again
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/lazy/LazyInitBeanFactoryPostProcessor.java.ejs
  test/utils/expected-files.js
Labels: bug-fix

#9444 Update node packages for React applications
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/config/websocket-middleware.ts.ejs
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/auth/private-route.spec.tsx.ejs
  generators/client/templates/react/tslint.json.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: react

#9369 Workaround for eclipse not activating dev profile by default and hence having issue #9175
  generators/server/templates/pom.xml.ejs
Labels: maven

#9460 Fix i18n templates path when using a blueprint
  generators/utils.js
Labels: blueprint :paw_prints:

#9420 Add bootswatch themes question
  generators/client/index.js
  generators/client/prompts.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/_bootstrap-variables.scss.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.scss.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
Labels: angular, react, v6
