Repository jhipster/generator-jhipster, pull requests merged in 2019-10, with the labels that each got.

#10526 Use new oracle driver package
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: java

#10546 Update spring-boot to 2.1.9.RELEASE, other dependencies and docker images
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, dependencies, pr: bug-fix

#10383 Use observables across Angular app
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access-service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/language/language.helper.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login-modal.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-account.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-login.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
Labels: theme: angular

#10167 Entity: Implement otherEntityFolderName
  generators/entity/index.js
Labels: theme: blueprint :paw_prints:

#10535 Faker: don't generate unnecessary column declaration for loading data
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: theme: faker.js

#10584 chore (ci) : Reduce default job timeout in github ci
  .github/workflows/applications.yml
  .github/workflows/generator.yml
Labels: pr: ready-to-merge-on-ci-pass

#10602 Microservices + Mongo : Maven (or gradle) build is broken
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10607 Update npm version to 6.12.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#10609 Reintroduce Couchbase Docker Start
  test-integration/scripts/20-docker-compose.sh
  test-integration/scripts/24-tests-e2e.sh
Labels: pr: ready-to-merge-on-ci-pass

#10307 Fix urls inconsistencies with entities
  generators/client/needle-api/needle-client-react.js
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  test/needle-api/needle-client-react.spec.js
Labels: area: enhancement :wrench:, theme: front

#10622 Added redis support for docker-compose generator
  generators/docker-base.js
  generators/docker-compose/index.js
Labels: pr: ready-to-merge-on-ci-pass

#10612 Add support to blueprint with peer dependency on generator-jhispter
  generators/generator-base-private.js
  test/blueprint/app-blueprint.spec.js
Labels: theme: blueprint :paw_prints:

#10628 Couchbase Container Increase Memory Quota
  generators/server/templates/src/test/java/package/config/DatabaseConfigurationIT.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10643 Update JIB version to 1.7.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#10665 fix gradlew wrapper script
  generators/server/templates/gradlew
Labels: pr: bug-fix, theme: gradle

#10666 chore: always use the latest JDK 11 release in generator tests
  .github/workflows/applications.yml
Labels: pr: ready-to-merge-on-ci-pass

#9663 New CLI flag to disable fake data generation
  generators/app/index.js
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity/index.js
  generators/server/index.js
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  test/entity.spec.js
  test/templates/psql-with-no-fake-data/.yo-rc.json
  test/utils/expected-files.js
Labels: theme: faker.js

#10703 fix encoding in .war file by addin web.xml to generated .war file
  generators/server/templates/gradle/war.gradle.ejs
Labels: pr: bug-fix, theme: gradle

#10705 Fix relationships with User for OAuth2 app
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
Labels: pr: bug-fix

#10699 fix remaining sonar bugs for mail templates
  generators/server/templates/src/main/resources/templates/error.html.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
Labels: theme: sonar
