Repository jhipster/generator-jhipster, pull requests merged in 2019-07, with the labels that each got.

#9874 Feign token refresh
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/security/SecurityUtils.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/AuthorizationHeaderUtil.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/JwtAuthorityExtractor.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/OAuthIdpTokenResponseDTO.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  test/utils/expected-files.js
Labels: pr: needs-testing, theme: OIDC/OAuth2, theme: microservice

#10017 CICD: polish GitLab CI
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9978 Move fake data to explicit 'fake-data' folder
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/blob/hipster.png
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/blob/hipster.txt.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/authorities.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/oauth_client_details.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/users.csv.ejs
  generators/server/templates/src/main/resources/config/liquibase/users_authorities.csv.ejs
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
Labels: theme: faker.js

#9937 Support multiple blueprints
  .github/FUNDING.yml
  cli/commands.js
  generators/app/index.js
  generators/cleanup.js
  generators/client/index.js
  generators/common/index.js
  generators/entity-client/index.js
  generators/entity-i18n/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base-blueprint.js
  generators/languages/index.js
  generators/server/index.js
  generators/spring-controller/index.js
  generators/spring-service/index.js
  generators/upgrade/index.js
  generators/utils.js
  test/blueprint/app-blueprint.spec.js
  test/blueprint/multiple-blueprints.spec.js
  test/blueprint/scoped-blueprint.spec.js
  test/cli/cli.spec.js
  test/upgrade.spec.js
  test/utils.spec.js
Labels: $$ bug-bounty $$, $200, theme: blueprint :paw_prints:

#10022 Update docker images version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: docker :whale:

#10024 Update NPM version to 6.9.2
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#10025 Use snapshot JHipster lib version 3.0.4-SNAPSHOT
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: server-side libraries

#10029 fix use of blueprint without skip-checks flag
  generators/app/index.js
Labels: pr: ready-to-merge-on-ci-pass, theme: blueprint :paw_prints:

#9895 [react] remove useless second /api/account call
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
Labels: theme: react

#10060 Update maven plugin versions
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: server-side libraries

#10061 Update com.github.node-gradle.node version to 1.5.1
  generators/server/templates/build.gradle.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: gradle, theme: server-side libraries

#9883 [React] Start to use Hooks (here in the header)
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
Labels: pr: needs-testing, theme: react

#9919 [React] Hooks (configuration component)
  generators/client/templates/react/src/main/webapp/app/modules/administration/configuration/configuration.tsx.ejs
Labels: theme: react

#9921 [React] Hooks (health and logs components)
  generators/client/templates/react/src/main/webapp/app/modules/administration/health/health.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/logs/logs.tsx.ejs
Labels: theme: react

#9964 [React] Hooks (activate component)
  generators/client/templates/react/src/main/webapp/app/modules/account/activate/activate.tsx.ejs
Labels: theme: react

#9965 [React] Hooks (settings component)
  generators/client/templates/react/src/main/webapp/app/modules/account/settings/settings.tsx.ejs
Labels: theme: react

#9966 [React] Hooks (metrics component)
  generators/client/templates/react/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
Labels: theme: react

#9929 [React] Hooks (user-management-detail component)
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
Labels: theme: react

#9938 [React] Hooks (user-management-delete-dialog and user-management-update components)
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-delete-dialog.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
Labels: theme: react

#9971 [React] Hooks (login component)
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
Labels: theme: react

#9972 [React] Hooks (app component)
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
Labels: theme: react

#9899 [React] Hooks (password and register components)
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/account/register/register.tsx.ejs
Labels: area: enhancement :wrench:, theme: react

#9975 [React] Hooks (audits component)
  generators/client/templates/react/src/main/webapp/app/modules/administration/audits/audits.tsx.ejs
Labels: theme: react

#9893 Use content as folder name instead of static
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/modules/home/home.scss.ejs
  generators/client/templates/react/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_0.svg
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_0_head-192.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_0_head-256.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_0_head-384.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_0_head-512.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_1.svg
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_1_head-192.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_1_head-256.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_1_head-384.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_1_head-512.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_2.svg
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_2_head-192.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_2_head-256.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_2_head-384.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_2_head-512.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_3.svg
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_3_head-192.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_3_head-256.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_3_head-384.png
  generators/client/templates/react/src/main/webapp/content/images/jhipster_family_member_3_head-512.png
  generators/client/templates/react/src/main/webapp/content/images/logo-jhipster.png
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: react

#9969 [React] Hooks (home component)
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
Labels: theme: react

#9924 [React] Hooks (password-reset-finish component)
  generators/client/templates/react/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
Labels: theme: react

#10058 Position ngbDropdown dynamically
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
Labels: area: enhancement :wrench:, theme: angular

#10072 Change hostname to "kafka"
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: kafka

#10103 Use sonarqube external conf file #10101
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/ci-cd/templates/travis.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10116 allow google fonts as style and font sources in csp
  generators/server/index.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: bug-fix

#10123 fix javadoc error
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10132 Update Docker images version
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10129 JHipster lib 3.0.3
  .travis.yml
  azure-pipelines.yml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10133 Update Jhipster-console to v4.1.0
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10054 [RFC] JHipster Kubernetes Operator #10053
  rfcs/1-jhipster-rfc-k8s-operator.md
Labels: area: rfc

#10134 consider build.gradle for up2date check
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: gradle

#10150 Update Consul version to 1.5.3
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10063 Remove sudo key value
  generators/ci-cd/templates/travis.yml.ejs
Labels: theme: Continuous Integration

#10165 Try to fix e2e for React
  generators/client/templates/react/package.json.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass, theme: react

#10156 Fix delete routerLink
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
Labels: theme: angular
