Repository jhipster/generator-jhipster, pull requests merged in 2019-06, with the labels that each got.

#9841 Compute default JAVA_HOME instead of hard-coding it when using JDK 11
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/01-display-configuration.sh
Labels: pr: ready-to-merge-on-ci-pass

#9833 Fix pagination
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/audits/audits.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: pr: bug-fix

#9802 fix duplicated routes when reimporting jdl
  generators/client/needle-api/needle-client-angular.js
Labels: pr: needs-review, pr: needs-testing, pr: ready-to-merge-on-ci-pass

#9855 Gradle - Use custom configuration to avoid launching the Spring Boot devtools when running tests
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: gradle

#9850 Set NG_CLI_ANALYTICS to false
  azure-pipelines.yml
Labels: pr: ready-to-merge-on-ci-pass, theme: Continuous Integration

#9866 fix user-management tests with react and cassandra
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9834 improve security headers
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9603 Reimporting jdl
  .vscode/launch.json
  cli/import-jdl.js
  test/cli/import-jdl.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#9879 Fix for the default CSS not loading on index.html
  generators/client/templates/react/src/main/webapp/index.html.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9794 UUID field type for sql databases
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/data/table.csv.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/entity/prompts.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  package-lock.json
  package.json
  test-integration/samples/.jhipster/BankAccount.json
  test-integration/samples/.jhipster/FieldTestEntity.json
  test-integration/samples/.jhipster/FieldTestInfiniteScrollEntity.json
  test-integration/samples/.jhipster/FieldTestMapstructEntity.json
  test-integration/samples/.jhipster/FieldTestPagerEntity.json
  test-integration/samples/.jhipster/FieldTestPaginationEntity.json
  test-integration/samples/.jhipster/FieldTestServiceClassEntity.json
  test-integration/samples/.jhipster/FieldTestServiceImplEntity.json
  test/templates/export-jdl/.jhipster/Employee.json
  test/templates/import-jdl/jdl.jdl
Labels: theme: faker.js

#9885 CICD: set NG_CLI_ANALYTICS to false
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/travis.yml.ejs
Labels: theme: Continuous Integration

#9886 use 'a user' instead of 'an user'
  generators/languages/templates/src/main/webapp/i18n/da/user-management.json
  generators/languages/templates/src/main/webapp/i18n/en/user-management.json
  generators/languages/templates/src/main/webapp/i18n/es/user-management.json
  generators/languages/templates/src/main/webapp/i18n/gl/user-management.json
  generators/languages/templates/src/main/webapp/i18n/hu/user-management.json
  generators/languages/templates/src/main/webapp/i18n/ja/user-management.json
  generators/languages/templates/src/main/webapp/i18n/ko/user-management.json
  generators/languages/templates/src/main/webapp/i18n/pt-pt/user-management.json
  generators/languages/templates/src/main/webapp/i18n/tr/user-management.json
Labels: pr: ready-to-merge-on-ci-pass

#9889 Entity: fix check of reserved word for field
  generators/entity/index.js
Labels: pr: ready-to-merge-on-ci-pass

#9892 Upgrade jhipster registry and lib
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9894 Update Docker images
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#9898 Use official adoptopenjdk docker image now that it is available from docker hub
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#9882 Switch eclipse to use new generated sources directory
  generators/server/templates/build.gradle.ejs
Labels: pr: needs-testing, theme: gradle

#9890 Loading of fake data
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/generator-base.js
  generators/server/needle-api/needle-server-liquibase.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
Labels: theme: faker.js

#9923 allow data uris as image source via csp
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: front, theme: java

#9918 Re-enable unit tests for upgrade subgenerator
  test/upgrade.spec.js
Labels: theme: upgrade

#9930 Update spring-boot to 2.1.6 and dependencies
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DefaultProfileUtil.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AuditResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: java, theme: server-side libraries

#9925 import mappings for zalando problem
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: area: bug :bug:, theme: openapi

#9984 use correct Spring profiles when building app with different Gradle profile
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass, theme: gradle

#9985 allow using Gradle project version in jib configuration
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle

#10009 Revert "improve performance"
  cli/cli.js
Labels: pr: bug-fix
