Repository jhipster/generator-jhipster, pull requests merged in 2019-08, with the labels that each got.

#10173 Update Node version to 10.16.1
  .travis.yml
  Dockerfile
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10151 Liquibase can use different credentials than the user applicative
  .travis.yml
  azure-pipelines.yml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
Labels: area: enhancement :wrench:, area: feature request :bulb:, pr: needs-review

#10085 Refactor to get PK type from single place
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/test.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-server/index.js
  generators/generator-base-private.js
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  test/generator-base-private.spec.js
Labels: pr: needs-review

#10183 [Angular] Add eventManager event unsubscriptions
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10204 disable logstash appender during tests
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#9691 Create correct data/column type when entity is associated with user using mapsid and is oauth
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/spec/app/entities/entity-reducer.spec.ts.ejs
  generators/entity-server/templates/src/main/java/package/common/save_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/reactive/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-base-private.js
  test-integration/scripts/11-generate-entities.sh
Labels: theme: OIDC/OAuth2

#9970 Add message when traefik is use with oauth2 and a link to documentation
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/docker-compose/index.js
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/docker-compose/templates/traefik/traefik.toml.ejs
Labels: theme: OIDC/OAuth2, theme: traefik

#10207 removed zuul proxy dependent files for gateways without service discovery
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10214 Update Docker images version
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10050 Remove trailing DTO from object name in validation messages
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorTestController.java.ejs
Labels: pr: bug-fix, pr: needs-change, theme: java

#10228 Updated the JCore dep to v4.3.0
  package-lock.json
  package.json
Labels: pr: ready-to-merge-on-ci-pass

#10224 In entity cleanup check if the application is an Angular application
  generators/entity/index.js
Labels: pr: ready-to-merge-on-ci-pass

#10230 Add csp header to allow data urls for image uploads
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10231 Fix UAA+Kafka integration tests
  generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT.java.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass

#10149 Remove mimemappings for skip-client app's WebConfigurer
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10236 Update Node version to 10.16.3 and Npm to 6.10.3
  .travis.yml
  Dockerfile
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10244 upgrade to gradle 5.6 and using plugin management
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.properties
  generators/server/templates/settings.gradle.ejs
Labels: theme: gradle

#10248 Update npm version to 6.11.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#10250 Update npm version to 6.11.1
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10154 Fix import angular service filename
  generators/entity-client/files.js
Labels: pr: ready-to-merge-on-ci-pass

#10252 Define Typescript aliases in a single place
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/angular/webpack/utils.js.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/react/webpack/utils.js.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#10268 Update npm version to 6.11.2
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10280 Update docker images version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: jhipster-internals

#10188 fix url inconsistencies between angular and react/vue
  generators/client/templates/angular/src/main/webapp/app/account/account.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/tracker/tracker.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/login/login.component.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/register-page.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/menus/account.spec.tsx.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#10278 Remove SonarQube analysis on PRs
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/travis.yml.ejs
Labels: theme: sonar

#10274 make service layer not depend on web layer
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/service/EmailAlreadyUsedException.java.ejs
  generators/server/templates/src/main/java/package/service/InvalidPasswordException.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/UsernameAlreadyUsedException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/package/ArchTest.java.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: java

#10254 angular: Bumped library versions, remove acorn dependency
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/vendor.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10293 Use xml format for Jacoco reports in Sonarqube
  generators/common/templates/README.md.ejs
  generators/common/templates/sonar-project.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: sonar

#10298 Use build directory to contain jest cache
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
Labels: theme: front

#10299 Fix typos in Infinispan property
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass, theme: infinispan

#10291 Add maven --no-transfer-progress option everywhere
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/circle.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/ci-cd/templates/travis.yml.ejs
  generators/docker-base.js
  generators/docker-utils.js
  generators/generator-base.js
  generators/heroku/templates/Procfile.ejs
  test-integration/scripts/10-install-jhipster.sh
Labels: area: enhancement :wrench:, theme: maven

#10297 update gradle to 5.6.1
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/wrapper/gradle-wrapper.properties
  generators/server/templates/gradlew
Labels: pr: ready-to-merge-on-ci-pass, theme: gradle

#10305 Remove CUSTOM_ELEMENTS_SCHEMA and fix error found after that
  generators/client/templates/angular/src/main/webapp/app/account/account.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/entity.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
Labels: area: bug :bug:, theme: angular

#10295 update eslint
  generators/aws-containers/aws-client.js
  package-lock.json
  package.json
  test/blueprint/multiple-blueprints.spec.js
Labels: area: enhancement :wrench:, theme: server-side libraries

#10310 Fix infinispan time-to-live-seconds default values and descriptions
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10309 Bump angular dependency versions
  generators/client/templates/angular/package.json.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10317 Remove redundant forRoot methods in Angular part
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared-libs.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10313 Inform user about git command failures
  generators/app/index.js
Labels: area: enhancement :wrench:, theme: cli

#10282 Add support for creating non-executable jar
  generators/generator-base.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: java

#10327 Update some dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: dependencies
