Repository jhipster/generator-jhipster, pull requests merged in 2019-01, with the labels that each got.

#8649 Feature: entity and dto suffix (#8647)
  generators/app/index.js
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_filtered_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_template.ejs
  generators/entity-server/templates/src/main/java/package/common/save_template.ejs
  generators/entity-server/templates/src/main/java/package/common/search_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/reactive/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIntTest.java.ejs
  generators/entity/index.js
  generators/generator-base.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/dbmigrations/InitialSetupMigration.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/package/service/MailService.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/vm/ManagedUserVM.java.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__anonymoususer.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__system.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0__create_indexes.n1ql.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIntTest.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIntTest.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIntTest.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIntTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIntTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIntTest.java.ejs
  test-integration/samples/ngx-default/.yo-rc.json
  test/entity.spec.js
  test/templates/entity-dto-suffixes/.yo-rc.json
Labels: needs-testing

#9016 Add needle and utility method for adding a gradle property
  generators/generator-base.js
  generators/server/templates/gradle.properties.ejs
Labels: gradle

#8909 #8801 : redirection to error with 404 if route doesn't exist
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.route.ts.ejs
  generators/languages/templates/src/main/webapp/i18n/al/error.json
  generators/languages/templates/src/main/webapp/i18n/ar-ly/error.json
  generators/languages/templates/src/main/webapp/i18n/bn/error.json
  generators/languages/templates/src/main/webapp/i18n/by/error.json
  generators/languages/templates/src/main/webapp/i18n/ca/error.json
  generators/languages/templates/src/main/webapp/i18n/cs/error.json
  generators/languages/templates/src/main/webapp/i18n/da/error.json
  generators/languages/templates/src/main/webapp/i18n/de/error.json
  generators/languages/templates/src/main/webapp/i18n/el/error.json
  generators/languages/templates/src/main/webapp/i18n/en/error.json
  generators/languages/templates/src/main/webapp/i18n/es/error.json
  generators/languages/templates/src/main/webapp/i18n/et/error.json
  generators/languages/templates/src/main/webapp/i18n/fa/error.json
  generators/languages/templates/src/main/webapp/i18n/fr/error.json
  generators/languages/templates/src/main/webapp/i18n/gl/error.json
  generators/languages/templates/src/main/webapp/i18n/hi/error.json
  generators/languages/templates/src/main/webapp/i18n/hu/error.json
  generators/languages/templates/src/main/webapp/i18n/hy/error.json
  generators/languages/templates/src/main/webapp/i18n/id/error.json
  generators/languages/templates/src/main/webapp/i18n/it/error.json
  generators/languages/templates/src/main/webapp/i18n/ja/error.json
  generators/languages/templates/src/main/webapp/i18n/ko/error.json
  generators/languages/templates/src/main/webapp/i18n/mr/error.json
  generators/languages/templates/src/main/webapp/i18n/my/error.json
  generators/languages/templates/src/main/webapp/i18n/nl/error.json
  generators/languages/templates/src/main/webapp/i18n/pl/error.json
  generators/languages/templates/src/main/webapp/i18n/pt-br/error.json
  generators/languages/templates/src/main/webapp/i18n/pt-pt/error.json
  generators/languages/templates/src/main/webapp/i18n/ro/error.json
  generators/languages/templates/src/main/webapp/i18n/ru/error.json
  generators/languages/templates/src/main/webapp/i18n/sk/error.json
  generators/languages/templates/src/main/webapp/i18n/sr/error.json
  generators/languages/templates/src/main/webapp/i18n/sv/error.json
  generators/languages/templates/src/main/webapp/i18n/ta/error.json
  generators/languages/templates/src/main/webapp/i18n/th/error.json
  generators/languages/templates/src/main/webapp/i18n/tr/error.json
  generators/languages/templates/src/main/webapp/i18n/ua/error.json
  generators/languages/templates/src/main/webapp/i18n/uz-lat/error.json
  generators/languages/templates/src/main/webapp/i18n/vi/error.json
  generators/languages/templates/src/main/webapp/i18n/zh-cn/error.json
  generators/languages/templates/src/main/webapp/i18n/zh-tw/error.json
Labels: needs-change

#9041 Bumped yarn version
  generators/generator-constants.js
Labels: ready-to-merge-on-ci-pass

#8925 angular: Lazy load entities
  generators/client/templates/angular/src/main/webapp/app/entities/entity.module.ts.ejs
  generators/client/templates/angular/tslint.json.ejs
  generators/entity-client/files.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.route.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/generator-base.js
  generators/utils.js
Labels: $100, angular, needs-testing

#9049 blueprint for languages sub generator
  generators/entity/prompts.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/languages/index.js
  generators/languages/prompts.js
  test/blueprint/languages-blueprint.spec.js
  test/utils/expected-files.js
Labels: blueprint :paw_prints:

#9070 angular: send objects instead of strings
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/generator-base.js
Labels: angular

#8934 Handle blueprint in upgrade subgenerator
  generators/upgrade/index.js
  test/upgrade.spec.js
Labels: blueprint :paw_prints:, needs-testing, upgrade

#9101 Speed up gradle build
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: gradle, v6

#9102 Fix CICD test folder and jenkins user
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
Labels: bug-fix

#8757 Add global logout for OIDC authentication
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/logout.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/protractor.conf.js.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/OAuth2SsoConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs
  generators/server/templates/src/test/java/package/web/rest/LogoutResourceIntTest.java.ejs
  test-integration/samples/README.md
Labels: needs-review

#9066 angular: add ngx-translate as dependency
  generators/client/templates/angular/package.json.ejs
Labels: angular, ng-jhipster

#9117 Bump angular versions
  generators/client/templates/angular/package.json.ejs
Labels: angular
