Repository jhipster/generator-jhipster, pull requests merged in 2019-02, with the labels that each got.

#9207 use underscore syntax to access command
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: ready-to-merge-on-ci-pass

#9222 Spring boot 2.1.0
  .travis.yml
  azure-pipelines.yml
  generators/cleanup.js
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/generator-base-private.js
  generators/generator-constants.js
  generators/heroku/templates/pom-profile.xml.ejs
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  generators/server/files.js
  generators/server/prompts.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/gradlew.bat
  generators/server/templates/mvnw.cmd
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/cassandra/scripts/autoMigrate.sh.ejs
  generators/server/templates/src/main/docker/elasticsearch.yml.ejs
  generators/server/templates/src/main/docker/entrypoint.sh.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/aop/logging/LoggingAspect.java.ejs
  generators/server/templates/src/main/java/package/config/AsyncConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/CacheFactoryConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/MetricsConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaWebSecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/config/cassandra/CassandraConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/lazy/LazyInitBeanFactoryPostProcessor.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/reactive/CustomReactiveN1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/reactive/ReactiveN1qlCouchbaseRepository.java.ejs
  generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/jib/entrypoint.sh.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs
  generators/server/templates/src/test/java/package/CassandraKeyspaceUnitTest.java.ejs
  generators/server/templates/src/test/java/package/config/CassandraTestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIntTest.java.ejs
  generators/server/templates/src/test/resources/cassandra-random-port.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test-integration/scripts/13-replace-version-generated-project.sh
  test-integration/scripts/20-no-memory-limit-elasticsearch.sh
  test/templates/ci-cd/maven-ngx-yarn/pom.xml
  test/utils/expected-files.js
  travis/samples/reactive-couchbase/.yo-rc.json
Labels: v6

#9154 Move client app to classpath:/public
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/WEB-INF/web.xml.ejs
  generators/client/templates/angular/tsconfig-aot.json.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/WEB-INF/web.xml.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/common/index.js
  generators/generator-base-private.js
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/.dockerignore.ejs
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
  test/utils/expected-files.js
Labels: v6

#9180 clean up gradle plugin application
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
Labels: gradle, v6

#9034 Change the packaging to jar and configure a war profile
  .travis.yml
  generators/aws/USAGE
  generators/aws/index.js
  generators/aws/lib/eb.js
  generators/aws/lib/s3.js
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/circle.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/ci-cd/templates/travis.yml.ejs
  generators/cloudfoundry/index.js
  generators/common/templates/README.md.ejs
  generators/docker-base.js
  generators/gae/USAGE
  generators/generator-base.js
  generators/heroku/USAGE
  generators/heroku/index.js
  generators/heroku/templates/Procfile.ejs
  generators/heroku/templates/heroku.gradle.ejs
  generators/heroku/templates/pom-profile.xml.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  test-integration/scripts/23-package.sh
  test-integration/scripts/24-tests-e2e.sh
Labels: ready-to-merge-on-ci-pass, v6

#9177 fixes #9086 'Wrong login URL when using OAuth2 and TLS'
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/docker-compose/index.js
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: ready-to-merge-on-ci-pass

#9166 Use updated dataUtils.setFileData() and handle returned promise
  generators/client/templates/angular/package.json.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity/prompts.js
  generators/generator-base.js
  test-integration/samples/README.md
Labels: angular, v6

#9098 enable html5-mode for angular and react
  generators/client/files-react.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/angular/src/main/webapp/manifest.webapp.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/routes.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/page-not-found.tsx.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/manifest.webapp.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/navbar-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/password-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/register-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/settings-page.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/entity-client/files.js
  generators/generator-base.js
  generators/internal/needle-api/needle-client-webpack.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/web/rest/ClientForwardController.java.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
  generators/server/templates/src/test/java/package/web/rest/ClientForwardControllerIT.java.ejs
Labels: needs-testing, v6

#9153 Use Angular reactive forms
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared-libs.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/login/login.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-update.component.spec.ts.ejs
Labels: angular, needs-change, v6

#9151 Fix react angular css api and needles
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/generator-base.js
  generators/internal/needle-api/needle-client-angular.js
  generators/internal/needle-api/needle-client-react.js
  test/needle-api/needle-base.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-react.spec.js
Labels: needs-unit-tests, v6

#9299 upgrade jest for v5.x
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
Labels: angular, react

#9193 Prevent wrong http code on empty body response
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: needs-review

#9253 Remove IE polyfills
  generators/client/templates/angular/src/main/webapp/app/polyfills.ts.ejs
Labels: angular, enhancement, needs-review

#9336 Update react dependencies
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
  generators/client/templates/react/src/main/webapp/app/index.tsx.ejs
  generators/client/templates/react/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/react/src/test/javascript/spec/app/config/notification-middleware.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/account/activate/activate.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/account/password/password.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/account/register/register.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/account/settings/settings.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/reducers/application-profile.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/reducers/authentication.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/reducers/user-management.spec.ts.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/entity-client/templates/react/src/test/javascript/spec/app/entities/entity-reducer.spec.ts.ejs
Labels: react

#9022 rewrite Entity equals and hashCode to fix #8656
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/server/templates/src/main/java/package/domain/Authority.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
Labels: needs-review

#9201 update gatling scripts to be compatible with gatling 3.x
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: v6
