Repository jhipster/generator-jhipster, pull requests merged in 2019-12, with the labels that each got.

#9983 [React] Hooks (Entity)
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-delete-dialog.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/index.tsx.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react

#10871 configure gradle git properties plugin to not fail on no git repo
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: pr: bug-fix, theme: gradle

#10878 Switch to jhipster bom version 3.0.8-SNAPSHOT
  .github/workflows/applications.yml
  azure-pipelines.yml
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies, theme: server-side libraries

#10879 Update yarn version to 1.19.2 and npm version to 6.13.2
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#10880 Update jib version to 1.8.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#10881 Update docker image version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: docker :whale:

#10882 Fix config server key in health check
  generators/languages/templates/src/main/webapp/i18n/al/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ar-ly/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/bn/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/by/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ca/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/cs/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/da/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/de/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/el/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/en/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fa/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/gl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hu/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hy/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/in/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/it/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ko/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/mr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/my/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/nl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-br/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-pt/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ro/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sk/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sv/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ta/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/te/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/th/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/tr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ua/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Cyrl-uz/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Latn-uz/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/vi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-cn/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/health.json.ejs
Labels: pr: bug-fix, theme: i18n

#10836 Strict option in home module in Angular
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/login/login.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10829 [Angular] Fix strict in account and audits module
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/audits/audits.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-account.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-language.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/test.module.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10835 Strict option in blocks folder in Angular
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/errorhandler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10886 Update spring-boot to 2.1.11 and other dependencies
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies, theme: server-side libraries

#10865 Strict option in user management in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-detail.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10763 enable UAA microservices w/o eureka
  generators/docker-compose/files.js
  generators/docker-compose/index.js
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
  generators/server/files.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaSignatureVerifierClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaTokenEndpointClient.java.ejs
  generators/server/templates/src/main/java/package/web/filter/RouteDetectorFilter.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: docker :whale:, theme: kubernetes, theme: uaa

#10842 Migrate problematic localization files on upgrade.
  generators/app/index.js
  generators/cleanup.js
  generators/generator-base-private.js
  generators/upgrade/index.js
Labels: theme: upgrade

#10894 Fix issue with fake data
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10900 Add Problem reusable definition to OAS
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: openapi

#10899 Add Basic auth to OAS for JWT monolith
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: openapi

#10896 change mssql image and increase sleep timeout
  generators/generator-constants.js
  generators/server/templates/src/main/docker/mssql.yml.ejs
  test/templates/compose/11-mssql/src/main/docker/mssql.yml
Labels: pr: ready-to-merge-on-ci-pass

#10904 Improve prettier
  generators/app/index.js
  generators/aws-containers/index.js
  generators/cloudfoundry/index.js
  generators/entity/index.js
  generators/entity/prompts.js
  generators/gae/index.js
  generators/generator-transforms.js
  generators/heroku/index.js
  generators/upgrade/index.js
  package-lock.json
  package.json
  test-integration/samples/ms-micro-eureka-jwt/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-jwt/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-oauth2/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-uaa/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-jwt/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-oauth2/.yo-rc.json
  test-integration/samples/ngx-default/.yo-rc.json
  test-integration/samples/ngx-gradle-fr/.yo-rc.json
  test-integration/samples/ngx-gradle-mariadb-oauth2-infinispan/.yo-rc.json
  test-integration/samples/ngx-gradle-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/ngx-gradle-psql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/ngx-gradle-yarn-h2disk-ws-nocache/.yo-rc.json
  test-integration/samples/ngx-h2mem-ws-nol2/.yo-rc.json
  test-integration/samples/ngx-mariadb-oauth2-infinispan/.yo-rc.json
  test-integration/samples/ngx-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/ngx-psql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/react-default/.yo-rc.json
  test-integration/samples/react-gradle-cassandra-session-redis/.yo-rc.json
  test-integration/samples/react-gradle-couchbase-caffeine/.yo-rc.json
  test-integration/samples/react-gradle-h2mem-memcached/.yo-rc.json
  test-integration/samples/react-gradle-psql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/react-maven-cassandra-session-redis/.yo-rc.json
  test-integration/samples/react-maven-couchbase-caffeine/.yo-rc.json
  test-integration/samples/react-maven-h2mem-memcached/.yo-rc.json
  test-integration/samples/react-maven-psql-es-noi18n-mapsid/.yo-rc.json
Labels: pr: bug-fix, theme: prettier

#10161 Entity: getEntityParentPathAddition don't considers paths with '..'
  generators/generator-base-private.js
  test/generator-base-private.spec.js
Labels: theme: blueprint :paw_prints:

#10897 Improve randexp usage in test data generation
  generators/entity-client/files.js
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: area: enhancement :wrench:, theme: faker.js, theme: tests

#10883 [Feature Request] Enable autoprefixer for component specific styles
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
Labels: area: enhancement :wrench:, theme: angular

#10911 Supported custom values for enums (front-end)
  generators/entity-client/templates/angular/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
  generators/utils.js
Labels: area: enhancement :wrench:, theme: JDL, theme: front

#10874 Strict Typescript option in logs module in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/logs/log.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.service.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10910 Strict Typescript option in gateway module in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.route.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10914 React dependency updates
  generators/client/templates/react/package.json.ejs
Labels: area: enhancement :wrench:, theme: dependencies, theme: react

#10893 Strict Typescript option in layouts in Angular
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/state-storage.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/language/language.helper.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login-modal.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/active-menu.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile-info.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-language.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-route.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-state-storage.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-tracker.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/test.module.ts.ejs
  generators/utils.js
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#10909 Strict Typescript option in health module in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/health/health-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10901 Strict Typescript option in shared module in Angular
  generators/client/templates/angular/src/main/webapp/app/blocks/config/prod.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/find-language-from-key.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/util/datepicker-adapter.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10873 Strict Typescript option in metrics module in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10917 Strict Typescript option in general test components in Angular
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-account.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-alert.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-login.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/spyobject.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10926 update npm to latest version
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass, theme: dependencies, theme: security

#10924 Add Support for [skip ci] and [ci skip] for GitHub Actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/applications.yml
  .github/workflows/generator.yml
  CONTRIBUTING.md
  generators/ci-cd/templates/github-ci.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#10809 Refactor Kafka generated code
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/config/KafkaProperties.java.ejs
  generators/server/templates/src/main/java/package/service/KafkaConsumer.java.ejs
  generators/server/templates/src/main/java/package/service/KafkaProducer.java.ejs
  generators/server/templates/src/main/java/package/web/rest/KafkaResource.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/web/rest/KafkaResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/utils/expected-files.js
Labels: theme: kafka

#10936 Remove prefix from DocsComponent in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.route.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10942 Bump angular dependencies
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
Labels: pr: ready-to-merge-on-ci-pass, theme: angular

#10949 Remove Gradle workaround for Windows
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle

#10950 Polish java imports
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/reactive/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
Labels: theme: java

#10952 Upgrade to jhipster-registry v6.0.1
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#10953 Add createDatabaseIfNotExist=true to the MySQL connection String
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  test/templates/compose/01-gateway/src/main/docker/app.yml
  test/templates/compose/02-mysql/src/main/docker/app.yml
  test/templates/compose/06-uaa/src/main/docker/app.yml
  test/templates/compose/08-monolith/src/main/docker/app.yml
  test/templates/compose/09-kafka/src/main/docker/app.yml
Labels: pr: ready-to-merge-on-ci-pass

#10954 CI-CD: disable flaky Protractor tests with React
  .github/workflows/react.yml
  azure-pipelines.yml
Labels: pr: ready-to-merge-on-ci-pass

#10420 Add Support For Thin Jars in GAE
  generators/gae/index.js
  generators/gae/templates/app.yaml.ejs
  generators/gae/templates/application-prod-gae.yml.ejs
  generators/gae/templates/gae.gradle.ejs
  generators/gae/templates/pom-gae-build-profile.xml.ejs
  generators/gae/templates/pom-plugin.xml.ejs
  generators/gae/templates/pom-profile.xml.ejs
  generators/server/templates/build.gradle.ejs
Labels: theme: GCP

#10972 Allow any characters in alert parameter
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#10938 Strict Typescript option in HTML templates in Angular
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
Labels: area: enhancement :wrench:, theme: angular

#10932 Strict Typescript option in configuration module in Angular
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.service.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10991 Switch on strict Typescript option in Angular
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/angular/tsconfig-aot.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tslint.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#10988 Fix infinite loop in session auth and improve UAA infinite loop prote…
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-session.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
Labels: pr: bug-fix, theme: angular

#10920 [RFC] JHipster companion sidecar app for administrators to manage JHipster apps
  rfcs/0-jhipster-rfc-template.md
  rfcs/1-jhipster-rfc-k8s-operator.md
  rfcs/2-jhipster-rfc-jhipster-control-center.md
Labels: area: rfc

#10982 Fix auto login in Angular for JWT, session and UAA authentication
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
Labels: pr: bug-fix, theme: angular

#10959 Fix entity pagination in Angular
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.component.spec.ts.ejs
Labels: pr: bug-fix, theme: angular

#10957 Add resource limits for Kubernetes specs
  generators/kubernetes/templates/console/jhipster-console.yml.ejs
  generators/kubernetes/templates/console/jhipster-dashboard-console.yml.ejs
  generators/kubernetes/templates/console/jhipster-logstash.yml.ejs
  generators/kubernetes/templates/console/jhipster-zipkin.yml.ejs
  generators/kubernetes/templates/db/couchbase.yml.ejs
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
  generators/kubernetes/templates/db/mariadb.yml.ejs
  generators/kubernetes/templates/db/mongodb.yml.ejs
  generators/kubernetes/templates/db/mssql.yml.ejs
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/kubernetes/templates/messagebroker/kafka.yml.ejs
Labels: area: enhancement :wrench:, pr: needs-manual-testing, theme: kubernetes

#10567 update to swagger ui 3
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
Labels: pr: needs-change

#10996 update no http plugin to 0.0.4
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: dependencies

#10941 Polish Angular templates
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/audits/audits.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/login/login.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/audits/audits.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/audits/audits.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-active-modal.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-event-manager.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-language.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-route.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/helpers/mock-state-storage.service.ts.ejs
  generators/client/templates/angular/webpack/utils.js.ejs
Labels: area: enhancement :wrench:, theme: angular

#10808 introduce dynamic storage provisioning in k8s sub-gen
  generators/kubernetes-base.js
  generators/kubernetes/index.js
  generators/kubernetes/prompts.js
  generators/kubernetes/templates/console/jhipster-elasticsearch.yml.ejs
  generators/kubernetes/templates/db/couchbase.yml.ejs
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
  generators/kubernetes/templates/db/mariadb.yml.ejs
  generators/kubernetes/templates/db/mongodb.yml.ejs
  generators/kubernetes/templates/db/mssql.yml.ejs
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/kubernetes/templates/db/postgresql.yml.ejs
  test/kubernetes.spec.js
Labels: theme: kubernetes

#10986 Migrate RandomUtil to JHipster Framework
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/util/RandomUtil.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  test/utils/expected-files.js
Labels: pr: needs-change

#10999 Optimize imports
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/ApplicationWebXml.java.ejs
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11000 Fix resolutions for React with Yarn
  generators/client/templates/react/package.json.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11002 Optimize code for ExceptionTranslator
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11003 Clean up the error.html page
  generators/server/templates/src/main/resources/templates/error.html.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11007 Formatted generator files with npm run lint-fix
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/react.yml
  .github/workflows/triage.yml
  rfcs/0-jhipster-rfc-template.md
  rfcs/1-jhipster-rfc-k8s-operator.md
  rfcs/2-jhipster-rfc-jhipster-control-center.md
Labels: pr: ready-to-merge-on-ci-pass

#11017 Fix maven build with NoSQL and OAuth2 options
  generators/server/templates/pom.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11018 Fix link for SonarCloud
  README.md
Labels: pr: ready-to-merge-on-ci-pass

#11022 Upgrade jhipster lib 3.1.0
  .github/workflows/angular.yml
  .github/workflows/react.yml
  azure-pipelines.yml
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11023 Revert UAA improvements
  generators/docker-compose/files.js
  generators/docker-compose/index.js
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
  generators/server/files.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaSignatureVerifierClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaTokenEndpointClient.java.ejs
  generators/server/templates/src/main/java/package/web/filter/RouteDetectorFilter.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11024 Upgrade to jhipster-registry v6.0.2
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#11054 Remove unused function and unnecessary eslint-disable from SpyObject …
  generators/client/templates/angular/src/test/javascript/spec/helpers/spyobject.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#11033 UAA Improvements / Docker Compose Fixes
  generators/docker-compose/files.js
  generators/docker-compose/index.js
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/service.yml.ejs
  generators/server/files.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaSignatureVerifierClient.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/UaaTokenEndpointClient.java.ejs
  generators/server/templates/src/main/java/package/web/filter/RouteDetectorFilter.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: pr: needs-manual-testing, pr: needs-review

#10664 Unify blueprint configuration
  generators/generator-base-blueprint.js
Labels: status: needs-discussion, theme: blueprint :paw_prints:

#11061 Polish SpyObject in Angular
  generators/client/templates/angular/src/test/javascript/spec/helpers/spyobject.ts.ejs
Labels: area: enhancement :wrench:, theme: angular
