Repository jhipster/generator-jhipster, pull requests merged in 2020-07, with the labels that each got.

#12022 Remove getAllJhipsterConfig.
  cli/import-jdl.js
  generators/ci-cd/index.js
  generators/client/index.js
  generators/cloudfoundry/index.js
  generators/docker-base.js
  generators/entity/index.js
  generators/gae/index.js
  generators/generator-base.js
  generators/heroku/index.js
  generators/languages/index.js
  generators/server/index.js
  generators/spring-controller/index.js
  generators/spring-service/index.js
  generators/utils.js
  test/templates/ngx-blueprint/.yo-rc.json
  test/utils.spec.js
  utils/jhipster6-mixin.js
Labels: 7.x, theme: jhipster-internals

#11894 cli/jdl: Try to download from samples repository version branch before master.
  cli/jdl.js
  test/cli/jdl.js
Labels: theme: JDL, theme: cli

#12018 Support Custom Instance and RDS types in AWS
  generators/aws/index.js
  generators/aws/prompts.js
Labels: area: enhancement :wrench:, theme: aws

#12043 Remove side effect of mock dateTimeProvider
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
Labels: pr: bug-fix

#12021 Remove java8 support
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  test/templates/ci-cd/maven-ngx-yarn/pom.xml
Labels: 7.x, area: enhancement :wrench:, theme: java

#12075 Update liquibase version to 3.10.1
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12097 Update liquibase version to 4.0.0
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12100 Update NPM version to 6.14.6
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#12101 Fix duplicate user service import in update component for Vue app
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12102 Fix import service for Vue app
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12129 Revert "Update mcr.microsoft.com/mssql/server docker image version to…
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: dependencies

#12131 Revert "Update liquibase version to 4.0.0"
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass

#12124 Remove Prettier java option in favor of having it baseline
  generators/app/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/common/templates/.prettierrc.ejs
  generators/entity-server/templates/src/main/java/package/common/search_stream_template.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-defaults.js
  generators/server/templates/package.json.ejs
  test/generator-transform.spec.js
  test/needle-api/needle-server-cache.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#12133 Upgrade to Springfox v3 [merge after https://github.com/jhipster/jhipster/pull/764]
  generators/aws-containers/templates/application.template.yml.ejs
  generators/azure-spring-cloud/templates/pom-profile.xml.ejs
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile-info.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/robots.txt.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/application-profile.ts.ejs
  generators/client/templates/react/src/main/webapp/robots.txt.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/layout/header/header.spec.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/shared/reducers/application-profile.spec.ts.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/main/webapp/robots.txt.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
  generators/gae/templates/pom-profile.xml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/jhipster-registry.yml.ejs
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/UaaConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/config/apidoc/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/config/apidoc/SwaggerConfiguration.java.ejs
  generators/server/templates/src/main/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/static/microservices_index.html.ejs
  rfcs/1-jhipster-rfc-k8s-operator.md
  test/app.spec.js
  test/entity.spec.js
  test/templates/ci-cd/maven-ngx-yarn/pom.xml
  test/templates/compose/08-monolith/src/main/docker/app.yml
  test/templates/compose/09-kafka/src/main/docker/app.yml
  test/templates/compose/11-mssql/src/main/docker/app.yml
  test/templates/compose/12-oracle/src/main/docker/app.yml
Labels: 7.x, area: enhancement :wrench:, theme: openapi, theme: swagger

#12150 do not use dynamic property source in junit callbacks
  generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs
Labels: pr: bug-fix

#12152 update gradle plugins
  generators/server/templates/gradle.properties.ejs
Labels: theme: dependencies, theme: gradle

#12155 do not use dynamic property source in junit callbacks
  generators/server/templates/src/test/java/package/RedisTestContainerExtension.java.ejs
Labels: pr: bug-fix

#11857 Correct typos (breaking changes for v7)
  generators/client/index.js
  generators/common/index.js
  generators/statistics.js
Labels: 7.x

#12164 Update spring-boot to 2.2.9 and other dependencies
  generators/generator-constants.js
  generators/server/templates/checkstyle.xml.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  test/templates/ci-cd/maven-ngx-yarn/pom.xml
Labels: area: enhancement :wrench:, theme: dependencies
