Repository jhipster/generator-jhipster, pull requests merged in 2020-03, with the labels that each got.

#11397 adds PodAntiAffinity to k8s deployments
  generators/kubernetes/templates/deployment.yml.ejs
Labels: area: enhancement :wrench:, theme: cloud, theme: kubernetes

#11405 Use constants for liquibase version and liquibase DTD version
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11415 Fix Jib permissions to entrypoint
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: bug-fix, theme: docker :whale:

#11393 Pass filterPaths option to lookup
  cli/utils.js
  generators/generator-base-blueprint.js
Labels: changes: minor, theme: jhipster-internals

#11425 Update npm version to 6.14.2
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#11337 Implement output path customizer
  cli/cli.js
  cli/utils.js
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/index.js
  generators/client/needle-api/needle-client-angular.js
  generators/client/needle-api/needle-client-i18n.js
  generators/client/needle-api/needle-client-react.js
  generators/client/needle-api/needle-client.js
  generators/common/index.js
  generators/entity/index.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/languages/index.js
  generators/server/index.js
  generators/utils.js
  test/app-client-custom-path.spec.js
  test/blueprint/client-blueprint-custom-path.spec.js
  test/cli/cli.spec.js
  test/templates/blueprint-cli-shared/cli/sharedOptions.js
  test/templates/blueprint-cli-shared/generators/foo/index.js
  test/templates/blueprint-cli-shared/package.json
  test/templates/blueprint-cli/cli/sharedOptions.js
  test/templates/blueprint-cli/generators/foo/index.js
  test/utils/utils.js
Labels: theme: jhipster-internals

#11371 Use prettier-java for preformatting before writing disk
  generators/app/index.js
  generators/common/templates/.prettierrc.ejs
  generators/generator-base-private.js
  package-lock.json
  package.json
  test/app.spec.js
Labels: status: needs-discussion

#11395 Implement side-by-side blueprints.
  generators/generator-base-blueprint.js
  generators/generator-base-private.js
  generators/generator-base.js
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/common-blueprint.spec.js
  test/blueprint/entity-blueprint.spec.js
  test/blueprint/entity-client-blueprint.spec.js
  test/blueprint/entity-i18n-blueprint.spec.js
  test/blueprint/entity-server-blueprint.spec.js
  test/blueprint/languages-blueprint.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/blueprint/server-blueprint.spec.js
  test/blueprint/spring-controller-blueprint.spec.js
  test/blueprint/spring-service-blueprint.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-i18n.spec.js
  test/needle-api/needle-client-react.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/needle-api/needle-client.spec.js
  test/needle-api/needle-server-cache.spec.js
  test/needle-api/needle-server-gradle.spec.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/needle-server-logback-spring.spec.js
  test/needle-api/needle-server-maven.spec.js
  test/templates/fake-blueprint/generators/server/index.js
Labels: theme: blueprint :paw_prints:

#11394 Pass upgradeConfig prompt option on test
  test/upgrade.spec.js
Labels: theme: tests

#11433 Fix testsNeedCsrf variable
  generators/server/index.js
Labels: pr: ready-to-merge-on-ci-pass

#11434 Update docker sonarqube version to 8.2-community
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#11063 Remove spring security SecurityExpressionHandler for oauth2
  generators/cleanup.js
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/JwtGrantedAuthorityConverter.java.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: OIDC/OAuth2

#11309 update webpack.common.js.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11437 Fix CacheConfiguration with memcached for Microservice
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: pr: bug-fix

#11449 Remove dependency badge [ci skip]
  README.md
Labels: pr: ready-to-merge-on-ci-pass

#11439 Add R2DBC support
  generators/generator-constants.js
  generators/server/files.js
  generators/server/prompts.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/Authority.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentAuditEvent.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistenceAuditEventRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/AuditEventService.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AuditResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/AuditEventServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AuditResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/logback.xml.ejs
Labels: $$ bug-bounty $$, $200, theme: reactive ⚛️

#11492 Update dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: on-hold, theme: dependencies

#11478 Entity subgen: Refactoring of determination of entity key type
  generators/entity-client/index.js
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-detail.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/spec/app/entities/entity-reducer.spec.ts.ejs
  generators/entity-server/templates/src/main/java/package/common/save_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/generator-base-private.js
Labels: theme: jhipster-internals

#11511 update to gradle 6.3
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle

#11517 Don't format test logs to Json
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11521 null check on otherEntityRelationshipName
  generators/entity/index.js
Labels: pr: ready-to-merge-on-ci-pass

#11524 Update Spring boot to 2.2.6 and other dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies
