Repository jhipster/generator-jhipster, pull requests merged in 2020-06, with the labels that each got.

#11881 Upgrade jhipster dependencies 3.8.0
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#11885 Use jhipster dependencies master 3.9.0-SNAPSHOT
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#11888 neo4j: fix dependency error
  generators/server/templates/build.gradle.ejs
Labels: pr: bug-fix, theme: gradle, theme: neo4j

#11889 gradle: update to 6.5
  generators/generator-constants.js
Labels: theme: gradle

#11770 Create command for creating sample application.
  cli/cli.js
  cli/commands.js
  cli/import-jdl.js
  cli/jdl.js
  cli/utils.js
  generators/app/index.js
  generators/generator-base-blueprint.js
  generators/heroku/index.js
  generators/upgrade-config/index.js
  generators/upgrade/index.js
  package-lock.json
  package.json
  test/cli/cli-utils.spec.js
  test/cli/cli.spec.js
  test/cli/import-jdl.spec.js
  test/cli/jdl.js
  test/heroku.spec.js
  test/utils/utils.js
Labels: pr: needs-change

#11619 Revert "Remove es2015 from Webpack Configuration"
  generators/client/templates/angular/webpack/webpack.common.js.ejs
Labels: theme: angular

#11683 [SpringBoot 2.3] Upgrade to Spring Data Elasticsearch 4.0 and Elasticsearch 7.6
  generators/cleanup.js
  generators/generator-constants.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/java/package/config/ElasticsearchConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestConfiguration.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/heroku.spec.js
  test/templates/compose/03-psql/src/main/docker/app.yml
  test/utils/expected-files.js
Labels: theme: elasticsearch

#11907 Remove redundant genDir from angularCompilerOptions
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#11911 Remove unused variable path from Webpack prod config
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#11715 support okta as oicd provider when deploying to heroku
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/provision-okta-addon.sh.ejs
  test/heroku.spec.js
Labels: $$ bug-bounty $$, $300, theme: heroku

#11913 Fix jhipster cli not passing fromCli option.
  cli/cli.js
  cli/utils.js
  test/cli/cli-utils.spec.js
  test/cli/cli.spec.js
Labels: pr: bug-fix

#11890 Fix addIcon needle function generating double comma
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/icons/font-awesome-icons.ts.ejs
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass

#11919 make Heroku sub generator blueprint aware
  generators/heroku/index.js
Labels: theme: blueprint :paw_prints:, theme: heroku

#11921 Fix helm requirements
  generators/kubernetes-helm/files.js
  test/kubernetes.helm.spec.js
Labels: theme: kubernetes

#11948 set reactive option for open api generator in gradle
  generators/server/templates/gradle/swagger.gradle.ejs
Labels: pr: bug-fix

#11887 Add info on Disabling .gcloudignore file Generation
  generators/gae/index.js
Labels: area: bug :bug:, area: documentation:books:, theme: GCP

#11915 Add dependabot.yml file for automatic version upgrades [ci skip]
  .github/dependabot.yml
Labels: area: enhancement :wrench:, theme: dependencies

#11712 Provide memcached and redis support for heroku
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
Labels: theme: heroku

#11923 Fix/flaky react protractor
  generators/client/templates/react/src/test/javascript/e2e/modules/account/account.spec.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity.spec.ts.ejs
Labels: theme: react, theme: tests

#11974 fix gradle docker-push for non-docker environments
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
Labels: pr: bug-fix

#11973 Change Logic Concerning dependabot CI Skipping
  .github/dependabot.yml
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
Labels: area: bug :bug:, theme: dependencies

#11995 update jib plugins to 2.4.0
  generators/generator-constants.js
Labels: theme: dependencies

#11994 update neo4j image to 4.1.0
  generators/generator-constants.js
Labels: theme: neo4j

#11969 Add Microservice Support for GAE sub-generator
  generators/gae/index.js
  generators/gae/templates/application-prod-gae.yml.ejs
  generators/gae/templates/dispatch.yaml.ejs
Labels: area: enhancement :wrench:, theme: gae

#12008 Upgrade to jhipster-registry v6.3.0
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#12009 Upgrade jhipster dependencies 3.9.0
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#12010 Attempt to Skip Azure Pipelines for Dependabot
  azure-pipelines.yml
Labels: pr: ready-to-merge-on-ci-pass, theme: dependencies

#11871 [SpringBoot 2.3] Change kubernetes probes and define graceful shutdown
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: area: enhancement :wrench:, theme: kubernetes
