Repository jhipster/generator-jhipster, pull requests merged in 2020-10, with the labels that each got.

#12642 Replace hard coded server port in gatling simulation files
  generators/entity-server/templates/src/test/gatling/user-files/simulations/EntityGatlingTest.scala.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12660 Remove last Travis CI marks
  .prettierignore
  test-integration/scripts/00-init-env.sh
Labels: pr: ready-to-merge-on-ci-pass

#12663 restore faUserPlus import, align register icon across clients
  generators/client/templates/angular/src/main/webapp/app/core/icons/font-awesome-icons.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/icon-loader.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12664 [v6] Bump @types/enzyme to 3.10.7 for React apps
  generators/client/templates/react/package.json.ejs
  test/needle-api/needle-server-liquibase.spec.js
Labels: v6

#12672 Update jib version to 2.6.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12673 add RTL support for vue
  generators/client/templates/vue/src/main/webapp/app/locale/translation.service.ts.ejs
Labels: hacktoberfest, hacktoberfest-accepted, pr: bug-fix

#12647 chore : use `--no-install-recommends` flag to `apt-get` in dockerfile to save space
  Dockerfile
Labels: hacktoberfest, hacktoberfest-accepted

#12569 Add annotation to detect generated files
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-transforms.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/GeneratedByJHipster.java.ejs
  test/app.spec.js
  test/utils/expected-files.js
Labels: hacktoberfest, hacktoberfest-accepted

#12692 Enable webflux tests for backend
  .github/workflows/webflux.yml
Labels: github_actions

#12706 Update sonarqube docker image version to 8.5.0-community
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies, theme: docker :whale:

#12646 Integrate scripts blueprint into generator-jhipster.
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12717 Update mapstruct version to 1.4.1.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12689 [webflux] remove unused functions
  generators/entity-server/templates/src/main/java/package/repository/EntityReactiveRepositoryInternalImpl.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: reactive ⚛️

#12726 [V6] Update consul-config-loader version to 0.4.1
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#12732 Update liquibase version to 4.1.1
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12750 Update jacoco version to 0.8.6
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: dependencies

#12760 Update docker image version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies, theme: docker :whale:

#12727 Replace moment by dayjs
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/date/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/duration.pipe.ts.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/DurationFormat.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/date-utils.ts.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/app/app.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/dayjs.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.service.spec.ts.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-constants.js
  generators/languages/index.js
  test/utils/expected-files.js
  test/vue.spec.js
Labels: theme: dependencies, theme: front

#12786 Improvements to writeFilesToDisk.
  .eslintignore
  .prettierignore
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/common/files.js
  generators/common/index.js
  generators/cypress/files.js
  generators/entity-client/files.js
  generators/entity-server/files.js
  generators/generator-base-blueprint.js
  generators/generator-base.js
  generators/page/files-vue.js
  generators/server/files.js
  generators/utils.js
  test/fixtures/renderContent/common/all.ejs
  test/fixtures/renderContent/common/common.ejs
  test/fixtures/renderContent/include.ejs
  test/fixtures/renderContent/include_common.ejs
  test/fixtures/renderContent/specific/all.ejs
  test/fixtures/writeFilesToDisk/templates/common/all.ejs
  test/fixtures/writeFilesToDisk/templates/common/common.ejs
  test/fixtures/writeFilesToDisk/templates/specific/all.ejs
  test/fixtures/writeFilesToDisk/templates/specific/specific.ejs
  test/fixtures/writeFilesToDisk/templates_override/specific/all.ejs
  test/generator-base.spec.js
  test/utils.spec.js
Labels: theme: blueprint :paw_prints:, theme: jhipster-internals

#12801 update gradle to latest version 6.7
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
Labels: pr: ready-to-merge-on-ci-pass, theme: dependencies

#12811 Allow generators/blueprints to force skipGeneratedFlag
  generators/generator-transforms.js
Labels: hacktoberfest-accepted

#12818 [angular] Remove deprecated functionality
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password-strength-bar.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/login/login-modal.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/login/login-modal.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-routing-resolve.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
Labels: area: enhancement :wrench:, theme: angular

#12825 Remove ESLint common config for Angular and React
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/common/.eslint.common.js.ejs
  generators/client/templates/react/.eslint.react.js.ejs
  generators/client/templates/react/.eslintrc.json.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#12826 Update lint-staged version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass

#12832 Update consul docker image version to 1.8.5
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies, theme: docker :whale:

#12835 [angular] Migrate from TSLint to ESLint
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/tslint.json.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#12845 [angular] Improve linting
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-detail.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-session.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/state-storage.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#10624 [angular] Switch to Angular CLI
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/needle-api/needle-client-webpack.js
  generators/client/needle-api/needle-client.js
  generators/client/templates/angular/.browserslistrc.ejs
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/ngsw-config.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/postcss.config.js.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/polyfills.ts.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/angular/src/test/javascript/jest-global-mocks.ts.ejs
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/angular/src/test/javascript/jest.ts.ejs
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/client/templates/angular/webpack/proxy.conf.js.ejs
  generators/client/templates/angular/webpack/utils.js.ejs
  generators/client/templates/angular/webpack/webpack.common.js.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/angular/webpack/webpack.dev.js.ejs
  generators/client/templates/angular/webpack/webpack.prod.js.ejs
  generators/generator-base-private.js
  generators/languages/index.js
  test/app-client-custom-path.spec.js
  test/app.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/utils/expected-files.js
Labels: 7.x, area: enhancement :wrench:, theme: angular

#12840 angular: manage auto unsubscriptions
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/base.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/base.directive.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: angular

#12863 Change generator to use jhipster-bom project
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: 7.x, area: enhancement :wrench:, theme: jhipster-lib

#12880 Stop exporting metrics through logback/logstash and remove DropWizard metrics dependency
  generators/server/templates/src/main/java/package/config/LoggingConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: 7.x, area: enhancement :wrench:, theme: dependencies, theme: jhipster-lib

#12879 Fixes to import-jdl unknown options.
  cli/cli.js
  cli/commands.js
  cli/jhipster-command.js
  generators/generator-base.js
Labels: pr: ready-to-merge-on-ci-pass

#12885 Remove hard coded in generator-base-private and add tests on it
  generators/generator-base-private.js
  test/enforcements.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#12889 Polish mainly Angular code using ESLint help
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/date/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.model.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/no-pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.service.spec.ts.ejs
  generators/generator-base-private.js
Labels: area: enhancement :wrench:, theme: angular, theme: react, theme:vue

#12883 fix testcontainers gradle integration when using sql and reactive
  generators/server/templates/build.gradle.ejs
Labels: area: bug :bug:, theme: gradle

#12901 Update docker images version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: docker :whale:

#12899 Update spring-boot version to 2.3.5 and other dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12910 [angular] Clean Angular
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/ng_validators.ejs
Labels: area: enhancement :wrench:, theme: angular

#12915 [angular] Add livenessState and readinessState to HealthKey type
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.service.ts.ejs
Labels: area: enhancement :wrench:, theme: angular
