Repository jhipster/generator-jhipster, pull requests merged in 2020-11, with the labels that each got.

#12924 [angular] Improve logs view
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#11926 Login page refactoring
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/login/login-modal.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
  test/utils/expected-files.js
Labels: 7.x, theme: front

#12937 [angular] Polish imports
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#12940 [angular] Tune login page responsiveness
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
Labels: area: enhancement :wrench:, theme: angular

#12939 Refactor angular folder structure
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/password/password.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/blocks/config/prod.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/authority.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/dayjs.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/error.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/font-awesome-icons.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/input.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/language.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/pagination.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/uib-pagination.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/auth.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/notification.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/request/request-util.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/request/request.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/find-language-from-key.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-routing.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/generator-base-private.js
  test/needle-api/needle-client-angular.spec.js
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#12943 [angular] Move authority enum to user folder and use this in models
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/password/password.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/account.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/authority.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-routing.module.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#12945 [angular] Remove model definitions from request-util
  generators/client/templates/angular/src/main/webapp/app/core/request/request-util.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#12952 [angular] Polish tests, css, webpack and tsconfig files
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/angular/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/angular/src/test/javascript/protractor.conf.js.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password-strength-bar.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/password/password.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/configuration/configuration.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/logs/logs.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert.component.spec.ts.ejs
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/client/templates/angular/webpack/proxy.conf.js.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
Labels: area: enhancement :wrench:, theme: angular

#12957 [angular] Use barrel for interceptors
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/index.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#12958 JDL: throw an error when uaaBaseName isn't present for uaa apps
  jdl/validators/application-validator.js
  test/jdl/validators/application-validator.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#12960 [angular] Use @angular-eslint/recommended
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#12956 [v6] - upgrade jhipster lib to 3.9.1
  generators/generator-constants.js
Labels: v6

#12964 Fix CI:e2e test generator
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/circle.yml.ejs
  generators/ci-cd/templates/github-ci.yml.ejs
  generators/ci-cd/templates/travis.yml.ejs
Labels: 7.x, pr: bug-fix, theme: CI builds

#12974 Fix tests for AccountResourceIT with Redis
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: v6

#12976 V6 - Update README [skip ci]
  README.md
Labels: v6

#12972 [vue] use default eslint for vue instead of tslint
  generators/client/files-vue.js
  generators/client/templates/vue/.eslintrc.js.ejs
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/locale/translation.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/jhi-item-count.vue.ejs
  generators/client/templates/vue/tslint.json.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: theme: front, theme:vue

#12980 Update bom version to 7.0.0-SNAPSHOT
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: jhipster-lib

#12986 Split UAA SecurityConfiguration in a distinct template
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_uaa.java.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12991 Fix npm test related to localeId
  generators/generator-defaults.js
Labels: pr: ready-to-merge-on-ci-pass

#12927 remove the sample Swagger UI request body if present fix #12412
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/vue/src/main/webapp/swagger-ui/index.html.ejs
Labels: pr: needs-change

#12738 Generate admin ui according to the flag value
  generators/client/files-angular.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/prompts.js
  generators/client/templates/angular/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/index.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/test/javascript/spec/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/router/admin.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/generator-defaults.js
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  test-integration/samples/ngx-gradle-h2disk-ws-nocache/.yo-rc.json
  test-integration/samples/ngx-h2mem-ws-nol2/.yo-rc.json
  test-integration/samples/react-gradle-h2mem-memcached/.yo-rc.json
  test-integration/samples/react-maven-h2mem-memcached/.yo-rc.json
  test-integration/samples/vue-ws-theme/.yo-rc.json
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/client-blueprint.spec.js
  test/blueprint/languages-blueprint.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/client.spec.js
  test/generator-base-private.spec.js
  test/generator-base.spec.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/exporters/jhipster-application-exporter.spec.js
  test/jdl/grammar/validator.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
  test/utils/expected-files.js
  test/vue.spec.js
Labels: $$ bug-bounty $$, $100

#13011 [vue] let dependabot manage some vue dependencies
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/generator-constants.js
Labels: theme: dependencies, theme:vue

#12736 [webflux] Re-enable blockhound and whitelist BoundedElasticScheduler.schedule
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/resources/META-INF/services/reactor.blockhound.integration.BlockHoundIntegration.ejs
Labels: theme: reactive ⚛️

#13033 Update spring-boot version to 2.3.6.RELEASE and other dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#13065 [angular] Use config similar to Angular strict mode
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-system/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.main.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/client/templates/angular/tsconfig.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#12872 Use ESLint Webpack plugin instead of eslint-loader
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/.eslintrc.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/locale.tsx.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  test/app-client-custom-path.spec.js
  test/app.spec.js
Labels: area: enhancement :wrench:, theme: angular, theme: react

#13075 [angular] Remove skipLibCheck from tsConfig
  generators/client/templates/angular/tsconfig.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#12869 [angular] Update Angular README
  generators/common/templates/README.md.ejs
Labels: theme: angular

#13085 Disable react eslint rule to fix Daily Build
  generators/client/templates/react/.eslintrc.json.ejs
Labels: pr: bug-fix, theme: react

#13083 [angular] Fix Protractor tests in Angular
  generators/client/templates/angular/tsconfig.json.ejs
Labels: pr: bug-fix, theme: angular

#13035 Angular 11 🔥
  generators/client/files-angular.js
  generators/client/templates/angular/package.json
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/duration.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/shared.module.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-date.pipe.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  test/utils/expected-files.js
Labels: $$ bug-bounty $$, $100

#13086 [angular] Add comment why need skipLibCheck if using Protractor
  generators/client/templates/angular/tsconfig.json.ejs
Labels: area: documentation:books:, theme: angular

#13076 [angular] Move emitDecoratorMetadata from tsConfig to tsConfig.spec
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#13092 [angular] Remove deprecated functionality
  generators/client/templates/angular/src/test/javascript/spec/app/shared/translate.directive.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13096 [angular] Add multiple subscription feature to event manager
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-manager.service.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/event-manager/event-manager.service.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13093 Remove lint-staged warning about git add
  generators/common/templates/.lintstagedrc.js.ejs
Labels: area: enhancement :wrench:

#13091 [angular] Remove core.module
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/core.module.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#13098 [angular] Clean app.module
  generators/client/files-angular.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#13099 [angular] Fix WebSockets in Browsersync
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
Labels: pr: bug-fix, theme: angular

#13107 [angular] Clean up csrf.service
  generators/cleanup.js
Labels: area: enhancement :wrench:, theme: angular

#13108 [angular] Fix csrf.service cleanup
  generators/cleanup.js
Labels: theme: angular

#13111 [angular] Reduce event manager importance and usage
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/event-manager/event-with-content.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/event-manager.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-delete-dialog.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/util/event-manager.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/no-pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/pagination-template.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-delete-dialog.component.spec.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#13113 [angular] Fix some sonar issues
  generators/client/templates/angular/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management-detail.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13118 [angular] Fix vendor and update @angular-builders
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/vendor.ts.ejs
  generators/client/templates/angular/src/main/webapp/main.ts.ejs
  generators/client/templates/angular/src/main/webapp/polyfills.ts.ejs
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/common/templates/README.md.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, pr: bug-fix, theme: angular

#13150 [angular] Revert using authorities as model and move config to root
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/password/password.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/authority.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/error.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/font-awesome-icons.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/input.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/language.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/pagination.constants.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/translation.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/uib-pagination.config.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/account.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/translate.directive.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-detail.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/admin/user-management/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/account.service.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/core/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-routing.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/spec/app/entities/entity-management.service.spec.ts.ejs
  generators/generator-base-private.js
  test/needle-api/needle-client-angular.spec.js
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#13149 [angular] Angular fixes and polishing, noticed while creating test refactor branch
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/duration.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-date.pipe.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/shared/translate.directive.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.ts.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, pr: bug-fix, theme: angular

#13151 Update NPM version to 6.14.9
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#13152 Update docker images version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: docker :whale:

#13044 Fixes to JDL annotation parsing
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  jdl/converters/json-to-jdl-entity-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.js
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.js
  jdl/models/jdl-relationship.js
  jdl/parsing/jdl-ast-builder-visitor.js
  jdl/parsing/jdl-parser.js
  jdl/validators/relationship-validator.js
  test/jdl/converters/JDLToJSON/jdl-to-json-relationship-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/converters/parsedJDLToJDLObject/relationship-converter.spec.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/models/jdl-relationship.spec.js
  test/jdl/test-files/annotations.jdl
  test/jdl/test-files/big_sample.jdl
  test/jdl/test-files/capitalized_annotations.jdl
  test/jdl/validators/relationship-validator.spec.js
Labels: pr: skip-ci, theme: JDL

#13154 [angular] Use linting rule @angular-eslint/relative-url-prefix
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular
