Repository jhipster/generator-jhipster, pull requests merged in 2020-08, with the labels that each got.

#12192 Call correct function for "account" column. Fixes #12190.
  generators/entity-server/templates/src/main/resources/config/liquibase/fake-data/table.csv.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12128 prevent leakage of technical details trough problem message
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: security

#12212 [angular] Fix: Using Event as an entity name results in a compile error
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12219 Update JIB version to 2.5.0
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12218 Update consul docker image version to 1.8.2
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12221 Update NPM version to 6.14.7
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12222 Update Docker images version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12223 Update git-commit-id-plugin version to 4.0.2
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#12224 check err before printing an invalid warning
  generators/heroku/index.js
Labels: pr: skip-ci, theme: heroku

#12225 remove invalid csp feature 'speaker'
  generators/server/templates/src/main/java/package/config/ReactiveSecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: skip-ci

#12267 Update NPM version to 6.14.8
  generators/generator-constants.js
Labels: area: enhancement :wrench:, theme: dependencies

#12239 prevent implementation details leakage via problem details
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: security

#12299 fix(entity-client): use React constants
  generators/entity-client/files.js
Labels: pr: ready-to-merge-on-ci-pass

#12318 Update Prettier 2.0.5 -> 2.1.1
  generators/client/templates/vue/package.json.ejs
  package-lock.json
  package.json
  test/needle-api/needle-server-liquibase.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#12328 [vue] Fix Languages don't appear with Vue and Internationalization #12322
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
Labels: pr: ready-to-merge-on-ci-pass

#12332 [vue] [webflux] Update workflow
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: pr: bug-fix, pr: ready-to-merge-on-ci-pass

#12335 [webflux] Fix r2dbc URL for H2 in memory database
  generators/generator-base-private.js
  test/generator-base-private.spec.js
Labels: pr: bug-fix, theme: reactive ⚛️

#12349 Merge release 6.10.1 to master
  package-lock.json
  package.json
Labels: pr: ready-to-merge-on-ci-pass

#12350 [v6] Missing release commit v6.10.1
  package-lock.json
  package.json
Labels: pr: ready-to-merge-on-ci-pass
