Repository jhipster/generator-jhipster, pull requests merged in 2020-02, with the labels that each got.

#11210 Add icon function to needle API and polish icons
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/angular/src/main/webapp/app/admin/audits/audits.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/core/icons/font-awesome-icons.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.component.html.ejs
  generators/generator-base.js
  generators/utils.js
  test/generator-base-private.spec.js
  test/needle-api/needle-client-angular.spec.js
Labels: area: enhancement :wrench:, theme: angular, theme: api, theme: front

#11190 Fix html lang and rtl on language change in Angular
  generators/cleanup.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/language/language.helper.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/test/javascript/spec/app/layouts/main/main.component.spec.ts.ejs
  test/app.spec.js
  test/utils/expected-files.js
Labels: pr: bug-fix, theme: angular

#11164 use Mono.error instead of throwing in flatmap
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: java

#11205 Fix needles with multiple lines in Windows if Git autocrlf is used
  generators/utils.js
Labels: pr: bug-fix, theme: api, theme: jhipster-internals, theme: windows

#11233 Upgrade jhipster dependencies to 3.4.0
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11234 Upgrade to jhipster-registry v6.1.1
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#11175 Remove HttpHeaders import for Cassandra
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
Labels: pr: bug-fix, theme: cassandra

#11166 Fixes initial schema creation fails with Oracle 18c XE
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11246 Update several dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: dependencies

#11248 CI: fix react build with missing webpack profile
  .github/workflows/react.yml
Labels: pr: ready-to-merge-on-ci-pass

#11152 Fix App Blueprint conflicts with multiples blueprints.
  generators/app/index.js
  test/blueprint/multiple-app-blueprints.spec.js
Labels: area: bug :bug:, theme: blueprint :paw_prints:

#11261 Revert "refactor: remove cassandra unit"
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs
  generators/server/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: pr: ready-to-merge-on-ci-pass

#11263 Switch to master branch of jhipster dependencies
  .github/workflows/angular.yml
  .github/workflows/react.yml
  azure-pipelines.yml
Labels: pr: ready-to-merge-on-ci-pass

#11050 use more Spring Security testing support
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/NoOpMailConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/OAuth2TestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AuditResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/WithUnauthenticatedMockUser.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorTestController.java.ejs
  test-integration/samples/webflux-mongodb-oauth2/.yo-rc.json
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: java, theme: tests

#11224 Fix issue #11222 : react in a few scenarios, the entity list page can invoke up to 4 calls to the backend API #11222
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: pr: bug-fix, theme: react

#11130 Openapi gen cli improvements
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/openapi-client/files.js
  generators/openapi-client/index.js
  generators/openapi-client/templates/.openapi-generator-ignore
  generators/openapi-client/templates/src/main/java/package/client/_ExcludeFromComponentScan.java
  generators/openapi-client/templates/swagger-codegen/libraries/spring-cloud/apiClient.mustache
  generators/openapi-client/templates/swagger-codegen/libraries/spring-cloud/clientConfiguration.mustache
  generators/server/templates/package.json.ejs
  package-lock.json
  package.json
  test/openapi-client.spec.js
  test/templates/openapi-client/monolith-simple/.yo-rc.json
Labels: area: enhancement :wrench:, theme: openapi

#11289 Add admin routing needle function
  generators/client/needle-api/needle-client-angular.js
  generators/generator-base.js
  test/needle-api/needle-client-angular.spec.js
Labels: pr: ready-to-merge-on-ci-pass

#11038 kustomize template support
  generators/kubernetes/files.js
  generators/kubernetes/index.js
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/kubernetes/templates/kustomize/patch/istio-label.yml.ejs
  generators/kubernetes/templates/kustomize/patch/istio-namespace.yml.ejs
  generators/kubernetes/templates/registry/consul.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  generators/kubernetes/templates/skaffold/skaffold.yml.ejs
Labels: area: enhancement :wrench:, theme: kubernetes

#11355 Use java bean method when fluent method is not available
  generators/entity-server/templates/src/main/java/package/common/save_template.ejs
Labels: pr: needs-review

#11313 Use yeoman-environment lookup features.
  azure-pipelines.yml
  cli/cli.js
  cli/commands.js
  cli/utils.js
  generators/app/index.js
  generators/generator-base-blueprint.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/utils.js
  package-lock.json
  package.json
  test/blueprint/app-blueprint.spec.js
  test/blueprint/scoped-blueprint.spec.js
  test/cli/cli-utils.spec.js
  test/cli/cli.spec.js
  test/templates/blueprint-cli/cli/commands.js
  test/templates/blueprint-cli/generators/foo/index.js
  test/templates/blueprint-cli/package.json
  test/templates/fake-blueprint/generators/server/index.js
  test/templates/fake-blueprint/package.json
  test/upgrade.spec.js
  test/utils/utils.js
Labels: theme: blueprint :paw_prints:, theme: jhipster-internals

#11277 cleanup entity integration tests template
  generators/entity-server/index.js
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
Labels: pr: needs-review

#11150 Add support to unifying blueprint config on upgrade
  cli/commands.js
  generators/upgrade-config/USAGE
  generators/upgrade-config/index.js
  generators/upgrade/index.js
  test/upgrade-config/blueprint-config-conflict-abort.spec.js
  test/upgrade-config/blueprint-config-conflict-choice.spec.js
  test/upgrade-config/blueprint-config-conflict-ignore.spec.js
  test/upgrade-config/blueprint-config.spec.js
Labels: theme: upgrade

#11218 Always define string enum for React
  generators/entity-client/templates/react/src/main/webapp/app/entities/enumerations/enum.model.ts.ejs
Labels: theme: react

#10912 Reproducible jdl
  cli/import-jdl.js
  test/cli/import-jdl.spec.js
Labels: area: enhancement :wrench:, theme: JDL, theme: tests

#11331 Upgrade cleanup
  generators/generator-base-private.js
  generators/generator-base.js
  generators/upgrade/index.js
  test/upgrade.spec.js
Labels: theme: upgrade

#11032 Use debug package
  generators/generator-base-private.js
  generators/generator-base.js
Labels: theme: jhipster-internals

#11385 Update bom to 3.5.0 & other dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#11392 Update yeoman-generator to 4.6.0 and yeoman-test to 2.2.0
  package-lock.json
  package.json
Labels: changes: minor, theme: dependencies

#11386 Update Liquibase version to 3.8.7
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/entity-server/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
Labels: area: enhancement :wrench:, theme: database, theme: dependencies

#11411 Update Spring boot version to 2.2.5
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies
