Repository jhipster/generator-jhipster, pull requests merged in 2021-02, with the labels that each got.

#13777 Protractor fix flaky tests
  generators/client/templates/angular/src/test/javascript/e2e/admin/administration.spec.ts.ejs
  generators/client/templates/angular/src/test/javascript/e2e/page-objects/jhi-page-objects.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/modules/administration/administration.spec.ts.ejs
  generators/client/templates/react/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
  generators/client/templates/vue/src/test/javascript/e2e/page-objects/signin-page.ts.ejs
Labels: pr: bug-fix

#13791 [angular] Polish angular entity update test
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13792 Update mapstruct version to 1.4.2.Final
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: dependencies

#13776 Change subscribeToSaveResponse to use finally for cleaning isSaving.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

#13809 Spring cloud config retry
  generators/aws-containers/index.js
  generators/aws-containers/templates/bootstrap-aws.yml.ejs
  generators/azure-spring-cloud/index.js
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/bootstrap-azure.yml.ejs
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/bootstrap-heroku.yml.ejs
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  generators/server/templates/src/test/resources/config/bootstrap.yml.ejs
  test/heroku.spec.js
  test/utils/expected-files.js
Labels: pr: bug-fix

#13812 Update NPM version to 7.5.2
  .github/workflows/angular.yml
  .github/workflows/generator.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: dependencies

#13798 generate random password for initial okta login with heroku
  generators/heroku/index.js
Labels: theme: Heroku

#13820 Fix Sonar Analysis for initializing HttpHeaders
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: changes: minor, theme: sonar

#13839 Fix toString in Criteria, as it is ignored by prettier [ci skip]
  generators/entity-server/templates/src/main/java/package/service/dto/EntityCriteria.java.ejs
Labels: changes: minor, theme: prettier

#13838 Fix getter and setter for entity patch
  generators/entity-server/templates/src/main/java/package/common/patch_template.ejs
Labels: pr: bug-fix

#13832 add neo4j transaction managers
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_neo4j.java.ejs
Labels: pr: bug-fix, theme: neo4j

#13863 Fix Neo4j Kubernetes YAML file
  generators/kubernetes/templates/db/neo4j.yml.ejs
Labels: pr: bug-fix, theme: kubernetes, theme: neo4j

#13870 [react] Fix Sonar properties
  generators/common/index.js
  generators/common/templates/sonar-project.properties.ejs
Labels: pr: bug-fix, theme: react

#13869 Use one template for client common files
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/templates/common/src/main/webapp/404.html.ejs
  generators/client/templates/common/src/main/webapp/WEB-INF/web.xml.ejs
  generators/client/templates/common/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/common/src/main/webapp/favicon.ico
  generators/client/templates/common/src/main/webapp/index.html.ejs
  generators/client/templates/common/src/main/webapp/robots.txt.ejs
  generators/client/templates/react/src/main/webapp/404.html.ejs
  generators/client/templates/react/src/main/webapp/WEB-INF/web.xml.ejs
  generators/client/templates/react/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/react/src/main/webapp/favicon.ico
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/client/templates/react/src/main/webapp/robots.txt.ejs
  generators/client/templates/vue/src/main/webapp/404.html.ejs
  generators/client/templates/vue/src/main/webapp/WEB-INF/web.xml.ejs
  generators/client/templates/vue/src/main/webapp/content/css/global.css.ejs
  generators/client/templates/vue/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/vue/src/main/webapp/content/css/rtl.css.ejs
  generators/client/templates/vue/src/main/webapp/content/css/vendor.css.ejs
  generators/client/templates/vue/src/main/webapp/favicon.ico
  generators/client/templates/vue/src/main/webapp/index.html.ejs
  generators/client/templates/vue/src/main/webapp/robots.txt.ejs
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular, theme: jhipster-internals, theme: react, theme: vue

#13868 start h2 console in reactive environments
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/resources/h2.server.properties.ejs
Labels: pr: bug-fix

#13939 Add Okta as a Platinum sponsor
  README.md
Labels: pr: skip-ci

#13942 Add Okta message after generation as part of platinum sponsorship
  cli/utils.js
Labels: pr: skip-ci

#13943 Fix import for h2 + microservices applications
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: pr: bug-fix

#13946 Fix template for Reactive with H2
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
Labels: pr: bug-fix

#13950 update gradle node plugin to 3.0.1
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
Labels: theme: gradle

#13945 Gateway reactive
  generators/server/files.js
  generators/server/prompts.js
  generators/server/templates/src/main/java/package/config/GatewayConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/apidoc/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/gateway/accesscontrol/AccessControlFilter.java.ejs
  generators/server/templates/src/main/java/package/gateway/ratelimiting/RateLimitingFilter.java.ejs
  generators/server/templates/src/main/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilter.java.ejs
  generators/server/templates/src/test/java/package/gateway/responserewriting/SwaggerBasePathRewritingFilterTest.java.ejs
  jdl/jhipster/default-application-options.js
  test-integration/samples/ms-ngx-gateway-consul/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-jwt/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka-oauth2/.yo-rc.json
  test-integration/samples/ms-ngx-gateway-eureka/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-jwt/.yo-rc.json
  test-integration/samples/ms-react-gateway-consul-oauth2/.yo-rc.json
  test/app.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
  test/utils/expected-files.js
Labels: pr: bug-fix, theme: microservice, theme: reactive ⚛️

#14032 Mongock: switch to configuration by annotation
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_mongodb.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: mongo

#14065 [angular] improve auth jwt service test coverage
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/core/auth/auth-jwt.service.spec.ts.ejs
  package-lock.json
  test/utils/expected-files.js
Labels: area: enhancement :wrench:, theme: angular

#14027 Unify Cassandra date-time JDL types with common-databases JDL types
  generators/entity-server/templates/src/main/resources/config/cql/changelog/added_entity.cql.ejs
  generators/entity/prompts.js
  jdl/jhipster/field-types.js
  test-integration/samples/.jhipster/CassTestEntity.json
  test-integration/samples/.jhipster/CassTestMapstructEntity.json
  test-integration/samples/.jhipster/CassTestServiceClassEntity.json
  test-integration/samples/.jhipster/CassTestServiceImplEntity.json
  test/jdl/jhipster/field-types.spec.js
Labels: theme: JDL, theme: cassandra

#14029 Add swagger for reactive gateway
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/apidocs/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/server/templates/src/test/java/package/config/apidocs/GatewaySwaggerResourcesProviderTest.java.ejs
  generators/server/templates/src/test/java/package/web/filter/ModifyServersOpenApiFilterTest.java.ejs
  test/utils/expected-files.js
Labels: $$ bug-bounty $$, $200
