Repository jhipster/generator-jhipster, pull requests merged in 2021-11, with the labels that each got.

#16888 Webpack upgrade
  generators/client/templates/react/package.json
  generators/client/templates/vue/package.json
Labels: theme: react, theme: dependencies, theme: vue

#16919 Revert "chore(deps): bump react-router-dom from 5.3.0 to 6.0.0 in /generators/client/templates/react"
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#16931 Upgrade eslint dependencies (Vue, react)
  generators/client/templates/react/package.json
  generators/client/templates/vue/.eslintrc.js.ejs
  generators/client/templates/vue/package.json
Labels: theme: react, theme: dependencies, theme: vue

#16944 Fix sonar issues
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java

#16962 Force `npm install` to workaround eslint peer dependency conflict. [skip ci]
  .github/workflows/lock-maintenance.yml
Labels: theme: CI builds

#16930 Reimplement commit to fix node 16 support.
  .eslintrc.json
  generators/bootstrap/index.js
  generators/generator-transforms.js
  package-lock.json
  package.json
  test/__snapshots__/ci-cd.spec.js.snap
  utils/multi-step-transform/index.js
Labels: theme: jhipster-internals, theme: dependencies

#16864 Update react to bootstrap 5.
  .github/dependabot.yml
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/index.js
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/app/app.scss.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/configuration/configuration.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/gateway/gateway.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/admin.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/menu-components.tsx.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/react/webpack/webpack.prod.js.ejs
  generators/cypress/templates/cypress.json.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
Labels: pr: ready-to-merge-on-ci-pass, theme: react, theme: front, $$ bug-bounty $$, $300, theme: dependencies, theme: CI builds

#16987 Upgrade eslint-config-airbnb-base
  .eslintrc.json
  package-lock.json
  package.json
Labels: theme: dependencies

#16986 k8s: istio: update to latest specs
  generators/generator-constants.js
  generators/kubernetes-knative/templates/istio/gateway.yml.ejs
  generators/kubernetes/templates/istio/destination-rule.yml.ejs
  generators/kubernetes/templates/istio/gateway.yml.ejs
  generators/kubernetes/templates/istio/gateway/grafana-gateway.yml.ejs
  generators/kubernetes/templates/istio/gateway/jhipster-grafana-gateway.yml.ejs
  generators/kubernetes/templates/istio/gateway/kiali-gateway.yml.ejs
  generators/kubernetes/templates/istio/gateway/zipkin-gateway.yml.ejs
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
Labels: theme: kubernetes, theme: jhipster-internals

#17004 Fix error for expired oauth2 token in unit test
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
Labels: theme: java

#17009 Upgrade utils dependencies
  generators/common/templates/package.json
Labels: theme: java, theme: front, theme: dependencies

#17010 Upgrade prettier dependencies
  package-lock.json
  package.json
Labels: theme: dependencies

#17011 [React/Vue] Upgrade webpack-dev-server
  generators/client/templates/react/package.json
  generators/client/templates/vue/package.json
Labels: theme: react, theme: dependencies, theme: vue

#17012 Fix User relationship names
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
Labels: theme: java

#16990 Implement ignore option (do not override and remember).
  generators/bootstrap/index.js
Labels: area: feature request :bulb:, theme: jhipster-internals

#16991 Add support to esm blueprints.
  cli/jhipster-command.js
  cli/program.js
  generators/app/index.js
  generators/aws/index.js
  generators/azure-app-service/index.js
  generators/azure-spring-cloud/index.js
  generators/ci-cd/index.js
  generators/client/index.js
  generators/cloudfoundry/index.js
  generators/common/index.js
  generators/cypress/index.js
  generators/database-changelog-liquibase/index.js
  generators/database-changelog/index.js
  generators/docker-compose/index.js
  generators/entities-client/index.js
  generators/entities/index.js
  generators/entity-client/index.js
  generators/entity-i18n/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/gae/index.js
  generators/generator-base-blueprint.js
  generators/heroku/index.js
  generators/kubernetes-helm/index.js
  generators/kubernetes-knative/index.js
  generators/kubernetes/index.js
  generators/languages/index.js
  generators/openapi-client/index.js
  generators/openshift/index.js
  generators/page/index.js
  generators/server/index.js
  generators/spring-controller/index.js
  generators/spring-service/index.js
  generators/workspaces/index.js
  test/cli/cli.spec.js
Labels: area: enhancement :wrench:, theme: aws, theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli

#16589 add invalid tokens metrics + tests
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/src/main/java/package/management/SecurityMetersService.java.ejs
  generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs
  generators/server/templates/src/test/java/package/management/SecurityMetersServiceTests.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JWTFilterTest.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderSecurityMetersTests.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/utils/expected-files.js
Labels: theme: java

#17034 Update server dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#17036 Update docker image version
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/03-psql/src/main/docker/postgresql.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
  test/templates/compose/11-mssql/src/main/docker/mssql.yml
Labels: theme: jhipster-internals

#16974 Handle Auth0 claims when acting as an OAuth 2.0 resource server
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
Labels: theme: OIDC/OAuth2, theme: java

#17002 Upgrade AWS Tomcat version [skip-ci]
  generators/aws/lib/eb.js
Labels: theme: aws

#17049 Bump node and fix tests.
  .github/workflows/generator.yml
  Dockerfile
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/generator-constants.js
  generators/init/constants.cjs
  package.json
  test/__snapshots__/ci-cd.spec.js.snap
  test/client/__snapshots__/vue.spec.js.snap
  test/client/react.spec.js
  test/client/vue.spec.js
  test/jdl/converters/parsedJDLToJDLObject/parsed-jdl-to-jdl-object-converter.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: theme: docker :whale:, theme: jhipster-internals, theme: dependencies, theme: CI builds, theme: vue

#17068 Upgrade jhipster-dependencies to 7.4.1-SNAPSHOT
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#17074 Revert ngx-cookie-service version
  generators/client/templates/angular/package.json
Labels: theme: angular, theme: dependencies

#17077 React: upgrade dependencies
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#17071 [React] Replace react-infinite-scroller by react-infinite-scroll-comp…
  generators/client/files-react.js
  generators/client/templates/react/.npmrc.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.tsx.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: react, theme: front, theme: dependencies

#17093 Force reactive when gateway application type is selected.
  generators/server/index.js
  test/server.spec.js
Labels: theme: java

#17091 Fix `jhipster entity` for vue.
  generators/client/needle-api/needle-client-vue.js
  generators/client/templates/vue/src/main/webapp/app/entities/entities.component.ts.ejs
  generators/entity-client/files.js
  generators/generator-base.js
  test/needle-api/needle-client-vue.spec.js
Labels: theme: jhipster-internals, theme: front, theme: vue

#17094 Exclude PR and Issue with specific labels in stale workflow
  .github/workflows/stale.yml
Labels: theme: CI builds

#17095 Adjusts to upgrade on files conflicts.
  cli/import-jdl.js
  cli/program.js
  generators/bootstrap/index.js
  generators/generator-transforms.js
  generators/upgrade/index.js
Labels: theme: upgrade, theme: jhipster-internals, theme: cli

#17098 Handle error on fail to parse blueprint templates folder.
  generators/generator-base-blueprint.js
  generators/generator-base.js
Labels: theme: jhipster-internals

#17097 Add Project Structure to Readme
  generators/common/templates/README.md.jhi.ejs
Labels: theme: java, theme: front

#17104 Misc fixes
  generators/client/files-common.js
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
Labels: theme: front

#17116 Added missing semicolon
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
Labels: pr: bug-fix

#17126 Bump yeoman-environment to 3.8.1
  package-lock.json
  package.json
Labels: theme: dependencies

#17130 Add v8 label to stale exempt
  .github/workflows/stale.yml
Labels: theme: CI builds

#17146 [Vue] Fix one test for Node 16
  generators/client/templates/vue/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
Labels: theme: vue

#17128 Improvements to microfrontend support.
  cli/import-jdl.js
  generators/app/index.js
  generators/bootstrap/index.js
  generators/client/index.js
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/vue/src/main/webapp/app/declarations.d.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/router/entities.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/router/index.ts.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/client/templates/vue/tsconfig.json.ejs
  generators/client/templates/vue/tsconfig.spec.json.ejs
  generators/client/templates/vue/webpack/webpack.microfrontend.js.jhi.vue.ejs
  generators/cypress/templates/cypress.json.ejs
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity/index.js
  generators/generator-base.js
  generators/server/index.js
  test-integration/jdl-samples/vue-blog-store-microfrontend/blog-store.jdl
  test/client/__snapshots__/angular.spec.js.snap
  test/client/__snapshots__/vue.spec.js.snap
  test/client/angular.spec.js
  test/client/react.spec.js
  test/client/vue.spec.js
  test/needle-api/needle-client-vue.spec.js
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: cli, theme: vue

#17145 fix: correct typo in i18n/vi
  generators/languages/templates/src/main/webapp/i18n/vi/login.json
Labels: theme: i18n

#17185 Reenable sonar at workflows.
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI builds

#17162 Fix vue unhandled exceptions.
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.component.spec.ts.ejs
Labels: theme: vue

#17186 Adjust microservice defaults and microfrontend detection.
  generators/app/index.js
  generators/generator-base.js
Labels: theme: jhipster-internals
