Repository jhipster/generator-jhipster, pull requests merged in 2021-01, with the labels that each got.

#13393 Fix Vue entities translation keys create, update, delete
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  utils/entity.js
Labels: pr: bug-fix, theme:vue

#13422 Fix double slash, missing space, links and Angular Gradle input
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/common/templates/README.md.ejs
  generators/server/index.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: pr: bug-fix, theme: angular, theme: gradle, theme: react, theme:vue

#13196 Server common scripts
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/react/src/main/webapp/index.html.ejs
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/content/css/vendor.css.ejs
  generators/client/templates/vue/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/vue/src/main/webapp/index.html.ejs
  generators/common/templates/README.md.ejs
  generators/generator-base-private.js
  generators/server/index.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  test-integration/scripts/21-tests-backend.sh
Labels: pr: on-hold

#13430 Polish Cypress related logic
  .github/workflows/incremental-changelog.yml
  generators/client/templates/angular/tsconfig.json.ejs
  generators/cypress/templates/cypress.json.ejs
Labels: area: enhancement :wrench:, theme: tests

#13429 Use prefix webapp instead of webpack in all npm build scripts
  generators/client/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react, theme:vue

#13438 Use humanized app name and remove double https
  generators/client/index.js
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: react

#13437 [angular] Polish entity detail view
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
Labels: area: enhancement :wrench:, theme: angular

#13431 [angular] Sync tsconfig files with ones generated by Angular CLI
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#13436 [angular] Remove redundant ActivatedRoute provider from infinite scroll test
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13435 Don't generate create, update and delete translations for read only entities
  generators/entity-i18n/templates/i18n/entity_al.json.ejs
  generators/entity-i18n/templates/i18n/entity_ar-ly.json.ejs
  generators/entity-i18n/templates/i18n/entity_bg.json.ejs
  generators/entity-i18n/templates/i18n/entity_bn.json.ejs
  generators/entity-i18n/templates/i18n/entity_by.json.ejs
  generators/entity-i18n/templates/i18n/entity_ca.json.ejs
  generators/entity-i18n/templates/i18n/entity_cs.json.ejs
  generators/entity-i18n/templates/i18n/entity_da.json.ejs
  generators/entity-i18n/templates/i18n/entity_de.json.ejs
  generators/entity-i18n/templates/i18n/entity_el.json.ejs
  generators/entity-i18n/templates/i18n/entity_en.json.ejs
  generators/entity-i18n/templates/i18n/entity_es.json.ejs
  generators/entity-i18n/templates/i18n/entity_et.json.ejs
  generators/entity-i18n/templates/i18n/entity_fa.json.ejs
  generators/entity-i18n/templates/i18n/entity_fi.json.ejs
  generators/entity-i18n/templates/i18n/entity_fr.json.ejs
  generators/entity-i18n/templates/i18n/entity_gl.json.ejs
  generators/entity-i18n/templates/i18n/entity_hi.json.ejs
  generators/entity-i18n/templates/i18n/entity_hr.json.ejs
  generators/entity-i18n/templates/i18n/entity_hu.json.ejs
  generators/entity-i18n/templates/i18n/entity_hy.json.ejs
  generators/entity-i18n/templates/i18n/entity_in.json.ejs
  generators/entity-i18n/templates/i18n/entity_it.json.ejs
  generators/entity-i18n/templates/i18n/entity_ja.json.ejs
  generators/entity-i18n/templates/i18n/entity_ko.json.ejs
  generators/entity-i18n/templates/i18n/entity_mr.json.ejs
  generators/entity-i18n/templates/i18n/entity_my.json.ejs
  generators/entity-i18n/templates/i18n/entity_nl.json.ejs
  generators/entity-i18n/templates/i18n/entity_pl.json.ejs
  generators/entity-i18n/templates/i18n/entity_pt-br.json.ejs
  generators/entity-i18n/templates/i18n/entity_pt-pt.json.ejs
  generators/entity-i18n/templates/i18n/entity_ro.json.ejs
  generators/entity-i18n/templates/i18n/entity_ru.json.ejs
  generators/entity-i18n/templates/i18n/entity_si.json.ejs
  generators/entity-i18n/templates/i18n/entity_sk.json.ejs
  generators/entity-i18n/templates/i18n/entity_sr.json.ejs
  generators/entity-i18n/templates/i18n/entity_sv.json.ejs
  generators/entity-i18n/templates/i18n/entity_ta.json.ejs
  generators/entity-i18n/templates/i18n/entity_te.json.ejs
  generators/entity-i18n/templates/i18n/entity_th.json.ejs
  generators/entity-i18n/templates/i18n/entity_tr.json.ejs
  generators/entity-i18n/templates/i18n/entity_ua.json.ejs
  generators/entity-i18n/templates/i18n/entity_uz-Cyrl-uz.json.ejs
  generators/entity-i18n/templates/i18n/entity_uz-Latn-uz.json.ejs
  generators/entity-i18n/templates/i18n/entity_vi.json.ejs
  generators/entity-i18n/templates/i18n/entity_zh-cn.json.ejs
  generators/entity-i18n/templates/i18n/entity_zh-tw.json.ejs
Labels: area: enhancement :wrench:, theme: i18n

#13442 [react] Fix tests ts-jest warnings
  generators/client/templates/react/tsconfig.test.json.ejs
Labels: area: enhancement :wrench:, theme: react

#13449 [angular] Update Protractor related and Node types dependencies
  generators/client/templates/angular/package.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#13490 Update dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#13491 Enable more actuator endpoint by default
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: pr: needs-change

#13541 Update spring-boot version to 2.3.8.RELEASE and other dependencies
  generators/generator-constants.js
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#13543 remove mlabs and graphene addons from heroku configuration
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
Labels: theme: Heroku

#13545 Upgrade react-jhipster to 0.13.0
  generators/client/templates/react/package.json
Labels: pr: ready-to-merge-on-ci-pass

#13546 Upgrade jhipster lib 7.0.0 beta.1
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#13528 Drop @openapitools/openapi-generator-cli by default
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/generator-constants.js
  generators/openapi-client/files.js
  generators/openapi-client/index.js
  generators/server/templates/package.json.ejs
Labels: pr: needs-manual-testing, theme: openapi

#13547 Update docker image version
  generators/generator-constants.js
Labels: area: enhancement :wrench:, pr: ready-to-merge-on-ci-pass, theme: docker :whale:

#13549 update gradle to 6.8
  generators/generator-constants.js
Labels: theme: gradle

#13548 support neo4j with k8s subgenerator
  generators/generator-base-docker.js
  generators/kubernetes/templates/db/neo4j.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/server/templates/gradle.properties.ejs
Labels: theme: kubernetes, theme: neo4j

#13496 Remove generateEntityQueries
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
Labels: theme: angular

#13594 Don't add removed relationships to differentTypes and differentRelationships
  generators/entity/index.js
  utils/relationship.js
Labels: pr: ready-to-merge-on-ci-pass

#13662 [angular] Update WebSocket dependencies
  generators/client/templates/angular/package.json.ejs
Labels: area: enhancement :wrench:, theme: angular

#13668 Remove redundant method toArrayString
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/generator-base-private.js
Labels: area: enhancement :wrench:, theme: jhipster-internals

#13667 [angular] Check field and method order with lint
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13681 [angular] Improve entities SBS support
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13680 Sonar: Web Configurer Test
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
Labels: changes: minor, theme: sonar

#13682 Align EditorConfig with Prettier
  .editorconfig
Labels: area: enhancement :wrench:

#13684 Improve .editorconfig
  .editorconfig
Labels: area: enhancement :wrench:

#13686 Fix name for generated csv file with incremental changelog option
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
Labels: pr: bug-fix

#13685 Fix entity suffix for Entity Test file
  generators/entity-server/files.js
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
Labels: pr: bug-fix

#13694 Fix Sonar code smell about assertThat
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderTest.java.ejs
Labels: area: enhancement :wrench:, theme: java, theme: sonar

#13693 Polish spacing in server sub generator templates
  .editorconfig
  generators/server/templates/settings.gradle.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/cassandra-cluster.yml.ejs
  generators/server/templates/src/main/docker/cassandra-migration.yml.ejs
  generators/server/templates/src/main/docker/cassandra.yml.ejs
  generators/server/templates/src/main/docker/config/consul-config/application.yml.ejs
  generators/server/templates/src/main/docker/config/docker-config/application.yml.ejs
  generators/server/templates/src/main/docker/config/localhost-config/application.yml.ejs
  generators/server/templates/src/main/docker/consul.yml.ejs
  generators/server/templates/src/main/docker/couchbase-cluster.yml.ejs
  generators/server/templates/src/main/docker/couchbase.yml.ejs
  generators/server/templates/src/main/docker/couchbase/scripts/configure-node.sh.ejs
  generators/server/templates/src/main/docker/elasticsearch.yml.ejs
  generators/server/templates/src/main/docker/grafana/provisioning/dashboards/JVM.json.ejs
  generators/server/templates/src/main/docker/hazelcast-management-center.yml.ejs
  generators/server/templates/src/main/docker/jhipster-registry.yml.ejs
  generators/server/templates/src/main/docker/kafka.yml.ejs
  generators/server/templates/src/main/docker/keycloak.yml.ejs
  generators/server/templates/src/main/docker/mariadb.yml.ejs
  generators/server/templates/src/main/docker/memcached.yml.ejs
  generators/server/templates/src/main/docker/mongodb-cluster.yml.ejs
  generators/server/templates/src/main/docker/mongodb.yml.ejs
  generators/server/templates/src/main/docker/mongodb/scripts/init_replicaset.js.ejs
  generators/server/templates/src/main/docker/monitoring.yml.ejs
  generators/server/templates/src/main/docker/mssql.yml.ejs
  generators/server/templates/src/main/docker/mysql.yml.ejs
  generators/server/templates/src/main/docker/neo4j.yml.ejs
  generators/server/templates/src/main/docker/postgresql.yml.ejs
  generators/server/templates/src/main/docker/prometheus/prometheus.yml.ejs
  generators/server/templates/src/main/docker/redis-cluster.yml.ejs
  generators/server/templates/src/main/docker/redis.yml.ejs
  generators/server/templates/src/main/docker/redis/connectRedisCluster.sh.ejs
  generators/server/templates/src/main/docker/sonar.yml.ejs
  generators/server/templates/src/main/docker/swagger-editor.yml.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/ROLE_ADMIN.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/ROLE_USER.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__admin.json.ejs
  generators/server/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user__user.json.ejs
  generators/server/templates/src/main/resources/static/microservices_index.html.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
  generators/server/templates/src/main/resources/templates/error.html.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
  generators/server/templates/src/test/resources/config/application-testcontainers.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/bootstrap.yml.ejs
Labels: area: enhancement :wrench:, theme: prettier

#13692 Update transitive dependencies to fix vulnerabilities
  package-lock.json
Labels: area: enhancement :wrench:, theme: security

#13690 [angular] Make entity list component sort() method protected
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: area: enhancement :wrench:, theme: angular

#13718 improve check for existing heroku app
  generators/heroku/index.js
  test/heroku.spec.js
Labels: area: enhancement :wrench:, theme: Heroku

#13713 Polish spacing in templates
  .editorconfig
  generators/aws-containers/templates/bootstrap-aws.yml.ejs
  generators/azure-app-service/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/bootstrap-azure.yml.ejs
  generators/cloudfoundry/templates/application-cloudfoundry.yml.ejs
  generators/cypress/templates/src/test/javascript/cypress/fixtures/users/user.json.ejs
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/docker-compose/templates/alertmanager-conf/config.yml.ejs
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/entity-server/templates/src/main/java/package/common/field_validators.ejs
  generators/entity-server/templates/src/main/java/package/domain/relationship_validators.ejs
  generators/gae/templates/application-prod-gae.yml.ejs
  generators/gae/templates/dispatch.yaml.ejs
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/bootstrap-heroku.yml.ejs
  generators/page/templates/vue/src/main/webapp/app/pages/page.service.ts.ejs
  generators/page/templates/vue/src/main/webapp/app/pages/page.vue.ejs
Labels: area: enhancement :wrench:, theme: jhipster-internals

#13725 Fix docker-compose sub generator
  .editorconfig
  generators/docker-compose/index.js
  generators/heroku/templates/heroku.gradle.ejs
Labels: pr: bug-fix, theme: docker :whale:

#13724 Change version jhipster bom to 7.0.0 snapshot after 7.0.0 beta.1
  .github/workflows/angular.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass

#13738 Polish templates: Angular, common, client common and server HTML
  generators/client/templates/angular/.eslintrc.json.ejs
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/ngsw-config.json.ejs
  generators/client/templates/angular/src/main/webapp/404.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/modal/health-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/tracker/tracker.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/footer/footer.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/alert/alert.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/index.html.ejs
  generators/client/templates/angular/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/common/src/main/webapp/content/scss/rtl.scss.ejs
  generators/common/templates/.lintstagedrc.js.ejs
  generators/common/templates/README.md.ejs
  generators/server/templates/src/main/resources/templates/error.html.ejs
  generators/server/templates/src/main/resources/templates/mail/activationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/creationEmail.html.ejs
  generators/server/templates/src/main/resources/templates/mail/passwordResetEmail.html.ejs
Labels: area: enhancement :wrench:, theme: jhipster-internals

#13611 support okta with cypress tests
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/common/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/keycloak-oauth2.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/oauth2.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  test/utils/expected-files.js
Labels: theme: OIDC/OAuth2, theme: tests

#13735 [react] dependency updates
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
Labels: theme: dependencies, theme: react

#13745 Add prettier:check
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/server/templates/package.json.ejs
Labels: pr: ready-to-merge-on-ci-pass

#13749 Update badges [skip ci]
  README.md
Labels: pr: ready-to-merge-on-ci-pass

#13752 update gradle build configuration
  generators/generator-constants.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
Labels: area: enhancement :wrench:, pr: bug-fix, theme: gradle

#13763 Rework for neo4j and boot 2.4
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_neo4j.java.ejs
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/Authority.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: neo4j

#13551 Upgrade to Spring Boot 2.4
  .github/workflows/react.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  .github/workflows/webflux.yml
  generators/aws-containers/index.js
  generators/aws-containers/templates/application-aws.yml.ejs
  generators/azure-spring-cloud/index.js
  generators/azure-spring-cloud/templates/application-azure.yml.ejs
  generators/azure-spring-cloud/templates/bootstrap-azure.yml.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-constants.js
  generators/heroku/index.js
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/bootstrap-heroku.yml.ejs
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_mongodb.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_neo4j.java.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
  generators/server/templates/src/main/java/package/config/ElasticsearchConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/Authority.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/ColumnConverter.java.ejs
  generators/server/templates/src/main/java/package/service/EntityManager.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap-prod.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
  generators/server/templates/src/test/java/package/config/TestSecurityConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/WebConfigurerTest.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/bootstrap.yml.ejs
  package-lock.json
  test/heroku.spec.js
  test/utils/expected-files.js
Labels: pr: ready-to-merge-on-ci-pass

#13773 [angular] Fix Angular CLI 11.1 camel case arguments deprecation warning
  generators/client/templates/angular/package.json.ejs
Labels: area: enhancement :wrench:, theme: angular
