Repository jhipster/generator-jhipster, pull requests merged in 2021-12, with the labels that each got.

#17204 Upgrade jhipster bom 7.4.1
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass, theme: jhipster-internals, theme: CI builds

#17206 Fixes spring liveness and readiness probes configuration
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: pr: bug-fix, theme: java

#17208 Upgrade jhipster bom to 7.4.2-SNAPSHOT
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass, theme: jhipster-internals, theme: CI builds

#16612 Move some dependencies and plugins in their respective maven profile
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  test-integration/scripts/00-init-env.sh
Labels: theme: java

#17210 [Angular] Fix Sonar
  generators/client/templates/angular/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.ts.ejs
Labels: theme: angular

#17213 [Angular] Sonar: Regular expression literals should be used when poss…
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

#17214 Sonar: Use isZero()
  generators/server/templates/src/test/java/package/management/SecurityMetersServiceTests.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderSecurityMetersTests.java.ejs
Labels: theme: java

#17193 add sort converter to elasticsearch search repository
  generators/entity-server/files.js
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/SortToFieldSortBuilderConverter.java.ejs
  test/entity.spec.js
Labels: theme: java

#17215 Fix react unhandled exceptions
  generators/client/templates/react/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity.reducer.ts.ejs
Labels: theme: react, theme: front

#17194 Migrate from springfox to springdoc.
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/app/index.js
  generators/client/templates/angular/webpack/proxy.conf.js.ejs
  generators/client/templates/common/src/main/webapp/robots.txt.ejs
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/search_template.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/generator-base.js
  generators/generator-constants.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/LocaleConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/OpenApiConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/config/apidocs/GatewaySwaggerResourcesProvider.java.ejs
  generators/server/templates/src/main/java/package/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/templates/src/test/java/package/config/apidocs/GatewaySwaggerResourcesProviderTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/ClientForwardControllerTest.java.ejs
  generators/server/templates/src/test/resources/logback.xml.ejs
  test/entity.spec.js
  test/utils/expected-files.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: CI builds, theme: vue

#17270 Fix some errors with option 'entitySuffix' active
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
Labels: theme: java

#17272 format template file: SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#17276 Sonar
  generators/server/templates/src/test/java/package/management/SecurityMetersServiceTests.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/TokenProviderSecurityMetersTests.java.ejs
Labels: theme: java

#17315 Adapt to Neo4j-Migrations 1.x API.
  generators/server/templates/src/main/java/package/config/neo4j/Neo4jMigrations.java.ejs
Labels: theme: java, theme: neo4j

#17308 Move angular menu implementation to microservice side
  generators/app/index.js
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/app-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/entity-navbar-items.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/declarations.d.ts.ejs
  generators/client/templates/angular/webpack/webpack.microfrontend.js.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity/index.js
  generators/generator-base.js
  generators/server/index.js
  test-integration/jdl-samples/blog-store-microfrontend/blog-store.jdl
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/__snapshots__/generator-base.spec.js.snap
  test/app-client-custom-path.spec.js
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  utils/entity.js
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#17323 Fix wrong headers at vue tests.
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  test-integration/samples/vue-default/.yo-rc.json
Labels: theme: vue

#17326 Switch devserver workflow to opt-in sonar.
  .github/workflows/devserver.yml
Labels: theme: CI builds

#17252 Microservice search artifacts shall be generated only when entity explicitely specifies then
  generators/entity/index.js
  test/entity.spec.js
  test/templates/default-gateway/microservice1/.jhipster/Bar.json
  test/templates/elasticsearch-microservice/.yo-rc.json
  test/utils/expected-files.js
Labels: theme: java, theme: front

#17339 Remove duplicate constant CLIENT_FRAMEWORK_NO
  generators/entity/index.js
Labels: pr: bug-fix, theme: java, theme: front

#17325 Remove jdk specific profiles
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#17314 Improve logic to skip frontend. [maven]
  generators/server/index.js
Labels: theme: java

#16863 Avoid using mavenLocal() in build.gradle?
  generators/server/templates/build.gradle.ejs
Labels: area: enhancement :wrench:, theme: java

#17277 WIP -use spring reactive repository implementation as implementation parent
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/generator-constants.js
  generators/gradle/constants.cjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
  generators/server/templates/src/main/java/package/config/ElasticsearchConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
Labels: theme: gradle, theme: jhipster-internals, theme: java

#17278 optimize template file: UserRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

#17345 optimize template file: UserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
Labels: theme: java

#17346 Adjust gradle local maven repository
  generators/server/templates/build.gradle.ejs
Labels: theme: java

#17343 [Vue] Fix: Admin pages accessible for normal user
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
Labels: theme: vue

#17342 17322 - shall generate pagination for the frontend even if gateway h…
  generators/entity/index.js
  test/entity.spec.js
  test/templates/gateway-nodb/.yo-rc.json
  test/templates/gateway-nodb/microservice1/.jhipster/Foo.json
Labels: theme: java, theme: front

#17188 Migrate to cucumber junit 5
  generators/cleanup.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/cucumber/CucumberIT.java.ejs
  generators/server/templates/src/test/java/package/cucumber/CucumberTestContextConfiguration.java.ejs
  generators/server/templates/src/test/java/package/cucumber/stepdefs/UserStepDefs.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/resources/cucumber.properties.ejs
  generators/server/templates/src/test/resources/junit-platform.properties.ejs
  generators/server/templates/src/test/resources/package/features/gitkeep
  generators/server/templates/src/test/resources/package/features/user/user.feature.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#17385 [React] Fix: Variabilize language in test
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
Labels: theme: react

#17376 Adjust server cleanup.
  generators/cleanup.js
  generators/server/cleanup.js
  generators/server/index.js
Labels: theme: jhipster-internals, theme: java

#17375 Override angular webpack version.
  .github/dependabot.yml
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular, theme: CI builds

#17395 Vue: do not display progress when building front
  generators/client/templates/vue/package.json.ejs
Labels: area: enhancement :wrench:, theme: vue

#17396 Fix OAuth2 refresh token with concurrency
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: pr: bug-fix, theme: OIDC/OAuth2, theme: java

#17413 Bump Keycloak dependency
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/generator-constants.js
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java

#17412 Skip ci spring boot 2.6.0 mongo
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/AbstractCassandraTest.java.ejs
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/MongoDbTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/ReactiveSqlTestContainerExtension.java.ejs
  generators/server/templates/src/test/java/package/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserJWTControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/server/templates/src/test/resources/META-INF/spring.factories.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: java, theme: CI builds

#16961 Upgrade to angular 13.
  generators/client/index.js
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/datepicker-adapter.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/config/dayjs.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/duration.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-date.pipe.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/date/format-medium-datetime.pipe.ts.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/angular/webpack/webpack.microfrontend.js.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/angular/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  generators/generator-base-private.js
  generators/generator-base.js
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  test-integration/jdl-samples/blog-store-microfrontend/blog-store.jdl
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: dependencies

#17424 Upgrade lint-staged
  generators/common/templates/package.json
Labels: theme: java, theme: front, theme: dependencies

#17422 [Angular] Sonar
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/translation.module.ts.ejs
Labels: theme: angular

#17423 [React] Upgrade dependencies
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#17428 Bump node to 16.13.1 and adjust @types/node
  .github/dependabot.yml
  .github/workflows/generator.yml
  Dockerfile
  generators/client/templates/angular/package.json
  generators/client/templates/react/package.json
  generators/client/templates/vue/package.json
  generators/generator-constants.js
  test-integration/scripts/99-print-node-version.sh
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: angular, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: dependencies, theme: CI builds, theme: vue

#17327 Add gradle support to npmw.
  generators/common/templates/README.md.jhi.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/npmw
  generators/server/templates/npmw.cmd
  test/__snapshots__/app.spec.js.snap
Labels: theme: java, theme: front

#16887 [Angular] Upgrade RxJs 7.5.1
  generators/client/templates/angular/package.json
  generators/client/templates/angular/src/main/webapp/app/home/home.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/translate.directive.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
Labels: theme: angular, theme: dependencies, Stale

#17443 Sonar: Define a constant instead of duplicating this literal
  generators/server/templates/src/main/java/package/security/jwt/TokenProvider.java.ejs
Labels: theme: java

#17452 [Angular] Upgrade eslint 8.5.0
  generators/client/templates/angular/package.json
Labels: theme: angular, theme: dependencies

#17450 [Angular] 'subscribe' is deprecated
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/language/translate.directive.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/infinite-scroll-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/no-pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/pagination-template.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular
