Repository jhipster/generator-jhipster, pull requests merged in 2021-10, with the labels that each got.

#16507 Ignore vue3 only dependency vue-loader@16
  .github/dependabot.yml
Labels: theme: CI builds

#16506 Add lock-maintenance workflow. [skip ci]
  .github/workflows/lock-maintenance.yml
Labels: theme: CI builds

#16522 Fix triage and cleanup labeler actions
  .github/workflows/label-cleanup.yml
  .github/workflows/triage.yml
Labels: theme: CI builds

#16523 Remove WebFluxAutoConfiguration for Spring Native compatibility
  generators/server/templates/src/main/java/package/config/LocaleConfiguration.java.ejs
Labels: theme: java

#16505 [vue] Add error handling toast
  generators/client/files-vue.js
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-details.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-details.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity-update.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/spec/app/entities/entity.component.spec.ts.ejs
Labels: theme: front, theme: vue

#16526 Upgrade jhipster bom 7.3.0
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass, theme: jhipster-internals, theme: CI builds, theme: jhipster-lib

#16528 Upgrade jhipster-registry to v7.1.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: microservice, theme: jhipster-internals

#16532 [Vue] Upgrade Axios
  generators/client/templates/vue/package.json
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
Labels: theme: dependencies, theme: vue

#16543 Update maven wrapper version to 3.8.3
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/server/templates/.mvn/wrapper/maven-wrapper.properties
Labels: theme: maven

#16568 Update liquibase version to 4.5.0
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#16572 Upgrade react-jhipster to 0.17.0
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#16585 Do not save Okta password in .yo-rc.json anymore
  generators/heroku/index.js
Labels: theme: Heroku

#16881 [Vue] Improve format code
  generators/client/templates/vue/src/main/webapp/app/account/settings/settings.vue.ejs
Labels: theme: vue

#16882 [Vue] code improvements
  generators/client/templates/vue/src/main/webapp/app/account/account.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
Labels: theme: vue

#16886 Unused import
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
Labels: theme: java
