Repository jhipster/generator-jhipster, pull requests merged in 2021-08, with the labels that each got.

#15885 Vue client - add interceptor for status >= 500
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/axios-interceptor.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: vue

#15981 Fixes and improvements to writeFiles.
  generators/generator-base.js
Labels: theme: jhipster-internals

#15210 Replace node especific process.env with injected variables at React.
  generators/client/files-react.js
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/src/main/webapp/app/config/axios-interceptor.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/constants.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/error-middleware.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/logger-middleware.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/error/error-boundary.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/typings.d.ts.ejs
  generators/client/templates/react/webpack/environment.js.ejs
  generators/client/templates/react/webpack/webpack.common.js.ejs
  test/__snapshots__/app.spec.js.snap
Labels: theme: react

#16017 Update spring-boot version to 2.5.4
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: area: enhancement :wrench:, theme: dependencies

#16052 Fix typo Lighthoyse -> Lighthouse
  generators/cypress/templates/src/test/javascript/cypress/integration/lighthouse.audits.ts.ejs
Labels: theme: tests

#15364 Add jdl enum comments
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/utils.js
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.js
  jdl/converters/json-to-jdl-entity-converter.js
  jdl/models/jdl-enum-value.js
  jdl/models/jdl-enum.js
  jdl/parsing/jdl-ast-builder-visitor.js
  jdl/parsing/jdl-parser.js
  test/jdl/converters/JDLToJSON/jdl-to-json-field-converter.spec.js
  test/jdl/grammar/grammar.spec.js
  test/jdl/models/jdl-enum.spec.js
  test/utils.spec.js
Labels: area: enhancement :wrench:, theme: JDL
