Repository jhipster/generator-jhipster, pull requests merged in 2021-09, with the labels that each got.

#16127 Minor Auth0 improvements
  generators/common/templates/README.md.jhi.ejs
Labels: theme: OIDC/OAuth2, $$ bug-bounty $$, $200

#15915 Update liquibase version to 4.4.3
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
Labels: area: enhancement :wrench:, pr: bug-fix, theme: fake-data, theme: liquibase

#16198 Add modernizer-maven-plugin to detect legacy/deprecated API usage
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
Labels: area: enhancement :wrench:, theme: maven

#16171 Fixing TLS profile not working (Angular)
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/webpack/proxy.conf.js.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: pr: needs-manual-testing

#16247 Don't overwrite .yo-rc.json at blueprint.
  generators/app/index.js
Labels: pr: ready-to-merge-on-ci-pass, theme: blueprint :paw_prints:

#16246 Upgrade jhipster bom 7.2.0
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
Labels: pr: ready-to-merge-on-ci-pass, theme: dependencies

#16248 Upgrade jhipster-registry to v7.0.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: pr: ready-to-merge-on-ci-pass, theme: docker :whale:, theme: dependencies

#14802 generate gradle enterprise configuration
  generators/ci-cd/templates/github-actions.yml.ejs
  generators/generator-base.js
  generators/generator-defaults.js
  generators/server/index.js
  generators/server/prompts.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  jdl/validators/application-validator.js
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/application-options.spec.js
Labels: area: enhancement :wrench:, theme: gradle

#14045 replace spring-cloud-hystrix with spring-cloud-resilience4j
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/FeignConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: $$ bug-bounty $$, $200

#16274 exclude dependabot from changelist
  .github/release-drafter.yml
Labels: pr: skip-ci

#16297 remove dead link in code comment
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
Labels: pr: skip-ci

#16214 Reload gateway ui using browser sync on a microfrontend.
  cli/import-jdl.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/config/application-config.service.ts.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
  generators/server/index.js
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_cassandra.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
Labels: area: enhancement :wrench:, theme: angular, theme: microfrontend

#16306 do not ask for additional okta properties if not selected
  generators/heroku/index.js
Labels: pr: bug-fix, theme: Heroku

#16307 update gradle to 7.2.0
  generators/generator-constants.js
Labels: theme: gradle

#16305 Implement labeler workflow.
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: pr: skip-ci

#16332 Upgrade problem-spring verstion to 0.27.0
  .github/actions/setup/action.yml
  azure-pipelines.yml
  generators/generator-constants.js
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#16364 replace feature policy with permission policy
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java, theme: security

#16390 Order Permissions Policy
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#16392 [Angular] Tests: delete 'describe' useless
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/service/user-management.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/route/entity-management-routing-resolve.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
Labels: theme: angular

#16427 Switch from 13-replace-version-generated-project.sh to environment variable.
  .github/actions/setup/action.yml
  .github/workflows/angular.yml
  .github/workflows/cache.yml
  .github/workflows/devserver.yml
  .github/workflows/incremental-changelog.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/server/index.js
Labels: theme: java, theme: CI builds

#16432 [JDL] Add fallback message in case file not found
  cli/jdl.js
Labels: theme: cli

#16430 Set environment max listeners to 0
  cli/environment-builder.js
Labels: theme: cli

#16295 Add custom cli to actions for blueprints.
  .github/actions/compare-base/action.yml
  .github/actions/compare/action.yml
  .github/actions/generate/action.yml
  .github/actions/setup/action.yml
  test-integration/scripts/00-init-env.sh
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-project.sh
Labels: theme: CI builds

#16041 Allow entities to be organized by packages.
  generators/entity-server/files-couchbase.js
  generators/entity-server/files.js
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/couchbase/src/main/resources/config/couchmove/changelog/entity.fts.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/domain/enumeration/Enum.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/BaseEntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/service/mapper/EntityMapper.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/domain/EntityTest.java.ejs
  generators/entity-server/templates/src/test/java/package/repository/search/EntitySearchRepositoryMockConfiguration.java.ejs
  generators/entity-server/templates/src/test/java/package/service/dto/EntityDTOTest.java.ejs
  generators/entity-server/templates/src/test/java/package/service/mapper/EntityMapperTest.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/server/index.js
  generators/server/needle-api/needle-server-cache.js
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_sql.java.ejs
  test-integration/samples/jdl-entities/custom-domain.jdl
Labels: area: feature request :bulb:, $$ bug-bounty $$, $300

#16298 enabled build cache when gradle enterprise is selected
  generators/server/templates/settings.gradle.ejs
Labels: theme: gradle

#16434 Upgrade spring boot 2.5.5
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#16419 Improve Helm dependencies
  generators/kubernetes-helm/templates/app/Chart.yml.ejs
  generators/kubernetes-helm/templates/app/requirements.yml.ejs
  generators/kubernetes-helm/templates/csvc/Chart.yml.ejs
  generators/kubernetes-helm/templates/csvc/requirements.yml.ejs
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
Labels: theme: kubernetes

#16366 Conditionally publish to docker hub.
  .github/workflows/docker-image-publish-github-registry.yml
Labels: theme: CI builds

#16460 Upgrade prettier-plugin-packagejson 2.2.13
  package-lock.json
  package.json
Labels: theme: dependencies

#16431 [Vue] Fix login with websockets enabled
  .github/workflows/vue.yml
  generators/client/templates/vue/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/router/admin.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
  test-integration/samples/vue-gradle-ws-session/.yo-rc.json
  test-integration/samples/vue-noi18n-ws-oauth2/.yo-rc.json
  test-integration/samples/vue-ws-theme/.yo-rc.json
Labels: theme: CI builds, theme: vue

#16463 Allow more customizations.
  generators/bootstrap/index.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/generator-base.js
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: vue

#16435 Execute tests based on changed files.
  .github/actions/build-matrix/action.yml
  .github/workflows/angular.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
  generators/client/__workflow/devserver-angular.json
  generators/client/__workflow/devserver-react.json
  generators/client/__workflow/devserver-vue.json
Labels: theme: angular, theme: react, theme: CI builds, theme: vue

#16476 Adjusts to build-matrix.
  .github/workflows/angular.yml
  .github/workflows/jdl.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  .github/workflows/webflux.yml
Labels: theme: CI builds

#16408 Skip writing Okta admin password when useOkta false and printing okta admin password at the end of the console
  generators/heroku/index.js
Labels: theme: Heroku

#15836 chore: Bump Keycloak dependency
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/generator-constants.js
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java, theme: keycloak

#16475 [Angular] Loop for enums
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular
