Repository jhipster/generator-jhipster, pull requests merged in 2022-09, with the labels that each got.

#19451 Implement local blueprint support.
  cli/environment-builder.js
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json.ejs
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/files.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/generator.spec.mjs
  generators/generator-base-blueprint.js
  generators/server/templates/package.json.ejs
  test-integration/generate-blueprint-samples/default/.yo-rc.json
  test/app-required-config.spec.js
  test/blueprint/local-blueprint.spec.js
  test/utils-blueprint.spec.js
  utils/blueprint.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: cli, theme: vue

#19594 fix generate-blueprint workflow.
  .github/workflows/generator-generate-blueprint.yml
  generators/cypress/index.js
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generator-base-blueprint.js
  lib/constants/priorities.cjs
  lib/constants/priorities.mjs
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: CI builds

#19624 Bump react-jhipster 0.22.0
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#19623 Bump jhipster-bom to 7.9.3
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#19630 Bump to jhipster-bom 7.9.4-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#19631 Move Netty dependency to fix reactive compilation
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#19648 Bump node dependency to 16 lts
  package.json
Labels: changes: major :star:, theme: dependencies, v8

#19661 Issue 19649 Fix
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

#19655 Drop upgrade-config generator
  cli/commands.js
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.js
  generators/upgrade-config/USAGE
  generators/upgrade-config/esm.mjs
  generators/upgrade-config/generator.spec.mjs
  generators/upgrade-config/index.js
  generators/upgrade/index.js
  test/__snapshots__/api.spec.mjs.snap
  test/upgrade-config/blueprint-config-conflict-abort.spec.js
  test/upgrade-config/blueprint-config-conflict-choice.spec.js
  test/upgrade-config/blueprint-config-conflict-ignore.spec.js
  test/upgrade-config/blueprint-config.spec.js
Labels: changes: major :star:, theme: upgrade, theme: jhipster-internals, theme: cli, v8

#19603 switch from docker-compose to docker compose
  .github/workflows/angular.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/client/templates/common/README.md.jhi.client.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/docker-compose/index.js
  generators/docker-compose/templates/README-DOCKER-COMPOSE.md.ejs
  generators/info/index.js
  generators/server/index.js
  generators/server/templates/src/main/resources/static/microservices_index.html.ejs
  generators/workspaces/index.js
  test-integration/scripts/24-tests-e2e.sh
  test-integration/scripts/25-sonar-analyze.sh
  test/__snapshots__/docker-compose.spec.js.snap
Labels: theme: docker :whale:, theme: java, theme: front, theme: CI builds, v8

#19659 Upgrade to SonarQube 9.6.1 Docker image
  generators/generator-constants.js
Labels: theme: jhipster-internals

#19690 Update liquibase version to 4.16.0
  generators/generator-constants.js
Labels: theme: jhipster-internals

#19665 bump jest/expect stack and mocha.
  package-lock.json
  package.json
Labels: theme: dependencies

#19692 [React] Profile menus labels are not updated after login using react
  generators/client/templates/react/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
Labels: area: bug :bug:, theme: react

#19714 [react] bump jest stack to v29
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#19632 increase sleep time for monolith oauth2
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

#19742 [React] Bump react-router-dom from 6.3.0 to 6.4.0
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/login/login.tsx.ejs
Labels: theme: react, theme: dependencies

#19559 Set up TypeScript
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  cli/environment-builder.js
  package-lock.json
  package.json
  tsconfig.json
Labels: theme: cli, theme: dependencies

#19751 Cleanup missing priorities api.
  generators/app/index.js
  generators/client/index.js
  generators/client/needle-api/needle-client.js
  generators/common/index.js
  generators/cypress/index.js
  generators/entity-client/index.js
  generators/entity-i18n/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base-blueprint.js
  generators/languages/index.js
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/index.js
  generators/server/needles.spec.mjs
  test/blueprint/client-blueprint-custom-path.spec.js
  test/blueprint/multiple-app-blueprints.spec.js
  test/blueprint/multiple-blueprints.spec.js
  test/blueprint/sbs-blueprint.spec.js
  test/generator-base-blueprint.spec.js
  test/needle-api/needle-client-angular.spec.js
  test/needle-api/needle-client-i18n.spec.js
  test/needle-api/needle-client-react.spec.js
  test/needle-api/needle-client-vue.spec.js
  test/needle-api/needle-client-webpack.spec.js
  test/needle-api/needle-client.spec.js
  test/needle-api/needle-server-cache.spec.js
  test/needle-api/needle-server-gradle.spec.js
  test/needle-api/needle-server-liquibase.spec.js
  test/needle-api/needle-server-logback-spring.spec.js
  test/needle-api/needle-server-maven.spec.js
  test/templates/blueprint-cli/generators/foo/index.js
  test/templates/blueprints/generator-jhipster-prettier-transform/generators/common/index.js
  test/templates/blueprints/generator-jhipster-throwing-constructor/generators/server/index.js
  test/templates/fake-blueprint/generators/app/index.js
  test/templates/fake-blueprint/generators/server/index.js
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#19763 Fix docker image build
  Dockerfile
Labels: theme: docker :whale:

#19766 Add `npm ci` before `npm install`
  Dockerfile
Labels: theme: docker :whale:

#19764 move entities preparation to utils and cleanup entity generators
  generators/bootstrap-application/generator.spec.mjs
  generators/bootstrap/index.js
  generators/entity-client/index.js
  generators/entity-server/index.js
  generators/entity/index.js
  generators/generator-base.js
  utils/entity.js
  utils/field.js
Labels: theme: jhipster-internals, theme: java, theme: front

#19694 [Angular] Setting page titles natively with the Angular router
  generators/client/files-angular.js
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/sessions/sessions.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/tracker/tracker.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app-page-title-strategy.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/app.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/home/home.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/error/error.route.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.route.ts.ejs
  generators/client/transform-angular.cjs
  generators/client/transform-angular.spec.mjs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/client/__snapshots__/angular.spec.js.snap
  test/utils/expected-files.js
Labels: theme: angular, theme: front

#19798 Update jhipster-registry version to 7.4.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: jhipster-internals

#19809 Modularize client tests
  generators/client/__snapshots__/angular.spec.mjs.snap
  generators/client/__snapshots__/react.spec.mjs.snap
  generators/client/__snapshots__/vue.spec.mjs.snap
  generators/client/angular.spec.mjs
  generators/client/generator.spec.mjs
  generators/client/index.js
  generators/client/react.spec.mjs
  generators/client/vue.spec.mjs
  test/client.spec.js
  test/client/__snapshots__/angular.spec.js.snap
  test/client/__snapshots__/react.spec.js.snap
  test/client/__snapshots__/vue.spec.js.snap
  test/client/angular.spec.js
  test/client/composing.js
  test/client/react.spec.js
  test/client/vue.spec.js
  test/enforcements.spec.js
  test/support/index.mjs
  test/utils/expected-files.js
  test/vue.spec.js
Labels: theme: front

#19812 stop using generator as data at entity-i18n generator
  generators/entity-i18n/files.js
  generators/entity-i18n/index.js
Labels: theme: i18n

#19828 [Angular] Warnings: tilde imports is deprecated
  generators/client/templates/angular/src/main/webapp/app/admin/docs/docs.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
Labels: theme: angular

#19817 Stop using generator as template data at client generator.
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/needle-api/needle-client-webpack.js
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/client/templates/react/webpack/webpack.dev.js.ejs
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
  generators/client/transform-angular.cjs
  generators/client/transform-angular.spec.mjs
  generators/client/transform-react.cjs
  generators/client/transform-react.spec.mjs
  generators/client/transform-vue.cjs
  generators/client/transform-vue.spec.mjs
  generators/entity-client/files-angular.cjs
  generators/entity-client/files-react.cjs
  generators/entity-client/files-vue.cjs
  generators/entity-client/files.js
  generators/generator-base.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: vue

#19826 Stop using generator as template data at entity-client generator
  generators/client/needle-api/needle-client-i18n.js
  generators/entity-client/files-angular.cjs
  generators/entity-client/files-cypress.cjs
  generators/entity-client/files-react.cjs
  generators/entity-client/files-vue.cjs
  generators/entity-client/files.js
  generators/entity-client/index.js
  generators/entity-client/index.mjs
  generators/entity-client/templates/cypress/src/test/javascript/cypress/e2e/entity/entity.cy.ts.ejs
  generators/entity/index.js
  generators/generator-base.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#19864 Change client/common/server generators to use shared application
  generators/app/index.js
  generators/base-application/generator.cjs
  generators/base/api.d.ts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-base/types.d.ts
  generators/bootstrap-application-client/types.d.ts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/files-react.js
  generators/client/files-vue.js
  generators/client/index.js
  generators/client/templates/angular/src/test/javascript/e2e/account/account.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/client/templates/vue/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/home/home.vue.ejs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/files.js
  generators/common/generator.spec.mjs
  generators/common/index.js
  generators/common/templates/.prettierrc.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/docker-compose/files.js
  generators/docker-prompts.js
  generators/entity-i18n/templates/i18n/entity_en.json.ejs
  generators/generator-base.js
  generators/kubernetes-helm/files.js
  generators/kubernetes/files.js
  generators/server/files-couchbase.js
  generators/server/files-sql.js
  generators/server/files.js
  generators/server/index.js
  generators/server/needles.spec.mjs
  test/__snapshots__/app.spec.js.snap
  test/app.spec.js
  test/common.spec.js
  test/enforcements.spec.js
  test/generator-transform.spec.js
  test/languages.spec.js
  test/page.spec.js
  test/templates/all-languages/.yo-rc.json
  test/templates/ngx-blueprint/.yo-rc.json
Labels: theme: angular, theme: kubernetes, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: vue
