Repository jhipster/generator-jhipster, pull requests merged in 2022-05, with the labels that each got.

#18532 set profiles for bootRun command
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: gradle, pr: bug-fix, theme: java

#18528 Improvements to generate-blueprint
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
  generators/generator-base-blueprint.js
Labels: theme: jhipster-internals

#18535 update gradle git properties to get rid of slf4j warnings
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

#18307 Fix bag relationships sort
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
Labels: theme: java

#18568 Reduce vue branch threshold to 57 for microfrontends.
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

#18530 Use randomAlphanumeric instead of random for password in tests codes
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

#18556 Increase oracle name limit
  generators/entity/index.js
  generators/entity/prompts.js
  generators/generator-base.js
  generators/sql-constants.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals, theme: java, theme: front

#18529 Make sure insight is not called at mocha using parallel tests and add some checks
  generators/statistics.js
Labels: theme: jhipster-internals

#18254 Add microfrontend support to jdl.
  cli/import-jdl.js
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/cypress/templates/src/test/javascript/cypress/integration/administration/administration.spec.ts.ejs
  generators/generator-base.js
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  jdl/converters/json-to-jdl-converter.js
  jdl/exporters/applications/jhipster-application-formatter.js
  jdl/jhipster/application-options.js
  jdl/parsing/lexer/application-tokens.js
  jdl/parsing/validator.js
  jdl/validators/application-validator.js
  test-integration/jdl-samples/mf-ngx-eureka-jwt-psql-ehcache/blog-store.jdl
  test-integration/jdl-samples/mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/jdl-samples/mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/grammar/validator.spec.js
  test/jdl/jdl-importer.spec.js
  utils/entity.js
Labels: theme: react, theme: jhipster-internals, theme: java, theme: cli, theme: vue

#18632 Add support to mixed microservice/microfrontend.
  generators/client/needle-api/needle-client-angular.js
  generators/client/templates/angular/src/main/webapp/declarations.d.ts.ejs
  generators/cypress/files.js
  generators/entity-client/files.js
  generators/entity-client/index.js
  jdl/jhipster/default-application-options.js
  test-integration/jdl-samples/ms-mf-ngx-consul-jwt-neo4j/blog-store.jdl
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
  test-integration/workflow-samples/angular.json
  test-integration/workflow-samples/react.json
  test-integration/workflow-samples/vue.json
  utils/entity.js
Labels: theme: angular, theme: front

#18622 Fix relationship reference at microfrontends.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

#18631 [JDL] Add otherEntityRelationshipName only if the relationship exists at otherEntity.
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.js
  test-integration/scripts/99-build-changes.sh
  test/jdl/__snapshots__/jdl-importer.spec.js.snap
  test/jdl/converters/JDLToJSON/jdl-to-json-relationship-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-with-applications-to-json-converter.spec.js
  test/jdl/converters/JDLToJSON/jdl-without-application-to-json-converter.spec.js
  test/jdl/jdl-importer.spec.js
Labels: theme: angular

#18655 Use publishNotReadyAddresses: true for Kubernetes
  generators/kubernetes/templates/db/couchbase.yml.ejs
  generators/kubernetes/templates/db/mongodb.yml.ejs
  generators/kubernetes/templates/registry/consul.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  generators/openshift/templates/registry/consul.yml.ejs
  generators/openshift/templates/registry/jhipster-registry.yml.ejs
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: kubernetes

#18705 Add spring data annotation for custom id fields
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.elastic_search.ejs
Labels: theme: java

#18470 throw when different client frameworks are used for microfrontends
  cli/import-jdl.js
Labels: theme: cli

#18554 fix admin menu not being shown until after a navigation
  generators/client/templates/vue/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/date/filters.ts.ejs
Labels: theme: vue

#18677 fix: Correctly configure cors in reactive applications
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java, theme: reactive ⚛️

#18441 chore: upgrade keycloak to 18.0.0
  generators/common/templates/README.md.jhi.ejs
  generators/docker-compose/files.js
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker-compose/templates/realm-config/jhipster-users-0.json.ejs
  generators/generator-constants.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-users-0.json.ejs
  generators/server/templates/src/main/docker/jhipster-control-center.yml.ejs
  generators/server/templates/src/main/docker/jhipster-registry.yml.ejs
  generators/server/templates/src/main/docker/keycloak.yml.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource_reactive.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: CI builds

#18741 Implement new interfaces for ElasticSearch Entity indexing
  generators/entity-server/templates/partials/save_template.ejs
  generators/entity-server/templates/partials/update_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  test/entity.spec.js
Labels: theme: java

#18748 Make husky script executable
  generators/common/files.js
Labels: theme: java, theme: front

#18752 Switch microservice test to MongoDB
  .github/actions/compare-base/action.yml
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: theme: CI builds

#18676 Implement a new base for needles and add ApplicationProperties needle.
  .github/dependabot.yml
  generators/generator-base.js
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/esm.mjs
  generators/server/needles.cjs
  generators/server/needles.spec.mjs
  generators/server/templates/src/main/java/package/config/ApplicationProperties.java.ejs
  generators/utils.js
  lib/support/needles.cjs
  lib/support/needles.spec.mjs
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: java, theme: dependencies, theme: CI builds

#18775 Updates snapshots
  generators/server/__snapshots__/needles.spec.mjs.snap
Labels: theme: java
