Repository jhipster/generator-jhipster, pull requests merged in 2022-11, with the labels that each got.

#19959 JPA Entity Filtering option does not work when using reactive option
  generators/client/__snapshots__/angular.spec.mts.snap
  generators/client/__snapshots__/react.spec.mts.snap
  generators/client/__snapshots__/vue.spec.mts.snap
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql-entities.spec.mts.snap
  generators/server/entity-files.mjs
  generators/server/generator.mjs
  generators/server/templates/entity/src/main/java/package/common/get_all_template.ejs
  generators/server/templates/entity/src/main/java/package/common/inject_template.ejs
  generators/server/templates/entity/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/server/templates/entity/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/server/templates/entity/src/main/java/package/service/EntityService.java.ejs
  generators/server/templates/entity/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/server/templates/entity/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/server/templates/entity/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/sql/reactive/src/main/java/package/repository/rowmapper/ColumnConverter.java.ejs
  test/support/entity-samples.mts
  utils/relationship.mjs
Labels: theme: java, theme: CI builds

#20241 support mongock for reactive applications
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

#20231 Use project-name generator to configure baseName and other fixes.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/prompts.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-application/generator.mjs
  generators/base-docker/generator.mjs
  generators/base/generator-base-private.mjs
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/shared-data.mjs
  generators/base/tasks.d.mts
  generators/base/types.d.mts
  generators/base/utils.mjs
  generators/base/utils.spec.mts
  generators/bootstrap-application-base/generator.mts
  generators/ci-cd/generator.mjs
  generators/client/generator.mjs
  generators/client/generator.spec.mts
  generators/client/prompts.mjs
  generators/cypress/generator.mts
  generators/entities/generator.spec.mts
  generators/entity/generator.mjs
  generators/generator-defaults.cjs
  generators/heroku/generator.mjs
  generators/languages/languages.spec.mjs
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  generators/openapi-client/generator.mjs
  generators/page/generator.mjs
  generators/project-name/generator.mjs
  generators/server/generator.mjs
  generators/server/prompts.mjs
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
  generators/upgrade/generator.mjs
  generators/upgrade/upgrade.spec.mjs
  test/app/composing.spec.mts
  test/app/prompts.spec.cts
  test/blueprint/app-blueprint.spec.mts
  test/blueprint/client-blueprint-custom-path.spec.mts
  test/blueprint/constructor-error-blueprint.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mjs
  test/blueprint/multiple-blueprints.spec.mjs
  test/blueprint/sbs-blueprint.spec.mjs
  test/blueprint/scoped-blueprint.spec.mts
  test/entity/single-entity.spec.mts
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-i18n.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
  test/needle-api/needle-client.spec.mts
  test/needle-api/needle-server-cache.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/page.spec.mts
  test/utils/utils.cjs
Labels: theme: Heroku, theme: upgrade, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#20212 Load node dependencies and implement jhipster v7 data proxy
  .github/workflows/generator.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base-application/types.d.mts
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/jhipster7-proxy.mjs
  generators/bootstrap-application-base/generator.mts
  generators/ci-cd/generator.mjs
  generators/client/generator.mjs
  generators/generator-constants.cjs
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java, theme: front, theme: CI builds

#20242 cleanup and modularize some utils
  generators/base-docker/docker-base.mjs
  generators/base-docker/docker-prompts.mjs
  generators/base/generator-base.mjs
  generators/base/ts-utils.mts
  generators/base/utils.mjs
  generators/base/utils.spec.mts
  generators/bootstrap-application-base/faker.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/utils.mjs
  generators/bootstrap/utils.spec.mts
  generators/languages/utils.mjs
  generators/openapi-client/files.mjs
  generators/server/generator.mjs
  generators/utils.cjs
  lib/utils/secret-utils.mjs
  test/__snapshots__/openapi-client.spec.mts.snap
  test/blueprint/client-blueprint-custom-path.spec.mts
  test/blueprint/multiple-blueprints.spec.mjs
  test/blueprint/sbs-blueprint.spec.mjs
  test/fixtures/writeFilesToDisk/templates/common/all.ejs
  test/fixtures/writeFilesToDisk/templates/common/common.ejs
  test/fixtures/writeFilesToDisk/templates/specific/all.ejs
  test/fixtures/writeFilesToDisk/templates/specific/specific.ejs
  test/fixtures/writeFilesToDisk/templates_override/specific/all.ejs
  test/utils.spec.mjs
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#20243 modularize git generator
  generators/app/generator.mjs
  generators/base-application/generator.mjs
  generators/base/generator-base-blueprint.mjs
  generators/base/generator-base-private.mjs
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/client/generator.mjs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/files.mjs
  generators/common/generator.mjs
  generators/common/generator.spec.mjs
  generators/common/templates/.editorconfig.ejs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/git/__snapshots__/generator.spec.mts.snap
  generators/git/files.mjs
  generators/git/generator.mts
  generators/git/generator.spec.mts
  generators/git/index.mts
  generators/git/options.mjs
  generators/git/templates/.gitattributes.jhi.ejs
  generators/git/templates/.gitignore.jhi.ejs
  generators/info/generator.mts
  generators/init/generator.mjs
  generators/init/generator.spec.mts
  generators/server/generator.mjs
  generators/upgrade/generator.mjs
  generators/utils.cjs
  generators/workspaces/generator.mjs
  test/__snapshots__/api.spec.mjs.snap
  test/app/composing.spec.mts
  test/utils.spec.mjs
Labels: theme: upgrade, theme: jhipster-internals, theme: java, theme: front

#20262 drop @chevrotain/types direct dependency
  package-lock.json
  package.json
Labels: theme: dependencies

#20261 workspaces: use .gitignore from git generator
  .github/actions/compare/action.yml
  generators/common/generator.mjs
  generators/git/generator.mts
  generators/git/options.mjs
  generators/init/generator.mjs
  generators/init/generator.spec.mts
  generators/workspaces/generator.mjs
  generators/workspaces/templates/.gitignore.ejs
Labels: theme: java, theme: front, theme: CI builds

#20287 Revert "First PR - export some methods from the base generator"
  .mocharc.cjs
  app.jdl
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base-application/generator.spec.mts
  generators/base-application/logic/config/authority.mjs
  generators/base-application/logic/config/entities.mjs
  generators/base-application/logic/config/user.mjs
  generators/base-application/logic/index.mjs
  generators/base/generator-base-private.mjs
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/logic/generator/locator.mjs
  generators/base/logic/generator/parsers/json-parser.mjs
  generators/base/logic/index.mjs
  generators/base/logic/output/target-path-resolver.mjs
  generators/bootstrap-application-server/generator.mts
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/client/logic/index.mjs
  generators/client/logic/processors/build-tool/package-json.mjs
  generators/client/logic/processors/needles.mjs
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/entity/logic/entity/authority-checker.mjs
  generators/entity/logic/entity/user-checker.mjs
  generators/entity/logic/index.mjs
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  test-integration/generate-sample.sh
  test/__snapshots__/ci-cd.spec.mts.snap
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
  test/mocha.config.cjs
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front

#20285 sb3: set relationships as lazy load.
  generators/server/templates/entity/src/main/java/package/domain/Entity.java.jhi.jakarta_persistence.ejs
Labels: theme: java

#20289 sb3: fix jwt integration tests at microservices
  generators/server/files.mjs
  generators/server/templates/src/test/java/package/security/jwt/AuthenticationIntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JwtAuthenticationTestUtils.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/TestAuthenticationResource.java.ejs
Labels: theme: java

#20294 Replace constants with variables
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-private.mjs
  generators/bootstrap-application-base/generator.mts
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/ci-cd/generator.mjs
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/github-actions.yml.ejs
  generators/ci-cd/templates/travis.yml.ejs
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json.ejs
  generators/openapi-client/files.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/docker.gradle.ejs
  generators/server/templates/package.json.ejs
  generators/server/templates/pom.xml.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#20293 manage halzelcast version.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#20296 Prevent OutOfMemory error in integration tests
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

#20302 sb3: fix sql reactive workflows.
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#20313 Remove userPrimaryKeyTypeString and userPrimaryKeyTypeUUID.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/jhipster7-proxy.mjs
  generators/client/generator.mjs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: theme: jhipster-internals, theme: front, theme: vue

#20316 Rework cypress settings page.
  generators/cypress/__snapshots__/generator.spec.mts.snap
  generators/cypress/files.mts
  generators/cypress/templates/src/test/javascript/cypress/e2e/account/settings-page.cy.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/account.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/index.ts.ejs
  generators/server/templates/src/main/java/package/config/dbmigrations/InitialSetupMigration.java.ejs
Labels: theme: java

#20344 Don't lazy-load ManyToOne if relationship is required
  generators/server/templates/entity/src/main/java/package/domain/Entity.java.jhi.jakarta_persistence.ejs
Labels: theme: java

#20330 fix build at windows
  package.json
Labels: theme: dependencies

#20332 Fix PublicUserResourceIT#getAllPublicUsers() for WebFlux + Neo4j
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/config/neo4j/Neo4jMigrations.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
Labels: theme: java

#20331 Minor fixes in ExceptionTranslator
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
Labels: theme: java

#20360 Fix watch npm script in Windows
  package.json
Labels: theme: windows, theme: dependencies

#20388 drop modules support.
  generators/angular/templates/package.json.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/prompts.mjs
  generators/base/generator-base-blueprint.mjs
  generators/base/generator-base.mjs
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/entity/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/generator-defaults.cjs
  generators/react/templates/package.json.ejs
  generators/server/templates/package.json.ejs
  generators/statistics.cjs
  generators/vue/templates/package.json.ejs
  jdl/converters/json-to-jdl-converter.ts
  jdl/exporters/applications/jhipster-application-formatter.ts
  jdl/jhipster/application-options.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/validator.ts
  jdl/validators/application-validator.ts
  test/jdl/converters/json-to-jdl-converter.spec.ts
  test/jdl/test-files/json_to_jdl_converter/app_with_entities/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app1/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app2/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/multi_apps/app3/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/only_app/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/with_authority/.yo-rc.json
  test/jdl/test-files/json_to_jdl_converter/with_user/.yo-rc.json
  test/templates/ci-cd/npm-skip-server/.yo-rc.json
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#20396 remove realm content from snapshots.
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/docker-compose.spec.mts
Labels: theme: docker :whale:

#20395 Upgrade Keycloak to v20 and realm configurations
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/server/templates/Dockerfile
Labels: theme: docker :whale:, theme: java

#20414 drop chevrotain types copy
  jdl/chevrotain.d.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: theme: dependencies

#20413 drop INTERPOLATE_REGEX
  generators/generator-constants.cjs
  generators/liquibase-changelogs/files.mjs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.spec.mjs
Labels: theme: jhipster-internals, theme: java

#20415 replace testsNeedCsrf with authenticationUsesCsrf
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/jhipster7-proxy.mjs
  generators/bootstrap-application/generator.spec.mts
  generators/server/generator.mjs
  generators/server/templates/entity/partials/it_patch_update.partial.java.ejs
  test/utils-field.spec.mts
  utils/entity.mjs
Labels: theme: jhipster-internals, theme: java

#20402 fix: Replace asterisk with UUID and conditional inject internal client
  generators/docker-compose/generator.mjs
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/generator.mjs
  generators/docker/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: docker :whale:

#20416 modularize couchbase generator.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base.mjs
  generators/base/utils.mjs
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/couchbase/entity-files.mjs
  generators/couchbase/files.mjs
  generators/couchbase/generator.mjs
  generators/couchbase/generator.spec.mts
  generators/couchbase/index.mts
  generators/couchbase/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_couchbase.ejs
  generators/couchbase/templates/src/main/java/package/repository/CouchbaseSearchRepository.java.ejs
  generators/couchbase/templates/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
  generators/couchbase/templates/src/main/java/package/repository/PersistentTokenRepository_couchbase.java.ejs
  generators/couchbase/templates/src/main/java/package/repository/_EntityClass_Repository.java.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/authority/ROLE_ADMIN.json.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/authority/ROLE_USER.json.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user/admin.json.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user/user.json.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0.2__create_indexes.n1ql.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/V0__create_collections.n1ql.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/entity.fts.ejs
  generators/couchbase/templates/src/main/resources/config/couchmove/changelog/entity.n1ql.ejs
  generators/couchbase/templates/src/test/java/package/config/CouchbaseTestContainer.java.ejs
  generators/couchbase/templates/src/test/java/package/config/EmbeddedCouchbase.java.ejs
  generators/couchbase/templates/src/test/java/package/repository/CouchbaseSearchRepositoryTest.java.ejs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/gradle/generator.mjs
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/__test-support/index.mjs
  generators/server/entity-files.mjs
  generators/server/files-couchbase.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/generator.spec.mjs
  generators/server/utils.mjs
  test-integration/scripts/99-build-changes.sh
  test/__snapshots__/api.spec.mjs.snap
  utils/entity.mjs
Labels: theme: gradle, theme: jhipster-internals, theme: java
