Repository jhipster/generator-jhipster, pull requests merged in 2022-07, with the labels that each got.

#19062 Clear sort if unsortable
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

#19045 angular: implement formService
  generators/entity-client/files-angular.cjs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular, theme: front

#19074 fix config directories in app.yml
  generators/server/templates/src/main/docker/app.yml.ejs
Labels: theme: java

#19076 💡 update/correct method parameter documentation
  cli/environment-builder.js
  cli/import-jdl.js
  cli/jhipster-command.js
  generators/bootstrap/index.js
  generators/docker-utils.js
  generators/entity-server/cleanup.js
  generators/generator-base-blueprint.js
  generators/generator-base-private.js
  generators/generator-base.js
  generators/java/index.cjs
  generators/project-name/index.cjs
  jdl/exporters/applications/jhipster-application-formatter.js
  jdl/validators/jdl-with-application-validator.js
  jdl/validators/jdl-without-application-validator.js
  lib/support/needles.cjs
  lib/support/shared-data.cjs
  utils/blueprint.js
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java, theme: cli

#19110 workaround mysql test container failures by forcing `-debian` variant
  generators/server/templates/sql/common/src/main/docker/mysql.yml.ejs
  generators/server/templates/sql/common/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/sql/common/src/test/resources/testcontainers/mysql/my.cnf
Labels: theme: java

#19138 [Vue] Upgrade 2.7.5
  generators/client/templates/vue/package.json
  generators/client/templates/vue/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity-update.component.ts.ejs
Labels: theme: dependencies, theme: vue

#19184 fix spring security warning
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

#19159 workaround intrusive warning due to deprecated bootstrap property
  .github/dependabot.yml
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react, theme: dependencies, theme: CI builds, theme: vue

#19200 Revert "workaround intrusive warning due to deprecated bootstrap property"
  .github/dependabot.yml
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
Labels: theme: angular, theme: react, theme: dependencies, theme: CI builds, theme: vue

#19098 angular: improve form service
  generators/bootstrap-application/generator.mjs
  generators/bootstrap-application/generator.spec.mjs
  generators/client/templates/angular/tsconfig.app.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity/index.js
  utils/entity.js
  utils/field.js
Labels: theme: angular, theme: java, theme: front

#19205 change frameOptions to sameOrigin
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: theme: java

#19214 another fix for bag relationships with @EntityPackage
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationships.java.ejs
Labels: theme: java

#19215 updates k8s ingress resource to generate the current non-deprecated format
  generators/generator-constants.js
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/monitoring/jhipster-grafana.yml.ejs
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
Labels: pr: bug-fix, theme: kubernetes, theme: jhipster-internals

#19218 Update spring-boot version to 2.7.2
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_cassandra.ejs
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#19257 [React] Update react-jhipster version to 0.21.0
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#19249 React password component allow repeat save
  generators/client/templates/react/src/main/webapp/app/modules/account/password/password.tsx.ejs
Labels: theme: react

#18586 [angular] upgrade to angular to v14
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.module.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.ts.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/webpack/webpack.microfrontend.js.ejs
  generators/entity-client/files-angular.cjs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity-management.module.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/entity.test-samples.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/generator-base-private.js
  test-integration/incremental-changelog-samples/liquibase-jdl-rename-field-post/app.jdl
  utils/field.js
Labels: theme: angular, theme: jhipster-internals, theme: front, theme: dependencies

#19259 translate filter to pt-br and fix page translation
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-br/global.json.ejs
Labels: theme: angular, theme: i18n

#19261 fix no database and unidirectional relationships
  generators/entity/index.js
  utils/relationship.js
Labels: theme: java, theme: front

#19262 split entity-server files
  generators/entity-server/files.js
Labels: theme: java

#19263 reuse enviroment builder factory method and improve blueprint check
  cli/import-jdl.js
  cli/jdl.js
  cli/program.js
  generators/generator-base-blueprint.js
  generators/generator-base.js
Labels: theme: jhipster-internals, theme: cli

#19266 fix: resolveCallback should not resolve to undefined.
  generators/generator-base.js
  test/__snapshots__/server.spec.js.snap
Labels: theme: jhipster-internals

#19268 make cypress-audit optional (disable with --no-cypress-audit)
  generators/app/index.js
  generators/cypress/files.js
  generators/cypress/index.js
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/generator-base.js
Labels: theme: jhipster-internals

#19270 fix sonar vulnerabilities
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
Labels: theme: java

#19272 Update nodejs version to 16.16.0
  .github/workflows/generator.yml
  generators/generator-constants.js
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: jhipster-internals, theme: CI builds

#19273 Update dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#19274 Update bom version to 7.9.0
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#19277 Fine-tune release-drafter configuration
  .github/dependabot.yml
  .github/release-drafter.yml
Labels: theme: CI builds

#18384 Update link to documentation archive in template
  generators/common/templates/README.md.jhi.ejs
Labels: theme: java, theme: front
