Repository jhipster/generator-jhipster, pull requests merged in 2022-04, with the labels that each got.

#18252 Update spring-boot version to 2.6.6
  generators/generator-constants.js
Labels: theme: jhipster-internals

#18253 [Angular] Sonar: Rename it to _index to make intention explicit
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
Labels: theme: angular

#18259 Update some dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#18260 [Angular] Sonar: Rename unused parameter
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

#18262 Bump react-jhipster to 0.20.0
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#18261 Bump jhipster dependencies 7.8.0
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#18264 Use jhipster dependencies 7.8.1 snapshot
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#18179 Add permissions to GitHub actions
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/generator.yml
  .github/workflows/generators.yml
  .github/workflows/gradle-wrapper-validation.yml
  .github/workflows/labeler.yml
  .github/workflows/lock-maintenance.yml
  .github/workflows/react.yml
  .github/workflows/release-drafter.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#18266 Revert "Revert "Update maven version to 3.8.5""
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/pom.xml.jhi.ejs
  generators/server/templates/.mvn/wrapper/maven-wrapper.properties
  generators/server/templates/pom.xml.ejs
Labels: theme: maven, theme: java

#18288 Add note about security policy in ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: theme: CI builds

#18305 Bump jhipster-bom version to 7.8.1
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#18303 Allow env vars to be populated by secret files
  generators/server/templates/src/main/docker/jib/entrypoint.sh.ejs
Labels: theme: java

#18320 adapt release drafter config to have smaller github release notes
  .github/release-drafter.yml
Labels: theme: CI builds

#18308 Misc fixes
  generators/app/prompts.js
  generators/client/prompts.js
  generators/entity-server/index.js
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java, theme: front

#18295 Fix user package when server generator is not used
  generators/bootstrap-application/generator.spec.mjs
  generators/server/index.js
  utils/entity.js
Labels: theme: java, release-notes

#18268 Update open-api version
  generators/common/templates/README.md.jhi.ejs
  generators/generator-constants.js
  generators/openapi-client/files.js
  generators/openapi-client/index.js
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java, theme: front

#18306 Add support to generate custom generators at generate-blueprint (replaces modules)
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/cli/commands.cjs.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generator-base-private.js
  generators/project-name/index.cjs
  test-integration/generate-blueprint-samples/default/.yo-rc.json
Labels: theme: jhipster-internals, release-notes

#18417 fix Croatian translation for global.entity.action.view #18386
  generators/languages/templates/src/main/webapp/i18n/hr/global.json.ejs
Labels: theme: i18n

#18432 Update messages_de.properties.ejs
  generators/languages/templates/src/test/resources/i18n/messages_de.properties.ejs
Labels: theme: i18n

#18433 Update spring-boot version to 2.6.7 and other dependencies
  .github/actions/setup/action.yml
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#18434 define boot dev tools only in main gradle
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: gradle

#18445 Fix typo in generated readme
  generators/common/templates/README.md.jhi.ejs
Labels: theme: java, theme: front

#18443 Update docker images version
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
Labels: theme: jhipster-internals

#18450 add correct springdoc dependency version depending on reactive/webmvc
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle, pr: bug-fix, theme: java, theme: reactive ⚛️

#18449 Split server cleanup in multiple files
  generators/server/cleanup-angular.js
  generators/server/cleanup-cassandra.js
  generators/server/cleanup-cucumber.js
  generators/server/cleanup-elasticsearch.js
  generators/server/cleanup-gradle.js
  generators/server/cleanup-h2.js
  generators/server/cleanup-hazelcast.js
  generators/server/cleanup-kafka.js
  generators/server/cleanup-maven.js
  generators/server/cleanup-mongodb.js
  generators/server/cleanup-oauth2.js
  generators/server/cleanup-postgresql.js
  generators/server/cleanup-reactive.js
  generators/server/cleanup.js
Labels: theme: angular, theme: java

#18451 use SpringContextCustomizer for Neo4j ITests
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup.js
  generators/server/files.js
  generators/server/templates/src/test/java/package/AbstractNeo4jIT.java.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/EmbeddedNeo4j.java.ejs
  generators/server/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  test/utils/expected-files.js
Labels: theme: java, theme: neo4j

#18452 move h2 deps to dev profile for gradle
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
Labels: theme: java

#18447 chore(deps): Included dependency review
  .github/workflows/depsreview.yml
Labels: theme: CI builds

#18497 Update jaxb-runtime version to 2.3.6
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#18499 Update node version to 16.15.0
  .github/actions/build-matrix/action.yml
  .github/workflows/generator.yml
  .github/workflows/lock-maintenance.yml
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
  generators/generator-constants.js
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: jhipster-internals, theme: CI builds

#18502 Use randomAlphanumeric instead of random for password in tests codes
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
Labels: theme: java
