Repository jhipster/generator-jhipster, pull requests merged in 2022-02, with the labels that each got.

#17741 Disable dependabot rebase strategy.
  .github/dependabot.yml
Labels: theme: CI builds

#17759 Bump @angular/cli to 13.2.2
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
Labels: theme: angular, theme: dependencies

#17779 Sonar rule key 'squid:S4502' has been changed to 'java:S4502'
  generators/common/templates/sonar-project.properties.ejs
Labels: theme: java, theme: front

#17754 Expose properties from the Environment whose name starts with info
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

#17783 Update copyright headers.
  .github/workflows/generate-blueprint.yml
  generators/generate-blueprint/esm.mjs
  generators/generate-blueprint/files.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/generator.spec.mjs
  generators/generate-blueprint/index.mjs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
  generators/generate-blueprint/templates/.mocharc.cjs.ejs
  generators/generate-blueprint/templates/.prettierignore.jhi.blueprint.ejs
  generators/generate-blueprint/templates/README.md.ejs
  generators/generate-blueprint/templates/cli/commands.cjs.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generate-blueprint/templates/generators/generator/index.mjs.ejs
  generators/server/templates/couchbase/src/test/java/package/CouchbaseTestContainerExtension.java.ejs
  generators/server/templates/src/main/java/package/config/LocaleConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource_reactive.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest_reactive.java.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CustomClaimConverterIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
  lib/constants/logo.cjs
  test/utils/utils.mjs
Labels: theme: java, theme: CI builds

#17781 Downgrade swagger-ui to 4.2.1
  generators/client/templates/angular/package.json
  generators/client/templates/react/package.json
  generators/client/templates/vue/package.json
Labels: theme: angular, theme: react, theme: dependencies, theme: vue

#17791 Add org.springdoc.api.annotations.ParameterObject to EntityCriteria.
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
Labels: theme: java

#17615 Update sleuth/zipkin dependencies
  generators/generator-base-docker.js
  generators/generator-constants.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/zipkin.yml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  test-integration/scripts/20-docker-compose.sh
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: jhipster-internals, theme: java

#17811 npmw: revert to global node if local is not found.
  generators/common/files.js
  generators/common/index.js
  generators/common/templates/.husky/pre-commit.ejs
  generators/common/templates/README.md.jhi.ejs
  generators/generator-base.js
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/npmw
  test/__snapshots__/app.spec.js.snap
Labels: theme: jhipster-internals, theme: java, theme: front

#17824 Fix compilation error on custom primary key fields
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-reducer.spec.ts.ejs
  generators/entity-client/templates/react/src/main/webapp/app/entities/entity-update.tsx.ejs
Labels: theme: react

#17834 add missing imports for UUID based relationships
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/repository/rowmapper/EntityRowMapper.java.ejs
Labels: theme: java

#17795 Misc fixes and improvements.
  generators/client/templates/angular/angular.json.ejs
  generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/files.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/generate-blueprint/templates/test/utils.mjs.ejs
  generators/generator-base-entities.cjs
  generators/generator-base.js
  generators/server/needle-api/needle-server-maven.js
  lib/constants/priorities.cjs
  lib/constants/priorities.mjs
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#17410 Handle expired session at vue.
  generators/client/templates/vue/src/main/webapp/app/main.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/axios-interceptor.ts.ejs
  generators/client/templates/vue/src/main/webapp/app/shared/config/config.ts.ejs
Labels: theme: vue

#17853 Add jwt-consul microservice test.
  .github/workflows/jdl.yml
  test-integration/jdl-samples/blog-store-react-jwt-consul/blog-store.jdl
Labels: theme: CI builds

#17836 Improve jhipster cli global/local messages.
  cli/jhipster.js
  cli/program.js
Labels: theme: cli

#17900 Stop generating UserResource for OAuth2
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/index.js
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

#17903 Cleanup microservice workflow and samples.
  .github/workflows/angular.yml
  .github/workflows/jdl.yml
  .github/workflows/microservice.yml
  .github/workflows/react.yml
  test-integration/jdl-samples/mf-ngx-eureka-jwt/blog-store.jdl
  test-integration/jdl-samples/mf-vue-consul-oauth2/blog-store.jdl
  test-integration/jdl-samples/ms-ngx-eureka-oauth2/blog-store.jdl
  test-integration/jdl-samples/ms-react-jwt-consul/blog-store.jdl
Labels: theme: CI builds

#17887 set x-frame-options header to deny in reactive stack
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#17909 Conditionally include Zipkin Docker container
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
  test/server.spec.js
Labels: theme: java

#17901 Fix Spring EL in Queries
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#14957 Upgrade to Bootstrap 5 for Angular
  generators/client/files-angular.js
  generators/client/files-common.js
  generators/client/index.js
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/password/password.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/register/register.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/health/modal/health-modal.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-endpoints-requests/metrics-endpoints-requests.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/blocks/metrics-system/metrics-system.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/layouts/profiles/page-ribbon.component.scss.ejs
  generators/client/templates/angular/src/main/webapp/app/login/login.component.html.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/client/templates/angular/src/main/webapp/content/scss/vendor.scss.ejs
  generators/client/templates/angular/webpack/webpack.custom.js.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/delete/entity-management-delete-dialog.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.html.ejs
  test/__snapshots__/app.spec.js.snap
  test/needle-api/needle-client-angular.spec.js
Labels: theme: angular, theme: front, $$ bug-bounty $$, $500, theme: dependencies

#17778 Make Service layer optional and add Properties to ignoreDependency.
  generators/server/templates/src/test/java/package/TechnicalStructureTest.java.ejs
Labels: theme: java

#17908 Minor fixes.
  .github/workflows/jdl.yml
  cli/program.js
  generators/generate-blueprint/templates/cli/cli.mjs.ejs
  generators/server/index.js
Labels: theme: java, theme: cli, theme: CI builds, pr: jdl-disable-compare

#13448 Improve multiple bags fetch.
  generators/entity-server/files.js
  generators/entity-server/templates/partials/it_patch_update.partial.java.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationships.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryWithBagRelationshipsImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
Labels: theme: java, theme: front

#17920 Update Nodejs version to 16.14.0
  .github/workflows/generator.yml
  generators/generator-constants.js
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: jhipster-internals, theme: CI builds

#17923 Load entity domain at user entity.
  generators/bootstrap/index.js
  generators/entity/index.js
  utils/entity.js
Labels: theme: jhipster-internals, theme: java, theme: front

#17925 Update dependencies
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#17928 fix application hanging with multiple role checks
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
Labels: theme: vue

#17954 Fixes
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity/index.js
  generators/server/index.js
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/TechnicalStructureTest.java.ejs
  generators/server/templates/src/test/java/package/cucumber/stepdefs/StepDefs.java.ejs
  generators/server/templates/src/test/java/package/cucumber/stepdefs/UserStepDefs.java.ejs
Labels: theme: java, theme: front

#17958 Fix custom jhiPrefix
  generators/client/templates/angular/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/entity-client/templates/react/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity-update-page-object.ts.ejs
  generators/entity-client/templates/vue/src/test/javascript/e2e/entities/entity.spec.ts.ejs
  test/enforcements.spec.js
Labels: theme: angular, theme: react, theme: vue

#17966 Revert maven-compiler-plugin to 3.9.0
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#17822 [Couchbase] Add support to scope and collections
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-management-update.component.ts.ejs
  generators/entity-client/templates/common/src/test/javascript/cypress/integration/entity/entity.spec.ts.ejs
  generators/entity-server/files-couchbase.js
  generators/entity-server/templates/couchbase/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/couchbase/src/main/resources/config/couchmove/changelog/entity.fts.ejs
  generators/entity-server/templates/couchbase/src/main/resources/config/couchmove/changelog/entity.n1ql.ejs
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity/index.js
  generators/generator-constants.js
  generators/server/files-couchbase.js
  generators/server/index.js
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/CustomCouchbaseRepositoryFactory.java.ejs
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/CustomCouchbaseRepositoryFactoryBean.java.ejs
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/CustomCouchbaseRepositoryQuery.java.ejs
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/CustomN1qlQueryCreator.java.ejs
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/CustomN1qlRepositoryQueryExecutor.java.ejs
  generators/server/templates/couchbase/src/main/java/package/config/couchbase/package-info.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/CouchbaseSearchRepository.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/PersistentTokenRepository_couchbase.java.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/ROLE_ADMIN.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/ROLE_USER.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/authority/ROLE_ADMIN.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/authority/ROLE_USER.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user/admin.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.1__initial_setup/user/user.json.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0.2__create_indexes.n1ql.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0__create_collections.n1ql.ejs
  generators/server/templates/couchbase/src/main/resources/config/couchmove/changelog/V0__create_indexes.n1ql.ejs
  generators/server/templates/couchbase/src/test/java/package/CouchbaseTestContainerExtension.java.ejs
  generators/server/templates/couchbase/src/test/java/package/repository/CouchbaseSearchRepositoryTest.java.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/DatabaseConfiguration_couchbase.java.ejs
  generators/server/templates/src/main/java/package/domain/Authority.java.ejs
  generators/server/templates/src/main/java/package/domain/PersistentToken.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/AuthorityRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/test/java/package/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  test-integration/samples/.jhipster/EntityWithServiceImplPaginationAndDTO.json
  test-integration/scripts/13-replace-version-generated-project.sh
  test/entity.spec.js
  test/utils/expected-files.js
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: CI builds

#17981 Switch mongodb workflow to mongodb.
  test-integration/jdl-samples/ms-ngx-eureka-oauth2-mongodb-caffeine/blog-store.jdl
Labels: pr: jdl-disable-compare

#17984 Bump jhipster-registry to 7.3.0
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.helm.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
Labels: theme: jhipster-internals

#17983 Bump react-jhipster to 0.19.0
  generators/client/templates/react/package.json
Labels: theme: react, theme: dependencies

#17986 Bump jhipster dependencies 7.7.0
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: server-side libraries, theme: CI builds

#17987 Update link in generated README
  generators/common/templates/README.md.jhi.ejs
Labels: area: documentation:books:, theme: java, theme: front

#17988 edit email.test.title
  generators/languages/templates/src/test/resources/i18n/messages_fr.properties.ejs
  package-lock.json
Labels: theme: i18n, theme: dependencies

#17989 Use jhipster dependencies 7.7.1 snapshot
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#17992 Add microservice with vue and couchbase test sample
  .github/workflows/jdl.yml
  .github/workflows/vue.yml
  generators/entity-server/templates/couchbase/src/main/java/package/domain/Entity.java.jhi.spring_data_couchbase.ejs
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
Labels: theme: java, theme: CI builds

#17993 Add implementsEagerLoadApis variable so it's easier to track eager load apis
  .github/workflows/jdl.yml
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/common/get_template.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/repository/EntityRepository_reactive.java.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/entity-server/templates/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
Labels: theme: java, theme: front, theme: CI builds

#18007 [Couchbase] Fix pagination requests for entities with relationships
  generators/entity-server/templates/couchbase/src/main/java/package/repository/EntityRepository.java.ejs
  generators/server/templates/couchbase/src/main/java/package/repository/JHipsterCouchbaseRepository.java.ejs
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
  test-integration/samples/.jhipster/Place.json
Labels: theme: java
