Repository jhipster/generator-jhipster, pull requests merged in 2022-10, with the labels that each got.

#19893 Move bootstrap related files to bootstrap folder
  .eslintrc.json
  .github/dependabot.yml
  cli/logo.cjs
  cli/program.js
  generators/base/generator.cjs
  generators/base/tasks.d.ts
  generators/bootstrap/generator.mts
  generators/bootstrap/generator.spec.mts
  generators/bootstrap/index.mts
  generators/bootstrap/multi-step-transform/index.mjs
  generators/bootstrap/multi-step-transform/template-data.mjs
  generators/bootstrap/multi-step-transform/template-file-fs.mjs
  generators/bootstrap/multi-step-transform/template-file.mjs
  generators/bootstrap/transforms.mjs
  generators/server/index.mjs
  generators/server/needles.mjs
  generators/server/needles.spec.mjs
  lib/global.d.ts
  lib/support/needles.mjs
  lib/support/needles.spec.mjs
  package-lock.json
  package.json
  test/integration-test.spec.mjs
Labels: theme: jhipster-internals, theme: java, theme: cli, theme: dependencies, theme: CI builds

#19958 [React] Bump react-router-dom from 6.4.1 to 6.4.2
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/shared/auth/private-route.tsx.ejs
Labels: theme: react, theme: dependencies

#19977 Update archunit-junit5 version to 1.0.0
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/TechnicalStructureTest.java.ejs
Labels: theme: java

#19126 Switch MySql testcontainer from Debian to Oracle.
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/cleanup-sql.cjs
  generators/server/cleanup.cjs
  generators/server/files-sql.cjs
  generators/server/files.cjs
  generators/server/templates/sql/common/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/server/templates/sql/common/src/test/resources/testcontainers/mysql/my.cnf
Labels: $100, theme: java, $$ bug-bounty $$

#19978 Finalize unambiguous priorities api changes.
  generators/add/index.cjs
  generators/app/generator.cjs
  generators/aws/generator.cjs
  generators/azure-app-service/generator.cjs
  generators/azure-spring-cloud/generator.cjs
  generators/base-application/generator.cjs
  generators/base-application/priorities.cjs
  generators/base-application/priorities.mjs
  generators/base-docker/generator.cjs
  generators/base/generator-base-blueprint.cjs
  generators/base/generator-base.cjs
  generators/base/generator.cjs
  generators/base/priorities.cjs
  generators/base/priorities.mjs
  generators/base/utils.cjs
  generators/base/utils.spec.mjs
  generators/ci-cd/generator.cjs
  generators/cloudfoundry/generator.cjs
  generators/docker-compose/generator.cjs
  generators/entities/generator.cjs
  generators/entity/generator.cjs
  generators/gae/generator.cjs
  generators/generate-blueprint/constants.mjs
  generators/generate-blueprint/generator.mjs
  generators/heroku/generator.cjs
  generators/info/generator.cjs
  generators/kubernetes-helm/generator.cjs
  generators/kubernetes-knative/generator.cjs
  generators/kubernetes/generator.cjs
  generators/openapi-client/generator.cjs
  generators/openshift/generator.cjs
  generators/page/generator.cjs
  generators/server/generator.cjs
  generators/spring-controller/generator.cjs
  generators/spring-service/generator.cjs
  generators/workspaces/generator.cjs
  lib/constants/priorities.cjs
  lib/constants/priorities.mjs
  lib/support/mixin.cjs
  lib/support/needles.mjs
  test-integration/generate-blueprint-samples/default/.yo-rc.json
  test/blueprint/local-blueprint.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mjs
  test/cli/cli.spec.cjs
  test/generator-base-blueprint.spec.mjs
  test/generator-base-private.spec.mjs
  test/generator-base.spec.mts
  test/support/index.cjs
  test/support/mock-config.cjs
  test/templates/fake-blueprint/generators/app/index.js
  test/utils-entity.spec.mts
  test/utils-field.spec.mts
  utils/entity.cjs
  utils/user.cjs
Labels: theme: aws, theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front

#19995 Drop registerComposedGenerator and compose once
  generators/app/generator.cjs
  generators/base/generator-base.cjs
  generators/base/generator.cjs
  generators/bootstrap/generator.mts
  generators/client/generator.cjs
  generators/database-changelog-liquibase/generator.cjs
  generators/database-changelog-liquibase/incremental-liquibase.spec.mts
  generators/database-changelog/generator.mts
  generators/database-changelog/generator.spec.mts
  generators/entity/generator.cjs
  generators/server/generator.cjs
  test/app/composing.spec.mts
  test/generator-base.spec.mts
Labels: theme: jhipster-internals, theme: java, theme: front

#19999 Remove using blueprint info.
  generators/base/generator-base-blueprint.cjs
Labels: theme: jhipster-internals

#20002 update snapshots
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  package.json
Labels: theme: java, theme: dependencies

#20012 implement docker containers and java dependencies map
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.spec.mts
  generators/base-docker/generator.cjs
  generators/base/generator.cjs
  generators/bootstrap-application-base/types.d.ts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application-server/types.d.ts
  generators/database-changelog-liquibase/generator.cjs
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/docker-compose.spec.mts
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/generator-constants.cjs
  generators/generator-constants.mjs
  generators/kubernetes/templates/db/postgresql.yml.ejs
  generators/openshift/templates/db/postgresql.yml.ejs
  generators/server/generator.cjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/sql/common/src/main/docker/postgresql.yml.ejs
  generators/server/templates/sql/common/src/test/java/package/config/PostgreSqlTestContainer.java.ejs
  generators/server/templates/src/main/docker/keycloak.yml.ejs
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/mocha.config.cjs
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java

#20014 let java dependencies and docker images to be updated by dependabot.
  .github/dependabot.yml
  .prettierrc
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.spec.mts
  generators/base-docker/generator.cjs
  generators/base/generator-base.cjs
  generators/base/generator.cjs
  generators/bootstrap-application-server/generator.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/generator-constants.cjs
  generators/kubernetes/templates/db/elasticsearch.yml.ejs
  generators/openshift/templates/db/elasticsearch.yml.ejs
  generators/server/generator.cjs
  generators/server/index.mjs
  generators/server/templates/Dockerfile
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/docker/elasticsearch.yml.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/server/utils.mjs
  package-lock.json
  package.json
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: dependencies, theme: CI builds

#20034 bump @faker-js/faker to 7.6.0
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base.cjs
  generators/bootstrap-application-base/faker.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-base/types.d.ts
  generators/cypress/generator.mts
  generators/database-changelog-liquibase/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/database-changelog-liquibase/incremental-liquibase.spec.mts
  generators/database-changelog-liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  lib/global.d.ts
  package-lock.json
  package.json
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
  utils/entity.cjs
  utils/faker.cjs
  utils/field.cjs
Labels: theme: jhipster-internals, theme: dependencies

#20047 improve watch script
  package-lock.json
  package.json
  watch.mjs
Labels: theme: dependencies

#20001 Migrate to new Elasticsearch Java client for Spring Boot 3
  Dockerfile
  generators/server/templates/entity/src/main/java/package/domain/Entity.java.jhi.jakarta_persistence.ejs
  generators/server/templates/entity/src/main/java/package/repository/search/EntitySearchRepository.java.ejs
  generators/server/templates/entity/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/EntityResource.java.ejs
  generators/server/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestConfiguration.java.ejs
Labels: theme: docker :whale:, theme: java

#20067 polish ClientForwardController
  generators/server/templates/src/main/java/package/web/rest/ClientForwardController.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/web/rest/ClientForwardControllerTest.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java

#20069 export sql files
  generators/server/files-sql.js
Labels: theme: java, v7

#20011 Migrate from cloud sleuth to micrometer tracing
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/server/templates/gradle/zipkin.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
Labels: theme: kubernetes, theme: java

#20104 Rename type files to use esm extension.
  generators/base-application/generator.mjs
  generators/base-application/tasks.d.mts
  generators/base-application/types.d.mts
  generators/base/api.d.mts
  generators/base/application.d.mts
  generators/base/generator-base-blueprint.mjs
  generators/base/generator-base-private.mjs
  generators/base/generator-base.mjs
  generators/base/generator.mts
  generators/base/tasks.d.mts
  generators/base/ts-utils.mts
  generators/base/utils.spec.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap-application/types.d.ts
  generators/bootstrap/generator.mts
  generators/client/types.d.mts
  generators/common/types.d.mts
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/cypress/types.d.mts
  generators/cypress/types.d.ts
  generators/database-changelog/generator.mts
  generators/export-jdl/generator.mts
  generators/gradle/generator.mjs
  generators/info/generator.mts
  generators/init/generator.mjs
  generators/maven/generator.mjs
  generators/project-name/generator.mjs
  generators/server/cleanup-sql.mjs
  generators/server/cleanup.mjs
  generators/server/generator.mjs
  generators/server/types.d.mts
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java, theme: front

#20103 Cleanup unused template files.
  generators/client/templates/react/src/main/webapp/app/modules/account/sessions/sessions.reducer.spec.ts.ejs
  generators/common/templates/src/main/resources/banner.txt.ejs
  generators/server/templates/src/main/java/package/client/AuthorizedUserFeignClient.java.ejs
  generators/server/templates/src/main/java/package/client/OAuth2UserClientFeignConfiguration.java.ejs
  generators/server/templates/src/main/java/package/client/OAuth2_UserFeignClientInterceptor.java.ejs
  generators/server/templates/src/main/java/package/security/IatTokenEnhancer.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CachedUserInfoTokenServices.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/SimpleAuthoritiesExtractor.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/SimplePrincipalExtractor.java.ejs
  generators/server/templates/src/main/resources/config/liquibase/data/oauth_client_details.csv.ejs
  generators/server/templates/src/test/java/package/security/oauth2/CookieCollectionTest.java.ejs
  test/enforcements.spec.mjs
Labels: theme: react, theme: java, theme: front

#19955 cypress template path should be constant
  generators/cypress/files.js
Labels: v7

#19956 bump yeoman-environment to 3.12.0
  package-lock.json
  package.json
Labels: theme: dependencies, v7

#20108 Rename ngx to ng in CI samples
  .github/workflows/generator-generate-blueprint.yml
  .vscode/launch.json
  generators/client/__workflow/devserver-angular.json
  test-integration/generate-sample.sh
  test-integration/jdl-samples/mf-ng-eureka-jwt-psql-ehcache/blog-store.jdl
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
  test-integration/jdl-samples/ms-ng-eureka-oauth2-mongodb-caffeine/blog-store.jdl
  test-integration/samples/README.md
  test-integration/samples/ng-couchbase/.yo-rc.json
  test-integration/samples/ng-default/.yo-rc.json
  test-integration/samples/ng-gradle-couchbase-search/.yo-rc.json
  test-integration/samples/ng-gradle-fr/.yo-rc.json
  test-integration/samples/ng-gradle-h2disk-ws-nocache/.yo-rc.json
  test-integration/samples/ng-gradle-mariadb-oauth2-infinispan/.yo-rc.json
  test-integration/samples/ng-gradle-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/ng-gradle-mysql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/ng-h2mem-ws-nol2/.yo-rc.json
  test-integration/samples/ng-mariadb-oauth2-infinispan/.yo-rc.json
  test-integration/samples/ng-mariadb-oauth2-sass-infinispan/.yo-rc.json
  test-integration/samples/ng-mongodb-kafka-cucumber/.yo-rc.json
  test-integration/samples/ng-mysql-es-noi18n-mapsid/.yo-rc.json
  test-integration/samples/ng-neo4j/.yo-rc.json
  test-integration/samples/ng-session-cassandra-fr/.yo-rc.json
  test-integration/workflow-samples/angular.json
Labels: theme: angular, theme: CI builds

#20127 Implement delegateTasksToBlueprint.
  generators/app/generator.mjs
  generators/aws/generator.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base/generator.mts
  generators/ci-cd/generator.mjs
  generators/client/generator.mjs
  generators/cloudfoundry/generator.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/database-changelog-liquibase/generator.mjs
  generators/database-changelog/generator.mts
  generators/docker-compose/generator.mjs
  generators/entities/generator.mjs
  generators/entity/generator.mjs
  generators/gae/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/gradle/generator.mjs
  generators/heroku/generator.mjs
  generators/init/generator.mjs
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/languages/generator.mjs
  generators/maven/generator.mjs
  generators/openapi-client/generator.mjs
  generators/openshift/generator.mjs
  generators/page/generator.mjs
  generators/project-name/generator.mjs
  generators/server/generator.mjs
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
  generators/workspaces/generator.mjs
Labels: theme: gradle, theme: aws, theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n

#20128 Change defaults logic
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base.mjs
  generators/bootstrap-application-base/utils.mjs
  generators/client/__snapshots__/angular.spec.mts.snap
  generators/client/__snapshots__/react.spec.mts.snap
  generators/client/__snapshots__/vue.spec.mts.snap
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java

#19960 Add sort for react non paginated list
  CONTRIBUTING.md
  cli/jhipster.mjs
  generators/client/templates/entity/react/src/main/webapp/app/entities/entity-detail.tsx.ejs
  generators/client/templates/entity/react/src/main/webapp/app/entities/entity.reducer.ts.ejs
  generators/client/templates/entity/react/src/main/webapp/app/entities/entity.tsx.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/src/main/webapp/app/app.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/client/templates/react/src/main/webapp/app/shared/util/entity-utils.ts.ejs
  generators/server/templates/gradle/zipkin.gradle.ejs
Labels: theme: react, theme: java, theme: cli, theme: dependencies

#20150 remove a trailing whitespace
  generators/server/templates/npmw.cmd
Labels: theme: java

#20080 Migrate from Zalando to Spring Framework 6 problem support implementation #19991[skip-ci]
  generators/server/generator.mjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/swagger.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/sql/common/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/server/templates/sql/common/src/test/resources/config/application-testdev.yml.ejs
  generators/server/templates/sql/common/src/test/resources/config/application-testprod.yml.ejs
  generators/server/templates/src/main/java/package/config/CacheFactoryConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/BadRequestAlertException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/InvalidPasswordException.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JwtAuthenticationTestUtils.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  test-integration/scripts/21-tests-backend.sh
  test-integration/scripts/24-tests-e2e.sh
Labels: theme: java, theme: CI builds

#20153 Modularize liquibase generator.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/api.d.mts
  generators/base/generator-base.mjs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/files.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase-changelogs/generator.spec.mjs
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  generators/liquibase-changelogs/index.mjs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/added_entity_constraints.xml.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/updated_entity.xml.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/updated_entity_migrate.xml.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/fake-data/blob/hipster.png
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/fake-data/blob/hipster.txt.ejs
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  generators/liquibase/files.mts
  generators/liquibase/generator.mts
  generators/liquibase/generator.spec.mts
  generators/liquibase/index.mts
  generators/liquibase/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/data/authority.csv.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/data/user.csv.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/data/user_authority.csv.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/__snapshots__/cassandra.spec.mts.snap
  generators/server/__snapshots__/couchbase.spec.mts.snap
  generators/server/__snapshots__/elasticsearch.spec.mts.snap
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/__snapshots__/mongodb.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/elasticsearch.spec.mts
  generators/server/files-sql.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/sql-entities.spec.mts
  generators/server/sql.spec.mts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/types.d.mts
  generators/server/utils.mjs
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java
