Repository jhipster/generator-jhipster, pull requests merged in 2022-08, with the labels that each got.

#19316 Fix Blog Url for Let's Encrypt Java JKS generation
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
Labels: theme: java

#19317 [React] Switch to createroot
  generators/client/templates/react/src/main/webapp/app/index.tsx.ejs
Labels: theme: react

#19324 Fix sonar security issues
  generators/common/templates/sonar-project.properties.ejs
  generators/entity-server/templates/src/main/java/package/common/get_all_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: java, theme: front

#19323 Fix MSSQL Server testcontainer issues
  generators/server/templates/sql/common/src/test/java/package/config/MsSqlTestContainer.java.ejs
Labels: theme: java

#19335 Revert "chore(deps): bump vue from 2.7.5 to 2.7.8 in /generators/client/templates/vue"
  generators/client/templates/vue/package.json
Labels: theme: dependencies, theme: vue

#19325 fix/ignore sonar code smells
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/main/java/package/service/dto/EntityDTO.java.ejs
  generators/entity-server/templates/src/main/java/package/service/impl/EntityServiceImpl.java.ejs
  generators/server/templates/src/main/java/package/service/dto/AdminUserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/dto/PasswordChangeDTO.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
Labels: theme: java

#19336 Generated application now works in development with MS SqlServer container
  generators/sql-constants.js
  test/generator-base.spec.js
  test/templates/compose/11-mssql/src/main/docker/app.yml
Labels: theme: database, pr: to-merge

#19339 [react] fix race condition at translation load.
  generators/client/files-react.js
  generators/client/templates/react/src/main/webapp/app/config/store.ts.ejs
  generators/client/templates/react/src/main/webapp/app/config/translation-middleware.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.spec.ts.ejs
  generators/client/templates/react/src/main/webapp/app/shared/reducers/locale.ts.ejs
  generators/client/templates/react/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/generator-base.js
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/client.spec.js.snap
  test/client/__snapshots__/react.spec.js.snap
Labels: theme: react, theme: jhipster-internals, theme: front

#19347 ignore h2-console for csrf usage
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
Labels: pr: bug-fix, theme: java

#19301 use caffeine cache for caching user information
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java

#19348 Fix mssqlserver reactive integration tests
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: java

#19341 Unknown option value 'no' for option 'clientFramework'
  generators/app/index.js
  generators/generator-base.js
  jdl/exporters/jdl-exporter.js
  jdl/jhipster/application-options.js
  jdl/jhipster/default-application-options.js
  test/app-required-config.js
  test/jdl/__snapshots__/jdl-importer.spec.js.snap
  test/jdl/converters/json-to-jdl-converter.spec.js
  test/jdl/exporters/jdl-exporter.spec.js
  test/jdl/jdl-importer.spec.js
  test/jdl/jhipster/default-application-options.spec.js
Labels: theme: jhipster-internals

#19362 [Vue] Increase Vue code coverage
  generators/client/files-vue.js
  generators/client/templates/vue/src/test/javascript/spec/app/shared/config/formatter.spec.ts.ejs
  generators/client/templates/vue/src/test/javascript/spec/app/shared/sort/sorts.spec.ts.ejs
  test/client/__snapshots__/vue.spec.js.snap
Labels: theme: front, theme: vue

#19359 fix infinite scroll not load next page data
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

#19363 configure spring-security to send client-related http security header…
  generators/server/templates/src/main/java/package/config/SecurityConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

#19370 [angular] fix user insertion.
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/update/user-management-update.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.model.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: angular

#19374 Revert "add .npmrc to force npm to use bash."
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/__snapshots__/needles.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/.npmrc.ejs
  test/__snapshots__/app-client-custom-path.spec.js.snap
  test/__snapshots__/app.spec.js.snap
  test/__snapshots__/server.spec.js.snap
  test/blueprint/__snapshots__/app-blueprint.spec.js.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.js.snap
Labels: theme: java

#19351 correct entity template to use fieldname correctly
  generators/entity-client/templates/angular/src/main/webapp/app/entities/update/entity-form.service.ts.ejs
Labels: theme: angular

#19371 [angular] improve table title
  generators/client/templates/angular/src/main/webapp/content/scss/global.scss.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

#19390 Update BOM version to 7.9.3-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#19402 Fix Microservices with neo4j
  generators/entity/index.js
Labels: theme: java, theme: front

#19357 fix(angular): entities should not be exposed by microfrontends
  generators/client/templates/angular/webpack/webpack.microfrontend.js.ejs
  generators/server/templates/src/main/docker/app.yml.ejs
  test-integration/jdl-samples/ms-mf-ngx-consul-oauth2-neo4j/blog-store.jdl
  test-integration/workflow-samples/angular.json
Labels: theme: angular, theme: java

#19408 [Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

#19384 cleanup UserResource and fix elasticsearch url for microfrontends
  generators/entity-client/templates/angular/src/main/webapp/app/entities/service/entity.service.ts.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
Labels: theme: angular, theme: java

#19409 Fix elasticsearch test configuration and others fixes/improvements
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.spring_data_persistable.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/cleanup-elasticsearch.js
  generators/server/files.js
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestConfiguration.java.ejs
  generators/server/templates/src/test/java/package/config/ElasticsearchTestContainer.java.ejs
  generators/workspaces/index.js
Labels: theme: java

#19410 improve templates formatting
  generators/entity-server/templates/src/main/java/package/common/delete_template.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityService.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
Labels: theme: java

#19427 remove unnecessary optional property
  generators/entity-client/templates/angular/src/main/webapp/app/entities/detail/entity-management-detail.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
Labels: theme: angular

#19428 [Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
Labels: theme: vue

#19429 [Vue] Increase Vue code coverage
  generators/client/templates/vue/src/test/javascript/spec/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: vue

#19430 fix vue cache invalidation for at dev profile
  generators/client/templates/vue/webpack/webpack.common.js.ejs
  generators/client/templates/vue/webpack/webpack.dev.js.ejs
Labels: theme: vue

#19404 fix npmw.cmd failing to set the local node.js up
  generators/server/templates/npmw.cmd
Labels: theme: java

#19432 disable dependency review workflow at forks
  .github/workflows/depsreview.yml
Labels: theme: CI builds

#19452 replace arm64 workaround for gradle node download
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle, theme: java

#19454 fix: jwt claims should always be converted.
  generators/server/templates/src/main/java/package/security/oauth2/CustomClaimConverter.java.ejs
Labels: theme: java

#19372 [angular] improve filter component/model
  generators/client/templates/angular/src/main/webapp/app/core/request/request-util.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.html.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.component.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.html.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.spec.ts.ejs
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: angular

#17477 Browser Language Preference Needs To Be Honored
  generators/client/templates/vue/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
Labels: theme: vue

#19463 wrap non long ids with ' to have valid sql where clause
  generators/entity-server/templates/src/main/java/package/repository/EntityRepositoryInternalImpl_reactive.java.ejs
Labels: pr: bug-fix, theme: java

#19468 Update spring-boot version to 2.7.3 and other dependencies
  generators/generator-constants.js
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#19465 fix incorrect eureka status message
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/files.js
  generators/server/templates/src/main/java/package/config/EurekaWorkaroundConfiguration.java.ejs
  test/__snapshots__/server.spec.js.snap
Labels: theme: java

#19466 add timeout to github steps
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#19478 adjust workflow timeout
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#19479 Update node version to 16.17.0
  .github/workflows/generator.yml
  generators/generator-constants.js
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: jhipster-internals, theme: CI builds

#19502 increase workflow task timeout
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#19517 update snapshots
  generators/client/templates/angular/jest.conf.js.ejs
  test/__snapshots__/ci-cd.spec.js.snap
Labels: theme: angular

#19519 workaround tough-cookie breaking change
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
Labels: theme: vue

#19501 add option to detect and normalize line endings.
  .gitattributes
  .github/dependabot.yml
  generators/app/index.js
  generators/bootstrap/index.js
  generators/generator-base.js
  generators/utils.js
  lib/support/base.cjs
  package-lock.json
  package.json
  test/utils.spec.js
Labels: theme: jhipster-internals, theme: dependencies, theme: CI builds

#19530 Increase workflow timeout, improve cache workflow and fix lf/crlf condition
  .github/workflows/angular.yml
  .github/workflows/cache.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/bootstrap/index.js
Labels: theme: jhipster-internals, theme: CI builds

#19481 change sample version for sonar
  .github/actions/setup/action.yml
  .github/workflows/angular.yml
  .github/workflows/devserver.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/common/templates/sonar-project.properties.ejs
  generators/generator-base.js
  generators/server/templates/pom.xml.ejs
  test-integration/scripts/00-init-env.sh
  test-integration/workflow-samples/angular.json
Labels: theme: jhipster-internals, theme: java, theme: front, theme: CI builds

#19480 Update docker images version
  generators/generator-constants.js
  test/__snapshots__/docker-compose.spec.js.snap
  test/__snapshots__/knative.spec.js.snap
  test/__snapshots__/kubernetes.spec.js.snap
  test/__snapshots__/openshift.spec.js.snap
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/03-psql/src/main/docker/postgresql.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/kafka.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
  test/templates/compose/11-mssql/src/main/docker/mssql.yml
Labels: theme: jhipster-internals

#19540 feat: Support Keycloak v19.x
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/generator-constants.js
  generators/server/templates/src/main/docker/app.yml.ejs
  generators/server/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java, theme: keycloak

#19553 Misc improvements
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/entity-server/templates/src/main/java/package/service/EntityQueryService.java.ejs
  generators/entity-server/templates/src/main/java/package/service/criteria/EntityCriteria.java.ejs
  generators/entity-server/templates/src/test/java/package/web/rest/EntityResourceIT.java.ejs
  generators/entity/index.js
  generators/generator-base-entities.cjs
  generators/generator-base.js
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  utils/field.js
Labels: theme: jhipster-internals, theme: java, theme: front

#19531 improve jest/sonar integration.
  generators/client/templates/angular/jest.conf.js.ejs
  generators/client/templates/angular/package.json
  generators/client/templates/angular/package.json.ejs
  generators/client/templates/angular/tsconfig.json.ejs
  generators/client/templates/angular/tsconfig.spec.json.ejs
  generators/client/templates/react/jest.conf.js.ejs
  generators/client/templates/react/package.json
  generators/client/templates/react/package.json.ejs
  generators/client/templates/vue/package.json
  generators/client/templates/vue/package.json.ejs
  generators/client/templates/vue/src/test/javascript/jest.conf.js.ejs
  generators/common/files.js
  generators/common/templates/sonar-project.properties.ejs
  generators/generator-base.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: dependencies, theme: vue

#19242 Update liquibase version to 4.15.0
  generators/generator-constants.js
  generators/server/index.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/sql-constants.js
  test/generator-base.spec.js
Labels: theme: jhipster-internals, theme: java

#19557 Ignore Security hot spots as identified by Sonar
  generators/client/templates/angular/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/client/templates/angular/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

#19564 [Angular] Sonar: Remove this unused import of 'filter'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: sonar, theme: angular

#19563 [Angular] Sonar: Remove this unused import of 'ITEM_DELETED_EVENT'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: sonar, theme: angular

#19562 [Angular] Sonar: Remove this unused import of 'PAGE_HEADER'
  generators/entity-client/templates/angular/src/main/webapp/app/entities/list/entity-management.component.ts.ejs
Labels: theme: sonar, theme: angular

#19565 A few more adjusts to entity audit.
  generators/entity-server/templates/src/main/java/package/domain/Entity.java.jhi.ejs
  generators/generator-base-blueprint.js
  generators/generator-base-entities.cjs
  generators/generator-base.js
  generators/server/templates/src/main/java/package/domain/AbstractAuditingEntity.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  lib/index.js
Labels: theme: jhipster-internals, theme: java

#19581 Fixing typos in Greek translations
  generators/languages/templates/src/main/webapp/i18n/el/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/el/password.json
  generators/languages/templates/src/main/webapp/i18n/el/register.json
  generators/languages/templates/src/main/webapp/i18n/el/tracker.json
  generators/languages/templates/src/main/webapp/i18n/el/user-management.json
Labels: theme: i18n

#19616 [Vue] Typescript 4.8.2
  generators/client/templates/vue/package.json
  generators/entity-client/templates/vue/src/main/webapp/app/entities/entity.component.ts.ejs
Labels: theme: dependencies, theme: vue
