Repository jhipster/generator-jhipster, pull requests merged in 2023-03, with the labels that each got.

#21267 fix dependabot yml
  .github/dependabot.yml
Labels: theme: CI builds

#21275 Rework base tests
  cli/cli.spec.mts
  cli/environment-builder.spec.mts
  cli/program.spec.mts
  cli/utils.spec.mts
  generators/app/generator.mjs
  generators/base/blueprints.spec.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/auto-crlf-transform.spec.mts
  generators/upgrade/upgrade.spec.mts
  package.json
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/__snapshots__/scoped-blueprint.spec.mts.snap
  test/blueprint/app-blueprint.spec.mts
  test/blueprint/constructor-error-blueprint.spec.mts
  test/blueprint/local-blueprint.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mts
  test/blueprint/multiple-blueprints.spec.mts
  test/blueprint/scoped-blueprint.spec.mts
  test/generator-base.spec.mts
  test/support/helpers.mts
  test/support/temp-dir.mts
  test/templates/blueprints/fake-blueprint/generators/app/index.js
  test/templates/blueprints/fake-blueprint/generators/server/index.js
  test/templates/blueprints/fake-blueprint/package.json
  test/templates/cli/blueprint-cli-shared/cli/commands.js
  test/templates/cli/blueprint-cli-shared/cli/sharedOptions.js
  test/templates/cli/blueprint-cli-shared/generators/bar/index.js
  test/templates/cli/blueprint-cli-shared/generators/foo/index.js
  test/templates/cli/blueprint-cli-shared/package.json
  test/templates/cli/blueprint-cli/cli/commands.js
  test/templates/cli/blueprint-cli/cli/sharedOptions.js
  test/templates/cli/blueprint-cli/generators/foo/index.js
  test/templates/cli/blueprint-cli/package.json
Labels: theme: upgrade, theme: jhipster-internals, theme: cli, theme: dependencies

#21277 don't try to execute locally installed jhipster
  bin/jhipster.mjs
  cli/jhipster.mjs
  cli/program.mjs
  generators/base/__snapshots__/generator.spec.mts.snap
Labels: theme: jhipster-internals, theme: cli

#21276 replace yeoman-assert in favor of runResult.assert
  generators/app/composing.spec.mts
  generators/app/prompts.spec.mts
  generators/base/internal/blueprint.spec.mts
  generators/ci-cd/ci-cd.spec.mts
  generators/heroku/heroku.spec.mts
  generators/kubernetes-knative/knative.spec.mts
  generators/languages/languages.spec.mjs
  generators/openapi-client/openapi-client.spec.mts
  generators/openshift/openshift.spec.mts
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-service/spring-service.spec.mts
  generators/upgrade/upgrade.spec.mts
  test/generator-base-blueprint.spec.mjs
  test/generator-base.spec.mts
  test/kubernetes.helm.spec.mts
  test/kubernetes.spec.mts
  test/needle-api/needle-base.spec.mts
  test/needle-api/needle-client-angular-generator.spec.mts
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-i18n.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
  test/needle-api/needle-client.spec.mts
  test/needle-api/needle-server-cache.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/support/helpers.mts
Labels: theme: Heroku, theme: kubernetes, theme: upgrade, theme: jhipster-internals, theme: i18n

#21151 drop old dependabot structures
  generators/angular/generator.mts
  generators/angular/templates/package.json.ejs
  generators/angular/templates/webpack/webpack.microfrontend.js.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/shared-data.mts
  generators/base/support/jhipster7-context.mjs
  generators/bootstrap-application-base/generator.mts
  generators/client/generator.mjs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/init/generator.mjs
  generators/init/templates/package.json.ejs
  generators/react/generator.mjs
  generators/react/templates/package.json.ejs
  generators/server/templates/package.json.ejs
  generators/upgrade/upgrade.spec.mts
  generators/vue/generator.mjs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: upgrade, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#21287 modularize sql generator
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/server/cleanup.mts
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/entity/src/main/java/package/domain/relationship_validators.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/sql/cleanup.mts
  generators/sql/entity-files.mjs
  generators/sql/files.mjs
  generators/sql/generator.mts
  generators/sql/generator.spec.mts
  generators/sql/index.mts
  generators/sql/sql-entities.spec.mts
  generators/sql/templates/src/main/java/package/config/DatabaseConfiguration.java.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_.java.jhi.hibernate_cache.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_.java.jhi.jakarta_lifecycle_events.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_.java.jhi.jakarta_persistence.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_persistable.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_reactive.ejs
  generators/sql/templates/src/main/java/package/domain/_PersistClass_Callback.java.ejs
  generators/sql/templates/src/main/java/package/repository/EntityManager_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/UserSqlHelper_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/_EntityClass_RepositoryWithBagRelationships.java.ejs
  generators/sql/templates/src/main/java/package/repository/_EntityClass_RepositoryWithBagRelationshipsImpl.java.ejs
  generators/sql/templates/src/main/java/package/repository/rowmapper/ColumnConverter_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/rowmapper/UserRowMapper_reactive.java.ejs
  generators/sql/templates/src/main/resources/.h2.server.properties.ejs
  generators/sql/templates/src/test/java/package/config/EmbeddedSQL.java.ejs
  generators/sql/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
  generators/sql/templates/src/test/java/package/config/MsSqlTestContainer.java.ejs
  generators/sql/templates/src/test/java/package/config/MysqlTestContainer.java.ejs
  generators/sql/templates/src/test/java/package/config/PostgreSqlTestContainer.java.ejs
  generators/sql/templates/src/test/java/package/config/SqlTestContainer.java.ejs
  generators/sql/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/sql/templates/src/test/java/package/repository/timezone/DateTimeWrapper.java.ejs
  generators/sql/templates/src/test/java/package/repository/timezone/DateTimeWrapperRepository.java.ejs
  generators/sql/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/sql/templates/src/test/resources/config/application-testprod.yml.ejs
  generators/sql/templates/src/test/resources/testcontainers/mariadb/my.cnf
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java

#21298 Modularize cucumber generator
  generators/base/api.d.mts
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/cucumber/__snapshots__/generator.spec.mts.snap
  generators/cucumber/cleanup.mts
  generators/cucumber/files.mts
  generators/cucumber/generator.mts
  generators/cucumber/generator.spec.mts
  generators/cucumber/index.mts
  generators/cucumber/templates/src/test/java/package/cucumber/CucumberIT.java.ejs
  generators/cucumber/templates/src/test/java/package/cucumber/CucumberTestContextConfiguration.java.ejs
  generators/cucumber/templates/src/test/java/package/cucumber/stepdefs/StepDefs.java.ejs
  generators/cucumber/templates/src/test/java/package/cucumber/stepdefs/UserStepDefs.java.ejs
  generators/cucumber/templates/src/test/resources/package/cucumber/gitkeep.ejs
  generators/cucumber/templates/src/test/resources/package/cucumber/user.feature.ejs
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/generator.spec.mts
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__test-support/index.mts
  generators/server/cleanup.mts
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/generator.spec.mts
  generators/sql/sql-entities.spec.mts
  test-integration/scripts/99-build-changes.sh
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java

#21300 modularize missing sql templates
  generators/bootstrap-application/generator.spec.mts
  generators/server/entity-files.mjs
  generators/server/generator.mjs
  generators/server/support/prepare-field.mjs
  generators/server/templates/entity/src/main/java/package/service/_EntityClass_QueryService.java.ejs
  generators/server/templates/entity/src/main/java/package/service/criteria/_EntityClass_Criteria.java.ejs
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/sql/entity-files.mjs
  generators/sql/generator.mts
  generators/sql/templates/src/main/java/package/repository/_EntityClass_RepositoryInternalImpl_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/_EntityClass_SqlHelper_reactive.java.ejs
  generators/sql/templates/src/main/java/package/repository/rowmapper/_EntityClass_RowMapper_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java

#21299 rework some templates.
  generators/angular/generator.spec.mts
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/client/generator.spec.mts
  generators/common/generator.spec.mjs
  generators/cypress/generator.spec.mts
  generators/react/generator.spec.mts
  generators/server/files.mjs
  generators/server/generator.spec.mjs
  generators/server/templates/src/main/java/package/config/RestTemplateConfiguration.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_imperative.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource_imperative.java.ejs
  generators/server/templates/src/test/java/package/security/SecurityUtilsUnitTest_imperative.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_imperative.java.ejs
  generators/server/types.d.mts
  generators/vue/generator.spec.mts
  test/support/check-enforcements.mts
  test/support/get-generator.mts
  test/support/index.mts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#21302 Modularize gatling and spring-websocket generators
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/gatling/__snapshots__/generator.spec.mts.snap
  generators/gatling/cleanup.mts
  generators/gatling/entity-files.mts
  generators/gatling/files.mts
  generators/gatling/generator.mts
  generators/gatling/generator.spec.mts
  generators/gatling/index.mts
  generators/gatling/templates/src/test/gatling/conf/gatling.conf.ejs
  generators/gatling/templates/src/test/gatling/conf/logback.xml.ejs
  generators/gatling/templates/src/test/java/gatling/simulations/_EntityClass_GatlingTest.java.ejs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__test-support/index.mts
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/spring-websocket/__snapshots__/generator.spec.mts.snap
  generators/spring-websocket/cleanup.mts
  generators/spring-websocket/files.mts
  generators/spring-websocket/generator.mts
  generators/spring-websocket/generator.spec.mts
  generators/spring-websocket/index.mts
  generators/spring-websocket/templates/src/main/java/package/config/WebsocketConfiguration.java.ejs
  generators/spring-websocket/templates/src/main/java/package/config/WebsocketSecurityConfiguration.java.ejs
  generators/spring-websocket/templates/src/main/java/package/web/websocket/ActivityService.java.ejs
  generators/spring-websocket/templates/src/main/java/package/web/websocket/dto/ActivityDTO.java.ejs
  generators/spring-websocket/templates/src/main/java/package/web/websocket/dto/package-info.java.ejs
  generators/spring-websocket/templates/src/main/java/package/web/websocket/package-info.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/sql/sql-entities.spec.mts
  test-integration/scripts/99-build-changes.sh
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java

#21306 modularize neo4j
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/neo4j/cleanup.mts
  generators/neo4j/entity-files.mts
  generators/neo4j/files.mts
  generators/neo4j/generator.mts
  generators/neo4j/generator.spec.mts
  generators/neo4j/index.mts
  generators/neo4j/templates/src/main/java/package/config/DatabaseConfiguration.java_neo4j.ejs
  generators/neo4j/templates/src/main/java/package/config/neo4j/Neo4jMigrations.java.ejs
  generators/neo4j/templates/src/main/java/package/config/neo4j/package-info.java.ejs
  generators/neo4j/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_neo4j.ejs
  generators/neo4j/templates/src/main/resources/config/neo4j/migrations/user__admin.json.ejs
  generators/neo4j/templates/src/main/resources/config/neo4j/migrations/user__user.json.ejs
  generators/neo4j/templates/src/test/java/package/config/EmbeddedNeo4j.java.ejs
  generators/neo4j/templates/src/test/java/package/config/Neo4jTestContainer.java.ejs
  generators/server/cleanup.mts
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  test-integration/scripts/99-build-changes.sh
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java

#21308 implement api to add spring-factories
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/cleanup.mts
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/server/support/database.spec.mts
  generators/server/support/index.mts
  generators/server/support/spring-factories.mts
  generators/server/support/spring-factories.spec.mts
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/resources/META-INF/spring.factories.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/files.mjs
  generators/sql/generator.mts
  generators/sql/templates/src/test/java/package/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: jhipster-internals, theme: java

#21322 Modularize spring-cache
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/base/support/jhipster7-context.mjs
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/__test-support/index.mts
  generators/server/cleanup.mts
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/cleanup.mts
  generators/spring-cache/files.mts
  generators/spring-cache/generator.mts
  generators/spring-cache/generator.spec.mts
  generators/spring-cache/index.mts
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/spring-cache/templates/src/main/java/package/config/CacheFactoryConfiguration.java.ejs
  generators/spring-cache/templates/src/test/java/package/config/EmbeddedRedis.java.ejs
  generators/spring-cache/templates/src/test/java/package/config/RedisTestContainer.java.ejs
  generators/spring-cache/templates/src/test/java/package/config/RedisTestContainersSpringContextCustomizerFactory.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  test-integration/scripts/99-build-changes.sh
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: java

#21323 Test adjusts.
  cli/cli.spec.mts
  cli/environment-builder.spec.mts
  generators/app/composing.spec.mts
  generators/app/prompts.spec.mts
  generators/base/blueprints.spec.mts
  generators/base/generator-base-todo.spec.mts
  generators/bootstrap-application-base/generator.spec.mts
  generators/bootstrap-application-client/generator.spec.mts
  generators/bootstrap-application-server/generator.spec.mts
  generators/bootstrap-application/generator.spec.mts
  generators/cassandra/database-changelog.spec.mts
  generators/ci-cd/ci-cd.spec.mts
  generators/docker-compose/docker-compose.spec.mts
  generators/docker/generator.spec.mts
  generators/entity/database-changelog.spec.mts
  generators/export-jdl/export-jdl.spec.mts
  generators/heroku/heroku.spec.mts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-helm/kubernetes.helm.spec.mts
  generators/kubernetes-knative/knative.spec.mts
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/kubernetes.spec.mts
  generators/languages/languages.spec.mjs
  generators/openapi-client/openapi-client.spec.mts
  generators/openshift/openshift.spec.mts
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-service/spring-service.spec.mts
  package-lock.json
  package.json
  test/generator-base-blueprint.spec.mjs
  test/needle-api/needle-client-i18n.spec.mts
  test/needle-api/needle-client.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/support/helpers.mts
Labels: theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: i18n, theme: cli, theme: dependencies

#21041 Create SpaWebFilterIT for reactive app
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/files.mjs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterTestController_reactive.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
Labels: theme: java

#21360 Reorganize server files
  .github/workflows/generator-generate-blueprint.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/java/support/files.mts
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/templates/src/main/java/package/config/Constants.java.ejs
  generators/server/templates/src/main/java/package/config/LocaleConfiguration_imperative.java.ejs
  generators/server/templates/src/main/resources/banner_react.txt
  generators/server/templates/src/main/resources/banner_vue.txt
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  test-integration/generate-blueprint-samples/default/.yo-rc.json
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#21385 blacklist node 18.14.x and 18.15.x
  package.json
Labels: theme: dependencies

#21375 rework vue route
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/docs/docs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/store/account-store.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
Labels: theme: vue

#21477 fix configureServer with --defaults
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

#21508 Add gradle dependencies to dependabot
  .github/dependabot.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/libs.versions.toml
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#21384 [react] change sort icons for entity
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

#21507 Auto generate package-info for every package.
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/files.mjs
  generators/elasticsearch/templates/src/main/java/package/repository/search/package-info.java.ejs
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/java/support/package-info-transform.mts
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/mongodb/files.mjs
  generators/mongodb/templates/src/main/java/package/config/dbmigrations/package-info.java.ejs
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/neo4j/files.mts
  generators/neo4j/templates/src/main/java/package/config/neo4j/package-info.java.ejs
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/server/templates/src/main/java/package/config/package-info.java.ejs
  generators/server/templates/src/main/java/package/domain/package-info.java.ejs
  generators/server/templates/src/main/java/package/repository/package-info.java.ejs
  generators/server/templates/src/main/java/package/security/package-info.java.ejs
  generators/server/templates/src/main/java/package/service/dto/package-info.java.ejs
  generators/server/templates/src/main/java/package/service/mapper/package-info.java.ejs
  generators/server/templates/src/main/java/package/service/package-info.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/package-info.java.ejs
  generators/server/templates/src/main/java/package/web/rest/package-info.java.ejs
  generators/server/templates/src/main/java/package/web/rest/vm/package-info.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_imperative.java.ejs
  generators/spring-websocket/__snapshots__/generator.spec.mts.snap
  generators/spring-websocket/files.mts
  generators/spring-websocket/templates/src/main/java/package/web/websocket/dto/package-info.java.ejs
  generators/spring-websocket/templates/src/main/java/package/web/websocket/package-info.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
Labels: theme: java

#21476 Fix broken Hibernate mapping of Instants
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/sql/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/sql/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/sql/templates/src/test/resources/config/application-testprod.yml.ejs
Labels: theme: java

#21533 fix cassandra with reactive.
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/cassandra/cleanup.mjs
  generators/cassandra/files.mjs
  generators/cassandra/generator.mjs
  generators/cassandra/templates/src/test/java/package/CassandraKeyspaceIT.java.ejs
  generators/cassandra/templates/src/test/java/package/config/CassandraTestContainer.java.ejs
  generators/cassandra/templates/src/test/java/package/config/CassandraTestContainersSpringContextCustomizerFactory.java.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/test/java/package/config/TestContainersSpringContextCustomizerFactory.java.ejs
  test-integration/jdl-samples/ms-react-consul-jwt-cassandra-redis/blog-store.jdl
Labels: theme: java

#21560 migrate indonesian language.
  generators/languages/generator.mjs
  generators/server/generator.mjs
Labels: theme: java, theme: i18n

#21556 [jdl] use temporary dir at jdl tests.
  cli/environment-builder.spec.mts
  jdl/converters/json-to-jdl-converter.ts
  test/jdl/converters/json-to-jdl-converter.spec.ts
  test/jdl/exporters/export-utils.spec.ts
  test/jdl/exporters/jdl-exporter.spec.ts
  test/jdl/exporters/jhipster-deployment-exporter.spec.ts
  test/jdl/exporters/jhipster-entity-exporter.spec.ts
  test/jdl/integration/test.spec.ts
  test/jdl/linter/jdl-linter.spec.ts
  test/jdl/readers/file-reader.spec.ts
  test/jdl/readers/jdl-reader.spec.ts
Labels: theme: cli

#21561 [Angular] Jest 29
  generators/angular/templates/package.json
Labels: theme: angular, theme: dependencies

#21578 fix language migration
  generators/base/generator-base.mts
  generators/languages/generator.mjs
  generators/languages/generator.spec.mjs
Labels: theme: jhipster-internals, theme: i18n

#21531 Fixed api.yaml.ejs so it does not connect to Zalando
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: java

#21603 drop eureka pre release repository
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#21624 Improvements to pom generation.
  generators/azure-spring-cloud/generator.mjs
  generators/base/generator-base-todo.mjs
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/ci-cd/ci-cd.spec.mts
  generators/ci-cd/generator.mjs
  generators/gae/generator.mjs
  generators/heroku/__snapshots__/heroku.spec.mts.snap
  generators/heroku/generator.mjs
  generators/maven/__snapshots__/generator.spec.mts.snap
  generators/maven/__snapshots__/needles.spec.mts.snap
  generators/maven/generator.mts
  generators/maven/generator.spec.mts
  generators/maven/internal/xml-store.mts
  generators/maven/needles.spec.mts
  generators/maven/support/pom-store.mts
  generators/maven/types.d.mts
  generators/needle-api.mjs
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
  generators/openapi-client/generator.mjs
  generators/server/generator.mjs
  generators/server/needle-api/needle-server-maven.mts
  generators/server/templates/pom.xml.ejs
  test/needle-api/needle-server-maven.spec.mts
Labels: theme: Heroku, theme: jhipster-internals, theme: maven, theme: java

#21637 bump spring-boot to 3.0.5
  generators/generator-constants.mjs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#21651 add actions/setup-java to cache workflow
  .github/workflows/cache.yml
Labels: theme: CI builds

#21650 switch ehcache to jakarta classifier
  generators/server/templates/pom.xml.ejs
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

#21652 drop bucket4j dependency
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#21654 drop needle-logback-spring
  generators/base/generator-base-todo.mjs
  generators/needle-api.mjs
  generators/server/needle-api/needle-server-logback-spring.mts
  generators/server/needle-logback.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
Labels: theme: jhipster-internals, theme: java
