Repository jhipster/generator-jhipster, pull requests merged in 2023-10, with the labels that each got.

#23695 [Angular] Improve coverage on MetricsComponent
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
Labels: theme: angular

#23712 [Angular] Add tests for MetricsModalThreadsComponent
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/angular/files-angular.mjs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.spec.ts.ejs
Labels: theme: angular

#23718 Rework ci-cd for v8
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/bootstrap-application-server/generator.mts
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/ci-cd/ci-cd.spec.mts
  generators/ci-cd/command.mts
  generators/ci-cd/generator.mjs
  generators/ci-cd/prompts.mjs
  generators/ci-cd/templates/.circleci/config.yml.ejs
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/.travis.yml.ejs
  generators/ci-cd/templates/azure-pipelines.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/server/generator.mjs
  generators/server/types.d.mts
  lib/internal/config-def.mts
Labels: theme: jhipster-internals, theme: java

#23741 use spawn mocks to avoid outside calls
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/prompts.mjs
Labels: theme: kubernetes

#23732 move entities and enums to the java generator
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/java/__snapshots__/generator.spec.mts.snap
  generators/java/command.mts
  generators/java/entity-files.mts
  generators/java/generator.mts
  generators/java/generator.spec.mts
  generators/java/templates/_global_partials_entity_/field_validators.ejs
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.jakarta_validation.ejs
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/enumeration/_enumName_.java.ejs
  generators/java/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/entity-files.mjs
  generators/server/generator.spec.mjs
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
  lib/internal/config-def.mts
Labels: theme: jhipster-internals, theme: java

#23762 Adjusts for improved blueprint support.
  generators/angular/support/update-languages.mts
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base-application/generator.mts
  generators/base-application/support/prepare-entity.mts
  generators/base-application/tasks.d.mts
  generators/base/support/config.mts
  generators/base/tasks.d.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/common/templates/.husky/pre-commit.ejs
  generators/docker/files.mjs
  generators/docker/generator.mjs
  generators/info/generator.mts
  generators/server/files.mjs
  generators/server/options/database-migration.spec.ts
  generators/server/options/message-broker.spec.ts
  generators/server/support/config.mts
  generators/spring-data-relational/generator.mts
  generators/spring-data-relational/support/application-properties.mts
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_RepositoryInternalImpl_reactive.java.ejs
  jdl/models/jdl-application-configuration-factory.ts
  package-lock.json
  package.json
  watch.mjs
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: dependencies

#23766 allow /login to be accesed directly at session auth
  generators/cypress/templates/src/test/javascript/cypress/e2e/account/login-page.cy.ts.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#23787 Upgrade to Gradle 8.4
  generators/gradle/constants.mjs
Labels: theme: gradle

#23802 compose bootstrap* with blueprints
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/support/config.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/common/generator.mjs
  generators/server/support/config.mts
Labels: theme: jhipster-internals, theme: java, theme: front

#23804 Rework entity generator
  generators/base-application/generator.mts
  generators/base-application/generator.spec.mts
  generators/base-application/tasks.d.mts
  generators/base-core/generator.mts
  generators/base/generator.mts
  generators/base/priorities.mjs
  generators/base/tasks.d.mts
  generators/entity/generator.mjs
  generators/entity/prompts.mjs
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

#23838 stale workflow adjusts
  .github/workflows/stale.yml
Labels: theme: CI builds

#23839 Using getter in equals() methods to be Hibernate-safe
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
Labels: pr: on-hold

#23849 set min required node version
  package.json
Labels: theme: dependencies

#23864 Update jhipster-bom version to 8.0.0-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23867 bump yeoman-stack
  package-lock.json
  package.json
Labels: theme: dependencies

#23869 More blueprint adjusts.
  cli/jhipster-command.mjs
  cli/program.mjs
  generators/angular/templates/package.json.ejs
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/common/templates/.lintstagedrc.js.ejs
  generators/common/templates/.prettierrc.ejs
  generators/init/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/react/templates/package.json.ejs
  generators/server/templates/package.json.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: java, theme: front, theme: cli, theme: vue

#23872 fixes javadoc regressions.
  generators/app/support/config.mts
  generators/base-application/generator.mts
  generators/base-application/support/enum.mjs
  generators/base-application/support/enum.spec.mts
  generators/base/support/config.mts
  generators/bootstrap-application/generator.spec.mts
  generators/java/__snapshots__/generator.spec.mts.snap
  generators/java/generator.spec.mts
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/java/templates/src/main/java/_package_/_entityPackage_/domain/enumeration/_enumName_.java.ejs
  generators/server/support/config.mts
  generators/server/support/prepare-entity.mjs
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
Labels: theme: jhipster-internals, theme: java

#23916 Adjusts for blueprint support
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/README.md.jhi.ejs
  generators/generator-constants.mts
  generators/info/generator.mts
  generators/server/templates/README.md.jhi.spring-boot.ejs
Labels: theme: jhipster-internals, theme: java, theme: front

#23921 More blueprint adjusts.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/files.mjs
  generators/common/generator.mjs
  generators/common/generator.spec.mjs
  generators/common/templates/.lintstagedrc.cjs.ejs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/languages/command.mts
  generators/languages/generator.mjs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#23930 Update spring-boot version to 3.1.5
  generators/generator-constants.mts
Labels: theme: jhipster-internals

#23929 Update nodejs version to 18.18.2
  .github/workflows/generator.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23931 use defaults utility at relationships.
  generators/base-application/support/prepare-entity.mts
Labels: theme: jhipster-internals

#23940 do not hide registration errors (login/email already used)
  generators/server/templates/src/main/java/_package_/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

#23941 move queueTransformStream to default step
  generators/angular/generator.mts
  generators/common/generator.mjs
  generators/react/generator.mjs
  generators/vue/generator.mjs
Labels: theme: angular, theme: react, theme: java, theme: front, theme: vue

#23942 don't override relationshipEagerLoad
  generators/base-application/support/prepare-entity.mts
Labels: theme: jhipster-internals

#23946 fix(#22487): Remove warning for resources plugins
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#23960 modified to return related entity IDs
  generators/server/templates/src/main/java/_package_/config/JacksonConfiguration.java.ejs
Labels: theme: java

#23966 remove deprecated annotation from kubernetes ingress template
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/templates/ingress.yml.ejs
Labels: theme: kubernetes

#23979 drop app generator from generate-blueprint sample
  .github/workflows/generator-generate-blueprint.yml
  test-integration/generate-blueprint-samples/default/.yo-rc.json
Labels: theme: CI builds

#23982 Upgrade to Maven Checkstyle Plugin 3.3.1
  generators/server/resources/pom.xml
Labels: theme: java

#22264 fix react admin menu using module federation.
  generators/react/resources/package.json
  generators/react/templates/package.json.ejs
  generators/react/templates/src/main/webapp/app/config/icon-loader.ts.ejs
  generators/react/templates/src/main/webapp/app/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/entities.tsx.ejs
  generators/react/templates/tsconfig.test.json.ejs
  generators/react/templates/webpack/webpack.microfrontend.js.jhi.react.ejs
Labels: theme: react, theme: dependencies

#24013 fix cache
  .github/workflows/cache.yml
Labels: theme: CI builds

#24020 upgrade to yeoman-generator v7
  generators/angular/generator.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/auto-crlf-transform.mts
  generators/bootstrap/support/eslint-transform.mts
  generators/bootstrap/support/eslint-transform.spec.mts
  generators/bootstrap/support/java-unused-imports-transform.mts
  generators/bootstrap/support/multi-step-transform/index.mts
  generators/bootstrap/support/multi-step-transform/template-file-fs.mts
  generators/bootstrap/support/multi-step-transform/template-file.mjs
  generators/bootstrap/support/prettier-support.mts
  generators/common/generator.mjs
  generators/java/generator.mts
  generators/java/generator.spec.mts
  generators/java/support/package-info-transform.mts
  generators/languages/generator.mjs
  generators/languages/translation-data.mjs
  generators/react/generator.mjs
  generators/vue/generator.mjs
  package-lock.json
  package.json
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: dependencies, theme: vue

#24014 set correct annotations types
  generators/base-application/support/prepare-entity.mts
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/integration-test.spec.ts
  jdl/parsing/grammar.spec.ts
  jdl/parsing/jdl-ast-builder-visitor.ts
  jdl/parsing/jdl-parser.ts
Labels: theme: jhipster-internals

#23978 simplify microfrontend config and change vue to lazy load remotes
  generators/angular/resources/package.json
  generators/angular/templates/package.json.ejs
  generators/angular/templates/webpack/webpack.microfrontend.js.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/client/templates/webpack/webpack.microfrontend.js.jhi.ejs
  generators/react/templates/webpack/webpack.microfrontend.js.jhi.react.ejs
  generators/vue/resources/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/router/index.ts.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: dependencies, theme: vue

#24034 Sonar: Call async methods via an injected dependency instead of directly via 'this'
  generators/server/templates/src/main/java/_package_/service/MailService.java.ejs
Labels: theme: sonar, theme: java

#22888 allow view/edit in new tabs from list view
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.tsx.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: angular, theme: react, theme: vue

#24036 Fix Elasticsearch deprecations
  generators/server/templates/src/main/java/_package_/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/UserResource.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/_package_/_entityPackage_/repository/search/_entityClass_SearchRepository.java.ejs
Labels: theme: java, theme: elasticsearch

#23971 Update Heroku generator for JHipster 8
  generators/heroku/__snapshots__/heroku.spec.mts.snap
  generators/heroku/generator.mjs
  generators/heroku/heroku.spec.mts
  generators/heroku/templates/Procfile.ejs
  generators/heroku/templates/application-heroku.yml.ejs
  generators/heroku/templates/provision-okta-addon.sh.ejs
Labels: theme: Heroku

#24037 add validation of skipClient in language generator
  generators/languages/generator.mjs
  generators/languages/translation-data.mjs
  generators/server/__snapshots__/generator.spec.mjs.snap
Labels: theme: java, theme: i18n

#24038 eager load list view by default
  generators/server/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_template.ejs
Labels: theme: java

#24046 remove warning for microfrontends
  generators/base-application/support/prepare-entity.mts
  generators/base-application/support/prepare-entity.spec.mts
  generators/bootstrap-application-server/generator.mts
  generators/liquibase/generator.mts
Labels: theme: jhipster-internals

#24048 Use reference asset instead of relative path
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.scss.ejs
  generators/client/templates/src/main/webapp/content/css/loading.css.ejs
Labels: theme: angular, theme: front

#24049 optimize caching restore
  .github/workflows/angular.yml
  .github/workflows/cache.yml
  .github/workflows/devserver.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/generator-generate-blueprint.yml
  .github/workflows/generator.yml
  .github/workflows/issue-check.yml
  .github/workflows/lock-maintenance.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#24050 Make banners similar between frameworks
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.scss.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
Labels: theme: react, theme: vue

#24051 add java samples class for entities and increase coverage
  generators/base-application/support/prepare-field.mjs
  generators/base-application/support/prepare-relationship.mjs
  generators/bootstrap-application/generator.spec.mts
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/java/__snapshots__/generator.spec.mts.snap
  generators/java/entity-files.mts
  generators/java/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
  generators/java/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_TestSamples.java.ejs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/support/prepare-field.mjs
  generators/server/support/templates/field-values.mjs
  generators/server/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-data-cassandra/__snapshots__/generator.spec.mts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.mts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.mts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.mts.snap
  generators/spring-data-relational/__snapshots__/sql-entities.spec.mts.snap
Labels: theme: jhipster-internals, theme: java

#23554 Avoid repeating the entity's name on each endpoint
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_template.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/server/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.ts.ejs
Labels: theme: angular, theme: react, theme: java, theme: vue

#24063 fix user search api to follow new standards
  generators/server/templates/src/main/java/_package_/web/rest/PublicUserResource.java.ejs
Labels: theme: java
