Repository jhipster/generator-jhipster, pull requests merged in 2023-08, with the labels that each got.

#23085 workaround h2 failures.
  generators/base-application/support/prepare-field.mjs
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java

#23098 Upgrade keycloak 22.0.1
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: kubernetes, theme: docker :whale:, theme: java

#23103 disable spotless removeUnusedImports
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#23107 Switch to hibernate 6.2.x
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/generator-constants.mts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/spring-data-relational/support/database-data.mts
  generators/spring-data-relational/support/database-url.spec.mts
  generators/spring-data-relational/templates/src/test/java/package/config/timezone/HibernateTimeZoneIT.java.ejs
  generators/spring-data-relational/templates/src/test/resources/config/application-testdev.yml.ejs
  generators/spring-data-relational/templates/src/test/resources/config/application-testprod.yml.ejs
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java

#23116 Java tests fail for default app without user management
  generators/server/templates/src/test/java/package/TechnicalStructureTest.java.ejs
Labels: theme: java

#23132 fix unused variables warnings
  .eslintrc.json
  generators/azure-spring-cloud/generator.mjs
  generators/base-application/application-options.d.mts
  generators/base/priorities.mjs
  generators/client/generator.mjs
  generators/client/support/prepare-entity.mjs
  generators/client/support/prepare-field.mjs
  generators/cloudfoundry/generator.mjs
  generators/cypress/generator.mts
  generators/docker/generator.mjs
  generators/entity/prompts.mjs
  generators/gae/generator.mjs
  generators/gatling/cleanup.mts
  generators/gatling/entity-files.mts
  generators/generate-blueprint/constants.mjs
  generators/heroku/generator.mjs
  generators/java/cleanup.mts
  generators/kubernetes/files.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/openshift/prompts.mjs
  generators/react/entity-files-react.mjs
  generators/react/support/update-languages.mts
  generators/server/generator.mjs
  generators/spring-data-cassandra/entity-files.mjs
  generators/spring-data-mongodb/entity-files.mjs
  generators/spring-data-neo4j/entity-files.mts
  generators/spring-data-neo4j/generator.spec.mts
  generators/spring-data-relational/entity-files.mjs
  generators/spring-data-relational/internal/dependencies.mts
  generators/spring-websocket/cleanup.mts
  generators/statistics.mts
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.ts
  jdl/parsing/generated/generated-serialized-grammar.js
  jdl/validators/jdl-with-application-validator.ts
  jdl/validators/relationship-validator.spec.ts
  package.json
Labels: theme: Heroku, theme: kubernetes, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: dependencies

#23119 add transform for java unused variables
  generators/bootstrap/generator.mts
  generators/bootstrap/support/java-unused-imports-transform.mts
  generators/server/templates/entity/src/main/java/package/service/_EntityClass_Service.java.ejs
  generators/server/templates/entity/src/main/java/package/service/criteria/_EntityClass_Criteria.java.ejs
  generators/server/templates/entity/src/main/java/package/service/impl/_EntityClass_ServiceImpl.java.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
  generators/server/templates/src/main/java/package/client/AuthorizedFeignClient.java.ejs
  generators/server/templates/src/main/java/package/repository/PersistentTokenRepository.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/package/service/MailService.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/service/dto/AdminUserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/dto/UserDTO.java.ejs
  generators/server/templates/src/main/java/package/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/LogoutResource_reactive.java.ejs
  generators/server/templates/src/main/java/package/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/test/java/package/security/DomainUserDetailsServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/MailServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/UserServiceIT.java.ejs
  generators/server/templates/src/test/java/package/service/mapper/UserMapperTest.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AuthenticateControllerIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/PublicUserResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/spring-cache/templates/src/main/java/package/config/CacheConfiguration.java.ejs
  generators/spring-data-couchbase/templates/src/main/java/package/domain/_PersistClass_.java.jhi.spring_data_couchbase.ejs
  generators/spring-data-couchbase/templates/src/main/java/package/repository/PersistentTokenRepository_couchbase.java.ejs
  generators/spring-data-couchbase/templates/src/main/java/package/repository/_EntityClass_Repository.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/spring-data-mongodb/templates/src/main/java/package/config/dbmigrations/InitialSetupMigration.java.ejs
  generators/spring-data-neo4j/templates/src/main/resources/config/neo4j/migrations/user__admin.json.ejs
  generators/spring-data-neo4j/templates/src/main/resources/config/neo4j/migrations/user__user.json.ejs
  generators/spring-data-relational/templates/src/main/java/package/repository/rowmapper/UserRowMapper_reactive.java.ejs
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: java, theme: dependencies

#23087 add a development blueprint
  .blueprint/cli/commands.mjs
  .blueprint/code-workspace/command.mts
  .blueprint/code-workspace/generator.mjs
  .blueprint/code-workspace/index.mjs
  .blueprint/constants.js
  .blueprint/generate-sample/command.mts
  .blueprint/generate-sample/generator.mjs
  .blueprint/generate-sample/index.mjs
  .blueprint/generate-sample/support/copy-entity-samples.js
  .blueprint/generate-sample/support/copy-jdl-entity-samples.js
  .blueprint/generate-sample/support/generate-sample.js
  .blueprint/generate-sample/support/get-workflow-samples.js
  .blueprint/support.mts
  .blueprint/update-vscode/command.mts
  .blueprint/update-vscode/generator.mjs
  .blueprint/update-vscode/index.mjs
  .vscode/launch.json
  CONTRIBUTING.md
  bin/cli.cjs
  cli/environment-builder.mjs
  generators/base-core/generator-base.mts
  test-integration/scripts/12-generate-sample.js
  test-integration/scripts/99-update-vscode.js
  test-integration/scripts/99-write-matrix.js
Labels: theme: cli

#22956 React template: Add missing link for login in the register page
  generators/react/templates/src/main/webapp/app/modules/account/register/register.tsx.ejs
Labels: theme: react

#23117 Improve Account resource test
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
Labels: theme: java

#23149 Sonar: Remove this use of 'getMarker'; it is deprecated
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: sonar, theme: java, area: cleanup

#23152 Unused imports
  generators/server/templates/entity/src/main/java/package/service/impl/_EntityClass_ServiceImpl.java.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/package/repository/search/_EntityClass_SearchRepository.java.ejs
Labels: theme: java, area: cleanup

#23151 fix compilation failure for openapi and gradle
  generators/server/templates/gradle/swagger.gradle.ejs
Labels: theme: java

#23167 fixes to types
  generators/angular/types-export.d.ts
  generators/app/types-export.d.ts
  generators/aws/types-export.d.ts
  generators/azure-app-service/types-export.d.ts
  generators/azure-spring-cloud/types-export.d.ts
  generators/base-application/types-export.d.ts
  generators/bootstrap-application-base/types-export.d.ts
  generators/bootstrap-application-client/types-export.d.ts
  generators/bootstrap-application-server/types-export.d.ts
  generators/bootstrap-application/types-export.d.ts
  generators/bootstrap/types-export.d.ts
  generators/ci-cd/types-export.d.ts
  generators/client/types-export.d.ts
  generators/cloudfoundry/types-export.d.ts
  generators/common/types-export.d.ts
  generators/cucumber/types-export.d.ts
  generators/cypress/types-export.d.ts
  generators/docker-compose/types-export.d.ts
  generators/docker/types-export.d.ts
  generators/entities/types-export.d.ts
  generators/entity/types-export.d.ts
  generators/export-jdl/types-export.d.ts
  generators/gae/types-export.d.ts
  generators/gatling/types-export.d.ts
  generators/generate-blueprint/types-export.d.ts
  generators/git/types-export.d.ts
  generators/gradle/types-export.d.ts
  generators/heroku/types-export.d.ts
  generators/info/types-export.d.ts
  generators/init/types-export.d.ts
  generators/java/types-export.d.ts
  generators/jdl/types-export.d.ts
  generators/kubernetes-helm/types-export.d.ts
  generators/kubernetes-knative/types-export.d.ts
  generators/kubernetes/types-export.d.ts
  generators/languages/types-export.d.ts
  generators/liquibase-changelogs/types-export.d.ts
  generators/liquibase/types-export.d.ts
  generators/maven/types-export.d.ts
  generators/openapi-client/types-export.d.ts
  generators/openshift/types-export.d.ts
  generators/page/types-export.d.ts
  generators/project-name/types-export.d.ts
  generators/react/types-export.d.ts
  generators/server/types-export.d.ts
  generators/spring-cache/types-export.d.ts
  generators/spring-cloud-stream/types-export.d.ts
  generators/spring-controller/types-export.d.ts
  generators/spring-data-cassandra/types-export.d.ts
  generators/spring-data-couchbase/types-export.d.ts
  generators/spring-data-elasticsearch/types-export.d.ts
  generators/spring-data-mongodb/types-export.d.ts
  generators/spring-data-neo4j/types-export.d.ts
  generators/spring-data-relational/types-export.d.ts
  generators/spring-service/types-export.d.ts
  generators/spring-websocket/types-export.d.ts
  generators/upgrade/types-export.d.ts
  generators/vue/types-export.d.ts
  generators/workspaces/types-export.d.ts
Labels: theme: gradle, theme: aws, theme: Heroku, theme: angular, theme: kubernetes, theme: upgrade, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n, theme: vue

#23166 Fixes deploying with context-path
  .blueprint/generate-sample/support/generate-sample.js
  .eslintrc.json
  generators/angular/templates/src/main/webapp/app/home/home.component.scss.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.scss.ejs
  generators/angular/templates/webpack/proxy.conf.js.ejs
  generators/base/generator-base-blueprint.mts
  generators/base/support/constants.mts
  generators/client/templates/src/main/webapp/content/css/loading.css.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_imperative.java.ejs
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#23150 Fix H2 console not working
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_imperative.java.ejs
Labels: theme: java

#23178 remove deprecated method call
  generators/server/templates/src/main/java/package/config/OAuth2Configuration.java.ejs
Labels: theme: java

#23185 Remove Okta as a sponsor
  README.md
  cli/utils.mjs
Labels: theme: cli

#23189 allow searchEngine with boolean value at entities
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.ts.ejs
  generators/base-application/support/prepare-entity.mts
  generators/bootstrap-application-server/generator.mts
  generators/server/support/prepare-entity.mjs
Labels: theme: angular, theme: jhipster-internals, theme: java

#23193 fix vue translation
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
Labels: theme: vue

#23199 Fix gateway users cache
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: java

#23200 Upgrade to Gradle 8.3
  generators/gradle/constants.mjs
Labels: theme: gradle

#23216 Fix error related to importing Buffer with Angular
  generators/angular/resources/package.json
  generators/angular/templates/package.json.ejs
  generators/angular/templates/tsconfig.json.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
Labels: theme: angular, theme: jhipster-internals, theme: dependencies

#23217 Sonar: Remove useless curly braces
  generators/server/templates/entity/src/main/java/package/common/patch_template.ejs
Labels: theme: sonar, theme: java

#22933 Update spring-boot version to 3.1.2
  .blueprint/generate-sample/support/generate-sample.js
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/generator-constants.mts
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/config/JHipsterBlockHoundIntegration.java.ejs
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
Labels: theme: jhipster-internals, theme: java, theme: front, $$ bug-bounty $$, $500, theme: CI builds

#23218 Sonar: Remove this call to a deprecated method, it has been marked for removal
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
Labels: theme: sonar, $100, theme: java, $$ bug-bounty $$

#23194 adjusts to types and exports
  generators/index.ts
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  jdl/index.mts
  jdl/index.ts
  jdl/jdl-importer.ts
  package.json
  tsconfig.types.json
Labels: theme: jhipster-internals, theme: dependencies

#23233 tsconfig.test update
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/.eslintrc.js.ejs
  generators/vue/templates/tsconfig.test.json.ejs
Labels: theme: vue

#23278 Update Node version to 18.17.1
  .github/workflows/generator.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23281 blueprint support and generate-blueprint improvements
  .github/dependabot.yml
  generators/angular/generator.mts
  generators/base-application/generator.mts
  generators/base-core/generator-base.mts
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/resources/package.json
  generators/init/templates/package.json.ejs
Labels: theme: angular, theme: jhipster-internals, theme: dependencies, theme: CI builds

#23283 don't compose info with bootstrap
  generators/base-core/generator-base.mts
  generators/base/api.d.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/info/generator.mts
Labels: theme: jhipster-internals

#23277 Update spring-boot version to 3.1.3
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23284 cleanups
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/generator.spec.mts
  generators/azure-app-service/generator.mjs
  generators/base/generator-base-todo.mts
  generators/bootstrap-application/generator.mts
  generators/client/needle-api/needle-client-i18n.mts
  generators/gradle/generator.mts
  generators/maven/generator.mts
  generators/maven/generator.spec.mts
  generators/openapi-client/generator.mjs
  generators/project-name/support/name-resolver.mjs
  generators/server/generator.mjs
  generators/upgrade/upgrade.spec.mts
  test/needle-api/needle-client-i18n.spec.mts
Labels: theme: gradle, theme: upgrade, theme: jhipster-internals, theme: maven, theme: java, theme: front

#23279 Update @openapitools/openapi-generator-cli version to 2.7.0
  generators/generator-constants.mts
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
Labels: theme: jhipster-internals

#23303 Update openapi-generator-maven-plugin version to 7.0.0
  generators/server/resources/pom.xml
Labels: theme: java

#23304 fix composing with entities
  generators/base-core/generator-base.mts
  generators/base/api.d.mts
  generators/entity/generator.mjs
  generators/jdl/generator.mts
  generators/jdl/generator.spec.mts
Labels: theme: jhipster-internals

#23307 Polish issue-check workflow.
  .blueprint/from-issue/generator.mjs
  .github/workflows/issue-check.yml
  package-lock.json
  package.json
Labels: theme: dependencies, theme: CI builds

#23311 fix issue number reference
  .github/workflows/issue-check.yml
Labels: theme: CI builds

#23234 fix compilation errors in reactive app
  generators/server/templates/entity/src/main/java/package/service/impl/_EntityClass_ServiceImpl.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/package/repository/search/UserSearchRepository.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/repository/rowmapper/UserRowMapper_reactive.java.ejs
Labels: theme: java

#23312 comment should not be always executed.
  .github/workflows/issue-check.yml
Labels: theme: CI builds

#23332 Cleanup more todo methods
  generators/azure-spring-cloud/generator.mjs
  generators/base-application/support/prepare-entity.mts
  generators/base-core/generator.mts
  generators/base-core/index.mts
  generators/base/generator-base-todo.mts
  generators/base/generator-base-todo.spec.mts
  generators/base/generator.mts
  generators/base/index.mts
  generators/base/support/basename.mts
  generators/base/support/basename.spec.mts
  generators/base/support/index.mts
  generators/base/support/needles.mts
  generators/bootstrap-application-server/generator.mts
  generators/cloudfoundry/generator.mjs
  generators/gae/generator.mjs
  generators/heroku/generator.mjs
  generators/java/support/index.mts
  generators/java/support/util.mts
  generators/java/support/util.spec.mts
  generators/openapi-client/files.mjs
  generators/spring-controller/generator.mjs
  tsconfig.spec.json
Labels: theme: Heroku, theme: jhipster-internals

#23344 Add support for JDK 20 and 21
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: java

#23347 Change development database default value to match production database
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/server/prompts.mjs
  generators/server/support/__snapshots__/needles.spec.mts.snap
  jdl/jhipster/default-application-options.spec.ts
  jdl/jhipster/default-application-options.ts
Labels: theme: jhipster-internals, theme: java

#23348 Cleanup todo methods.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/aws/generator.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-docker/docker-base.mjs
  generators/base-docker/utils.mjs
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/bootstrap-application-base/generator.mts
  generators/client/needle-api/needle-client-i18n.mts
  generators/client/needle-api/needle-client-webpack.mts
  generators/cloudfoundry/generator.mjs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/gae/generator.mjs
  generators/heroku/generator.mjs
  generators/languages/support/load-config.mts
  generators/liquibase/generator.mts
  generators/liquibase/templates/src/main/resources/config/liquibase/master.xml.ejs
  generators/server/support/config.mts
  generators/server/support/index.mts
  generators/spring-data-relational/cleanup.mts
  generators/spring-data-relational/files.mjs
  generators/spring-data-relational/support/application-properties.mts
  generators/spring-data-relational/templates/src/main/java/_package_/domain/_PersistClass_.java.jhi.jakarta_persistence.ejs
  test/needle-api/needle-client-i18n.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
Labels: theme: aws, theme: Heroku, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#23359 More cleanups
  cli/jhipster-command.mjs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/support/config.mts
  generators/base-application/generator.mts
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/api.d.mts
  generators/base/command.mts
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/generator.mjs
  generators/client/needle-api/needle-client-i18n.mts
  generators/common/generator.mjs
  generators/docker/generator.mjs
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/entities/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/languages/entity-files.mjs
  generators/languages/generator-needles.spec.mts
  generators/languages/generator.mjs
  generators/languages/types.d.ts
  generators/liquibase/generator.mts
  generators/needle-api.mjs
  generators/openshift/generator.mjs
  generators/server/generator.mjs
  generators/spring-data-relational/generator.mts
Labels: theme: kubernetes, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli

#23368 rework addWebpackConfig needle
  generators/angular/generator.mts
  generators/base/generator-base-todo.mts
  generators/client/generator-needles.spec.mts
  generators/client/generator.mjs
  generators/client/needle-api/needle-client-webpack.mts
  generators/client/types.d.mts
  generators/cypress/generator.mts
  generators/needle-api.mjs
  generators/react/generator.mjs
  generators/vue/generator.mjs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: vue

#23369 [React] Fix bump sinon from 15.1.2 to 15.2.0
  generators/react/resources/package.json
  generators/react/templates/jest.conf.js.ejs
Labels: theme: react, theme: dependencies
