Repository jhipster/generator-jhipster, pull requests merged in 2023-06, with the labels that each got.

#22182 Upgrade to angular 16
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/angular/files-angular.mjs
  generators/angular/needle-api/needle-client-angular.mts
  generators/angular/resources/package.json
  generators/angular/support/needles.mts
  generators/angular/templates/package.json.ejs
  generators/angular/templates/src/main/webapp/app/admin/admin-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/app-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/state-storage.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/microfrontend/index.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/entity-navbar-items.ts.ejs
  generators/angular/templates/src/main/webapp/app/home/home.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/tsconfig.json.ejs
  generators/angular/templates/tsconfig.spec.json.ejs
  generators/angular/templates/webpack/webpack.microfrontend.js.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/client/templates/.eslintignore.ejs
  test/needle-api/needle-client-angular-generator.spec.mts
  test/needle-api/needle-client-angular.spec.mts
Labels: theme: angular, theme: jhipster-internals, $$ bug-bounty $$, $300, theme: dependencies

#22407 add CRLFLogConverter.java javadoc
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
Labels: theme: java

#22372 support any node 18 lts
  .github/workflows/generator.yml
  generators/generator-constants.mts
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: dependencies, theme: CI builds

#22411 Fix generation of incorrect code for enums where key equals value.
  generators/server/templates/entity/src/main/java/package/domain/enumeration/Enum.java.ejs
  test-integration/samples/.jhipster/FieldTestEnumWithValue.json
Labels: theme: java

#22373 prevent leakage of user information via api
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
Labels: pr: bug-fix, theme: java, theme: security, theme: reactive ⚛️

#22415 Update jhipster-bom version to 8.0.0-beta.1
  generators/generator-constants.mts
Labels: theme: jhipster-internals

#22414 Update jhipster-react version to 0.24.0
  generators/react/resources/package.json
  generators/react/templates/src/main/webapp/app/modules/login/login-modal.tsx.ejs
Labels: theme: react, theme: dependencies

#22388 Fix logback shutdown hook class name
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

#22429 feat : Upgrade keycloak 21.x
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker-compose/files.mjs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker-compose/templates/realm-config/keycloak-health-check.sh
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/docker/files.mjs
  generators/docker/templates/src/main/docker/config/keycloak-health-check.sh
  generators/docker/templates/src/main/docker/config/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/src/main/docker/keycloak.yml.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: kubernetes, theme: docker :whale:, theme: java

#22476 move noist to dev
  package-lock.json
  package.json
Labels: theme: dependencies

#22474 workaround npm test taking a long time with kubectl installed without a server.
  cli/cli.spec.mts
  cli/environment-builder.mjs
  cli/environment-builder.spec.mts
  cli/program.mjs
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.spec.mts
  generators/jdl/generator.mts
  generators/kubernetes/prompts.mjs
Labels: theme: kubernetes, theme: jhipster-internals, theme: cli

#22482 replace deprecated class based Resolve with a ResolveFn
  generators/angular/templates/src/main/webapp/app/app-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/route/_entityFile-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/route/_entityFile-routing-resolve.service.ts.ejs
Labels: theme: angular

#22481 add `relationshipSide`concept to jdl relationships
  generators/base-application/support/prepare-relationship.mjs
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/export-jdl/export-jdl.spec.mts
  generators/server/generator.mjs
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/__test-files__/jhipster_app/.jhipster/Employee.json
  jdl/__test-files__/jhipster_app/.jhipster/Job.json
  jdl/__test-files__/jhipster_app/.jhipster/Task.json
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.spec.ts
  jdl/converters/types.ts
  jdl/jdl-importer.spec.ts
  jdl/models/jdl-relationship.ts
Labels: theme: jhipster-internals, theme: java

#22484 Background Color Correction
  generators/angular/templates/src/main/webapp/content/scss/_bootstrap-variables.scss.ejs
  generators/react/templates/src/main/webapp/app/_bootstrap-variables.scss.ejs
Labels: theme: angular, theme: react

#22486 Update jhipster-react version to 0.25.2
  generators/react/resources/package.json
Labels: theme: react, theme: dependencies

#22489 Fix unauthorized error handling
  generators/react/templates/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: theme: react

#22491 bump lighthouse from 9.6.8 to 10.2.0
  generators/client/resources/package.json
  generators/cypress/templates/src/test/javascript/cypress/plugins/index.ts.ejs
Labels: theme: front, theme: dependencies

#22492 Fix non-serializable detect error
  generators/react/templates/src/main/webapp/app/config/store.ts.ejs
Labels: theme: react

#22494 Update jhipster-bom version to 8.0.0-SNAPSHOT
  .github/actions/setup/action.yml
  generators/base/blueprints.spec.mts
  generators/base/generator-base-blueprint.mts
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#22493 Update jhipster-react version to main
  generators/react/resources/package.json
Labels: theme: react, theme: dependencies

#22528 fixes and improvements.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/base-docker/generator.mjs
  generators/entities/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/page/generator.mjs
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
  generators/upgrade/generator.mjs
Labels: theme: upgrade, theme: jhipster-internals

#22543 Switch to yeoman-environment v4.
  package-lock.json
  package.json
Labels: theme: dependencies

#22568 Update modernizer-maven-plugin version to 2.6.0
  generators/server/resources/pom.xml
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/repository/UserRepository.java.ejs
  generators/server/templates/src/main/java/package/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/package/web/rest/UserResource.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
Labels: theme: java

#22580 Update Japanese localization
  generators/languages/templates/entity/i18n/entity_ja.json.ejs
  generators/languages/templates/src/main/resources/i18n/messages_ja.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/error.json
  generators/languages/templates/src/main/webapp/i18n/ja/gateway.json
  generators/languages/templates/src/main/webapp/i18n/ja/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/home.json
  generators/languages/templates/src/main/webapp/i18n/ja/login.json
  generators/languages/templates/src/main/webapp/i18n/ja/metrics.json
  generators/languages/templates/src/main/webapp/i18n/ja/register.json
  generators/languages/templates/src/main/webapp/i18n/ja/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/user-management.json
Labels: theme: i18n

#22583 Fix react pagination translation
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
Labels: theme: react

#22584 Sonar code smells fixes
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
Labels: theme: sonar, theme: angular, $100, theme: front, $$ bug-bounty $$

#22587 Adjusts to Dockerfile and node version.
  .github/actions/build-matrix/action.yml
  .github/dependabot.yml
  .github/workflows/lock-maintenance.yml
  Dockerfile
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
Labels: theme: docker :whale:, theme: CI builds

#22589 Sonar code smells fixes
  generators/server/templates/src/main/java/package/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/BadRequestAlertException.java.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: sonar, theme: java

#22230 Update spring-boot version to 3.1.0
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/bootstrap/generator.mts
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/docker/templates/src/main/docker/app.yml.ejs
  generators/generator-constants.mts
  generators/jdl/generator.mts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/templates/deployment.yml.ejs
  generators/server/resources/pom.xml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/config/JacksonConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/security/oauth2/AuthorizationHeaderUtilTest.java.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/internal/dependencies.mts
  generators/spring-data-relational/internal/dependencies.mts
  generators/spring-data-relational/support/database-data.mts
  generators/spring-data-relational/support/database-url.spec.mts
  generators/spring-data-relational/templates/src/test/java/package/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
  test-integration/workflow-samples/react.json
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, $$ bug-bounty $$, $500, theme: CI builds

#22604 Fix npe at windows.
  generators/base/generator-base.mts
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java

#22588 [Angular] Resolve is deprecated
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
Labels: theme: sonar, theme: angular

#21733 Move micrometer context-propagation to reactive only
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/resources/pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: jhipster-internals, theme: java

#21892 fix: heroku sub-generator improvement.
  generators/heroku/generator.mjs
Labels: theme: Heroku

#22585 [Angular] CanActivate is deprecated
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
Labels: theme: sonar, theme: angular

#22653 Remove Datastax from Gold Sponsor
  README.md
Labels: area: documentation:books:

#22646 Update spring-boot version to 3.1.1
  .github/workflows/generator.yml
  generators/generator-constants.mts
  generators/init/constants.mjs
  generators/init/generator.mjs
  generators/init/templates/package.json.ejs
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
Labels: theme: jhipster-internals, theme: CI builds

#22659 don't try to detect microfrontends.
  generators/angular/templates/src/main/webapp/app/app-routing.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/prompts.mjs
  generators/base/generator-base-todo.mts
Labels: theme: angular, theme: jhipster-internals

#22675 Upgrade to Gradle 8.1.1
  generators/gradle/constants.mjs
Labels: theme: gradle

#22698 Remove fork parameter from Spring Boot Maven Plugin
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#22717 edit properties file using dto-properties lib
  generators/server/support/spring-factories.mts
  generators/server/support/spring-factories.spec.mts
  package-lock.json
  package.json
Labels: theme: java, theme: dependencies

#22719 Sonar: Extract this nested ternary operation into an independent statement
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: sonar, theme: front

#22726 Sonar: Remove this 'public' modifier
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_imperative.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT_reactive.java.ejs
Labels: theme: sonar, theme: java
