Repository jhipster/generator-jhipster, pull requests merged in 2023-12, with the labels that each got.

#24430 use session endpoint metadata for oauth logout
  generators/server/templates/src/main/java/_package_/web/rest/LogoutResource_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/LogoutResource_reactive.java.ejs
Labels: theme: java

#24431 don't use self reference
  generators/server/templates/src/main/java/_package_/service/MailService.java.ejs
Labels: theme: java

#24468 group more dependencies
  .github/dependabot.yml
Labels: theme: CI builds

#24098 Upgrade to Spring Boot 3.2
  generators/generator-constants.mjs
  generators/server/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_template.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/search_template.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/PublicUserResource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/UserResource.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/errors/ExceptionTranslatorTestController.java.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/internal/dependencies.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheFactoryConfiguration.java.ejs
  generators/spring-cloud-stream/templates/src/main/java/_package_/web/rest/KafkaResource_imperative.java.ejs
  generators/spring-cloud-stream/templates/src/main/java/_package_/web/rest/KafkaResource_reactive.java.ejs
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#24515 use /**/ for template comments
  generators/languages/templates/entity/i18n/entity_pt-br.json.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/mapper/_entityClass_Mapper.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.elastic_search.ejs
Labels: theme: java, theme: i18n

#24532 [internal] don't set jhipsterVersion config when reproducible
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/upgrade/upgrade.spec.mts
Labels: theme: upgrade, theme: jhipster-internals

#24535 [gradle] cleanup javax.validation usage
  generators/server/templates/build.gradle.ejs
Labels: theme: java

#24534 [internal] add support to disable blueprints
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/api.d.mts
  generators/base/blueprints.spec.mts
  generators/base/command.mts
  generators/base/generator.mts
Labels: theme: jhipster-internals

#24540 Update localization
  generators/languages/templates/src/main/webapp/i18n/zh-cn/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/global.json.ejs
Labels: theme: i18n

#24543 Update bom version to 8.1.1-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.mjs
Labels: theme: jhipster-internals, theme: CI builds

#24546 Update maven version to 3.9.6
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
Labels: theme: maven

#24545 Exclude current neo4j driver provided by liquibase plugin and use the…
  generators/liquibase/generator.mts
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
Labels: theme: neo4j

#24548 [internal] switch to actions/stale release.
  .github/workflows/stale.yml
Labels: theme: CI builds

#24517 Handle Angular navigation errors
  generators/angular/templates/src/main/webapp/app/app.config.ts.ejs
Labels: theme: angular

#24190 [internal] add linked issue workflow that check closing issues samples
  .blueprint/from-issue/generator.mjs
  .github/workflows/linked-issue-check.yml
Labels: theme: CI builds

#24565 Upgrade to the latest version of the Heroku Maven Plugin
  generators/ci-cd/__snapshots__/ci-cd.spec.ts.snap
  generators/ci-cd/templates/.circleci/config.yml.ejs
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/.travis.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
Labels: theme: Heroku

#24551 [gradle] generate initial files for convention plugin usage
  generators/git/templates/.gitignore.jhi.ejs
  generators/gradle/__snapshots__/generator.spec.js.snap
  generators/gradle/files.ts
  generators/gradle/generator.ts
  generators/gradle/internal/needles.ts
  generators/gradle/needles.spec.ts
  generators/gradle/templates/buildSrc/build.gradle.ejs
  generators/gradle/types.d.ts
  generators/server/templates/build.gradle.ejs
Labels: area: enhancement :wrench:, theme: gradle, theme: java

#24568 fix ci-cd prompts
  generators/ci-cd/ci-cd.spec.ts
  generators/ci-cd/command.ts
Labels: pr: bug-fix, theme: Continuous Integration

#24566 Do not prompt for feign clients when creating a monolith
  generators/server/command.ts
  generators/server/support/__snapshots__/needles.spec.ts.snap
Labels: theme: java

#24579 [internal] Use the quibble for dependency mock in tests
  .github/actions/build-matrix/action.yml
  .github/actions/setup-default-node-java/action.yml
  .github/workflows/generator.yml
  .github/workflows/lock-maintenance.yml
  .mocharc.cjs
  cli/cli.spec.mts
  generators/java/support/checks/check-java.spec.ts
  package-lock.json
  package.json
Labels: theme: cli, theme: dependencies, theme: CI builds

#24578 [server] check for composite ids.
  .github/workflows/linked-issue-check.yml
  generators/server/generator.js
Labels: theme: java, theme: CI builds, pr: skip-closing-issues-check

#23980 Update nodejs version to 20.10.0
  .github/actions/build-matrix/action.yml
  .github/workflows/generator.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, $$ bug-bounty $$, $300, theme: CI builds, pr: skip-closing-issues-check

#24482 Redux 5.0.0
  generators/react/resources/package.json
  generators/react/templates/package.json.ejs
  generators/react/templates/src/main/webapp/app/config/store.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/activate/activate.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password/password.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/register/register.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/settings/settings.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/application-profile.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/locale.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/user-management.spec.ts.ejs
Labels: theme: react, $100, $$ bug-bounty $$, theme: dependencies

#24586 Angular: ThreadState.Terminated is not used
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.model.ts.ejs
Labels: theme: angular

#24587 Angular: Fix duplicate exports
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/route/_entityFile_-routing-resolve.service.ts.ejs
Labels: theme: angular

#24584 gradle gatling convention plugin
  generators/gatling/__snapshots__/generator.spec.ts.snap
  generators/gatling/files.ts
  generators/gatling/generator.spec.ts
  generators/gatling/generator.ts
  generators/gatling/templates/buildSrc/src/main/groovy/jhipster.gatling-conventions.gradle.ejs
  generators/generator-constants.js
  generators/gradle/__snapshots__/generator.spec.js.snap
  generators/gradle/files.ts
  generators/gradle/generator.ts
  generators/gradle/internal/needles.ts
  generators/gradle/needles.spec.ts
  generators/gradle/templates/buildSrc/gradle/libs.versions.toml.ejs
  generators/gradle/templates/gradle/libs.versions.toml.ejs
  generators/gradle/types.d.ts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: gradle, theme: jhipster-internals, theme: java

#24603 [Angular] Sonar: Unexpected empty constructor
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
Labels: theme: angular

#24615 [gradle] add gradle cucumber convention plugin
  generators/cucumber/__snapshots__/generator.spec.ts.snap
  generators/cucumber/files.ts
  generators/cucumber/generator.spec.ts
  generators/cucumber/generator.ts
  generators/cucumber/templates/buildSrc/src/main/groovy/jhipster.cucumber-conventions.gradle.ejs
  generators/server/templates/build.gradle.ejs
Labels: area: enhancement :wrench:, theme: java

#24630 [Angular] Metric page not showing metric params
  generators/angular/templates/src/main/webapp/app/app.component.ts.ejs
Labels: theme: angular

#24642 add missing import to UserManagementDetailComponent
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.ts.ejs
Labels: theme: angular

#24652 Pulsar kafka convention plugins
  generators/gatling/cleanup.ts
  generators/server/templates/gradle.properties.ejs
  generators/spring-cloud-stream/__snapshots__/generator-pulsar.spec.ts.snap
  generators/spring-cloud-stream/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud-stream/cleanup.ts
  generators/spring-cloud-stream/files.ts
  generators/spring-cloud-stream/generator.ts
  generators/spring-cloud-stream/templates/buildSrc/src/main/groovy/jhipster.kafka-conventions.gradle.ejs
  generators/spring-cloud-stream/templates/buildSrc/src/main/groovy/jhipster.pulsar-conventions.gradle.ejs
Labels: theme: gradle, theme: java

#24651 [Angular] Missing some translations for health.status.OUT_OF_SERVICE
  generators/languages/templates/src/main/webapp/i18n/al/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ar-ly/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/bg/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/bn/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/by/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ca/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/cs/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/da/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/de/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/el/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/es/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/et/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fa/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/fr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/gl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hu/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/hy/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/id/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/it/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ja/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ko/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/kr-Latn-kr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/mr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/my/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/nl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pa/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-br/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pt-pt/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ro/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ru/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/si/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sk/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/sv/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ta/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/te/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/th/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/tr/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/ua/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Cyrl-uz/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/uz-Latn-uz/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/vi/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-cn/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/zh-tw/health.json.ejs
Labels: theme: i18n

#24656 [Vue] Accept negative number for Integer and Long
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/composables/validation.ts.ejs
Labels: theme: vue

#24672 rework react relationships
  generators/base-application/support/prepare-entity.ts
  generators/bootstrap-application/generator.spec.ts
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
Labels: theme: react, theme: jhipster-internals

#24663 [Vue] Expose a "host" to display in the network
  generators/vue/templates/vite.config.ts.ejs
Labels: theme: vue

#24687 add code quality gradle convention plugin
  generators/server/cleanup.ts
  generators/server/files.js
  generators/server/generator.js
  generators/server/templates/build.gradle.ejs
  generators/server/templates/buildSrc/src/main/groovy/jhipster.code-quality-conventions.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/settings.gradle.ejs
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: gradle, theme: java

#24644 Update spring-boot version to 3.2.1
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/gatling/cleanup.ts
  generators/generator-constants.js
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/spring-cloud-stream/cleanup.ts
  generators/spring-data-relational/internal/dependencies.ts
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#24686 [Vue] Vue frontend doesn't detect custom primary key names
  .blueprint/generate-sample/support/generate-sample.js
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
  test-integration/workflow-samples/vue.json
Labels: theme: vue, pr: skip-closing-issues-check

#24699 Add tests for CRLFLogConverter.java
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/files.js
  generators/server/support/__snapshots__/needles.spec.ts.snap
  generators/server/templates/src/test/java/_package_/config/CRLFLogConverterTest.java.ejs
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
Labels: theme: java

#24700 replace gradle apply from cache with cache convention plugin
  generators/server/templates/gradle.properties.ejs
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/cleanup.ts
  generators/spring-cache/files.ts
  generators/spring-cache/generator.ts
  generators/spring-cache/templates/buildSrc/src/main/groovy/jhipster.spring-cache-conventions.gradle.ejs
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: java

#24701 Sort maven dependencies by alphabetical order
  generators/server/templates/pom.xml.ejs
Labels: theme: java
