Repository jhipster/generator-jhipster, pull requests merged in 2023-09, with the labels that each got.

#23370 remove parseCommonRuntimeOptions and loadRuntimeOptions
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/app/support/config.mts
  generators/base-core/generator.mts
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/command.mts
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/base/shared-data.mts
  generators/base/types.d.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/generator.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/entities/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/languages/generator.mjs
  generators/page/generator.mjs
  generators/server/generator.mjs
  generators/workspaces/generator.mjs
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#23377 Info and generate-samples adjusts
  .blueprint/from-issue/generator.mjs
  .blueprint/generate-sample/support/generate-sample.js
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/info/generator.mts
  generators/info/support/index.mts
  generators/info/support/utils.mts
Labels: theme: jhipster-internals

#23393 drop --with-entities option
  .blueprint/from-issue/generator.mjs
  .blueprint/generate-sample/support/generate-sample.js
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/generator-generate-blueprint.yml
  CONTRIBUTING.md
  generators/app/composing.spec.mts
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/command.mts
  generators/base/types.d.mts
  generators/liquibase/incremental-liquibase.spec.mts
  generators/project-name/generator.mjs
  generators/spring-data-cassandra/database-changelog.spec.mts
  generators/upgrade/generator.mjs
  test-integration/scripts/12-generate-project.sh
Labels: theme: upgrade, theme: jhipster-internals, theme: CI builds

#23394 bump p-queue from 7.3.4 to 7.4.1
  package-lock.json
  package.json
Labels: theme: dependencies

#23395 Expose dev blueprint to blueprints and improvements to argument parsing.
  cli/environment-builder.mjs
  cli/program.mjs
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/jdl/generator.mts
Labels: theme: cli

#23396 drop generator-base-todo
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-workspaces/internal/docker-base.mjs
  generators/base/generator-base-todo.mts
  generators/base/generator.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/ci-cd/generator.mjs
  generators/client/support/config.mts
  generators/cloudfoundry/generator.mjs
  generators/docker-compose/generator.mjs
  generators/entity/generator.mjs
  generators/gae/generator.mjs
  generators/heroku/generator.mjs
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/openapi-client/generator.mjs
  generators/openshift/generator.mjs
  generators/server/support/config.mts
  generators/spring-controller/generator.mjs
  generators/spring-service/generator.mjs
Labels: theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front

#23402 Cleanup jdl
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/jdl/command.mts
  generators/jdl/generator.mts
  generators/liquibase/incremental-liquibase.spec.mts
  generators/server/options/database-migration.spec.ts
  generators/server/options/message-broker.spec.ts
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/exporters/applications/jhipster-application-exporter.spec.ts
  jdl/exporters/applications/jhipster-application-exporter.ts
  jdl/exporters/jhipster-entity-exporter.spec.ts
  jdl/exporters/jhipster-entity-exporter.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
Labels: theme: java

#23403 split client/server testFramework prompt
  generators/app/generator.mjs
  generators/app/prompts.mjs
  generators/client/generator.mjs
  generators/client/prompts.mjs
  generators/client/prompts.spec.mts
  generators/server/generator.mjs
  generators/server/prompts.mjs
Labels: theme: jhipster-internals, theme: java, theme: front

#23409 fix kubernetes generation
  generators/base-workspaces/internal/docker-base.mjs
  generators/base-workspaces/internal/docker-prompts.mjs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-helm/kubernetes.helm.spec.mts
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes-knative/knative.spec.mts
  generators/kubernetes-knative/prompts.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes-base.mjs
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/prompts.mjs
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/generator.mjs
  generators/openshift/openshift.spec.mts
  generators/openshift/prompts.mjs
  test-integration/jdl-samples/mf-ng-eureka-jwt-psql-ehcache/blog-store.jdl
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
  test-integration/jdl-samples/ms-ng-consul-oauth2-mongodb-caffeine/blog-store.jdl
  test-integration/jdl-samples/ms-react-consul-jwt-cassandra-redis/blog-store.jdl
  test-integration/jdl-samples/ms-vue-eureka-jwt-couchbase-hazelcast/blog-store.jdl
Labels: theme: kubernetes

#23427 Update jhipster-bom version to 8.0.0-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23439 Try to reproduce kubernetes.
  .github/actions/compare-base/action.yml
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/kubernetes-base.mjs
Labels: theme: kubernetes, theme: CI builds

#23450 Many adjusts
  cli/cli.mjs
  cli/environment-builder.mjs
  generators/base-application/generator.mts
  generators/base-core/generator-core.spec.mts
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/base/generator.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/prettier-support.mts
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generate-blueprint/files.mjs
  generators/generate-blueprint/generator.mjs
  generators/generate-blueprint/templates/.blueprint/cli/commands.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/command.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/index.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/generate-sample/templates/samples/sample.jdl.ejs
  generators/generate-blueprint/templates/.eslintrc.json.ejs
  generators/generate-blueprint/templates/.github/workflows/generator.yml.ejs
  generators/generate-blueprint/templates/cli/cli.cjs.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/vitest.config.ts.ejs
  generators/init/generator.mjs
  generators/jdl/generator.mts
  generators/server/generator.mjs
Labels: theme: jhipster-internals, theme: java, theme: cli

#23455 add String.valueof() for correct log message
  generators/server/templates/src/main/java/package/aop/logging/LoggingAspect.java.ejs
Labels: theme: java

#23472 Sonar: Remove this use of 'setCookieName'; it is deprecated
  generators/server/templates/src/main/java/package/config/LocaleConfiguration_imperative.java.ejs
Labels: theme: sonar, theme: java

#23488 Rework translation process.
  generators/angular/entity-files-angular.mts
  generators/angular/files-angular.mjs
  generators/angular/generator.mts
  generators/angular/generator.spec.mts
  generators/angular/support/translate-angular.mjs
  generators/angular/support/translate-angular.spec.mts
  generators/angular/templates/src/main/webapp/app/account/activate/activate.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-cache/metrics-cache.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-datasource/metrics-datasource.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-request/metrics-request.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/tracker/tracker.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/delete/_entityFile-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/detail/_entityFile-detail.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/list/_entityFile.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-update.component.html.ejs
  generators/angular/templates/src/main/webapp/app/home/home.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/footer/footer.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/pagination/item-count.component.ts.ejs
  generators/base-application/priorities.mjs
  generators/base/types.d.mts
  generators/languages/entity-files.mjs
  generators/languages/generator.mjs
  generators/languages/support/index.mts
  generators/languages/support/translate.mts
  generators/languages/support/translate.spec.mjs
  generators/languages/translation-data.mjs
  generators/react/entity-files-react.mjs
  generators/react/files-react.mjs
  generators/vue/generator.mjs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: i18n, theme: vue

#23499 fix swagger for gateway/microservices
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/cypress/templates/src/test/javascript/cypress/e2e/administration/administration.cy.ts.ejs
Labels: theme: front

#23502 drop spring-controller and spring-service generators
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/spring-controller/USAGE
  generators/spring-controller/generator.mjs
  generators/spring-controller/generator.spec.mjs
  generators/spring-controller/index.mts
  generators/spring-controller/prompts.mjs
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-controller/templates/src/main/java/package/web/rest/Resource.java.ejs
  generators/spring-controller/templates/src/test/java/package/web/rest/ResourceIT.java.ejs
  generators/spring-controller/types-export.d.ts
  generators/spring-service/USAGE
  generators/spring-service/generator.mjs
  generators/spring-service/generator.spec.mjs
  generators/spring-service/index.mts
  generators/spring-service/spring-service.spec.mts
  generators/spring-service/templates/src/main/java/package/service/Service.java.ejs
  generators/spring-service/templates/src/main/java/package/service/impl/ServiceImpl.java.ejs
  generators/spring-service/types-export.d.ts
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals

#23523 Follow option imports at blueprints.
  cli/program.mjs
  generators/base/api.d.mts
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
Labels: theme: jhipster-internals, theme: cli

#23529 Remove aws-sdk dependency
  package-lock.json
  package.json
Labels: theme: dependencies

#23530 fix jdl multi-line javadoc issue
  generators/server/support/doc.mjs
  generators/server/support/doc.spec.mts
Labels: theme: java

#23531 add tests for Integer ids
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-form.service.ts.ejs
  generators/base-application/support/prepare-entity.mts
  generators/bootstrap-application/generator.spec.mts
  generators/liquibase/generator.mts
  generators/liquibase/support/post-prepare-entity.mts
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/initial_schema_sql.xml.ejs
  generators/server/support/prepare-field.mjs
  generators/server/support/templates/field-values.mjs
  generators/server/templates/entity/src/test/java/package/domain/_PersistClass_Test.java.ejs
  generators/server/templates/entity/src/test/java/package/web/rest/_EntityClass_ResourceIT.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/domain/_PersistClass_.java.jhi.jakarta_persistence.ejs
  test-integration/samples/jdl-entities/custom-id.jdl
Labels: theme: angular, theme: jhipster-internals, theme: java

#23590 Upgrade fast-xml-parser 4.3.0
  generators/server/support/dependabot-maven.mts
  package-lock.json
  package.json
Labels: theme: java, theme: dependencies

#23598 Blueprint support improvements.
  cli/cli.spec.mts
  generators/angular/generator.mts
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/command.mts
  generators/app/composing.spec.mts
  generators/app/generator.mjs
  generators/app/prompts.mjs
  generators/app/support/config.mts
  generators/base-core/generator.mts
  generators/base/api.d.mts
  generators/bootstrap-application-server/generator.mts
  generators/client/command.mts
  generators/client/generator.mjs
  generators/common/command.mts
  generators/common/generator.mjs
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
  generators/generate-blueprint/templates/vitest.config.ts.ejs
  generators/heroku/generator.mjs
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/languages/command.mts
  generators/languages/generator.mjs
  generators/languages/index.mts
  generators/languages/languages.spec.mjs
  generators/react/generator.mjs
  generators/server/command.mts
  generators/server/generator.mjs
  generators/vue/generator.mjs
  jdl/jhipster/default-application-options.ts
  lib/internal/config-def.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
Labels: theme: Heroku, theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli, theme: vue

#23596 Add translation to polish.
  generators/languages/templates/src/main/webapp/i18n/pl/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pl/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/pl/register.json
  generators/languages/templates/src/main/webapp/i18n/pl/user-management.json
Labels: theme: i18n

#23599 Split README fragments
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/support/config.mts
  generators/base-application/types.d.mts
  generators/bootstrap-application/generator.mts
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/README.md.jhi.ejs
  generators/gatling/files.mts
  generators/gatling/templates/README.md.jhi.gatling.ejs
  generators/server/files.mjs
  generators/server/templates/README.md.jhi.spring-boot.ejs
Labels: theme: jhipster-internals, theme: java, theme: front

#23613 Update spring-boot version to 3.1.4
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#23615 drop page generator
  generators/app/generator.mjs
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/page/files-vue.mjs
  generators/page/generator.mjs
  generators/page/generator.spec.mjs
  generators/page/index.mts
  generators/page/page.spec.mts
  generators/page/prompts.mjs
  generators/page/support/index.mts
  generators/page/support/needles.mts
  generators/page/templates/vue/src/main/webapp/app/pages/page.component.ts.ejs
  generators/page/templates/vue/src/main/webapp/app/pages/page.service.ts.ejs
  generators/page/templates/vue/src/main/webapp/app/pages/page.vue.ejs
  generators/page/templates/vue/src/test/javascript/spec/app/pages/page.component.spec.ts.ejs
  generators/page/templates/vue/src/test/javascript/spec/app/pages/page.service.spec.ts.ejs
  generators/page/types-export.d.ts
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals

#23616 Adjusts for dotnetcore blueprint
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/angular/files-angular.mjs
  generators/angular/generator.mts
  generators/angular/generator.spec.mts
  generators/angular/support/translate-angular.mjs
  generators/angular/templates/package.json.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.mjs
  generators/base-application/types.d.mts
  generators/ci-cd/generator.mjs
  generators/client/files-common.mjs
  generators/client/generator.mjs
  generators/client/support/config.mts
  generators/client/support/files.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/common/generator.spec.mjs
  generators/cucumber/generator.mts
  generators/cypress/__snapshots__/generator.spec.mts.snap
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/cypress/generator.spec.mts
  generators/docker/generator.mjs
  generators/gatling/generator.mts
  generators/generate-blueprint/generator.mjs
  generators/git/generator.mts
  generators/gradle/generator.mts
  generators/init/generator.mjs
  generators/java/generator.mts
  generators/languages/generator.mjs
  generators/liquibase/generator.mts
  generators/maven/generator.mts
  generators/maven/generator.spec.mts
  generators/react/__snapshots__/generator.spec.mts.snap
  generators/react/files-react.mjs
  generators/react/generator.mjs
  generators/react/generator.spec.mts
  generators/react/templates/package.json.ejs
  generators/server/generator.mjs
  generators/server/templates/package.json.ejs
  generators/spring-cache/generator.mts
  generators/spring-cloud-stream/generator.mts
  generators/spring-data-cassandra/generator.mjs
  generators/spring-data-couchbase/generator.mjs
  generators/spring-data-elasticsearch/generator.mjs
  generators/spring-data-mongodb/generator.mjs
  generators/spring-data-neo4j/generator.mts
  generators/spring-data-relational/generator.mts
  generators/spring-websocket/generator.mts
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/generator.mjs
  generators/vue/generator.spec.mts
  generators/vue/templates/package.json.ejs
  generators/workspaces/generator.mjs
  test/needle-api/needle-client-angular-generator.spec.mts
  test/support/client-samples.mts
Labels: theme: gradle, theme: angular, theme: react, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n, theme: vue

#23630 Upgrade fast-xml-parser from 4.3.0 to 4.3.1
  generators/server/support/dependabot-maven.mts
  package-lock.json
  package.json
Labels: theme: java, theme: dependencies

#23632 drop openapi-client generator
  cli/commands.mjs
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/generate-blueprint/__snapshots__/generator.spec.mjs.snap
  generators/generator-list.mjs
  generators/openapi-client/USAGE
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
  generators/openapi-client/files.mjs
  generators/openapi-client/generator.mjs
  generators/openapi-client/generator.spec.mjs
  generators/openapi-client/index.mts
  generators/openapi-client/openapi-client.spec.mts
  generators/openapi-client/prompts.mjs
  generators/openapi-client/templates/java/.openapi-generator-ignore
  generators/openapi-client/templates/spring/.openapi-generator-ignore
  generators/openapi-client/types-export.d.ts
  test/__snapshots__/api.spec.mjs.snap
Labels: theme: jhipster-internals, theme: cli

#23631 Generate beforeQueue at full blueprints
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  package-lock.json
  package.json
Labels: theme: dependencies

#23668 Misc improvements
  cli/jhipster-command.mjs
  generators/base-core/generator.mts
  generators/client/command.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/init/generator.mjs
  generators/init/templates/package.json.ejs
  jdl/jhipster/default-application-options.ts
  lib/internal/config-def.mts
Labels: theme: java, theme: front, theme: cli

#23684 drop shelljs
  generators/base-workspaces/internal/docker-prompts.mjs
  generators/docker-compose/generator.mjs
  generators/docker/support/check-docker.mjs
  generators/info/generator.mts
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/kubernetes-base.mjs
  generators/languages/generator.mjs
  generators/languages/index.mts
  generators/languages/upgrade-files-task.mts
  generators/server/internal/build-application.mjs
  generators/server/internal/index.mts
  generators/upgrade/generator.mjs
  generators/upgrade/upgrade.spec.mts
  package-lock.json
  package.json
Labels: theme: kubernetes, theme: upgrade, theme: docker :whale:, theme: java, theme: i18n, theme: dependencies

#23687 Typos
  CONTRIBUTING.md
  rfcs/5-jhipster-rfc-inclusive-property-in-generator.md
Labels: area: cleanup

#23689 Typos: mjs files
  generators/base-application/generator.mts
  generators/base-application/support/prepare-entity.mts
  generators/base-core/generator.mts
  generators/base-entity-changes/generator.mts
  generators/base/support/needles.mts
  generators/maven/types.d.mts
  generators/server/support/dependabot-gradle.mts
  generators/server/support/needles.mts
  generators/server/types.d.mts
  generators/spring-cloud-stream/cleanup.mts
Labels: theme: jhipster-internals, theme: maven, theme: java, area: cleanup

#23688 Typos: spec files
  generators/angular/templates/src/main/webapp/app/core/util/event-manager.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/user/user.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: angular, area: cleanup, theme: vue
