Repository jhipster/generator-jhipster, pull requests merged in 2023-02, with the labels that each got.

#21000 move utils/blueprint to generator/base/internal
  cli/environment-builder.mjs
  generators/base/generator-base-blueprint.mjs
  generators/base/internal/blueprint.mjs
  generators/base/internal/blueprint.spec.mts
  generators/base/internal/index.mts
  generators/upgrade/generator.mjs
Labels: theme: upgrade, theme: jhipster-internals, theme: cli

#21001 move utils/liquibase to generators/liquibase/support/prepare-field
  generators/bootstrap-application-server/generator.mts
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/support/index.mts
  generators/liquibase/support/prepare-field.mjs
Labels: theme: jhipster-internals

#21005 use new helpers apis
  generators/ci-cd/ci-cd.spec.mts
  generators/docker-compose/docker-compose.spec.mts
  generators/languages/languages.spec.mjs
  generators/page/page.spec.mts
  test/app/composing.spec.mts
  test/app/prompts.spec.mts
  test/blueprint/multiple-app-blueprints.spec.mts
  test/heroku.spec.mts
  test/knative.spec.mts
  test/kubernetes.helm.spec.mts
  test/kubernetes.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-server-cache.spec.mts
  test/needle-api/needle-server-gradle.spec.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/needle-server-logback-spring.spec.mts
  test/needle-api/needle-server-maven.spec.mts
  test/openapi-client.spec.mts
  test/openshift.spec.mts
  test/spring-controller.spec.mts
  test/spring-service.spec.mts
  test/support/helpers.mts
  test/support/tests.mjs
Labels: theme: docker :whale:, theme: i18n

#21013 drop generators/cleanup and generators/generator-defaults
  generators/angular/cleanup.mjs
  generators/angular/entity-files-angular.mjs
  generators/angular/files-angular.mjs
  generators/angular/generator.mjs
  generators/app/cleanup.mjs
  generators/app/generator.mjs
  generators/base-application/support/prepare-entity.mjs
  generators/base-application/support/prepare-entity.spec.mts
  generators/cleanup.mjs
  generators/entity/generator.mjs
  generators/generator-constants.mjs
  generators/react/cleanup.mjs
  generators/react/files-react.mjs
  generators/react/generator.mjs
  generators/server/cleanup.mts
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/generator.mjs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: vue

#21014 cleanup client support
  generators/base-application/support/prepare-entity.mjs
  generators/client/support/template-utils.mjs
  generators/client/support/template-utils.spec.mjs
  generators/client/support/types-utils.spec.mjs
  generators/server/support/database.spec.mts
  test/fixtures/renderContent/common/all.ejs
  test/fixtures/renderContent/common/common.ejs
  test/fixtures/renderContent/include.ejs
  test/fixtures/renderContent/include_common.ejs
  test/fixtures/renderContent/specific/all.ejs
  test/generator-base-private.spec.mjs
Labels: theme: jhipster-internals, theme: java, theme: front

#21015 adjusts to SpaWebFilter.
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter.java.ejs
  generators/server/templates/src/main/java/package/web/filter/SpaWebFilter_reactive.java.ejs
  generators/server/templates/src/test/java/package/web/filter/SpaWebFilterIT.java.ejs
Labels: theme: java

#20999 Add microservices to admin log view
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
Labels: theme: angular

#20930 ci: use GITHUB_OUTPUT to expose outputs
  .github/actions/build-matrix/action.yml
  .github/actions/compare-base/action.yml
  .github/actions/compare/action.yml
  .github/actions/setup/action.yml
  test-integration/scripts/99-build-changes.sh
Labels: theme: CI builds

#21039 Revert "Bump docker/build-push-action from 3.3.0 to 4.0.0"
  .github/workflows/docker-image-publish-github-registry.yml
Labels: theme: CI builds

#21020 Rework types.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base-application/generator-ts.mts
  generators/base-application/generator.mts
  generators/base-application/generator.spec.mts
  generators/base-application/tasks.d.mts
  generators/base-application/types.d.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-definitions.mjs
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/index.mts
  generators/base/tasks.d.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/index.mts
  generators/client/support/update-languages.mts
  generators/client/types.d.mts
  generators/common/index.mts
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/cypress/index.mts
  generators/cypress/types.d.mts
  generators/gradle/cleanup.mts
  generators/info/generator.mts
  generators/liquibase/generator.mts
  generators/maven/cleanup.mts
  generators/server/cleanup-cache-provider.mts
  generators/server/cleanup-cucumber.mts
  generators/server/cleanup-oauth2.mts
  generators/server/cleanup-sql.mts
  generators/server/cleanup.mts
  generators/server/generator.mjs
  generators/server/index.mts
  test/enforcements.spec.mjs
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java, theme: front

#21049 drop not used fieldsIsReactAvField and i18nToLoad
  generators/base-application/support/prepare-entity.mjs
  generators/bootstrap-application/generator.mts
  generators/bootstrap-application/generator.spec.mts
  generators/react/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.tsx.ejs
Labels: theme: react, theme: jhipster-internals

#21048 Rework cli support
  cli/commands.mjs
  cli/environment-builder.mjs
  cli/import-jdl.mjs
  cli/jdl.mjs
  cli/utils.mjs
  generators/base/generator-base-todo.mjs
  generators/server/index.mts
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/server/support/index.mts
  generators/server/support/needles.mts
  generators/server/support/needles.spec.mts
  test/cli/cli-utils.spec.mts
  test/cli/import-jdl.spec.mts
  test/cli/jdl-fork.spec.mts
  test/generator-base.spec.mts
Labels: theme: jhipster-internals, theme: java, theme: cli

#20931 chore: fix config and usage instructions for local sonar setup and code coverage
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/README.md.jhi.ejs
  generators/docker/templates/src/main/docker/sonar.yml.ejs
  package-lock.json
Labels: theme: java, theme: front, theme: dependencies

#21073 Cleanups.
  cli/environment-builder.mjs
  generators/app/generator.mjs
  generators/base/api.d.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/bootstrap/generator.mts
  generators/client/generator.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/docker/generator.mjs
  generators/entities/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/info/generator.mts
  generators/languages/generator.mjs
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/generator.mts
  generators/maven/generator.mjs
  generators/server/files.mjs
  generators/server/generator.mjs
  test/generator-base.spec.mts
Labels: theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n, theme: cli

#21081 don't use global faker instance.
  generators/base-application/support/prepare-entity.mts
  generators/base/support/faker.mts
  generators/base/support/index.mts
  generators/bootstrap-application-base/generator.mts
  generators/cypress/generator.mts
  generators/docker-compose/generator.mjs
  generators/docker/generator.mjs
Labels: theme: docker :whale:, theme: jhipster-internals

#21082 don't load manually written config file to mem-fs
  generators/bootstrap/generator.mts
  test/__snapshots__/openapi-client.spec.mts.snap
Labels: theme: jhipster-internals

#21085 move multistep transform to a dedicated priority
  generators/base-application/priorities.mjs
  generators/base/priorities.mjs
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

#21086 drop ignored dependencies from dependabot.
  .github/dependabot.yml
Labels: theme: CI builds

#21084 Bump lint-staged from 13.1.0 to 13.1.1 in /generators/common/templates
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/package.json
Labels: theme: java, theme: front, theme: dependencies

#21116 add time to dependabot schedule
  .github/dependabot.yml
Labels: theme: CI builds

#21130 bump os-locale to 6.0.2
  generators/languages/support/detect-language.mts
  generators/statistics.mts
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: i18n, theme: dependencies

#21140 Update Gradle Enterprise plugin version
  generators/server/templates/gradle.properties.ejs
Labels: theme: java

#21118 sort json config files using transform
  generators/base-application/generator.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/index.mts
  generators/bootstrap/support/sort-config-files-transform.mts
Labels: theme: jhipster-internals

#21150 filter stream before transform
  generators/bootstrap/command.mts
  generators/bootstrap/generator.mts
Labels: theme: jhipster-internals

#21152 Test cleanups.
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/angular/generator.spec.mts
  generators/app/generator.spec.mts
  generators/base-application/generator.spec.mts
  generators/bootstrap-application-client/generator.spec.mts
  generators/bootstrap-application-server/generator.spec.mts
  generators/bootstrap-application/generator.spec.mts
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/cassandra/generator.spec.mts
  generators/client/generator.spec.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.spec.mjs
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/couchbase/generator.spec.mts
  generators/cypress/__snapshots__/generator.spec.mts.snap
  generators/cypress/generator.spec.mts
  generators/docker/generator.spec.mts
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/generator.spec.mts
  generators/gradle/generator.spec.mjs
  generators/kafka/generator.spec.mts
  generators/maven/generator.spec.mjs
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/mongodb/generator.spec.mts
  generators/page/page.spec.mts
  generators/react/__snapshots__/generator.spec.mts.snap
  generators/react/generator.spec.mts
  generators/server/__snapshots__/neo4j.spec.mts.snap
  generators/server/__snapshots__/sql-entities.spec.mts.snap
  generators/server/__snapshots__/sql.spec.mts.snap
  generators/server/__test-support/index.mts
  generators/server/generator.spec.mjs
  generators/server/neo4j.spec.mts
  generators/server/sql-entities.spec.mts
  generators/server/sql.spec.mts
  generators/upgrade/upgrade.spec.mts
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/generator.spec.mts
  test/app/composing.spec.mts
  test/support/client-samples.mts
  test/support/helpers.mts
  test/support/matrix-utils.mts
  test/support/server-samples.mts
Labels: theme: gradle, theme: angular, theme: upgrade, theme: react, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: vue

#21170 Test cleanups
  generators/ci-cd/__snapshots__/ci-cd.spec.mts.snap
  generators/ci-cd/ci-cd.spec.mts
  generators/docker-compose/docker-compose.spec.mts
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
  generators/openapi-client/openapi-client.spec.mts
  generators/workspaces/generator.mjs
  test/__snapshots__/heroku.spec.mts.snap
  test/__snapshots__/openapi-client.spec.mts.snap
  test/app/database-changelog.spec.mts
  test/entity/database-changelog.spec.mts
  test/entity/single-entity.spec.mts
  test/heroku.spec.mts
  test/openapi-client.spec.mts
  test/spring-controller.spec.mts
  test/spring-service.spec.mts
  test/support/get-template-path.mts
  test/support/helpers.mts
  test/templates/.jhipster/DtoServicePagination.json
  test/templates/.jhipster/Simple.json
  test/templates/.jhipster/Simple2.json
  test/templates/.jhipster/Simple3.json
  test/templates/ci-cd/gradle-ngx-npm/.yo-rc.json
  test/templates/ci-cd/maven-ngx-npm/.yo-rc.json
  test/templates/ci-cd/maven-ngx-npm/pom.xml
  test/templates/ci-cd/npm-skip-server/.yo-rc.json
  test/templates/default-elasticsearch/.yo-rc.json
  test/templates/default-microservice/.yo-rc.json
  test/templates/default-psql/.yo-rc.json
  test/templates/default/.yo-rc.json
  test/templates/heroku/.yo-rc.json
  test/templates/openapi-client/microservice-simple/.yo-rc.json
  test/templates/openapi-client/microservice-with-client/.yo-rc.json
  test/templates/openapi-client/microservice-with-client/src/main/java/com/mycompany/myapp/client/petstore/PetsApiClientOld.java
Labels: theme: docker :whale:

#21074 Use YAML block sequence syntax
  generators/server/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

#21176 make typescript happy at tests
  generators/app/generator.spec.mts
  generators/aws/generator.spec.mjs
  generators/azure-app-service/generator.spec.mjs
  generators/azure-spring-cloud/generator.spec.mjs
  generators/base-application/generator.spec.mts
  generators/base/generator.spec.mts
  generators/bootstrap-application-base/generator.spec.mts
  generators/bootstrap-application-client/generator.spec.mts
  generators/bootstrap-application-server/generator.spec.mts
  generators/bootstrap-application/generator.spec.mts
  generators/bootstrap/generator.spec.mts
  generators/cassandra/generator.spec.mts
  generators/ci-cd/generator.spec.mjs
  generators/client/generator.spec.mts
  generators/cloudfoundry/generator.spec.mjs
  generators/common/generator.spec.mjs
  generators/couchbase/generator.spec.mts
  generators/cypress/generator.spec.mts
  generators/docker-compose/generator.spec.mjs
  generators/docker/generator.spec.mts
  generators/elasticsearch/generator.spec.mts
  generators/entities/generator.spec.mts
  generators/entity/generator.spec.mjs
  generators/export-jdl/generator.spec.mts
  generators/gae/generator.spec.mjs
  generators/generate-blueprint/generator.spec.mjs
  generators/heroku/generator.spec.mjs
  generators/info/generator.spec.mts
  generators/kafka/generator.spec.mts
  generators/kubernetes-helm/generator.spec.mjs
  generators/kubernetes-knative/generator.spec.mjs
  generators/kubernetes/generator.spec.mjs
  generators/languages/generator.spec.mjs
  generators/liquibase-changelogs/generator.spec.mjs
  generators/liquibase/generator.spec.mts
  generators/mongodb/generator.spec.mts
  generators/openapi-client/generator.spec.mjs
  generators/openshift/generator.spec.mjs
  generators/page/generator.spec.mjs
  generators/react/generator.spec.mts
  generators/server/generator.spec.mjs
  generators/server/neo4j.spec.mts
  generators/server/sql.spec.mts
  generators/spring-controller/generator.spec.mjs
  generators/spring-service/generator.spec.mjs
  generators/upgrade/generator.spec.mjs
  generators/vue/generator.spec.mts
  generators/workspaces/generator.spec.mjs
Labels: theme: aws, theme: Heroku, theme: kubernetes, theme: upgrade, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: vue

#21178 Apply translations and i18n removal at transforms.
  generators/angular/entity-files-angular.mts
  generators/angular/files-angular.mjs
  generators/angular/generator.mts
  generators/angular/support/index.mts
  generators/angular/support/translate-angular.mjs
  generators/angular/support/translate-angular.spec.mts
  generators/react/entity-files-react.mjs
  generators/react/files-react.mjs
  generators/react/generator.mjs
  generators/react/support/index.mts
  generators/react/support/translate-react.mjs
  generators/react/support/translate-react.spec.mjs
  generators/vue/entity-files-vue.mjs
  generators/vue/files-vue.mjs
  generators/vue/generator.mjs
  generators/vue/support/index.mts
  generators/vue/support/translate-vue.mjs
  generators/vue/support/translate-vue.spec.mjs
Labels: theme: angular, theme: react, theme: vue

#21129 replace test sample resources with dynamically generated files.
  generators/docker-compose/docker-compose.spec.mts
  test/__snapshots__/knative.spec.mts.snap
  test/__snapshots__/kubernetes.helm.spec.mts.snap
  test/__snapshots__/kubernetes.spec.mts.snap
  test/__snapshots__/openshift.spec.mts.snap
  test/knative.spec.mts
  test/kubernetes.helm.spec.mts
  test/kubernetes.spec.mts
  test/openshift.spec.mts
  test/support/deployment-samples.mts
  test/support/helpers.mts
  test/support/mock-config.mts
  test/templates/compose/01-gateway/src/main/docker/app.yml
  test/templates/compose/01-gateway/src/main/docker/mysql.yml
  test/templates/compose/02-mysql/src/main/docker/app.yml
  test/templates/compose/02-mysql/src/main/docker/mysql.yml
  test/templates/compose/03-psql/src/main/docker/app.yml
  test/templates/compose/03-psql/src/main/docker/elasticsearch.yml
  test/templates/compose/03-psql/src/main/docker/postgresql.yml
  test/templates/compose/04-mongo/src/main/docker/app.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb-cluster.yml
  test/templates/compose/04-mongo/src/main/docker/mongodb.yml
  test/templates/compose/05-cassandra/src/main/docker/app.yml
  test/templates/compose/05-cassandra/src/main/docker/cassandra-cluster.yml
  test/templates/compose/05-cassandra/src/main/docker/cassandra-migration.yml
  test/templates/compose/05-cassandra/src/main/docker/cassandra.yml
  test/templates/compose/07-mariadb/src/main/docker/app.yml
  test/templates/compose/07-mariadb/src/main/docker/mariadb.yml
  test/templates/compose/08-monolith/src/main/docker/app.yml
  test/templates/compose/08-monolith/src/main/docker/elasticsearch.yml
  test/templates/compose/08-monolith/src/main/docker/mysql.yml
  test/templates/compose/09-kafka/src/main/docker/app.yml
  test/templates/compose/09-kafka/src/main/docker/kafka.yml
  test/templates/compose/09-kafka/src/main/docker/mysql.yml
  test/templates/compose/10-couchbase/src/main/docker/app.yml
  test/templates/compose/10-couchbase/src/main/docker/couchbase-cluster.yml
  test/templates/compose/10-couchbase/src/main/docker/couchbase.yml
  test/templates/compose/11-mssql/src/main/docker/app.yml
  test/templates/compose/11-mssql/src/main/docker/mssql.yml
  test/templates/compose/12-oracle/src/main/docker/app.yml
Labels: theme: docker :whale:

#21181 Bump lint-staged from 13.1.1 to 13.1.2
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/templates/package.json
Labels: theme: java, theme: front, theme: dependencies

#21180 React - Import bootstrap variable scss file
  generators/react/templates/src/main/webapp/app/app.scss.ejs
Labels: theme: react

#21208 add bin/jhipster.mjs command that runs jit from source.
  .github/actions/compare-base/action.yml
  .github/actions/setup/action.yml
  .github/workflows/generator-generate-blueprint.yml
  bin/jhipster.mjs
  cli/import-jdl.mjs
  package-lock.json
  package.json
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-project.sh
  test/cli/cli.spec.mts
  test/support/temp-dir.mts
Labels: theme: cli, theme: dependencies, theme: CI builds

#21211 change base compare to use jit
  .github/actions/compare-base/action.yml
Labels: theme: CI builds

#21189 rework logger
  cli/index.mts
  cli/jhipster-command.mjs
  cli/program.mjs
  cli/utils.mjs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/__snapshots__/generator.spec.mts.snap
  generators/base/api.d.mts
  generators/base/command.mts
  generators/base/generator-base-definitions.mjs
  generators/base/generator-base.mts
  generators/base/generator.spec.mts
  generators/base/support/index.mts
  generators/base/support/logger.mts
  generators/base/support/logging.mjs
  generators/bootstrap/command.mts
  generators/git/generator.mts
  generators/init/__snapshots__/generator.spec.mts.snap
  test/generator-base.spec.mts
  test/support/tests.mjs
Labels: theme: jhipster-internals, theme: cli

#21190 convert blueprints test templates files to esm
  generators/app/composing.spec.mts
  generators/app/prompts.spec.mts
  generators/cassandra/database-changelog.spec.mts
  test/blueprint/__snapshots__/app-blueprint.spec.mts.snap
  test/blueprint/app-blueprint.spec.mts
  test/blueprint/constructor-error-blueprint.spec.mts
  test/cli/cli.spec.mts
  test/cli/environment-builder.spec.mts
  test/support/temp-dir.mts
  test/templates/blueprints/fake-blueprint/generators/app/index.js
  test/templates/blueprints/fake-blueprint/generators/server/index.js
  test/templates/blueprints/fake-blueprint/package.json
  test/templates/blueprints/generator-jhipster-prettier-transform/generators/common/index.js
  test/templates/blueprints/generator-jhipster-prettier-transform/package.json
  test/templates/blueprints/generator-jhipster-throwing-constructor/generators/server/index.js
  test/templates/blueprints/generator-jhipster-throwing-constructor/package.json
  test/templates/cli/blueprint-cli-shared/cli/commands.js
  test/templates/cli/blueprint-cli-shared/cli/sharedOptions.js
  test/templates/cli/blueprint-cli-shared/generators/bar/index.js
  test/templates/cli/blueprint-cli-shared/generators/foo/index.js
  test/templates/cli/blueprint-cli-shared/package.json
  test/templates/cli/blueprint-cli/cli/commands.js
  test/templates/cli/blueprint-cli/cli/sharedOptions.js
  test/templates/cli/blueprint-cli/generators/foo/index.js
  test/templates/cli/blueprint-cli/package.json
Labels: theme: jhipster-internals, theme: dependencies

#21193 cleanup logs.
  cli/utils.mjs
  generators/angular/generator.mts
  generators/app/generator.mjs
  generators/aws/generator.mjs
  generators/azure-app-service/generator.mjs
  generators/azure-spring-cloud/generator.mjs
  generators/base-application/support/prepare-relationship.mjs
  generators/base-docker/docker-base.mjs
  generators/base-docker/docker-prompts.mjs
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/support/needles.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap/support/multi-step-transform/index.mts
  generators/ci-cd/generator.mjs
  generators/client/generator.mjs
  generators/cloudfoundry/generator.mjs
  generators/cloudfoundry/prompts.mjs
  generators/common/generator.mjs
  generators/docker-compose/generator.mjs
  generators/entity/generator.mjs
  generators/entity/prompts.mjs
  generators/export-jdl/generator.mts
  generators/gae/generator.mjs
  generators/generate-blueprint/generator.mjs
  generators/git/generator.mts
  generators/heroku/generator.mjs
  generators/info/generator.mts
  generators/kubernetes-helm/generator.mjs
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/generator.mjs
  generators/languages/generator.mjs
  generators/openapi-client/files.mjs
  generators/openapi-client/generator.mjs
  generators/openshift/generator.mjs
  generators/page/generator.mjs
  generators/react/generator.mjs
  generators/server/generator.mjs
  generators/spring-controller/generator.mjs
  generators/upgrade/generator.mjs
  generators/vue/generator.mjs
Labels: theme: aws, theme: Heroku, theme: angular, theme: kubernetes, theme: upgrade, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli, theme: vue

#21210 rework keytool execution
  generators/base/api.d.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/server/command.mts
  generators/server/files.mjs
  generators/server/generator.mjs
  generators/server/support/checks/check-java.mts
  generators/server/support/checks/check-java.spec.mts
  generators/server/support/index.mts
  generators/server/support/key-store.mts
Labels: theme: jhipster-internals, theme: java, pr: disable-compare

#21218 move tests near the generator
  generators/entity/database-changelog.spec.mts
  generators/entity/single-entity.spec.mts
  generators/heroku/__snapshots__/heroku.spec.mts.snap
  generators/heroku/heroku.spec.mts
  generators/kubernetes-knative/__snapshots__/knative.spec.mts.snap
  generators/kubernetes-knative/knative.spec.mts
  generators/openshift/__snapshots__/openshift.spec.mts.snap
  generators/openshift/openshift.spec.mts
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-service/spring-service.spec.mts
Labels: theme: Heroku, theme: kubernetes

#21227 Extend mysql dependency management to new Maven identifier
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
Labels: theme: java

#21264 bump mem-fs-editor to v9.7.0
  generators/bootstrap-application/generator.spec.mts
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: dependencies

#21265 add node to types
  .github/dependabot.yml
  package-lock.json
  package.json
  tsconfig.json
Labels: theme: dependencies, theme: CI builds

#21266 when deleting files, delete from memory fs too.
  generators/base/generator-base.mts
  generators/openapi-client/__snapshots__/openapi-client.spec.mts.snap
Labels: theme: jhipster-internals
