Repository jhipster/generator-jhipster, pull requests merged in 2023-07, with the labels that each got.

#22729 Upgrade to Gradle 8.2
  generators/gradle/constants.mjs
Labels: theme: gradle

#22733 Sonar: Replace this lambda with method reference 'FrameOptionsConfig::sameOrigin'
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: sonar, theme: java

#22736 Sonar: Remove this unused import 'jakarta.servlet.http.HttpServletRequest'
  generators/server/templates/src/main/java/package/web/rest/AccountResource.java.ejs
Labels: theme: sonar, theme: java

#22742 fix: typos
  generators/generator-constants.mts
  generators/kubernetes-helm/templates/app/Chart.yml.ejs
  generators/kubernetes-helm/templates/app/requirements.yml.ejs
  generators/kubernetes/kubernetes-base.mjs
Labels: theme: kubernetes, theme: jhipster-internals

#22735 Fix typos
  generators/server/templates/src/test/java/package/web/rest/TestUtil.java.ejs
Labels: theme: java

#22743 Sonar: fix code smells
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: sonar, theme: angular, theme: java

#22746 fix: typos
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/jdl/__snapshots__/generator.spec.mts.snap
  generators/server/command.mts
Labels: theme: jhipster-internals, theme: java

#22744 feat: add spotless formatter
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/resources/gradle/libs.versions.toml
  generators/server/resources/pom.xml
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/npmw
  generators/server/templates/npmw.cmd
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
Labels: theme: jhipster-internals, theme: java

#22737 fix maven liquibase execution
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/liquibase/generator.mts
  generators/liquibase/support/maven-plugin.mts
  generators/server/resources/pom.xml
Labels: theme: jhipster-internals, theme: java

#22780 Enable CORS when app is a gateway or monolith
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/package/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

#22802 Update jhipster-react version to 0.25.2
  generators/react/resources/package.json
Labels: theme: react, theme: dependencies

#22803 Update jhipster-bom version to 8.0.0-beta.2
  .github/actions/setup/action.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#22807 drop spotless npmw integration
  generators/server/templates/npmw
  generators/server/templates/npmw.cmd
Labels: theme: java

#22118 build(deps): bump @faker-js/faker from 7.6.0 to 8.0.2
  generators/base-application/support/prepare-field.mjs
  generators/base/support/faker.mts
  generators/docker-compose/generator.mjs
  generators/docker/generator.mjs
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
  generators/liquibase-changelogs/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
  package-lock.json
  package.json
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
Labels: theme: docker :whale:, theme: jhipster-internals, $$ bug-bounty $$, $200, theme: dependencies

#22813 Upgrade to Gradle 8.2.1
  generators/gradle/constants.mjs
Labels: theme: gradle

#22815 Fakerjs 8: fix phone number
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

#22846 prevent spotless from trying to handle generated sources
  generators/server/templates/build.gradle.ejs
Labels: pr: bug-fix, theme: java

#22845 Run npm audit fix
  package-lock.json
Labels: theme: dependencies

#22847 Update jhipster-bom version to 8.0.0-SNAPSHOT
  .github/actions/setup/action.yml
  generators/generator-constants.mts
Labels: theme: jhipster-internals, theme: CI builds

#22861 WIP: Fakerjs 8: address replace by location
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

#22862 Revert "Fakerjs 8: address replace by location"
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

#22854 fix custom command parsing on windows.
  cli/cli.spec.mts
  cli/environment-builder.mjs
Labels: theme: cli

#22864 remove consul from openapi lookup
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

#22865 Fakerjs 8: address replace by location
  generators/base-application/support/prepare-field.mjs
  generators/base/support/faker.mts
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
Labels: theme: jhipster-internals

#22872 [React] typescript-eslint/eslint-plugin 6.0.0
  generators/cypress/templates/src/test/javascript/cypress/.eslintrc.json.ejs
  generators/react/resources/package.json
  generators/react/templates/.eslintrc.json.ejs
Labels: theme: react, theme: dependencies

#22871 [Angular] typescript-eslint/eslint-plugin 6.0.0
  generators/angular/resources/package.json
  generators/angular/templates/.eslintrc.json.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/route/_entityFile-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/service/_entityFile.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/update/_entityFile-form.service.spec.ts.ejs
Labels: theme: angular, theme: dependencies

#22878 Fakerjs 8: commerce.color is deprecated
  generators/base-application/support/prepare-field.mjs
Labels: theme: jhipster-internals

#22891 bump @typescript-eslint/eslint-plugin from 5.61.0 to 6.1.0
  package-lock.json
  package.json
Labels: theme: dependencies

#22892 add eslint-plugin-unused-imports and fix others unsused variables
  .eslintrc.json
  cli/utils.mjs
  generators/angular/files-angular.mjs
  generators/app/prompts.spec.mts
  generators/azure-app-service/generator.mjs
  generators/base-application/application-options.d.mts
  generators/base-docker/docker-prompts.mjs
  generators/base/support/faker.mts
  generators/bootstrap-application-server/generator.mts
  generators/client/entity-files.mjs
  generators/client/generator.mjs
  generators/client/support/entity-definition.mjs
  generators/cloudfoundry/generator.mjs
  generators/cloudfoundry/prompts.mjs
  generators/common/generator.mjs
  generators/cypress/generator.mts
  generators/entities/generator.mjs
  generators/gae/templates.mjs
  generators/heroku/generator.mjs
  generators/languages/languages.spec.mjs
  generators/liquibase/generator.mts
  generators/openshift/openshift.spec.mts
  generators/page/page.spec.mts
  generators/server/support/doc.mjs
  generators/spring-cache/generator.mts
  generators/spring-cache/internal/dependencies.mts
  generators/spring-cloud-stream/generator.mts
  generators/spring-controller/spring-controller.spec.mts
  generators/spring-data-cassandra/generator.mjs
  generators/spring-data-couchbase/generator.mjs
  generators/spring-data-elasticsearch/generator.mjs
  generators/spring-data-mongodb/generator.mjs
  generators/spring-data-neo4j/generator.mts
  generators/spring-data-neo4j/generator.spec.mts
  generators/spring-data-relational/generator.mts
  generators/spring-data-relational/generator.spec.mts
  generators/spring-websocket/files.mts
  generators/statistics.mts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/jhipster/json-entity.ts
  jdl/jhipster/relationship-types.ts
  jdl/models/jdl-application-configuration.ts
  jdl/parsing/self-checks/token-collector-visitor.ts
  jdl/readers/json-reader.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  jdl/validators/jdl-with-application-validator.ts
  jdl/validators/relationship-validator.ts
  package-lock.json
  package.json
  test/integration-test.spec.mts
  test/support/check-enforcements.mts
Labels: theme: Heroku, theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli, theme: dependencies

#22893 integrate eslint
  generators/bootstrap/generator.mts
  generators/bootstrap/support/eslint-transform.mts
  generators/bootstrap/support/eslint-transform.spec.mts
  generators/bootstrap/support/index.mts
  generators/generate-blueprint/generator.mjs
  lib/index.mts
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: dependencies

#22907 Fix sonar issues.
  generators/common/templates/sonar-project.properties.ejs
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java, theme: front

#22921 Fix typo in the alert message for "reset password"
  generators/languages/templates/src/main/webapp/i18n/bn/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/da/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/en/reset.json.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
Labels: theme: react, theme: i18n, theme: vue

#22863 allow upgrade to use node 16.
  cli/cli.mjs
  generators/upgrade/generator.mjs
Labels: theme: upgrade, theme: cli

#22909 configure import/no-duplicates and import/order eslint rules.
  .eslintrc.json
  cli/environment-builder.mjs
  generators/base-application/generator.mts
  generators/base-core/generator-base.mts
  generators/base/generator-base-todo.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap/generator.mts
  generators/bootstrap/support/eslint-transform.mts
  generators/client/support/template-utils.mjs
  generators/generate-blueprint/generator.mjs
  generators/spring-controller/spring-controller.spec.mts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/json-to-jdl-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/integration-test.spec.ts
  jdl/jdl-importer.spec.ts
  jdl/linters/jdl-linter.spec.ts
  jdl/readers/jdl-reader.spec.ts
  jdl/readers/json-reader.spec.ts
  jdl/utils/files-utils.spec.ts
  package-lock.json
  package.json
  test/needle-api/needle-client-angular.spec.mts
  test/needle-api/needle-client-react-generator.spec.mts
  test/needle-api/needle-client-react.spec.mts
  test/needle-api/needle-client-vue-generator.spec.mts
  test/needle-api/needle-client-vue.spec.mts
  test/needle-api/needle-client-webpack.spec.mts
Labels: theme: jhipster-internals, theme: front, theme: cli, theme: dependencies

#22922 [Angular] Sonar: '@angular/router' import is duplicated
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
Labels: theme: sonar, theme: angular

#22923 Sonar: 'dayjs/esm/locale/en' import is duplicated
  generators/client/support/update-languages.mts
Labels: theme: sonar, theme: front

#22920 rework sonar-project.properties
  generators/base/priorities.mjs
  generators/bootstrap/generator.mts
  generators/bootstrap/support/prettier-support.mts
  generators/common/__snapshots__/generator.spec.mjs.snap
  generators/common/generator.mjs
  generators/common/generator.spec.mjs
  generators/common/templates/sonar-project.properties.ejs
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: java, theme: front, theme: dependencies

#22941 Fix sonar issue.
  generators/server/templates/src/main/java/package/web/rest/errors/ExceptionTranslator.java.ejs
Labels: theme: java, pr: to-squash

#22940 drop vue dependency workarounds
  generators/vue/templates/package.json.ejs
  generators/workspaces/generator.mjs
Labels: theme: vue

#22658 reenable enableSwaggerCodegen at gradle sample
  generators/server/resources/pom.xml
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
Labels: theme: java

#22945 Sonar: Remove this unused 'xxxRepository' private field
  generators/server/templates/entity/src/main/java/package/common/inject_template.ejs
  generators/server/templates/entity/src/main/java/package/web/rest/_EntityClass_Resource.java.ejs
Labels: theme: sonar, theme: java

#22947 Sonar: Remove this unused 'xxxRepository' private field (not just for reactive)
  generators/server/templates/entity/src/main/java/package/common/inject_template.ejs
Labels: theme: java

#22948 Fakerjs 8 deprecated method
  generators/base-application/support/prepare-field.mjs
  generators/base/support/faker.mts
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
  generators/liquibase-changelogs/__snapshots__/incremental-liquibase.spec.mts.snap
  generators/liquibase-changelogs/incremental-liquibase.spec.mts
Labels: $100, theme: jhipster-internals, $$ bug-bounty $$

#23007 Sonar: Invoke method only conditionally
  generators/server/templates/src/main/java/package/Application.java.ejs
Labels: theme: sonar, theme: java

#23008 [Angular] French JHipster generation failed
  generators/angular/support/translate-angular.mjs
Labels: theme: angular

#22689 Update maven version to 3.9.3
  generators/cucumber/generator.mts
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
Labels: $$ bug-bounty $$, $300

#23011 add one-to-one back reference for sql only
  generators/server/support/relationship.mts
Labels: theme: java
