Repository jhipster/generator-jhipster, pull requests merged in 2023-04, with the labels that each got.

#21659 additional fixes to cache workflow
  .github/workflows/cache.yml
  test-integration/scripts/11-generate-config.sh
  test-integration/scripts/11-generate-entities.sh
Labels: theme: CI builds

#21663 use spring-boot 3 at open-api
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#21661 drop useOldISOCodes option
  .github/actions/setup/action.yml
  test-integration/scripts/01-configure-azure.sh
Labels: theme: CI builds

#21662 replace old gradle needles api.
  generators/base-application/generator.mts
  generators/base/generator-base-todo.mjs
  generators/gae/generator.mjs
  generators/gradle/cleanup.mts
  generators/gradle/generator.mts
  generators/gradle/internal/needles.mts
  generators/gradle/needles.spec.mts
  generators/gradle/types.d.mts
  generators/heroku/generator.mjs
  generators/needle-api.mjs
  generators/openapi-client/files.mjs
  generators/server/needle-api/needle-server-gradle.mts
  test/needle-api/needle-server-gradle.spec.mts
Labels: theme: gradle, theme: Heroku, theme: jhipster-internals, theme: java

#21664 Improve maven needles
  generators/maven/__snapshots__/needles.spec.mts.snap
  generators/maven/generator.mts
  generators/maven/needles.spec.mts
  generators/maven/support/pom-store.mts
  generators/maven/types.d.mts
Labels: theme: maven

#21665 reimplement liquibase needles support
  generators/base/generator-base-todo.mjs
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/entities/generator.spec.mts
  generators/entity/single-entity.spec.mts
  generators/liquibase-changelogs/generator.mjs
  generators/liquibase/generator.mts
  generators/liquibase/internal/needles.mts
  generators/liquibase/needles.spec.mts
  generators/liquibase/types.d.mts
  generators/needle-api.mjs
  generators/server/needle-api/needle-server-liquibase.mts
  generators/server/types.d.mts
  test/needle-api/needle-server-liquibase.spec.mts
  test/needle-api/templates/src/main/resources/config/liquibase/changelog/dummy_changelog.xml.ejs
Labels: theme: jhipster-internals, theme: java

#21660 move maven-failsafe-plugin out of profiles
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/banner-no-color.txt
  generators/server/templates/src/main/resources/banner.txt
  generators/server/templates/src/main/resources/banner_react.txt
  generators/server/templates/src/main/resources/banner_vue.txt
  test-integration/workflow-samples/react.json
Labels: theme: java

#21658 Improve Pulsar tests
  generators/pulsar/__snapshots__/generator.spec.mts.snap
  generators/pulsar/files.mts
  generators/pulsar/templates/src/test/java/package/broker/PulsarIT.java.ejs
  generators/pulsar/templates/src/test/java/package/config/BrokerConfiguration.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: java, theme: pulsar

#21676 modularize pom.xml
  generators/cassandra/generator.mjs
  generators/couchbase/generator.mjs
  generators/elasticsearch/generator.mjs
  generators/kafka/generator.mts
  generators/maven/types.d.mts
  generators/mongodb/generator.mjs
  generators/neo4j/generator.mts
  generators/pulsar/generator.mts
  generators/server/templates/pom.xml.ejs
  generators/spring-cache/generator.mts
  generators/sql/generator.mts
Labels: theme: maven, theme: java

#21617 cleanup one todo method
  generators/base/generator-base-todo.mjs
  generators/client/generator.mjs
  generators/client/needle-api/needle-client.mts
  generators/client/needle-client.spec.mts
  generators/client/types.d.mts
Labels: theme: jhipster-internals, theme: front

#21683 rework constants
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/cassandra/generator.mjs
  generators/generator-constants.mts
  generators/maven/support/pom-store.mts
  generators/maven/types.d.mts
  generators/openapi-client/files.mjs
  generators/server/generator.mjs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  test-integration/scripts/00-init-env.sh
Labels: theme: jhipster-internals, theme: maven, theme: java

#21703 prod and dev database types only applies to sql
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/heroku/templates/Procfile.ejs
  generators/kubernetes-helm/files.mjs
  generators/kubernetes-helm/templates/app/Chart.yml.ejs
  generators/kubernetes-helm/templates/app/helpers.tpl.ejs
  generators/kubernetes-helm/templates/app/requirements.yml.ejs
  generators/kubernetes-helm/templates/app/values.yml.ejs
  generators/kubernetes-knative/templates/service.yml.ejs
  generators/kubernetes/files.mjs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/openshift/templates/deployment.yml.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
Labels: theme: Heroku, theme: angular, theme: kubernetes, theme: jhipster-internals, theme: vue

#21687 improvements to package-info transform
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/bootstrap-application-server/generator.mts
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/entities/__snapshots__/generator.spec.mts.snap
  generators/java/generator.mts
  generators/java/support/package-info-transform.mts
  generators/java/types.d.mts
  generators/kafka/generator.mts
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/generator.mjs
  generators/server/support/__snapshots__/needles.spec.mts.snap
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
Labels: theme: jhipster-internals, theme: java

#21705 modularize sql pom dependencies.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/generator-constants.mts
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/files.mjs
  generators/sql/generator.mts
  generators/sql/internal/dependencies.mts
  generators/sql/templates/src/test/java/package/config/MariadbTestContainer.java.ejs
Labels: theme: jhipster-internals, theme: java

#21712 Modularize more pom dependencies
  generators/cucumber/generator.mts
  generators/gatling/generator.mts
  generators/mongodb/generator.mjs
  generators/pulsar/generator.mts
  generators/server/templates/pom.xml.ejs
  generators/spring-websocket/generator.mts
Labels: theme: java

#21562 azerbaijani lang support added
  generators/languages/support/languages.mts
  generators/languages/templates/entity/i18n/entity_az-Latn-az.json.ejs
  generators/languages/templates/src/main/resources/i18n/messages_az_Latn_AZ.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/configuration.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/error.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/gateway.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/home.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/login.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/logs.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/metrics.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/password.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/register.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/sessions.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/settings.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/tracker.json
  generators/languages/templates/src/main/webapp/i18n/az-Latn-az/user-management.json
  generators/languages/templates/src/test/resources/i18n/messages_az_Latn_AZ.properties.ejs
  test-integration/samples/ng-default/.yo-rc.json
  test-integration/samples/react-default/.yo-rc.json
  test-integration/samples/vue-fulli18n-es/.yo-rc.json
Labels: theme: i18n

#21714 don't customize caffeine version
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/pom.xml
  generators/server/templates/pom.xml.ejs
  generators/spring-cache/__snapshots__/generator.spec.mts.snap
  generators/spring-cache/internal/dependencies.mts
  generators/spring-cache/templates/gradle/cache.gradle.ejs
Labels: theme: jhipster-internals, theme: java

#21713 Reinstate r2dbc mysql/mariadb support using r2dbc-mysql.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/docker-compose/__snapshots__/docker-compose.spec.mts.snap
  generators/docker/__snapshots__/generator.spec.mts.snap
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.mts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml
  generators/sql/generator.mts
  generators/sql/internal/dependencies.mts
  generators/sql/support/database-data.mts
  generators/sql/support/database-url.spec.mts
  generators/sql/templates/src/test/java/package/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
  test-integration/jdl-samples/ms-mf-react-eureka-oauth2-mariadb-infinispan/blog-store.jdl
  test-integration/jdl-samples/ms-mf-vue-consul-oauth2-mysql-memcached/blog-store.jdl
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java

#21716 rework liquibase generator
  generators/liquibase/files.mts
  generators/liquibase/generator.mts
  generators/liquibase/support/maven-plugin.mts
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle.properties.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/settings.gradle.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/logback.xml.ejs
Labels: theme: java

#21677 Fix default version in DEV for Vue.js
  generators/vue/templates/webpack/config.js.ejs
Labels: theme: vue

#21732 drop unnecessary exclusion
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
Labels: theme: java

#21734 use npm exec jhipster for npm 9
  generators/common/templates/package.json
  generators/upgrade/generator.mjs
  package-lock.json
  package.json
Labels: theme: upgrade, theme: java, theme: front, theme: dependencies

#21737 use local jhipster to test upgrade command and bump husky
  generators/common/templates/package.json
  generators/upgrade/generator.mjs
  generators/upgrade/upgrade.spec.mts
Labels: theme: upgrade, theme: java, theme: front, theme: dependencies

#21747 update to gradle 8.0.2
  generators/gradle/constants.mjs
  generators/gradle/templates/gradle/wrapper/gradle-wrapper.jar
  generators/gradle/templates/gradlew
  generators/gradle/templates/gradlew.bat
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/gradle/sonar.gradle.ejs
Labels: theme: gradle, theme: java

#21748 don’t restore cache at build cache workflow.
  .github/workflows/cache.yml
Labels: theme: CI builds

#21749 Bumps org.liquibase.gradle from 2.1.1 to 2.2.0.
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
  generators/server/templates/gradle/libs.versions.toml
Labels: theme: java, skip-changelog

#21750 rework jdl definitions.
  generators/app/jdl/application-options.mts
  generators/app/jdl/index.mts
  generators/app/jdl/types.d.mts
  generators/base/generator-base-todo.mjs
  generators/common/templates/README.md.jhi.ejs
  generators/docker/generator.spec.mts
  generators/export-jdl/__snapshots__/export-jdl.spec.mts.snap
  generators/kubernetes-knative/files.mjs
  generators/kubernetes/files.mjs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/openshift/files.mjs
  generators/openshift/templates/apply.sh.ejs
  generators/server/jdl/application-definition.mts
  generators/server/jdl/index.mts
  generators/server/options/index.mts
  generators/server/options/message-broker.mts
  generators/server/options/message-broker.spec.ts
  generators/server/prompts.mjs
  generators/server/support/prepare-entity.mjs
  generators/server/support/prepare-field.mjs
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/__test-files__/realistic_sample.jdl
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
  jdl/jhipster/application-options.ts
  jdl/jhipster/default-application-options.spec.ts
  jdl/jhipster/default-application-options.ts
  jdl/jhipster/reserved-keywords.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-definition.spec.ts
  jdl/models/jdl-application-definition.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/lexer/token-creator.ts
  jdl/parsing/validator.ts
  jdl/validators/application-validator.spec.ts
  jdl/validators/application-validator.ts
Labels: theme: kubernetes, theme: jhipster-internals, theme: java, theme: front

#21765 improvements to liquibase generator.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/base/support/jhipster7-context.mjs
  generators/liquibase/generator.mts
  generators/liquibase/support/maven-plugin.mts
  generators/liquibase/templates/src/main/java/package/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/package/Application.java.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application-prod.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/server/types.d.mts
Labels: theme: jhipster-internals, theme: java

#21784 add generateInMemoryUserCredentials and others adjusts
  generators/angular/__snapshots__/generator.spec.mts.snap
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/cassandra/__snapshots__/generator.spec.mts.snap
  generators/couchbase/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/__snapshots__/generator.spec.mts.snap
  generators/elasticsearch/generator.spec.mts
  generators/mongodb/__snapshots__/generator.spec.mts.snap
  generators/neo4j/__snapshots__/generator.spec.mts.snap
  generators/server/files.mjs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/java/package/web/rest/UserResourceIT.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/vue/__snapshots__/generator.spec.mts.snap
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: vue

#21787 add features and disable jhipster 7 context by default
  cli/environment-builder.mjs
  generators/base/api.d.mts
  generators/base/generator-base-blueprint.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
Labels: theme: jhipster-internals, theme: cli

#21792 change version to 7.10.0
  .github/workflows/generator-generate-blueprint.yml
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/app/generator.spec.mts
  package.json
Labels: theme: jhipster-internals, theme: dependencies, theme: CI builds

#21807 fix daily-builds webflux-neo4j sample
  .vscode/launch.json
  generators/server/templates/entity/src/main/java/package/common/get_all_stream_template.ejs
  generators/server/templates/entity/src/main/java/package/common/get_filtered_template.ejs
  test-integration/scripts/lib/get-workflow-samples.js
  test-integration/workflow-samples/daily-neo4j.json
Labels: theme: java

#21806 implement persistable interface at User if needed
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/sql/__snapshots__/generator.spec.mts.snap
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  generators/sql/entity-files.mjs
Labels: theme: java

#21808 Changes to workflows
  .github/actions/build-matrix/action.yml
  .github/actions/compare-base/action.yml
  .github/actions/generate/action.yml
  .github/workflows/angular.yml
  .github/workflows/cache.yml
  .github/workflows/devserver.yml
  .github/workflows/generator-database-changelog-liquibase.yml
  .github/workflows/generator-generate-blueprint.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/client/__workflow/devserver-angular.json
  generators/client/__workflow/devserver-vue.json
  test-integration/scripts/12-generate-project.sh
  test-integration/scripts/99-write-matrix.js
  test-integration/workflow-samples/angular.json
Labels: theme: front, theme: CI builds

#21809 Fixes for no database
  .vscode/launch.json
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/base/generator-base-todo.mjs
  generators/docker/generator.mjs
  generators/server/__snapshots__/generator.spec.mjs.snap
  generators/server/entity-files.mjs
  generators/server/files.mjs
  generators/server/generator.spec.mjs
  generators/server/templates/src/main/java/package/config/CRLFLogConverter.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityInMemoryConfiguration.java.ejs
  generators/server/templates/src/main/java/package/domain/User.java.ejs
  generators/server/templates/src/main/java/package/service/UserService.java.ejs
  generators/server/templates/src/main/java/package/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/server/templates/src/test/java/package/security/jwt/JwtAuthenticationTestUtils.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/templates/src/test/java/package/web/rest/AccountResourceIT_skipUserManagement.java.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/sql/__snapshots__/sql-entities.spec.mts.snap
  test-integration/jdl-samples/stack-vue-no-db/stack.jdl
  test-integration/scripts/99-update-vscode.js
  test-integration/workflow-samples/vue.json
Labels: theme: angular, theme: jhipster-internals, theme: java

#21815 rework types
  generators/angular/cleanup.mts
  generators/angular/entity-files-angular.mts
  generators/angular/generator.mts
  generators/angular/support/needles.mts
  generators/angular/types.d.mts
  generators/base-application/application-options.d.mts
  generators/base-application/generator.mts
  generators/base-application/tasks.d.mts
  generators/base-application/types.d.mts
  generators/base-application/types/entity.d.mts
  generators/base-application/types/field.d.mts
  generators/base-application/types/relationship.d.mts
  generators/base/api.d.mts
  generators/base/application.d.mts
  generators/base/generator-base-todo.mjs
  generators/base/generator-base.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application-client/generator.mts
  generators/bootstrap-application-server/generator.mts
  generators/bootstrap-application/generator.mts
  generators/client/index.mts
  generators/client/support/update-languages.mts
  generators/client/types.d.mts
  generators/cucumber/files.mts
  generators/cypress/files.mts
  generators/cypress/generator.mts
  generators/cypress/types.d.mts
  generators/info/generator.mts
  generators/languages/support/languages.mts
  generators/languages/support/load-config.mts
  generators/languages/types.d.mts
  generators/liquibase/files.mts
  generators/liquibase/generator.mts
  generators/liquibase/support/post-prepare-entity.mts
  generators/server/cleanup-oauth2.mts
  generators/server/cleanup.mts
  generators/server/options/message-broker.mts
  generators/server/types.d.mts
  generators/spring-cache/generator.mts
  generators/sql/files.mjs
  lib/environment.d.ts
  lib/global.d.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.types.json
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: dependencies

#21559 convert executables to cjs.
  .github/actions/compare-base/action.yml
  bin/jhipster.cjs
  bin/jhipster.mjs
  cli/cli.mjs
  cli/cli.spec.mts
  cli/jhipster.cjs
  cli/jhipster.mjs
  cli/program.mjs
  generators/generate-blueprint/generator.mjs
  generators/upgrade/upgrade.spec.mts
  package-lock.json
  package.json
  test-integration/scripts/10-install-jhipster.sh
  test-integration/scripts/12-generate-sample.js
Labels: theme: upgrade, theme: cli, theme: dependencies, theme: CI builds

#21823 Update maven version to 3.9.1
  generators/maven/templates/.mvn/wrapper/maven-wrapper.jar
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/maven/templates/mvnw
  generators/maven/templates/mvnw.cmd
Labels: theme: maven

#21852 Start converting vue to composition api.
  generators/app/__snapshots__/generator.spec.mts.snap
  generators/common/command.mts
  generators/page/page.spec.mts
  generators/page/support/needles.mts
  generators/page/templates/vue/src/test/javascript/spec/app/pages/page.component.spec.ts.ejs
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/generator.spec.mts
  generators/vue/templates/.eslintrc.js.ejs
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/docs/docs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-footer/jhi-footer.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config-bootstrap-vue.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/store.ts.ejs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/finish/reset-password-finish.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/init/reset-password-init.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/gateway/gateway.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/ribbon/ribbon.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/tsconfig.json.ejs
Labels: theme: jhipster-internals, theme: java, theme: front, theme: vue

#21877 Fix npm install command on Windows
  generators/server/generator.mjs
Labels: theme: java

#21889 Drop vue2-filters
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/arrays.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/index.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: dependencies, theme: vue

#21895 Fix vue test calling jhipster site at tests.
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/files-vue.mjs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/test/javascript/jest.conf.js.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/config/axios-interceptor.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/setup.js.ejs
Labels: theme: vue

#21896 fix page refresh with infinite scroll
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder/list/_entityFile.component.ts.ejs
Labels: theme: angular

#21912 Migrate to vuelidate v2
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/webpack/webpack.common.js.ejs
  generators/vue/templates/webpack/webpack.microfrontend.js.jhi.vue.ejs
Labels: theme: dependencies, theme: vue

#21922 Rework alertService
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/app.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

#21447 add keycloak to k8s for ingress nginx
  generators/kubernetes-knative/generator.mjs
  generators/kubernetes/__snapshots__/kubernetes.spec.mts.snap
  generators/kubernetes/files.mjs
  generators/kubernetes/generator.mjs
  generators/kubernetes/kubernetes-base.mjs
  generators/kubernetes/kubernetes.spec.mts
  generators/kubernetes/prompts.mjs
  generators/kubernetes/templates/README-KUBERNETES.md.ejs
  generators/kubernetes/templates/deployment.yml.ejs
  generators/kubernetes/templates/ingress.yml.ejs
  generators/kubernetes/templates/keycloak/keycloak.yml.ejs
  generators/kubernetes/templates/kubectl-apply.sh.ejs
  generators/kubernetes/templates/kustomize/kustomization.yml.ejs
  generators/kubernetes/templates/registry/jhipster-registry.yml.ejs
  jdl/jhipster/index.mts
Labels: theme: kubernetes

#21952 user-management uses the login(string) to edit users
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: theme: vue

#21953 Use authenticationUsesCsrf and cleanup vue cookies handling
  generators/angular/files-angular.mjs
  generators/angular/templates/src/main/webapp/app/login/login.service.ts.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
  generators/gatling/templates/src/test/java/gatling/simulations/_EntityClass_GatlingTest.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/package/config/SecurityConfiguration_reactive.java.ejs
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
Labels: theme: angular, theme: java, theme: front, theme: dependencies, theme: vue

#21954 Allow to customize user id using jdl.
  cli/cli.spec.mts
  cli/environment-builder.spec.mts
  cli/import-jdl.mjs
  generators/angular/generator.spec.mts
  generators/app/cleanup.mjs
  generators/aws/generator.mjs
  generators/aws/lib/eb.mjs
  generators/aws/lib/s3.mjs
  generators/base-application/generator.mts
  generators/base/support/logger.mts
  generators/bootstrap-application-base/generator.mts
  generators/bootstrap-application/generator.spec.mts
  jdl/__snapshots__/jdl-importer.spec.ts.snap
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.ts
  jdl/jdl-importer.spec.ts
  jdl/jhipster/json-entity.spec.ts
  jdl/jhipster/json-entity.ts
Labels: theme: aws, theme: angular, theme: jhipster-internals, theme: cli

#21960 vue: remove non translated content
  generators/vue/generator.mjs
  generators/vue/generator.spec.mts
  generators/vue/support/translate-vue.mjs
  generators/vue/support/translate-vue.mts
  generators/vue/support/translate-vue.spec.mjs
  generators/vue/support/translate-vue.spec.mts
Labels: theme: vue

#21962 convert date filters to composables
  generators/vue/__snapshots__/generator.spec.mts.snap
  generators/vue/cleanup.mjs
  generators/vue/files-vue.mjs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/composables/date-format.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/composables/index.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/date/filters.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/finish/reset-password-finish.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/init/reset-password-init.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/sessions/sessions.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/settings/settings.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/gateway/gateway.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/logs/logs.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/ribbon/ribbon.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-details.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile-update.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/entities-menu.spec.ts.ejs
Labels: theme: vue

#21961 replace deprecated slot tag
  generators/vue/support/translate-vue.spec.mts
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/app.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
Labels: theme: vue

#21963 rework LoginService and provided services
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/router/index.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/activate/activate.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/login.service.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/account/reset-password/finish/reset-password-finish.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health-modal.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/health/health.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/error/error.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/entities-menu.spec.ts.ejs
Labels: theme: vue

#21964 replace vue2 infinite loading with a vueuse implementation
  generators/vue/templates/package.json
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder/_entityFile.vue.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/sort/sorts.ts.ejs
  generators/vue/templates/src/test/javascript/spec/app/entities/_entityFolder/_entityFile.component.spec.ts.ejs
Labels: theme: dependencies, theme: vue

#21968 fix token name
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  test-integration/samples/vue-default/.yo-rc.json
Labels: theme: vue
