Repository jhipster/generator-jhipster, pull requests merged in 2024-02, with the labels that each got.

#25032 [Angular] Simplify template for UserManagementComponent
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

#25040 [Angular] Remove duplicated condition
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
Labels: theme: angular

#25041 [Angular] Simplify template for JvmMemoryComponent
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-memory/jvm-memory.component.html.ejs
Labels: theme: angular

#25029 [angular] simplify list component
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

#25042 [Angular] Simplify template for PasswordResetInitComponent
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
Labels: theme: angular

#25043 Move authority to admin client-root-folder.
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/bootstrap-application-base/utils.js
Labels: theme: angular, theme: jhipster-internals

#25044 [angular] generate user-management at entities
  generators/angular/entity-files-angular.ts
  generators/angular/files-angular.js
Labels: theme: angular

#25046 [angular] fix ng-zone warning
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

#25064 fix neo4j liquibase dependencies
  generators/liquibase/generator.ts
  generators/liquibase/templates/gradle/liquibase.gradle.ejs
Labels: theme: gradle

#25047 [angular] rework sorting with signal based sort state.
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/files-angular.js
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/index.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-state.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.ts.ejs
Labels: theme: angular

#24945 Update spring-boot version to 3.2.2
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/generator-constants.js
  generators/spring-data-relational/internal/dependencies.ts
Labels: theme: jhipster-internals, theme: java, theme: CI builds

#25065 Filter relevant model fields in React & Vue
  generators/client/support/entity-definition.js
  generators/client/support/template-utils.js
  generators/client/support/template-utils.spec.js
Labels: theme: front

#25069 Add UserManagement entity
  generators/angular/entity-files-angular.ts
  generators/angular/templates/src/main/webapp/app/admin/admin.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.spec.ts
  generators/base-application/generator.spec.ts
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/prepare-relationship.js
  generators/base-application/types.d.ts
  generators/base/support/config.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-base/utils.js
  generators/bootstrap-application/generator.spec.ts
  generators/languages/entity-files.js
  generators/languages/files.js
  generators/languages/translation-data.js
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
Labels: theme: angular, theme: jhipster-internals, theme: i18n

#25072 [Angular] Signals to handle allBeans beans propertySources
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
Labels: theme: angular

#25074 [Angular] Signals to handle loggers filteredAndOrderedLoggers
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
Labels: theme: angular

#25076 [vue] downgrade bootswatch
  generators/vue/resources/package.json
Labels: theme: dependencies, theme: vue

#25077 Prettier 3.2.5
  .prettierrc
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/templates/.prettierrc.ejs
  package-lock.json
  package.json
Labels: theme: java, theme: front, theme: dependencies

#25078 [Angular] Signals to handle errorMessage
  generators/angular/templates/src/main/webapp/app/layouts/error/error.component.html.ejs
  generators/angular/templates/src/main/webapp/app/layouts/error/error.component.ts.ejs
Labels: theme: angular

#25080 chore: correct misspelling in lambda expression
  generators/server/templates/src/test/java/_package_/security/jwt/JwtAuthenticationTestUtils.java.ejs
Labels: theme: java

#25082 fix: remove the use of the Eclipse and IDEA plugins
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/server/resources/pom.xml
  generators/server/templates/pom.xml.ejs
Labels: theme: maven, theme: java

#25095 add columnRequired property for liquibase generator
  generators/bootstrap-application/generator.spec.ts
  generators/liquibase/generator.ts
  generators/liquibase/support/prepare-field.js
  generators/liquibase/support/relationship.ts
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/added_entity.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/updated_entity_constraints.xml.ejs
  generators/liquibase/templates/src/main/resources/config/liquibase/fake-data/table_entity.csv.ejs
Labels: theme: jhipster-internals

#25096 enable logs at surefire tests
  generators/server/templates/pom.xml.ejs
Labels: theme: maven, theme: java

#25098 [Angular] Sonar: Unnecessary use of conditional expression for default assignment
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.ts.ejs
Labels: theme: angular

#25112 execute npm install after backend test and if frontend tests will be executed
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#25113 use spring boot injected ObjectMapper to serialize tests.
  generators/server/templates/src/test/java/_package_/IntegrationTest.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/AuthenticateControllerIT.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/TestUtil.java.ejs
  generators/spring-boot/templates/_global_partials_entity_/it_patch_update.partial.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: java

#25120 add a signal to track current account
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
Labels: theme: angular

#25121 Add renovate configuration to update maven-wrapper
  generators/maven/templates/.mvn/wrapper/maven-wrapper.properties
  generators/spring-boot/files.ts
  renovate.json
Labels: theme: maven

#25127 pass entity object at LOADING_ENTITIES
  generators/base-application/generator.ts
  generators/base-application/tasks.d.ts
  generators/bootstrap-application-base/generator.ts
Labels: theme: jhipster-internals

#25133 fix authorities in user management ui.
  generators/angular/templates/src/main/webapp/app/admin/user-management/service/user-management.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.reducer.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
Labels: theme: angular, theme: react, theme: vue

#25140 add filter entities utilities.
  generators/angular/entity-files-angular.ts
  generators/client/generator.js
  generators/client/support/filter-entities.ts
  generators/client/support/index.ts
  generators/react/entity-files-react.js
  generators/vue/entity-files-vue.js
Labels: theme: angular, theme: react, theme: front, theme: vue

#25151 Add entity mapper test and domain assertion utilities to be used in tests.
  generators/entities/__snapshots__/generator.spec.ts.snap
  generators/java/__snapshots__/generator.spec.ts.snap
  generators/java/entity-files.ts
  generators/java/files.ts
  generators/java/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
  generators/java/templates/src/test/java/_package_/domain/AssertUtils.java.ejs
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/support/__snapshots__/needles.spec.ts.snap
  generators/server/templates/src/test/java/_package_/_entityPackage_/service/mapper/_entityClass_MapperTest.java.ejs
  generators/spring-boot/__snapshots__/generator.spec.ts.snap
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-couchbase/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-mongodb/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/sql-entities.spec.ts.snap
Labels: theme: java

#25111 Commander 12.0.0
  cli/cli.spec.mts
  package-lock.json
  package.json
Labels: theme: cli, theme: dependencies

#25155 fix partialUpdate test code smells
  generators/java/templates/src/test/java/_package_/domain/AssertUtils.java.ejs
  generators/server/templates/src/test/java/_package_/web/rest/TestUtil.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: java

#25156 Sonar: Refactor this function to reduce its Cognitive Complexity from 30 to the 15 allowed
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
Labels: theme: sonar, theme: angular

#25157 Sonar: Refactor this function to reduce its Cognitive Complexity from 30 to the 15 allowed
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: sonar, theme: front

#25165 [Angular] Improve coverage
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.spec.ts.ejs
Labels: theme: angular

#25176 bump typescript-eslint
  package-lock.json
  package.json
Labels: theme: dependencies

#25178 fix unused import code smell
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
Labels: theme: java

#25180 Rework criteria generation
  generators/bootstrap-application/generator.spec.ts
  generators/server/support/prepare-field.js
  generators/spring-boot/entity-files.js
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/criteria/_entityClass_Criteria.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/criteria/_entityClass_CriteriaTest.java.ejs
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-relational/__snapshots__/sql-entities.spec.ts.snap
Labels: theme: jhipster-internals, theme: java

#25189 move eslint/prettier tasks to workers
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/eslint-worker.js
  generators/bootstrap/support/java-lint-worker.js
  generators/bootstrap/support/java-unused-imports-transform.ts
  generators/bootstrap/support/prettier-support.ts
  generators/bootstrap/support/prettier-worker.js
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: dependencies

#25190 load default config from global config
  generators/app/generator.js
Labels: theme: jhipster-internals

#25194 Node 20.11.1
  .github/actions/build-matrix/action.yml
  .github/workflows/generator.yml
  generators/generator-constants.js
Labels: theme: jhipster-internals, theme: CI builds

#25203 simplify upgrade generator
  cli/cli.mjs
  generators/upgrade/README.md
  generators/upgrade/USAGE
  generators/upgrade/command.ts
  generators/upgrade/generator.js
  generators/upgrade/generator.spec.js
  generators/upgrade/support/constants.ts
  generators/upgrade/support/index.ts
  generators/upgrade/upgrade.spec.ts
Labels: theme: upgrade, theme: cli, pr: skip-closing-issues-check

#25206 add missing --with-entities option to v7
  generators/upgrade/generator.js
Labels: theme: upgrade

#25205 revert commander test to test implicit negative flags
  cli/cli.spec.mts
Labels: theme: cli

#25207 Minor updates to upgrade messages
  cli/cli.mjs
  generators/upgrade/README.md
  generators/upgrade/USAGE
Labels: theme: upgrade, theme: cli

#25209 add --apply-config support to upgrade
  generators/upgrade/command.ts
  generators/upgrade/generator.js
  generators/upgrade/index.ts
Labels: theme: upgrade

#25213 improve upgrade readme
  generators/app/README.md
  generators/liquibase/README.md
  generators/server/README.md
  generators/spring-boot/README.md
  generators/spring-data-elasticsearch/README.md
  generators/spring-data-relational/README.md
  generators/upgrade/README.md
Labels: theme: upgrade, theme: jhipster-internals, theme: java

#25225 Sonar: Replace these 3 tests with a single Parameterized one
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
Labels: theme: sonar, theme: java

#25232 improve upgrade for blueprints
  cli/program.mjs
  generators/upgrade/command.ts
  generators/upgrade/generator.js
Labels: theme: upgrade, theme: cli

#25235 fix upgrade executable and add tests.
  generators/upgrade/generator.js
  generators/upgrade/generator.spec.js
Labels: theme: upgrade

#25233 add liquibase async-start property to ApplicationProperties
  generators/base/support/needles.ts
  generators/liquibase/generator.ts
  generators/liquibase/templates/src/main/java/_package_/config/LiquibaseConfiguration.java.ejs
  generators/server/support/__snapshots__/needles.spec.ts.snap
  generators/server/support/needles.spec.ts
  generators/server/support/needles.ts
  generators/server/templates/src/main/java/_package_/config/ApplicationProperties.java.ejs
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
Labels: theme: jhipster-internals, theme: java

#25242 Sonar: Use a primitive boolean expression
  generators/liquibase/templates/src/main/java/_package_/config/LiquibaseConfiguration.java.ejs
Labels: theme: sonar

#25238 Sonar: Disable S1192 on CacheConfiguration
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/templates/sonar-project.properties.ejs
Labels: theme: sonar, theme: java, theme: front

#25254 Unify creation of links to entity pages
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.html.ejs
Labels: theme: angular

#25230 cleanup index.html
  generators/client/templates/src/main/webapp/index.html.ejs
Labels: theme: front

#25257 Disable sonar rule S125 at logback-spring.xml
  generators/common/__snapshots__/generator.spec.js.snap
  generators/common/templates/sonar-project.properties.ejs
  generators/server/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java, theme: front

#25260 reorganize relationship preparation
  generators/base-application/support/prepare-relationship.js
  generators/liquibase/generator.ts
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.jakarta_persistence.ejs
Labels: theme: jhipster-internals

#25272 fix typo in Javadoc
  generators/server/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
Labels: theme: java

#25286 add addApplicationPropertiesProperty needle
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
Labels: theme: java

#25287 move some support libs from server to java
  generators/base-application/support/enum.js
  generators/java/support/doc.spec.ts
  generators/java/support/doc.ts
  generators/java/support/index.ts
  generators/java/support/java-formatting.ts
  generators/java/support/util.ts
  generators/server/support/index.ts
  generators/server/support/prepare-entity.js
  generators/server/support/prepare-field.js
  generators/server/support/prepare-relationship.ts
Labels: theme: jhipster-internals, theme: java

#25288 Typos
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes-knative/templates/README-KUBERNETES-KNATIVE.md.ejs
Labels: theme: kubernetes

#25299 bump cypress 13.6.6
  generators/client/resources/package.json
Labels: theme: front, theme: dependencies

#25298 Typo
  generators/server/templates/README.md.jhi.spring-boot.ejs
Labels: theme: java

#25330 improve relatedField validation and others adjusts
  generators/base-application/support/prepare-relationship.js
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
  generators/jdl/generator.ts
Labels: theme: jhipster-internals

#25335 don't override a file with a partial template
  generators/bootstrap/generator.ts
Labels: theme: jhipster-internals

#25312 clear session for non authenticated
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts.ejs
Labels: theme: angular

#25337 fix new sonar issues
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.html.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: angular, theme: vue

#25336 fix sessions api
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.service.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/sessions/sessions.reducer.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
Labels: theme: angular, theme: react, theme: vue

#25343 fix user-management sonar issues and adjust modal close button.
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.component.html.ejs
Labels: theme: angular

#25377 bump Piscina 4.4.0
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/java-unused-imports-transform.ts
  generators/bootstrap/support/prettier-support.ts
  package-lock.json
  package.json
Labels: theme: jhipster-internals, theme: dependencies
