Repository jhipster/generator-jhipster, pull requests merged in 2024-05, with the labels that each got.

#25817 Add manual routes support to imperative gateway
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/bootstrap-application-server/generator.ts
  generators/server/jdl/application-definition.ts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/types.d.ts
  generators/spring-cloud/generators/gateway/command.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/generators/gateway/jdl/jdl-routes-option.spec.ts
  generators/spring-cloud/generators/gateway/jdl/jdl-routes-option.ts
  generators/spring-cloud/generators/gateway/types.d.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-definition.ts
  jdl/models/list-jdl-application-configuration-option.ts
  jdl/parsing/jdl-ast-builder-visitor.ts
  jdl/parsing/jdl-parser.ts
  jdl/parsing/validator.ts
  jdl/utils/set-utils.ts
  test-integration/jdl-samples/ms-ng-oauth2-mongodb-caffeine/blog-store.jdl
  test-integration/scripts/99-write-matrix.js
  test-integration/workflow-samples/angular.json
Labels: theme: jhipster-internals, theme: maven, theme: java

#26026 MySQL 8.4.0
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker/templates/docker/mysql.yml.ejs
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/templates/db/mysql.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: kubernetes, theme: docker :whale:, theme: java

#26074 some more use of constants instead of string
  generators/base-application/support/prepare-relationship.js
  generators/entity/prompts.js
  generators/languages/generator.js
  generators/server/support/config.ts
  generators/server/support/prepare-entity.js
  generators/server/support/relationship.ts
Labels: theme: jhipster-internals, theme: java, theme: i18n

#26076 Fix typos in questions
  generators/client/command.ts
  generators/java/generators/build-tool/command.ts
  generators/spring-boot/prompts.js
Labels: theme: front

#26081 use OAS sdk requiredMode instead of deprecated api
  generators/server/templates/src/main/java/_package_/_entityPackage_/service/dto/_dtoClass_.java.ejs
Labels: theme: java

#26084 Revert "build(deps-dev): bump octokit from 4.0.1 to 4.0.2"
  package-lock.json
  package.json
Labels: theme: dependencies

#26059 rework react error handling
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.spec.ts.ejs
  generators/client/generators/common/__snapshots__/generator.spec.ts.snap
  generators/client/generators/common/command.ts
  generators/client/generators/common/generator.spec.ts
  generators/client/generators/common/generator.ts
  generators/client/generators/common/index.ts
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/headers.ts.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/problem-details.ts.ejs
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/generator.js
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/axios-interceptor.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/config/store.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/server/templates/src/main/resources/swagger/api.yml.ejs
Labels: theme: angular, theme: react, theme: java, theme: front

#24765 Enable and Fix keycloak User Registration Config along with defaulting to 'User' group for newly registered users
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/docker/realm-config/jhipster-realm.json.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/files.js
  generators/kubernetes/templates/keycloak/keycloak-configmap.yml.ejs
Labels: theme: kubernetes, theme: docker :whale:, theme: keycloak

#26098 change tsconfig.app.json.ejs to properly find imports
  generators/vue/templates/tsconfig.app.json.ejs
Labels: theme: vue

#26091 bump execa from 8.0.1 to 9.0.2
  generators/info/generator.ts
  package-lock.json
  package.json
Labels: theme: dependencies

#26107 Sonar: Add a 'onKeyPress|onKeyDown|onKeyUp' attribute to this <span> tag
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.html.ejs
Labels: theme: angular

#26113 [Angular] style broken on the threads dump modal
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.html.ejs
Labels: theme: angular

#26080 Add composing component priority.
  generators/app/generator.js
  generators/app/generator.spec.ts
  generators/base-application/generator.ts
  generators/base-application/priorities.js
  generators/base-core/generator.ts
  generators/base/generator.ts
  generators/base/priorities.js
  generators/common/generator.js
  generators/spring-boot/generator.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#26141 normalize paths for vite-plugin-static-copy
  generators/vue/templates/vite.config.mts.ejs
Labels: theme: vue

#26143 adjust search engine warning.
  generators/server/generator.js
Labels: theme: java

#26154 fix jdl tests types and add to npm test
  generators/spring-data-elasticsearch/__test-support/elastic-search-matcher.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-to-json-option-converter.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.ts
  jdl/converters/json-to-jdl-entity-converter.spec.ts
  jdl/converters/json-to-jdl-entity-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/option-converter.ts
  jdl/exporters/jhipster-deployment-exporter.spec.ts
  jdl/exporters/jhipster-entity-exporter.spec.ts
  jdl/jhipster/binary-options.spec.ts
  jdl/jhipster/binary-options.ts
  jdl/jhipster/field-types.spec.ts
  jdl/jhipster/field-types.ts
  jdl/jhipster/json-entity.spec.ts
  jdl/jhipster/json-entity.ts
  jdl/jhipster/relationship-types.spec.ts
  jdl/jhipster/unary-options.spec.ts
  jdl/models/abstract-jdl-option.ts
  jdl/models/jdl-binary-option.spec.ts
  jdl/models/jdl-binary-option.ts
  jdl/models/jdl-deployment.spec.ts
  jdl/models/jdl-deployment.ts
  jdl/models/jdl-entity.spec.ts
  jdl/models/jdl-enum.spec.ts
  jdl/models/jdl-enums.spec.ts
  jdl/models/jdl-field.spec.ts
  jdl/models/jdl-object-wrapper.ts
  jdl/models/jdl-object.spec.ts
  jdl/models/jdl-relationship.spec.ts
  jdl/models/jdl-relationships.spec.ts
  jdl/parsing/dsl-api.spec.ts
  jdl/readers/file-reader.spec.ts
  jdl/readers/jdl-reader.spec.ts
  jdl/readers/json-reader.spec.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  jdl/validators/jdl-without-application-validator.spec.ts
  jdl/validators/relationship-validator.spec.ts
  package.json
  tsconfig.spec.json
Labels: theme: dependencies

#25976 adjusts for embedded entities
  .github/workflows/linked-issue-check.yml
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
  generators/base-application/support/prepare-relationship.js
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Asserts.java.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
  generators/server/support/prepare-entity.js
  generators/server/support/relationship.ts
  test-integration/samples/.jhipster/DocumentBankAccount.json
  test-integration/samples/.jhipster/EmbeddedOperation.json
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: CI builds

#26156 Test types adjusts
  cli/cli.spec.mts
  cli/environment-builder.spec.mts
  generators/base-application/generator.spec.ts
  generators/client/generator-needles.spec.ts
  generators/client/needle-client.spec.ts
  generators/entity/database-changelog.spec.ts
  generators/entity/single-entity.spec.ts
  generators/gradle/needles.spec.ts
  generators/java/support/checks/check-java.spec.ts
  generators/java/support/doc.ts
  generators/liquibase/needles.spec.ts
  generators/maven/generator.spec.ts
  generators/maven/needles.spec.ts
  generators/server/options/database-migration.spec.ts
  generators/server/options/message-broker.spec.ts
  generators/server/support/needles.spec.ts
  generators/upgrade/upgrade.spec.ts
  testing/helpers.ts
  tsconfig.spec.json
Labels: theme: gradle, theme: upgrade, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: cli

#26170 ignore relationships with embedded entities in react and vue
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: react, theme: vue

#26171 add details to UserVM
  generators/server/__snapshots__/generator.spec.js.snap
  generators/server/templates/src/main/java/_package_/config/Constants.java.ejs
  generators/server/templates/src/main/java/_package_/security/SecurityUtils.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/spring-boot/files.ts
  generators/spring-data-cassandra/__snapshots__/generator.spec.ts.snap
  generators/spring-data-elasticsearch/__snapshots__/generator.spec.ts.snap
  generators/spring-data-neo4j/__snapshots__/generator.spec.ts.snap
Labels: theme: java

#26172 add configureCurrentJHipsterCommandConfig and add configure to some c…
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/generator.ts
  generators/server/generator.js
  generators/spring-boot/command.ts
  generators/spring-boot/generator.ts
Labels: theme: jhipster-internals, theme: java

#26209 add repository to update-spring-boot-dependencies workflow
  .github/workflows/update-spring-boot-dependencies.yml
Labels: theme: CI builds

#26210 Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: theme: sonar

#26225 Sonar: Rename 'user' which hides the field declared at line 80
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: sonar

#26227 don't delete all Users in DomainUserDetailsServiceITs
  generators/server/templates/src/test/java/_package_/security/DomainUserDetailsServiceIT.java.ejs
Labels: theme: java

#26240 move UserMapperTest to correct class
  generators/server/templates/src/main/java/_package_/service/mapper/UserMapper.java.ejs
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: java

#26246 Sonar: Rename 'user' which hides the field declared at line 25
  generators/server/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
Labels: theme: sonar, theme: java

#26242 Bump spring-boot to v3.3.0
  generators/server/templates/build.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
  generators/spring-boot/resources/spring-boot-dependencies.pom
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/internal/dependencies.ts
  generators/spring-data-cassandra/generator.js
Labels: theme: maven, theme: java

#26250 don't delete all users in some integration tests
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

#26258 Sonar: Remove the declaration of thrown exception 'java.lang.Exception', as it cannot be thrown from method's body
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_Test.java.ejs
Labels: theme: sonar

#26233 don't delete all Users in AccountResourceIT
  generators/server/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

#26260 fix daily builds errors. downgrade gradle openapi generator plugin.
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/server/resources/gradle/libs.versions.toml
  generators/server/templates/gradle.properties.ejs
  test-integration/jdl-samples/stack-vue-no-db/stack.jdl
  test-integration/samples/ng-gradle-fr/.yo-rc.json
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java

#26264 Sonar: Remove this unused 'databaseSizeBeforeCreate' local variable
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: sonar

#26268 Sonar: This block of commented-out lines of code should be removed
  generators/gatling/README.md
  generators/gatling/templates/src/test/java/gatling/simulations/_entityClass_GatlingTest.java.ejs
Labels: theme: sonar

#26270 Sonar: This block of commented-out lines of code should be removed
  generators/gatling/templates/src/test/java/gatling/simulations/_entityClass_GatlingTest.java.ejs
Labels: theme: sonar

#26282 [Angular] Use viewChild signal
  generators/angular/templates/src/main/webapp/app/login/login.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.ts.ejs
Labels: theme: angular

#26291 [Angular] Use viewChild signal
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.ts.ejs
Labels: theme: angular

#26281 adjusts to user cleanups
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/support/prepare-entity.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/server/templates/build.gradle.ejs
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: gradle, theme: jhipster-internals, theme: java

#26293 [Angular] Use viewChild signal
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
Labels: theme: angular

#26294 remove close button from the header.
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.component.html.ejs
Labels: theme: sonar, theme: angular

#26302 Sonar: This block of commented-out lines of code should be removed
  generators/spring-data-relational/templates/src/test/java/_package_/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: sonar

#26304 [Angular] Remove useless space
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
Labels: theme: angular

#26305 Jest: toBeCalledWith is deprecated
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/route/_entityFile_-routing-resolve.service.spec.ts.ejs
  generators/base-application/generator.spec.ts
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.spec.ts.ejs
Labels: theme: angular, theme: jhipster-internals, theme: vue

#26312 rework PublicUserResourceIT to don’t depend on User order
  generators/server/templates/src/main/java/_package_/service/dto/UserDTO.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/PublicUserResourceIT.java.ejs
Labels: theme: java

#26313 use input instead of @Input
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
Labels: theme: angular

#26326 improve from-issue
  .blueprint/from-issue/command.mts
  .blueprint/from-issue/generator.mjs
  .blueprint/from-issue/generator.mts
  cli/environment-builder.mjs
  cli/program.mjs
  generators/base-core/generator.ts
  generators/base/internal/command.ts
  generators/base/internal/index.ts
  generators/info/support/extract-info.ts
  generators/info/support/index.ts
  package-lock.json
  package.json
  testing/github.ts
  testing/index.ts
  testing/sample-config.ts
Labels: theme: jhipster-internals, theme: cli, theme: dependencies

#26325 Sonar: This class overrides 'equals()' and should therefore also override 'hashCode()'
  generators/server/templates/src/main/java/_package_/service/dto/UserDTO.java.ejs
Labels: theme: java
