Repository jhipster/generator-jhipster, pull requests merged in 2024-09, with the labels that each got.

#27138 add derived properties types using command choices
  generators/base/api.d.ts
  generators/base/internal/merge-union.d.ts
  generators/client/types.d.ts
  jdl/jhipster/client-framework-types.ts
  jdl/jhipster/test-framework-types.ts
Labels: theme: jhipster-internals, theme: front

#27182 add JDLRuntime to keep JDL runtime data
  generators/bootstrap-application-base/support/import-jdl-transform.ts
  generators/jdl/generator.ts
  generators/server/jdl/application-definition.ts
  generators/server/options/database-migration.spec.ts
  generators/server/options/feign-client.spec.ts
  generators/server/options/message-broker.spec.ts
  generators/server/options/sync-user-with-idp.spec.ts
  jdl/built-in-options/jdl-application-definition.spec.ts
  jdl/built-in-options/jdl-application-definition.ts
  jdl/built-in-options/validation-patterns.ts
  jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  jdl/converters/json-to-jdl-application-converter.spec.ts
  jdl/converters/json-to-jdl-application-converter.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/application-converter.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.spec.ts
  jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  jdl/exporters/jdl-exporter.spec.ts
  jdl/integration-test.spec.ts
  jdl/jdl-importer.spec.ts
  jdl/jdl-importer.ts
  jdl/jhipster/application-options.ts
  jdl/jhipster/jdl-validator-definition.ts
  jdl/linters/jdl-linter.spec.ts
  jdl/linters/jdl-linter.ts
  jdl/models/jdl-application-configuration-factory.spec.ts
  jdl/models/jdl-application-configuration-factory.ts
  jdl/models/jdl-application-factory.spec.ts
  jdl/models/jdl-application-factory.ts
  jdl/models/jdl-application.spec.ts
  jdl/models/jdl-application.ts
  jdl/models/jdl-object-merger.spec.ts
  jdl/models/jdl-object.spec.ts
  jdl/parsing/api.ts
  jdl/parsing/dsl-api.spec.ts
  jdl/parsing/grammar.spec.ts
  jdl/parsing/jdl-ast-builder-visitor.ts
  jdl/parsing/jdl-parser.ts
  jdl/parsing/lexer/application-tokens.ts
  jdl/parsing/lexer/lexer.spec.ts
  jdl/parsing/lexer/lexer.ts
  jdl/parsing/validator.ts
  jdl/readers/jdl-reader.spec.ts
  jdl/readers/jdl-reader.ts
  jdl/runtime.ts
  jdl/types/runtime.d.ts
  jdl/types/types.d.ts
  jdl/validators/jdl-with-application-validator.spec.ts
  test/support/jdl/index.ts
Labels: theme: jhipster-internals, theme: java

#27186 Upgrade eslint-plugin-import-x 4.2.1
  eslint.config.js
  package-lock.json
  package.json
Labels: theme: dependencies

#27152 add initial command integration to jdl
  generators/angular/support/needles.ts
  generators/app/support/config.ts
  generators/base-application/generator.ts
  generators/base-application/support/prepare-field.js
  generators/base-application/support/prepare-property.ts
  generators/base-application/support/prepare-relationship.js
  generators/base-core/generator-core.spec.ts
  generators/base-core/generator.ts
  generators/base-workspaces/internal/deployments.ts
  generators/base/support/hipster.ts
  generators/base/support/index.ts
  generators/base/support/jhipster7-context.js
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-base/support/export-jdl-transform.ts
  generators/bootstrap-application-base/support/import-jdl-transform.ts
  generators/client/command.ts
  generators/client/files-common.js
  generators/export-jdl/generator.ts
  generators/gradle/generator.ts
  generators/java/generators/build-tool/command.ts
  generators/java/generators/build-tool/generator.ts
  generators/jdl/generator.ts
  generators/languages/generator.js
  generators/server/command.ts
  generators/server/jdl/application-definition.ts
  generators/server/options/feign-client.ts
  generators/server/options/index.ts
  generators/server/support/prepare-field.js
  generators/server/support/prepare-relationship.ts
  generators/server/support/relationship.ts
  generators/spring-boot/command.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/options/feign-client.spec.ts
  jdl/converters/json-to-jdl-converter.ts
  jdl/converters/types.d.ts
  jdl/exporters/config.ts
  jdl/exporters/export-utils.ts
  jdl/index.ts
  jdl/jhipster/default-application-options.ts
  jdl/utils/objects/logger.ts
  lib/internal/config-def.ts
  lib/utils/logger.ts
  lib/utils/object.spec.ts
  lib/utils/object.ts
  lib/utils/string.spec.ts
  lib/utils/string.ts
  lib/utils/yo-rc.ts
  testing/sample-config.ts
Labels: theme: gradle, theme: angular, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#27188 Upgrade eslint-plugin-import-x 4.2.1 (ignore some import-x/no-unresolved)
  eslint.config.js
Labels: theme: cli

#27199 fix translation with empty values
  generators/angular/support/translate-angular.spec.ts
  generators/angular/support/translate-angular.ts
  generators/languages/support/translate.ts
  generators/react/support/translate-react.ts
Labels: theme: angular, theme: react, theme: i18n

#27203 add types to jhipsterConfig and jhipsterConfigWithDefaults
  generators/app/command.ts
  generators/base-application/generator.ts
  generators/base-core/generator.ts
  generators/client/command.ts
  generators/client/prompts.ts
  generators/client/types.d.ts
  generators/spring-boot/command.ts
  lib/command/types.d.ts
  lib/types/application/yo-rc.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#27204 Upgrade Eslint 9.10.0
  generators/javascript/generators/bootstrap/generator.ts
  package-lock.json
  package.json
Labels: theme: angular, theme: react, theme: i18n, theme: dependencies, theme: vue

#27248 drop file reader from jdl/core
  cli/environment-builder.mjs
  generators/client/command.ts
  lib/command/types.d.ts
  lib/command/types.spec.ts
  lib/jdl/converters/exporters/export-utils.ts
  lib/jdl/converters/exporters/jhipster-entity-exporter.ts
  lib/jdl/converters/json-to-jdl-converter.spec.ts
  lib/jdl/converters/json-to-jdl-converter.ts
  lib/jdl/core/__test-support__/index.ts
  lib/jdl/core/linters/jdl-linter.spec.ts
  lib/jdl/core/linters/jdl-linter.ts
  lib/jdl/core/readers/file-reader.spec.ts
  lib/jdl/core/readers/file-reader.ts
  lib/jdl/core/readers/jdl-reader.ts
  lib/jdl/core/readers/json-file-reader.spec.ts
  lib/jdl/core/readers/json-file-reader.ts
  lib/jdl/core/readers/json-reader.spec.ts
  lib/jdl/core/readers/json-reader.ts
  lib/jdl/core/types/json-config.d.ts
  lib/jdl/jdl-importer.spec.ts
  lib/jdl/jdl-importer.ts
  lib/types/application/yo-rc.d.ts
  lib/utils/yo-rc.ts
Labels: theme: front, theme: cli

#27250 simplify incremental-changelog tests
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/liquibase/command.ts
  generators/liquibase/incremental-liquibase.spec.ts
  generators/liquibase/jdl.spec.ts
  generators/server/command.ts
  generators/server/jdl/application-definition.ts
  lib/eslint/base.js
  lib/jdl/converters/exporters/export-utils.spec.ts
  lib/jdl/converters/json-to-jdl-converter.spec.ts
  lib/jdl/converters/json-to-jdl-entity-converter.spec.ts
  lib/jdl/core/linters/jdl-linter.spec.ts
  lib/jdl/core/readers/jdl-reader.spec.ts
  lib/jdl/core/readers/json-reader.spec.ts
  lib/jdl/integration-test.spec.ts
  lib/testing/helpers.ts
  lib/types/application/options.d.ts
  lib/types/application/yo-rc.d.ts
  package-lock.json
  package.json
  tsconfig.json
Labels: theme: jhipster-internals, theme: java, theme: dependencies

#27253 Missing com.github.node-gradle.node
  generators/spring-boot/templates/build.gradle.ejs
Labels: theme: java

#27255 optimize tests
  generators/base-core/generator-core.spec.ts
  generators/base/blueprints.spec.ts
  generators/bootstrap/command.ts
  generators/bootstrap/generator.ts
  generators/bootstrap/support/prettier-support.ts
  generators/ci-cd/__snapshots__/ci-cd.spec.ts.snap
  generators/ci-cd/ci-cd.spec.ts
  generators/client/generator-needles.spec.ts
  generators/entities/generator.spec.ts
  generators/entity/single-entity.spec.ts
  generators/gradle/needles.spec.ts
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.ts.snap
  generators/kubernetes-helm/kubernetes.helm.spec.ts
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes-knative/knative.spec.ts
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/kubernetes.spec.ts
  generators/liquibase/needles.spec.ts
  generators/maven/needles.spec.ts
  generators/server/needle-logback.spec.ts
  generators/spring-data-cassandra/database-changelog.spec.ts
  generators/upgrade/generator.spec.ts
  lib/testing/helpers.ts
Labels: theme: gradle, theme: kubernetes, theme: upgrade, theme: jhipster-internals, theme: maven, theme: java, theme: front

#27263 Upgrade Angular 18.2.4
  generators/angular/resources/package.json
Labels: theme: angular, theme: dependencies

#27265 enable typescript auto merge
  .github/workflows/auto-merge.yml
Labels: theme: CI builds

#27267 Prevent logback from outputting its own status
  generators/spring-boot/templates/src/main/resources/logback-spring.xml.ejs
Labels: theme: java

#27268 npmw created after ./npmw started
  generators/server/generator.ts
  generators/spring-boot/generator.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#27062 integrate docker compose
  .blueprint/cli/commands.mts
  .blueprint/github-build-matrix/command.ts
  .blueprint/github-build-matrix/generator.ts
  .blueprint/github-build-matrix/index.ts
  .blueprint/github-build-matrix/samples/docker-compose-integration.ts
  .blueprint/github-build-matrix/support/cli-args.ts
  .blueprint/github-build-matrix/support/github-ci-matrix.ts
  .blueprint/github-build-matrix/support/jdl.ts
  .github/workflows/docker-compose-integration.yml
  .github/workflows/docker-image-publish-github-registry.yml
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base/support/secret.ts
  generators/bootstrap-application-base/command.ts
  generators/client/command.ts
  generators/common/__snapshots__/generator.spec.ts.snap
  generators/common/templates/sonar-project.properties.ejs
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker/__test-support/service-discovery-matcher.ts
  generators/docker/generator.ts
  generators/docker/templates/docker/cassandra.yml.ejs
  generators/docker/templates/docker/consul.yml.ejs
  generators/docker/templates/docker/jhipster-registry.yml.ejs
  generators/docker/templates/docker/kafka.yml.ejs
  generators/docker/templates/docker/keycloak.yml.ejs
  generators/docker/templates/docker/mariadb.yml.ejs
  generators/docker/templates/docker/memcached.yml.ejs
  generators/docker/templates/docker/mysql.yml.ejs
  generators/docker/templates/docker/postgresql.yml.ejs
  generators/docker/templates/docker/pulsar.yml.ejs
  generators/entities/__snapshots__/generator.spec.ts.snap
  generators/entity/__snapshots__/single-entity.spec.ts.snap
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/jdl/command.ts
  generators/liquibase/incremental-liquibase.spec.ts
  generators/maven/types.d.ts
  generators/server/__snapshots__/generator.spec.ts.snap
  generators/server/generator.spec.ts
  generators/server/generator.ts
  generators/spring-boot/generator.spec.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/templates/pom.xml.ejs
  generators/spring-boot/templates/src/main/resources/config/application-dev.yml.ejs
  generators/spring-boot/templates/src/main/resources/config/application.yml.ejs
  generators/spring-boot/templates/src/main/resources/config/bootstrap.yml.ejs
  generators/spring-cloud-stream/generator.spec.ts
  generators/spring-cloud-stream/generators/kafka/generator.ts
  generators/spring-data-cassandra/generator.spec.ts
  generators/spring-data-couchbase/generator.spec.ts
  generators/spring-data-elasticsearch/__test-support/elastic-search-matcher.ts
  generators/spring-data-elasticsearch/generator.spec.ts
  generators/spring-data-mongodb/generator.spec.ts
  generators/spring-data-neo4j/generator.spec.ts
  generators/spring-data-neo4j/templates/src/main/java/_package_/config/DatabaseConfiguration.java_neo4j.ejs
  generators/spring-data-relational/generator.spec.ts
  generators/spring-data-relational/support/database-data.ts
  lib/testing/helpers.ts
  lib/testing/support/matcher.ts
Labels: theme: gradle, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: CI builds, pr: docker-compose integration

#27290 Upgrade Vue 3.5.5
  generators/vue/resources/package.json
  generators/vue/templates/src/main/webapp/app/shared/computables/arrays.ts.ejs
Labels: theme: dependencies, theme: vue

#27292 Upgrade faker-js 9
  generators/liquibase/__snapshots__/incremental-liquibase.spec.ts.snap
  package-lock.json
  package.json
Labels: theme: java, theme: dependencies

#27301 skip install step if source matches
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
Labels: theme: CI builds

#27322 enable ignored dependencies
  .github/dependabot.yml
Labels: theme: CI builds

#27327 override `@types/node`
  package-lock.json
  package.json
Labels: theme: dependencies

#27328 don't convert blob types in jdl
  generators/base-application/generator.ts
  generators/base-application/support/prepare-field.ts
  generators/base-application/support/prepare-property.ts
  generators/bootstrap-application-base/generator.ts
  generators/client/support/template-utils.spec.ts
  generators/client/support/template-utils.ts
  generators/client/support/types-utils.ts
  generators/info/generator.ts
  generators/server/generator.ts
  generators/server/support/build-specification-mapper.ts
  generators/spring-boot/generator.ts
  lib/application/field-types.ts
  lib/command/__snapshots__/jdl.spec.ts.snap
  lib/jdl/__snapshots__/jdl-importer.spec.ts.snap
  lib/jdl/converters/jdl-to-json/jdl-to-json-field-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  lib/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  lib/jdl/converters/json-to-jdl-entity-converter.spec.ts
  lib/jdl/converters/json-to-jdl-entity-converter.ts
  lib/jhipster/field-types.spec.ts
  lib/jhipster/field-types.ts
  lib/types/application/entity.d.ts
  lib/types/application/field.d.ts
  lib/types/base/field.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#27343 don't reorder plugins inside pom profile
  generators/maven/internal/pom-sort.ts
  generators/maven/support/pom-file-sort.spec.ts
Labels: theme: maven

#27350 bump eslint and adjust types.
  package-lock.json
  package.json
Labels: theme: dependencies

#27342 use jhipster-framework release
  generators/generator-constants.js
  test-integration/integration-test-constants.js
Labels: theme: jhipster-internals

#27359 fix eslint exports
  generators/generate-blueprint/templates/eslint.config.js.jhi.blueprint.ejs
  lib/eslint/index.js
  package.json
Labels: theme: dependencies

#27363 git: add --commit-msg option
  cli/jhipster-command.mjs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/git/command.ts
  generators/git/generator.ts
  generators/init/__snapshots__/generator.spec.ts.snap
  generators/init/command.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  lib/command/types.d.ts
Labels: theme: jhipster-internals, theme: cli

#27360 move npmw install task to java:node
  generators/java/generators/node/generator.ts
  generators/server/generator.ts
Labels: theme: java

#27380 disable docker compose integration if there is no container to start
  generators/spring-boot/templates/src/main/resources/config/application-dev.yml.ejs
Labels: theme: java

#27381 generate-blueprint: adjusts
  .blueprint/generate-generator/templates/command.ts.ejs
  eslint.config.js
  generators/angular/generator.ts
  generators/base-core/generator.ts
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/java-unused-imports-transform.ts
  generators/bootstrap/support/prettier-support.ts
  generators/common/generator.ts
  generators/docker-compose/generator.ts
  generators/generate-blueprint/command.ts
  generators/generate-blueprint/generator.ts
  generators/java/generators/openapi-generator/generator.ts
  generators/javascript/generators/bootstrap/command.ts
  generators/javascript/types.d.ts
  generators/react/generator.ts
  generators/spring-boot/cleanup.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/vue/generator.ts
  lib/types/application/options.d.ts
  lib/types/application/yo-rc.d.ts
Labels: theme: angular, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: vue

#27382 generate-blueprint: add skipWorkflows and ignoreExistingGenerators options
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/generate-blueprint/command.ts
  generators/generate-blueprint/files.ts
  generators/generate-blueprint/generator.ts
Labels: theme: jhipster-internals

#27385 generate-blueprint: migrate tests to blueprint as array
  generators/base/generator.ts
  generators/generate-blueprint/generator.ts
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
Labels: theme: jhipster-internals

#27406 generate-blueprint: adjusts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/generate-blueprint/files.ts
  generators/generate-blueprint/generator.ts
  generators/generate-blueprint/templates/.github/workflows/samples.yml.ejs
  generators/generate-blueprint/templates/generators/generator/generator.mjs.jhi.ejs
  generators/generate-blueprint/templates/generators/generator/index.mjs.ejs
  generators/javascript/generators/bootstrap/generator.ts
  generators/javascript/types.d.ts
  lib/command/load.ts
Labels: theme: jhipster-internals

#27408 base-core: fix varargs cli argument handling
  cli/jhipster-command.mjs
  generators/base-core/generator.ts
  generators/ci-cd/generator.spec.ts
  lib/command/converter.ts
Labels: theme: cli

#27413 tests: switch to JHipster helpers
  generators/app/composing.spec.ts
  generators/app/generator.spec.ts
  generators/base-application/types.d.ts
  generators/base/blueprints.spec.ts
  generators/bootstrap-application-base/generator.spec.ts
  generators/bootstrap-application-client/generator.spec.ts
  generators/bootstrap-application-server/generator.spec.ts
  generators/bootstrap-application/generator.spec.ts
  generators/ci-cd/ci-cd.spec.ts
  generators/client/generator-needles.spec.ts
  generators/client/generator.spec.ts
  generators/client/needle-client.spec.ts
  generators/client/prompts.spec.ts
  generators/cypress/generator.spec.ts
  generators/docker-compose/docker-compose.spec.ts
  generators/docker/__test-support/service-discovery-matcher.ts
  generators/docker/generator.spec.ts
  generators/entities/generator.spec.ts
  generators/entity/database-changelog.spec.ts
  generators/entity/single-entity.spec.ts
  generators/export-jdl/export-jdl.spec.ts
  generators/generate-blueprint/generator.spec.ts
  generators/git/generator.spec.ts
  generators/heroku/heroku.spec.ts
  generators/java/generators/build-tool/generator.spec.ts
  generators/jdl/generator.spec.ts
  generators/kubernetes-helm/kubernetes.helm.spec.ts
  generators/kubernetes-knative/knative.spec.ts
  generators/kubernetes/kubernetes.spec.ts
  generators/languages/generator-needles.spec.ts
  generators/languages/languages.spec.ts
  generators/server/generator.spec.ts
  generators/spring-cloud-stream/generator-pulsar.spec.ts
  generators/spring-cloud-stream/generator.spec.ts
  generators/spring-data-cassandra/database-changelog.spec.ts
  generators/spring-data-elasticsearch/__test-support/elastic-search-matcher.ts
  generators/spring-data-elasticsearch/generator.spec.ts
  lib/testing/helpers.ts
  lib/testing/support/matcher.ts
  lib/types/application/options.d.ts
  lib/types/application/yo-rc.d.ts
  test/needle-api/needle-client-angular.spec.ts
  test/needle-api/needle-client-react-generator.spec.ts
  test/needle-api/needle-client-react.spec.ts
  test/needle-api/needle-client-vue-generator.spec.ts
  test/needle-api/needle-client-vue.spec.ts
  test/support/tests.js
Labels: theme: Heroku, theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#27416 switch auto merge from merge to squash
  .github/workflows/auto-merge.yml
Labels: theme: CI builds

#27410 testing: add runCli helper
  cli/cli.spec.mts
  cli/commands.mts
  cli/environment-builder.mjs
  cli/jhipster-command.mjs
  cli/program.mts
  cli/program.spec.mts
  cli/types.d.ts
  cli/utils.mjs
  generators/ci-cd/generator.spec.ts
  lib/testing/helpers.ts
  lib/utils/logger.ts
Labels: theme: cli

#27424 generate-blueprint: adjusts
  cli/program.mts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/generate-blueprint/__snapshots__/generator.spec.ts.snap
  generators/generate-blueprint/command.ts
  generators/generate-blueprint/files.ts
  generators/generate-blueprint/generator.ts
  generators/generate-blueprint/templates/README.md.ejs
  generators/generate-blueprint/templates/cli/cli-customizations.cjs.ejs
  generators/generate-blueprint/templates/cli/cli.cjs.ejs
  test-integration/generate-blueprint-samples/default/.yo-rc.json
Labels: theme: jhipster-internals, theme: cli

#27426 testing: add helpers and migrate to JHipster helpers
  cli/cli.spec.mts
  cli/environment-builder.mjs
  cli/utils.mjs
  generators/angular/generator.spec.ts
  generators/base-application/generator.spec.ts
  generators/base-core/generator.ts
  generators/base/blueprints.spec.ts
  generators/base/generator.spec.ts
  generators/client/generator.spec.ts
  generators/common/generator.spec.ts
  generators/docker-compose/docker-compose.spec.ts
  generators/docker/generator.spec.ts
  generators/generate-blueprint/templates/generators/generator/generator.spec.mjs.ejs
  generators/git/generator.spec.ts
  generators/gradle/generator.spec.ts
  generators/init/generator.spec.ts
  generators/kubernetes-helm/kubernetes.helm.spec.ts
  generators/kubernetes-knative/knative.spec.ts
  generators/kubernetes/kubernetes.spec.ts
  generators/languages/languages.spec.ts
  generators/liquibase/incremental-liquibase.spec.ts
  generators/maven/generator.spec.ts
  generators/react/generator.spec.ts
  generators/spring-cloud-stream/generator-pulsar.spec.ts
  generators/upgrade/upgrade.spec.ts
  generators/vue/generator.spec.ts
  lib/index.ts
  lib/testing/__snapshots__/helpers.spec.ts.snap
  lib/testing/get-generator.ts
  lib/testing/helpers.spec.ts
  lib/testing/helpers.ts
  test/needle-api/needle-client-angular-generator.spec.ts
  test/needle-api/needle-client-react-generator.spec.ts
  test/support/tests.js
Labels: theme: gradle, theme: angular, theme: kubernetes, theme: upgrade, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n, theme: cli, theme: vue

#27430 testing: improve types, fix options, and improve api
  cli/program.mts
  lib/command/generator-command.spec.ts
  lib/command/types.d.ts
  lib/testing/helpers.spec.ts
  lib/testing/helpers.ts
Labels: theme: cli

#27436 [Angular] Sonar: Member is never reassigned; mark it as readonly
  generators/angular/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/activate/activate.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway-routes.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/tracker/tracker.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-session.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/csrf.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/notification.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/home/home.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translate.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
Labels: theme: angular

#27438 Sonar: Member is never reassigned; mark it as readonly
  generators/angular/templates/src/main/webapp/app/admin/user-management/service/user-management.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/state-storage.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/profile.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.ts.ejs
Labels: theme: angular
