Repository jhipster/generator-jhipster, pull requests merged in 2024-12, with the labels that each got.

#28039 Evict user login cache for couchbase
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
Labels: theme: java

#28057 java: checksum adjusts
  generators/angular/generator.ts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/bootstrap-application-server/generator.ts
  generators/gradle/generators/node-gradle/templates/buildSrc/src/main/groovy/jhipster.node-gradle-conventions.gradle.ejs
  generators/java/generators/node/generator.ts
  generators/maven/generators/frontend-plugin/__snapshots__/generator.spec.ts.snap
  generators/react/generator.ts
  generators/spring-boot/templates/gradle/profile_dev.gradle.ejs
  generators/vue/generator.ts
Labels: theme: gradle, theme: angular, theme: react, theme: jhipster-internals, theme: maven, theme: java, theme: vue

#28040 couchbase: enable cache in sample
  .blueprint/github-build-matrix/support/git-changes.ts
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/repository/UserRepository.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
  test-integration/samples/ng-couchbase/.yo-rc.json
Labels: theme: java

#28003 angular: add experimental esbuild bundler support
  .blueprint/github-build-matrix/__snapshots__/generator.spec.ts.snap
  .blueprint/github-build-matrix/generator.ts
  .blueprint/github-build-matrix/samples/dev-server.ts
  .github/workflows/devserver.yml
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/files-angular.ts
  generators/angular/generator.ts
  generators/angular/resources/package.json
  generators/angular/support/update-languages.ts
  generators/angular/templates/angular.json.esbuild.ejs
  generators/angular/templates/build-plugins/define-esbuild.mjs.ejs
  generators/angular/templates/build-plugins/i18n-esbuild.mjs.ejs
  generators/angular/templates/jest.conf.js.ejs
  generators/angular/templates/package.json.ejs
  generators/angular/templates/postcss.config.json.ejs
  generators/angular/templates/proxy.conf.json.ejs
  generators/angular/templates/src/main/webapp/app/config/translation.config.ts.ejs
  generators/angular/templates/src/main/webapp/i18n/index.ts.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/client/command.ts
  generators/client/types.d.ts
  generators/languages/generator.ts
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  test-integration/samples/webflux-gradle-session-h2mem-es/.yo-rc.json
  test-integration/samples/webflux-mongodb-es-session/.yo-rc.json
  test-integration/samples/webflux-mongodb-oauth2/.yo-rc.json
  test-integration/samples/webflux-psql/.yo-rc.json
  test-integration/workflow-samples/angular.json
Labels: theme: gradle, theme: angular, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: i18n, theme: dependencies, theme: CI builds

#28079 Sonar: Replace this lambda with method reference
  generators/java/generators/domain/templates/src/test/java/_package_/domain/AssertUtils.java.ejs
Labels: theme: java

#28092 ci: adjust sonar-pr dependabot
  .blueprint/github-build-matrix/__snapshots__/generator.spec.ts.snap
  .blueprint/github-build-matrix/generator.ts
  .blueprint/github-build-matrix/support/git-changes.ts
  .github/workflows/angular.yml
Labels: theme: CI builds

#28076 spring-boot: sonar fixes
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/criteria/_entityClass_CriteriaTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: java

#28082 spring-boot: remove deprecated RandomStringUtils usage
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/DomainUserDetailsServiceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/service/mapper/UserMapperTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
Labels: theme: java

#28096 spring-boot: fix sonar issues
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/criteria/_entityClass_CriteriaTest.java.ejs
Labels: theme: java

#28081 permissionsPolicy is deprecated
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityConfiguration_imperative.java.ejs
Labels: theme: java

#28099 spring-boot: fix sonar issues
  generators/base/support/derived-property.ts
  generators/base/support/index.ts
  generators/bootstrap-application/generator.spec.ts
  generators/server/support/prepare-field.ts
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: jhipster-internals, theme: java

#28077 kafka: switch to apache/kafka container
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/docker-compose/templates/README-DOCKER-COMPOSE.md.ejs
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker/__snapshots__/generator.spec.ts.snap
  generators/docker/generator.ts
  generators/docker/templates/docker/kafka.yml.ejs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.ts.snap
  generators/kubernetes-helm/templates/csvc/helpers.tpl.ejs
  generators/kubernetes-helm/templates/csvc/values.yml.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/templates/messagebroker/kafka.yml.ejs
  generators/server/resources/Dockerfile
  generators/spring-cloud-stream/generators/kafka/templates/src/test/java/_package_/config/KafkaTestContainer.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/test/java/_package_/config/KafkaTestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals, theme: java

#28098 drop default password for postgresql
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/spring-data-relational/support/database-data.ts
Labels: theme: docker :whale:, theme: jhipster-internals, theme: java

#28115 angular: drop jest-preset-angular from dependabot group
  .github/dependabot.yml
Labels: theme: CI builds

#28137 Fix upgrade Chai
  lib/jdl/converters/jdl-to-json/jdl-to-json-basic-entity-information-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-to-json-option-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  package-lock.json
  package.json
Labels: theme: dependencies

#28162 add more checkboxes to custom issues.
  .github/ISSUE_TEMPLATE/BUG_REPORT_CUSTOM.md
Labels: theme: CI builds

#28176 script adjusts
  generators/cypress/generator.ts
  generators/java/generators/node/generator.ts
  generators/java/generators/node/templates/npmw.cmd.ejs
  generators/java/generators/node/templates/npmw.ejs
  generators/java/generators/server/generator.ts
Labels: theme: java

#28187 angular: replace webpack rtl config with postcss file
  generators/angular/files-angular.ts
  generators/angular/templates/webpack/webpack.custom.js.ejs
Labels: theme: angular

#28196 [Angular] Migrate to signals (translate.directive.ts)
  generators/angular/templates/src/main/webapp/app/shared/language/translate.directive.ts.ejs
Labels: theme: angular

#28197 [Angular] Migrate to signals (sort-by.directive.ts)
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
Labels: theme: angular

#28210 [Angular] Migrate to signals (filter.component.ts)
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.component.ts.ejs
Labels: theme: angular

#28211 angular: change sortState from input to model
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
Labels: theme: angular

#28212 angular: drop pagination-template partial template
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/pagination-template.ejs
Labels: theme: angular

#28214 Bump to Rimraf 6
  package-lock.json
  package.json
Labels: theme: dependencies

#28220 angular: convert entity array to signal
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

#28228 internal: omit value from prompts if value is not defined
  generators/spring-boot/prompts.ts
Labels: theme: java

#28229 [React] fix spelling of Toast
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: theme: react

#28230 Improve readability of ciphers in the list
  generators/spring-boot/templates/src/main/resources/config/application-tls.yml.ejs
Labels: theme: java

#28236 internal: adjusts to property calculation
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-core/generator.ts
  generators/base/support/derived-property.ts
  generators/base/support/index.ts
  generators/bootstrap-application/generator.spec.ts
  generators/ci-cd/generator.spec.ts
  generators/javascript/generators/bootstrap/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/server/support/config.ts
  generators/spring-boot/command.ts
  lib/command/converter.ts
  lib/command/load.ts
  lib/command/types.d.ts
  lib/internal/config-def.ts
  lib/jhipster/default-application-options.ts
  lib/utils/derived-property.ts
Labels: theme: jhipster-internals, theme: java

#28237 graalvm: add graalvm reachability metadata to renovate
  generators/java/generators/graalvm/internal/constants.ts
  renovate.json
Labels: theme: java

#27550 Use generics in generator-angular
  generators/angular/generator.ts
  generators/angular/support/translate-angular.ts
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.test-samples.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/entity-navbar-items.ts.ejs
  generators/angular/types-partial.d.ts
  generators/angular/types.d.ts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/client/support/template-utils.ts
  generators/client/types.d.ts
  generators/spring-boot/command.ts
  generators/spring-boot/generator.ts
  lib/types/application/entity.d.ts
  test/needle-api/needle-client-angular-generator.spec.ts
  test/needle-api/needle-client-angular.spec.ts
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#28250 Minor cleanup in MailService.java
  generators/spring-boot/templates/src/main/java/_package_/service/MailService.java.ejs
Labels: theme: java

#28260 [Angular] eslint: remove workaround
  generators/angular/templates/eslint.config.js.jhi.angular.ejs
Labels: theme: angular

#28264 Remove unused import
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/UserResourceIT.java.ejs
Labels: theme: java

#28266 Handle import to avoid unused import
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
Labels: theme: java

#28267 Remove unused import
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/PublicUserResource.java.ejs
Labels: theme: java

#28269 Typo
  generators/languages/templates/src/main/webapp/i18n/fr/user-management.json
  generators/spring-boot/templates/README.md.jhi.spring-boot.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
Labels: theme: java, theme: i18n

#28268 [Angular] Duplicate id reference
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-garbagecollector/metrics-garbagecollector.component.html.ejs
Labels: theme: angular

#28281 Typo
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
Labels: theme: angular

#28265 Remove unused import
  generators/spring-boot/templates/src/test/java/_package_/config/WebConfigurerTest.java.ejs
Labels: theme: java

#28284 Use a before a consonant sound
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
Labels: theme: java

#28296 Unit of measure px is redundant
  generators/angular/templates/src/main/webapp/content/scss/global.scss.ejs
Labels: theme: angular

#28297 Properties may be safely replaced with margin shorthand
  generators/angular/templates/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.component.scss.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/password/password-strength-bar.scss.ejs
Labels: theme: angular, theme: react

#28303 workspaces: add missing globby dependency
  package-lock.json
  package.json
Labels: theme: dependencies

#28304 [Vue] Fix upgrade to Vite 6
  generators/vue/resources/package.json
  generators/vue/templates/src/main/webapp/content/scss/vendor.scss.ejs
  generators/vue/templates/vite.config.mts.ejs
Labels: theme: dependencies, theme: vue

#28305 languages: add languagesDefinition to command
  generators/languages/command.ts
Labels: theme: i18n

#28306 cypress: scripts adjusts
  generators/client/generator.ts
  generators/cypress/generator.ts
Labels: theme: front

#28325 Fix upgrade org.gaul:modernizer-maven-plugin from 2.9.0 to 3.0.0
  generators/server/resources/pom.xml
  generators/spring-boot/templates/src/main/java/_package_/config/WebConfigurer.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/config/WebConfigurerTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/service/MailServiceIT.java.ejs
Labels: theme: maven, theme: java

#28330 Redundant measure unit
  generators/client/templates/src/main/webapp/content/css/loading.css.ejs
Labels: theme: front

#28331 [Angular] Remove unused constant
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.html.ejs
Labels: theme: angular

#28332 [Angular] Remove unused field
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
Labels: theme: angular

#28333 [Angular] Remove unused type alias
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-state.ts.ejs
Labels: theme: angular, $100, $$ bug-bounty $$

#28334 [Angular] Mismatched JSDoc
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.ts.ejs
Labels: theme: angular

#28345 Unused parameter
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

#28346 [React] Redundant mesure unit
  generators/react/templates/src/main/webapp/app/app.scss.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.scss.ejs
Labels: theme: react

#28347 [React] Local variable rules is redundant
  generators/react/templates/webpack/webpack.common.js.ejs
Labels: theme: react

#28348 [React] Statement can be simplifiable
  generators/react/templates/jest.conf.js.ejs
Labels: theme: react

#28349 Var is used instead of Let/Const
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: front

#28350 Clean code
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/docker/templates/docker/jhipster-control-center.yml.ejs
  generators/languages/templates/src/main/webapp/i18n/fr/reset.json.ejs
  generators/react/templates/webpack/webpack.dev.js.ejs
Labels: theme: angular, theme: react, theme: docker :whale:, theme: i18n

#28351 [Vue] Redundant measure unit
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
Labels: theme: vue

#28352 [Vue] Unused type alias
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.spec.ts.ejs
Labels: theme: vue

#28353 [Vue] Unused parameter prop
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
Labels: theme: vue

#28354 [Vue] Unused type alias
  generators/vue/templates/src/main/webapp/app/store.ts.ejs
Labels: theme: vue

#28355 [Vue] Field can be readonly
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/locale/translation.service.ts.ejs
Labels: theme: vue

#28356 Clean code
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/docker/templates/docker/jhipster-control-center.yml.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/axios-interceptor.spec.ts.ejs
Labels: theme: docker :whale:, theme: vue

#28357 [Vue] Remove old ref to TSLint
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/router/entities.ts.ejs
  generators/vue/templates/src/main/webapp/app/router/pages.ts.ejs
Labels: theme: vue

#28358 Clean code
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/event-manager.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/parse-links.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translate.directive.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/health/health-modal.tsx.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
Labels: theme: angular, theme: react, theme: vue
