Repository jhipster/generator-jhipster, pull requests merged in 2024-08, with the labels that each got.

#26893 Sort pom.xml using transform.
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base/api.d.ts
  generators/java/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/maven/__snapshots__/generator.spec.ts.snap
  generators/maven/__snapshots__/needles.spec.ts.snap
  generators/maven/command.ts
  generators/maven/generator.ts
  generators/maven/internal/pom-sort.ts
  generators/maven/internal/xml-store.ts
  generators/maven/support/index.ts
  generators/maven/support/pom-file-sort.ts
  generators/maven/support/pom-store.ts
  lib/internal/config-def.ts
Labels: theme: jhipster-internals, theme: maven

#26894 sort build.gradle dependencies
  generators/gradle/generator.ts
  generators/gradle/internal/needles.ts
  generators/gradle/types.d.ts
  generators/server/templates/build.gradle.ejs
Labels: theme: gradle, theme: java

#26903 Don't sort maven dependency imports
  generators/base/support/jhipster7-context.js
  generators/maven/internal/pom-sort.ts
Labels: theme: jhipster-internals, theme: maven

#26915 Upgrade org.liquibase.gradle 3.0.0
  generators/liquibase/generator.ts
  generators/server/resources/gradle/libs.versions.toml
  generators/spring-boot/templates/settings.gradle.ejs
Labels: theme: gradle, theme: jhipster-internals, theme: java

#26931 keep xml tag value as string when parsing pom.xml
  generators/maven/internal/xml-store.ts
  generators/maven/support/dependabot-maven.spec.ts
  generators/maven/support/dependabot-maven.ts
Labels: theme: maven

#26935 apply prettier to templates
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway-route.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/gateway/gateway.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/headers.ts.ejs
  generators/client/generators/common/templates/src/main/webapp/app/shared/jhipster/problem-details.ts.ejs
  generators/java/generators/domain/templates/src/test/java/_package_/domain/AssertUtils.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/UserServiceIT.java.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
Labels: theme: angular, theme: front

#26936 add more eslint rules to base
  eslint.config.js
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
  lib/eslint/base.js
Labels: theme: angular

#26937 adjust cypress eslint config
  generators/cypress/__snapshots__/generator.spec.ts.snap
  generators/cypress/files.ts
  generators/cypress/generator.ts
  generators/cypress/templates/eslint.config.js.jhi.cypress.ejs
  generators/cypress/templates/src/test/javascript/cypress/.eslintrc.json.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/commands.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/entity.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/management.ts.ejs
  generators/cypress/templates/src/test/javascript/cypress/support/navbar.ts.ejs
Labels: theme: angular

#26948 apply prettier/eslint to templates
  generators/angular/generator.ts
  generators/angular/templates/jest.conf.js.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/notification.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/react/templates/jest.conf.js.ejs
  generators/react/templates/src/main/webapp/app/_bootstrap-variables.scss.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/init/password-reset-init.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/account/register/register.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/account/settings/settings.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/util/entity-utils.ts.ejs
  generators/react/templates/src/main/webapp/app/typings.d.ts.ejs
  generators/react/templates/webpack/environment.js.ejs
  generators/spring-boot/templates/src/main/java/_package_/aop/logging/LoggingAspect.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityConfiguration_reactive.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/config/WebConfigurer.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/management/SecurityMetersService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/oauth2/AudienceValidator.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/MailService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/ExceptionTranslator.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/SecurityUtilsUnitTest_imperative.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/SecurityUtilsUnitTest_reactive.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/WithUnauthenticatedMockUser.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/errors/ExceptionTranslatorIT_reactive.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/SqlTestContainersSpringContextCustomizerFactory.java.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/content/scss/global.scss.ejs
  generators/vue/templates/vite.config.mts.ejs
Labels: theme: angular, theme: react, theme: front, theme: vue

#26952 apply eslint/prettier to angular templates
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.html.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/config/translation.config.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/user-route-access.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.component.html.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
  generators/angular/templates/webpack/webpack.custom.js.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/client/templates/src/main/webapp/swagger-ui/index.html.ejs
Labels: theme: angular, theme: front

#26953 add ESLintPool and PrettierPool classes
  generators/base-core/generator.ts
  generators/bootstrap/support/eslint-transform.ts
  generators/bootstrap/support/eslint-worker.js
  generators/bootstrap/support/prettier-support.ts
Labels: theme: jhipster-internals

#26950 apply eslint/prettier to react templates
  generators/react/generator.spec.ts
  generators/react/templates/eslint.config.js.jhi.react.ejs
  generators/react/templates/jest.conf.js.ejs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/config/error-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/password-reset.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/account/register/register.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.reducer.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/react/templates/src/main/webapp/app/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/DurationFormat.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header-components.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.spec.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/user-management.spec.ts.ejs
Labels: theme: react

#26963 apply prettier/eslint to vue templates
  generators/vue/support/translate-vue.spec.ts
  generators/vue/support/translate-vue.ts
  generators/vue/templates/eslint.config.js.jhi.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/activate/activate.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/entities-menu.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/computables/arrays.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/test-setup.ts.ejs
  generators/vue/templates/src/main/webapp/content/scss/global.scss.ejs
  generators/vue/templates/vite.config.mts.ejs
  generators/vue/templates/webpack/vue.utils.js.ejs
  generators/vue/templates/webpack/webpack.common.js.ejs
  generators/vue/templates/webpack/webpack.prod.js.ejs
Labels: theme: vue

#26981 [Angular] Angular 18.2.0 migrate route-lazy-loading
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/user-management.route.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.routes.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/error/error.route.ts.ejs
Labels: theme: angular

#26980 [Angular] Angular 18.2.0 migrate dependency injection
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
Labels: theme: angular

#26989 adjust to vue compat
  generators/vue/resources/package.json
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: dependencies, theme: vue

#26991 [Angular] NG8112 @let xxx is declared but its value is never read
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.html.ejs
Labels: theme: angular

#27018 [Angular] typescript-eslint 8.2.0
  generators/angular/resources/package.json
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.ts.ejs
Labels: theme: angular, theme: dependencies

#27020 cleanup dependencies
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker-compose/generator.js
  jdl/utils/objects/logger.ts
  package-lock.json
  package.json
Labels: theme: docker :whale:, theme: dependencies

#27025 add force-git option
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/git/command.ts
  generators/git/generator.spec.ts
  generators/git/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/upgrade/upgrade.spec.ts
  testing/helpers.ts
Labels: theme: upgrade, theme: jhipster-internals

#26993 Add SonarQube Analysis for PRs
  .github/actions/sonar/action.yml
  .github/dependabot.yml
  .github/workflows/angular.yml
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  renovate.json
  test-integration/sonar-pr/Dockerfile
  test-integration/sonar-pr/docker-compose.yml
Labels: theme: CI builds, pr: disable-sonar

#27036 improve BUG_REPORT.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: theme: CI builds

#27049 adjust supported java versions to official support
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/generator-constants.js
  test-integration/scripts/99-write-matrix.js
Labels: theme: jhipster-internals

#27052 adjust /authenticate api
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/java/generators/bootstrap/generator.ts
  generators/server/types.d.ts
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
Labels: theme: jhipster-internals, theme: java

#27061 move org.apache.maven.plugins plugins to the top
  generators/maven/__snapshots__/needles.spec.ts.snap
  generators/maven/internal/pom-sort.ts
Labels: theme: maven

#27058 add produces to /authenticate endpoint
  .github/workflows/angular.yml
  .github/workflows/react.yml
  .github/workflows/vue.yml
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/jwt/TestAuthenticationResource.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT_oauth2.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/rest/AccountResourceIT_skipUserManagement.java.ejs
Labels: theme: java, theme: CI builds

#27063 don't include devtools in docker image.
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/gradle/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/gradle/generators/jib/templates/buildSrc/src/main/groovy/jhipster.docker-conventions.gradle.ejs
  generators/java/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/maven/generators/jib/generator.ts
  generators/server/resources/gradle/libs.versions.toml
  generators/server/resources/pom.xml
  generators/spring-boot/templates/pom.xml.ejs
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java

#27065 application field not sent to prometheus
  generators/spring-boot/templates/src/main/resources/config/application.yml.ejs
Labels: theme: java

#27095 replace eslint-plugin-import with eslint-plugin-import-x
  eslint.config.js
  lib/eslint/base.js
  package-lock.json
  package.json
Labels: theme: dependencies

#27096 Remove duplicate imports
  generators/angular/templates/src/main/webapp/app/app.component.ts.ejs
  generators/react/templates/eslint.config.js.jhi.react.ejs
Labels: theme: angular, theme: react

#27098 [Angular] Upgrade typescript-eslint from 8.2.0 to 8.3.0
  generators/angular/resources/package.json
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/route/_entityFile_-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
Labels: theme: angular, theme: dependencies

#27108 [Angular] Use let on metrics component
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
Labels: theme: angular

#27114 Fix call to track function on entity list component template
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular
