Repository jhipster/generator-jhipster, pull requests merged in 2024-06, with the labels that each got.

#25645 Add Java 22 support
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/generator-constants.js
  test-integration/scripts/99-write-matrix.js
Labels: theme: gradle, theme: jhipster-internals, theme: java

#26331 check blueprints using engines
  generators/base/blueprints.spec.ts
  generators/base/generator.ts
  generators/generate-blueprint/generator.js
Labels: theme: jhipster-internals

#26332 bump node version in engines
  package.json
Labels: theme: dependencies

#26334 [Angular] Use signal contentChild
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
Labels: theme: angular

#26335 [Angular] Fix deprecated method (angular/core/testing)
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
Labels: theme: angular

#26344 add editJavaFile
  generators/java/generators/bootstrap/generator.ts
  generators/java/types.d.ts
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
Labels: theme: java

#26346 Upgrade MariaDB 11.4.2
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker/templates/docker/mariadb.yml.ejs
  generators/server/resources/Dockerfile
Labels: theme: docker :whale:, theme: java

#26359 Fix MySQL 8.4.0 so it starts in Docker
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker/templates/docker/mysql.yml.ejs
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/templates/db/mysql.yml.ejs
Labels: theme: kubernetes, theme: docker :whale:

#26357 Avoid filtering out relationships where entities support filtering
  generators/client/support/filter-entities.ts
Labels: theme: front

#26369 allow blueprints to override filterEntitiesForClient
  generators/angular/entity-files-angular.ts
  generators/base/types.d.ts
  generators/bootstrap-application-client/generator.ts
  generators/client/generator.js
  generators/react/entity-files-react.js
  generators/vue/entity-files-vue.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: vue

#26379 increase keycloak docker retries
  generators/docker/templates/docker/keycloak.yml.ejs
Labels: theme: docker :whale:

#26393 always add ci:server:await script
  generators/server/generator.js
Labels: theme: java

#26408 don't override maven-resources-plugin
  .blueprint/from-issue/generator.mts
  generators/server/templates/gradle/profile_dev.gradle.ejs
  generators/server/templates/gradle/profile_prod.gradle.ejs
  generators/server/templates/pom.xml.ejs
  generators/server/templates/src/main/resources/config/application-dev.yml.ejs
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/main/resources/config/bootstrap.yml.ejs
Labels: theme: gradle, theme: maven, theme: java

#26409 Upgrade mongock-bom 5.4.3
  generators/server/resources/gradle/libs.versions.toml
  generators/server/templates/src/main/resources/config/application.yml.ejs
  generators/server/templates/src/test/resources/config/application.yml.ejs
Labels: theme: gradle, theme: java

#26406 Fix initial text direction setting
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/react/templates/src/main/webapp/app/app.tsx.ejs
  generators/react/templates/src/main/webapp/app/config/translation.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
Labels: theme: react, theme: front

#26213 Upgrade to Angular 18
  generators/angular/resources/package.json
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
Labels: theme: angular, theme: dependencies

#26453 cleanup .eslintignore
  generators/client/templates/.eslintignore.ejs
Labels: theme: front

#26437 The documentation should tell to use ./npmw instead of requiring to install node
  generators/client/templates/README.md.jhi.client.ejs
Labels: theme: front

#26464 [Angular] Sonar: HttpClientModule is deprecated
  generators/angular/templates/src/main/webapp/app/app.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/app.config.ts.ejs
Labels: theme: sonar, theme: angular

#26465 [Angular] Sonar: InfiniteScrollModule is deprecated
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: sonar, theme: angular

#26470 add vue-eslint dependabot group
  .github/dependabot.yml
Labels: theme: CI builds

#26476 add eslint/recommended exports
  generators/bootstrap/generator.ts
  generators/bootstrap/support/eslint-worker.js
  lib/eslint/base.js
  lib/eslint/recommended.ts
  package-lock.json
  package.json
  tsconfig.types.json
Labels: theme: jhipster-internals, theme: dependencies

#26477 more adjusts for Kotlin blueprint migration
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/types.d.ts
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/shared-data.ts
  generators/base/support/jhipster7-context.js
Labels: theme: jhipster-internals

#26479 don't show removed commands in help
  cli/commands.mjs
  cli/program.mjs
  generators/base/__snapshots__/generator.spec.ts.snap
Labels: theme: jhipster-internals, theme: cli

#26420 Upgrade Keycloak 25.0.0
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/realm-config/keycloak-health-check.sh
  generators/docker/templates/docker/keycloak.yml.ejs
  generators/docker/templates/docker/realm-config/keycloak-health-check.sh
  generators/server/resources/Dockerfile
Labels: theme: docker :whale:, theme: java

#26489 more adjusts for blueprints
  generators/base-application/types.d.ts
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/command.ts
  generators/bootstrap/support/multi-step-transform/template-file.js
Labels: theme: jhipster-internals

#26384 Fix OAuth2 login and logout issues in React application
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/login/login-redirect.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/login/logout.tsx.ejs
  generators/react/templates/src/main/webapp/app/routes.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/auth/private-route.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/auth/private-route.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/account.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/util/url-utils.ts.ejs
Labels: theme: react

#26509 revert typescript to 5.4.5
  package-lock.json
  package.json
Labels: theme: dependencies

#26510 disable auto merge for typescript
  .github/workflows/auto-merge.yml
Labels: theme: CI builds

#26507 [Angular] Fix input fields style on Bootswatch Quartz theme
  generators/angular/templates/src/main/webapp/content/scss/global.scss.ejs
Labels: area: bug :bug:, theme: angular

#26511 Angular: HttpClientTestingModule is deprecated
  generators/angular/templates/src/main/webapp/app/account/activate/activate.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/activate/activate.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/sessions/sessions.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/service/user-management.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/auth-jwt.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/route/_entityFile_-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/service/_entityFile_.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/page-ribbon.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
Labels: theme: angular

#26512 Angular: Rename Jhipster to JHipster
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
Labels: theme: angular

#26515 [Angular] throwError function is deprecated
  generators/angular/templates/src/main/webapp/app/admin/health/health.component.spec.ts.ejs
Labels: theme: angular

#26514 [Angular] Sonar: Fields that are only assigned in the constructor should be readonly
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/app-page-title-strategy.ts.ejs
  generators/angular/templates/src/main/webapp/app/config/uib-pagination.config.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth-expired.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/auth.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/interceptor/error-handler.interceptor.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/error/error.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/active-menu.directive.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/find-language-from-key.pipe.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translation.module.ts.ejs
Labels: theme: angular

#26516 [Angular] Fix deprecated signature for tableRow.injector.get
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
Labels: theme: angular

#26368 Fix links and add Java to prerequisites in README
  generators/client/templates/README.md.jhi.client.ejs
Labels: theme: front

#26528 bump husky and lint-staged version in init generator
  generators/init/resources/package.json
Labels: theme: dependencies

#26526 Internal improvements
  cli/program.mjs
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/shared-data.ts
  generators/base/types.d.ts
  generators/spring-cloud/generators/gateway/command.ts
  testing/helpers.ts
Labels: theme: jhipster-internals, theme: cli

#26529 [Angular] Fix deprecated signature for tableRow.injector.get
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
Labels: theme: angular

#26530 add maven mergeMavenPomContent and sort build configuration
  generators/maven/generator.ts
  generators/maven/internal/xml-store.ts
  generators/maven/support/pom-store.ts
  generators/maven/types.d.ts
Labels: theme: maven

#26532 Loggers should be 'private static final'
  generators/feign-client/templates/src/main/java/_package_/client/AuthorizationHeaderUtil.java.ejs
  generators/liquibase/templates/src/main/java/_package_/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/config/AsyncConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/_package_/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/_package_/security/oauth2/AudienceValidator.java.ejs
  generators/server/templates/src/main/java/_package_/service/MailService.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/_entityClass_QueryService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/impl/_entityClass_ServiceImpl.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/PublicUserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/broker/KafkaConsumer_imperative.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/broker/KafkaConsumer_reactive.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/web/rest/KafkaResource_imperative.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/web/rest/KafkaResource_reactive.java.ejs
  generators/spring-data-couchbase/templates/src/main/java/_package_/config/DatabaseConfiguration.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/config/DatabaseConfiguration.java.ejs
Labels: theme: java

#26539 fix cyclic entities in neo4j sample
  .blueprint/from-issue/generator.mts
  .github/workflows/linked-issue-check.yml
  generators/spring-data-neo4j/generator.ts
  test-integration/jdl-samples/ms-mf-ng-consul-oauth2-neo4j/blog-store.jdl
Labels: theme: CI builds

#26545 add queueCommandTasks feature
  .blueprint/generate-sample/generator.mjs
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/generator.ts
  generators/bootstrap/generator.ts
  generators/ci-cd/command.ts
  lib/internal/config-def.ts
Labels: theme: jhipster-internals

#26531 Loggers should be 'private static final' and should share a naming convention
  generators/feign-client/templates/src/main/java/_package_/client/AuthorizationHeaderUtil.java.ejs
  generators/liquibase/templates/src/main/java/_package_/config/LiquibaseConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/Application.java.ejs
  generators/server/templates/src/main/java/_package_/config/AsyncConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/config/CRLFLogConverter.java.ejs
  generators/server/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/server/templates/src/main/java/_package_/config/WebConfigurer.java.ejs
  generators/server/templates/src/main/java/_package_/security/DomainUserDetailsService.java.ejs
  generators/server/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
  generators/server/templates/src/main/java/_package_/security/oauth2/AudienceValidator.java.ejs
  generators/server/templates/src/main/java/_package_/service/MailService.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/server/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_stream_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_all_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/get_filtered_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/search_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/UserService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/_entityClass_QueryService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/impl/_entityClass_ServiceImpl.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/PublicUserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/UserResource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/spring-cache/templates/src/main/java/_package_/config/CacheConfiguration.java.ejs
  generators/spring-cache/templates/src/test/java/_package_/config/RedisTestContainer.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/broker/KafkaConsumer_imperative.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/broker/KafkaConsumer_reactive.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/web/rest/KafkaResource_imperative.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/main/java/_package_/web/rest/KafkaResource_reactive.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/test/java/_package_/config/KafkaTestContainer.java.ejs
  generators/spring-cloud-stream/generators/pulsar/templates/src/test/java/_package_/config/PulsarTestContainer.java.ejs
  generators/spring-cloud/generators/gateway/templates/src/main/java/_package_/web/filter/ModifyServersOpenApiFilter.java.ejs
  generators/spring-cloud/generators/gateway/templates/src/test/java/_package_/web/filter/ModifyServersOpenApiFilterTest.java.ejs
  generators/spring-data-cassandra/templates/src/test/java/_package_/config/CassandraTestContainer.java.ejs
  generators/spring-data-couchbase/templates/src/main/java/_package_/config/DatabaseConfiguration.java.ejs
  generators/spring-data-couchbase/templates/src/test/java/_package_/config/CouchbaseTestContainer.java.ejs
  generators/spring-data-elasticsearch/templates/src/test/java/_package_/config/ElasticsearchTestContainer.java.ejs
  generators/spring-data-mongodb/templates/src/test/java/_package_/config/MongoDbTestContainer.java.ejs
  generators/spring-data-neo4j/templates/src/test/java/_package_/config/Neo4jTestContainer.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/config/DatabaseConfiguration.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/MariadbTestContainer.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/MsSqlTestContainer.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/MysqlTestContainer.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/PostgreSqlTestContainer.java.ejs
  generators/spring-websocket/templates/src/main/java/_package_/web/websocket/ActivityService.java.ejs
Labels: theme: java

#26546 Local variables should not be declared and then immediately returned or thrown
  generators/angular/templates/webpack/proxy.conf.js.ejs
Labels: theme: angular

#26552 apply prettier to vue templates
  generators/vue/templates/.eslintrc.cjs.ejs
  generators/vue/templates/.postcssrc.js.ejs
  generators/vue/templates/src/main/webapp/app/account/account.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/activate/activate.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/finish/reset-password-finish.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/reset-password/init/reset-password-init.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/sessions/sessions.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/docs/docs.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.vue.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/error/error.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-footer/jhi-footer.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/axios-interceptor.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/axios-interceptor.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/config.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/model/user.model.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/security/authority.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/sort/jhi-sort-indicator.vue.ejs
  generators/vue/templates/src/main/webapp/app/shared/sort/sorts.spec.ts.ejs
  generators/vue/templates/src/main/webapp/content/scss/global.scss.ejs
  generators/vue/templates/webpack/config.js.ejs
  generators/vue/templates/webpack/webpack.dev.js.ejs
  generators/vue/templates/webpack/webpack.prod.js.ejs
Labels: theme: vue

#26560 Sonar: Add a nested comment
  generators/server/templates/src/test/java/_package_/web/rest/errors/ExceptionTranslatorTestController.java.ejs
Labels: theme: java

#26575 Sonar: Add a nested comment
  generators/server/templates/src/test/java/_package_/config/WebConfigurerTestController.java.ejs
Labels: theme: java
