Repository jhipster/generator-jhipster, pull requests merged in 2025-06, with the labels that each got.

#29658 Initiate workspace-specific-tasks
  generators/base-workspaces/generator.ts
  generators/base-workspaces/support/task-type-inference.ts
  generators/base-workspaces/tasks.d.ts
  generators/base/types.d.ts
  generators/docker-compose/cleanup.ts
  generators/docker-compose/files.ts
  generators/docker-compose/generator.ts
  generators/docker-compose/templates/realm-config/keycloak-health-check.sh.ejs
  generators/react/cleanup.ts
  generators/react/generator.ts
Labels: theme: react, theme: docker :whale:, theme: jhipster-internals

#29659 Bump eslint-plugin-cypress to v5
  generators/client/resources/package.json
  generators/cypress/templates/eslint.config.js.jhi.cypress.ejs
Labels: theme: front, theme: dependencies

#29651 internal: type adjusts and cleanup
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/prepare-field.ts
  generators/bootstrap-application/generator.spec.ts
  generators/client/support/index.ts
  generators/client/support/prepare-entity.ts
  generators/client/support/prepare-field.ts
  generators/client/support/template-utils.ts
  generators/client/support/types-utils.ts
  generators/javascript/generators/bootstrap/generator.ts
  generators/javascript/support/index.ts
  generators/javascript/support/reserved-words.ts
  generators/liquibase/support/post-prepare-entity.ts
  generators/react/generator.ts
  generators/react/support/index.ts
  generators/server/generator.ts
  generators/server/support/build-specification-mapper.ts
  generators/spring-boot/generator.ts
  lib/jhipster/field-types.ts
  lib/jhipster/reserved-keywords.ts
  lib/types/application/entity.d.ts
  lib/types/base/field.d.ts
  lib/types/utils/entity-utils.ts
Labels: theme: react, theme: jhipster-internals, theme: java, theme: front

#29679 internal: more types adjusts
  generators/angular/support/needles.ts
  generators/angular/types.d.ts
  generators/base-application/generator.ts
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/task-type-inference.ts
  generators/base-application/tasks.d.ts
  generators/base-application/types-all.d.ts
  generators/base-application/types.d.ts
  generators/base-core/api.d.ts
  generators/base-core/generator.ts
  generators/base-core/types.d.ts
  generators/base-entity-changes/generator.ts
  generators/base-entity-changes/types.d.ts
  generators/base-simple-application/types.d.ts
  generators/base-workspaces/generator.ts
  generators/base-workspaces/support/config.ts
  generators/base-workspaces/types.d.ts
  generators/client/support/update-languages.ts
  generators/client/types.d.ts
  generators/java/support/files.ts
  generators/liquibase/generator.ts
  generators/liquibase/support/prepare-field.ts
  generators/server/support/prepare-entity.ts
  lib/testing/helpers.ts
  lib/types/application/application.d.ts
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#29683 ci-cd: convert to simple-application and adjusts
  generators/base-core/generator.ts
  generators/base-simple-application/generator.ts
  generators/base-workspaces/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/ci-cd/command.ts
  generators/ci-cd/generator.spec.ts
  generators/ci-cd/generator.ts
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/ci-cd/types.d.ts
  generators/client/generator.ts
  generators/java/generators/bootstrap/generator.ts
  lib/command/generator-command.spec.ts
  lib/command/types.d.ts
Labels: theme: gradle, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#29699 remove Types suffix on types
  generators/base-application/generator.ts
  generators/base-core/generator.ts
  generators/base-entity-changes/generator.ts
  generators/base-simple-application/generator.ts
  generators/base/generator.ts
Labels: theme: jhipster-internals

#29744 internal: replace existingWorkspaces with existingProject
  generators/base-application/support/constants.ts
  generators/base-workspaces/types.d.ts
  generators/base/generator.ts
  generators/base/support/constants.ts
  generators/bootstrap-workspaces/generator.ts
  generators/docker-compose/generator.ts
  generators/project-name/generator.ts
Labels: theme: docker :whale:, theme: jhipster-internals

#29759 internal: modularize client types
  generators/angular/cleanup.ts
  generators/angular/entity-files-angular.ts
  generators/angular/files-angular.ts
  generators/angular/generator.ts
  generators/angular/support/needles.ts
  generators/angular/types.d.ts
  generators/base-application/application-properties-all.d.ts
  generators/base-application/entity-all.d.ts
  generators/base-application/field-all.d.ts
  generators/base-application/generator.ts
  generators/base-application/index.ts
  generators/base-application/property-all.d.ts
  generators/base-application/relationship-all.d.ts
  generators/base-application/support/task-type-inference.ts
  generators/base-application/tasks.d.ts
  generators/base-application/types.d.ts
  generators/client/files-common.ts
  generators/client/generator.ts
  generators/client/index.ts
  generators/client/prompts.ts
  generators/client/support/filter-entities.ts
  generators/client/types.d.ts
  generators/common/types.d.ts
  generators/java/index.ts
  generators/java/types.d.ts
  generators/javascript/entity.d.ts
  generators/javascript/generators/eslint/support/tasks.ts
  generators/javascript/types.d.ts
  generators/languages/index.ts
  generators/languages/support/load-config.ts
  generators/languages/types.d.ts
  generators/react/generator.spec.ts
  generators/react/generator.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: i18n

#29772 internal: continue modularization
  generators/base-application/application-config-all.d.ts
  generators/base-application/application-properties-all.d.ts
  generators/base-application/entity-all.d.ts
  generators/base-application/field-all.d.ts
  generators/base-application/relationship-all.d.ts
  generators/base-application/source-all.d.ts
  generators/base-application/types.d.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/client/types.d.ts
  generators/gradle/cleanup.ts
  generators/gradle/generator.ts
  generators/gradle/generators/code-quality/generator.ts
  generators/gradle/generators/jib/generator.ts
  generators/gradle/generators/node-gradle/generator.ts
  generators/gradle/types.d.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/domain/generator.ts
  generators/java/generators/graalvm/generator.ts
  generators/java/generators/node/generator.ts
  generators/java/index.ts
  generators/java/support/index.ts
  generators/java/support/prepare-entity.ts
  generators/java/types.d.ts
  generators/liquibase/generator.ts
  generators/liquibase/index.ts
  generators/liquibase/support/post-prepare-entity.ts
  generators/liquibase/types.d.ts
  generators/maven/cleanup.ts
  generators/maven/generator.ts
  generators/maven/generators/code-quality/generator.ts
  generators/maven/generators/frontend-plugin/generator.ts
  generators/maven/generators/jib/generator.ts
  generators/server/generator.ts
  generators/server/index.ts
  generators/server/needle-logback.spec.ts
  generators/server/support/index.ts
  generators/server/support/prepare-entity.ts
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/index.ts
  generators/spring-boot/types.d.ts
  generators/spring-cache/index.ts
  generators/spring-cache/types.d.ts
  generators/spring-cloud-stream/generators/kafka/generator.ts
  generators/spring-cloud-stream/generators/pulsar/generator.ts
  generators/spring-data-cassandra/generator.ts
  generators/spring-data-relational/generator.ts
  lib/utils/path.ts
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java, theme: front

#29779 internal: rework sql/liquibase types
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/application-properties-all.d.ts
  generators/base-application/entity-all.d.ts
  generators/base-application/field-all.d.ts
  generators/base-application/internal/types/field-types.ts
  generators/base-application/relationship-all.d.ts
  generators/base-application/support/prepare-field.ts
  generators/base-application/types.d.ts
  generators/base-core/support/jhipster7-context.ts
  generators/base-entity-changes/index.ts
  generators/base-entity-changes/types.d.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/client/support/template-utils.ts
  generators/client/support/types-utils.ts
  generators/java/types.d.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/liquibase/generator.ts
  generators/liquibase/index.ts
  generators/liquibase/support/post-prepare-entity.ts
  generators/liquibase/support/prepare-field.ts
  generators/liquibase/types.d.ts
  generators/server/support/build-specification-mapper.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/types.d.ts
  generators/spring-data-relational/cleanup.ts
  generators/spring-data-relational/command.ts
  generators/spring-data-relational/files.ts
  generators/spring-data-relational/generator.ts
  generators/spring-data-relational/index.ts
  generators/spring-data-relational/internal/dependencies.ts
  generators/spring-data-relational/support/application-properties.ts
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_Repository.java.ejs
  generators/spring-data-relational/types.d.ts
  lib/command/types.d.ts
  lib/jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  lib/jhipster/field-types.ts
  lib/jhipster/types/field.d.ts
  lib/utils/derived-property.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#29783 use existingproject as a guard for workspace generators
  generators/base-application/application-config-all.d.ts
  generators/base-workspaces/generator.ts
  generators/base-workspaces/internal/docker-prompts.ts
  generators/base-workspaces/prompts.ts
  generators/base-workspaces/support/task-type-inference.ts
  generators/base/types.d.ts
  generators/bootstrap-workspaces/generator.ts
  generators/docker-compose/generator.ts
  generators/kubernetes-helm/generator.ts
  generators/kubernetes-knative/generator.ts
  generators/kubernetes-knative/prompts.ts
  generators/kubernetes/generator.ts
  generators/kubernetes/prompts.ts
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals

#29787 [Angular] Fix infinite-scroll
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
Labels: theme: angular

#29849 [React] Prefer using an optional chain expression instead, as it's more concise and easier to read
  generators/react/templates/src/main/webapp/app/config/error-middleware.ts.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.ts.ejs
Labels: theme: react

#29850 [React] Unnecessary optional chain on a non-nullish value
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: theme: react

#29853 [Vue] Async arrow function has no await expression
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/core/ribbon/ribbon.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

#29854 [Vue] Template literal expression is unnecessary and can be simplified
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.ts.ejs
Labels: theme: vue

#29862 [React] Prefer using an optional chain expression instead, as it's more concise and easier to read
  generators/react/templates/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
Labels: theme: react

#29869 [React] This expression unnecessarily compares a boolean value to a boolean instead of using it directly
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
Labels: theme: react

#29907 [Vue] Prefer using nullish coalescing operator instead of a logical or, as it is a safer operator
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/config/axios-interceptor.ts.ejs
Labels: theme: vue

#29913 [Vue] Use String#startsWith method instead of indexOf
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.component.ts.ejs
Labels: theme: vue

#29900 Use of tasks groups for workspace generators
  generators/base-workspaces/generator.ts
  generators/base/generator.ts
  generators/bootstrap-workspaces/generator.ts
  generators/docker-compose/generator.ts
  generators/kubernetes-helm/files.ts
  generators/kubernetes-helm/generator.ts
  generators/kubernetes-knative/files.ts
  generators/kubernetes-knative/generator.ts
  generators/kubernetes/files.ts
  generators/kubernetes/generator.ts
  generators/kubernetes/kubernetes-base.ts
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals

#29915 [Vue] Use String#startsWith method instead of indexOf
  generators/vue/templates/src/main/webapp/app/shared/data/data-utils.service.ts.ejs
Labels: theme: vue

#29914 Use writeFiles API on kubernetes blueprint
  .gitignore
  generators/angular/files-angular.ts
  generators/base-workspaces/internal/deployments.ts
  generators/cucumber/files.ts
  generators/kubernetes-helm/generator.ts
  generators/kubernetes-knative/generator.ts
  generators/kubernetes/files.ts
  generators/kubernetes/generator.ts
  generators/kubernetes/kubernetes-base.ts
Labels: theme: angular, theme: kubernetes, theme: upgrade, theme: docker :whale:, theme: jhipster-internals

#29919 use writeFile api for knative generator
  generators/kubernetes-knative/files.ts
Labels: theme: kubernetes

#29918 writeFile API for Helm
  generators/kubernetes-helm/files.ts
  generators/kubernetes-helm/generator.ts
  generators/kubernetes/files.ts
Labels: theme: angular, theme: kubernetes

#29929 internal: unlock dependabot for node 20 types.
  .github/dependabot.yml
Labels: theme: CI builds
