Repository jhipster/generator-jhipster, pull requests merged in 2025-05, with the labels that each got.

#29369 [React] Fix bump react-hook-form from 7.54.2 to 7.56.1
  generators/react/resources/package.json
  generators/react/templates/src/main/webapp/app/shared/util/entity-utils.ts.ejs
Labels: theme: react, theme: dependencies

#29324 add hebrew lang
  generators/languages/support/languages.ts
  generators/languages/templates/entity/i18n/entity_he.json.ejs
  generators/languages/templates/src/main/resources/i18n/messages_he.properties.ejs
  generators/languages/templates/src/main/webapp/i18n/he/activate.json.ejs
  generators/languages/templates/src/main/webapp/i18n/he/configuration.json
  generators/languages/templates/src/main/webapp/i18n/he/error.json
  generators/languages/templates/src/main/webapp/i18n/he/gateway.json
  generators/languages/templates/src/main/webapp/i18n/he/global.json.ejs
  generators/languages/templates/src/main/webapp/i18n/he/health.json.ejs
  generators/languages/templates/src/main/webapp/i18n/he/home.json.ejs
  generators/languages/templates/src/main/webapp/i18n/he/login.json
  generators/languages/templates/src/main/webapp/i18n/he/logs.json
  generators/languages/templates/src/main/webapp/i18n/he/metrics.json
  generators/languages/templates/src/main/webapp/i18n/he/password.json
  generators/languages/templates/src/main/webapp/i18n/he/register.json
  generators/languages/templates/src/main/webapp/i18n/he/reset.json.ejs
  generators/languages/templates/src/main/webapp/i18n/he/sessions.json
  generators/languages/templates/src/main/webapp/i18n/he/settings.json
  generators/languages/templates/src/main/webapp/i18n/he/tracker.json
  generators/languages/templates/src/main/webapp/i18n/he/user-management.json
  generators/languages/templates/src/test/resources/i18n/messages_he.properties.ejs
  test-integration/daily-builds/vue-gradle-fulli18n-fr/.yo-rc.json
  test-integration/daily-builds/vue-maven-fulli18n-fr/.yo-rc.json
  test-integration/samples/ng-default/.yo-rc.json
  test-integration/samples/react-default/.yo-rc.json
  test-integration/samples/vue-fulli18n-es/.yo-rc.json
Labels: theme: i18n

#29398 Fix: bump prettier-plugin-packagejson from 2.5.10 to 2.5.11
  package-lock.json
  package.json
Labels: theme: dependencies

#29108 spring-boot: add user id to jwt token
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base/shared-data.ts
  generators/spring-boot/templates/src/main/java/_package_/config/SecurityJwtConfiguration.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/DomainUserDetailsService.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/SecurityUtils.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AuthenticateController.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/SecurityUtilsUnitTest_imperative.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/SecurityUtilsUnitTest_reactive.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/security/jwt/JwtAuthenticationTestUtils.java.ejs
Labels: theme: jhipster-internals, theme: java

#29312 Enhance Elasticsearch String field mapping
  generators/spring-data-elasticsearch/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.elastic_search.ejs
Labels: theme: java

#29080 migrate from Gradle Enterprise to Develocity
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.spec.ts
  generators/base-core/generator.ts
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/gradle/command.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/server/resources/gradle/libs.versions.toml
  generators/server/support/config.ts
  generators/server/types.d.ts
  generators/spring-boot/templates/gradle.properties.ejs
  generators/spring-boot/templates/settings.gradle.ejs
  lib/jdl/core/built-in-options/jdl-application-definition.spec.ts
  lib/jdl/core/built-in-options/tokens/application-tokens.ts
  lib/jhipster/application-options.ts
  lib/jhipster/default-application-options.ts
  lib/jhipster/jdl-validator-definition.ts
Labels: theme: gradle, theme: jhipster-internals, theme: java

#29411 Avoid generating sort attributes for unsortable fields
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/bootstrap-application/generator.spec.ts
  generators/server/support/prepare-field.ts
Labels: theme: angular, theme: jhipster-internals, theme: java

#29449 [Angular] Remove unnecessary public visibility
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.ts.ejs
Labels: theme: angular

#29448 Remove unnecessary lines
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker-compose/templates/central-server-config/application.yml.ejs
  generators/languages/templates/src/main/resources/i18n/messages_bg.properties.ejs
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/account.spec.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/account.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/authentication.ts.ejs
  generators/spring-boot/templates/gradle/profile_prod.gradle.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/impl/_entityClass_ServiceImpl.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/MailService.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/service/criteria/_entityClass_CriteriaTest.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/config/SpringBootTestClassOrderer.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/web/filter/SpaWebFilterIT_reactive.java.ejs
  generators/spring-cache/templates/src/test/java/_package_/config/EmbeddedRedis.java.ejs
  generators/spring-cloud-stream/generators/kafka/templates/src/test/java/_package_/config/EmbeddedKafka.java.ejs
  generators/spring-cloud-stream/generators/pulsar/templates/src/test/java/_package_/config/EmbeddedPulsar.java.ejs
  generators/spring-data-cassandra/templates/src/test/java/_package_/config/EmbeddedCassandra.java.ejs
  generators/spring-data-couchbase/templates/src/test/java/_package_/config/EmbeddedCouchbase.java.ejs
  generators/spring-data-elasticsearch/templates/src/test/java/_package_/config/EmbeddedElasticsearch.java.ejs
  generators/spring-data-mongodb/templates/src/test/java/_package_/config/EmbeddedMongo.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/repository/rowmapper/UserRowMapper_reactive.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/EmbeddedSQL.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/config/PostgreSqlTestContainer.java.ejs
  generators/vue/templates/src/main/webapp/app/router/account.ts.ejs
  generators/vue/templates/src/main/webapp/content/scss/vendor.scss.ejs
  lib/jdl/core/__test-support__/files/field_comments.jdl
  lib/jdl/core/__test-support__/files/realistic_sample.jdl
Labels: theme: gradle, theme: react, theme: docker :whale:, theme: java, theme: i18n, theme: vue

#29447 [Vue] Remove unnecessary spaces
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

#29455 Remove some spaces
  generators/angular/templates/src/main/webapp/app/app-page-title-strategy.ts.ejs
  generators/docker/templates/docker/pulsar.yml.ejs
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/enumeration/_enumName_.java.ejs
  generators/liquibase/templates/src/main/resources/META-INF/native-image/liquibase/reflect-config.json
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/add_relationship_constraints.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/filter/SpaWebFilter_imperative.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/config/TestContainersSpringContextCustomizerFactory.java.ejs
Labels: theme: angular, theme: docker :whale:, theme: java

#29425 chore!: drop node v18 and v21 support.
  generators/javascript/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  lib/testing/github-matrix.ts
  package-lock.json
  package.json
  test-integration/scripts/99-write-matrix.js
Labels: theme: dependencies

#29491 internal: drop loadStoredAppOptions function
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/command.ts
  generators/app/generator.ts
  generators/app/support/config.ts
  generators/base-core/generator.ts
  generators/base/generator.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-client/generator.ts
  generators/bootstrap-application/generator.ts
  generators/bootstrap/generator.ts
  generators/client/generator.ts
  generators/common/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/languages/command.ts
  generators/server/command.ts
  generators/server/generator.ts
  lib/command/types.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#29480 internal: start SharedData rework.
  cli/cli.spec.mts
  generators/angular/generator.ts
  generators/angular/needle-api/needle-client-angular.ts
  generators/base-core/generator-core.spec.ts
  generators/base-core/generator.ts
  generators/base-workspaces/generator.ts
  generators/base/api.d.ts
  generators/base/generator.ts
  generators/base/shared-data.ts
  generators/bootstrap-workspaces/generator.ts
  generators/client/needle-api/needle-client-vue.ts
  generators/generate-blueprint/generator.ts
  generators/project-name/generator.ts
  generators/react/generator.ts
  generators/vue/generator.ts
  lib/testing/helpers.ts
  package-lock.json
  package.json
  test/support/tests.js
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: cli, theme: dependencies, theme: vue

#29492 internal: improve writeFile types.
  generators/base-core/generator.ts
  generators/base-core/internal/index.ts
  generators/base-core/internal/write-files.ts
  generators/base/api.d.ts
  generators/liquibase/changelog-files.ts
Labels: theme: jhipster-internals, theme: java

#29502 internal: move getWebappTranslation from control to application
  generators/angular/generator.spec.ts
  generators/angular/generator.ts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.spec.ts
  generators/base/types.d.ts
  generators/client/generator.spec.ts
  generators/client/prompts.spec.ts
  generators/client/types.d.ts
  generators/entity/database-changelog.spec.ts
  generators/entity/single-entity.spec.ts
  generators/languages/generator.ts
  generators/react/generator.spec.ts
  generators/react/generator.ts
  generators/vue/generator.spec.ts
  generators/vue/generator.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: front, theme: i18n, theme: vue

#29503 internal: remove reproducible from control
  generators/base-core/generator.ts
  generators/base/command.ts
  generators/base/types.d.ts
Labels: theme: jhipster-internals

#29508 internal: cleanup control api
  generators/angular/generator.ts
  generators/base-core/generator.ts
  generators/base-workspaces/generator.ts
  generators/base/generator.ts
  generators/base/types.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/react/generator.ts
  generators/vue/generator.ts
  package-lock.json
  package.json
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: dependencies, theme: vue

#29532 internal: drop SharedData
  .blueprint/code-workspace/generator.mts
  .blueprint/from-issue/generator.mts
  .blueprint/generate-generator/generator.mts
  .blueprint/generate-sample/generator.mts
  .blueprint/github-build-matrix/generator.ts
  .blueprint/update-vscode/generator.mts
  generators/base-application/generator.ts
  generators/base-application/support/constants.ts
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/base/shared-data.ts
  generators/jdl/generator.ts
  generators/upgrade/generator.ts
  lib/command/types.d.ts
  lib/testing/helpers.ts
Labels: theme: upgrade, theme: jhipster-internals

#29534 update Okta instructions in generated READMEs
  generators/spring-boot/templates/README.md.jhi.spring-boot.ejs
Labels: theme: java

#29545 internal: move stateful isJhipsterVersionLessThan to control
  generators/angular/cleanup.ts
  generators/angular/entity-files-angular.ts
  generators/app/cleanup.ts
  generators/base-core/generator.ts
  generators/base/types.d.ts
  generators/cucumber/cleanup.ts
  generators/cypress/generator.ts
  generators/docker-compose/files.ts
  generators/feign-client/cleanup.ts
  generators/gatling/cleanup.ts
  generators/generate-blueprint/generator.ts
  generators/gradle/cleanup.ts
  generators/init/generator.ts
  generators/languages/generator.ts
  generators/maven/cleanup.ts
  generators/react/cleanup.ts
  generators/react/entity-files-react.ts
  generators/server/support/update-languages.ts
  generators/spring-boot/cleanup-oauth2.ts
  generators/spring-boot/cleanup.ts
  generators/spring-boot/command.ts
  generators/spring-boot/entity-cleanup.ts
  generators/spring-boot/entity-files.ts
  generators/spring-boot/generator.ts
  generators/spring-cache/cleanup.ts
  generators/spring-cloud-stream/generators/kafka/cleanup.ts
  generators/spring-data-cassandra/cleanup.ts
  generators/spring-data-couchbase/entity-files.ts
  generators/spring-data-couchbase/files.ts
  generators/spring-data-elasticsearch/cleanup.ts
  generators/spring-data-mongodb/cleanup.ts
  generators/spring-data-neo4j/cleanup.ts
  generators/spring-data-relational/cleanup.ts
  generators/vue/cleanup.ts
  generators/vue/entity-files-vue.ts
  generators/vue/generator.ts
Labels: theme: gradle, theme: angular, theme: react, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: i18n, theme: vue

#29547 internal: improve base and base-core
  generators/angular/generator.ts
  generators/base-application/generator.ts
  generators/base-core/generator.ts
  generators/base/generator.ts
  generators/base/types.d.ts
  generators/jdl/generator.ts
  generators/react/generator.ts
  generators/vue/generator.ts
  lib/types/base/tasks.d.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: vue

#29557 internal: rework jhipsterBootstrap feature implementation
  .blueprint/github-build-matrix/generator.ts
  generators/base-core/generator.ts
  generators/base/api.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-client/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.ts
  generators/bootstrap/generator.ts
  generators/generate-blueprint/templates/.blueprint/generate-sample/generator.mjs.ejs
  generators/generate-blueprint/templates/.blueprint/github-build-matrix/generator.mjs.ejs
  generators/info/generator.ts
  generators/javascript/generators/bootstrap/generator.spec.ts
Labels: theme: jhipster-internals

#29567 internal: make constants all commands types
  .blueprint/code-workspace/command.mts
  .blueprint/from-issue/command.mts
  .blueprint/generate-generator/command.mts
  .blueprint/generate-sample/command.mts
  .blueprint/update-vscode/command.mts
  generators/angular/command.ts
  generators/base-workspaces/command.ts
  generators/bootstrap/command.ts
  generators/ci-cd/command.ts
  generators/client/generators/common/command.ts
  generators/common/command.ts
  generators/cypress/command.ts
  generators/entities/command.ts
  generators/entity/command.ts
  generators/java/generators/code-quality/command.ts
  generators/java/generators/domain/command.ts
  generators/java/generators/jib/command.ts
  generators/java/generators/node/command.ts
  generators/maven/command.ts
  generators/maven/generators/code-quality/command.ts
  generators/maven/generators/frontend-plugin/command.ts
  generators/maven/generators/jib/command.ts
  generators/upgrade/command.ts
  generators/workspaces/command.ts
Labels: theme: angular, theme: upgrade, theme: jhipster-internals, theme: maven, theme: java, theme: front

#29568 internal: improve compose types
  .blueprint/cli/commands.mts
  .blueprint/generate-generator/generator.mts
  .blueprint/update-generators/command.ts
  .blueprint/update-generators/generator.ts
  .blueprint/update-generators/index.ts
  generators/base-application/generator.ts
  generators/base-core/generator.ts
  generators/types.ts
Labels: theme: jhipster-internals

#29581 internal: api cleanup
  cli/environment-builder.mjs
  cli/program.mts
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/generator.ts
  generators/base/__snapshots__/generator.spec.ts.snap
  generators/base/command.ts
  generators/base/generator.ts
  generators/base/internal/blueprint.spec.ts
  generators/base/internal/blueprint.ts
  generators/base/types.d.ts
  generators/bootstrap/generator.ts
  generators/export-jdl/command.ts
  generators/export-jdl/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  lib/command/types.d.ts
Labels: theme: jhipster-internals, theme: cli

#29604 internal: use new yeoman-generator generic type
  generators/app/cleanup.ts
  generators/base-core/generator.ts
  generators/base/generator.ts
  generators/base/types.d.ts
  generators/common/generator.ts
  generators/generate-blueprint/constants.ts
  generators/generate-blueprint/generator.ts
  generators/jdl/generator.ts
  generators/spring-boot/cleanup.ts
  generators/upgrade/generator.ts
  package-lock.json
  package.json
Labels: theme: upgrade, theme: jhipster-internals, theme: java, theme: front, theme: dependencies

#29605 internal: add bootstrapApplication priority
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.spec.ts
  generators/base-application/generator.ts
  generators/base-application/index.ts
  generators/base-application/priorities.ts
  generators/base-application/types.d.ts
  generators/base-simple-application/generator.ts
  generators/base-simple-application/priorities.ts
  generators/base/index.ts
  generators/bootstrap-application-base/generator.ts
  generators/common/generator.ts
  generators/javascript/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/bootstrap/generator.ts
  generators/project-name/support/basename-properties.ts
  generators/project-name/support/index.ts
  lib/types/application/application.d.ts
  lib/types/application/tasks.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#29629 internal: move preparation from utility functions to bootstrap generators.
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.component.html.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/support/config.ts
  generators/bootstrap-application-base/generator.spec.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-client/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/bootstrap-application/generator.ts
  generators/client/generator.ts
  generators/client/support/config.ts
  generators/client/support/index.ts
  generators/client/types.d.ts
  generators/common/generator.ts
  generators/common/templates/README.md.jhi.ejs
  generators/common/templates/sonar-project.properties.ejs
  generators/cypress/types.d.ts
  generators/gradle/generator.ts
  generators/java/generators/bootstrap/command.ts
  generators/java/generators/bootstrap/generator.ts
  generators/javascript/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/maven/__snapshots__/generator.spec.ts.snap
  generators/maven/generator.ts
  generators/maven/generators/frontend-plugin/__snapshots__/generator.spec.ts.snap
  generators/maven/generators/frontend-plugin/generator.spec.ts
  generators/maven/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/project-name/command.ts
  generators/project-name/generator.spec.ts
  generators/project-name/generator.ts
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/server/command.ts
  generators/server/generator.ts
  generators/server/support/config.ts
  generators/spring-boot/templates/src/main/java/_package_/config/Constants.java.ejs
  generators/vue/templates/src/main/webapp/app/core/jhi-navbar/jhi-navbar.vue.ejs
  generators/vue/templates/src/main/webapp/content/scss/vendor.scss.ejs
Labels: theme: gradle, theme: angular, theme: react, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: vue

#29635 internal: fix getDefaultAppName api
  generators/app/generator.ts
  generators/base/support/configuration-helpers/options.ts
  generators/base/support/index.ts
  generators/project-name/generator.ts
  generators/project-name/support/name-resolver.ts
Labels: theme: jhipster-internals

#29637 internal: expose source to generics
  generators/base-application/generator.ts
  generators/base-application/index.ts
  generators/base-application/types.d.ts
  generators/base-entity-changes/generator.ts
  generators/base-entity-changes/index.ts
  generators/base-entity-changes/types.d.ts
  generators/base-simple-application/generator.ts
  generators/base-simple-application/types.d.ts
  generators/base-workspaces/generator.ts
  generators/base-workspaces/types.d.ts
  generators/base/generator.ts
  generators/base/tasks.d.ts
  generators/base/types.d.ts
  generators/liquibase/generator.ts
  generators/liquibase/types.d.ts
  generators/server/types.d.ts
  lib/types/application/application.d.ts
  lib/types/application/tasks.d.ts
Labels: theme: jhipster-internals, theme: java

#29638 internal: move project-name customization to java:bootstrap
  generators/bootstrap-application-base/generator.ts
  generators/java/generators/bootstrap/generator.ts
Labels: theme: jhipster-internals, theme: java

#29643 internal: move translation.d.ts to client
  generators/angular/support/translate-angular.spec.ts
  generators/angular/support/translate-angular.ts
  generators/client/translation.d.ts
  generators/client/types.d.ts
  generators/languages/support/translate.ts
  generators/react/support/translate-react.spec.ts
  generators/react/support/translate-react.ts
  generators/vue/support/translate-vue.spec.ts
  generators/vue/support/translate-vue.ts
Labels: theme: angular, theme: react, theme: front, theme: i18n, theme: vue

#29640 internal: cleanup api.d.ts
  generators/base-application/generator.ts
  generators/base-application/index.ts
  generators/base-application/support/relationship.ts
  generators/base-application/types-all.d.ts
  generators/base-application/types.d.ts
  generators/base-core/generator.ts
  generators/base-core/index.ts
  generators/base-core/types.d.ts
  generators/base/api.d.ts
  generators/base/types.d.ts
  generators/info/generator.ts
  generators/java/support/checks/check-java.ts
  generators/java/support/key-store.ts
  generators/jdl/generator.ts
  generators/project-name/generator.ts
  generators/server/support/database.ts
  generators/server/support/relationship.ts
  generators/workspaces/generator.ts
  lib/testing/helpers.ts
Labels: theme: jhipster-internals, theme: java
