Repository jhipster/generator-jhipster, pull requests merged in 2025-10, with the labels that each got.

#30866 [Angular] Sonar: Unexpected negated condition
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.ts.ejs
Labels: theme: angular

#30867 [Angular] Sonar: Prefer globalThis over window
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.ts.ejs
Labels: theme: angular

#30868 [Angular] Sonar: Prefer Math.min() to simplify ternary expressions
  generators/angular/templates/src/main/webapp/app/shared/pagination/item-count.ts.ejs
Labels: theme: gradle, theme: angular, theme: docker :whale:, theme: jhipster-internals, theme: java, theme: front, theme: dependencies, theme: CI builds

#30914 [Angular] Sonar: Use for…of instead of .forEach(…)
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/jvm-threads/jvm-threads.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.ts.ejs
Labels: theme: angular

#30912 angular: fix daily-builds no-db
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.ts.ejs
Labels: theme: angular

#30937 [Angular] Sonar: Use for…of instead of .forEach(…)
  generators/angular/templates/src/main/webapp/app/core/request/request-util.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.ts.ejs
Labels: theme: angular

#30941 [Angular] Sonar: Prefer top-level await over using a promise chain
  generators/angular/templates/src/main/webapp/bootstrap.ts.ejs
  generators/angular/templates/src/main/webapp/main.ts.ejs
Labels: theme: angular

#30954 Revert "[Angular] Sonar: Prefer top-level await over using a promise chain"
  generators/angular/templates/src/main/webapp/bootstrap.ts.ejs
  generators/angular/templates/src/main/webapp/main.ts.ejs
Labels: theme: angular

#30939 [Angular] Sonar: Prefer node:buffer over buffer
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
Labels: theme: angular, $100, $$ bug-bounty $$

#30942 Fix bump keycloak/keycloak from 26.3.4 to 26.4.0
  generators/docker-compose/__snapshots__/docker-compose.spec.ts.snap
  generators/docker-compose/templates/docker-compose.yml.ejs
  generators/docker-compose/templates/realm-config/jhipster-realm.json.ejs
  generators/docker-compose/templates/realm-config/keycloak-health-check.sh.ejs
  generators/docker/templates/docker/keycloak.yml.ejs
  generators/docker/templates/docker/realm-config/jhipster-realm.json.ejs
  generators/docker/templates/docker/realm-config/keycloak-health-check.sh
  generators/server/resources/Dockerfile
Labels: theme: docker :whale:, theme: java

#30962 [Angular] Sonar: Prefer String#codePointAt() over String#charCodeAt()
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
Labels: theme: angular

#30968 [Angular] Fix: $localize is not defined
  generators/angular/templates/src/main/webapp/bootstrap.ts.ejs
Labels: theme: angular

#30971 [Angular] Sonar: Disable Prefer top-level await over using a promise chain
  generators/angular/templates/src/main/webapp/bootstrap.ts.ejs
  generators/angular/templates/src/main/webapp/main.ts.ejs
Labels: theme: angular

#30986 Fix double slashes in paths
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/generator.ts
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/generator.ts
  generators/vue/__snapshots__/generator.spec.ts.snap
  generators/vue/generator.ts
Labels: theme: angular, theme: react, theme: vue
