Repository jhipster/generator-jhipster, pull requests merged in 2025-04, with the labels that each got.

#29123 java: revert supported java version to 23
  README.md
  generators/generator-constants.js
Labels: theme: jhipster-internals, pr: disable-sonar

#29156 ci: adjust issue check
  .github/workflows/issue-check.yml
Labels: theme: CI builds

#29157 ci: more issue-check adjusts
  .blueprint/from-issue/generator.mts
  .github/workflows/issue-check.yml
Labels: theme: CI builds

#29195 internal: disable autoCrlf on Windows by default
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-core/generator.ts
  generators/bootstrap/command.ts
  generators/init/__snapshots__/generator.spec.ts.snap
  generators/jdl/__snapshots__/generator.spec.ts.snap
Labels: theme: jhipster-internals

#29239 cli: remove jhipster 8 warning
  cli/cli.mjs
Labels: theme: cli

#29256 switch cassandra docker image to 5.0.2
  generators/server/resources/Dockerfile
Labels: theme: java

#29254 [React] Unused pageLocation
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-delete-dialog.tsx.ejs
Labels: theme: react

#29258 [React] Unused action
  generators/react/templates/src/main/webapp/app/shared/reducers/reducer.utils.ts.ejs
Labels: theme: react

#29257 [React] Unused store in test
  generators/react/templates/src/main/webapp/app/shared/reducers/application-profile.spec.ts.ejs
Labels: theme: react

#29262 [React] Unused store in test
  generators/react/templates/src/main/webapp/app/shared/reducers/locale.spec.ts.ejs
Labels: theme: react

#29264 [React] Unused store in test
  generators/react/templates/src/main/webapp/app/modules/administration/administration.reducer.spec.ts.ejs
Labels: theme: react

#29265 [Angular] Update URL for Angular CLI
  generators/angular/templates/README.md.jhi.client.angular.ejs
Labels: theme: angular

#29266 [React] Hide unused thunkAPI
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.reducer.ts.ejs
Labels: theme: react

#29269 [Vue] Fix warning vue/order-in-components
  generators/vue/templates/src/main/webapp/app/main.ts.ejs
Labels: theme: vue

#29270 [Vue] Remove unused vars
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login-form/login-form.component.ts.ejs
Labels: theme: vue

#29271 [Vue] Variable key is already declared in the upper scope
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.vue.ejs
Labels: theme: vue

#29295 [Angular] bump typescript-eslint 8.31.0
  generators/angular/resources/package.json
  generators/angular/templates/eslint.config.js.jhi.angular.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.html.ejs
  generators/javascript/generators/eslint/templates/eslint.config.js.jhi.ejs
Labels: theme: angular, theme: dependencies

#29313 feat(internal): add option to copy conflicted file back to the template
  cli/environment-builder.mjs
  generators/base/api.d.ts
  generators/bootstrap/generator.ts
  lib/testing/apply-patch-to-template.ts
Labels: theme: jhipster-internals, theme: cli

#29315 [Vue] Remove public visibility (default) on methods
  generators/vue/templates/src/main/webapp/app/account/account.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/activate/activate.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/login.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/account/register/register.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/configuration/configuration.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/gateway/gateway.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/health/health.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/logs/logs.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/user/user.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/locale/translation.service.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
Labels: theme: vue

#29316 [Angular] Remove public visibility (default) on methods
  generators/angular/templates/src/main/webapp/app/core/tracker/tracker.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.service.ts.ejs
Labels: theme: angular

#29317 [Vue] Property shorthand
  generators/vue/templates/src/main/webapp/app/account/change-password/change-password.vue.ejs
  generators/vue/templates/src/main/webapp/app/account/settings/settings.vue.ejs
  generators/vue/templates/src/main/webapp/app/core/home/home.vue.ejs
Labels: theme: vue
