Repository jhipster/generator-jhipster, pull requests merged in 2025-09, with the labels that each got.

#30572 Fix some typos
  cli/jhipster-command.js
  generators/base/generator.ts
  generators/entity/generator.ts
  generators/spring-boot/cleanup.ts
Labels: theme: jhipster-internals, theme: java, theme: cli

#30573 Fix some typos and translations
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/filter/filter.model.spec.ts.ejs
  generators/client/generators/i18n/templates/src/main/webapp/i18n/en/home.json.ejs
  generators/client/generators/i18n/templates/src/main/webapp/i18n/fr/global.json.ejs
  generators/java/generators/i18n/templates/src/main/resources/i18n/messages_fr.properties.ejs
  generators/react/support/translate-react.spec.ts
  generators/react/templates/src/main/webapp/app/modules/home/home.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/reducers/locale.spec.ts.ejs
  generators/spring-boot/templates/src/main/resources/static/index_microservices.html.ejs
Labels: theme: angular, theme: react, theme: java, theme: front, theme: i18n

#30576 Switch MockBean (deprecated) to MockitoBean
  generators/spring-boot/generators/jwt/templates/src/test/java/_package_/security/jwt/AuthenticationIntegrationTest.java.ejs
  generators/spring-boot/generators/jwt/templates/src/test/java/_package_/security/jwt/JwtAuthenticationTestUtils.java.ejs
Labels: theme: java

#30579 rename javascript generator to javascript-simple-application
  generators/angular/generator.ts
  generators/client/generator.ts
  generators/client/types.d.ts
  generators/common/command.ts
  generators/common/generator.ts
  generators/common/generators/bootstrap/generator.ts
  generators/common/types.d.ts
  generators/export-jdl/command.ts
  generators/init/command.ts
  generators/init/generator.spec.ts
  generators/init/generator.ts
  generators/init/types.d.ts
  generators/java/generators/bootstrap/generator.ts
  generators/javascript-simple-application/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generator.spec.ts
  generators/javascript-simple-application/generator.ts
  generators/javascript-simple-application/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generators/bootstrap/command.ts
  generators/javascript-simple-application/generators/bootstrap/generator.spec.ts
  generators/javascript-simple-application/generators/bootstrap/generator.ts
  generators/javascript-simple-application/generators/bootstrap/index.ts
  generators/javascript-simple-application/generators/eslint/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generators/eslint/command.ts
  generators/javascript-simple-application/generators/eslint/generator.spec.ts
  generators/javascript-simple-application/generators/eslint/generator.ts
  generators/javascript-simple-application/generators/eslint/index.ts
  generators/javascript-simple-application/generators/eslint/support/index.ts
  generators/javascript-simple-application/generators/eslint/support/tasks.ts
  generators/javascript-simple-application/generators/eslint/templates/eslint.config.js.jhi.ejs
  generators/javascript-simple-application/generators/husky/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generators/husky/command.ts
  generators/javascript-simple-application/generators/husky/generator.spec.ts
  generators/javascript-simple-application/generators/husky/generator.ts
  generators/javascript-simple-application/generators/husky/index.ts
  generators/javascript-simple-application/generators/husky/templates/.husky/pre-commit.ejs
  generators/javascript-simple-application/generators/husky/templates/.lintstagedrc.cjs.ejs
  generators/javascript-simple-application/generators/prettier/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generators/prettier/command.ts
  generators/javascript-simple-application/generators/prettier/generator.spec.ts
  generators/javascript-simple-application/generators/prettier/generator.ts
  generators/javascript-simple-application/generators/prettier/index.ts
  generators/javascript-simple-application/generators/prettier/templates/.prettierignore.jhi.ejs
  generators/javascript-simple-application/generators/prettier/templates/.prettierrc.yml.jhi.ejs
  generators/javascript-simple-application/index.ts
  generators/javascript-simple-application/resources/package.json
  generators/javascript-simple-application/support/index.ts
  generators/javascript-simple-application/support/reserved-words.ts
  generators/javascript-simple-application/templates/package.json.ejs
  generators/javascript-simple-application/types.d.ts
  generators/languages/generators/bootstrap/generator.ts
  generators/react/generator.ts
  generators/types.d.ts
  generators/vue/generator.ts
  generators/workspaces/generator.ts
  lib/jhipster/reserved-keywords.ts
  lib/testing/__snapshots__/helpers.spec.ts.snap
  lib/types/command-all.d.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: dependencies, theme: vue

#30605 Angular: Import only NgClass and not all CommonModule
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert.ts.ejs
Labels: theme: angular

#30597 Vue: Simplify code
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
Labels: theme: vue

#30608 Angular: remove some unnecessary provideHttpClient in tests
  generators/angular/templates/src/main/webapp/app/account/settings/settings.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.spec.ts.ejs
Labels: theme: angular

#30633 replace clientPackageManager with nodePackageManager
  generators/angular/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/angular/templates/angular.json.ejs
  generators/angular/templates/angular.json.esbuild.ejs
  generators/angular/templates/package.json.ejs
  generators/angular/templates/src/main/webapp/content/scss/vendor.scss.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/application.ts
  generators/base-core/internal/jhipster7-context.ts
  generators/base/__snapshots__/generator.spec.ts.snap
  generators/base/command.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/ci-cd/templates/.circleci/config.yml.ejs
  generators/ci-cd/templates/.github/workflows/main.yml.ejs
  generators/ci-cd/templates/.gitlab-ci.yml.ejs
  generators/ci-cd/templates/.travis.yml.ejs
  generators/ci-cd/templates/jenkins/Jenkinsfile.ejs
  generators/client/generator.ts
  generators/client/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/client/templates/README.md.jhi.client.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/common/__snapshots__/application.spec.ts.snap
  generators/common/application.ts
  generators/common/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/java-simple-application/generators/bootstrap/generator.ts
  generators/java/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generator.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/react/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/react/templates/package.json.ejs
  generators/server/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/server/generators/bootstrap/generator.ts
  generators/spring-boot/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/vue/generator.ts
  generators/vue/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/vue/templates/package.json.ejs
  generators/vue/templates/src/main/webapp/content/scss/vendor.scss.ejs
  generators/workspaces/generator.ts
  lib/jdl/converters/json-to-jdl-converter.spec.ts
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/app_with_entities/.yo-rc.json
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/multi_apps/app1/.yo-rc.json
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/multi_apps/app2/.yo-rc.json
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/multi_apps/app3/.yo-rc.json
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/with_authority/.yo-rc.json
  lib/jdl/core/__test-support__/files/json_to_jdl_converter/with_user/.yo-rc.json
  lib/jdl/core/built-in-options/tokens/application-tokens.ts
  lib/jdl/core/parsing/validator.spec.ts
  lib/jhipster/application-options.ts
  lib/jhipster/jdl-validator-definition.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#30637 improve types.
  generators/angular/generator.ts
  generators/angular/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generators/bootstrap/generator.ts
  generators/base-application/generators/bootstrap/generator.ts
  generators/base-application/types.d.ts
  generators/base-simple-application/__snapshots__/application.spec.ts.snap
  generators/base-simple-application/application.ts
  generators/base-simple-application/generators/bootstrap/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/client/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/common/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/common/generators/bootstrap/generator.ts
  generators/generate-blueprint/generator.ts
  generators/gradle/types.d.ts
  generators/java-simple-application/generator.ts
  generators/java-simple-application/generators/bootstrap/generator.ts
  generators/java-simple-application/types.d.ts
  generators/java/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/java/types.d.ts
  generators/javascript-simple-application/__snapshots__/application.spec.ts.snap
  generators/javascript-simple-application/application.spec.ts
  generators/javascript-simple-application/application.ts
  generators/javascript-simple-application/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/javascript-simple-application/generators/bootstrap/generator.ts
  generators/javascript-simple-application/generators/eslint/generator.ts
  generators/javascript-simple-application/generators/husky/generator.spec.ts
  generators/javascript-simple-application/generators/husky/templates/.lintstagedrc.cjs.ejs
  generators/javascript-simple-application/generators/prettier/generator.ts
  generators/javascript-simple-application/types.d.ts
  generators/react/generator.ts
  generators/react/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/server/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/spring-boot/generators/bootstrap/__snapshots__/generator.spec.ts.snap
  generators/vue/generator.ts
  generators/vue/generators/bootstrap/__snapshots__/generator.spec.ts.snap
Labels: theme: gradle, theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#30636 Angular: some improvements
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-form.service.spec.ts.ejs
Labels: theme: angular

#30638 [Angular] Rework tests
  generators/angular/templates/src/main/webapp/app/account/activate/activate.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password-strength-bar/password-strength-bar.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/configuration/configuration.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/health.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/health/modal/health-modal.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/logs/logs.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/metrics/metrics.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/config/application-config.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-form.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/home/home.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/main/main.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/profiles/page-ribbon.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert-error.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/alert/alert.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/auth/has-any-authority.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/language/translate.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/pagination/item-count.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort.directive.spec.ts.ejs
Labels: theme: angular, $100, $$ bug-bounty $$

#30657 [Angular] Rework mock functions
  generators/angular/templates/src/main/webapp/app/admin/user-management/delete/user-management-delete-dialog.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/delete/_entityFile_-delete-dialog.spec.ts.ejs
Labels: theme: angular

#30658 [Angular] Remove unnecessary SpyInstance
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.spec.ts.ejs
Labels: theme: angular

#30683 [Angular] Not import all RouterModule
  generators/angular/templates/src/main/webapp/app/account/activate/activate.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/detail/user-management-detail.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/list/user-management.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.ts.ejs
  generators/angular/templates/src/main/webapp/app/home/home.ts.ejs
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.ts.ejs
Labels: theme: angular

#30686 [Angular] Tests: Remove unnecessary FormBuilder
  generators/angular/templates/src/main/webapp/app/account/password-reset/finish/password-reset-finish.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password-reset/init/password-reset-init.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/password/password.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/register/register.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/account/settings/settings.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/admin/user-management/update/user-management-update.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.spec.ts.ejs
Labels: theme: angular

#30688 [Angular] Remove duplicated describe
  generators/angular/templates/src/main/webapp/app/core/util/alert.service.spec.ts.ejs
Labels: theme: angular

#30724 [React] Rewrite sinon tests
  generators/react/templates/src/main/webapp/app/config/notification-middleware.spec.ts.ejs
Labels: theme: react

#30726 [React] Remove ternary operator
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/account/password-reset/finish/password-reset-finish.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/account/sessions/sessions.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/configuration/configuration.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/health/health.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management-detail.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management-update.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/user-management/user-management.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/login/login-modal.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/header/header.tsx.ejs
  generators/react/templates/src/main/webapp/app/shared/layout/menus/locale.tsx.ejs
Labels: theme: react

#30728 [React] Avoid duplicated code
  generators/react/templates/src/main/webapp/app/modules/administration/health/health.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/logs/logs.tsx.ejs
  generators/react/templates/src/main/webapp/app/modules/administration/metrics/metrics.tsx.ejs
Labels: theme: react

#30730 [Vue] Fix vue/require-default-prop warnings
  generators/vue/templates/src/main/webapp/app/admin/health/health-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/metrics/metrics-modal.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/jhi-item-count.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/sort/jhi-sort-indicator.component.ts.ejs
Labels: theme: vue

#30753 [Vue] Remove unused code
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.spec.ts.ejs
Labels: theme: vue

#30754 Vue: use toHaveBeenCalledOnce and toHaveBeenCalledExactlyOnceWith
  generators/vue/templates/src/main/webapp/app/admin/tracker/tracker.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.spec.ts.ejs
Labels: theme: vue

#30784 [Angular] Fix warning: RouterLink is not used
  generators/angular/templates/src/main/webapp/app/home/home.ts.ejs
Labels: theme: angular

#30792 [Vue] useToastController is deprecated
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-edit.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management-view.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/admin/user-management/user-management.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.component.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.spec.ts.ejs
  generators/vue/templates/src/main/webapp/app/shared/alert/alert.service.ts.ejs
Labels: theme: vue

#30802 [Angular] Remove unused mockImplementation/mockReturnValue
  generators/angular/templates/src/main/webapp/app/admin/metrics/blocks/metrics-modal-threads/metrics-modal-threads.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/auth/account.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/route/_entityFile_-routing-resolve.service.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/home/home.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.spec.ts.ejs
Labels: theme: angular

#30807 [Angular] Remove useless jest.mock
  generators/angular/templates/src/main/webapp/app/layouts/navbar/navbar.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/login/login.spec.ts.ejs
Labels: theme: angular

#30810 [Vue] Fix path in tsconfig.app.json
  generators/vue/templates/tsconfig.app.json.ejs
Labels: theme: vue

#30851 Angular/Sonar Fix some code smells
  generators/angular/templates/src/main/webapp/app/core/util/data-util.service.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/operators.ts.ejs
  generators/angular/templates/src/main/webapp/app/core/util/parse-links.service.ts.ejs
Labels: theme: angular

#30852 [Angular] Sonar: Do not use an object literal as default for parameter
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-form.service.ts.ejs
Labels: theme: angular

#30874 Revert "build(deps): bump yeoman-environment from 5.0.0-beta.2 to 5.0.0"
  package-lock.json
  package.json
Labels: theme: dependencies
