Repository jhipster/generator-jhipster, pull requests merged in 2025-07, with the labels that each got.

#29884 Update angular to v20
  generators/angular/generator.ts
  generators/angular/resources/package.json
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/shared/sort/sort-by.directive.ts.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
Labels: theme: angular, theme: jhipster-internals, theme: dependencies

#29943 internal: bootstrap-application-server types adjusts
  generators/base-application/relationship-all.d.ts
  generators/base-application/support/entity.ts
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/relationship.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/java/types.d.ts
  generators/liquibase/types.d.ts
  generators/server/support/prepare-relationship.ts
  generators/server/support/relationship.ts
  generators/server/types.d.ts
  generators/spring-boot/generator.ts
Labels: theme: jhipster-internals, theme: java

#29947 Fix incorrect use of 2 * Integer.MAX_VALUE
  generators/java/generators/domain/templates/src/test/java/_package_/_entityPackage_/domain/_persistClass_TestSamples.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
Labels: theme: java

#29967 internal: types adjusts
  generators/app/generator.ts
  generators/base-application/index.ts
  generators/base-application/internal/types/field-types.ts
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/prepare-field.spec.ts
  generators/base-application/support/prepare-field.ts
  generators/base-application/support/prepare-property.ts
  generators/base-application/types.d.ts
  generators/base-entity-changes/generator.ts
  generators/base-entity-changes/types.d.ts
  generators/base-simple-application/index.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/bootstrap-application/generator.ts
  generators/client/templates/README.md.jhi.client.ejs
  generators/common/types.d.ts
  generators/index.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/node/__snapshots__/generator.spec.ts.snap
  generators/java/generators/node/generator.ts
  generators/java/types.d.ts
  generators/javascript/types.d.ts
  generators/jdl/generator.spec.ts
  generators/jdl/generator.ts
  generators/jdl/types.d.ts
  generators/liquibase/generator.ts
  generators/liquibase/types.d.ts
  generators/server/support/prepare-entity.ts
  generators/server/support/prepare-field.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/types.d.ts
  generators/spring-cloud/types.d.ts
  generators/spring-data-relational/types.d.ts
  lib/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.ts
  lib/jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-without-application-to-json-converter.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/parsed-jdl-to-jdl-object-converter.ts
  lib/jdl/converters/validators/entity-validator.ts
  lib/jdl/converters/validators/enum-validator.spec.ts
  lib/jdl/converters/validators/enum-validator.ts
  lib/jdl/converters/validators/jdl-with-application-validator.spec.ts
  lib/jdl/converters/validators/jdl-with-application-validator.ts
  lib/jdl/converters/validators/jdl-without-application-validator.spec.ts
  lib/jdl/converters/validators/jdl-without-application-validator.ts
  lib/jdl/converters/validators/validator.ts
  lib/jdl/core/models/jdl-object-wrapper.ts
  lib/jdl/core/types/parsed.d.ts
  lib/jdl/integration-test.spec.ts
  lib/jdl/jdl-importer.spec.ts
  lib/jdl/jdl-importer.ts
  lib/jhipster/field-types.spec.ts
  lib/jhipster/field-types.ts
  lib/testing/helpers.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#29983 internal: don't use SourceAll by default
  generators/base-application/generator.ts
  generators/cypress/generator.ts
  generators/languages/generator-needles.spec.ts
  generators/languages/generator.ts
  generators/languages/types.d.ts
  generators/liquibase/needles.spec.ts
  generators/maven/needles.spec.ts
  generators/server/needle-logback.spec.ts
  generators/spring-cache/needles.spec.ts
  generators/spring-cloud-stream/generators/kafka/generator.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/types.d.ts
  generators/spring-data-relational/generator.ts
  generators/spring-data-relational/types.d.ts
  lib/types/source-all.d.ts
Labels: theme: jhipster-internals, theme: maven, theme: java, theme: i18n

#29984 internal: don't use ConfigAll by default
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/app/generator.ts
  generators/base-application/generator.ts
  generators/base-application/support/prepare-entity.ts
  generators/bootstrap-application-server/generator.ts
  generators/client/support/update-languages.ts
  generators/common/command.ts
  generators/common/types.d.ts
  generators/java/generators/node/generator.ts
  generators/java/index.ts
  generators/jdl/__snapshots__/generator.spec.ts.snap
  generators/languages/generator.ts
  generators/server/command.ts
  generators/server/support/update-languages.ts
  generators/spring-boot/generator.ts
  generators/spring-boot/index.ts
  generators/spring-boot/prompts.ts
  generators/spring-boot/types.d.ts
  generators/spring-cache/types.d.ts
  generators/spring-data-neo4j/generator.ts
  generators/spring-data-relational/types.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front, theme: i18n

#29988 kubernetes: types adjusts
  generators/base-workspaces/internal/deployments.ts
  generators/base-workspaces/internal/docker-base.ts
  generators/base-workspaces/internal/docker-dependencies.ts
  generators/base-workspaces/support/config.ts
  generators/base-workspaces/types.d.ts
  generators/docker-compose/generator.ts
  generators/docker/support/check-docker.ts
  generators/kubernetes-helm/files.ts
  generators/kubernetes-helm/generator.ts
  generators/kubernetes-knative/files.ts
  generators/kubernetes-knative/generator.ts
  generators/kubernetes-knative/prompts.ts
  generators/kubernetes/files.ts
  generators/kubernetes/generator.ts
  generators/kubernetes/kubernetes-base.ts
  generators/kubernetes/prompts.ts
Labels: theme: kubernetes, theme: docker :whale:

#29996 base-workspaces: remove workspaces state object
  generators/base-workspaces/generator.ts
  generators/base-workspaces/index.ts
  generators/base-workspaces/support/task-type-inference.ts
  generators/base-workspaces/tasks.d.ts
  generators/base-workspaces/types.d.ts
  generators/bootstrap-workspaces/generator.ts
  generators/docker-compose/generator.ts
  generators/workspaces/generator.ts
Labels: theme: docker :whale:, theme: jhipster-internals

#30018 Add @Serial on all serialVersionUID
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/criteria/_entityClass_Criteria.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/domain/AbstractAuditingEntity.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/domain/PersistentToken.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/domain/User.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/PersistentTokenRememberMeServices.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/security/UserNotActivatedException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/EmailAlreadyUsedException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/InvalidPasswordException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/UsernameAlreadyUsedException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/dto/AdminUserDTO.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/dto/PasswordChangeDTO.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/service/dto/UserDTO.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_oauth2.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/AccountResource_skipUserManagement.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/BadRequestAlertException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/EmailAlreadyUsedException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/FieldErrorVM.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/InvalidPasswordException.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/web/rest/errors/LoginAlreadyUsedException.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/_package_/web/rest/errors/QuerySyntaxException.java.ejs
  generators/spring-data-elasticsearch/templates/src/main/java/_package_/web/web/rest/errors/QuerySyntaxException.java.ejs
  generators/spring-data-relational/templates/src/test/java/_package_/repository/timezone/DateTimeWrapper.java.ejs
Labels: theme: java

#30030 kubernetes: finalize refactoring.
  generators/base-workspaces/internal/deployments.ts
  generators/base-workspaces/internal/docker-base.ts
  generators/base-workspaces/internal/docker-prompts.ts
  generators/base-workspaces/internal/index.ts
  generators/base-workspaces/support/config.ts
  generators/base-workspaces/support/index.ts
  generators/base-workspaces/support/task-type-inference.ts
  generators/base-workspaces/types.d.ts
  generators/bootstrap-workspaces/generator.ts
  generators/docker-compose/cleanup.ts
  generators/docker-compose/files.ts
  generators/docker-compose/generator.ts
  generators/docker-compose/templates/prometheus-conf/prometheus.yml.ejs
  generators/kubernetes-helm/__snapshots__/kubernetes.helm.spec.ts.snap
  generators/kubernetes-helm/generator.ts
  generators/kubernetes-helm/templates/helm-apply.sh.ejs
  generators/kubernetes-helm/templates/helm-upgrade.sh.ejs
  generators/kubernetes-knative/__snapshots__/knative.spec.ts.snap
  generators/kubernetes-knative/generator.ts
  generators/kubernetes-knative/prompts.ts
  generators/kubernetes-knative/templates/helm-apply.sh.ejs
  generators/kubernetes-knative/templates/helm-upgrade.sh.ejs
  generators/kubernetes/__snapshots__/kubernetes.spec.ts.snap
  generators/kubernetes/generator.ts
  generators/kubernetes/generators/bootstrap/generator.ts
  generators/kubernetes/kubernetes-base.ts
  generators/kubernetes/kubernetes-constants.ts
  generators/kubernetes/kubernetes.spec.ts
  generators/kubernetes/prompts.ts
  generators/kubernetes/types.d.ts
  lib/jdl/__snapshots__/jdl-importer.spec.ts.snap
  lib/jdl/converters/exporters/jhipster-deployment-exporter.spec.ts
  lib/jhipster/deployment-options.ts
Labels: theme: kubernetes, theme: docker :whale:, theme: jhipster-internals

#30039 chore: drop otherEntity* properties, reference usages and improve types
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/detail/_entityFile_-detail.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/list/_entityFile_.component.html.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.spec.ts.ejs
  generators/angular/templates/src/main/webapp/app/entities/_entityFolder_/update/_entityFile_-update.component.ts.ejs
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/prepare-relationship.ts
  generators/base-application/types.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.spec.ts
  generators/client/support/entity-definition.ts
  generators/client/support/template-utils.spec.ts
  generators/client/support/template-utils.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/domain/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.ejs
  generators/javascript/types.d.ts
  generators/liquibase/generator.ts
  generators/liquibase/support/relationship.ts
  generators/liquibase/templates/src/main/resources/config/liquibase/changelog/add_relationship_constraints.ejs
  generators/liquibase/types.d.ts
  generators/react/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.tsx.ejs
  generators/server/support/prepare-entity.ts
  generators/server/support/prepare-relationship.ts
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/_partials_entity_/inject_template.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/service/impl/_entityClass_ServiceImpl.java.ejs
  generators/spring-boot/templates/src/main/java/_package_/_entityPackage_/web/rest/_entityClass_Resource.java.ejs
  generators/spring-boot/templates/src/test/java/_package_/_entityPackage_/web/rest/_entityClass_ResourceIT.java.ejs
  generators/spring-data-couchbase/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.spring_data_couchbase.ejs
  generators/spring-data-couchbase/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_Repository.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/domain/_persistClass_.java.jhi.spring_data_reactive.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_Repository.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_RepositoryInternalImpl_reactive.java.ejs
  generators/spring-data-relational/templates/src/main/java/_package_/_entityPackage_/repository/_entityClass_Repository_reactive.java.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-details.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.component.ts.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_-update.vue.ejs
  generators/vue/templates/src/main/webapp/app/entities/_entityFolder_/_entityFile_.vue.ejs
  lib/types/relationship-all.d.ts
  lib/utils/path.ts
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: vue

#30042 chore: drop deprecated methods and properties.
  generators/base-application/generator.ts
  generators/base-application/support/prepare-field.ts
  generators/base-application/types.d.ts
  generators/base/types.d.ts
  generators/bootstrap-application/generator.spec.ts
  generators/export-jdl/__snapshots__/export-jdl.spec.ts.snap
  lib/jdl/converters/jdl-to-json/jdl-to-json-basic-entity-converter.ts
  lib/jdl/converters/json-to-jdl-converter.spec.ts
  lib/jdl/core/linters/entity-linter.ts
  lib/jdl/core/linters/jdl-linter.spec.ts
  lib/jdl/core/linters/rules.ts
  lib/jdl/core/models/jdl-entity.spec.ts
  lib/jdl/core/models/jdl-entity.ts
  lib/jdl/core/utils/entity-table-name-creator.spec.ts
  lib/jdl/core/utils/entity-table-name-creator.ts
  lib/testing/helpers.ts
Labels: theme: jhipster-internals

#30045 Fix warnings: unused-imports/no-unused-vars
  generators/kubernetes-knative/files.ts
  generators/kubernetes-knative/generator.ts
  lib/jdl/jdl-importer.ts
Labels: theme: kubernetes

#30049 chore: drop reference
  generators/angular/support/index.ts
  generators/angular/support/path-utils.ts
  generators/base-application/support/prepare-entity.spec.ts
  generators/base-application/support/prepare-entity.ts
  generators/base-application/support/prepare-field.ts
  generators/base-application/support/prepare-relationship.ts
  generators/base-application/types.d.ts
  generators/bootstrap-application/generator.spec.ts
  generators/client/support/entity-definition.ts
  generators/client/support/template-utils.ts
  generators/common/types.d.ts
  generators/cypress/generator.ts
  generators/cypress/templates/src/test/javascript/cypress/e2e/entity/_entity_.cy.ts.ejs
  generators/cypress/types.d.ts
Labels: theme: angular, theme: jhipster-internals, theme: java, theme: front

#30050 Remove any to CliCommand
  cli/cli.spec.mts
Labels: theme: cli

#30048 Remove any to LookupOptions
  cli/program.mts
Labels: theme: cli

#30064 internal: drop implicity any from faker
  generators/base-application/support/faker.ts
Labels: theme: jhipster-internals

#30067 react: add entityReactState to react types.
  generators/client/generator.ts
  generators/react/application/entities/index.ts
  generators/react/generator.ts
Labels: theme: react, theme: front

#30069 internal: drop custom string utilities
  generators/bootstrap-application-base/generator.ts
  generators/project-name/support/basename-properties.ts
  lib/jdl/converters/jdl-to-json/jdl-to-json-field-converter.ts
  lib/jdl/converters/jdl-to-json/jdl-to-json-relationship-converter.ts
  lib/jdl/converters/json-to-jdl-entity-converter.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/field-converter.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/relationship-converter.ts
  lib/jdl/core/basic-types/json-entity.ts
  lib/utils/string-utils.ts
  lib/utils/string_utils.spec.ts
  lib/utils/yo-rc.ts
Labels: theme: jhipster-internals

#30099 Lots of work related to implicit any
  cli/program.mts
  generators/liquibase/generator.ts
  generators/liquibase/internal/relationship-on-handler-options.ts
  generators/liquibase/types.d.ts
  generators/spring-cloud-stream/generator.spec.ts
  generators/spring-cloud-stream/generators/kafka/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud-stream/generators/kafka/generator.spec.ts
  generators/spring-cloud-stream/generators/pulsar/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud-stream/generators/pulsar/generator.spec.ts
  lib/command/converter.ts
  lib/command/lookup-commands-configs.spec.ts
  lib/jdl-config/jhipster-jdl-config.spec.ts
  lib/jdl-config/jhipster-jdl-config.ts
  lib/jdl/converters/exporters/jdl-exporter.spec.ts
  lib/jdl/converters/jdl-to-json/jdl-with-applications-to-json-converter.spec.ts
  lib/jdl/converters/json-to-jdl-application-converter.spec.ts
  lib/jdl/converters/json-to-jdl-application-converter.ts
  lib/jdl/converters/json-to-jdl-converter.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/application-converter.spec.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/application-converter.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/option-converter.spec.ts
  lib/jdl/converters/parsed-jdl-to-jdl-object/option-converter.ts
  lib/jdl/converters/validators/jdl-with-application-validator.spec.ts
  lib/jdl/core/__test-support__/index.ts
  lib/jdl/core/basic-types/json-entity.spec.ts
  lib/jdl/core/built-in-options/jdl-application-definition.spec.ts
  lib/jdl/core/models/jdl-application-configuration-factory.spec.ts
  lib/jdl/core/models/jdl-application-factory.spec.ts
  lib/jdl/core/models/jdl-application-factory.ts
  lib/jdl/core/models/jdl-application.spec.ts
  lib/jdl/core/models/jdl-enum.ts
  lib/jdl/core/models/jdl-object-merger.spec.ts
  lib/jdl/core/models/jdl-object.spec.ts
  lib/jdl/core/parsing/api.ts
  lib/jdl/core/parsing/dsl-api.spec.ts
  lib/jdl/core/parsing/grammar.spec.ts
  lib/jdl/core/parsing/jdl-ast-builder-visitor.ts
  lib/jdl/core/parsing/lexer/lexer.spec.ts
  lib/jdl/core/parsing/validator.spec.ts
  lib/jdl/core/parsing/validator.ts
  lib/jdl/core/readers/jdl-reader.ts
  lib/jdl/core/runtime.ts
  lib/jdl/core/types/parsed.d.ts
  lib/jdl/core/utils/array-utils.spec.ts
  lib/jdl/jdl-importer.ts
  lib/jhipster/default-application-options.ts
  lib/jhipster/deployment-options.ts
  lib/jhipster/field-types.spec.ts
  lib/jhipster/field-types.ts
  lib/jhipster/index.ts
  lib/jhipster/reserved-keywords.ts
  lib/testing/helpers.ts
  lib/utils/string_utils.spec.ts
  tsconfig.any.json
Labels: theme: java, theme: cli

#30046 Install lint-staged if it's not installed already
  .nvmrc
  generators/common/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/husky/__snapshots__/generator.spec.ts.snap
  generators/javascript/generators/husky/templates/.husky/pre-commit.ejs
Labels: theme: java, theme: front

#30113 fix implicit any in dev blueprints.
  .blueprint/code-workspace/generator.mts
  .blueprint/from-issue/generator.mts
  .blueprint/generate-generator/generator.mts
  .blueprint/generate-sample/generator.mts
  .blueprint/generate-sample/support/copy-entity-samples.ts
  .blueprint/generate-sample/support/copy-jdl-entity-samples.ts
  .blueprint/generate-sample/support/get-workflow-samples.ts
  .blueprint/github-build-matrix/command.ts
  .blueprint/github-build-matrix/generator.ts
  .blueprint/github-build-matrix/samples/dev-server.ts
  .blueprint/github-build-matrix/samples/docker-compose-integration.ts
  .blueprint/github-build-matrix/samples/graalvm.ts
  .blueprint/github-build-matrix/support/git-changes.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/cypress/generator.spec.ts
  generators/docker/generator.spec.ts
  generators/generator-constants.js
  generators/heroku/generator.ts
  generators/index.ts
  generators/info/support/extract-info.ts
  lib/testing/github-matrix.ts
  lib/testing/support/matrix-utils.ts
  lib/testing/workflow-samples.d.ts
  test-integration/integration-test-constants.js
  test-integration/scripts/99-write-matrix.js
  tsconfig.any.json
Labels: theme: Heroku, theme: docker :whale:, theme: jhipster-internals

#30114 improve base-entity-changes types
  generators/base-core/priorities.ts
  generators/base-entity-changes/generator.ts
  generators/base-entity-changes/types.d.ts
  generators/liquibase/changelog-files.ts
  generators/liquibase/generator.ts
  generators/liquibase/types.d.ts
  generators/server/support/relationship.ts
Labels: theme: java

#30118 Revert "build(deps): bump org.apache.maven.plugins:maven-surefire-plugin from 3.5.2 to 3.5.3 in /generators/server/resources"
  generators/server/resources/pom.xml
Labels: theme: maven, theme: java

#30160 fix many implicit any in generators and cli
  .blueprint/update-generators/generator.ts
  cli/jhipster-command.mjs
  cli/program.mts
  generators/base-application/types.d.ts
  generators/base-simple-application/tasks.d.ts
  generators/base-workspaces/prompts.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-base/utils.ts
  generators/bootstrap-application/generator.ts
  generators/client/support/entity-definition.ts
  generators/client/support/template-utils.ts
  generators/entity/generator.ts
  generators/entity/prompts.ts
  generators/generate-blueprint/generator.ts
  generators/heroku/generator.ts
  generators/java/generators/bootstrap/generator.ts
  generators/languages/entity-files.ts
  generators/languages/generator.ts
  generators/languages/prompts.ts
  generators/languages/translation-data.ts
  generators/liquibase/generator.ts
  generators/liquibase/types.d.ts
  generators/react/generator.ts
  generators/spring-boot/prompts.ts
  generators/types.d.ts
  generators/upgrade/generator.ts
  generators/vue/generator.ts
  generators/workspaces/generator.ts
  lib/parse-gitignore.d.ts
  lib/utils/object.ts
  package-lock.json
  package.json
  tsconfig.any.json
Labels: theme: Heroku, theme: upgrade, theme: react, theme: jhipster-internals, theme: java, theme: front, theme: i18n, theme: cli, theme: dependencies, theme: vue

#30173 adjust fontawesome dependabot groups
  .github/dependabot.yml
Labels: theme: CI builds

#30175 split gradle-jib version from maven-jib
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/gradle/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/gradle/generators/jib/generator.ts
  generators/java/generators/jib/__snapshots__/generator.spec.ts.snap
  generators/server/resources/gradle/libs.versions.toml
Labels: theme: gradle, theme: jhipster-internals, theme: java

#30189 Drop cucumberTests property.
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-core/api.d.ts
  generators/base-core/generator-core.spec.ts
  generators/base-core/generator.ts
  generators/bootstrap-application/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/cucumber/generator.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/types.d.ts
  generators/spring-boot/templates/gradle/profile_dev.gradle.ejs
  generators/spring-boot/templates/gradle/profile_prod.gradle.ejs
  generators/spring-boot/templates/pom.xml.ejs
  generators/spring-boot/templates/src/test/resources/junit-platform.properties.ejs
  lib/testing/helpers.ts
Labels: theme: gradle, theme: jhipster-internals, theme: maven, theme: java

#30141 fix: Fix bug in the ribbon when in the "-Pprod" production environmen…
  generators/angular/templates/src/main/webapp/app/layouts/profiles/page-ribbon.component.ts.ejs
Labels: theme: angular

#30200 drop gatlingTests property
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/bootstrap-application/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/common/templates/sonar-project.properties.ejs
  generators/gatling/generator.ts
  generators/java/types.d.ts
Labels: theme: jhipster-internals, theme: java, theme: front

#30203 drop cypressTests property
  generators/angular/templates/package.json.ejs
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-simple-application/types.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/client/templates/README.md.jhi.client.ejs
  generators/cypress/generator.ts
  generators/cypress/templates/README.md.jhi.cypress.ejs
  generators/cypress/types.d.ts
  generators/java/generators/bootstrap/generator.ts
  generators/react/templates/package.json.ejs
  generators/spring-boot/templates/README.md.jhi.spring-boot.ejs
  generators/spring-boot/templates/pom.xml.ejs
  generators/vue/templates/package.json.ejs
Labels: theme: angular, theme: react, theme: jhipster-internals, theme: maven, theme: java, theme: front, theme: vue

#30205 modularize sonar-project.properties
  generators/angular/__snapshots__/generator.spec.ts.snap
  generators/angular/generator.ts
  generators/common/__snapshots__/generator.spec.ts.snap
  generators/common/templates/sonar-project.properties.ejs
  generators/gradle/generators/code-quality/generator.ts
  generators/java/generators/domain/generator.ts
  generators/java/generators/server/__snapshots__/generator.spec.ts.snap
  generators/java/generators/server/generator.ts
  generators/maven/generators/code-quality/__snapshots__/generator.spec.ts.snap
  generators/maven/generators/code-quality/generator.ts
  generators/react/__snapshots__/generator.spec.ts.snap
  generators/react/generator.ts
  generators/spring-boot/generator.ts
  generators/spring-cache/__snapshots__/generator.spec.ts.snap
  generators/spring-cache/generator.ts
  generators/vue/__snapshots__/generator.spec.ts.snap
  generators/vue/generator.ts
Labels: theme: gradle, theme: angular, theme: react, theme: maven, theme: java, theme: front, theme: vue

#30212 Rework dependency on bootstrap generators
  generators/app/__snapshots__/generator.spec.ts.snap
  generators/base-application/support/index.ts
  generators/base-application/support/prepare-field.spec.ts
  generators/base-application/support/prepare-field.ts
  generators/base-workspaces/internal/docker-dependencies.ts
  generators/base-workspaces/types.d.ts
  generators/bootstrap-application-base/generator.ts
  generators/bootstrap-application-server/generator.ts
  generators/bootstrap-application/generator.ts
  generators/ci-cd/__snapshots__/generator.spec.ts.snap
  generators/client/generator.ts
  generators/client/generators/common/generator.ts
  generators/client/templates/README.md.jhi.client.ejs
  generators/client/templates/src/main/webapp/index.html.ejs
  generators/common/generator.ts
  generators/common/types.d.ts
  generators/docker/generator.ts
  generators/docker/templates/docker/mariadb.yml.ejs
  generators/docker/templates/docker/mysql.yml.ejs
  generators/docker/templates/docker/postgresql.yml.ejs
  generators/gatling/__snapshots__/generator.spec.ts.snap
  generators/gatling/generator.ts
  generators/gradle/__snapshots__/generator.spec.ts.snap
  generators/gradle/generator.ts
  generators/gradle/generators/code-quality/generator.ts
  generators/gradle/generators/jib/generator.ts
  generators/gradle/generators/node-gradle/generator.ts
  generators/java/generators/bootstrap/generator.ts
  generators/java/generators/code-quality/__snapshots__/generator.spec.ts.snap
  generators/java/generators/code-quality/generator.ts
  generators/java/generators/jib/generator.ts
  generators/java/types.d.ts
  generators/liquibase/generator.ts
  generators/maven/generators/code-quality/__snapshots__/generator.spec.ts.snap
  generators/maven/generators/code-quality/generator.ts
  generators/maven/generators/frontend-plugin/generator.ts
  generators/maven/generators/jib/generator.ts
  generators/server/generator.ts
  generators/spring-boot/templates/README.md.jhi.spring-boot.ejs
  generators/spring-boot/templates/gradle/war.gradle.ejs
  generators/spring-boot/templates/src/main/resources/config/application.yml.ejs
  generators/spring-boot/templates/src/test/resources/config/application.yml.ejs
  generators/spring-cloud-stream/generators/kafka/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud-stream/generators/kafka/generator.ts
  generators/spring-cloud-stream/generators/pulsar/__snapshots__/generator.spec.ts.snap
  generators/spring-cloud-stream/generators/pulsar/generator.ts
  generators/spring-cloud/generators/gateway/generator.ts
  generators/spring-cloud/types.d.ts
  generators/spring-data-couchbase/generator.ts
  generators/spring-data-elasticsearch/generator.ts
  generators/spring-data-mongodb/generator.ts
  generators/spring-data-neo4j/generator.ts
  lib/command/lookup-commands-configs.ts
Labels: theme: gradle, theme: docker :whale:, theme: jhipster-internals, theme: maven, theme: java, theme: front

#29697 internal: add some lib folders to tests
  lib/command/generator-command.spec.ts
  lib/command/lookup-commands-configs.spec.ts
  lib/jdl-config/jhipster-jdl-config.spec.ts
  lib/jhipster/default-application-options.spec.ts
  lib/jhipster/deployment-options.spec.ts
  lib/jhipster/field-types.spec.ts
  lib/testing/__snapshots__/helpers.spec.ts.snap
  package.json
Labels: theme: dependencies

#30202 fix: remove unnecessary eslint-disable complexity comment which blocking the homepage
  generators/react/templates/src/main/webapp/app/config/notification-middleware.ts.ejs
Labels: theme: react

#30232 rework as*TaskGroup utilities
  generators/base-application/generator.ts
  generators/base-core/generator.ts
  generators/base-core/types.d.ts
  generators/base-simple-application/generator.ts
  generators/base-workspaces/generator.ts
  generators/base/generator.ts
Labels: theme: jhipster-internals
